& when (@media-common = true) {
  .blog-posts-post {
    padding: 15px 0 0;

    img {
      display: inline-block;
      vertical-align: top;
      margin: 0 0 20px;
    }

    p {
      margin: 0 0 21px;

      > img {
        margin: 0;
      }
    }
  }

  .blog-col {
    margin: 0 auto;
    max-width: 930px;
  }

  .blog-post {
    &-header {
      text-align: center;
    }

    &-info {
      margin: 0 0 8px;

      &-item {
        display: inline-block;
        vertical-align: top;
        color: @color-light-grey;
        margin: 0 0 5px;

        &:not(:first-child) {
          &:before {
            content: '|';
            margin: 0 3px 0 0;
          }
        }

        a {
          color: @color-light-grey;
          text-decoration: none;

            &:hover {
            text-decoration: underline;
          }
        }

        .date {
          text-transform: uppercase;
        }

      }

      &-socials {
        margin: 0 0 32px;

        > span {
          position: relative;
          width: 20px;
          height: 20px;
          margin: 0 2px 0 3px;
        }
        .stButton {
          position: static;

          > span {
            background: none;

            &:after {
              position: absolute;
              left: 0;
              top: 0;
              font-family: @custom-icons__font-name;
              color: @color-black;
              display: block;
              width: 20px;
              height: 20px;
              line-height: 18px;
              border: 1px solid @color-black;
              border-radius: 50%;
              font-size: 12px;
            }
          }

          .facebook {
            &:after {
              content: @icon-facebook__custom;
            }
          }

          .googleplus {
            &:after {
              content: @icon-google-plus__custom;
            }
          }

          .twitter {
            &:after {
              content: @icon-twitter__custom;
            }
          }

          .pinterest {
            &:after {
              content: @icon-pinterest__custom;
            }
          }

          .linkedin {
            &:after {
              content: @icon-linkedin__custom;
            }
          }
        }
      }
    }

    &-title {
      margin: 0 0 9px;
    }
  }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
  .aw-blog-post-view.page-layout-2columns-left {
    .column.main {
      float: none;
      width: 100%;
    }
  }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
  .blog-posts-post {
    padding-top: 46px;
  }
  .blog-post {
    &-title {
      .lib-font-size(18);
      margin: 0 auto 5px;
      max-width: 480px;
      line-height: 24px;
    }

    &-info-socials {
      margin: 0 0 43px;
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
  .blog-two-col {
    display: flex;

    > * {
      width:  calc(~'100% / 2 - 8px');

      &:nth-child(even) {
        margin-left: 8px;
      }

      &:nth-child(odd) {
        margin-right: 8px;
      }
    }
  }

  .blog-post {
    &-title {
      letter-spacing: 0.6px;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
  .blog-posts-post {
    padding-top: 25px;
  }

  .blog-post {
    &-title {
      margin: 0 auto 5px;
      max-width: 480px;
    }

    &-info-socials {
      margin: 0 0 43px;
    }
  }
}

