<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>
<?php
/**
 * Customer login form template
 *
 * @see \Magento\Customer\Block\Form\Login
 * @var $block \Magento\Customer\Block\Form\Login
 */
?>
<?php $formKey =  $block->getBlockHtml('formkey'); ?>
<div class="block block-customer-login">
    <div class="block-customer-login-inner">
        <div class="block-content" aria-labelledby="block-customer-login-heading">
            <form class="form form-login"
                  action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>"
                  method="post"
                  id="login-form"
                  data-mage-init='{"validation":{}}'>
                <?php echo $formKey; ?>
                <div class="block-title">
                    <?php /* @escapeNotVerified */ echo __('<strong>LH</strong> Rewards') ?>
                </div>
                <h2 class="exsiting-customer-welcome" style="display: none;"><?php /* @escapeNotVerified */ echo __("Welcome back!") ?></h2>
                <fieldset class="fieldset login" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                    <div class="note login-page-note"><?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('login-text-block')->toHtml();?></div>
                    <div class="display-message" ></div>
                    <div class="field email required">
                        <div class="control">
                            <input name="login[username]" value="<?php echo $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text username" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" data-validate="{required:true, 'validate-email':true}">
                            <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email Address') ?></span></label>
                        </div>
                    </div>
                    <div class="field password required password-hidden" style="display: none;">
                        <div class="control">
                            <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?php /* @escapeNotVerified */ echo __('Password') ?>" data-validate="{required:true}">
                            <label for="pass" class="label"><span><?php /* @escapeNotVerified */ echo __('Password') ?></span></label>
                        </div>
                    </div>
  <!--                --><?php //echo $block->getChildHtml('form_additional_info'); ?>
                    <div class="actions-toolbar">
                        <div class="primary"><button type="submit" class="action login primary login-submit" name="send" id="send2"><span>Continue</span></button></div>
                        <div class="secondary">
                            <a class="action forget-password" href="<?php /* @escapeNotVerified */ echo $block->getForgotPasswordUrl() ?>" style="display: none;"><span><?php /* @escapeNotVerified */ echo __('Forgot Your Password?') ?></span></a>
                            <a class="action remind find-more" href="<?php echo $block->getUrl('rewards'); ?>"><span><?php /* @escapeNotVerified */ echo __('Find out more.') ?></span></a>
                        </div>
                    </div>
                </fieldset>
            </form>
            <form class="form form-signup"
                  action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>"
                  method="post"
                  id="form-signup"
                  data-mage-init='{"validation":{}}'
                  style="display: none">
                <?php echo $formKey; ?>
                <p><?php /* @escapeNotVerified */ echo __('Welcome to Linen House') ?></p>
                <h2><?php /* @escapeNotVerified */ echo __("Looks like you're new!") ?></h2>
                <div class="display-message" ></div>
                <fieldset class="fieldset login" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                    <div class="note"><?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('login-text-block')->toHtml();?></div>
                    <div class="field firstname required">
                        <div class="control">
                            <input name="firstname" value="" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> id="firstname" type="text" class="input-text" title="<?php /* @escapeNotVerified */ echo __('First Name') ?>" data-validate="{required:true}">
                            <label class="label" for="firstname"><span><?php /* @escapeNotVerified */ echo __('First Name') ?></span></label>
                        </div>
                    </div>
                    <div class="field lastname required">
                        <div class="control">
                            <input name="lastname" value="" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> id="lastname" type="text" class="input-text" title="<?php /* @escapeNotVerified */ echo __('Last Name') ?>" data-validate="{required:true}">
                            <label class="label" for="lastname"><span><?php /* @escapeNotVerified */ echo __('Last Name') ?></span></label>
                        </div>
                    </div>
                    <div class="field email-address required">
                        <div class="control has-data">
                            <input name="email" value="<?php echo $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> id="email-address" type="email" class="input-text emailaddress" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" data-validate="{required:true, 'validate-email':true}">
                            <label class="label" for="email-address"><span><?php /* @escapeNotVerified */ echo __('Email Address') ?></span></label>
                        </div>
                    </div>
                    <div class="field password required">
                        <div class="control">
                            <input name="password" type="password" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> class="input-text" id="signup-password" title="<?php /* @escapeNotVerified */ echo __('Password') ?>" data-validate="{required:true}">
                            <label for="signup-password" class="label"><span><?php /* @escapeNotVerified */ echo __('Password') ?></span></label>
                        </div>
                    </div>
                    <div class="field  terms-hidden">
                        <input checked type="checkbox" class="checkbox" name="is_subscribed" id="term_and_cond"/>
                        <label for="term_and_cond"><?php /* @escapeNotVerified */ echo __('I would love to receive updates from Linen House! By signing up, I accept your <a href="/terms-conditions">terms & privacy policy</a>') ?></label>
                    </div>
                    <!--                --><?php //echo $block->getChildHtml('form_additional_info'); ?>
                    <div class="actions-toolbar">
                        <div class="primary"><button type="submit" class="action login primary signup-submit" name="send" id="send3"><span>Create An Account</span></button></div>
                        <div class="secondary">
                            <p>Already shopped with us?</p>
                            <a class="action tyanother" href="#"><span><?php /* @escapeNotVerified */ echo __('Try another email.') ?></span></a>
                        </div>
                    </div>
                </fieldset>
            </form>
    </div>
    </div>
</div>
<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('user_promo')->toHtml();?>
<div class="select-birthday" style="display: none;">
    <h2><?php echo __('Let us spoil you on your birthday');?></h2>
    <div class="display-message" ></div>
    <form name="customer-dob-form" id="customer-dob-form" class="customer-dob-form">
        <?php echo $formKey; ?>
        <div class="date-wrapper">
            <div class="field">
                <label><?php echo __('Day')?></label>
                <select name="date" id="dob-date-selector">
                    <?php $numberOfDates = date('t', mktime(0, 0, 0, date('m', time()), 1, date('Y', time()))); ?>
                    <?php  $date =1; while ($date <= $numberOfDates) { ?>
                        <option value="<?php echo $date;?>"><?php echo $date;?></option>
                        <?php $date++;} ?>
                </select>
            </div>
            <div class="field">
                <label><?php echo __('Month')?></label>
                <select name="month" class="date-input-validate"  id="dob-month-selector">
                    <?php $currentMonth = date('m', time()); $numberOfMonths = 12; ?>
                    <?php $month = 1; while ($month <= $numberOfMonths) { ?>
                    <option <?php if($month == $currentMonth) echo "selected"; ?> value="<?php echo $month;?>"><?php echo $month;?></option>
                    <?php $month++;} ?>
                </select>
            </div>
            <div class="field">
                <label><?php echo __('Year')?></label>
                <select name="year"  class="date-input-validate">
                    <?php foreach (range(date('Y'), 1920) as $year) { ?>
                        <option value="<?php echo $year;?>"><?php echo $year;?></option>
                    <?php } ?>
                </select>
            </div>
        </div>
        <div class="actions-toolbar">
            <div class="primary"><button type="button" class="action primary update-dob"><span>Continue</span></button></div>
            <div class="secondary">
                <a class="action remind" href="<?php echo $block->getUrl('customer/account/index');?>"><span><?php /* @escapeNotVerified */ echo __('Take me straight to my account.') ?></span></a>
            </div>
        </div>
    </form>
</div>
<script type="text/x-magento-init">
        {
            "*": {
                "Balance_AjaxLogin/js/ajaxlogin": {
                    "ValidateUrl": "<?php echo $block->getUrl('ajaxlogin/customer/validate');?>",
                    "PostUrl": "<?php echo $block->getUrl('ajaxlogin/customer/post');?>",
                    "UpdateDobUrl": "<?php echo $block->getUrl('ajaxlogin/customer/dob');?>",
                    "SignUpUrl": "<?php echo $block->getUrl('ajaxlogin/customer/signup');?>",
                    "DateValidateUrl": "<?php echo $block->getUrl('ajaxlogin/customer/date');?>"
                }
            }
        }
</script>