<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_order = $block->getOrder() ?>
<div class="page-title-wrapper">
    <h1 class="page-title">
        <span class="base" data-ui-id="page-title-wrapper">
            <?php echo __('My Orders / '); ?>
            <span class="order-number">
                <?php echo __('# %1', $_order->getRealOrderId()); ?>
            </span>
        </span>
    </h1>
</div>

