//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .cms-home {
    &.page-layout-1column {
      section[class^='section'],
      section[class*=' section'] {
        &.section-new_season {
          &.collection {
            margin-bottom: 0;
          }
        }
        &.section-categories {
          &.section-grid-categories,
          &.section-style {
            margin-bottom: 3rem;
          }
        }
        &.section-seo-block {
          margin-bottom: 0.4rem;
        }
      }
      .blog-recent-posts {
        margin-bottom: 1rem;
      }
    }

    .sections {
      &.banner {
        margin-bottom: 7.5rem;
        .flickity-page-dots {
          bottom: -3.3rem;
          .dot{
            background: @color-light-grey5;
            &.is-selected {
              background:@color-dark-grey4;
            }
          }
        }
        .balance-box-group-container {
          width: 100%;
          max-width: 100%;
          .slider-wrapper {
            max-width: 70rem;
            margin: 10rem auto 0;

            .title {
              &-before,
              &-after,
              &-main {
                display: block;
                text-transform: uppercase;
              }
              &-before {
                font-weight: @font-weight__regular;
                font-size: 1.9rem;
                color: @color-white;
                letter-spacing: @letter-spacing-xl;
                padding-bottom: 2.8rem;
                text-shadow: 0.1rem 0.1rem 0.2rem @color-dark-grey3;
              }
              &-main {
                font-weight: @font-weight__regular;
                font-size: 5.5rem;
                color: @color-white;
                letter-spacing: @letter-spacing-xxl;
                padding-bottom: 3.2rem;
                text-shadow: 0.1rem 0.1rem 0.2rem @color-dark-grey3;
              }
              &-after {
                color: @color-dark-brown2;
                font-weight: @font-weight__bold;
                font-size: 2.4rem;
                letter-spacing: @letter-spacing-xl;
                padding-bottom: 1rem;
              }
            }
            .actions-toolbar {
              max-width: 100%;
              margin: 1.5rem auto;
              display: inline-block;
              .primary {
                .lib-button-primary-brown;
                background: transparent;
                height: auto;
                line-height: normal;
                letter-spacing: @title-letter-spacing;
                font-size: 1.3rem;
                font-weight: @font-weight__semibold;
                margin: -0.5rem auto 0;
                padding: .8rem 1.8rem;
              }
            }
          }
        }
      }
    }

    .promo-container {
      color: @color-grey;
    }
    .section-categories {
      &.section-top {
        .balance-box {
          align-self: flex-start;
        }
      }
    }
  }
  .collection {
    .container();
  }
  section {
    .balance-box {
      img{
        align-self: flex-start;
      }
    }

    &.section-collection-block {
      .product-item {
        .price-box {
          .price {
            color: @color-grey;
          }
        }
      }

      .products-grid {
        .product-item-details {
          padding: 17px 0 0;
        }
      }
    }

    .balance-box-container {
      .balance {
        &-box-heading {
          font-size: 2.2rem;
          line-height: 2.4rem;
          letter-spacing: @letter-spacing-xl;
          font-weight: @font-weight__regular;
          color: @color-grey;
          margin-bottom: 0;
        }
        &-box-content {
          font-size: 1.4rem;
          line-height: 2.4rem;
          letter-spacing: @default-letter-spacing;
          color: @color-grey;
          > p {
            margin: 1.2rem auto 0;
          }
        }
        &-box-button {
          .lib-button-primary-brown;
          color: @color-gray40;
          border-color: @color-gray40;
          background: transparent;
          height: auto;
          line-height: normal;
          font-size: 1.3rem;
          letter-spacing: @title-letter-spacing;
          font-weight: @font-weight__semibold;
          max-width: 100%;
          padding: .8rem 1.8rem;
          margin-top: 2rem;
          width: auto;
          border-color: @color-grey;
          color: @color-grey;

          &:hover {
            background-color: @color-grey;
            border-color: @color-grey;
          }
        }
      }
    }

    &.section-instagram-block {
      .fs-desktop {
        .fs-timeline {
          .fs-entry-container {
            width: 100%/7;
            margin-right: 0;
            margin-top: 0;
            padding-top: 0;
            &:nth-child(7) {
              .fs-timeline-entry {
                margin-right: 0
              }
            }
            .fs-timeline-entry {
              margin-right: 0.5rem;

            }
          }
        }
      }
      .fs-has-links {display:none;}
      .fs-wrapper div.fs-text-container * {
        color: @color-grey;
      }
      .fs-wrapper div.fs-text-container {
        background-color:rgba(231, 231, 231, 0.8) !important;
        margin: 0
      }
      div.fs-entry-date{
        display:block
      }

      div.fs-entry-title{
        display:block
      }
    }
  }

  .section {
    &-categories {
      .balance-box {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-wrap(wrap);
        width: 49.8%;
        margin-bottom: 4.5rem;
        float: left;
        &-content {
          text-align: center;
          padding: 0 12%;
          .title {
            text-align: center;
            font-size: 2.2rem;
            line-height: 2.4rem;
            letter-spacing: @letter-spacing-xl;
            font-weight: @font-weight__regular;
            padding: 2rem 0 0;
            color: @color-grey;
            margin-bottom: 0;
          }
        }
        .actions-toolbar {

          max-width: 100%;
          margin: 2rem auto 1.5rem;
          display: inline-block;
          .primary {
            .lib-button-primary-brown;
            height: 3rem;
            line-height: 3rem;
            letter-spacing: @title-letter-spacing;
            font-size: 1.3rem;
            font-weight: @font-weight__semibold;
            color: @color-grey;
            border-color: @color-grey;

            &:hover {
              color: @color-grey;
              border-color: @color-grey;
            }
          }
        }
      }
      .balance-box-container {
        .lib-layout-column(1, 2, 100%);
      }
    }
    &-collection-block,
    &-bestsellers-block {
      .full-width();
      .gradient(linear; @color-light-grey4; @color-white; 65%);
    }
    &-new_season {
      .balance {
        &-box-container {
          margin-top: -10rem;
        }
      }
    }
    &-promo-shop-block {
      &.account-custom-block-after {
        margin-top: 0;
        margin-bottom: 10rem;
      }
    }
    &-grid-categories {
      padding-top: 4.5rem;
      clear: both;
      .balance-box {
        width: (100%/3)-0.1%;
      }
    }
    &-style {
      .balance-box-wrapper {
        padding: 0;
        margin: 0;
      }
      .title {
        .lib-typography(
          @_font-size: 22px,
          @_color: @color-grey,
          @_font-weight: @font-weight__regular
        );
        letter-spacing: 0.5rem;
        text-align: center;
        position: relative;
        width: 100%;
        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          width: 35%;
          height: 0.2rem;
          border-bottom: 1px solid @color-border;
        }
        &:before {
          left: 0;
        }
        &:after {
          right: 0;
        }
      }
      .balance-box {
        width: (100%/5)-0.1%;
        margin-top: 2.5rem;
        &-container {
          .balance-box-heading {
            text-align: center;
            font-size: 1.4rem;
            letter-spacing: @default-letter-spacing;
            color: @color-grey;
            margin-bottom: 0.2rem;
          }
        }
        img {
          width: 280px;
          -o-object-fit: cover;
          object-fit: cover;

        }
        .note {
          text-decoration: none;
          color: @color-grey;
        }
      }
    }
    &-promo-shipping,
    &-seo-block,
    &-instagram-block{
      background: @color-light-grey4;
      .full-width();

    }
    &-instagram-block{
      background: @color-white;
    }
    &-promo-shipping-wrapper {
      .container();
      padding: 3rem;
      font-size: 1.6rem;
      text-align: center;
      text-transform: uppercase;
      color: @color-grey-red;
      letter-spacing: @letter-spacing-l;
      font-weight: @font-weight__semibold;
      p {
        margin-bottom: 0;
      }
    }
  }

  .blog-recent-posts {

    .recent-posts {
      li {
        &.recent-post-item {
          width: 50%;
          margin: 0;
          > .post-thumbnail {
            max-height: 38rem;
            padding-bottom: 0;
            > a {
              display: block;
              position: relative;
            }
            img {
              position: relative;
              width: 100%;
              max-height: 38rem;
              -o-object-fit: cover;
              object-fit: cover;
            }
          }
          > .post-info {
            position: relative;
            background: @color-white;
            color: @color-grey;
            .post-title {
              max-width: 75%;
              margin: 0 auto;
              a {
                font-size: 2.2rem;
                letter-spacing: @letter-spacing-l;
                font-weight: @font-weight__regular;
                line-height: 3.2rem;
              }
            }
          }
          .post-short-content {
            max-width: 43rem;
            padding: 0 1.5rem;
            margin: 0 auto 1.5rem;
            font-size: 1.5rem;
            color: @color-grey;
            line-height: 2.4rem;

          }
          .action-toolbar {
            .primary {
              height: 3rem;
              line-height: 3rem;
              max-width: 9.5rem;
              font-size: 1.3rem;
              font-weight: @font-weight__semibold;
              border-color: @color-grey-red;
              color: @color-grey-red;
              letter-spacing: @title-letter-spacing;
              &:hover,
              &:active,
              &:focus {
                color: @color-white;
                background: @color-grey-red;
              }
            }
          }
        }
      }
    }
  }

  .seo-wrapper {
    .container();
    padding-top: 5.3rem;
    padding-bottom: 5.5rem;
    color: @color-grey;

    .title {
      text-align: center;
      font-size: 2.2rem;
      letter-spacing: @letter-spacing-l;
      font-weight: @font-weight__regular;
      margin-top: 3.5rem;
    }

    .note {
      max-width: 66rem;
      margin: 0 auto;
      text-align: center;
      letter-spacing: @default-letter-spacing;
    }

    .bold {
      font-weight: @font-weight__bold;
      text-transform: uppercase;
      letter-spacing: @title-letter-spacing;
      display: block;
      margin-top: 1rem;
    }
  }

  .instagram-mobile {
    display: none;
    margin: 0 auto;
    text-align: center;
    max-width: 550px;
    .fs-service-icon {
      color: @color-grey;
      padding-top: 0;
    }
    .title {
      text-align: center;
      font-size: 2.2rem;
      line-height: 2.4rem;
      letter-spacing: @letter-spacing-xl;
      font-weight: @font-weight__regular;
      padding: .5rem 0;
      color: @color-grey;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

//
//  Tablet
//  _____________________________________________

.media-width (@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
  section {
    &.section {
      &-categories {
        .balance-box {
          &-image {
            max-height: 42.2vh;
          }

          &-content {
            .title {
              padding-bottom: 9px;
            }
          }
        }
      }
    }
  }

  div.balance-box-container {
    .balance-box-heading {
      margin-bottom: 1.2rem;
    }

    .balance-box-button {
      margin-top: 15px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .fs-mobile {
    .fs-timeline {
      div.fs-entry-container {
        .fs-timeline-entry {
          margin-top: 0;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){
  .cms-home {
    .page-main {
      padding: 0;
      margin: 0;
      max-width: 100%;
      .section {
        &-categories,
        &-promo-shop-block{
          .container();
          .lib-vendor-prefix-flex-wrap(wrap);
          &.account-custom-block-after {
            float: none;
          }
        }
        &-style {
          .balance-box-wrapper {
            padding: 0;
            margin: 0;
            .balance-box-container {
              img {
                width: 100%;
              }
            }
          }
        }

      }
    }
  }

  section {
    &.section-instagram-block {
      .fs-desktop {
        .fs-timeline {
          .fs-entry-container {
            .fs-timeline-entry {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls){
  .catalog-product-view {
    &.page-layout-1column {
      .section-instagram-block {
        margin-bottom: 12px;
        margin-top: 53px;
      }
    }
  }
  .cms-home {
    &.page-layout-1column {
      section[class^='section'],
      section[class*=' section'] {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .page-footer {
      border: 0;
    }
  }

  section {
    &.section-collection-block {
      .products-grid {
        .product-item-name {
          min-height: auto;
        }

        .product-item {
          .price-box {
            margin-top: 1px;
          }
        }
      }
    }
  }

  .section-collection-block,
  .section-bestsellers-block {
    padding-bottom: 50px;
  }

  .page-layout-1column {
    section[class^='section'],
    section[class*=' section'] {
      &.section-collection-block {
        margin-bottom: 51px;
      }
    }
  }

}

//
// Large desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
  .cms-home {
    div.sections  {
      &.banner {
        margin-bottom: 1.5rem;
        .flickity-page-dots {
          display: none;
        }
      }
    }
    &.page-layout-1column {
      section {
        &.section {
          &-categories {
            display: flex;
            margin-bottom: 0;
            .lib-vendor-prefix-flex-wrap(wrap);
            .balance-box {
              margin-bottom: 1.5rem;
            }
            &.section-style {
              margin-bottom: 0;
              .title {
                margin-top: 0;
                &:before,
                &:after {
                  display: block;
                  width: 20%;
                }
              }
            }
            &.blog-recent-posts {
              .recent-posts-title {
                margin-bottom: 0;
              }
              .recent-posts {
                float: left;
                margin-top: 0;
              }
            }
          }
          &-collection-block,
          &-bestsellers-block {
            .collection {
              display: block;
            }
            .balance-box-container {
              margin-top: 0;
              margin-bottom: 1rem;
            }
            .balance-box {
              margin: 0;
              width: 100%;
            }
            .block.widget {
              width: 100%;
            }
          }
          &-promo-shop-block {
            .lib-vendor-prefix-flex-wrap(wrap);
            .title {
              &:before,
              &:after {
                display: block;
                width: 20%;
              }
            }
            .promo-block {
              width: 50%;
            }
          }
          &-grid-categories {
            padding-top: 0;
            .balance-box {
              width: 100%;
              display: block;
              img {
                max-width: 45%;
                float: left;
              }
              .balance-box-container {
                width: 55%;
                padding-top: 0;
                float: right;

                .balance-box-content,
                .title {
                  text-align: left;
                }
                .actions-toolbar {
                  margin-left: 0;
                }
              }
            }
          }
          &-promo-shipping {
            margin-bottom: 1.5rem;
          }
          &-style {
            display: block;
            padding: 0 5px;
            div.balance-box-wrapper {
              display: block;
              .balance-box {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  section {
    &.section-instagram-block {
      .fs-desktop  {
        .fs-timeline {
          display: block;
          div.fs-entry-container{
            width: 100%/3;
            .fs-timeline-entry {
              margin-right: 1.5rem;
              display: block;
              margin-bottom: 0;
              margin-top: 0;
            }
            &:nth-child(3) {
              .fs-timeline-entry {
                margin-right: 0;
              }
            }
            &:nth-child(6) {
              .fs-timeline-entry {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls){
  .cms-home {
    &.page-layout-1column {
      &.cms-index-index{
        section[class^='section'], section[class*=' section']{
          &.section-seo-block {
            margin-bottom: 5rem;
          }
        }
      }
    }
  }

  section {
    &.section-instagram-block {
      .fs-desktop {
        div.fs-timeline {
          div.fs-entry-container {
            padding-top: 30%;
            margin-bottom: 1.5rem;
            &:nth-child(7) {
              display: none;
            }

            .fs-timeline-entry {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .section-seo-block {
    .seo-wrapper {
      padding: 0 1.5rem 3rem;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

  .cms-home {
    &.page-layout-1column {
      section {
        &.section-collection-block {
          .balance-box-heading {
            margin-top: 1rem;
          }
        }
        &.section-style {
          padding: 0;
          .slick-prev {
            left: -1.5rem;
          }
          .slick-next {
            right: -1.5rem;
          }
        }

        .collection {
          width: 100%;
          padding: 0;
          .balance-box{
            .lib-vendor-prefix-flex-grow(1);
            .lib-vendor-prefix-flex-shrink(0);
            .lib-vendor-prefix-flex-basis(100%);
            width: 100%;
            margin-bottom: 20px;
            order: 1;
            text-align: center;
          }
          .balance-box-heading {
            padding: 0 5rem;
            margin: 1rem 0 0;
          }
          .balance-box-button {
            margin-top: 2rem;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
          }
        }
        .blog-recent-posts {
          margin-bottom: 3rem;
          margin-top: 2rem;
          .recent-posts {
            margin-bottom: 0;
            li {
              &.recent-post-item {
                width: 100% !important;
                .post-info {
                  padding-top: 2rem;
                }
                margin-bottom: 4rem;
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }



        &.section {
          &-categories {
            .balance-box {
              width: 100%;
              margin-bottom: 1.5rem;
            }
          }
          &-style {
            .title {
              &:before,
              &:after {
                display: none;
              }
            }
          }
          //Slick Slider
          &-collection-block,
          &-bestsellers-block {
            .balance-box-content {
              display: none;
            }
            .balance-box-container {}
            .balance-box {}
            .block.widget {
              .products-grid .product-item {
                padding: 0 5px;

              }
            }
          }

          &-promo-shop-block {
            .title {
              &:before,
              &:after {
                display: none;
              }
            }
            div.promo-block {
              width: 100%;
            }
          }

          &-grid-categories {
            div.balance-box {
              width: 100%;
              .lib-vendor-prefix-display(flex);
              img {
                max-width: 100%;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
              }
              .balance-box-container {
                width: 100%;
                padding-top: 0;

                .balance-box-content,
                .title {
                  text-align: center;
                }
                .actions-toolbar {
                  margin: 1.5rem auto;
                }
              }
            }
          }

          &-promo-shipping {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }

  section {
    &.section-instagram-block {
      .fs-timeline {
        .fs-entry-container:nth-child(7){
          display: none;
        }
      }
    }
  }
}



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .cms-home {
    &.page-layout-1column {
      section {
        &.section {

          &-categories {
            margin: 0 !important;
            .balance-box-content {
              padding: 0;
              .title {
                margin-top: .5rem;
              }
            }
              img {
                width: 100%;
                height: 20rem;
                -o-object-fit: cover;
                object-fit: cover;
            }
            &.section-style {
              h2.title {
                margin-top: 2.5rem;
                margin-bottom: 0;
                &:before,
                &:after {
                  display: none;
                }
              }
            }
          }
          &-style {
            clear: both;
            .balance-box {
              img {
                width: 100%;
                height: auto;
              }
            }

            .slick-prev,
            .slick-next {
              top: 40%;
              -webkit-transform: translate(0, -40%);
              -ms-transform: translate(0, -40%);
              transform: translate(0, -40%);
            }
          }

          //Slick Slider
          &-collection-block,
          &-bestsellers-block {
            .block.widget {
              display: block;
              .products-grid .product-item {
                padding: 0 15px;

              }
            }
            .collection {
              margin-bottom: 0;
            }
            .balance-box-container {
              padding: 0 0 1.5rem;
              margin-bottom: 0;
            }
          }

          &-promo-shop-block {
            &.account-custom-block-after {
              margin-bottom: 3rem;
              h2 {
                margin-bottom: 0;
                margin-top: 5rem;
                &:before,
                &:after {
                  display: none;
                }
              }
            }
          }

          &-promo-shipping {}
        }
      }
      .instagram-mobile {
        display: block;
      }
      .sections {
        &.banner {
          height: 48rem;
          margin-bottom: 0;
          .flickity-page-dots {
            display: none;
          }
          img {
            height: 48rem;
            -o-object-fit: cover;
            object-fit: cover;
          }
          div.balance-box-group-container {
            .slider-wrapper {
              margin-top: 2rem;

              .title {
                margin-top: 5rem;
                margin-bottom: 0;
                &-before {
                  font-size: 1.5rem;
                  padding-bottom: 1rem;
                  letter-spacing: @letter-spacing-l;
                  font-weight: @font-weight__semibold;
                }
                &-main {
                  font-size: 3.6rem;
                  padding-bottom: 1rem;
                  line-height: 3.8rem;
                  letter-spacing: @title-letter-spacing;
                  font-weight: @font-weight__regular;
                }
                &-after {
                  font-size: 1.8rem;
                  padding-bottom: 0;
                  letter-spacing: @letter-spacing-xl;
                  text-shadow: 0.1rem 0.1rem 0.2rem @color-dark-grey3;
                  font-weight: @font-weight__semibold;
                }
              }
              div.actions-toolbar {
                max-width: 12rem;
                margin: 3rem auto;
                .primary {
                  .lib-button-primary-white;
                  background: transparent;
                  height: auto;
                  line-height: normal;
                  padding:.8rem 1.8rem;
                  letter-spacing: @title-letter-spacing;
                  font-size: 1.2rem;
                  font-weight: @font-weight__bold;
                }
              }
            }
          }
        }
      }
    }
  }
  .fs-mobile {
    .fs-timeline {
      div.fs-entry-container {
        margin-bottom: 0;

        .fs-timeline-entry {
          margin-top: 7px;
        }
      }
    }
  }
}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
  .section-instagram-block {
    .fs-mobile {
      .fs-timeline {
        div.fs-entry-container {
          .fs-timeline-entry {
            margin-top: 0;
          }

         &:nth-child(7){
            display: none;
          }
        }
      }
    }
  }
}

