//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .cms-noroute-index {
        .page-main {
            max-width: none;
            padding: 0;
        }

        .page-title-wrapper {
            padding: 23px 15px 18px;
            border: 0;
            text-align: center;
            letter-spacing: 2.6px;
        }

        .category-block-holder-container {
            padding-top: 60px;
        }
    }

    .page404 {
        text-align: center;
        position: relative;
        min-height: 310px;
        padding: 26% 0 0;
        overflow: hidden;

        > img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            max-width: none;
            height: 100%;
        }

        &-holder {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 49px 15px 0;
            letter-spacing: 1px;
            z-index: 1;
        }

        &-title {
            .lib-font-size(32);
            line-height: 1;
            font-weight: @font-weight__regular;
            text-transform: uppercase;
            margin: 0 0 15px;
        }

        p {
            margin: 0 0 27px;
        }

        &-button {
            display: inline-block;
            width: 140px;
            height: 38px;
            line-height: 36px;
            border: 1px solid @color-grey-red;
            color: @color-grey-red;
            .lib-font-size(12);
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}