//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .cms-reward-points {
        .breadcrumbs {
            display: none;
        }
    }

    .reward-points {
        text-align: center;
        letter-spacing: 1px;
        margin: 0 0 50px;

        h1 {
            text-transform: none;
            color: @color-grey-red;
            margin: 0 0 16px;
            letter-spacing: 2.9px;
        }

        &-img {
            margin: 0 0 15px;
            background: @color-white;
        }

        &-content {
             h1 {
                display: none;
            }
        }

        &-block {
            border-top: 1px solid @color-border;
            margin: 21px 0 0;
            padding: 29px 0 0;
        }

        h2 {
            color: @color-grey-red;
            margin: 0 0 12px;
            letter-spacing: 0;
        }

        &-cols {
            h3 {
                .lib-font-size(16);
                color: @color-dark-grey1;
                margin: 0 0 6px;
                font-weight: @font-weight__regular;
            }
        }

        &-col {
            border-bottom: 1px solid @color-border;
            padding: 20px 0 0;
            margin: 0 70px;
            line-height: 20px;

            &:last-child {
                border: none;
            }
        }

        &-btn {
            padding: 37px 0 36px;

            a {
                display: inline-block;
                width: 248px;
                text-transform: uppercase;
                color: @color-white;
                background: @color-grey;
                padding: 7px 15px;
                font-weight: @font-weight__semibold;
                text-decoration: none;
                letter-spacing: 1.7px;
            }
        }

        &-frame {
            line-height: 20px;
        }
    }

    .cms-contact-us {
        .page-title-wrapper {
            border-bottom: 1px solid @color-border;
            padding-bottom: 20px;
        }
    }

    .cms-menu {
        font-weight: @font-weight__regular;

        .parent {
            > ul {
                a,
                strong {
                    font-weight: @font-weight__regular;
                    color: @color-dark-grey1;
                }

                strong {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            > a {
                color: @color-grey-red;
                font-weight: @font-weight__bold;
            }
        }
    }

    .contact-block {
        &-icon {
            i {
                font-size: 0;

                &:before {
                    .lib-font-size(18);
                }
            }
        }
    }

    .contact-columns {
        .actions-toolbar {
            > .primary {
                .action {
                    background: @color-grey;
                    color: @color-white;
                    min-width: 142px;
                    height: 38px;
                    line-height: 36px;

                    &:hover {
                        background: @color-white;
                        color: @color-grey;
                    }
                }
            }
        }
    }

    .contact-block {
        padding: 7px 0 0;
        margin: 0 0 20px;

        img {
            margin: 0 0 19px;
            width: 100%;
        }

        &-holder {
            .lib-vendor-prefix-display(flex);
            margin: 0 0 24px;
        }

        &-icon {
            width: 31px;
            padding: 0 0 0 3px;
        }

        address {
            padding: 12px 0 0;
        }
    }

    .cms-page-view {
        .instagram-container {
            margin-bottom: 0;
            .fs-desktop {
                .fs-timeline {
                    border-top: 1px solid @color-border;
                }
            }
        }
    }

}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s){
    .cms-page-view.page-layout-2columns-left.cms-contact-us {
        .page-title-wrapper {
            padding-bottom: 20px;
            margin: 0 0 35px;
        }
    }

    .contact-columns {
        .fieldset {
            margin: 0 0 35px;

            > .field {
                margin: 0 0 15px;
            }
        }

        .form {
            margin: 0 0 40px;
        }
    }
}

//
//  Tablet
//  _____________________________________________
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .cms-page-view.page-layout-2columns-left {
        .page-title-wrapper {
            .page-title {
                .lib-font-size(36);
            }
        }

        &.cms-contact-us {
            .page-title-wrapper {
                padding: 0 0 25px;
                margin: 0 0 25px;
            }
        }
    }
}

//
//  Deskrop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s){
    div.reward-points {
        .lib-clearfix();

        > h1 {
            display: none;
        }

        &-img {
            width: 50%;
            padding: 0 4% 0 0;
            float: left;
        }

        &-content {
            padding: 2.5% 0 0;

            h1 {
                display: block;
            }
        }

        &-cols {
            .lib-vendor-prefix-display(flex);
            padding: 17px 0 0;
            margin: 0 -20px;
        }

        &-col {
            border-right: 1px solid @color-border;
            border-bottom: 0;
            margin: 0;
            padding: 17px 15px 0;
            width: 100%/3;
        }

        &-frame {
            h2 {
                margin: 0 0 19px;
            }

            p {
                margin: 0 0 20px;
            }
        }

        &-block {
            > .reward-points-container {
                margin-bottom: 20px;
            }
        }
    }

    .contact-columns {
        .fieldset {
            margin: 0 0 32px;

            > .field {
                margin: 0 0 18px;

                > .label {
                    display: inline-block;
                    vertical-align: top;
                    .lib-font-size(14);
                    color: @color-dark-grey1;
                    width: 30%;
                    margin: 0 -4px 0 0;
                    padding: 7px 10px 0 0;
                }

                .control {
                    display: inline-block;
                    width: 70%;
                }
            }
        }

        .actions-toolbar {
            padding: 0 0 0 30%;
            margin: 0;
        }

        textarea {
            height: 140px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls){
    .cms-reward-points {
        .category-block-holder-container {
            padding-top: 38px;
        }
    }

    div.reward-points {
        .lib-vendor-prefix-display(flex);

        &-img {
            float: none;
            padding: 0 4% 0 0;
        }

        &-content {
            width: 50%;
            padding-right: 13.4%;
            padding-left: 4.7%;
        }

        &-container {
            max-width: 390px;
            margin: 0 auto;
        }

        &-block {
            > .reward-points-container {
                margin: 0 auto;
            }
        }
    }

    .cms-page-view.page-layout-2columns-left.cms-contact-us {
        .page-title-wrapper {
            padding-bottom: 42px;
            margin: 0 0 9px;
        }
    }

    .contact-columns {
        .lib-vendor-prefix-display(flex);

        .contact-left-col {
            width: 68.3%;
            padding: 0 29px 0 0;
        }

        .contact-right-col {
            width: 31.7%;
            padding: 0 0 0 29px;
            border-left: 1px solid @color-border;
        }

        .form {
            padding-top: 12px;
        }
    }

    .cms-page-view {
        &.cms-contact-us {
            .columns {
                .column.main {
                    width: 74.5%;
                }
            }
        }

        .instagram-container {
            margin-bottom: 0;
            .title {
                margin-bottom: 1rem;
                margin-top: 2rem;
            }
            .fs-wrapper div.fs-text-container * {
                color: @color-grey;
            }
            .fs-desktop {
                .fs-timeline{
                    .fs-entry-container {
                        padding-top: 0;
                        &:nth-child(4) {
                            .fs-timeline-entry {
                                margin-top:0;
                            }
                        }
                        .fs-timeline-entry {
                            margin-top: 0;


                            .fs-text-container {
                                background-color: rgba(231,231,231,0.8);
                                margin: 0;
                                .fs-service-icon {
                                    color: @color-grey;
                                    font-weight: @font-weight__semibold;
                                }
                                .fs-entry-date {
                                    display: block;
                                    color: @color-grey;
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .link-more {
            text-transform: capitalize;
        }
        .short-content{
            p {
                margin: 0;
            }
        }
    }

    .cms-shop-instagram {
        .account-custom-block-after {
            margin-top: 2rem;
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .cms-page-view {
        .instagram-container {
            .fs-timeline {
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                margin: 0 -.5rem;

                .fs-entry-container {
                    padding: 0 0.5rem;
                    margin-right: 0;

                }
            }
        }
    }

}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){


}
