& when (@media-common = true) {
  .aw-blog-index-index {
    .page-title-wrapper {
      text-align: center;
      padding: 0;
      margin: 20px 0 0;
      .page-title {
        margin: 0 0 10px;
      }
    }
    .blog-content{
      max-width: 700px;
      margin: 0 auto;
      padding: 0 20px;
      text-align: center;
    }
  }
  #aw-ajax-block-wrapper{
    margin-top: 30px;
  }
  .aw-ajax-top-content{
    text-align: center;
    max-width:680px;
    margin: 0;
  }
  #aw-ajax-block-tabs-wrapper{
    text-align: center;
    ul{
      margin: 0;
      li{
        text-transform: uppercase;
        .lib-font-size(13);
        line-height: 24px;
        letter-spacing: 0.3px;
        font-weight: bold;
        font-weight: @font-weight__bold;
        padding: 0 9px;
        a{
          text-decoration: none;
        }
      }
    }
  }
  #aw-ajax-container{
    margin-top: 20px;
    padding-top: 30px;
    border-top:1px solid @color-border;
  }
  .aw-block-holder {
    text-align: center;
    margin: 0 auto;
    max-width: 740px;
    
    .opener {
      .less {
        display: none;
      }
    }
    &-content {
      display: none;
    }

    &.open {
      .opener {
        .more {
          display: none;
        }

        .less {
          display: inline;
        }
      }

      .aw-block-holder-content {
        display: block;
      }
    }
  }
  .resent-posts-wrapper,
  .blog-recent-posts,
  .recent-posts{
    width: 100%;
  }
  .blog-recent-posts {
    .recent-posts {
      .slick-list,
      .slick-track{
      }
    }
  }
  .recent-posts-title{
    .lib-font-size(22);
    font-weight: @font-weight__bold;
    line-height: 29px;
    letter-spacing: 0.3px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  .recent-post-item{
    position: relative;
    img{
      width: 100%;
    }
    .post-info{
      width: 100%;
      .lib-font-size(13);
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,0.5);
      color: @color-white;
      a{
        text-decoration: none;
        color: inherit;
        letter-spacing: 0.2px;
        line-height: 18px;
      }
      .post-title{
        font-size: inherit;
        text-transform: uppercase;
        margin-bottom: 7px;
        font-weight: @font-weight__bold;
      }
      ul{
        display: inline-block;
        width: 100%;
        li{
          display: inline-block;
          color: inherit;
          font-size: inherit;
          position: relative;
          padding: 0 7px;
          font-weight: @font-weight__light;
          a{
            font-weight: 300;
          }
          span{
            font-weight: 300;
          }
          &:first-child{
            &:after{
              width: 1px;
              height: 13px;
              background: @color-white;
              position: absolute;
              right: -1px;
              display: block;
              content: '';
              top: 3px;
            }
          }
        }
      }
    }
  }

  .aw-blog-posts {
    > ul {
      margin: 0 -5px;
      font-size: 0;

      > li {
        display: inline-block;
        width: ~'calc( (100%) / 2 - 10px )';
        vertical-align: top;
        margin: 0 5px 19px;
        .lib-font-size(13);
        line-height: 16px;
      }
    }
  }

  .post-thumbnail {
    img {
      vertical-align: top;
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .blog-recent-posts{
    margin-bottom: 50px;
    .recent-posts{
      width: 100%;
      margin-bottom: 10px;
      .recent-post-item{
        .lib-layout-column(12, 1, 6);
        .lib-column-gutter(12);
        &:nth-of-type(2n + 2){
          margin-right: 0;
        }
        .post-info{
          padding: 10px 15px 0;
        }
        &.slick-slide{
          margin: 0 5px;
          &:nth-of-type(2n + 2){
            margin: 0 5px;
          }
        }
      }
    }
  }
  .recent-post-item{
    position: relative;
    .post-thumbnail{
      position: relative;
      padding-bottom: 133.5%;
      > a, > img{
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        top:0;
        left: 0;
      }
    }
  }
}
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
  .aw-blog-index-index {
    .page-title-wrapper {
      padding: 35px 0 0;

      .page-title {
        margin: 0;
      }
    }
  }
  .catalog-product-view{
    .blog-recent-posts{
      .recent-posts{
        .recent-post-item{
          &:nth-of-type(3n + 3){
            margin-right: 0;
          }
        }
        &.slick-slider{
          .recent-post-item{
            margin: 0 8px;
            &:last-child, &:nth-of-type(3n + 3){
              margin: 0 8px;
            }
          }
        }
      }
    }
  }
  .blog-recent-posts{
    .recent-posts{
      margin-bottom: 50px;
      width: 100%;
      .recent-post-item{
        .lib-layout-column(12, 1, 4);
        .lib-column-gutter(12);
        .post-info{
          padding: 23px 15px 0;
          min-height: 100px;
        }
      }
      &.slick-slider{
        .recent-post-item{
          margin: 0 8px;
          &:last-child, &:nth-of-type(3n + 3){
            margin: 0 8px;
          }
        }
      }
    }
  }
  .cms-index-index{
    .blog-recent-posts{
      .recent-posts{
        .recent-post-item{
          &:nth-of-type(1n + 4){
            display: none;
          }
          &:nth-of-type(3n + 3){
            margin-right: 0;
          }
        }
      }
    }
  }
  .aw-blog-posts {
    > ul {
      margin: 0 -8px;

      > li {
        width: ~'calc( (100%) / 3 - 16px )';
        margin: 0 8px 14px;
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
  .aw-blog-index-index {
    .page-title-wrapper {
      padding: 0;
      border-bottom: 0;
      .page-title{
        .lib-font-size(18);
        line-height: 29px;
      }
    }
    .sub-categorys{
      margin-bottom: 0;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: @color-border;
      display: none;
      padding-bottom: 0;
      &.active{
        display: block;
      }
      .sub-category{
        display: block;
        margin: 0;
        border-bottom: 1px solid #e0e0e0;
        a{
          padding-top: 2px;
          line-height: 40px;
          display: list-item;
          list-style: none;
        }
        &:last-of-type{
          border-bottom: 0;
        }
      }
    }
  }

  .recent-post-item{
    .post-info {
      min-height: 93px;
      padding: 25px 10px 23px;
      margin: 0;
      a{
        .lib-font-size(13);
        font-weight: normal;
        letter-spacing: 0.5px;
      }
      ul{
        display: none;
      }
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
  .recent-post-item{
    position: relative;
    .post-thumbnail{
      position: relative;
      padding-bottom: 133.5%;
      > a, > img{
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        top:0;
        left: 0;
      }
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
  .aw-blog-index-index {
    .page-title-wrapper {
      padding: 0;
      border-bottom: 0;
      .page-title{
        padding: 0;
      }
    }
  }
  .blog-recent-posts{
    .recent-posts{
      margin-bottom: 50px;
      width: 100%;
      .recent-post-item{
        .lib-layout-column(12, 1, 3);
        .lib-column-gutter(12);
        &:last-child, &:nth-of-type(4n + 4){
          margin-right: 0;
        }
      }
      &.slick-slider{
        .recent-post-item{
          margin: 0 15px;
          &:last-child, &:nth-of-type(4n + 4){
            margin: 0 15px;
          }
        }
      }
    }
  }
  #aw-ajax-block-tabs-wrapper{
    ul{
      li{
        display: inline-block;
      }
    }
  }
  .aw-blog-posts {
    > ul {
      margin: 0 -15px;

      > li {
        width: ~'calc( (100%) / 4 - 30px )';
        margin: 0 15px 30px;
      }
    }
  }

  .recent-post-item {
    .post-info {
      min-height: 120px;
      padding: 35px 10px 25px;
      .post-title {
        min-height: 36px;
        padding: 0;
        margin: 0 0 5px;
      }
    }
  }
}