// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Email extend styles
//  _____________________________________________
//  This file should be used for theme-specific styles for emails that extend or modify the styles in _email.less
//  This will allow you to edit email styles without copying and editing the _email.less file
//  Importing fonts from an external CSS file, rather than embedding @font-face declarations inside the <style> tag,
//  as the latter will cause font rendering issues if the web fonts are inaccessible.
@import url("@{baseUrl}css/email-fonts.css");

.header {
    background: @color-black;
    padding: 90px 0 50px;
    text-align: center;
    img,
    a {
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
    }
}
.logo {
    display: block;
    text-align: center;
}

table {
    color: inherit;
}
dl, dt, dd{
    padding: 0 !important;
    color: #999999;
}

.email-information {
    padding: 0 0 @email-content__padding__l;
    > td {
        padding-bottom: 5px;
    }
}

table.invoice{
    font-weight: 700;
    td{
        padding-left: 0;
    }
}

.form-email-content {
    padding: @email-content__padding__m @email-content__padding__l;
}

.email-intro {
    padding: @email-content__padding__l @email-content__padding__l @email-content__padding__m;
    .email-intro-message {
        text-align: left;
        width: 58%;
        padding: 0 @email-content__padding__m @email-content__padding__m 0;
        border: @border-width__base solid @color-gray94;
        border-width: 0 1px 1px 0;
        h2 {
            .lib-font-size(@h3__font-size);
            font-weight: @heading__font-weight__base;
            margin: 0 0 @email-content__padding__m;
            letter-spacing: .05em;
            line-height: 1.5;
            text-transform: none;
        }
    }
    .email-intro-info {
        text-align: right;
        width: 42%;
        padding: 0 0 @email-content__padding__m @email-content__padding__m;
        border: @border-width__base solid @color-gray94;
        border-width: 0 0 1px;
        a {
            color: #000;
            text-decoration: underline;
        }
    }
}

.intro-order-info {
    border-width: 1px 1px 1px 0;
    border-color: #ccc;
    border-style: @email-border;
    border-left: 0;
    border-right: 0;
    line-height: 22px;
    color: @email-text;

    .left-order, .right-order {
        border: 1px solid @email-border;
        padding: 20px;
        vertical-align: middle;
    }

    .left-order {
        border-left: none;
        border-right: none;
        padding-left: 0;
        width: 55%;

        h3,
        h2{
            font-weight: 600;
            line-height: 30px;
            font-size: 25px;
            margin-top: 5px;
            margin-bottom: 50px;
            color: @color-black;
            text-transform: inherit;
            letter-spacing: -0.7px;
        }
        p{
            font-size: 14px;
        }
    }

    .right-order {
        border-right: none;
        text-align: right;
        padding-right: 0;
        width: 45%;
        td {
            display: block;
            width: 100%;
            border: 0;
            color: @color-black;
            padding: 0;
            font-size: 14px;
            &.list {
                a {
                    text-decoration: underline;
                    color: @color-black;
                }
                &:nth-child(1) {
                    margin-bottom: 18px;
                }
                &:nth-child(2) {
                    margin-bottom: 0;
                }
                &:nth-child(3) {
                    margin-bottom: 18px;
                    font-weight: 600;
                }
                &:nth-child(4) {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.email-summary {
    color:@email-text;
    line-height: 22px;
    padding: 0 0 @email-content__padding__m;
    p, span, h1, h2, h3, h4{
        text-align: left;
    }
    p {
        font-size: 13px;
        a {
            text-decoration: underline;
            color: @email-text;
        }
        &:nth-child(1) {
            margin: 24px 0 0;
        }
        &:nth-child(2) {
            margin: 24px 0 0;
        }
    }
    h3 {
        color: @email-header;
    }
    > span{
        font-size: 14px;
    }
    .order-number{
        margin-top: 55px;
        letter-spacing: 0.2px;
        text-transform: uppercase;
    }
}

.email-items {
    margin: 0 0 20px;
    thead{
        th {
            color: @email__header-color;
            .lib-font-size(13px);
            text-transform: capitalize;
            font-weight: normal;
            padding: 0 5px 4px;
            border-bottom: 1px solid @color-form-border;

            &.item-info {
                padding-left: 0;
                width: 60%;
            }

            &.item-price {
                text-align: center;
            }

            &.item-qty {
                width: 62px;
            }

            &.item-subtotal {
                padding-right: 0;
                text-align: right;
                width: 58px;
            }
        }
    }
    tbody{
        td {
            padding: 17px 5px 15px;
            border: none;
            border-bottom: 1px solid #ccc;
            &.item-info {
                font-size: 13px;
                line-height: 15px;
                padding-left: 0;

                .product-name {
                    .lib-font-size(13px);
                    font-weight: normal;
                    margin: 0 0 4px;
                    text-transform: uppercase;
                }
            }

            &.item-price {
                text-align: center;
                padding-right: 0;
                font-weight: bold;
            }

            &.item-subtotal {
                padding-right: 0;
                text-align: right;
                font-weight: bold;
            }

            .product-image,
            .product-info {
                display: inline-block;
                vertical-align: top;
            }

            .product-info {
                padding-left: 15px;
            }
        }
    }
    .order-totals {
        tr {
            td{
                text-align: right;
                font-weight: normal;
                border-top: 1px solid #d1d1d1 !important;
            }
            th {
                padding: 10px 30px 10px 30px !important;
                text-align: right;
                border-top: 1px solid #d1d1d1 !important;
            }

            td {
                padding: 10px 0 10px 10px !important;
                font-weight: bold;
                span{
                    font-weight: bold;
                }
            }
        }
        .subtotal,
        .shipping,
        .discount {
            th {
                font-weight: normal !important;
            }
        }
        .subtotal,
        .shipping,
        .totals-tax{
            th,
            td {
                font-size: 13px;
            }
        }
        .subtotal {
            th,
            td {
                border-top: none !important;
            }
        }
        .grand_total,
        .grand_total_incl{
            th,
            td {
                font-weight: bold;
                font-size: 22px;
            }
        }
    }
}


table.order-details {
    tr {
        .address-details,
        .method-info {
            padding-bottom: 35px;
        }
        caption{
            text-align: left;
        }
    }
}

dl.item-options{
    dt,
    dd{
        display: inline-block;
        padding: 0;
    }
}

.main-content {
    text-align: left;
    padding: 0 70px;
}

table.email-attributes{
    background: #f0f0f0;
    width: 100%;
    margin-bottom: 35px;
    th{
        padding: 10px 10px 5px;
    }
    td{
        padding: 10px;
    }
}
.address-details,
.method-info {
    strong {
        padding-bottom: 10px;
        display: table-cell;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 0.2px;
    }
}

.footer {
    padding: 35px 0 0 ;
    table {
        width: 100%;
        td {
            padding: 0;
            p {
                margin-bottom: 0;
            }
        }
    }
}

.footer-top {
    .socials {
        width: 100%;
        background: #000;
        text-align: center;
        h3 {
            color: @color-white;
            font-size: @h3__font-size;
            font-weight: @font-weight__light;
        }
    }
}

.footer-middle {
    td {
        padding: 25px 60px;
        color: @color-black;
        font-size: 12px;
    }
}

.footer-bottom {
    td {
        border-top: @border-width__base solid @color-gray94;
        padding: 26px 85px;
        p {
            margin-bottom: 10px;
            color: @color-black;
            font-size: 12px;
            line-height: 18px;
        }
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none !important;
            }
        }
    }
}

.footer-holder {
    table {
        width: 100%;
        text-align: center;
        color: #fff;
    }
    .title {
        font-size: 22px;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        padding-top: 20px;
        padding-bottom: 15px;
    }
}

.footer-container {
    td {
        padding: 20px 70px 0;
        color: #000;
        p {
            font-size: 12px;
            line-height: 22px;
            a {
                text-decoration: underline;
                color: #000;
            }
            &:nth-child(2) {
                margin-bottom: 0;
            }
        }
    }
}

.footer-frame-table{
    width: 80%;
    margin: 0 auto;
}

.footer-frame {
    color: #000;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    .left {
        float: left;
        padding: 20px 0 35px
    }
    .right {
        padding: 20px 0 35px
    }
}

.socials {
    background: #000;
    td.list {
        padding: 43px 0 13px;
    }
    p {
        margin: 0 6px 25px;
        display: inline-block;
    }
}



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .email-intro-message,
    .email-intro-info {
        display: block !important;
        width: 100% !important;
        text-align: center !important;
        padding: @email-content__padding__base !important;
    }

    .email-intro-message {
        border-right-width: 0 !important;
    }

    .logo {
        img {
            max-width: 100% !important;
        }
    }

    .email-intro,
    .email-information,
    .form-email-content {
        padding: @email-content__padding__base !important;
    }
}

.email-non-inline() {
    .button {
        .inner-wrapper {
            -webkit-border-radius: 3px !important;
            -moz-border-radius: 3px !important;
            border-radius: 3px !important;
            a {
                background-color: @button-primary__background !important;
                border: @button-primary__border !important;
                color: @button-primary__color !important;
                letter-spacing: .05em !important;
                padding: 10px 20px !important;
                text-transform: uppercase !important;
            }
            a:active,
            a:hover,
            a:visited {
                background-color: @button-primary__hover__background !important;
                border: @button-primary__hover__border !important;
                color: @button-primary__hover__color !important;
            }
        }
    }
}