& when (@media-common = true) { }

.simple-icon(){
  font-family: @font__simple-line !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: @color-white;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};

.container(
  @_layout__max-width:@layout__max-width,
  @_layout-indent__width: @layout-indent__width
){
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: @_layout__max-width;
  padding-left: @_layout-indent__width;
  padding-right: @_layout-indent__width;
  width: auto;
  .lib-clearfix();
}

.placeholder(@rules) {

  &::-webkit-input-placeholder {
    @rules();
  }
  &:-moz-placeholder {
    @rules();
  }
  &::-moz-placeholder {
    @rules();
  }
  &:-ms-input-placeholder {
    @rules();
  }
}


//
//  Effects
//  _____________________________________________

.transition (
  @_property: all,
  @_duration: .1s,
  @_timing-function: linear
) {
  transition: @_property @_duration @_timing-function;
}

.scale (
  @_size: .9
) {
  transform: scale(@_size);
}

// Triangle Mixin
.triangle(@_, @width, @height, @color){
  width: 0px;
  height: 0px;
  border-color: transparent;
  border-style: solid; }
.triangle(top, @width, @height, @color){
  border-width: 0 @width/2 @height @width/2;
  border-bottom-color: @color;
  border-left-color: fade(@color, 0);
  border-right-color: fade(@color, 0);
}
.triangle(bottom, @width, @height, @color){
  border-width: @height @width/2 0 @width/2;
  border-top-color: @color;
  border-left-color: fade(@color, 0);
  border-right-color: fade(@color, 0);
}
.triangle(right, @width, @height, @color){
  border-width: @height/2 0 @height/2 @width;
  border-left-color: @color;
  border-top-color: fade(@color, 0);
  border-bottom-color: fade(@color, 0);
}
.triangle(left, @width, @height, @color){
  border-width: @height/2 @width @height/2 0;
  border-right-color: @color;
  border-top-color: fade(@color, 0);
  border-bottom-color: fade(@color, 0);
}
.triangle(top-right, @width, @height, @color){
  border-width: 0 @width @height 0;
  border-right-color: @color;
  border-bottom-color: fade(@color, 0);
}
.triangle(top-left, @width, @height, @color){
  border-width: @height @width 0 0;
  border-top-color: @color;
  border-right-color: fade(@color, 0);
}
.triangle(bottom-right, @width, @height, @color){
  border-width: 0 0 @height @width;
  border-bottom-color: @color;
  border-left-color: fade(@color, 0);
}
.triangle(bottom-left, @width, @height, @color){
  border-width: @height 0 0 @width;
  border-left-color: @color;
  border-top-color: fade(@color, 0);
}

// Select styling override

.select-styling() {
  .lib-css(appearance, none, 1);
  appearance: none;
  background: @select__background url('../images/arrow.svg') no-repeat 100% 45%;
  background-size: 30px 60px;
  border: 1px solid @border-color__base;
  height: 32px;
  padding-right: 25px;
  text-indent: .01em;
  text-overflow: '';

  &::-ms-expand {
    display: none;
  }

  .lt-ie10 & {
    background-image: none;
    padding-right: 4px;
  }
}

.lib-button-primary-color(
  @button-color: @color-white,
  @button-background: @color-black,
  @button-border: none,

  @button-color-hover: @color-white,
  @button-background-hover: @button-primary__hover__background,
  @button-border-hover: none,

  @button-color-active: @color-white,
  @button-background-active: @button-primary__active__background,
  @button-border-active: none,
  @button-padding: 8px 0,
  @buton_max__width: 120px
) {
  .lib-css(background, @button-background);
  .lib-css(border, @button-border);
  .lib-css(color, @button-color);
  .lib-css(padding, @button-padding);
  .lib-css(width, 100%);
  .lib-css(max-width, @buton_max__width);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  &:focus,
  &:active {
    .lib-css(background, @button-background-active);
    .lib-css(border, @button-border-active);
    .lib-css(color, @button-color-active);
    text-decoration: none;
  }

  &:hover {
    .lib-css(background, @button-background-hover);
    .lib-css(border, @button-border-hover);
    .lib-css(color, @button-color-hover);
    text-decoration: none;
  }
}

.lib-button-outline(
  @button-color: @color-white,
  @button-background: @color-black,
  @button-border: @color-white,

  @button-color-hover: @color-white,
  @button-background-hover: @color-light-grey,
  @button-border-hover: none,

  @button-color-active: @color-white,
  @button-background-active: @color-light-grey,
  @button-border-active: none,
  @button-padding: 8px 0,
  @button_border__radius: 0px,
  @buton_max__width: 120px
) {
  .lib-css(background, @button-background);
  .lib-css(border, 1px solid @button-border);
  .lib-css(color, @button-color);
  .lib-css(border-radius, @button_border__radius);
  .lib-css(padding, @button-padding);
  .lib-css(width, 100%);
  .lib-css(max-width, @buton_max__width);
  font-family: @font-family__base;
  text-align: center;
  text-transform: uppercase;

  &:focus,
  &:active {
    .lib-css(background, @button-background-active);
    .lib-css(border, @button-border-active);
    .lib-css(color, @button-color-active);
  }

  &:hover {
    .lib-css(background, @button-background-hover);
    .lib-css(border, @button-border-hover);
    .lib-css(color, @button-color-hover);
  }
}

//
//  Clearfix
//  ---------------------------------------------

@abs-add-clearfix: {
  .lib-clearfix();
};

& when (@media-common = true) {
  .abs-add-clearfix {
    @abs-add-clearfix();
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .abs-add-clearfix-desktop {
    @abs-add-clearfix();
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
  .abs-add-clearfix-desktop-s {
    @abs-add-clearfix();
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .abs-add-clearfix-mobile {
    @abs-add-clearfix();
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .abs-add-clearfix-mobile-m {
    @abs-add-clearfix();
  }
}

//
//  Box-sizing
//  ---------------------------------------------

@abs-add-box-sizing: {
  box-sizing: border-box;
};

& when (@media-common = true) {
  .abs-add-box-sizing {
    @abs-add-box-sizing();
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .abs-add-box-sizing-desktop {
    @abs-add-box-sizing();
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
  .abs-add-box-sizing-desktop-s {
    @abs-add-box-sizing();
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .abs-add-box-sizing-desktop-m {
    @abs-add-box-sizing();
  }
}

//
//  Abstract no display
//  ---------------------------------------------

@abs-no-display: {
  display: none;
};

& when (@media-common = true) {
  .abs-no-display {
    @abs-no-display();
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .abs-no-display-s {
    @abs-no-display();
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .abs-no-display-desktop {
    @abs-no-display();
  }
}

//
//  Shopping cart items
//  ---------------------------------------------

& when (@media-common = true) {
  .abs-shopping-cart-items {
    margin-bottom: @indent__base;

    .actions.main {
      .continue,
      .clear {
        display: none;
      }
    }
  }
}

//
//  Customer Account Theme Elements
//  ---------------------------------------------

.ca__block-title {
  background-color: @title__background-color;
  color: @title__color;
  display: block;
  font-weight: @font-weight__bold;
  .lib-font-size(14);
  line-height: 1.4286;
  letter-spacing: .02em;
  margin: 0 0 2rem;
  padding: 1rem 2rem 1rem;
  text-transform: uppercase;

  a {
    float: right;
    font-weight: @font-weight__regular;
    .lib-font-size(13);
    text-transform: none;
  }
}

.ca__box-title {
  display: block;
  font-weight: @font-weight__bold;
  letter-spacing: .02rem;
  .lib-font-size(13);
  line-height: 1.538461;
  margin: 0 0 2rem;
  text-transform: uppercase;
}

//
//  Blocks in 2 columns
//  ---------------------------------------------

@ca__blocks-2columns: {
  max-width: 450px;
  width: 48%;

  &:nth-child(odd) {
    clear: left;
    float: left;
  }

  &:nth-child(even) {
    float: right;
  }
};

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
  .ca__blocks-2columns {
    @ca__blocks-2columns();
  }
}