// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@legend-border-bottom: 1px solid @color-gray-light6;
@form-field__vertical-indent__desktop: 29px;
@form-calendar-icon__color: @primary__color;
@input-field-disabled__color: @title__background-color;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .fieldset {
        .lib-form-fieldset();

        &:last-child {
            margin-bottom: 0;
        }
        > .field,
        > .fields > .field,
        .field.choice {
            .lib-form-field();
            &.no-label {
                > .label {
                    .lib-visually-hidden();
                }
            }

            > input[type="checkbox"] {
                display: none;

                + label {
                    padding: 4px 0 3px 31px;
                    position: relative;
                    color: @color-black;

                    &:before {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        border: 1px solid @color-form-border;
                        width: @checkbox__size__base;
                        height: @checkbox__size__base;
                        content: '';
                        background: @color-white;
                        margin: -9px 0 0;
                    }
                }

                &:checked {
                    + label {
                        &:before {
                            font-family: @font__simple-line;
                            font-size: 12px;
                            line-height: 20px;
                            text-align: center;
                            border: 1px solid @color-cart-action;
                            background:  #ffffff;
                        }
                    }
                }

                &:disabled {
                    + label {
                        color: @input-field-disabled__color;

                        &:before {
                            background: @input-field-disabled__color;
                            content: '';
                        }

                        &:after {
                            border: 1px solid @input-field-disabled__color;
                        }
                    }
                }
            }


            &.choice {
                .label {
                    display: inline-block;
                    font-weight: normal;
                    margin: 0;
                }
            }

            .label {
                margin: 0 0 5px 0;
                .column:not(.main) & {
                    font-weight: normal;
                }
            }

            .field.choice {
                margin-bottom: @indent__s;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .legend + .fieldset,
    .legend + div {
        clear: both;
    }

    .legend {
        > span {
            margin-right: @indent__xs;
        }
    }

    fieldset.field {
        border: 0;
        padding: 0;
    }

    .field {
        &.date {
            .time-picker {
                display: inline-block;
                margin-top: @indent__s;
                white-space: nowrap;
            }
        }

        .message {
            &.warning {
                margin-top: @indent__s;
            }
        }
    }

    .select-styling() {
        .lib-css(appearance, none, 1);
        appearance: none;
        background: @select__background url('../images/select-bg.svg') no-repeat 100% 45%;
        background-size: 30px 60px;
        border: 1px solid @border-color__base;
        height: 40px;
        padding-right: 25px;
        text-indent: .01em;
        text-overflow: '';

        &::-ms-expand {
            display: none;
        }

        .lt-ie10 & {
            background-image: none;
            padding-right: 4px;
        }
    }

    select {
        .select-styling();
    }

    div.mage-error[generated] {
        margin-top: 7px;
    }

    //  TEMP

    .field .tooltip {
        .lib-tooltip(right);
        .tooltip-content {
            min-width: 200px;
            white-space: normal;
        }
    }

    input:focus ~ .tooltip .tooltip-content,
    select:focus ~ .tooltip .tooltip-content {
        display: block;
    }

    ._has-datepicker {
        ~ .ui-datepicker-trigger {
            .lib-button-reset();
            .lib-icon-font(
            @_icon-font-content: @icon-calendar,
            @_icon-font-color: @primary__color__lighter,
            @_icon-font-size: @icon-calendar__font-size,
            @_icon-font-line-height: @icon-calendar__font-size,
            @_icon-font-display: block,
            @_icon-font-text-hide: true
            );
            display: inline-block;
            margin-top: -4px;
            vertical-align: middle;

            &:focus {
                box-shadow: none;
                outline: 0;
            }
        }
    }

    .field.date,
    .field-dob {
        ._has-datepicker {
            &:extend(.abs-field-date-input all);
        }
    }

    //
    //  Sidebar forms
    //  ---------------------------------------------

    .sidebar {
        .fieldset {
            margin: 0;

            > .field:not(.choice) >,
            .fields > .field {
                &:not(:last-child) {
                    margin: 0 0 @form-field__vertical-indent;
                }

                .label {
                    margin: 0 0 4px;
                    padding: 0 0 @indent__xs;
                    text-align: left;
                    width: 100%;
                }

                .control {
                    width: 100%;
                }
            }
        }
    }


    /* -------------------------------------------- *
 * Custom Check box with icon font
 */
    //
    //  Variables
    //  ---------------------------------------------

    @checkbox__indent: 24px;
    @checkbox__size__base : 20px;
    @checkbox__selected__size : @checkbox__size__base;
    @checkbox-label__height : @checkbox__size__base;
    @checkbox__height : @checkbox__size__base;
    @checkbox__width : @checkbox__size__base;
    @checkbox__ticked__color: @primary__color;
    @checkbox__border-color: @color-border;
    @checkbox__disabled__background-color: @primary__color__light;
    @checkbox__disabled__border-color: @primary__color__light;
    @checkbox__disabled-ticked__color: @primary__color__light;
    @checkbox__disabled__color: @primary__color__light;
    @checkbox-border-radius: 3px;

    @radio__indent: 24px;
    @radio__size__base : 18px;
    @radio__selected__size : @radio__size__base;
    @radio__ticked__size : 4px;
    @radio-label__height : @radio__selected__size;
    @radio__height : @radio__size__base;
    @radio__width : @radio__size__base;
    @radio__ticked__color: @color-cart-action;
    @radio__ticked__border: @color-border;
    @radio__disabled__background-color: @color-border;
    @radio__disabled__color: @primary__color__light;
    @radio__disabled-ticked__color: @primary__color__light;
    @radio__disabled__border-color: #666;


    input[type="radio"], input[type="checkbox"] {
        /* to hide the checkbox itself */
        visibility: hidden !important;
        height: 0 !important;
        min-width: 0 !important;
        padding: 0 !important;
        /* hack issue can't set width to zero on firefox (checkbox size is fixed 13px default )  */
        width: 13px !important;
        margin: 0 -14px 0 0 !important;
        border: none !important;
        position: absolute;
        ~ label {
            max-width: 100%;
            &:before {
                .lib-css(box-sizing, border-box, 1);
            }
        }
    }

    input[type="checkbox"] + label {
        line-height: @checkbox-label__height;
        position: relative;
        padding: 0 0 0 27px;

        &:before {
            position: absolute;
            border: 1px solid @checkbox__border-color;
            width: @checkbox__width;
            height: @checkbox__height;
            text-align: center;
            color: @checkbox__ticked__color;
            vertical-align: top;
            margin: -9px 0 0 0;
            padding: 0;
            .lib-font-size(12);
            position: absolute;
            top: 50%;
            left: 0;
        }
    }

    input[type="checkbox"].validation-error + label:before,
    input[type="checkbox"].validation-failed + label:before {
        border-color: @color-cart-action;
    }
    input[type="checkbox"] + label:before {
        content: "";
    }
    /* unchecked icon */
    input[type="checkbox"] + label:before {
        letter-spacing: 10px;
    }
    /* space between checkbox and label */
    input[type="checkbox"] + label:before {
        margin-right: 10px;
    }
    /* more space between checkbox and label */

    input[type="checkbox"]:checked + label{
        &:before {
            border: 1px solid @color-cart-action;
            background:  #ffffff;
        }
        &:after {
            .simple-icon();
            color: @color-cart-action;
            content: @icon-simple__tick;
            position: absolute;
            left: 3px;
            top: 50%;
            font-size: 13px;
            margin: -5px 0 0;
        }
    }
    /* checked icon */
    input[type="checkbox"]:checked + label:before {
        letter-spacing: 0;
        line-height: 14px;
    }
    /* allow space for check mark */

    input[type="checkbox"]:disabled + label:before {
        background: @checkbox__disabled__background-color;
        color: @checkbox__disabled-ticked__color;
        border-color: @checkbox__disabled__border-color;
    }

    /* -------------------------------------------- *
     * Custom Radio box with icon font
     */

    input[type="radio"] ~ label {
        position: relative;
        padding: 2px 0 2px @radio__indent;
        line-height: 28px;
        display: inline-block;
        height: 30px;
        vertical-align: middle;
    }
    input[type="radio"] ~ label:before,
    input[type="radio"] ~ label:after {
        content: "";
        position: absolute;
    }
    /* unchecked icon */

    input[type="radio"] ~ label:before {
        border: 1px solid @color-border;
        border-radius: 50%;
        width: @radio__size__base;
        height: @radio__size__base;
        position: absolute;
        left: 0;
        font-size: 26px;
        top: 50%;
        margin-top: -(@radio__size__base/2);
    }
    input[type="radio"]:checked ~ label {
        //line-height: @radio__selected__size;
        &:before {
            width: @radio__selected__size;
            height: @radio__selected__size;
            line-height: @radio__selected__size;
            border: 1px solid @color-cart-action;
            background:  #ffffff;
        }
        &:after {
            .simple-icon();
            color: @color-cart-action;
            content: @icon-simple__tick;
            position: absolute;
            left: 4px;
            top: 50%;
            margin-top: -5px;
            font-size: 10px;
        }
    }

    input[type="radio"].validation-error ~ label:before,
    input[type="radio"].validation-failed ~ label:before {
        border-color: @color-cart-action;
    }
    input[type="radio"]:disabled ~ label:before {
        background: @checkbox__disabled__background-color;
        border-color: @checkbox__disabled__color;
    }
    input[type="radio"]:checked:disabled ~ label:after {
        border: @radio__ticked__size solid @radio__disabled__border-color;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .legend {
        .lib-css(border-bottom, @legend-border-bottom);
    }
}



