// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .message{
        text-align: center;
        border: 1px solid @color-border;
        padding: 10px;
        margin-bottom: 20px;
        > div{
            display: inline-block;
            &:before{
                margin-right: 10px;
                .simple-icon();
                border-radius: 50%;
                width: 20px;
                height: 20px;
                line-height: 12px;
                font-size: 19px;
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
    .message.info {
        color: @color-orange;
        > div{
            &:before{
                color: @color-orange;
                content: '!';
                border: 1px solid @color-orange;
            }
        }
    }

    .message.error {
        color: @color-light-red;
        > div{
            &:before{
                color: @color-light-red;
                content: @icon-simple__close;
                line-height: 19px;
                font-size: 19px;
            }
        }
    }

    .message.warning {
        color: @color-orange;
        > div{
            &:before{
                color: @color-orange;
                content: '!';
                border: 1px solid @color-orange;
            }
        }
    }

    .message.notice {
        color: @color-orange;
        > div{
            &:before{
                color: @color-orange;
                content: '!';
                border: 1px solid @color-orange;
            }
        }
    }

    .message.success {
        color: @message-success__color;
        > div{
            &:before{
                color: @message-success__color;
                content: @icon-simple__tick;
                border: 1px solid @message-success__color;
                font-size: 10px;
                padding: 4px;
            }
            a{
                color: @message-success__color;
            }
        }
    }
}
