// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@active-nav-indent: 54px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .panel.header {
        .links,
        .switcher {
            display: none;
        }
    }

    .nav-sections {
        .lib-css(background, @color-black);
    }

    .nav-toggle {
        cursor: pointer;
        display: block;
        font-size: 0;
        left: 32px;
        position: absolute;
        top: 29px;
        > span{
            position: absolute;
            color: #fff;
            width: 22px;
            display: block;
            height: 1px;
            background: #fff;
            &:nth-child(2){
                top: 5px;
            }
            &:nth-child(3){
                top: 10px;
            }
            &:last-of-type{
                display: none;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .nav-sections {
        width: 100%;
        top:72px;
    }
    .nav-sections {
        -webkit-overflow-scrolling: touch;
        .lib-css(transition, left .3s, 1);
        height: 100%;
        overflow: auto;
        position: absolute;
        background: @color-white;
        z-index: 1000;
        display: none;
    }

}
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .navigation {
        padding: 0;
    }

    .nav-sections {
        -webkit-overflow-scrolling: touch;
        .lib-css(transition, left .3s, 1);
        height: 100%;
        left: -70%;
        overflow: auto;
        position: fixed;
        top: 0;
        width: 70%;
    }

    .nav-before-open {
        overflow-x: hidden;
        width: 100%;
        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .page-wrapper {
            left: 70%;
        }

        .nav-sections {
            @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);

            .lib-css(box-shadow, @_shadow, 1);
            left: 0;
            z-index: 99;
        }

        .nav-toggle {
            &:after{
                background: rgba(0, 0, 0, @overlay__opacity);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }
    }


}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .navigation {
        padding: 0;
        a{
            border-bottom: 1px solid @color-border;
            &:last-child{
                border-bottom: 0;
            }
        }
        .parent {
            .level-top {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 42px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: 7px;
                    top: -8px;
                }

                &.ui-state-active {
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                    );
                }
            }
        }
    }

    .nav-sections {
        height: 100%;
        background: @color-white;

        .switcher {
            border-top: 1px solid @color-gray82;
            font-size: 1.6rem;
            font-weight: @font-weight__bold;
            margin: 0;
            padding: .8rem 3.5rem .8rem 2rem;

            .label {
                display: block;
                margin-bottom: @indent__xs;
            }

            &:last-child {
                border-bottom: 1px solid @color-gray82;
            }
        }

        .switcher-trigger {
            strong {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 42px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: -40px;
                    top: -16px;
                }
            }

            &.active strong {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-up,
                @_icon-font-position: after
                );
            }
        }

        .switcher-dropdown {
            .lib-list-reset-styles();
            padding: @indent__s 0;
        }

        .header.links, .mobile-account {
            .lib-list-reset-styles();
            li {
                margin: 0;
                padding: 0 10px;
                &.greet.welcome {
                  display: none;
                }

                > a {
                    border-bottom: 1px solid @color-form-border;
                    text-transform: uppercase;
                    .lib-font-size(14);
                    line-height: 42px;
                    height: 42px;
                    text-decoration: none;
                    letter-spacing: 0.25px;
                    font-weight: normal;
                }
            }

            a,
            a:hover {
                color: @color-black;
                display: block;
                padding: 0;
            }

            .header.links {
                border: 0;
            }
        }
    }

    .nav-before-open {
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        body {
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .nav-sections {
            @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
            display: block;
            .lib-css(box-shadow, @_shadow, 1);
            left: 0;
            z-index: 1000;
        }
    }

    .nav-sections-items {
        .lib-clearfix();
        position: relative;
        z-index: 1;
    }

    .nav-sections-item-title {
        background: #f7f7f7;
        border: solid @color-form-border;
        border-width: 0 0 1px 1px;
        box-sizing: border-box;
        float: left;
        padding: 0;
        height: 42px;
        line-height: 42px;
        text-align: center;
        width: 50%;
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-weight: @font-weight__bold;
        }
        &:first-child{
            border-width: 0 1px 1px 0;
        }
        &.active {
            background: @color-white;
            border: 0;
        }

        .nav-sections-item-switch {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .nav-sections-item-content {
        .lib-clearfix();
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 42px;
        width: 100%;
        &.active {
            display: block;
        }
        padding:0;
    }

    .lib-main-navigation();
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .nav-toggle {
        display: none;
    }

    .nav-sections {
        .lib-vendor-prefix-flex-shrink(0);
        .lib-vendor-prefix-flex-basis(auto);
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content {
        > .navigation {
            display: block;
        }
    }

    .lib-main-navigation-desktop();

    .panel.header {
        .links,
        .switcher {
            display: inline-block;
        }
    }
}




.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .nav-sections-item-content {
        display: block !important;
    }
}