// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .pages {
        .pages-label,
        .label {
            display: none;
        }

        .item {
            display: inline-block;
            vertical-align: top;
            margin: 2px;
            width: 32px;
            height: 42px;
            box-sizing: border-box;
            border-radius: 2px;
            text-align: center;
            color: @color-black;
            .lib-font-size(13);
            line-height: 42px;

            * {
                font-weight: 400;
            }

            &:hover,
            &.current {
                text-decoration: underline;
            }

            a {
                color: inherit;
                display: block;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .action {
            position: absolute;

            &:hover,
            &:active {
                text-decoration: underline;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
            }

            &.next {
                right: 0;
                padding-right: 25px;

                &:after {
                    border-right: 1px solid @color-black;
                    border-top: 1px solid @color-black;
                    content: '';
                    display: block;
                    height: 14px;
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform-origin: 66% 66%;
                    transform: rotate(45deg);
                    transition: all 0.15s ease-in-out;
                    width: 14px;
                    margin-top: -6px;
                }
            }

            &.previous {
                left: 0;
                padding-left: 25px;

                &:after {
                    border-left: 1px solid @color-black;
                    border-bottom: 1px solid @color-black;
                    content: '';
                    display: block;
                    height: 14px;
                    cursor: pointer;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform-origin: 66% 66%;
                    transform: rotate(45deg);
                    transition: all 0.15s ease-in-out;
                    width: 14px;
                    margin-top: -6px;
                }
            }
        }
    }
    .align-left {
        float: left;
    }
    .align-right {
        float: right;
    }
}
