// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product.data.items {
        .lib-data-accordion();
        border-bottom: @tab-control__border-width solid @tab-control__border-color;
        margin-bottom: @indent__base;
        margin-left: 0;
        margin-right: 0;

        .item.title {
            a {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-simple__plus,
                @_icon-font: @font__simple-line,
                @_icon-font-size: 18px,
                @_icon-font-line-height: 20px,
                @_icon-font-color: @color-dark-grey,
                @_icon-font-color-hover: @color-black,
                @_icon-font-color-active: @color-white,
                @_icon-font-margin: @icon-font__margin,
                @_icon-font-vertical-align: @icon-font__vertical-align,
                @_icon-font-position: after,
                @_icon-font-display: false
                );

                &:after {
                    position: absolute;
                    right: @accordion-control__padding-right;
                    top: @accordion-control__padding-top;
                }

                .counter {
                    color: @color-light-grey;
                }
            }

            &.active a {
                color: @color-white;

                &:after {
                    content: @icon-simple__minus;
                    color: @color-white;
                }

                &:visited,
                &:hover,
                .counter {
                    color: @color-white;
                }
            }
            > .switch {
                text-transform: uppercase;
            }
        }

        .item.content {
            > p:last-child {
                margin: 0;
            }
        }

        .value p {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .table-wrapper {
            margin: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m1) {
    .product.data.items {
        .lib-data-tabs();
        border-bottom: 0;
        margin-left: 0;
        margin-right: 0;

        .item.title a {
            &:after {
                display: none;
            }
        }

        > .item.title {
            width: 205px;
            max-width: 25%;

            &:not(:first-child) {
                > .switch {
                    border-left: none;
                }
            }

            > .switch {
                width: 100%;
                text-transform: uppercase;
                text-align: center;
                .counter {
                    color: @color-light-grey;
                }

                &:hover {
                    .counter {
                        color: @color-black;
                    }
                }
            }

            &.active {
                .switch {
                    .counter {
                        color: @color-white;
                    }
                }

                > .switch,
                .switch:focus,
                .switch:hover {
                    border-color: @color-black;
                }
            }

        }

        > .item.content {
            border-bottom: 1px solid @color-border;
        }
    }
}
