// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Linen theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Typography
//  ---------------------------------------------

//  Font families



//  Fonts Icons

@font-icons: @font__simple-line;

//  Fonts

@icons__blank-font-path: "@{baseDir}fonts/Blank-Theme-Icons/Blank-Theme-Icons";
@icons__blank-font-name: 'icons-blank-theme';

@icons__luma-font-path: '@{baseDir}fonts/Luma-Icons';
@icons__luma-font-name: 'luma-icons';

//
//  Icons
//  ---------------------------------------------


@icon-simple__search:      "\ea39";  // in accordance with the order of the style guide
@icon-simple__heart:       "\ee32";
@icon-simple__bag:         "\e915";
@icon-simple__arrow-down:  "\e604";
@icon-simple__truck:       "\e90f";
@icon-simple__refresh:     "\ea59";
@icon-simple__cup:         "\eb00";
@icon-simple__people:      "\edf1";
@icon-simple__chat:        "\e848";
@icon-simple__phone:       "\e83e";
@icon-simple__email:       "\e86c";
@icon-simple__arrow-right: "\e806";
@icon-simple__arrow-left:  "\e805";
@icon-simple__close:       "\e9f2";
@icon-simple__ok:          "\e9f7";
@icon-simple__plus:        "\ea52";
@icon-simple__plus-clear:  "\ea54";
@icon-simple__pen:         "\e9c1";
@icon-simple__trash:       "\ea78";
@icon-simple__tick:        "\e9fa";
@icon-simple__roundtick:   "\e9f7";
@icon-simple__minus:       "\ea3e";
@icon-simple__caret-down:  "\e804";
@icon-simple__caret-up:    "\e80b";
@icon-simple__fax:         "\e8cc";
@icon-simple__tel:         "\e8c7";
@icon-simple__location:    "\ed15";
@icon-simple__pointer:     "\ed12";
@icon-simple__watch:       "\ed24";
@icon-icomoon__instagram:   "\e936";
//  Colors
@primary__color: @color-black;
@color-dark-grey: #212121;
@color-light-grey: #999999;
@color-light-grey1: #ebebeb;
@color-light-grey2: #d4d6d8;
@color-red: #ff3b3b;
@color-pastel: #f4eae5;
@color-light-blue: #e4eaeb;
@color-green-light: #B2BB1E;
@color-green: #70bb52;
@color-orange:  #fe8011;
@color-light-red:#fe3f3e;
@color-border: #b3b2b3;
@color-form-border: #ccc;
@page__background-color: @color-white;
@copyright__background-color: @color-gray56;
@error__color: @color-red;
@color-cart-action: #43c4ac;
@title__background-color: #f0f0f0;
@title__color: @primary__color;


//
//  Layout variables
//  _____________________________________________

//  Widths
@layout__max-width: 1440px;
@layout-indent__width: 15px;


//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background


//
//  Form elements inputs default variables
//  ---------------------------------------------

@form-element-input__height: 40px;
@form-element-input__border-color: @color-form-border;
@form-element-input__border-radius: 0px;
@form-element-input__padding: 0 13px;
@form-element-input__color: @color-black;
@form-element-input__focus__border: 1px solid @color-black;

//  Placeholder
@form-element-input-placeholder__color: @color-light-grey;

//  Form field label
@form-field-label__font-size: 13px;
@form-field-label__font-family: @font-family__base;
@form-field-label__font-weight: @font-weight__regular;
@form-field-label__line-height: 20px;
@form-field-label__color: @color-light-grey;
@form-field-type-label-block__margin: 0 0 12px;

@form-validation-note__font-size: 11px;

//
//  Buttons
//  ---------------------------------------------

//  Font style
@button__font-size: @font-size__base + 1;
@button__line-height: @font-size__base + 3;
@button__padding: 11px 15px;

//  Display settings
@button__border-radius: 0;

@button__disabled__opacity: .5;

//  Default = secondary button
@button__color: @color-white;
@button__background: @color-black;
@button__border: 1px solid @button__background;

@button__hover__color: @button__color;
@button__hover__background: @color-light-grey;
@button__hover__border: 1px solid @button__hover__background;

@button__active__color: @button__color;
@button__active__background: @button__hover__background;
@button__active__border: 1px solid @button__hover__background;

//  Primary button
@button-primary__background: @button__background;
@button-primary__border: @button__border;
@button-primary__color: @button__color;

@button-primary__hover__background: @button__hover__background;
@button-primary__hover__border: @button__hover__border;
@button-primary__hover__color: @button__hover__color;

@button-primary__active__background: @button__active__background;
@button-primary__active__border: @button__active__border;
@button-primary__active__color: @button__active__color;

//
//  Breadcrumbs variables
//  _____________________________________________
@breadcrumbs-separator__symbol: '/';
@breadcrumbs-icon__use: false;
@breadcrumbs-current__color: @color-light-grey;
@breadcrumbs-link__color: @color-light-grey;
@breadcrumbs-link__visited__color: @color-light-grey;
@breadcrumbs-link__hover__color: @color-light-grey;


//
//  Messages variables
//  _____________________________________________
@message__padding: 16px @indent__base;
@message__font-size: 14px;
@message__border-width: 1px;
@message__border-color: transparent;
@message__border-style: solid;
@message__border-radius: 3px;
@message-icon__font-size: 18px;
@message-icon__font-line-height: 18px;
@message-icon__top: 10px;
@message__margin: 0 0 20px;

//  Information message
@message-info__color: @color-orange;
@message-info__background: transparent;
@message-info__border-color: @color-border;
@message-info-link__color: @color-orange;
@message-info-link__color-hover: @color-orange;
@message-info-link__color-active: @color-orange;
@message-info-icon__color-inner: @color-orange;

//  Warning message
@message-warning__color: @color-orange;
@message-warning__background: transparent;
@message-warning__border-color: @color-border;
@message-warning-link__color: @color-orange;
@message-warning-link__color-hover: @color-orange;
@message-warning-link__color-active:@color-orange;
@message-warning-icon__color-inner: @color-orange;

//  Error message
@message-error__color: @color-light-red;
@message-error__background: transparent;
@message-error__border-color: @color-border;
@message-error-link__color: @color-light-red;
@message-error-link__color-hover: @color-light-red;
@message-error-link__color-active: @color-light-red;
//@message-error-icon: @icon-jasco-error-round;
@message-error-icon__color-inner: @color-light-red;

//  Success message
@message-success__color: #35bb00;
@message-success__background: transparent;
@message-success__border-color: @color-border;
@message-success-link__color: @message-success__color;
@message-success-link__color-hover: @message-success__color;
@message-success-link__color-active: @message-success__color;
//@message-success-icon: @icon-jasco-success-round;
@message-success-icon__color-inner: @message-success__color;

//  Notice message
@message-notice__color: @color-orange;
@message-notice__background: transparent;
@message-notice__border-color: @color-border;
@message-notice-link__color:@color-orange;
@message-notice-link__color-hover: @color-orange;
@message-notice-link__color-active: @color-orange;
//@message-notice-icon: @icon-jasco-nuetral-round;
@message-notice-icon__color-inner: @color-orange;

//
//  Tabs
//  ---------------------------------------------

//  Tabs controls
@tab-control__line-height: 20px;
@tab-control__height: 45px;
@tab-control__margin-right: 0;
@tab-control__color: @color-light-grey;
@tab-control__padding-top: 12px;
@tab-control__padding-right: 10px;
@tab-control__border-color: @color-border;
//  Current tab
@tab-control__background-color: @color-white;
@tab-control__hover__background-color: @color-white;
@tab-control__hover__color: @color-black;
@tab-control__active__background-color: @color-black;
@tab-control__active__color: @color-white;
@tab-content__background-color: @color-white;
@tab-content__border-top-status: true;
@tab-content__margin-top: @tab-control__height;
@tab-content__padding-top: 45px;
@tab-content__padding-right: 0;

//
//  Accordions
//  ---------------------------------------------

@accordion-control__font-size: @tab-control__font-size;
@accordion-control__line-height: @tab-control__line-height;
@accordion-control__border-right: 0;
@accordion-control__border-bottom: 0;
@accordion-control__border-left: 0;
@accordion-control__height: 50px;
@accordion-control__margin-bottom: 0;
@accordion-control__padding-top: 15px;
@accordion-control__padding-right: @accordion-control__padding-top;
@accordion-content__background-color: @tab-content__background-color;
@accordion-content__border: 0;
@accordion-content__margin: 0;
@accordion-content__padding: 30px 15px;



//
//  Review
//  ---------------------------------------------
@review-ratings-left: 280px;

@rating-icon__content: @icon-star-o;
@rating-icon__content-active: @icon-star;
@rating-icon__font: @custom-icons__font-name;
@rating-icon__font-size: 13px;
@rating-icon__letter-spacing: 3px;
@rating-icon__color: @color-gray-light2;
@rating-icon__active__color: @color-gray-light2;

@rating-label__hide: false;