// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

.lib-font-face(
  @family-name: @font__swiss,
  @font-path: @font__swiss-roman-path,
  @font-weight: normal,
  @font-style: normal
);
.lib-font-face(
  @family-name: @font__swiss,
  @font-path: @font__swiss-bold-path,
  @font-weight: bold,
  @font-style: normal
);

.lib-font-face(
  @family-name: @font__simple-line,
  @font-path: @font__simple-line-path,
  @font-weight: normal,
  @font-style: normal
);

.lib-font-face(
  @family-name: @custom-icons__font-name,
  @font-path: @custom-icons__font-path,
  @font-weight: normal,
  @font-style: normal
);

.lib-font-face(
  @family-name: @font__didot-regular,
  @font-path: @font__didot-regular-path,
  @font-weight: normal,
  @font-style: normal
);

.lib-font-face(
  @family-name: @font__didot-bold,
  @font-path: @font__didot-bold-path,
  @font-weight: bold,
  @font-style: normal
);

.icon-star:before {
  content: @icon-star;
}
.icon-star-o:before {
  content: @icon-star-o;
}

@font-size__base: 13px;
@line-height__base: 1.538461;

//
//  Links
//  ---------------------------------------------

@link__color: @color-black;
@link__text-decoration: underline;

@link__visited__text-decoration: underline;

@link__hover__color: @link__color;
@link__hover__text-decoration: none;

@link__active__color: @link__color;
@link__active__text-decoration: none;

//
//  Headings
//  ---------------------------------------------

@h1__font-size: 22px;
@h1__font-color: @color-black;
@h1__font-weight: @font-weight__bold;
@h1__line-height: 30px;

@h2__font-size: 16px;
@h2__font-color: @color-black;
@h2__font-weight: @font-weight__bold;
@h2__line-height: 20px;

@h3__font-size: 13px;
@h3__font-color: @color-black;
@h3__font-weight: @font-weight__bold;
@h3__line-height: 20px;

@h4__font-size: 13px;
@h4__font-color: @color-black;
@h4__font-weight: @font-weight__regular;
@h4__line-height: 20px;

@h5__font-size: 13px;
@h5__font-color: @color-light-grey;
@h5__font-weight: @font-weight__regular;
@h5__line-height: 20px;

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}
//
//  Links
//  ---------------------------------------------

.lib-typography-links() {
  a,
  .alink {
    .lib-link();
  }
}
