// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font__swiss: 'Swiss721BT';
@font__simple-line: "simple-line-font-family";
@font__didot-regular: "DidotLTStd-Roman";
@font__didot-bold: "DidotLTStd-Bold";
@font__swiss-bold-path: "@{baseDir}fonts/34EA4C_1_0";
@font__swiss-roman-path: "@{baseDir}fonts/34EA4C_0_0";
@font__simple-line-path: "@{baseDir}fonts/Simple-Line-Icons-Pro";
@font__didot-regular-path: "@{baseDir}fonts/34EA4A_0_0";
@font__didot-bold-path: "@{baseDir}fonts/34EA4A_1_0";


@font-family__base: @font__swiss, @font-family__sans-serif;
//  Colors nesting
@page__background-color: @color-white;
@copyright__background-color: @color-gray56;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';
@icon-star: '\f005';
@icon-star-o: '\f006';
@icon-radio-checked: '\ea54';
@icon-search: '\e986';
@icon-lock: '\e98f';
@icon-unlocked: '\e990';
@icon-phone: '\e942';
@icon-plus: '\ea0a';
@icon-minus: '\ea0b';
@icon-checkmark: '\ea10';
@icon-checkmark-empty: '\ea11';

@icon-calendar__font-size: 23px;

// custom icons
@custom-icons__font-path: "@{baseDir}fonts/icomoon/icomoon";
@custom-icons__font-name: 'icomoon';

@icon-trash__custom: "\ea52";
@icon-facebook__custom: "\ea90";
@icon-google-plus__custom: "\ea8b";
@icon-pinterest__custom: "\ead2";
@icon-linkedin__custom: "\eaca";
@icon-twitter__custom: "\ea96";


//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background


//Navigation

@submenu__padding-left: 0;
@submenu__padding-top: 0;
@submenu__padding-right: 0;
@submenu__padding-bottom: 0;