// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-collapsible-nav {
        .item {
            &:last-child,
            &:nth-child(6) {
                display: block;
            }
        }
    }
}