<section class="instagram-container">
    <h1 class="title">Shop Instagram</h1>
    <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra urna eget quam imperdiet eleifend. Ut vehicula eu eros a maximus. In scelerisque at libero a aliquet. Quisque faucibus ipsum interdum velit volutpat efficitur. Cras vel convallis purus, et lobortis dolor.</p>
    <script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" type="text/javascript" xml="space" data-feed-id="canada_1" data-theme="lookbook_v2_5" data-page-size="24"></script>
    <style xml="space">
        <!--  .fs-has-links {display:none;}.fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title{font-family:Swis721 BT, sans-serif;font-style:normal;font-weight:normal;}div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text{font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-style:normal;font-weight:normal;}.fs-wrapper div.fs-text-container * {color:rgb(255, 255, 255)}.fs-wrapper div.fs-text-container {background-color:rgba(0, 0, 0, 0); margin: 5px}div.fs-entry-date{display:none}div.fs-entry-title{display:none}.fs-wrapper div.fs-timeline-entry{ margin: 0px }  --></style>
</section>