<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */

$isFiltered = (!empty($block->getLayer()->getState()->getFilters())) ?: false;
?>
<span class="action filter-opener <?php if ($isFiltered): ?>filtered<?php endif; ?>">
    <span class="show"><?php /* @escapeNotVerified */ echo __('Show menu') ?></span>
    <span class="hide"><?php /* @escapeNotVerified */ echo __('Hide menu') ?></span>
</span>