// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .bundle-wrapper {
        input[type="number"] {
            border-radius: 0;
        }
    }

    .bundle-options-wrapper {
        margin-bottom: 15px;

        .bundle-options-heading {
            margin: 0 0 25px;
            padding: 0 0 12px;

            > div {
                text-transform: uppercase;
                .lib-font-size(13);
            }
        }

        .nested {
            .label {
                text-transform: none;
            }

            .field.choice {
                margin: 0 0 19px;
            }
        }

        .bundle-options-top {
            .bundle-options-name {
                .lib-font-size(14);
                font-weight: @font-weight__bold;
                margin: 7px 0 14px;
                letter-spacing: 1.9px;
            }
        }

        .product-options-wrapper {
            margin-bottom: 15px;
        }
    }

    #confirmBox {
        .bundle-options-wrapper {
            .nested {
                .label {
                    .product-name {
                        vertical-align: top;
                    }
                }
            }
        }

        .catalog-product-view & {
            .product-add-form {
                .product-options-wrapper {
                    .field {
                        &.qty {
                            margin-top: -6px;
                        }
                    }
                }
            }
        }

        &.configurable {
            #messageBox {
                .product-info-main {
                    .product-add-form {
                        .field.qty {
                            ~ .actions {
                                width: ~'calc( 100% - 94px )';
                            }
                        }

                        .actions {
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
    }

    .block-bundle-summary {
        .price-as-configured {
            .price-configured_price {
                &:before {
                    color: @color-dark-brown;
                    .lib-font-size(14);
                }
            }
        }

        .price-box {
            margin: 0 0 15px;

            .price-wrapper,
            .price-wrapper > .price {
                .lib-font-size(14);
                color: @color-dark-brown;
                font-weight: @font-weight__bold;
            }

            p {
                margin-bottom: 11px;
            }
        }
    }

    .catalog-product-view {
        .product-add-form {
            .bundle-summary-wrapper {
                .box-tocart {
                    .field.qty {
                        ~ .actions {
                            padding-top: 32px;
                        }
                    }
                }
            }
        }

        .bundle-actions {
            display: none !important;  //  to override the parent theme's important
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls){

}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .bundle-actions {
        padding-top: 40px;
    }

    .bundle-options-container {
        width: 49%;
        float: right;
        clear: none;
    }
}

//
//  Deskrop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s){
    .bundle-options-container {
        position: relative;

        .product-add-form {
            .box-tocart {
                &.out-of-stock {
                    margin-top: 50px;
                }
            }
        }

        .product-info-stock-sku {
            &.unavailable {
                position: absolute;
                bottom: 54px;
                left: 0;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls){
    .bundle-options-wrapper {
        padding-top: 9px;

        .nested {
            .label {
                .product-name {
                    width: ~'calc( 52% - 31px )';
                }
            }
        }

        .bundle-options-name {
            width: 52%;
        }

        .bundle-options-price {
            width: 33%;
        }
    }

    .bundle-summary-wrapper {
        padding: 0 120px 0 0;
    }

    .bundle-wrapper {
        .page-layout-1column & {
            .product-info-main,
            .bundle-options-container {
                width: 38%;
            }
        }
    }
}
