<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-bind="attr: {class: 'payment-method payment-method-' + getCode()}, css: {'_active': isActive()}">
    <div class="payment-method-title field choice">
        <input type="radio"
            name="payment[method]"
            class="radio"
            data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <form id="co-transparent-form-braintree" class="form creditcard-form" data-bind="" method="post" action="#" novalidate="novalidate">
            <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
                <div class="form-field number required">
                    <label data-bind="attr: {for: getCode() + '_cc_number'}" class="field-label"><!-- ko i18n: 'Credit Card Number'--><!-- /ko --></label>
                    <div class="field-control">
                        <div data-bind="attr: {id: getCode() + '_cc_number'}" class="hosted-control"></div>
                        <div class="hosted-error"><!-- ko i18n: 'Please enter valid Credit Card Number'--><!-- /ko --></div>
                    </div>
                </div>
                <div class="form-field date required">
                    <label data-bind="attr: {for: getCode() + '_expiration'}" class="field-label"><!-- ko i18n: 'Expiry'--><!-- /ko --></label>
                    <div class="field-control">
                        <div data-bind="attr: {id: getCode() + '_expirationMonth'}" class="hosted-control month"></div>
                        <div data-bind="attr: {id: getCode() + '_expirationYear'}" class="hosted-control year"></div>
                        <div class="hosted-error"><!-- ko i18n: 'Please enter valid Expiration Date'--><!-- /ko --></div>
                    </div>
                </div>
                <!-- ko if: (hasVerification())-->
                <div class="form-field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
                    <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="field-label"><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></label>
                    <div class="field-control">
                        <div data-bind="attr: {id: getCode() + '_cc_cid'}" class="hosted-control hosted-cid"></div>
                        <div class="field-tooltip">
                            <span class="field-tooltip-action action-cvv"
                                  tabindex="0"
                                  data-toggle="dropdown"
                                  data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                                <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                            </span>
                            <div class="field-tooltip-content"
                                 data-target="dropdown"
                                 data-bind="html: getCvvImageHtml()"></div>
                        </div>
                        <div class="hosted-error"><!-- ko i18n: 'Please enter valid Card Verification Number'--><!-- /ko --></div>
                    </div>
                </div>
                <!-- /ko -->
                <div class="form-field">
                    <div class="field-control">
                        <button class="action primary checkout"
                                type="submit"
                                data-bind="
                                click: placeOrderClick,
                                attr: {title: $t('Place Order')}
                        ">
                            <span data-bind="i18n: 'Place Order'"></span>
                        </button>
                        <div class="payment-method-braintree-block" style="width:100%;">
                            <div>
                                <p class="text">Aura Home takes credit card data very serioulsy. For that reason, we use Braintree to securely handle credit card information.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="submit" id="braintree_submit"  style="display:none" />
            <div class="form-field checkout-agreements-block">
                <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
        </form>
    </div>
</div>
