// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .3);

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    // Catalog categoryview

    .filter-opener {
        cursor: pointer;
        border: 1px solid @color-form-border;
        padding: 0 12px;
        letter-spacing: 0.2px;
        font-weight: @font-weight__bold;
        text-align: left;
        height: 30px;
        line-height: 30px;
        width: 146px;
        float: left;
        position: relative;
        .lib-icon-font(
            @_icon-font: @custom-icons__font-name,
            @_icon-font-size: 10px,
            @_icon-font-content: @icon-plus,
            @_icon-font-color: @color-black,
            @_icon-font-position: after
        );
        &:after {
            right: 9px;
            top: 0;
            position: absolute;
            line-height: 30px;
        }
        &.active {
            &:after {
                content: @icon-minus;
            }
        }
        &.filtered {
            > span {
                position: relative;
                &:after {
                    .lib-font-size(14);
                    position: absolute;
                    right: 0;
                    top: 0;
                    content: @icon-simple__tick;
                    font-family: @font__simple-line;
                    width: 15px;
                    height: 15px;
                    margin-top: -10px;
                    margin-right: -23px;
                }
            }
        }
    }

    //  Product Lists

    .product-item-actions {
        .actions-primary + .actions-secondary > .tocompare {
            display: none;
        }
    }
    .product {
        &-items {
            width: 100%;
            &:not(.slick-slider){
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction(row);
                .lib-vendor-prefix-flex-wrap(wrap);
            }
            &:extend(.abs-reset-list all);
        }

        &-item {
            vertical-align: top;

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin: @indent__xs 0;
                word-wrap: break-word;
            }

            &-info {
                max-width: 100%;
                .product-item-photo {
                    .view-product {
                        display: none;
                    }
                }
            }

            &-actions {
                display: none;

                .actions-secondary {
                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }

                        span {
                            display: none;
                        }

                        &.towishlist {
                            .lib-icon-font(
                                @_icon-font: @font__simple-line,
                                @_icon-font-size: 17px,
                                @_icon-font-content: @icon-simple__heart,
                                @_icon-font-color: @color-black,
                                @_icon-font-position: before
                            );

                            &:hover {
                                &:before {
                                    color: @color-red;
                                }
                            }
                        }
                    }
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                    text-transform: lowercase;
                }
            }

            .old-price {
                margin: @indent__xs 0;

                .price {
                    font-weight: normal;
                }
            }

            .minimal-price {
                .price-label {
                    display: inline-block;
                }
                .price-container{
                    display: inline-block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
            }

            .price-from,
            .price-to {
                margin: 0;
                display: inline-block;
            }
            .price-box {
                margin: 5px 0;
                > .special-price,
                > .old-price{
                    display: inline-block;
                }
                > .old-price{
                    .price{
                        color: @color-light-grey;
                        position: relative;
                        display: inline-block;
                    }
                    .price::after{
                        content: "";
                        position: absolute;
                        top: 48%;
                        left: 0px;
                        width: 100%;
                        border-bottom: 1px solid @color-light-grey;

                    }
                }
                .price-to {
                    .price {
                        color: @color-light-grey;
                        text-decoration: line-through;
                    }
                    .old-price{
                        display: none;
                    }
                }

                .price {
                    font-weight: @font-weight__bold;
                    white-space: nowrap;
                }

                .price-label {
                    .lib-css(color, @color-black);
                    .lib-font-size(13);
                    text-transform: uppercase;
                    font-weight: @font-weight__bold;
                }
            }
            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }

            .tocart {
                .lib-font-size(13px);
                border-radius: 0;
                line-height: 1;
                padding-bottom: @indent__s;
                padding-top: @indent__s;
                white-space: nowrap;
            }
        }
    }

    .products-grid{
        .product{
            &-items, .products{
                width: 100%;
            }
            &-image-container{
                width: 100%;
            }
            &-image-wrapper{
                .product-image-photo{
                    width: 100%;
                    height: 100%;
                }
            }
            &-item-details{
                text-align: center;
                span.brand{
                    display: block;
                    min-height: 17px;
                    margin-top: 10px;
                    line-height: 17px;
                    letter-spacing:0.2px;
                    color: @color-light-grey;
                }

                .price-wrapper {
                    display: block;
                }
            }
            &-item-name{
                text-transform: uppercase;
                .lib-font-size(13);
                letter-spacing:0.2px;
                line-height: 20px;
                a{
                    text-decoration: none;
                    font-weight: @font-weight__regular;
                }
            }
        }
    }

    // shopby filter
    .products.wrapper > .filter.block {
        float: left;
        width: 17%;
        margin-right: 3.3%;
    }

    .products.wrapper > .products.list:not(.slick-slider) {
        width: 100%;
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-wrap(wrap);
        .lib-vendor-prefix-flex-direction(row);
    }

    .filter.block {
        .filter-options-item {
            width: 100%;
            margin: 0;
            border-bottom: 1px solid #dddddd;

            &.active {
                &:before,
                &:after {
                    display: none;
                }
            }

            .filter-options-content {
                position: static !important;
                border: none !important;
                box-shadow: none !important;
                width: 100% !important;
                padding: 0 !important;
            }
        }
    }
    .price-box{
        .rewards__product-points{
            display: none;
        }
    }
    .price-box,
    .price-excluding-tax {
        margin: 5px 0;

        .price {
            .lib-font-size(13);
            font-weight: @font-weight__bold;
            white-space: nowrap;
            letter-spacing:0.2px;
        }

        .price-label {
            font-size: @font-size__s;
            &:after {
                content: ':';
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(13);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xls) {
    #amasty-shopby-product-list {
        max-width: 100%;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .catalog-category-view,
    .catalogsearch-result-index {
        .products-grid.products-crosssell{
            .product-items {
                width: 100%;
                .product-item {
                    width: 100%;
                    margin: 15px 0;
                }
                .product-item-name{
                    min-height: auto;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
    .products-related{
        .product-items {
            width: 100%;
            .product-item {
                &.slick-slide{
                    margin: 0 5px;
                    &:nth-of-type(2n + 2) {
                        margin: 0 5px;
                    }
                }
            }
        }
    }
    .catalog-category-view,
    .catalogsearch-result-index {
        .products-grid {
            .product-item-name{
                min-height: 45px;
            }
            .product-items {
                width: 100%;
                .product-item {
                    .lib-layout-column(12, 1, 6);
                    .lib-column-gutter(12);
                    &:nth-of-type(2n + 2) {
                        margin-right: 0;
                    }
                    &.slick-slide{
                        margin: 0 5px;
                        &:nth-of-type(2n + 2){
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .page-main {
        padding-top: 10px;
    }
    .products-grid{
        .product-items{
            margin-bottom: 0;
        }
        .product{
            &-item-details{
                text-align: center;
                span.brand{
                    margin-top: 7px;
                    line-height: 18px;
                    color: @color-light-grey;
                }
            }
            &-item-name{
                text-transform: uppercase;
                .lib-font-size(13);
                letter-spacing:0.2px;
                line-height: 20px;
                margin-top: 0px;
                margin-bottom: 2px;
                min-height: 40px;
                a{
                    text-decoration: none;
                    font-weight: @font-weight__regular;
                }
            }
        }
    }
    .product-item{
        .price-box{
            margin-top: 0;
        }
    }
    .products-grid.products-crosssell{
        .product-items {
            width: 100%;
            .product-item {
                &.slick-slide{
                    margin: 0 5px;
                    &:nth-of-type(2n + 2) {
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}


.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls){

    .catalog-category-view,
    .catalogsearch-result-index{
        .products-grid {
            .product-items {
                width: 100%;
                .product-item {
                    .lib-layout-column(12, 1, 4);
                    .lib-column-gutter(12);
                    &:nth-of-type(3n + 3) {
                        margin-right: 0;
                    }
                    &.slick-slide{
                        margin: 0 8px;
                        &:nth-of-type(3n + 3) {
                            margin: 0 8px;
                        }
                    }
                }
            }
        }
        .products-grid.products-crosssell{
            .product-items {
                width: 100%;
                .product-item {
                    .lib-layout-column(12, 1, 6);
                    .lib-column-gutter(12);
                    &:nth-of-type(2n + 2) {
                        margin-right: 0;
                    }
                    &.slick-slide{
                        margin: 0 8px;
                        &:nth-of-type(2n + 2) {
                            margin: 0 8px;
                        }
                    }
                }
            }
        }
    }
}
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .product-item-info .product-item-photo {
        display: block;
        position: relative;
        &:hover {
            .view-product {
                display: block;
            }
        }
        .view-product {
            position: absolute;
            left: 0;
            bottom: 0;
            background: @color-black;
            height: 40px;
            width: 100%;
            z-index: 1;
            line-height: 40px;
            text-transform: uppercase;
            .lib-font-size(14);
            font-weight: 700;
            color: @color-white;
            text-align: center;
            text-decoration: none;
        }
    }

    .page-products{
        .sidebar{
            transform: translate(-100%, 0);
            opacity: 0;
            visibility: hidden;
            padding-right: 3.5%;
            margin-top: 60px;
            display: none;
        }
        .column.main{
            float: right;
            width: 100%;
            background: @color-white;
            -webkit-transition: width 0.2s ease-in-out;
            -moz-transition: width 0.2s ease-in-out;
            -ms-transition: width 0.2s ease-in-out;
            -o-transition: width 0.2s ease-in-out;
            transition: width 0.2s ease-in-out;
        }
        #amasty-shopby-product-list{
            padding-top: 60px;
        }
        .toolbar-products{
            &:nth-of-type(1){
                position: absolute;
                left: 0;
                top: 35px;
                width: 100%;
            }
        }
    }

    .product-item-inner {
        .products-grid & {
            .lib-css(background, @product-item__hover__background-color);
            .lib-css(box-shadow, @product-item__hover__box-shadow);
            border: 1px solid @color-form-border;
            border-top: none;
            left: 0;
            margin: 9px 0 0 -1px;
            padding: 0 9px 9px;
            position: absolute;
            right: -1px;
            z-index: 2;
            display: none;
        }
    }

    .page-products {
        .products-grid {
            .lib-clearfix();
            .product-item-inner {
                &:before {
                    .lib-css(background, @product-item__hover__background-color);
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    top: -2px;
                    width: 100%;
                    z-index: 1;
                }
            }
        }
    }
    .page-products {
        .products-grid {
            width: 100%;
            .product-item {
                .lib-layout-column(12, 1, 3);
                .lib-column-gutter(12);
                margin-bottom: 25px;
                &:nth-of-type(4n + 4){
                    margin-right: 0;
                }
                &.slick-slide{
                    margin: 0 15px;
                    &:nth-of-type(4n + 4){
                        margin: 0 15px;
                    }
                }
            }
        }
    }


    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                .lib-layout-column(12, 1, 4);
                .lib-column-gutter(12);
                &:nth-of-type(3n + 3){
                    margin-right: 0;
                }
                &.slick-slide{
                    margin: 0 15px;
                    &:nth-of-type(4n + 4){
                        margin: 0 15px;
                    }
                }
            }
        }
    }

    .products-grid{
        .product{
            &-items, .products{
                width: 100%;
                margin-bottom: 0;
            }
            &-image-container{
                width: 100%;
            }
            &-image-wrapper{
                .product-image-photo{
                    width: 100%;
                    height: 100%;
                }
            }
            &-item-details{
                text-align: center;
            }
            &-item-name{
                text-transform: uppercase;
                .lib-font-size(13);
                letter-spacing:0.2px;
                line-height: 20px;
                min-height: 35px;
                a{
                    text-decoration: none;
                    font-weight: @font-weight__regular;
                }
            }
        }
    }

    //open filter
    .filter-opened {
        .sidebar{
            opacity: 1;
            visibility: visible;
            flex: 0 0 20.5%;
            transform: translate(0, 0);
            display: block;
        }
        .column.main {
            flex: 0 0 76%;
            flex-grow: 1;
            order: 2;
            .product-item {
                .lib-layout-column(12, 1, 3);
                .lib-column-gutter(12);
                &:nth-of-type(4n + 4){
                    margin-right: 0;
                }
                &.slick-slide{
                    margin: 0 15px;
                    &:nth-of-type(4n + 4) {
                        margin: 0 15px;
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
    .catalog-category-view,
    .catalogsearch-result-index{
        .products-grid.products-crosssell{
            .product-items {
                .product-item {
                    .lib-layout-column(12, 1, 6);
                    .lib-column-gutter(12);
                    &:nth-of-type(2n + 2) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}