// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@toolbar-mode-icon-font-size: 16px;
@toolbar-background: transparent;
@toolbar-element-background: @color-gray94;
@pager-action__background: @toolbar-element-background;
@pager-action__hover__background: darken(@toolbar-element-background, 7%);
@pager__font-weight: @font-weight__bold;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-products {
        .columns {
            position: relative;
            z-index: 1;
        }
    }

    .toolbar {
        &:extend(.abs-add-clearfix all);
        margin-bottom: @indent__l;
        text-align: center;
        position: relative;

        select {
            .lib-css(background-color, @toolbar-element-background);
            .lib-css(box-shadow, @button__shadow);
            border-radius: 3px;
        }

        &-amount {
            left: 0;
            line-height: @toolbar-mode-icon-font-size + 2;
            margin: 0;
            padding: 7px 0;
            position: absolute;
            text-align: left;
            top: 0;
            vertical-align: middle;

            .products.wrapper ~ .toolbar & {
                display: none;
            }
        }



        &-products {
            .lib-css(background-color, @toolbar-background);

            .pages {
                display: none;

                .products.wrapper ~ & {
                    display: block;
                }
            }
        }

        .pages {
            margin-bottom: @indent__m;
        }
    }

    .page-with-filter,
    .catalogsearch-result-index{
        .toolbar {
            .toolbar-amount {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -17px;
                -webkit-transform: translate(-50%, 0);
                -moz-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                -o-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
            }
        }
    }

    .modes {
        display: none;
    }

    .sorter {
        .products.wrapper ~ .toolbar & {
            display: none;
        }

        &-options {
            margin: 0;
            width: auto;
        }

        &-action {
            display: none;
        }
        .sorter-label {
            display: none;
        }
    }

    .limiter {
        display: none;

        &-options {
            margin: 0 5px 0 7px;
            width: auto;
        }

        &-label {
            font-weight: 400;
        }

        .page-products .toolbar & {
            display: none;
        }

        .control {
            display: inline-block;
        }
    }

    .products.wrapper ~ .toolbar-products {
        .filter-opener {
            display: none;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .toolbar-products {
        margin-bottom: 0;
    }
    .sorter {
        .page-products & {
            .sorter-options {
                height: 40px;
                line-height: 38px;
                width: 100%;
                text-align: center !important;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .sorter {
        .page-products & {
            .sorter-options {
                padding-right: 33px;
            }
        }
    }
}

//
//  Tablet
//  _____________________________________________
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .sorter {
        .page-products & {
            .sorter-options {
                width: 170px;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .toolbar-amount{
        line-height: 35px;
    }
    .toolbar-products {
        margin-bottom: 20px;
    }
    .sorter {
        .page-products & {
            .sorter-options {
                height: 40px;
                line-height: 42px;
                text-align: center !important;
            }
        }
    }
    .page-with-filter,
    .catalogsearch-result-index{
        .toolbar {
            .toolbar-amount {
                display: none;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .page-products {
        .columns {
            padding-top: 0;
            position: relative;
            z-index: 1;
        }
    }

    .toolbar-amount {
        display: none;
    }

    .toolbar {
        .products.wrapper ~ & .pages {
            display: inline-block;
            width: 100%;
            text-align: center;
            margin-bottom: 0;
        }

        .pages {
            .action.next {
                > span {

                }
            }
        }
    }

    .modes {
        display: none;

        .products.wrapper ~ .toolbar & {
            display: none;
        }
    }

    .modes-label {
        &:extend(.abs-visually-hidden-desktop all);
    }

    .modes-mode {
        .lib-css(background-color, @toolbar-element-background);
        .lib-css(box-shadow, @button__shadow);
        .lib-css(color, @text__color__muted);
        border: 1px solid @border-color__base;
        border-right: 0;
        float: left;
        font-weight: @font-weight__regular;
        line-height: 1;
        padding: 7px 10px;
        text-align: center;

        .modes-label + & {
            border-radius: 3px 0 0 3px;
        }

        &:hover {
            .lib-css(color, @text__color__muted);
            background: darken(@toolbar-element-background, 2%);
        }

        &:last-child {
            border-radius: 0 3px 3px 0;
            border-right: 1px solid @border-color__base;
        }

        &.active {
            .lib-css(box-shadow, @button__shadow-active);
            background: darken(@toolbar-element-background, 7%);
            color: @color-gray62;
        }

        .lib-icon-font(
                @icon-grid,
            @_icon-font-size: @toolbar-mode-icon-font-size,
            @_icon-font-text-hide: true,
            @_icon-font-color: @text__color__muted,
            @_icon-font-color-hover: @text__color__muted
        );
    }

    .mode-list {
        &:before {
            content: @icon-list;
        }
    }

    .limiter {
        .products.wrapper ~ .toolbar & {
            display: none;
        }
    }
    .page-products {
        .columns {
            padding-top: 35px;
            position: relative;
            z-index: 1;
        }
    }
    .toolbar-amount {
        display: block;
        float: left;
        position: static;
    }

    .sorter {
        .page-products & {
            position: static;
        }
    }

    .sorter {
        float: right;

        .page-products & {
            float: right;
            width: 180px;
            z-index: 3;
            .nice-select{
                width: 100%;
                height: 30px;
                line-height: 31px;
                &:after{
                    line-height: 30px;
                }
            }
        }
    }
}