& when (@media-common = true) {
  .header-panel-center {
    .box-txt-white{
      h2, p, a, span, li{
        color: @color-black;
      }
    }
  }
}
//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s){
  .balance-box-group-no-slide {
    &.column2,
    &.column3,
    &.column4 {
      margin-bottom: 0;

      .balance-box-group {
        margin-bottom: 10px;
      }
    }

    &.column2 {
      .balance-box-group {
        .lib-layout-column(12, 1, 6);
        width: ~'calc( (100%) / 2 - 5px )';
        .lib-column-gutter(12);
        margin-right: 10px;

        &:last-child,
        &:last-of-type,
        &:nth-of-type(2n + 2) {
          margin-right: 0;
        }
      }
    }
  }
}