// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@braintree-input-border__color: @color-gray76;

@braintree-error__color: @color-red10;
@braintree-focus__color: @color-blue2;
@braintree-success__color: @color-dark-green1;

@braintree-paypal-icon__height: 16px;
@braintree-paypal-icon__width: 16px;
@braintree-paypal-account__padding-right: 50px;
@braintree-paypal-account__padding-vertical: 15px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .payment-method-braintree {

        .hosted-date-wrap {
            &:extend(.abs-add-clearfix all);
        }

        .hosted-control {
            .lib-form-element-input(@_type: input-text);
            position: relative;
            width: 225px;

            &.braintree-hosted-fields-focused {
                border-color: @braintree-focus__color;
            }

            &.braintree-hosted-fields-invalid:not(.braintree-hosted-fields-focused) {
                border-color: @braintree-error__color;

                & ~ .hosted-error {
                    height: auto;
                    opacity: 1;
                }
            }

            &.braintree-hosted-fields-valid {
                border-color: @braintree-success__color;
            }

            &.hosted-cid {
                width: 5rem;
            }

            &.hosted-date {
                @distance: 50px;

                float: left;
                margin-bottom: 7px;
                width: 6rem;

                &:first-of-type {
                    margin-right: @distance;

                    &:after {
                        content: '/';
                        display: inline;
                        padding-bottom: inherit;
                        padding-top: inherit;
                        position: absolute;
                        right: -@distance / 2;
                        top: 5px;
                    }
                }
            }
        }

        .hosted-error {
            clear: both;
            color: @braintree-error__color;
            font-size: 1.2rem;
            height: 0;
            margin-top: 7px;
            opacity: 0;
        }
        
        &-block {
            > div {
                color: @color-form-border;
                .lib-font-size(11);
                padding: 20px 0 33px;
                background: url("../images/payment/braintree.png") 0 100% no-repeat;
            }
        }
    }

    .braintree-paypal-logo {
        margin-top: @indent__s;
        text-align: center;
    }

    .braintree-paypal-account {
        padding: @braintree-paypal-account__padding-vertical 0 @braintree-paypal-account__padding-vertical @braintree-paypal-account__padding-right;
        position: relative;

        .lib-icon-image(
            @_icon-image: '@{baseDir}Magento_Braintree/images/paypal-small.png',
            @_icon-image-position: before,
            @_icon-image-width: @braintree-paypal-icon__width,
            @_icon-image-height: @braintree-paypal-icon__height
        );

        &:before {
            left: @braintree-paypal-account__padding-right/2 - @braintree-paypal-icon__width/2;
            margin-top: -@braintree-paypal-icon__height/2;
            position: absolute;
            top: 50%;
        }

        .payment-method-type {
            font-weight: @font-weight__bold;
        }

        .payment-method-description {
            color: @color-gray34;
        }
    }

    .braintree-paypal-fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    .action-braintree-paypal-logo {
        .lib-button-reset();

        img {
            margin: 0;
            width: 114px;
        }
    }

    .payment-method {
        .payment-method-content {
            .actions-toolbar {
                &.braintree-paypal-actions {
                    margin-left: 0;
                }
            }
        }
    }

    //  My Account > Stored Payment Methods
    .account {
        .table {
            .col {
                &.paypal-account {
                    img {
                        vertical-align: middle;
                    }

                    + .actions {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .payment-method-braintree {
        &-block {
            padding-left: 30%;

            > div {
                width: 50%;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .payment-method-braintree {
        .cvv {
            .field-tooltip {
                right: auto;
                left: 0;
                margin-left: 80%;
            }
        }
    }

    .braintree-paypal-account {
        border-color: @color-gray80;
        border-style: solid;
        border-width: 1px 0;
        display: inline-block;
        width: 50%;
    }

    //  My Account > Stored Payment Methods
    .account {
        .table-credit-cards {
            .col {
                &.actions {
                    width: 100px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .payment-method-braintree {
        &-block {
            width: 50%;
        }
    }
}
