<?php

/**
 *
 * Default Box Group template
 *
 * @package   Balance_Box
 * @author    Balance Internet Team  <info@balanceinternet.com.au>
 * @copyright Copyright (c) 2016, Balance Internet  (http://www.balanceinternet.com.au/)
 *
 * @var $block \Balance\Box\Block\Group
 * @var $box \Carpetcourt\Box\Model\Box
 *
 */

$group = $block->getGroup();
$boxes = $block->getBoxes();
if (!$group || !$boxes) return;

?>

<div id="js__balance-box-group-<?php echo $group->getIdentifier(); ?>" class="balance-box balance-box-group-no-slide column<?php echo count($boxes); ?> balance-box-group-default balance-box-group-<?php echo $group->getIdentifier(); ?> <?php echo $block->getCssClass(); ?>">

    <?php foreach($boxes as $box) : ?>
        <?php if ($box->getHeading() || $box->getContent() || $box->getLink()) : ?>
        <?php $buttonText = $box->getButtonText(); ?>
        <div class="balance-box-group <?php echo $box->getLayoutClass(); ?>"
             <?php if (empty($buttonText) && $box->getLink()): ?>
             onclick="window.location.href = '<?php echo $box->getLink() ?>'"
            <?php endif; ?>
             style="background-color: <?php echo ($block->escapeQuote($box->getBlockBackground())) ? $block->escapeQuote($box->getBlockBackground()) : 'transparent'; ?>"
        >
            <div class="balance-box-group-container <?php echo $block->escapeQuote($box->getTextBlockColour()); ?>">
                <?php if ($box->getHeading()) : ?>
                    <h2 class="balance-box-group-heading">
                        <?php echo $block->escapeHtml($box->getHeading()); ?>
                    </h2>
                <?php endif; ?>

                <?php if ($box->getContent()) : ?>
                    <div class="balance-box-group-content std">
                        <?php echo $box->getContent(); ?>
                    </div>
                <?php endif; ?>
    
                <?php if ($box->getLink() && !empty($buttonText)) : ?>
                    <a href="<?php echo $box->getLink(); ?>" class="button balance-box-group-button">
                        <span>
                            <?php echo $block->escapeHtml($buttonText); ?>
                        </span>
                    </a>
                <?php endif; ?>
            </div>
        <?php else : ?>
            <div class="balance-box-group <?php echo $box->getLayoutClass(); ?> balance-box-only-image">
        <?php endif; ?>

                <?php if ($box->getMobileImageUrl() || $box->getDesktopImageUrl() || $box->getTabletImageUrl()) : ?>
                    <?php if ($block->isUsingImageUrl($box)) : ?>
                        <a href="<?php echo $block->escapeXssInUrl($box->getLink()); ?>">
                    <?php endif; ?>
                    <img alt="<?php echo $block->escapeHtml($box->getAltText()); ?>"
                         src="<?php echo $block->escapeXssInUrl($box->getDesktopImageUrl()); ?>"
                         data-mobile-image="<?php if($box->getMobileImageUrl()) {echo $block->escapeXssInUrl($box->getMobileImageUrl()); } ?> "
                         data-desktop-image="<?php if($box->getDesktopImageUrl()) {echo $block->escapeXssInUrl($box->getDesktopImageUrl());} ?>"
                         data-tablet-image="<?php if($box->getTabletImageUrl()){echo $block->escapeXssInUrl($box->getTabletImageUrl());} ?>"
                         class="balance-box-group-image"
                         id="js__balance-box-img-<?php echo $block->escapeQuote($box->getIdentifier()); ?>"/>
                    <?php if ($block->isUsingImageUrl($box)) : ?>
                        </a>
                    <?php endif; ?>
                <?php endif; ?>

        </div>

        <script>
            require([
                'jquery',
                'balance/box'
            ], function ($) {

                var options = {
                    mobileBreakpoint: 767
                };
                var $image  = $('#js__balance-box-img-<?=$box->getUniqId()?>');

                if($image.length) {
                    $.balance.box(options, $image);
                }
            });
        </script>

    <?php endforeach ?>
</div>
