<?php

/**
 *
 * Default Box Group template
 *
 * @package   Balance_Box
 * @author    Balance Internet Team  <info@balanceinternet.com.au>
 * @copyright Copyright (c) 2016, Balance Internet  (http://www.balanceinternet.com.au/)
 *
 * @var $block \Balance\Box\Block\Group
 *
 */

$group = $block->getGroup();
$boxes = $block->getBoxes();
if (!$group->getData() || !$boxes->getData()) {
    return;
}
$isExistVideo = false;
$boxGroupClassDefault = 'balance-box balance-box-group-default balance-box-group';
$boxGroupClassDynamic = $group->getIdentifier() . ' ' . $block->getCssClass();
$balanceBoxGroupClass = $boxGroupClassDefault . '-' . $boxGroupClassDynamic;
$delay = (int) $block->getData('slider_delay');
?>
<div id="js__balance-box-group-<?php echo $block->escapeQuote($group->getIdentifier()); ?>"
     class="<?php echo $block->escapeQuote($balanceBoxGroupClass); ?>">

    <?php /** @var \Balance\Box\Model\Box $box */ ?>
    <?php foreach ($boxes as $box) : ?>
        <?php $isExistVideo = ($box->getType() == 'video' || $isExistVideo)?true:false; ?>

        <div class="balance-box-group-slide <?php echo $block->escapeQuote($box->getLayoutClass()); ?> balance-box-type-<?php echo $box->getType(); ?>">

            <?php if ($box->getShowTextBlock()) : ?>
                <div class="balance-box-group-container <?php echo $block->escapeQuote($box->getTextBlockColour()); ?>"
                     style="background-color: <?php echo ($block->escapeQuote($box->getBlockBackground()))?$block->escapeQuote($box->getBlockBackground()):'transparent'; ?>">
                    <?php if ($box->getHeading()) : ?>
                        <h2 class="balance-box-group-heading">
                            <?php echo $block->escapeHtml($box->getHeading()); ?>
                        </h2>
                    <?php endif; ?>

                    <?php if ($box->getContent()) : ?>
                        <div class="balance-box-group-content std">
                            <?php echo $box->getContent(); ?>
                        </div>
                    <?php endif; ?>

                    <?php if ($block->isUsingButtonUrl($box)) : ?>
                        <a href="<?php echo $block->escapeXssInUrl($box->getLink()); ?>"
                           class="button balance-box-group-button">
                            <span><span><?php echo $block->escapeHtml($box->getButtonText()); ?></span></span>
                        </a>
                    <?php endif; ?>
                </div>
            <?php endif; ?>

            <?php if ($box->getMobileImageUrl() || $box->getDesktopImageUrl() || $box->getTabletImageUrl()) : ?>
                <?php if ($block->isUsingImageUrl($box)) : ?>
                    <a href="<?php echo $block->escapeXssInUrl($box->getLink()); ?>">
                <?php endif; ?>
                <img alt="<?php echo $block->escapeHtml($box->getAltText()); ?>"
                     src="<?php echo $block->escapeXssInUrl($box->getDesktopImageUrl()); ?>"
                     data-mobile-image="<?php if($box->getMobileImageUrl()) {echo $block->escapeXssInUrl($box->getMobileImageUrl()); } ?> "
                     data-desktop-image="<?php if($box->getDesktopImageUrl()) {echo $block->escapeXssInUrl($box->getDesktopImageUrl());} ?>"
                     data-tablet-image="<?php if($box->getTabletImageUrl()){echo $block->escapeXssInUrl($box->getTabletImageUrl());} ?>"
                     class="balance-box-group-image"
                     id="js__balance-box-img-<?php echo $block->escapeQuote($box->getIdentifier()); ?>"/>
                <?php if ($block->isUsingImageUrl($box)) : ?>
                    </a>
                <?php endif; ?>
            <?php endif; ?>

            <?php if ($box->getType() == 'video') : ?>
                <iframe id="js__balance-box-video-<?php echo $block->escapeQuote($box->getIdentifier()); ?>" class="balance-box-video" src="<?php echo $this->convertYoutubeUrl($box->getVideoLink()); ?>" frameborder="0"></iframe>
                <div class="balance-box-video-button">
                    <div class="balance-box-video-button-outer">
                        <div class="balance-box-video-button-inner">
                            <a class="button video-button">
                                <span><span><?php echo __('play video'); ?></span></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="video-status"></div>
            <?php endif; ?>
        </div>
    <?php endforeach; ?>

</div>

<script>
    var boxSlider;
    require([
        'jquery',
        'balance/box',
        'domReady!'
    ], function ($) {
        var options = {
                boxSelector: '.balance-box-group-slide',
                boxOptions: {
                    imgSelector: '.balance-box-group-image',
                    videoOptions: {
                        videoSelector: '.balance-box-video',
                        useImageVideo: false,   //example: video id is AkyQgpqRyBY, then image of video has link http://img.youtube.com/vi/AkyQgpqRyBY/0.jpg
                        bpWidths: {
                            mobile: { width: 640 },
                            tablet: { width: 980 },
                            desktop: { width: 1565 }
                        },
                        apiOptions: {
                            config: {
                                events: {
                                    'onReady': function(event){
                                        $(".video-status").html("ready");
                                        var videoPlayer = (event.target.a)?event.target.a:event.target.h;
                                        $(videoPlayer).next('.balance-box-video-button').find('.button').on('click',function(){

                                            $('#js__balance-box-group-<?php echo $block->escapeQuote($group->getIdentifier()); ?>').data('flickity').stopPlayer();
                                            $(videoPlayer).data('player').obj.playVideo();
                                        });
                                    },
                                    'onStateChange': function(event) {
                                        var playerStatus = event.data, msg = [], player = (event.target.a)?event.target.a:event.target.h;
                                        msg[-1] = 'unstarted';
                                        msg[0] = 'ended';
                                        msg[1] = 'playing';
                                        msg[2] = 'paused';
                                        msg[3] = 'buffering';
                                        msg[5] = 'cued';

                                        if (msg[playerStatus]) {
                                            $(".video-status").html(msg[playerStatus]);
                                            if(msg[playerStatus]!='ended') {

                                                $(player).closest('.balance-box-type-video').addClass('balance-box-video-playing');   // support for style
                                            }
                                            if(msg[playerStatus]=='ended') {

                                                $(player).closest('.balance-box-type-video').removeClass('balance-box-video-playing');   // support for style
                                                $('#js__balance-box-group-<?php echo $block->escapeQuote($group->getIdentifier()); ?>').data('flickity').playPlayer();
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        iframeAlready: true
                    }
                },
                tabletBreakpoint: 980,
                flickityOptions: {
                    imagesLoaded: true,
                    autoPlay: <?php echo $delay; ?>,
                    adaptiveHeight: false,
                    arrowShape: {
                        x0: 0,
                        x1: 55, y1: 50,
                        x2: 60, y2: 45,
                        x3: 10
                    },
                    prevNextButtons: false,
                    pageDots: <?php echo (count($boxes)>1 ? 'true': 'false');?>
                }
        };
        var $group = $('#js__balance-box-group-<?php echo $block->escapeQuote($group->getIdentifier()); ?>');
        $.balance.boxSlider(options, $group);
    });
</script>