<?php

/**
 *
 * Default Box template
 *
 * @package   Balance_Box
 * @author    Balance Internet Team  <info@balanceinternet.com.au>
 * @copyright Copyright (c) 2016, Balance Internet  (http://www.balanceinternet.com.au/)
 *
 * @var $block \Balance\Box\Block\Group
 *
 */

$box = $block->getBox();
if (!$box) return;

$buttonText = $box->getButtonText();
?>
<div id="js__balance-box-<?php echo $box->getIdentifier(); ?>" class="balance-box balance-box-default balance-box-<?php echo $box->getIdentifier(); ?> <?php echo $box->getLayoutClass(); ?> <?php echo $block->getCssClass(); ?>"
    <?php if (empty($buttonText) && $box->getLink()): ?>
        onclick="window.location.href = '<?php echo $box->getLink() ?>'"
    <?php endif; ?>
     style="background-color: <?php echo ($block->escapeQuote($box->getBlockBackground())) ? $block->escapeQuote($box->getBlockBackground()) : 'transparent'; ?>">

    <div class="balance-box-container">
        <?php if ($box->getHeading()) : ?>
            <h2 class="balance-box-heading">
                <?php echo $block->escapeHtml($box->getHeading()); ?>
            </h2>
        <?php endif; ?>

        <?php if ($box->getContent()) : ?>
            <div class="balance-box-content std">
                <?php echo $box->getContent(); ?>
            </div>
        <?php endif; ?>

        <?php if ($box->getLink() && !empty($buttonText)) : ?>
            <a href="<?php echo $box->getLink(); ?>" class="button balance-box-button">
                <span><span>
                    <?php echo $block->escapeHtml($buttonText); ?>
                </span></span>
            </a>
        <?php endif; ?>
    </div>

    <?php if ($box->getMobileImageUrl() || $box->getDesktopImageUrl() || $box->getTabletImageUrl()) : ?>
        <?php if ($block->isUsingImageUrl($box)) : ?>
            <a href="<?php echo $block->escapeXssInUrl($box->getLink()); ?>">
        <?php endif; ?>
        <div class="balance-box-image">
            <img alt="<?php echo $block->escapeHtml($box->getAltText()); ?>"
                 src="<?php echo $block->escapeXssInUrl($box->getDesktopImageUrl()); ?>"
                 data-mobile-image="<?php if($box->getMobileImageUrl()) {echo $block->escapeXssInUrl($box->getMobileImageUrl()); } ?> "
                 data-desktop-image="<?php if($box->getDesktopImageUrl()) {echo $block->escapeXssInUrl($box->getDesktopImageUrl());} ?>"
                 data-tablet-image="<?php if($box->getTabletImageUrl()){echo $block->escapeXssInUrl($box->getTabletImageUrl());} ?>"
                 class="balance-box-image"
                 id="js__balance-box-img-<?php echo $block->escapeQuote($box->getIdentifier()); ?>"/>
        </div>
        <?php if ($block->isUsingImageUrl($box)) : ?>
            </a>
        <?php endif; ?>
    <?php endif; ?>

</div>

<script>
require([
    'jquery',
    'balance/box'
], function ($) {

    var options = {
        mobileBreakpoint: 767
    };
    var $image  = $('#js__balance-box-<?php echo $block->escapeQuote($box->getIdentifier()); ?>');

    if($image.length) {
        $.balance.box(options, $image);
    }

    $(document).ready(function ($) {
        var bannerTextLength,
            buttonLink,
            bannerContainerId;

        $('.banner-button-text').each(function() {
            bannerTextLength = $(this).text().trim().length;
            if (!bannerTextLength) {
                buttonLink = $(this).closest('a').attr('href');
                bannerContainerId = $(this).closest('div.banner-container').attr('id');
                $('#' + bannerContainerId).on('click', function() {
                    window.location.href = buttonLink;
                });
                $(this).closest('a').remove();
            }
        });
    });
});
</script>
