// /**
//  * Copyright © 2018 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .gallery-placeholder {
        .amasty-label-container {
            &.top-center,
            &.bottom-center,
            &.middle-center,
            &.top-right,
            &.middle-right,
            &.bottom-right {
                right: 90px !important;
            }
        }
    }
}