<dl>
    <dt>The page you requested was not found, and we have a fine guess why.</dt>
    <dd>
        <ul class="disc">
            <li>If you typed the URL directly, please make sure the spelling is correct.</li>
            <li>If you clicked on a link to get here, the link is outdated.</li>
        </ul>
    </dd>
</dl>
<dl>
    <dt>What can you do?</dt>
    <dd>Have no fear, help is near! There are many ways you can get back on track with Magento Store.</dd>
    <dd>
        <ul class="disc">
            <li><a onclick="history.go(-1); return false;" href="#">Go back</a> to the previous page.</li>
            <li>Use the search bar at the top of the page to search for your products.</li>
            <li>Follow these links to get you back on track!<br/><a href="{{store url=""}}">Store Home</a> <span
                    class="separator">|</span> <a href="{{store url=" customer/account"}}">My Account</a></li>
        </ul>
    </dd>
</dl>