<div class="private-sales-index">
    <div class="box">
        <div class="content">
            <h1>Welcome to our Exclusive Online Store</h1>
            <p>If you are a registered member, please <a href="{{store url="customer/account/login"}}">sign in here</a>.</p>
        </div>
    </div>
</div>