<?php
/* @var \Balance\AheadworksBlog\Block\Post $block */
?>
<?php
/** @var \Aheadworks\Blog\Model\Post $_post */
$_post = $block->getPost();
if (is_null($_post)) {
    return;
}

$_postThumbnail = $block->getThumbnailUrl($_post);
$_postProjectTags = implode(', ', $_post->getData('project_tags'));
?>
<li class="recent-post-item">
    <?php if (strlen($_postThumbnail)): ?>
        <div class="post-thumbnail">
            <a href="<?= $block->getPostUrl($_post) ?>">
                <img src="<?= $_postThumbnail ?>"
                     class="thumbnail"
                     alt="thumbnail"
                     title="<?php /* @escapeNotVerified */ echo $_post->getTitle() ?>"/>
            </a>
        </div>
    <?php else: ?>
        <div class="post-thumbnail">
            <img src="<?= $block->getViewFileUrl('images/placeholder.jpg'); ?>"
                 class="thumbnail"
                 alt="thumbnail"
                 title="<?php /* @escapeNotVerified */ echo $_post->getTitle() ?>"/>
        </div>
    <?php endif ?>
    <div class="post-info">
        <div class="post-title">
            <a href="<?= $block->getPostUrl($_post) ?>"><?php /* @escapeNotVerified */ echo $_post->getTitle() ?></a>
        </div>
        <?php $categoryLinks = $block->getCategoryLinks() ?>
        <ul>
            <?php if ($linksCount = count($categoryLinks)): ?>
                <li>
                <span>
                    <?php /* @noEscape */ echo $categoryLinks[0] ?>
                    </span>
                </li>
            <?php endif; ?>

            <li>
            <span>
                <?php
                $time = strtotime($_post->getData('publish_date'));
                $month = date("F",$time);
                $date = date("d", $time);
                ?>
            <?php  echo $date.' '.$month  ?>
        </span>
            </li>
        </ul>
    </div>
</li>