/**
 * Magento 2 extensions for Afterpay Payment
 *
 * @author Afterpay <steven.gunarso@touchcorp.com>
 * @copyright 2016 Afterpay https://www.afterpay.com.au/
 */

/** afterpay.css */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-payment-method .payment-method #afterpaypayovertime.payment-method-content {
        padding-right: 22px;
    }

    .checkout-payment-method .payment-method._active #afterpaypayovertime.payment-method-content {
        overflow:hidden
    }

    #afterpaypayovertime-method .payment-method-note {
        font-size: 1.2rem;
        color: #a0a0a0;
        text-align: center;
    }

    #afterpaypayovertime-method .actions-toolbar {
        float: right;
        margin-top: 1.5rem;
        line-height: 1.1;
        width: 100%;
        text-align: center;
    }

    #afterpaypayovertime-method .payment-method-note h3 {
        color: #00a4e4;
        text-align: left;
    }

    #afterpaypayovertime-method .payment-method-note ul {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #afterpaypayovertime-method .payment-method-note ul li {
        width: 24%;
        display: inline-block;
    }

    #afterpaypayovertime-method .payment-method-note ul.cost li {
        font-size: 1.8rem;
        color: #153F72;
    }

    #afterpaypayovertime-method .afterpay-checkout-redirect {
        margin-top: 1rem;
        text-align: left;
        background-color: #f6f7f9;
        display: inline-block;
        padding: 15px;
    }

    #afterpaypayovertime-method .afterpay-checkout-redirect .instalment-footer {
        width: 100%;
        float: left;
    }

    .modal-popup.afterpay-learn-more .modal-inner-wrap .modal-footer button{
        display: none;
    }

    .modal-popup.afterpay-learn-more .action-close {
        padding: 10px;
    }

    .afterpay_instalments_logo {
        background-image: url("../images/afterpay/afterpay_logo.png");
        background-size: 76px 15px;
        display: inline-block;
        margin: 0 5px;
        height: 15px;
        vertical-align: middle;
        width: 76px;
    }

    .afterpay_checkout_steps {
        background-size: 12px 12px;
        vertical-align: middle;
        display: inline-block;
        height: 12px;
        width: 12px;
    }

    .afterpay_checkout_steps_1 {
        background-image: url("../images/afterpay/circle_1@2x.png");
    }
    .afterpay_checkout_steps_2 {
        background-image: url("../images/afterpay/circle_2@2x.png");
    }
    .afterpay_checkout_steps_3 {
        background-image: url("../images/afterpay/circle_3@2x.png");
    }
    .afterpay_checkout_steps_4 {
        background-image: url("../images/afterpay/circle_4@2x.png");
    }

    .checkout-methods-items button.btn-afterpay-checkout {
        padding: 13px 15px 10px 10px;
        width: 100%;
    }

    .modal-popup.afterpay-learn-more .modal-inner-wrap .afterpay-modal-image {
        display: none;
    }

    .modal-popup.afterpay-learn-more .modal-inner-wrap .afterpay-modal-image-mobile {
        display: block;
    }

    .modal-popup.afterpay-learn-more .modal-inner-wrap {
        width: 360px;
    }
    .afterpay-learn-more{
        .action-close{
            &:before{
                border-radius: 50%;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                .lib-font-size(18);
                .lib-line-height(18);
                content: @icon-simple__close;
                font-family: @font__simple-line;
                text-align: center;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    #afterpaypayovertime-method .actions-toolbar .primary {
        width: 100%;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    #afterpaypayovertime-method {
        .afterpay-checkout-redirect {
            .instalment-footer {
                width: 57%;
            }
        }
        .actions-toolbar {
            width: auto;
            margin-top: 0;
        }
    }
    .modal-popup {
        &.afterpay-learn-more .modal-inner-wrap {
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
            top: 50%;
            width: 659px;

            .afterpay-modal-image {
                display: block;
            }
            .afterpay-modal-image-mobile {
                display: none;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__mls) {
    #afterpaypayovertime-method .afterpay-checkout-redirect .instalment-footer {
        width: 65%;
    }
}
