// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Variables
//  _____________________________________________


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body.customer-account-login .login-container {
        display: inline-block;
        text-align: center;

        .block-new-customer {
            display: none;
        }
    }

    .customer-account-login {
        .page-main {
            background: url(../images/login-bg.png) no-repeat center;
            background-size: cover;
            min-height: 1080px;
            max-width: none;
        }
        .page-main .columns {
            max-width: 920px;
            min-height: 650px;
            background: rgba(255, 255, 255, 0.9);
            margin: 214px auto 0;
        }
        .page-top-section,
        .page-title-wrapper {
            display: none;
        }
        .login-container {
            padding: 0;
            .block-title,
            h3 {
                .lib-font-size(22);
                text-transform: none;
                line-height: 26px;
            }

            h4, h3 {
                font-weight: bold;
            }
            a,
            li,
            p {
                color: @color-black;
                .lib-font-size(13);
            }
            ul {
                li {
                    margin-bottom: 5px;
                    text-indent: 10px;
                    position: relative;
                    &:before {
                        content: "";
                        width: 4px;
                        height: 4px;
                        .lib-css(border-radius, 100%, 1);
                        position: absolute;
                        left: 0;
                        top: 9px;
                        background: url('../images/circle-icon.png') no-repeat 0 0;
                    }
                }
            }
            .block-customer-login {
                .actions-toolbar {
                    > .primary .action {
                        background: @color-black;
                        height: 50px;
                        line-height: 50px;
                        padding: 0 10px;
                    }
                    .secondary {
                        display: block;
                        margin-top: 22px;
                        padding-left: 0;
                        text-align: center;
                        width: 100%;
                        &.first {
                            display: none;
                        }
                        .action {
                            font-weight: normal;
                            margin-left: 5px;
                        }
                    }
                }
            }
            .note,
            .persistent .tooltip.wrapper,
            .fieldset .field label {
                display: none;
            }
            .fieldset .field input[type=checkbox] + label.label {
                color: @color-black;
                .lib-font-size(13);
                padding-left: 34px;
                letter-spacing: 0.4px;

                .action-remember {
                    float: right;
                }

                .s-first {
                    margin-right: 28px;
                }
                &:before {
                    background: none;
                    border-color: @color-form-border;
                    margin-top: -13px;
                    width: 20px;
                    height: 20px;
                }
                &:after {
                    color: @color-black !important;
                    .lib-font-size(11) !important;
                    font-weight: bold;
                    margin: -9px 0 0 2px;
                }
            }
            .fieldset .field {
                input.input-text {
                    border: 1px solid @color-form-border;
                    height: 50px;
                    padding: 23px 20px 18px 20px;
                }
            }

            .fieldset > .field {
                margin: 0 0 25px;
                &.choice {
                    margin: 2px 0 27px;
                }
            }

            input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: @color-light-grey;
            }
            input[type="text"]::-moz-placeholder { /* Firefox 19+ */
                color: @color-light-grey;
            }
            input[type="text"]:-ms-input-placeholder { /* IE 10+ */
                color: @color-light-grey;
            }
            input[type="text"]:-moz-placeholder { /* Firefox 18- */
                color: @color-light-grey;
            }
            input[type="text"]#search::placeholder { /* Firefox 18- */
                color: @color-light-grey;
                opacity: 1; /* Firefox */
            }

            .actions-toolbar > .primary {
                width: 100%;
            }
        }
        .login-logo {
            text-align: center;
            margin: 87px 0 70px;
            span {
                display: inline-block;
                width: 350px;
                height: 32px;
                text-indent: -9999em;
                background: url('../images/logo-lh.png') no-repeat -30px -30px;
            }
        }
        .persistent {
            float: left;
        }
    }

    .account {
        .block-collapsible-nav {
            .item:nth-child(5) {
                display: none;
            }
        }
        .block-dashboard-info {
            .block-newsletter-info {
                display: none;

            }
        }
    }

    .customer-account {
        .account-dropdown {
            .nav.item:nth-child(5) {
                display: none;
            }
        }
    }

    .customer-account-login .login-container .fieldset {
        .field input[type=checkbox] + label a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .customer-account-create {
        .breadcrumbs {
            display: none;
        }
        .page-main {
            background: url(../images/register-bg.png) no-repeat center;
            background-size: cover;
            max-width: none;
            text-align: center;

            .columns{
                max-width: 960px;
                background: rgba(255, 255, 255, 0.9);
            }
        }

        .create-account-wrapper {
            padding: @indent__xl;
        }

        .fieldset {
            > h3 {
                display: none;
            }

            > .field {
                float: left;
                margin-bottom: 0;
                text-align: left;

                > .label {
                    color: @color-black;
                    &:after {
                        color: @color-black;
                        margin-left: 2px;
                    }
                }

                &.webforms-fields-different_shipping {
                    padding-top: 0;
                    width: 100%;
                }

                &.webforms-fields-business_name,
                &.webforms-fields-shipping,
                &.webforms-fields-agent,
                &.webforms-fields-agree,
                &.webforms-fields-billing {
                    width: 100%;
                }

                &.webforms-fields-agree,
                &.webforms-fields-different_shipping {
                    > .label {
                        display: none;
                    }
                }
            }

            .field.choice > input[type="checkbox"] + label {
                padding-left: 45px;

                &:before {
                    height: 30px;
                    width: 30px;
                    margin-top: -15px;
                }

                &:after {
                    left: 9px;
                    margin-top: -7px;
                }
            }
        }

        .actions-toolbar {
            padding: 0 20px;

            > .primary , > .primary .action {
                width: 100%;
                text-align: center;
            }
        }

        .retailer-info {
            margin-bottom: 10px;
        }

        .different_shipping_address_fieldset {
            margin-bottom: 20px;
        }
    }

    .create-account-form {
        .messages {
            display: none;
        }
    }

    .create-account-title {
        h3 {
            .lib-font-size(22);
            font-weight: @font-weight__regular;
            text-transform: none;
            margin-bottom: @indent__m;
        }
        > p {
            margin-bottom: 0;
        }
    }

    .cms-customer-success {
        .breadcrumbs,
        .page-title-wrapper {
            display: none;
        }

        .page-main {
            background: url(../images/success-bg.png) no-repeat center;
            background-size: cover;
            max-width: none;
            text-align: center;

            .columns{
                max-width: 920px;
                background: rgba(255, 255, 255, 0.9);
            }

            h3 {
                font-family: @font__didot-regular;
                .lib-font-size(40);
                font-weight: @font-weight__regular;
                text-transform: none;
                .lib-line-height(45);
                margin: 0 auto;
                width: 50%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .account {
        .block-dashboard-info > div {
            width: 100%;
            max-width: 100%;
        }
    }

    .customer-account-create {
        .fieldset {
            .webforms-fields-account_type {
                .control .choice {
                    padding-right: @indent__s;
                    width: auto;
                    float: left;
                    vertical-align: middle;
                    margin-bottom: 0;
                    margin-top: 10px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .customer-account-login {
        div.login-container {
            position: relative;
            text-align: left;
            h4 {
                font-weight: bold;
                margin-bottom: 5px;
                border-top: 1px solid @color-form-border;
                margin-top: 20px;
                padding-top: 25px;
            }
            .block-title {
                text-align: left;
                padding-bottom: 33px;
            }
            .login-inner {
                padding: 0 5.4% 0 6.5%;
                width: 50%;
                border-right: 1px solid @color-form-border;
            }
            .block-customer-login {
                border: none;
                left: auto;
                right: 6.5%;
                top: 188px;
                width: 38%;
                padding: 0;
                position: absolute;
                .actions-toolbar > .primary .action {
                    background: @color-black;
                    width: 100%;
                }
            }
        }
    }

    .customer-account-create {
        .page-main {
            .columns{
                margin: 130px auto;
            }
        }
        .fieldset {
            > .field {
                padding: 15px 20px;
                text-align: left;
                float: left;
                width: calc(100%/2);
            }
        }
    }

    .cms-customer-success {
        .page-main {
            .columns{
                min-height: 650px;
                margin: 200px auto;
            }

            h3 + h3 {
                border-bottom: 1px solid @color-border;
                padding-bottom: @indent__xl * 2;
                margin-bottom: @indent__xl * 1.5;
            }

            figure {
                margin-top: @indent__xl;
                margin-bottom: @indent__xl * 3;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .customer-account-create {
        .page-main {
            padding-top: 0;

            .columns {
                margin: 20px auto !important;
            }

            .fieldset {
                .webforms-fields-account_type {
                    &.field > .label {
                        margin-bottom: 10px;
                    }
                    .control .choice {
                        padding-bottom: 10px;
                    }
                }
            }

            .actions-toolbar {
                padding: 0;
            }

            .retailer-info {
                margin-bottom: 0;
            }
        }

        .page-title-wrapper {
            display: none;
        }

        .page-footer {
            margin-top: 0;
        }

        .page-wrapper .page-header {
            margin-bottom: 30px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .customer-account-login main.page-main {
        background-repeat: repeat;
        background-position: center center;
        min-height: 0;
        .main {
            margin-bottom: 0;
        }
        .columns {
            padding: 30px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .login-logo {
            margin: 45px 0 50px;
            span {
                width: 252px;
                height: 26px;
                background: url(../images/b2b-logo-mobile.svg) no-repeat -20px -20px;
            }
        }
        div.login-container {
            .block-title,
            h3 {
                .lib-font-size(18);
                text-align: center;
            }
            .block-title {
                margin-bottom: 12px;
            }
            .fieldset > .field {
                margin-bottom: 15px;
                &.choice {
                    display: none;
                }
            }
            .block-customer-login {
                padding-bottom: 25px;
                margin-top: 30px;
                .actions-toolbar .secondary {
                    margin-top: 0;
                    margin-bottom: 0;
                    line-height: 100%;
                    &.first {
                        margin-top: 15px;
                        margin-bottom: 5px;
                        display: inline-block;
                    }
                    .action {
                        text-decoration: underline;
                    }
                }
            }
            .login-bottom-info {
                text-align: left;
                h4 {
                    margin-bottom: 5px;
                }
                ul {
                    margin-bottom: 40px;
                }
            }
        }
    }

    .customer-account-create {
        .page-main {
            .fieldset {
                > .field {
                    padding: 10px 0;
                    float: none;
                }

                .control .choice {
                    width: 100%;
                    padding-right: 0;
                }

                .field.choice > input[type="checkbox"] + label {
                    display: inline-block;
                }
            }
        }
    }

    .cms-customer-success {
        .page-main {
            padding: 20px;
            .columns {
                h3 {
                    border-bottom: 1px solid @color-border;
                    padding-bottom: @indent__xl;
                    margin-bottom: @indent__xl;
                    width: 60%;

                    + h3 {
                        display: none;
                    }
                }

                figure {
                    margin-top: @indent__xl;
                    margin-bottom: @indent__xl;
                }
            }

            .column > div {
                > p {
                    max-width: 50%;
                    margin: 10px auto;
                }

                p + p + p {
                    padding-bottom: @indent__xl;
                }
            }
        }

        .page-footer {
            margin-top: 0;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .account {
        .block-dashboard-info > div {
            width: 100%;
            max-width: 100%;
        }
    }
}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .customer-account{
        &-login {
            .login-container{
                .block-customer-login {
                    border: none;
                    padding: 0;
                    flex: none;
                    margin: 0 0 30px;
                    width: 100%;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .account {
        .block-dashboard-info > div {
            width: 100%;
            max-width: 100%;
        }
    }
}

