<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr class="grand totals">
    <th class="mark" colspan="1" scope="row">
        <strong data-bind="i18n: 'Total'"></strong>
    </th>
    <td class="amount" data-th="Order Total">
        <strong><span class="price" data-bind="text: getValue()"></span></strong>
    </td>
</tr>
