// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .block.filter {
        margin-bottom: 5px;

        .filter-title {
            background: #f7f7f7;
            padding: 20px 15px 15px;
            margin-bottom: @indent__base;
            position: relative;

            strong {
                .lib-font-size(13);
                text-transform: none;
            }

            .filter-actions {
                position: absolute;
                right: 12px;
                top: 50%;
                margin-top: -10px;

                .filter-clear {
                    text-decoration: none;
                    letter-spacing: 0.4px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .active-filter {
        display: block;
        .lib-font-size(12);
        color: #999;
        text-transform: capitalize;
        font-weight: 400;
    }

    .block-subtitle {
        display: inline-block;
        margin-bottom: @indent__s;
    }

    .filter-current {
        .item {
            margin-bottom: @indent__s;
        }

        .filter-label {
            display: block;
            font-weight: @font-weight__bold;
            text-transform: capitalize;
            &:after {
                content: ':';
            }
        }
        .filter-value{
            text-transform: capitalize;
        }
        + .filter-actions {
            margin-bottom: @indent__l;
        }
    }

    .filter-options-content {
        .filter-count-label {
            &:extend(.abs-visually-hidden all);
        }
    }

    .filter-options {
        margin: 0;
        .filter-options-item{
            .filter-options-title {
                &:after {
                    position: absolute;
                    right: 0;
                    top: 11px;
                    .lib-font-size(18);
                    content: @icon-simple__plus;
                    color: #6b6b6b;
                    font-family: @font__simple-line;
                }
            }
            &.active {
                .filter-options-title{
                    &:after {
                        content: @icon-simple__minus;
                        top: 11px;
                    }
                }
            }
        }
        .filter-options-title {
            border-top: 1px solid @color-form-border;
            color: #000;
            cursor: pointer;
            font-weight: @font-weight__bold;
            line-height: 22px;
            .lib-font-size(14);
            margin: 0;
            padding: 11px 0;
            position: relative;
            word-break: break-all;
            text-transform: capitalize;
            &:first-child {
                border-top: none;
            }

        }

        .filter-options-content {
            margin: 0 0 @indent__m;

            .item {
                margin-bottom: 3px;
            }

            a {
                font-family: @font-family__base;
                font-weight: normal;
                letter-spacing: 0.002px;
                text-decoration: none;
                .lib-font-size(13);
                .lib-line-height(25);

                &:hover,
                &:active {
                    text-decoration: underline;
                }

                input {
                    display: none;
                }
            }

            .count {
                display: none;
            }
        }

        .count {
            .lib-css(color, @text__color__muted);

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }

        .swatch-attribute.size,
        .swatch-attribute.manufacturer  {
            .swatch-option {
                background: #fff;
                border: 1px solid @color-form-border;
                border-radius: 50%;
                color: #000;
                padding: 0;
                .lib-line-height(40);
                font-weight: 400;
                margin-bottom: 10px;
                height: 40px;
                width: 40px;

                &:hover:not(.disabled) {
                    outline: none;
                    background: #000;
                    color: #fff;
                    border: 1px solid transparent;
                }
            }
        }

        .swatch-option {
            &.color {
                border-radius: 50%;
                width: 20px;
                height: 20px;
                min-width: 20px;

                &:hover:not(.disabled),
                &:active {
                    outline: none;
                    border: 1px solid #999;
                }
            }
        }
    }

    .items {
        &:extend(.abs-reset-list all);
    }

    .filtered {
        .items {
            margin: 15px 0;
        }

        .item {
            margin-bottom: 6px;
            padding-left: 22px;
            position: relative;

            .label {
                font-weight: @font-weight__bold;
            }

            .action.remove {
                &:extend(.abs-remove-button-for-blocks all);
                left: -6px;
                position: absolute;
                top: 0;
            }
        }

        & + .actions {
            margin-bottom: 35px;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .block.filter{
        .filter-title{
            padding: 0 20px;
            margin-bottom: 0;
            line-height: 50px;

            .filter-actions{
                top:0;
                margin-top: 0;
            }
        }
        .block-content{
            padding: 0 20px;
            dl{
                border-bottom: 1px solid @color-border;
            }
            dt{
                padding: 15px 0;
            }
        }
    }
    .filter-current{
        display: none;
    }
    .filter-options{
        .filter-options-title{
            cursor: pointer;
            &:after{
                right: 0;
                top: 18px;
            }
            &.ui-state-active{
                &:after{
                    top: 18px;
                }
            }
        }
        .filter-options-item{
            .filter-options-content{
                display: none !important;
            }
            &.selected,
            &.active{
                .filter-options-content{
                    display: block !important;
                }
            }
        }
    }

    .filter-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        pointer-events: none;
        opacity: 0;
        cursor: pointer;
        background: rgba(0,0,0,.5);
        .filter-opened & {
            pointer-events: auto;
            opacity: 1;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-with-filter {
        .columns {
            .sidebar-main {
                .lib-vendor-prefix-order(0);
            }
        }
    }
}
