<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<?php
$_product = $block->getProduct();
$_brand = $_product->getResource()->getAttribute('manufacturer')->getFrontend()->getValue($_product);
$brandCode = $_product->getData('manufacturer');
?>
<?php if ($_brand != 'No'): ?>
    <div class="product-brand">
        <a href="<?php echo $this->getUrl() . 'all-products?manufacturer=' . $brandCode; ?>"><?php echo $_brand; ?></a>
    </div>
<?php endif; ?>
