<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();
if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>
<?php if($_attributeLabel == 'Size Guide') :?>
    <?php if ($_attributeValue): ?>
        <div class="product attribute <?php /* @escapeNotVerified */ echo $_className?>">
            <?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php /* @escapeNotVerified */ echo $_attributeLabel?></strong><?php endif; ?>
            <div class="value" <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>>
                    <?php /* @escapeNotVerified */ echo $_attributeValue; ?>
            </div>
        </div>
    <?php endif; ?>

    <?php if($_className == 'size-guide' && $_attributeValue != ''): ?>
        <?php if ($block->getProduct()->getTypeId() != 'configurable'): ?>
            <span id="size-chat-button" class="toogle-action">sizing guide</span>
        <?php endif; ?>
        <script type="text/javascript">
            require([
                'jquery',
                'Magento_Ui/js/modal/modal'
            ], function ($, modal) {

                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    autoPosition: true,
                    title: 'Sizing Guide',
                    modalLeftMargin: 0,
                    clickableOverlay: false,
                    buttons: []
                };

                if($('.size-guide').length) {
                    var popup = modal(options, $('.size-guide'));
                    $(document).on('click', '#size-chat-button', function(){
                        $('.size-guide').modal('openModal');
                    });
                }
            });
        </script>
    <?php endif; ?>
<?php endif; ?>