<?php

/** @var $block \Magento\Tax\Block\Item\Price\Renderer */

$_item = $block->getItem();
/** @var \Linenhouse\Checkout\Helper\OriginPrice $_helper */
$_helper = $this->helper(\Linenhouse\Checkout\Helper\OriginPrice::class);
if($_item->getProductType() == 'configurable') {
    $_regular = $_item->getBaseOriginalPrice();
} else {
    $_regular = $_helper->getPriceType($_item, \Magento\Catalog\Pricing\Price\RegularPrice::PRICE_CODE);
}
?>
<span class="old-price sly-old-price" data-label="<?php echo $block->escapeHtml(__('Excl. Tax')); ?>">
    <span class="price-container price-final_price">
        <span data-price-type="oldPrice" class="price-wrapper">
            <span class="price"><?php /* @escapeNotVerified */ echo $block->formatPrice($_regular) ?></span>
        </span>
    </span>
</span>