 /**
  * Copyright © 2016 Magento. All rights reserved.
  * See COPYING.txt for license details.
  */

 
 @font-face {
     font-family: 'Futura';
     src:  url('fonts/FuturaPT-Book.eot');
     src:  url('fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
     url('fonts/FuturaPT-Book.woff2') format('woff2'),
     url('fonts/FuturaPT-Book.woff') format('woff'),
     url('fonts/FuturaPT-Book.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: 'Futura';
     src: url('fonts/FuturaPT-Medium.eot');
     src: url('fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
     url('fonts/FuturaPT-Medium.woff2') format('woff2'),
     url('fonts/FuturaPT-Medium.woff') format('woff'),
     url('fonts/FuturaPT-Medium.ttf') format('truetype');
     font-weight: 600;
     font-style: normal;
 }
 @font-face {
     font-family: 'FontAwesome';
     src:url('fonts/fontawesome-webfont.eot?v=4.7.0');
     src:url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
     url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
     url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
     url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
     url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 .fa {
     display: inline-block;
     font: normal normal normal 17px/1 FontAwesome;
     text-rendering: auto;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     margin: 0 18px 0 2px;
     position: relative;
     top: 2px;
 }


 
html {
    /* For some Androids */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #333;
    font-family: 'Futura', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.714386;
    margin: 0;
    padding: 0;
    letter-spacing: 0.7px;
}

h1 {
    font: 28px/34px 'Futura', Helvetica, Arial, sans-serif;
    margin: 0 0 27px;
    text-transform: uppercase;
    color: #666;
    letter-spacing: 2.5px;
}

h2 {
    font: 600 14px/24px 'Futura', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #333;
    margin: 0;
}

p {
    margin: 0 0 27px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

img{
    vertical-align: top;
}

.content-holder {
    display: flex;
    height: 100%;
}

.content {
    margin: auto;
    max-width: 400px;
}

.header {
    margin: 0 0 53px;
}

.block {
    display: block;
    padding: 0 0 0 38px;
}

 .fa-envelope-o:before {
     content: "\f003";
 }

 .fa-phone {
     margin-right: 22px;
 }

 .fa-phone:before {
     content: "\f095";
 }
