/* !IE - IE7 and below will still apply this rule  \*/
@media only screen and (min-width: 1025px) {
	.gallery-placeholder .amasty-label-container.bottom-center {
		display: block !important;
		width: 200px;
		height: 90px;
	}
	.gallery-placeholder .bottom-center .amasty-label-text {
		top: 50px;
	}
}