// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Theme variables
//  _____________________________________________

@color-b2b-black: #212121;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-cart-index {
        .columns  {
            .column.main {
                #afterpay-modal-popup {
                    display: none !important;
                }
            }
        }
    }
    .page-wrapper {
        .page-header {
            background: @color-white;

            .minicart-wrapper .action.showcart,
            .header-wrapper-right.linen-au .account-link > a,
            .block-search.linen-au .block-title {
                &:before {
                    color: @color-black;
                }
            }

            .nav-toggle > span {
                color: @color-black;
                background: @color-black;
            }

            .close-search a {
                color: @color-white;
            }
        }

        .footer-top-inner .item.last {
            padding: 0;
            text-align: center;
            width: 100%;
            p {
                .lib-font-size(13);
                text-transform: none;
            }
            ul {
                display: inline-block;
            }
            li {
                float: left;
                text-align: center;
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                    margin-left: 30px;
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        left: -30px;
                        top: -8px;
                        height: 40px;
                        width: 1px;
                        background: #fff;
                    }
                }
            }
        }

        .footer.copyright .payments-list {
            display: none;
        }

        .additional-navigation {
            background: @color-b2b-black;
        }
    }

    .header.panel ul li,
    .header.panel div li {
        color: @color-b2b-black;

        &.active {
            > span {
                &:after {
                    content: @icon-simple__caret-up;
                }
            }
        }

        .customer-account {
            border: 1px solid @color-b2b-black;
            &:before {
                top: 0;
            }
        }
    }

    .checkout-cart-index {
      .cart-summary .cart-payment-list {
        display: none;
      }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .page-header {
        .header.content {
            padding: 45px 15px 15px;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .block-search #algolia-searchbox .algolia-search-input#search {
        border: 1px solid @color-form-border;
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__ls) and (@extremum2 = 'max') and (@break2 = @screen__xl) {
    .block-search{
        &.linen-au{
            &.active{
                .block-content{
                    left: 50%;
                    top: 36px;
                    .lib-css(transform,translate(-50%, 0),1);
                    width: 80%;
                }
            }
        }
    }
}