<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Sales\Block\Order\Totals
 * @see \Magento\Sales\Block\Order\Totals
 */
?>
<?php foreach ($block->getTotals() as $_code => $_total): ?>
    <?php
    if($tax = $block->getTotal('tax'))
    {
        $block->removeTotal('tax');
        $block->addTotal($tax, 'grand_total_incl');
    }
    ?>
    <?php
    if($tax = $block->getTotal('grand_total'))
    {
        $block->removeTotal('grand_total');
    }
    ?>
<?php endforeach?>
<?php foreach ($block->getTotals() as $_code => $_total): ?>
    <?php
    if($_code == 'tax') {
        $_total->setLabel('INC GST');
    }
    if($_code =='grand_total_incl') {
        $_total->setLabel('TOTAL');
    }
    ?>
    <?php if ($_total->getBlockName()): ?>
        <?php //echo $block->getChildHtml($_total->getBlockName(), false); ?>
        <?php
        $totalBlock =  $block->getChildBlock($_total->getBlockName());
        $totalBlock->setData('title', $_total->getLabel());
        echo $totalBlock->toHtml();
        ?>
    <?php else:?>
    <tr class="<?php /* @escapeNotVerified */ if($_code =='grand_total_incl') {
        echo 'grand_total';
    }else {echo $_code;} ?>">
        <th <?php /* @escapeNotVerified */ echo $block->getLabelProperties()?> scope="row">
            <?php if ($_total->getStrong()):?>
            <strong><?php echo $block->escapeHtml($_total->getLabel());?></strong>
            <?php else:?>
                <?php if(strtolower($_total->getLabel()) =='tax'): ?>
                    <?php /* @escapeNotVerified */ echo __('INC GST'); ?>
                <?php else: ?>
                    <?php echo $block->escapeHtml($_total->getLabel());?>
                <?php endif?>
            <?php endif?>
        </th>
        <td <?php /* @escapeNotVerified */ echo $block->getValueProperties()?> data-th="<?php echo $block->escapeHtml($_total->getLabel());?>">
            <?php if ($_total->getStrong()):?>
            <strong><?php /* @escapeNotVerified */ echo $block->formatValue($_total) ?></strong>
            <?php else:?>
            <?php /* @escapeNotVerified */ echo $block->formatValue($_total) ?>
            <?php endif?>
        </td>
    </tr>
    <?php endif?>
<?php endforeach?>
