& when (@media-common = true) {
  .toogle-search{
    display: none;
  }

  #algolia-searchbox{
    .magnifying-glass{
      background: none;
      top: 7px;
      &:after{
        .simple-icon();
        content: @icon-simple__search;
        color: @color-dark-grey;
        .lib-font-size(17);
      }
      .linen-au &{
      	visibility: hidden;      
      }
    }
    .algolia-search-input{
      &#search {
        &:focus{
          border: 1px solid @color-border;
        }
        .placeholder({
          .lib-font-size(13);
          color: @color-light-grey;
        });
      }
    }
  }
  .aa-dropdown-menu{
    width: 57%;
    top: -23px !important;
    background: @color-white;
    border: 1px solid @color-border;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    h3, .category{
      .lib-font-size(14px);
      color: @color-black;
      text-transform: uppercase;
      font-weight: @font-weight__bold;
      letter-spacing: 0.25px;
      line-height: 20px;
    }
    .algoliasearch-autocomplete-hit .info {
      margin-left: 95px;
      overflow: hidden;
      .lib-font-size(13);
      font-weight: normal;
      text-transform: uppercase;
      line-height: 18px;
      letter-spacing: 0.2px;
      em {
        color: @color-black;
        font-weight: normal;
      }
    }
    .algoliasearch-autocomplete-category {
      em {
        color: @color-black;
        font-weight: normal;
      }
    }
    .aa-dataset-products{
      .algoliasearch-autocomplete-hit{
        padding: 14px 0 14px 5px;
      }
    }
    .algoliasearch-autocomplete-price{
      .lib-font-size(13);
      color: @color-black;
      margin-top: 5px;
      .after_special{
        font-weight: @font-weight__bold;
      }
      .before_special{
        font-weight: @font-weight__bold;
      }
    }
  }
  #algolia-autocomplete-container {
    .aa-dropdown-menu {
      .algoliasearch-autocomplete-hit {
        em {
          color: @color-black;
        }
      }
    }
  }
  .footer_algolia{
    display: none;
  }
  #autocomplete-products-footer{
    margin-top: 8px;
    text-align: center;
    font-weight: @font-weight__regular;
    .lib-font-size(12);
    padding: 15px 0;
        border-top: 1px solid @color-border;
        a{
          font-weight: @font-weight__bold;
        }

      }
  .aa-dataset-products {
    #autocomplete-products-footer {
      span {
        font-weight: @font-weight__bold;
      }
    }
  }
      .autocomplete-wrapper{
        .col12{
          width: 100%;
          padding: 18px 30px 0;
          &:last-child{
        padding: 30px;
        border-top: 1px solid @color-border;
      }
    }
  }
  .clear-cross {
    background: url('../images/icons/close.svg') no-repeat;
    background-size: contain;
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
  .block-search {
    #algolia-searchbox {
      .clear-query-autocomplete {
        bottom: 29px;
        right: 20px;
      }
      .algolia-search-input{
        &#search {
          border-width: 0 0 1px;
          height: 35px;
          .placeholder({
            text-align: center;
          });
        }
      }
      .magnifying-glass{
        bottom: 6px;
        right: 15px;
      }
    }
    .clear-cross {
      top: 33px;
    }
  }
  #algolia-autocomplete-container {
    .aa-dropdown-menu{
      top: 34px !important;
      width: 100vw;
      z-index: 2003 !important;
    }
  }
  .autocomplete-wrapper{
    padding: 5px 10px;
    .col3, .col9{
      width: 100%;
    }
  }
  .aa-dataset-products{
    .aa-suggestions{
      .aa-suggestion{
        .lib-layout-column(12, 1, 6);
        .lib-column-gutter(12);
        margin-bottom: 10px;
        &:nth-child(2n + 2){
          margin-right: 0;
        }
      }
    }
  }
  .other-sections{
    padding: 20px 10px;
    .lib-clearfix();
    .aa-dataset-0{
      .lib-layout-column(12, 1, 7);
      .lib-column-gutter(12);
    }
    .aa-dataset-1{
      .lib-layout-column(12, 1, 5);
      margin-right: 0;
    }
  }
  #autocomplete-products-footer{
    border-top: 1px solid @color-form-border;
    border-bottom: 1px solid @color-form-border;
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {

  #algolia-searchbox {
    .clear-query-autocomplete {
      right: 15px;
      &.clear-cross {
        right: 25px;
      }
    }
    .algolia-search-input{
      &#search {
        height: 40px;
        border: 1px solid #707070;
        padding-right: 50px;
        padding-left: 45px;
      }
    }
    
	.linen-au &{
		.clear-query-autocomplete{
			&.clear-cross{			
			        bottom: 10px;
			        width: 20px;
			        height: 20px;
			        font-size: 0;
			        background: #ccc;
			        border-radius: 20px;
			        -webkit-border-radius: 20px;
			        overflow: hidden;
                    display: none!important;

			        &:before{
			          width: 20px;
			          height: 20px;
			          line-height: 20px;
			          font: 21px @font__simple-line;
			          color: @color-white;
			          content: "\ea52";
			          position: absolute;
			          top: -1px;
			          left: 0;
			          -webkit-transform: rotate(45deg);
			          -moz-transform: rotate(45deg);
			          -ms-transform: rotate(45deg);
			          -o-transform: rotate(45deg);
			          transform: rotate(45deg);
			        }
			}
		}
	}
  }
  #algolia-autocomplete-container {
    .aa-dropdown-menu{
      top: 5px !important;
      border-top: none;
      min-width: 980px;
      &:before{
        content: '';
        position: absolute;
        top: -8px;
        display: block;
        left: 19px;
        .triangle(top, 16px, 8px, @color-white);
      }
      .other-sections{
        .aa-suggestion{
          .info-without-thumb{
            font-weight: @font-weight__bold;
            .lib-font-size(12);
            color: @color-light-grey;
            .details{
              + em{
                color: @color-light-grey;
                font-weight: normal;
              }
            }
          }
        }
      }
      .aa-suggestions{
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        .aa-suggestion{
          display: inline-block;
          &:nth-child(3n + 3){
            margin-right: 0;
          }
        }
      }
    }
    &.linen-au{
	    padding: 0 15px;
	    margin: 0 auto;
	    max-width: @layout__max-width;
	    position: relative;
	    z-index: 1001;
	    
	.aa-dropdown-menu{
		width: calc(~"86% - 38px");
		max-width: 976px;
		
		&:before{
			display: none;
		}
	}
	.autocomplete-wrapper{
		min-width: 0;	
	}	
    }
  }
  .autocomplete-wrapper{
    padding: 25px 45px 30px;
    min-width: 980px;
    .col3{
      .lib-layout-column(12, 1, 2.5);
      .lib-column-gutter(12);
      border-right: 1px solid #dddddd;
      padding-right: 20px;
    }
    .col9{
      .lib-layout-column(12, 2, 9.5);
      .lib-column-gutter(0);
      margin: 0;
    }
  }
  .aa-dataset-products{
    .aa-suggestions{
      .aa-suggestion{
        .lib-layout-column(12, 1, 4);
        .lib-column-gutter(12);
        margin-bottom: 10px;
        &:nth-child(3n + 3){
          margin-right: 0;
        }
      }
    }
  }
}

