<?php
/**
 * Copyright © 2017 Balance Internet Pty., Ltd. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block Magento\Newsletter\Block\Subscribe
 */

$isHomePage = ($block->getRequest()->getFullActionName() === 'cms_index_index');
?>
<?php if ($isHomePage) : ?>
    <div class="block newsletter popup" id="subscriber-popup">
        <h3>Join our family</h3>
        <div class="content">
            <p><?php /* @escapeNotVerified */ echo __('Sign up to receive news on latest releases, sales & promotions') ?></p>
            <form class="form subscribe popup"
                  novalidate
                  action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
                  method="post"
                  data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                  id="newsletter-validate-detail">
                <div class="field newsletter">
                    <div class="control">
                        <input name="email" type="email" id="newsletter"
                               placeholder="<?php /* @escapeNotVerified */ echo __('Email Address') ?>"
                               data-validate="{required:true, 'validate-email':true}"/>
                    </div>
                </div>
                <div class="actions">
                    <button class="action subscribe primary" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
                        <span><?php /* @escapeNotVerified */ echo __('Subscribe') ?></span>
                    </button>
                </div>
            </form>
        </div>
        <p><?php /* @escapeNotVerified */ echo __('Take') ?>
            <a href="/customer/account/create"><?php /* @escapeNotVerified */ echo __('$15') ?></a>
            <?php /* @escapeNotVerified */ echo __('off your first order') ?>
        </p>
    </div>
    <script type="text/javascript">
        require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal',
                'jquery/jquery.cookie',
                'domReady!'
            ], function ($, modal) {
                var actionName = '<?php echo $block->getRequest()->getFullActionName(); ?>';
                modal({
                    type: 'popup',
                    autoOpen: false,
                    modalClass: 'popup-subscribe',
                    responsive: true,
                    innerScroll: true,
                    actionName: actionName,
                    closed: function () {
                        $.cookie('hide_popup', true, {expires: 5});
                    },
                    buttons: [{
                        attr: {style: 'display:none'}
                    }]
                }, $('#subscriber-popup'));

                $(document).on('submit', 'form.subscribe.popup', function () {
                    if ($(this).validation('isValid')) {
                        $.cookie('hide_popup', true, {expires: 5});
                    }
                });
            }
        )
    </script>
<?php endif; ?>
