<?php

/**
 *
 * Default Box template
 *
 * @package   Balance_Box
 * @author    Balance Internet Team  <info@balanceinternet.com.au>
 * @copyright Copyright (c) 2016, Balance Internet  (http://www.balanceinternet.com.au/)
 *
 * @var $block \Balance\Box\Block\BannerBox
 *
 */

$box = $block->getBox();
if (!$box->getData()) {
    return;
}
$isExistVideo = false;
$boxSingleClassDefault = 'category-banner-balance-box balance-box-default balance-box';
$boxSingleClassDynamic = $box->getIdentifier() . ' ' . $box->getLayoutClass() . ' ' . $block->getCssClass();
$balanceBoxSingleClass = $boxSingleClassDefault . '-' . $boxSingleClassDynamic;

?>
<div id="js__categorybanner-balance-box-<?php echo $block->escapeQuote($box->getIdentifier()); ?>"
     class="<?php echo $block->escapeQuote($balanceBoxSingleClass); ?> balance-box-type-<?php echo $box->getType(); ?>">

    <?php if ($box->getShowTextBlock()) : ?>
        <div class="balance-box-container <?php echo $block->escapeQuote($box->getTextBlockColour()); ?>"
             style="background-color: <?php echo ($block->escapeQuote($box->getBlockBackground()))?$block->escapeQuote($box->getBlockBackground()):'transparent'; ?>">
            <?php if ($box->getHeading()) : ?>
                <h2 class="balance-box-heading">
                    <?php echo $block->escapeHtml($box->getHeading()); ?>
                </h2>
            <?php endif; ?>

            <?php if ($box->getContent()) : ?>
                <div class="balance-box-content std">
                    <?php echo $box->getContent(); ?>
                </div>
            <?php endif; ?>

            <?php if ($block->isUsingButtonUrl($box)) : ?>
                <a href="<?php echo $block->escapeXssInUrl($box->getLink()); ?>"
                   class="button balance-box-button">
                    <span><span><?php echo $block->escapeHtml($box->getButtonText()); ?></span></span>
                </a>
            <?php endif; ?>
        </div>
    <?php endif; ?>

    <?php if ($box->getMobileImageUrl() || $box->getDesktopImageUrl() || $box->getTabletImageUrl()) : ?>
        <?php if ($block->isUsingImageUrl($box)) : ?>
            <a href="<?php echo $block->escapeXssInUrl($box->getLink()); ?>">
        <?php endif; ?>
        <img alt="<?php echo $block->escapeHtml($box->getAltText()); ?>"
             data-mobile-image="<?php echo $block->escapeXssInUrl($box->getMobileImageUrl()); ?>"
             data-desktop-image="<?php echo $block->escapeXssInUrl($box->getDesktopImageUrl()); ?>"
             data-tablet-image="<?php echo $block->escapeXssInUrl($box->getTabletImageUrl()); ?>"
             class="balance-box-image"
             id="js__balance-box-img-<?php echo $block->escapeQuote($box->getIdentifier()); ?>"/>
        <?php if ($block->isUsingImageUrl($box)) : ?>
            </a>
        <?php endif; ?>
    <?php endif; ?>

    <?php if ($box->getType() == 'video') : ?>
        <iframe id="js__balance-box-video-<?php echo $block->escapeQuote($box->getIdentifier()); ?>" class="balance-box-video" src="<?php echo $this->convertYoutubeUrl($box->getVideoLink()); ?>" frameborder="0"></iframe>
        <div class="balance-box-video-button">
            <div class="balance-box-video-button-outer">
                <div class="balance-box-video-button-inner">
                    <a class="button video-button">
                        <span><span><?php echo __('play video'); ?></span></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="video-status"></div>
    <?php endif; ?>

</div>


<script>
    require([
        'jquery',
        'balance/box',
        'domReady!'
    ], function ($) {
        var options = {
            imgSelector: '.balance-box-image',
            videoOptions: {
                videoSelector: '.balance-box-video',
                useImageVideo: false,   //example: video id is AkyQgpqRyBY, then image of video has link http://img.youtube.com/vi/AkyQgpqRyBY/0.jpg
                bpWidths: {
                    mobile: { width: 320 },
                    tablet: { width: 770 },
                    desktop: { width: 1565 }
                },
                apiOptions: {
                    id: 'js__balance-box-video-<?php echo $block->escapeQuote($box->getIdentifier()); ?>',   // id of place holder|iframe
                    config: {
                        events: {
                            'onReady': function(event){
                                $(".video-status").html("ready");
                                var videoPlayer = (event.target.a)?event.target.a:event.target.h;
                                $(videoPlayer).next('.balance-box-video-button').find('.button').on('click',function(){
                                    $(videoPlayer).data('player').obj.playVideo();
                                });
                            },
                            'onStateChange': function(event) {
                                var playerStatus = event.data, msg = [], videoPlayer = (event.target.a)?event.target.a:event.target.h;
                                msg[-1] = 'unstarted';
                                msg[0] = 'ended';
                                msg[1] = 'playing';
                                msg[2] = 'paused';
                                msg[3] = 'buffering';
                                msg[5] = 'cued';
                                if (msg[playerStatus]) {
                                    $(".video-status").html(msg[playerStatus]);
                                    if(msg[playerStatus]=='playing') {
                                        $(videoPlayer).closest('.balance-box-type-video').addClass('balance-box-video-playing');   // support for style
                                    }
                                    if(msg[playerStatus]=='ended') {
                                        $(videoPlayer).closest('.balance-box-type-video').removeClass('balance-box-video-playing');   // support for style
                                    }
                                }
                            }
                        }
                    }
                },
                iframeAlready: true
            }
        };
        var $single = $('#js__categorybanner-balance-box-<?php echo $block->escapeQuote($box->getIdentifier()); ?>');
        $.balance.box(options, $single);
    });
</script>