<?php /** @var \Linenhouse\Cart\Block\Configurable\Product\Options $block */ ?>
<?php if ($_options = $block->getOptionList()):?>
    <dl class="item-options">
        <?php foreach ($_options as $_option) : ?>
            <dt><?php echo $block->escapeHtml($_option['label']) ?>:</dt>
            <dd>
                <?php /* @escapeNotVerified */ echo $_option['value'] ?>
            </dd>
        <?php endforeach; ?>
    </dl>
<?php endif;?>