//
//  Linen theme variables
//  _____________________________________________

// Layout
@layout__max-width: 1440px;
@gutter-width: 0.3;
@total-columns: 12;
@layout-indent__width: 15px;
@layout__width-xs-indent: 15px;
@grid-gutter-width-desktop: 15px;
@grid-gutter-width-tablet: 15px;

// Responsive brakepoints
@screen__xxs:  320px;
@screen__xls:  360px;
@screen__xss:  370px;
@screen__xs:   480px;
@screen__s:    640px;
@screen__m:    768px;
@screen__m1:   769px;
@screen__ls:   980px;
@screen__l:    1025px;
@screen__mls:  1200px;
@screen__xl:   1440px;

//
//  Responsive
//  _____________________________________________

//
//  Media variables, that can be used for splitting styles into several files
//  ---------------------------------------------

@media-common: true; // Sets whether to output common styles (true|false)
@media-target: 'all'; // Sets target device for styles output (all|desktop|mobile)

//
//  Media width mixin used to group styles output based on media queries
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xss) {}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xls) {}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m1) {}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__mls) {}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum = 'max') and (@break = @screen__m) {}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__m) and (@extremum = 'max') and (@break = @screen__l) {}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__m) and (@extremum = 'max') and (@break = @screen__ls) {}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__ls) and (@extremum2 = 'max') and (@break2 = @screen__xl) {}
//
//  Style groups for 'mobile' devices
//  ---------------------------------------------

& when (@media-target = 'mobile'), (@media-target = 'all') {
    @media only screen and (max-width: (@screen__xs - 1)) {
        .media-width('max', @screen__xs);
    }

    @media only screen and (max-width: (@screen__xls + 1)) {
        .media-width('max', @screen__xls);
    }

    @media only screen and (max-width: (@screen__xls)) {
        .media-width('max', @screen__xls);
    }

    @media only screen and (max-width: (@screen__xss)) {
        .media-width('max', @screen__xss);
    }

    @media only screen and (max-width: (@screen__xss - 1)) {
        .media-width('max', @screen__xss);
    }

    @media only screen and (max-width: (@screen__s - 1)) {
        .media-width('max', @screen__s);
    }

    @media only screen and (max-width: (@screen__m - 1)) {
        .media-width('max', @screen__m);
    }

    @media only screen and (max-width: (@screen__m1 - 1)) {
        .media-width('max', @screen__m1);
    }

    @media only screen and (max-width: (@screen__mls - 1)) {
        .media-width('max', @screen__mls);
    }

    @media only screen and (max-width: (@screen__ls - 1)) {
        .media-width('max', @screen__ls);
    }

    @media only screen and (max-width: (@screen__l - 1)) {
        .media-width('max', @screen__l);
    }
    @media only screen and (max-width: (@screen__ls - 1)) {
        .media-width('max', @screen__ls);
    }

    @media all and (min-width: @screen__s) {
        .media-width('min', @screen__s);
    }

    @media all and (min-width: @screen__xs){
        .media-width('min', @screen__xs);
    }

    @media all and (min-width: @screen__m) and (max-width: (@screen__l - 1)){
        .media-width('min', @screen__m, 'max', @screen__l);
    }
    @media all and (min-width: @screen__m) and (max-width: (@screen__ls - 1)){
        .media-width('min', @screen__m, 'max', @screen__ls);
    }
    @media all and (min-width: @screen__s) and (max-width: (@screen__m - 1)){
        .media-width('min', @screen__s, 'max', @screen__m);
    }
    @media all and (min-width: @screen__s) and (max-width: (@screen__ls - 1)){
        .media-width('min', @screen__s, 'max', @screen__ls);
    }
    @media all and (min-width: @screen__s) and (max-width: (@screen__l - 1)){
        .media-width('min', @screen__s, 'max', @screen__l);
    }
}

//
//  Style groups for 'desktop' devices
//  ---------------------------------------------

& when (@media-target = 'desktop'), (@media-target = 'all') {

    @media all and (min-width: @screen__m),
    print {
        .media-width('min', @screen__m);
    }

    @media all and (min-width: @screen__m1),
    print {
        .media-width('min', @screen__m1);
    }

    @media all and (min-width: @screen__ls),
    print {
        .media-width('min', @screen__ls);
    }

    @media all and (min-width: @screen__l),
    print {
        .media-width('min', @screen__l);
    }

    @media all and (min-width: @screen__mls),
    print {
        .media-width('min', @screen__mls);
    }

    @media all and (min-width: @screen__xl),
    print {
        .media-width('min', @screen__xl);
    }
    @media all and (min-width: @screen__ls) and (max-width: (@screen__xl - 1)){
        .media-width('min', @screen__ls, 'max', @screen__xl);
    }
}
