<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<li class="authorization-link about-us">
    <a href="<?php /* @escapeNotVerified */ echo $block->getBaseUrl() . 'about-us' ?>">
        <span><?php /* @escapeNotVerified */echo __('About Us') ?></span>
    </a>
</li>
