//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .aw-blog-index-index {
    #aw-ajax-container {
      padding-top: 0;
      margin-top: 0;
      border-top: 0;
    }
    .page-top-holder {
      .container();
    }
    .blog-content {
      text-align: center;
      padding: 0 15%;
      font-size: 1.4rem;
      letter-spacing: @default-letter-spacing;
      > p {
        margin-bottom: 0;
      }
      .link-more {
        text-transform: capitalize;
      }
    }
    .mobile-blog {
      text-align: center;
      width: 100%;
      padding: 0.5rem;
      border: 1px solid @color-border;
      display: none;
      span {
        text-transform: uppercase;
        color: @color-grey-red;
        font-size: 1.4rem;
        position: relative;
        cursor: pointer;
        font-weight: @font-weight__semibold;
        &:before {
          content: "\f107";
          font-family: @font-awesome;
          font-size: 1.6rem;
          position: absolute;
          width: 2.0rem;
          height:  2.0rem;;
          right: -2.5rem;
          top: -0.5rem
        }
      }
      &.active {
        span {
          &:before {
            content: "\f106";
          }
        }
      }
    }
  }
  #aw-ajax-block-tabs-wrapper {
    margin-top: 2.2rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid @color-border;
    margin-bottom: 2.5rem;
    ul {
      padding: 0 15%;
      text-align: center;
      margin-bottom: 0;
      li {
        display: inline-block;
        padding: 0 1.5rem;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: @font-weight__bold;
        letter-spacing: @title-letter-spacing;
        color: @color-grey;
        margin-bottom: 0;
      }
    }
  }

  .recent-post-item-btn-holder {
    text-align: center;

    .action.primary {
      width: auto;
      min-width: 85px;
      height: 30px;
      line-height: 28px;
    }
  }

  div.aw-blog-posts {
    > ul {
      margin: 0;
      > li {
        &.recent-post-item {
          /*  width: ~'calc( (100%) / 2 - 1.5rem )';*/
          width: 50%;
          margin: 0 0 3rem;
          > .post-thumbnail {
            max-height: 38rem;
            padding-bottom: 0;
            > a {
              display: block;
              position: relative;
            }
            img {
              position: relative;
              width: 100%;
              max-height: 38rem;
              -o-object-fit: cover;
              object-fit: cover;
            }
          }
          > .post-info {
            position: relative;
            background: @color-white;
            color: @color-grey;
            .lib-font-size(14);
            line-height: 24px;

            .post-title {
              a {
                font-size: 2.2rem;
                letter-spacing: @letter-spacing-l;
                font-weight: @font-weight__regular;
                line-height: 3.2rem;
              }
            }

            ul {
              max-width: 460px;
            }
          }
          .post-short-content {
            max-width: 43rem;
            padding: 0 1.5rem;
            margin: 0 auto 1.5rem;
            font-size: 1.5rem;
            color: @color-grey;
            line-height: 2.4rem;

          }
          .action-toolbar {
            .primary {
              height: 4rem;
              line-height: 3.8rem;
              max-width: 9.5rem;
              font-size: 1.4rem;
              font-weight: @font-weight__regular;
              border-color: @color-grey-red;
              color: @color-grey-red;
              letter-spacing: @title-letter-spacing;
              &:hover,
              &:active,
              &:focus {
                color: @color-white;
                background: @color-grey-red;
              }
            }
          }
        }
      }
    }
  }


  .blog-post {
    &-title {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    &-header {
      text-align: center;
    }
    &-info-item {
      .st {
        &_facebook,
        &_twitter,
        &_googleplus,
        &_pinterest,
        &_linkedin {
          display: inline-block;
          margin-right: 0.8rem;
        }


      }
    }
    &-info {
      .stButton {
        .facebook,
        .twitter,
        .googleplus,
        .pinterest,
        .linkedin {
          position: relative;
          background: none;
          &:before {
            position: absolute;
            color: @color-grey;
            font-family: @font-awesome;
            top: 0;
            left: 0;
            font-size: 2.5rem;
          }
        }

        .facebook {
          &:before {
            content: "\f082";
          }
        }
        .twitter {
          &:before {
            content: "\f081";
          }
        }
        .googleplus {
          &:before {
            content: "\f0d4";
          }
        }
        .pinterest {
          &:before {
            content: "\f0d3";
          }
        }
        .linkedin {
          &:before {
            content: "\f08c";
          }
        }
      }
    }
    &-author {
      display: none;
    }
    &-share {
      display: none;
    }
    &-content {
      padding-top: 2.5rem;
      margin-top: 2rem;
      border-top: 0.1rem solid @color-border;
    }
  }
  .aw-blog-post-view {
    #blog-sidebar-recent-posts {
      display: none;
    }
  }
  .blog-post-comments{
    max-width: 93rem;
    margin: 1.5rem auto 0;
  }
  .blog-post-custom {
    &-content {
      max-width: 93rem;
      margin: 1.5rem auto 0;
    }
    &-content-image {
      .lib-vendor-prefix-display(flex);
      .lib-vendor-prefix-flex-wrap(wrap);
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      margin: 0 -1.5rem;
      img {
        margin-bottom: 2rem;
        margin-top: 1rem;
        padding: 0 1.5rem;
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
  .aw-blog-index-index {
    .page-title-wrapper {
      padding: 2rem 0 0;
    }

    .blog-content {
      padding: 0;
    }
  }

  .recent-post-item {
    .post-info {
      padding-bottom: 0;
      padding-top: 25px;
      min-height: 89px;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
  .aw-blog-index-index {

    .page-top-holder {
      .blog-content {
        padding: 0 2%;
      }

    }
    .aw-blog-post-wrapper {
      ul {
        li {
          &.recent-post-item {
            .post-thumbnail {
              height: 28rem;
              img {
                max-height: 28rem;
              }
            }
            .post-info {
              padding: 1.5rem 5rem 1rem;
            }
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
  .aw-blog-index-index {
    div.aw-blog-posts {
      > ul {
        > li {
          &.recent-post-item {
            div.post-thumbnail {
              height: 20rem;
              img {
                max-height: 20rem;
              }
            }
            .post-info {
              padding: 1rem;
            }
          }
        }
      }
    }
  }

  .aw-blog-post-view {
    .column.main {
      width: 100%;
    }
    .blog-post-custom {
      &-content {}
      &-content-image {
        img {
          -o-object-fit: cover;
          object-fit: cover;
          &:nth-child(1) {
            max-width: 50%;
          }
          &:nth-child(2) {
            max-width: 50%;
          }
        }
        &.full-width {
          img {
             &:nth-child(1) {
              max-width: 100%;
            }
          }
        }
      }
    }
  }

  .recent-post-item {
    .post-info {
      ul {
        display: block;
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

  .aw-blog-index-index {
    div.aw-blog-posts {
      > ul {
        > li {
          &.recent-post-item {
            width: 100%;
          }
        }
      }
    }
    #aw-ajax-block-tabs-wrapper {
      margin-top: 1.5rem;
      border-bottom: 0;
      margin-bottom: 0;
      .items {
        padding: 0;
        li {
          padding: 0.5rem;
          &:first-child {
            padding-top: 2.2rem;
          }
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
    span.mobile-blog {
      display: block;
    }
    .items {
      display: none;
      &.active {
        display: block;
        li {
          display: block;
          width: 100%;
        }
      }
    }
  }

  .aw-blog-post-view {
    .column.main {
      width: 100%;
    }
    div.blog-post-custom {
      &-content-image {
        img {
          width: 100%;
          max-height: 35rem;
          &:nth-child(1) {
            max-width: 100%;
          }
          &:nth-child(2) {
            max-width: 100%;
          }
        }
      }
      &-banner {
        img {
          width: 100%;
          height: 35rem;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
    }
  }
}



