<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * /** @var $block \Magento\Contact\Block\ContactForm $block
 */

?>
<div class="contact-container">
    <div class="block contact-left">
        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('contact_left')->toHtml();?>
    </div>
    <div class="block content">
        <div class="label">
            <p>We aim to make online shopping with LinenHouse easy and simple.</p>
            <p>If you have any questions or feedback for our team, feel free to email us via the form below.</p>
        </div>
        <?php echo $block->getChildHtml('webforms.contact.form'); ?>
    </div>
    <div class="block contact-right">
        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('contact_right')->toHtml();?>
    </div>
</div>
