// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {


    /* -------------------------------------------- *
 * Custom Check box with icon font
 */
    //
    //  Variables
    //  ---------------------------------------------

    @checkbox__indent: 30px;
    @checkbox__size__base : 20px;
    @checkbox-border-radius: 0;

    @radio__indent: 30px;
    @radio__size__base : 20px;


    input[type="checkbox"].validation-error + label:before,
    input[type="checkbox"].validation-failed + label:before {
        border-color: @color-border;
    }

    input[type="checkbox"] {
        + label {
            .lib-font-size(14);
            letter-spacing: @default-letter-spacing;
        }

        &:checked + label{
            &:before {
                border: 2px solid @color-border;
                content: @font-awesome-tick;
                font-family: @font-awesome;
                font-size: 11px;
                line-height: 18px;
                color: @color-grey;
                text-align: center;
                font-weight: @font-weight__semibold;
                top: 5px;
            }
            &:after {
                display: none;
            }
        }

    }

    /* -------------------------------------------- *
     * Custom Radio box with icon font
     */

    input[type="radio"] ~ label {
        position: relative;
        padding: 2px 0 2px @radio__indent;
        line-height: 28px;
        display: inline-block;
        height: 30px;
        vertical-align: middle;
        &:before {
            border: 2px solid @color-border;
        }
    }

    input[type="radio"]:checked ~ label {
        &:before {
            border: 2px solid @color-border;
            background: @color-white;
        }

        &:after {
            content: '';
            top: 16px;
            left: 9px;
            width: 8px;
            height: 8px;
            margin: -4px 0 0 -4px;
            background: @color-dark-grey1;
            border-radius: 50%;
        }
    }

    input[type="radio"].validation-error ~ label:before,
    input[type="radio"].validation-failed ~ label:before {
        border-color: @color-border;
    }

    .fieldset {

        > .field,
        > .fields > .field,
        .field.choice {
            .lib-form-field();
            &.no-label {
                > .label {
                    .lib-visually-hidden();
                }
            }

            > input[type="checkbox"] {
                + label {
                    &:before {
                        border: 2px solid @color-border;
                        top: 5px;
                    }
                }

                &:checked {
                    + label {
                        &:before {
                            content: @font-awesome-tick;
                            font-family: @font-awesome;
                            font-size: 11px;
                            line-height: 18px;
                            color: @color-grey;
                            text-align: center;
                            font-weight: @font-weight__semibold;
                            border: 2px solid @color-border;
                            top: 5px;
                        }
                    }
                }
            }
        }
    }

    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="tel"],
    input[type="number"],
    input[type="email"] {
        line-height: 17px;
        padding-top: 10px;
        padding-bottom: 9px;
        height: auto;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}



