// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .message{
    text-align: center;
    border: 1px solid @color-border;
    padding: 10px;
    margin-bottom: 20px;
    > div{
      display: inline-block;
      &:before{
        margin-right: 10px;
        .simple-icon();
        border-radius: 50%;
        width: 24px;
        height: 24px;
        line-height: 17px;
        font-size: 16px;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
  .message.info {
    color: @color-orange;
    > div{
      &:before{
        color: @color-orange;
        content: '!';
        border: 1px solid @color-orange;
      }
    }
  }

  .message.error {
    color: @color-light-red;
    > div{
      &:before{
        color: @color-light-red;
        content: @icon-simple__close;
      }
    }
  }

  .message.warning {
    color: @color-orange;
    > div{
      &:before{
        color: @color-orange;
        content: '!';
        border: 1px solid @color-orange;
      }
    }
  }

  .message.notice {
    color: @color-orange;
    > div{
      &:before{
        color: @color-orange;
        content: '!';
        border: 1px solid @color-orange;
      }
    }
  }

  .message.success {
    color: @color-dark-brown;
    > div{
      &:before{
        color: @color-dark-brown;
        content: @icon-simple__tick;
        border: .1rem solid @color-border;
        font-size: 1rem;
        padding: .3rem .4rem;
        border-radius: .1rem;
      }
      a{
        color: @color-dark-brown;
      }
    }
  }
}
