// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@toggle-menu-color: @color-light-grey;


//
//  Common
//  _____________________________________________



//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

    .nav-sections{
        position: absolute;
        left: 0;
        z-index: 10;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    .nav-toggle,.sticky-nav {
        width: 25px;
        height: 20px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 2;
        top: 0;
        left: 0;
        span{
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: @color-light-grey;
            border-radius: 0;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            &:nth-child(1) {
                top: -1px;
            }
            &:nth-child(2){
                top: 7px;
            }
            &:nth-child(3) {
                top: 15px;
            }
            &:nth-child(4) {
                top: 16px;
            }
        }
        display: inline-block;
    }

    html{
        &.nav-open{
            .nav-sections{
                -webkit-transform: translateX(0%);
                transform: translateX(0%);
            }
            .nav-toggle{
                span{
                    width: 100%;
                    &:nth-child(1) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                    &:nth-child(2) {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                        top: 8px
                    }
                    &:nth-child(3) {
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        top: 8px
                    }
                    &:nth-child(4) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                }
            }
        }
    }
    .sticky .sticky-nav, .sticky-nav {
        display: none;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .nav-sections {
        top: 100px;
    }
}
