//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  body {
    color: @color-dark-grey1;
  }

  .breadcrumbs {
    text-align: center;
    letter-spacing: 1.2px;

    .item {
      a {
        color: #888888;
      }
      &:after {
        font-family: @font-awesome;
        margin: 0 6px;
      }
      &:first-child {
        a {
          text-transform: uppercase;
        }
      }
    }

    a {
      text-transform: capitalize;
      letter-spacing: @default-letter-spacing;
      color: @color-light-grey6;

      &:hover,
      &:visited {
        color: @color-light-grey6;
      }
    }

    strong {
      text-transform: none;
      color: @color-light-grey6;
    }
  }

  div.nice-select {
    color: @color-grey-red;
    padding-right: 35px;
  }

  .balance-box {
    img {
      vertical-align: top;
    }
  }

  .category-block-holder-container{
    flex-shrink: 0;
  }

  .block-related-holder,
  .category-block-holder-container {
    padding: 0 15px;

    > div {
      margin: 0 auto;
      max-width: @layout__max-width;
    }
  }

  .message.info {
    border-radius: 0;
    > *:first-child:before {
      margin: 5px 0 0;
    }
  }

  #confirmOverlay #confirmBox {
      position: absolute;
  }

  body {
    .modal-popup,
    .popup-subscribe,
    .modal-custom,
    .modal-slide {
      .action-close {
        &:before {
          border: 2px solid @color-border-light;
          content: @font-awesome-close;
          font-family: @font-awesome;
          color: @color-grey;
          font-size: 12px;
          line-height: 16px;
          padding: 0 0 0 1px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
      }
    }

    #confirmBox {
      .close {
        &:before {
          border: 2px solid @color-border-light;
          content: @font-awesome-close;
          font-family: @font-awesome;
          color: @color-grey;
          font-size: 12px;
          line-height: 16px;
          padding: 0 0 0 1px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
      }
    }
  }
}

//
//  Tablet
//  _____________________________________________
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
  .navigation,
  .breadcrumbs,
  .page-header .header.panel,
  .header.content,
  .footer.content,
  .page-main,
  .page-wrapper > .widget,
  .page-wrapper > .page-bottom,
  .block.category.event,
  .top-container,
  .block-related-holder,
  .category-block-holder-container {
    padding-left: 28px;
    padding-right: 28px;
  }
}

//
//  Deskrop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls){
  .block-related-holder,
  .category-block-holder-container {

    > div {
      padding: 0 15px;
    }
  }

  .breadcrumbs {
    margin: 2.4rem auto 1.5rem;

  }
}
