// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Linen theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Typography
//  ---------------------------------------------

//  Font families


//Fonts


@font-awesome:  'FontAwesome';
@futura:   'Futura';


//  Colors

@color-black:             #000;
@color-grey:              #666;
@color-light-grey:        #999;
@color-dark-grey1:        #333;
@color-dark-grey2:        #595959;
@color-dark-grey3:        #ccc;
@color-dark-grey4:        #7f7f7f;
@color-dark-brown:        #49403f;
@color-dark-brown1:       #665d5c;
@color-dark-brown2:       #837b7a;
@color-border:            #d4d1d1;
@color-border2:           #c8c8c8;
@color-border-light:      #e7e7e7;
@color-light-grey2:       #ededed;
@color-light-grey3:       #f7f7f7;
@color-light-grey4:       #fafafa;
@color-light-grey5:       #dddddd;
@color-light-grey6:       #888;
@color-grey-red:          #534847;
@color-red:               #ff3b3b;
@color-light-brown:       #a38c72;
@color-cart-action:       @color-black;

//  Icons
@font-awesome-tick:       '\f00c';
@font-awesome-left:       '\f104';
@font-awesome-up:         '\f106';
@font-awesome-down:       '\f107';
@font-awesome-down-bold:  '\f078';
@font-awesome-insagram:   '\f16d';
@font-awesome-close:      '\f00d';
@font-awesome-pinterest:  '\f0d2';
@font-awesome-facebook:   '\f082';
@font-awesome-twitter:    '\f081';
@font-awesome-google-plus:'\f0d4';
@font-awesome-linkedin:  '\f08c';

//  Layout

@layout__max-width: 1440px;
@ms-megamenu_width: 1420px;

//  Sizes

@box-spacing: 15px;
@box-spacing-large: 20px;

//  Effects

@transition-mode: .2s ease-out;


//Icons png

@icon-bag:     url("@{baseDir}images/icons/bag.svg");


//
//  Breadcrumbs variables
//  _____________________________________________


@breadcrumbs-separator__symbol: '\f105';
@breadcrumbs-current__color: @color-light-grey6;
@breadcrumbs-link__color: @color-light-grey6;
@breadcrumbs-link__visited__color: @color-light-grey6;
@breadcrumbs-link__hover__color: @color-light-grey6;




@link__hover__text-decoration: underline;

@default-letter-spacing: 0.05rem;
@title-letter-spacing:   0.1rem;
@letter-spacing-l:   0.25rem;
@letter-spacing-xl:  0.55rem;
@letter-spacing-xxl:  1rem;

// Buttons

// Large button: Main color: #fff

.lib-button-primary (

 @_button-line-height: 50px,
 @_button-height: 50px,

 @button-color: @color-grey,
 @button-background: @color-white,
 @button-border: 1px solid @color-grey,

 @button-color-hover: @color-white,
 @button-background-hover: @color-grey,
 @button-border-hover: 1px solid @color-grey,

 @button-padding: 0 20px,
 @buton_max__width: 100%
) {
  .lib-css(background, @button-background);
  .lib-css(border, @button-border);
  .lib-css(color, @button-color);
  .lib-css(padding, @button-padding);
  .lib-css(width, 100%);
  .lib-css(max-width, @buton_max__width);
  .lib-css(height, @_button-height);
  line-height: @_button-line-height;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    .lib-css(background, @button-background-hover);
    .lib-css(border, @button-border-hover);
    .lib-css(color, @button-color-hover);
    text-decoration: none;
  }
}

.lib-button-primary-white (

  @_button-line-height: 50px,
  @_button-height: 50px,

  @button-color: @color-grey,
  @button-background: @color-white,
  @button-border: 1px solid @color-grey,

  @button-color-hover: @color-white,
  @button-background-hover: @color-grey,
  @button-border-hover: 1px solid @color-grey,

  @button-padding: 0 20px,
  @buton_max__width: 100%
) {
  .lib-css(background, @button-background);
  .lib-css(border, @button-border);
  .lib-css(color, @button-color);
  .lib-css(padding, @button-padding);
  .lib-css(width, 100%);
  .lib-css(max-width, @buton_max__width);
  .lib-css(height, @_button-height);
  line-height: @_button-line-height;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: @title-letter-spacing;
  &:hover {
    .lib-css(background, @button-background-hover);
    .lib-css(border, @button-border-hover);
    .lib-css(color, @button-color-hover);
    text-decoration: none;
  }
}

// Large button: Main color: #666

.lib-button-primary-gray  (
  @_button-height: 50px
) {
  .lib-button(
    @_button-line-height: 50px,
    @_button-width: 100%,
    @_button-margin: false,
    @_button-padding: 0 20px,

    @_button-color: @color-white,
    @_button-background: @color-grey,
    @_button-border: 1px solid @color-grey,

    @_button-color-hover: @color-grey,
    @_button-background-hover: @color-white,
    @_button-border-hover: 1px solid @color-grey,

    @_button-color-active: @color-grey,
    @_button-background-active: @color-white,
    @_button-border-active:  1px solid @color-grey,

    @_button-gradient: false,
    @_button-gradient-direction: false,
    @_button-gradient-color-start: false,
    @_button-gradient-color-end: false,
    @_button-gradient-color-start-hover: false,
    @_button-gradient-color-end-hover: false,
    @_button-gradient-color-start-active: false,
    @_button-gradient-color-end-active: false
  );
  .lib-css(height, @_button-height);
  letter-spacing: @title-letter-spacing;

}

// Small button: Main color: #534847

.lib-button-primary-brown (

  @_button-height: 36px

) {
  .lib-button(

    @_button-line-height: 36px,
    @_button-width: 100%,
    @_button-margin: false,
    @_button-padding: 0 20px,

    @_button-color: @color-grey-red,
    @_button-background: @color-white,
    @_button-border: 1px solid @color-grey-red,

    @_button-color-hover: @color-white,
    @_button-background-hover: @color-grey-red,
    @_button-border-hover: 1px solid @color-grey-red,

    @_button-color-active: @color-white,
    @_button-background-active: @color-grey-red,
    @_button-border-active: 1px solid @color-grey-red,

    @_button-gradient: false,
    @_button-gradient-direction: false,
    @_button-gradient-color-start: false,
    @_button-gradient-color-end: false,
    @_button-gradient-color-start-hover: false,
    @_button-gradient-color-end-hover: false,
    @_button-gradient-color-start-active: false,
    @_button-gradient-color-end-active: false
  );
  .lib-font-size(12);
  .lib-css(height, @_button-height)
}


.lib-button-primary-swatch (

  @_button-height: 50px

) {
  .lib-button(
    @_button-line-height: 50px,
    @_button-width: 100%,
    @_button-margin: false,
    @_button-padding: 0px 15px,

    @_button-color: @color-grey-red,
    @_button-background: @color-white,
    @_button-border: 1px solid @color-border,

    @_button-color-hover: @color-white,
    @_button-background-hover: @color-light-grey,
    @_button-border-hover: 1px solid @color-light-grey,

    @_button-color-active: @color-white,
    @_button-background-active: @color-light-grey,
    @_button-border-active: 1px solid @color-light-grey,

    @_button-gradient: false,
    @_button-gradient-direction: false,
    @_button-gradient-color-start: false,
    @_button-gradient-color-end: false,
    @_button-gradient-color-start-hover: false,
    @_button-gradient-color-end-hover: false,
    @_button-gradient-color-start-active: false,
    @_button-gradient-color-end-active: false
  );
  &.disabled,
  &[disabled]{
    .lib-css(background, @color-border-light);
    .lib-css(border, 1px solid @color-border-light);
    .lib-css(color, @color-white);
  }
  .lib-font-size(14);
  .lib-css(height, @_button-height);
}

//
//  Customer Account Theme Elements
//  ---------------------------------------------

.ca__block-title {
  background-color: @title__background-color;
  color: @title__color;
  display: block;
  font-weight: @font-weight__bold;
  .lib-font-size(14);
  line-height: 1.4286;
  letter-spacing: @title-letter-spacing;
  margin: 0 0 2rem;
  padding: 1rem 2rem 1rem 0;
  text-transform: uppercase;
  border-bottom: 1px solid @color-border;

  a {
    float: right;
    font-weight: @font-weight__regular;
    .lib-font-size(13);
    text-transform: none;
  }
}


.ca__box-title {
  display: block;
  font-weight: @font-weight__regular;
  letter-spacing: @title-letter-spacing;
  .lib-font-size(14);
  line-height: 1.538461;
  margin: 0 0 2rem;
  text-transform: uppercase;
}




//Full width container

.lib-full-width-container {
  margin: 0 -9999px;
  padding: 20px 9999px;
}

.full-width {
 /* width: 99.55vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;*/
}

//Transform prefix with 2 values

.lib-prefix-transform-translate(
  @_value1: 0,
  @_value2: 0
){
  -webkit-transform:     translate(@_value1, @_value2);
  -ms-transform: 		 translate(@_value1, @_value2);
  transform:             translate(@_value1, @_value2);

}


// Flex values

//Value space-between
.lib-vendor-prefix-flex-justify(
  @_value: justify
) {
  -webkit-box-pack: @_value;
  -ms-flex-pack: @_value;
  justify-content: space-between;
}



.gradient(@type; @colors; @dir: 0deg; @prefixes: webkit, moz, ms, o; @index: length(@prefixes)) when (@index > 0) {
  .gradient(@type; @colors; @dir; @prefixes; (@index - 1));

  @prefix  : extract(@prefixes, @index);
  @dir-old : 90 - (@dir);

  background-image: ~"-@{prefix}-@{type}-gradient(@{dir-old}, @{colors})";
  & when ( @index = length(@prefixes) ) {
    background-image: ~"@{type}-gradient(@{dir}, @{colors})";
  }
}
