// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________


@font-family__base: @futura, @font-family__sans-serif;

@font-size__base: 14px;
@line-height__base: 1.714386;
//
//  Headings
//  ---------------------------------------------

@h1__font-size: 28px;
@h1__font-color: @color-grey;
@h1__font-weight: @font-weight__regular;
@h1__line-height: 32px;


