.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.section-items .nav-sections-item-title {
		padding-left: 10px;
		text-align: left;
	} 
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.nav-sections {
		top: 100px;
	}
}