& when (@media-common = true) {
  .ms-megamenu{
    .ms-topmenu{
      .lib-css(background, @color-black);
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
  .ms-megamenu{
    .ms-topmenu{

    }
    .ms-content{
      .lib-vendor-prefix-display(flex);
      .lib-vendor-prefix-flex-wrap(wrap);
      .lib-vendor-prefix-flex-direction(row);
    }
    .ms-category{
      height: 100%;
    }
    .ms-submenu{
      padding: 15px 30px 40px 30px;
      border: 0;
    }
    .col-category{
      text-align: left;
      height: 100%;
      position: relative;
      &:after{
        position: absolute;
        content: '';
        display: block;
        height: 96%;
        width: 1px;
        right: 27px;
        top: 10px;
        background: #dddddd;
      }
      &:last-of-type{
        &:after{
          display: none;
        }
      }
      .form-group{
        &.level1{
          text-transform: uppercase;
          letter-spacing: 0.25px;
          margin-bottom: 5px;
          .lib-font-size(14);
          line-height: 20px;
          color: @color-black;
          &:hover{
            color:@color-black;
          }
        }
        &.level2{
          .lib-font-size(12);
          line-height: 20px;
          letter-spacing: 0.25px;
          color: @color-light-grey;
          margin: 0;
          &:hover{
            color:@color-black;
          }
        }
      }
    }
    .ms-featured{
      border-left: 1px solid #dddddd;
      img{
        width: 100%;
      }
      p{
        margin-bottom: 0;
      }
    }
  }
}