// Default variables
@_font_size: 14px;
@_font_size_small: 12px;

@_input_border_radius: 5px;
@_input_height: 40px;
@_input_height_small: 30px;
@_dropdown_padding: 15px;

@_nice-gray: #999;
@_nice-gray_light: #e8e8e8;
@_nice-gray_lighter: #f6f6f6;
@_primary_light: @_nice-gray;
@_arrow_color: @_nice-gray;

// Style the dropdown
.nice-select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #fff;
    border-radius: 0;
    border: solid 1px @color-form-border;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    .lib-font-size(13);
    font-weight: normal;
    height: @_input_height;
    line-height: @_input_height - 2;
    margin-bottom: 10px;
    outline: none;
    padding-left: @_dropdown_padding;
    padding-right: @_dropdown_padding + 35;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    &:hover {
        border-color: darken(@_nice-gray_light, 5%);
    }
    &:active, &:focus {
        border-color: @_primary_light;
    }
    // Arrow
    &:after {
        .simple-icon();
        color: @color-black;
        content: @icon-simple__caret-down;
        right: 15px;
        line-height: @_input_height - 2;
        font-size: 18px;
        position: absolute;
    }

    &.open {
        @extend: active;
        &:after {
            transform: rotate(-180deg);
        }
        .list {
            opacity: 1;
            pointer-events: auto;
            transform: scale(1) translateY(0);
            width: 100%;
            z-index: 2;
        }
    }
    &.disabled {
        border-color: lighten(@_nice-gray_light, 2%);
        color: @_nice-gray;
        pointer-events: none;
        &:after {
            border-color: lighten(@_arrow_color, 20%);
        }
    }

    // Modifiers
    &.wide {
        width: 100%;
        .list {
            left: 0 !important;
            right: 0 !important;
        }
    }
    &.right {
        float: right;
        .list {
            left: auto;
            right: 0;
        }
    }
    &.small {
        font-size: @_font_size_small;
        height: @_input_height_small;
        line-height: @_input_height_small - 2;
        &:after {
            height: 4px;
            width: 4px;
        }
        .option {
            line-height: @_input_height_small - 2;
            min-height: @_input_height_small - 2;
        }
    }

    // List and options
    .list {
        background-color: #fff;
        box-shadow: 0 0 0 1px rgba(68, 68 , 68, .11);
        box-sizing: border-box;
        margin-top: 1px;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        transform-origin: 50% 0;
        transform: scale(.75) translateY(- @_input_height / 2);
        transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
        z-index: 9;
        &:hover .option:not(:hover) {
            background-color: transparent !important;
        }
    }
    .option {
        cursor: pointer;
        font-weight: 400;
        line-height: 38px;
        list-style: none;
        margin-bottom: 0;
        min-height: @_input_height - 2;
        outline: none;
        padding-left: @_dropdown_padding;
        padding-right: @_dropdown_padding + 11;
        text-align: left;
        transition: all 0.2s;
        &:hover, &.focus, &.selected.focus {
            background-color: @_nice-gray_lighter;
            box-shadow: none;
        }
        &.selected {
            font-weight: bold;
            font-weight: @font-weight__bold;
        }
        &.disabled {
            background-color: transparent;
            color: @_nice-gray;
            cursor: default;
        }
    }
}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select {
    .list {
        display: none;
    }
    &.open {
        .list {
            display: block;
        }
    }
}

//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

    .page-with-filter,
    .catalogsearch-result-index {
        .nice-select {
            &.sorter-options {
                .current {
                    font-weight: @font-weight__bold;
                    position: relative;
                    // Arrow
                    &:after {
                        .simple-icon();
                        color: @color-black;
                        content: @icon-simple__caret-down;
                        right: -25px;
                        line-height: 39px;
                        font-size: 15px;
                        position: absolute;
                    }
                }

                &:after {
                    display: none;
                }
            }
        }
    }
}