// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Theme variables
//  _____________________________________________

@box-spacing: 15px;

.lib-vendor-prefix-flex-justify(
  @_value: justify
) {
  -webkit-box-pack: @_value;
  -ms-flex-pack: @_value;
  justify-content: space-between;
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .header-wrapper-right {
        .location {
            color: @color-white;
            cursor: pointer;
            position: relative;
            text-decoration: none;

            &:before{
                background: url("../images/ic-lh.png") no-repeat;
                content: '';
                top: -12px;
                left: -25px;
                position: absolute;
                height: 24px;
                width: 18px;

            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

    .header-wrapper-right {
        .action.location {
            display: block;

            &:before {
                display: block;
                position: static;
            }

            .text {
                display: none;
            }
        }
    }

    .footer .footer-top-inner {  // Some excess selectors are in chain cause needs to override the parent theme ones
        padding: 0;

        .item.first {
            padding: @box-spacing 0 @box-spacing / 3 0;

            .footer-subscribe {
                .block.newsletter {
                    padding: 0;

                    .control {
                        padding: 0
                    }

                    .form.subscribe {
                        display: block;
                        padding: 0 @box-spacing * 4;

                        > * {
                            display: block;
                        }

                        .actions {
                            margin-top: @box-spacing;
                        }
                    }
                }
            }
        }
    }

}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {

    .footer .footer-top-inner {
        .item.first {
            padding-top: 0;

            .footer-subscribe {
                .lib-vendor-box-align(center);
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-justify();

                h3, .block.newsletter {
                    margin: 0;
                }
            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {

    .additional-navigation {
        .nav-additional {
            > div,
            > .block {
                display: inline-block;
                margin-bottom: 0;

                &:first-child {
                    a {
                        padding-right: 40px;
                    }
                }

                a {
                    padding-left: 40px;
                }
            }
        }
    }

    .footer.copyright {
        .copyright-links {
            width: auto;
        }
    }
}
