<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Credit memo for your %store_name order" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var comment":"Credit Memo Comment",
"var creditmemo.increment_id":"Credit Memo Id",
"layout handle=\"sales_email_order_creditmemo_items\" creditmemo=$creditmemo order=$order":"Credit Memo Items Grid",
"var billing.getName()":"Guest Customer Name (Billing)",
"var order.increment_id":"Order Id",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"var order.shipping_description":"Shipping Description"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr>
        <td class="email-intro">
            <table class="email-intro-table">
                <tr>
                    <td class="email-intro-message">
                        <h2>{{trans "Thank you for your order from %store_name." store_name=$store.getFrontendName()}}</h2>
                        {{trans "Once your order is on the way, we will send you a confirmation email."}}
                    </td>
                    <td class="email-intro-info">
                        {{trans 'Questions about your order?'}} <br>
                        {{trans 'Call us on'}} <br>
                        <strong>{{depend store_phone}} {{trans '%store_phone' store_phone=$store_phone |raw}}{{/depend}}</strong> <br>
                        <br>
                        {{trans 'Email us'}}<br />
                        {{depend store_email}}
                        {{trans '<a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}
                        {{/depend}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="email-summary">
            <h3>{{trans "Your Credit Memo <strong>#%creditmemo_id</strong> for Order <strong>#%order_id</strong>" creditmemo_id=$creditmemo.increment_id order_id=$order.incrh1ent_id |raw}}</h3>
        </td>
    </tr>
    <tr>
        <td class="email-information">
            {{depend comment}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var comment|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            {{layout handle="sales_email_order_creditmemo_items" creditmemo=$creditmemo order=$order}}
            <table class="order-details">
                <tr>
                    <td class="address-details">
                        <strong>{{trans "Billing Information"}}</strong>
                        <p>{{var formattedBillingAddress|raw}}</p>
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="address-details">
                        <strong>{{trans "Shipping Information"}}</strong>
                        <p>{{var formattedShippingAddress|raw}}</p>
                    </td>
                    {{/depend}}
                </tr>
                <tr>
                    <td class="method-info">
                        <strong>{{trans "Payment Method"}}</strong>
                        {{var payment_html|raw}}
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="method-info">
                        <strong>{{trans "Shipping Method"}}</strong>
                        <p>{{var order.getShippingDescription() |raw}}</p>
                    </td>
                    {{/depend}}
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
