<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Update to your %store_name order" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var billing.getName()":"Guest Customer Name",
"var comment":"Order Comment",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr>
        <td class="email-intro">
            <table class="email-intro-table">
                <tr>
                    <td class="email-intro-message">
                        <h2>{{trans "Thank you for your order from %store_name." store_name=$store.getFrontendName()}}</h2>
                        {{trans "Once your order is on the way, we will send you a confirmation email."}}
                    </td>
                    <td class="email-intro-info">
                        {{trans 'Questions about your order?'}} <br>
                        {{trans 'Call us on'}} <br>
                        <strong>{{depend store_phone}} {{trans '%store_phone' store_phone=$store_phone |raw}}{{/depend}}</strong> <br>
                        <br>
                        {{trans 'Email us'}}<br />
                        {{depend store_email}}
                        {{trans '<a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}
                        {{/depend}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="email-information">
            {{depend comment}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var comment|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
