<p class="title">BATHROOM</p>
<ul class="links">
    <li><a href="#">Bath Towels</a></li>
    <li><a href="#">Bath Sheets</a></li>
    <li><a href="#">Hand Towels</a></li>
    <li><a href="#">Face Washers</a></li>
    <li><a href="#">Bath Mats</a></li>
    <li><a href="#">Bathroom Accessories</a></li>
</ul>