<p class="title">INFORMATION</p>
<ul class="links">
    <li><a href="#">Outlets &amp; Stockists</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">FAQ&rsquo;s &amp; Glossary</a></li>
    <li><a href="#">Bed Linen Size Guide</a></li>
    <li><a href="#">Delivery &amp; Returns</a></li>
    <li><a href="#">Warranty</a></li>
    <li><a href="#">International Partners</a></li>
</ul>