<p class="title">KIDS BEDDING</p>
<ul class="links">
    <li><a href="#">Kids Quilt Cover Sets</a></li>
    <li><a href="#">Kids Sheet Sets</a></li>
    <li><a href="#">Kids Cushions</a></li>
    <li><a href="#">Nursery</a></li>
</ul>