<h3>Follow Us</h3>
<ul class="footer social-links">
    <li><a class="icon-facebook" href="https://www.facebook.com/" target="_blank"><span>Facebook</span></a></li>
    <li><a class="icon-instagram" href="https://www.instagram.com/" target="_blank"><span>Instagram</span></a></li>
    <li><a class="icon-twitter" href="https://www.twitter.com/" target="_blank"><span>twitter</span></a></li>
    <li><a class="icon-youtube" href="https://www.youtube.com/" target="_blank"><span>youtube</span></a></li>
    <li><a class="icon-pinterest" href="https://www.pinterest.com/" target="_blank"><span>Pinterest</span></a></li>
</ul>
<p>#linenhouse / @linen_house</p>