<p class="title">QUILT COVER SETS</p>
<ul class="links">
    <li><a href="#">Linen House Quilt Covers</a></li>
    <li><a href="#">Alex Perry Quilt Covers</a></li>
    <li><a href="#">Marie Claire Quilt Covers</a></li>
    <li><a href="#">Deco Quilt Covers</a></li>
    <li><a href="#">Hiccups For Kids Quilt Covers</a></li>
    <li><a href="#">Marie Claire Mini Quilt Covers</a></li>
</ul>