<p class="title">LIVING</p>
<ul class="links">
    <li><a href="#">Cushions</a></li>
    <li><a href="#">Throws</a></li>
    <li><a href="#">Table Cloths</a></li>
    <li><a href="#">Napkins</a></li>
    <li><a href="#">Kitchen</a></li>
</ul>