<p class="title">BED ESSENTIALS</p>
<ul class="links">
    <li><a href="#">Sheets</a></li>
    <li><a href="#">Bed Wraps</a></li>
    <li><a href="#">European Pillowcases</a></li>
    <li><a href="#">Quilts</a></li>
    <li><a href="#">Pillows</a></li>
    <li><a href="#">Mattress Toppers</a></li>
</ul>