<div class="ms-submenu col-xs-12 sub_left">
    <div class="ms-content">
        <div class="ms-maincontent" style="float: left; width: 70%;">
            <div class="row ms-category-dynamic">
                <div class="col-category col-xs-12">
                    <div class="row">
                        <div class="col-level col-xs-3">
                            <div class="col-xs-12 form-group active parent"><i class="information" style="display: none;" title="dynamic-22"></i> <a title="Vanities" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/bathroom/vanities.html?SID=j8fukahrjme9vr4ahoc9v6e9k6"><small class="glyphicon glyphicon-th-large">&nbsp;</small>Vanities</a></div>
                            <div class="col-xs-12 form-group parent"><i class="information" style="display: none;" title="dynamic-25"></i> <a title="Packages" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/bathroom/packages.html?SID=j8fukahrjme9vr4ahoc9v6e9k6"><small class="glyphicon glyphicon-th-large">&nbsp;</small>Packages<small class="glyphicon glyphicon-chevron-right small">&nbsp;</small></a></div>
                            <div class="col-xs-12 form-group parent last"><i class="information" style="display: none;" title="dynamic-34"></i> <a title="Basins &amp; Toilet" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/bathroom/basins-toilet.html?SID=j8fukahrjme9vr4ahoc9v6e9k6"><small class="glyphicon glyphicon-th-large">&nbsp;</small>Basins &amp; Toilet<small class="glyphicon glyphicon-chevron-right small">&nbsp;</small></a></div>
                        </div>
                        <div class="col-xs-9 dynamic-content">
                            <div id="dynamic-25" class="form-group col-dynamic">
                                <div class="col-xs-4">
                                    <div class="form-group text-left"><a title="Tapware Packages" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/bathroom/packages/tapware-packages.html?SID=j8fukahrjme9vr4ahoc9v6e9k6"> <span class="form-group col-category-name">Tapware Packages</span> </a></div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group text-left"><a title="Bath Packages" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/bathroom/packages/bath-packages.html?SID=j8fukahrjme9vr4ahoc9v6e9k6"> <span class="form-group col-category-name">Bath Packages</span> </a></div>
                                </div>
                            </div>
                            <div id="dynamic-34" class="form-group col-dynamic">
                                <div class="col-xs-4">
                                    <div class="form-group text-left"><a title="Basins" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/bathroom/basins-toilet/basins.html?SID=j8fukahrjme9vr4ahoc9v6e9k6"> <span class="form-group col-category-name">Basins</span> </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ms-featured" style="float: right; width: 30%;">
            <div class="row">
                <div class="f-product product-item col-sm-6 col-xs-6 col-tn-6"><a class="product-image text-center form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/sherman-flannelette-quilt-cover-set.html?SID=j8fukahrjme9vr4ahoc9v6e9k6"> </a> <strong class="product-name product-item-name form-group"> <a href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/sherman-flannelette-quilt-cover-set.html?SID=j8fukahrjme9vr4ahoc9v6e9k6">SHERMAN FLANNELETTE QUILT COVER SET</a> </strong> <span class="price">$124.34</span></div>
                <div class="f-product product-item col-sm-6 col-xs-6 col-tn-6"><a class="product-image text-center form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/ellaria-quilt-cover-set.html?SID=j8fukahrjme9vr4ahoc9v6e9k6"> </a> <strong class="product-name product-item-name form-group"> <a href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/ellaria-quilt-cover-set.html?SID=j8fukahrjme9vr4ahoc9v6e9k6"> ELLARIA QUILT COVER SET</a> </strong> <span class="price">$149.95</span></div>
                <div class="hidden-lg hidden-md hidden-sm hidden-xs col-tn-12"></div>
                <div class="hidden-lg hidden-md hidden-sm col-xs-12 hidden-tn"></div>
                <div class="col-sm-12 form-group hidden-xs hidden-tn"></div>
            </div>
        </div>
    </div>
</div>
<div class="mb-submenu blind"><a class="ms-label mb-return col-xs-12 text-center"><span class="label-arrow-left">Back</span>Bathroom</a>
    <div class="mb-submain col-xs-12">
        <div class="mb-content form-group">
            <div class="mb-maincontent  col-sm-9 col-xs-12">
                <div class="row ms-category-level">
                    <div class="col-category col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 col-level "><a class="form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/bathroom/vanities.html?SID=j8fukahrjme9vr4ahoc9v6e9k6">Vanities</a></div>
                            <div class="col-xs-12 col-level parent">
                                <p class="form-group"><a href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/bathroom/packages.html?SID=j8fukahrjme9vr4ahoc9v6e9k6">Packages</a><span class="mb-label label-arrow-right">&nbsp;</span></p>
                                <div class="mb-submenu blind"><a class="ms-label mb-return col-xs-12 text-center"><span class="label-arrow-left">Back</span>Packages</a>
                                    <div class="col-xs-12"><a class="form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/bathroom/packages/tapware-packages.html?SID=j8fukahrjme9vr4ahoc9v6e9k6">Tapware Packages</a></div>
                                    <div class="col-xs-12"><a class="form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/bathroom/packages/bath-packages.html?SID=j8fukahrjme9vr4ahoc9v6e9k6">Bath Packages</a></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-level parent">
                                <p class="form-group"><a href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/bathroom/basins-toilet.html?SID=j8fukahrjme9vr4ahoc9v6e9k6">Basins &amp; Toilet</a><span class="mb-label label-arrow-right">&nbsp;</span></p>
                                <div class="mb-submenu blind"><a class="ms-label mb-return col-xs-12 text-center"><span class="label-arrow-left">Back</span>Basins &amp; Toilet</a>
                                    <div class="col-xs-12"><a class="form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/bathroom/basins-toilet/basins.html?SID=j8fukahrjme9vr4ahoc9v6e9k6">Basins</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden-lg hidden-md hidden-sm col-xs-12 form-group"></div>
            <div class="mb-featured col-sm-3 col-xs-12">
                <div class="row">
                    <div class="f-product product-item col-sm-6 col-xs-6 col-tn-6"><a class="product-image text-center form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/sherman-flannelette-quilt-cover-set.html?SID=j8fukahrjme9vr4ahoc9v6e9k6"> </a> <strong class="product-name product-item-name form-group"> <a href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/sherman-flannelette-quilt-cover-set.html?SID=j8fukahrjme9vr4ahoc9v6e9k6">SHERMAN FLANNELETTE QUILT COVER SET</a> </strong> <span class="price">$124.34</span></div>
                    <div class="f-product product-item col-sm-6 col-xs-6 col-tn-6"><a class="product-image text-center form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/ellaria-quilt-cover-set.html?SID=j8fukahrjme9vr4ahoc9v6e9k6"> </a> <strong class="product-name product-item-name form-group"> <a href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/ellaria-quilt-cover-set.html?SID=j8fukahrjme9vr4ahoc9v6e9k6"> ELLARIA QUILT COVER SET</a> </strong> <span class="price">$149.95</span></div>
                    <div class="hidden-lg hidden-md hidden-sm hidden-xs col-tn-12"></div>
                    <div class="hidden-lg hidden-md hidden-sm col-xs-12 hidden-tn"></div>
                    <div class="col-sm-12 form-group hidden-xs hidden-tn"></div>
                </div>
            </div>
        </div>
    </div>
</div>