<div id="submenu-28" class="ms-submenu col-xs-12 sub_left position_auto">
    <div class="ms-content">
        <div class="ms-maincontent">
            <div class="row ms-category-level">
                <div class="col-category col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-level parent"><a class="form-group " href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/living.html?SID=ndglktotu941ngtvvn3t0eblr3"><small class="glyphicon glyphicon-th-large">&nbsp;</small>Living<small class="glyphicon glyphicon-chevron-right small">&nbsp;</small></a>
                            <div class="col-xs-12 col-sub">
                                <div class="row">
                                    <div class="col-xs-12"><a class="form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/living/coffee-sides-table.html?SID=ndglktotu941ngtvvn3t0eblr3"><small class="glyphicon glyphicon-th-large">&nbsp;</small>Coffee &amp; sides table</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="m_submenu-28" class="mb-submenu blind"><a class="ms-label mb-return col-xs-12 text-center"><span class="glyphicon glyphicon-chevron-left">&nbsp;</span>Living</a>
    <div class="mb-submain col-xs-12">
        <div class="mb-content form-group">
            <div class="mb-maincontent  col-xs-12">
                <div class="row ms-category-level">
                    <div class="col-category col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 col-level parent">
                                <p class="form-group"><a href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/living.html?SID=ndglktotu941ngtvvn3t0eblr3">Living</a><small class="mb-level-click glyphicon glyphicon-plus small">&nbsp;</small></p>
                                <div class="col-xs-12 col-sub">
                                    <div class="row">Living
                                        <div class="col-xs-12"><a class="form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/living/coffee-sides-table.html?SID=ndglktotu941ngtvvn3t0eblr3">Coffee &amp; sides table</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>