//
//  Common
//  _____________________________________________

& when (@media-common = true) {

  footer {
    &.page-footer {
      background: @color-white;
    }
  }

  .page-footer {
    padding-top: 5rem;
    border: .1rem solid @color-border;
    .footer {
      &.bottom {
        background: @color-white;
        padding-bottom: 5rem;
      }
      &-bottom-inner {
        padding-top: 1.8rem;
        .item {
          width: 100%/4;
          margin-right: 0;
          padding: 0;
          .sub-item {
            width: 100%;
            float: left;
          }
          .title {
            letter-spacing: @title-letter-spacing;
            color: @color-grey;
            font-size: 1.4rem;
            padding-bottom: 0;
          }
          ul {
            margin-bottom: 1.8rem;
            li {
              a {
                color: @color-grey;
                line-height: 2.5rem;
              }
            }
          }
        }
      }
      &-row-left {
        width: 65%;
        float: left;
        margin-right: 2rem;
        border-right: 0.1rem solid @color-border;
      }
      &-row-right {
        width: 33%;
        float: right;
        color: @color-grey;
        .item {
          width: 100%;
        }
        .footer {
          &-subscribe {
            h3 {
              color: @color-grey;
              margin-top: 0;
              letter-spacing: @title-letter-spacing;
              font-size: 1.6rem;
              margin-bottom: 1.5rem;
            }
          }
        }
        .block.newsletter {
          width: 100%;
          max-width: 100%;
          margin-bottom: 3.0rem;
          .field {
            padding-left: 0;
            width: 75%;
            .control {
              input {
                height: 4rem;
              }
            }
          }
          .label {
            display: none;
          }
          .actions {
            padding: 0;
            .subscribe {
              height: 4rem;
              line-height: 4rem;
              background: @color-grey;
              border: 0.1rem solid @color-grey;
              color: @color-white;
              letter-spacing: @default-letter-spacing;
              font-weight: @font-weight__semibold;
              font-size: 1.3rem;
              padding: 0;
              max-width: 10.5rem;
              &:hover,
              &:active {
                background: @color-white;
                color: @color-grey;
              }

            }
          }
        }
      }
      &-contact {
        .contact {
          width: 100%;
          float: left;
          margin-bottom: 1rem;
          li {
            width: 50%;
            &:first-child {
              float: left;
            }
            &:last-child {
              float: right;
            }
            .title {
              display: block;
              margin-bottom: 0;
              line-height: 1.7rem;
            }
          }
        }
      }
      div.footer-social {
        margin-top: 0.5rem;
        float: left;
        h3 {
          letter-spacing: @title-letter-spacing;
          color: @color-grey;
          font-size: 1.4rem;
          padding-bottom: 0;
          margin-top: 1rem;
        }
        .social-links {

          li {
            a {
              background: none;
              text-decoration: none;
              width: 2.7rem;
              height: 2.7rem;
              &:hover {
                text-decoration: none;
              }
              &:before {
                color: @color-grey;
                font-family: @font-awesome;
                font-size: 2.5rem;
                margin: 0;
              }

              &.icon{
                &-instagram {
                  margin-left: 0;
                  &:before {
                    content: "\f16d";
                  }
                }
                &-pinterest {
                  &:before {
                    content: "\f0d3";
                  }
                }
                &-facebook {
                  &:before {
                    content: "\f082";
                  }
                }
              }
            }
          }
        }
      }
      &.copyright {
        background: @color-white;
        border-top: 0.1rem solid @color-border;
        .item {
          padding: 1.6rem 0;
          &.payments-list {
            width: 27%;
            padding-top: 2rem;
          }
        }
        .copyright-links {
          .copyright {
            span {
              display: none;
            }
          }
          ul {
            li {
              color: @color-grey-red;
              letter-spacing: @default-letter-spacing;
              font-size: 1.3rem;
              &:first-child {
                margin-left: -1.5rem;
                margin-right: 3rem;
              }
              &:after {
                display: none;
              }
              a {
                color: @color-grey-red;
                font-size: 1.3rem;
                letter-spacing: @default-letter-spacing;

              }
            }
          }
        }
      }
    }
  }
}


//
// Large tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
  .cms-home,
  .checkout-cart-index {
    footer {
      &.page-footer {
        border: 0;
      }
    }
  }
  .page-footer {
      margin-top: @box-spacing-large;
      padding-top: 0;

    div.footer.bottom {
      padding-bottom: 0;
      .footer-bottom-inner {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-wrap(wrap);
        padding-bottom: 5px;
      }
      .footer {
        &-row-left {
          .lib-vendor-prefix-order(2);
          width: 100%;
          margin-right: 0;
          border-right: 0;
          padding-top: 2rem;
        }
        &-row-right {
          .lib-vendor-prefix-order(1);
          width: 100%;
          padding: 2rem 0 0;
          border-top: 0.1rem solid @color-border;
          border-bottom: 0.1rem solid @color-border;
          .footer-contact {
            .contact {
              margin: 0 0 13px;
              li {
                text-align: center;
              }
            }
          }
          .item {
            max-width: 50rem;
            float:none;
            margin: 0 auto;
          }
          .footer-social {
            float: none;
            text-align: center;
          }
          .footer-subscribe {
            h3,
            p {
              text-align: center;
            }
            h3 {
              margin-bottom: 0.5rem;
            }
          }
          .block.newsletter {
            margin-bottom: 2rem;
          }
        }
      }
      .form.subscribe {
        width: 80%;
        margin: 0 auto;
      }
    }
    div.footer.copyright {
      .item {
        padding: 0;
        width: 100%;
        ul {
          display: block;
          max-width: 55rem;
          margin: 0 auto;
          text-align: center;
          li {
            position: relative;
            &:first-child {
              margin-left: 0;
              margin-right: 0;
              display: block;
            }
            &:nth-child(2) {
              &:before {
                content: '|';
                color: @color-border;
                position: absolute;
                right: -2px;
              }
            }
          }
        }

        &.payments-list {
          width: 100%;
          margin: 0 auto;
          float: none;
          clear: both;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          padding-bottom: 2rem;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {

  body {
    footer {
      &.page-footer {
        border: 0;
      }
    }
  }

  footer {
    &.page-footer {
      padding: 0;
      border-top: 0;
      .footer.bottom {
        margin-bottom: 0;
      }
      .copyright {
        .copyright-container {
          padding-top: 2rem;
          padding-bottom: 0;
        }
      }
    }
  }
  .page-footer {
    border: 0;
    padding: 0;
    .footer-row-right {
      .item {
        .footer-subscribe {
          h3 {
            font-weight: @font-weight__bold;
          }
        }
        .footer-social {
          h3 {
            font-weight: @font-weight__bold;
          }
        }
      }

    }
    div.footer.copyright {
      .item {
        &.payments-list {
         .lib-vendor-prefix-order(2);
          text-align: center;
        }
        &.copyright-links {
         .lib-vendor-prefix-order(1);
          .copyright {
            display: none;
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  footer {
    &.page-footer {
      div.footer.bottom {
        padding: 0;
      }
      .copyright {
        div.copyright-container {
          padding-top: 1rem;
          padding-bottom: 0;
        }
      }
    }
  }
  .page-footer {
    div.footer.bottom {
      form.form.subscribe {
        width: 100%;
      }
      .footer {
        &-bottom-inner {
          padding-bottom: 0;
          .footer-row-left {
            padding-top: 1.5rem;
            .item {
              float: left;
              &.first {
                margin: 0;
                padding: 0;
                border: 0;
              }
              width: 100%;
              border-bottom: 0.1rem solid @color-border;
              .title {
                cursor: pointer;
                &:after {
                  font-family: @font-awesome !important;
                  color: @color-grey;
                  content: @font-awesome-down;
                  margin-right: 0.5rem;
                  margin-top: 0.5rem;
                }
              }
              .links {
                display: none;
              }
              &.open {
                .links {
                  display: block;
                }
                .title {
                  &:after {
                    content: @font-awesome-up;
                    margin-right: 0.5rem;
                    margin-top: 0.5rem;
                  }
                }
              }
            }
          }
          .item ul {
            height:auto;
            visibility: visible;
            opacity: 1;
          }
        }

        &-contact {
          .contact {
            li {
              width: 100%;

              &:first-child,
              &:last-child {
                float: none;
              }

              &:first-child {
                margin-bottom: 15px;
              }
            }
          }
        }
      }
    }

    div.footer.copyright {
      border-top: 0;
    }
  }
}
