//
//  Variables
//  _____________________________________________

@header_panel_links_color: @color-grey;
@header_panel_background: @color-white;
@header__background-color: @color-white;
@header__panel-height: 40px;
@header__account_dropdown_width: 190px;
@header__mobile-border: @color-border;
@header__mobile-qty-background: @color-grey-red;
@header__mobile-qty-color: @color-white;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .cms-home {
    header {
      &.page-header {
        border-bottom: 0;
      }
    }
  }
  header {
    &.page-header {
      .lib-css(background-color, @header__background-color);
      .panel {
        &.wrapper {
          background-color: @header_panel_background;
          border-bottom: 1px solid @color-border;
        }
      }
    }
  }

  .panel {
    &.header {
      .header {

        &-panel-left {
          visibility: hidden;
        }

        &-panel-center {
          text-align: center;
          text-transform: uppercase;
          color: @header_panel_links_color;
          letter-spacing: 0.55px;

          p {
            margin: 0;
          }
        }

        &-panel-right {
          margin: 0;
          > li {
            a,
            span,
            strong {
              text-decoration: none;
              color: @header_panel_links_color;
              letter-spacing: 0;
              cursor: pointer;
            }

            &:before {
              content: "";
              display: none;
            }
          }

          .customer-account {
            .account-dropdown-content {
              li {
                &.current {
                  a,
                  strong {
                    color: @header_panel_links_color;
                  }
                }
              }
            }
          }

          .join-link {
            display: none;
          }

          .minicart-wrapper {
            .action {
              &.showcart {
                &:before {
                  display: inline-block;
                  content: "";
                  background-image: @icon-bag;
                  background-repeat: no-repeat;
                  width: 20px;
                  height: 18px;
                }
              }
            }
          }

        }
      }
    }
  }

  .header {
    &.content {
      .header {
        &-wrapper-left {
          float: left;
          display: inline-block;
          .logo {
            width: 100%;
          }
        }
      }
    }
  }

  .page-title-wrapper {
    .page-title {
      letter-spacing: @letter-spacing-l;
    }
  }
}

//
// Large desktop to large tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  header {
    &.page-header {
      .panel {

        &.header {
          padding: 0 15px;
          height: @header__panel-height;

          .header {
            &-panel-center,
            &-panel-left,
            &-panel-right {
              line-height: @header__panel-height;
              height: @header__panel-height;
            }
            &-panel-center {
              width: 40%;
              margin: 0;

            }
            &-panel-left {
              width: 30%;
              float: left;
              margin: 0;
            }
            &-panel-right {
              width: 30%;
              float: right;
              margin: 0;
              > li {
                border-right: 1px solid @color-border;
                a,
                span {
                  padding: 10px 20px 10px 15px;
                  position: relative;
                  display: inline-block;
                  height: @header__panel-height;
                  line-height: 18px;
                }
                &.authorization-link {
                  position: relative;
                  a,
                  span {

                  }
                }
                &.account {
                  span {
                    padding: 10px 33px 10px 15px;
                    &:after {
                      content: @font-awesome-down-bold;
                      color: @header_panel_links_color;
                      font-family: @font-awesome;
                      .lib-font-size(9);
                      position: absolute;
                      line-height: @header__panel-height;
                      top: 0;
                      left: 0;
                      right: 14px;
                    }
                  }
                }
              }

              .minicart-wrapper {
                margin: 0;

                .action {
                  &.showcart {
                    margin: 0;
                    padding: 11px 0 9px 15px;
                    .counter-number {
                      padding: 0 10px 0 0;
                      color: @header_panel_links_color;

                    }

                    .counter.qty {
                      position: relative;
                      margin: 0;
                      padding: 0 5px 0 2px;
                      height: 21px;
                      top: -4px;
                      &:after {
                        content: @font-awesome-down-bold;
                        color: @header_panel_links_color;
                        font-family: @font-awesome;
                        .lib-font-size(9);
                        position: absolute;
                        top: 3px;
                        left: 0;
                        right: -15px;
                      }
                    }
                  }
                }
              }

              .customer-account {
                border: 1px solid @color-border;
                max-width: @header__account_dropdown_width;
                padding: 15px;
                top: 40px;
                right: 0;
                left: -4px;

                &:before {
                  left: 95px;
                  right: 0;
                  .triangle(top, 16px, 7px, @color-border);
                }
                &:after {
                  content: '';
                  position: absolute;
                  top: -7px;
                  left: 95px;
                  right: 0;
                  .triangle(top, 16px, 8px, @color-white);
                }

                .account-dropdown-content {
                  margin-bottom: 0;

                  li {
                    margin-bottom: 2px;
                    line-height: @line-height__base;
                    a {
                      height: auto;
                      padding: 0;
                      .lib-font-size(14);
                    }
                    &:last-child {
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .header {
    &.content {
      .container();
      .lib-vendor-prefix-display(flex);
      .lib-vendor-prefix-flex-wrap(wrap);
      .lib-vendor-prefix-flex-justify();

      padding-top: 0;
      .header {
        &-wrapper-left,
        &-wrapper-right {
          .lib-vendor-prefix-display(flex);
          .lib-vendor-prefix-flex-grow(1);
          .lib-vendor-prefix-flex-shrink(1);
          .lib-vendor-prefix-flex-basis(0);
          width: 14%;
        }
        &-wrapper-center {
          width: 69%;
        }

        &-wrapper-right {
          padding-top: 0;
          display: inline-block;
          float: right;
        }

        &-wrapper-left {
          padding-top: 0;
        }

        &-wrapper-left-container {
          padding: 22px 0 15px;
        }

        &-wrapper-right-container {
          padding-top: 27px;
          .block-search {
            width: 100%;
            margin: 0;
            .block-content {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
  header {
    &.page-header {
      border-bottom: 1px solid @color-border;
    }

    .logo {
      max-height: none;
    }
  }
}

//
// Large tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

  .page-wrapper {
    header {
      &.page-header {
        border-bottom: 1px solid @header__mobile-border;
        .panel {
          &.wrapper {
            border-bottom: none;
            height: 0;
          }
        }
        .content {
          padding: 5px 15px 0;
          .header {

            &-wrapper-left {
              position: relative;
              width: 25%;
            }

            &-wrapper-left-container {
              display: inline-block;
              .logo {
                display: inline-block;
                position: absolute;
                width: 110px;
                top: 10px;
                left: 55px;
                margin-left: 0;
              }
            }
            &-wrapper-left-container,
            &-wrapper-right-container {
              position: relative;
            }
            &-wrapper-right {
              .block-search {
                width: 100%;
                margin: 0;
                position: relative;
                .block-content {
                  display: none;
                  padding-bottom: 12px;
                  width: 100%;
                  &.active {
                    display: block;
                  }
                }
              }
            }
          }
        }

        .toogle-search {
          display: block;
        }

        .nav-toggle {
          display: inline-block;
          margin: 18px 18px 18px 2px;
        }
      }
    }
    .panel {
      &.header {
        padding: 0;
        .header {

          &-panel-center,
          &-panel-left {
            display: none;
          }

          &-panel-right {
            position: relative;
            float: right;
            > li {
              display: none;
            }
            .minicart-wrapper {
              position: absolute;
              top: 17px;
              right: 0;
              z-index: 899;
              .action {
                &.showcart {
                  .counter.qty {
                    padding: 3px 3px;
                    margin: 0;
                    position: absolute;
                    top: -11px;
                    left: 7px;
                    min-width: 23px;
                    min-height: 23px;
                    line-height: 11px;
                    border-radius: 50%;
                    background: @header__mobile-qty-background;
                    .counter-number {
                      .lib-font-size(11);
                      font-weight: @font-weight__bold;
                      color: @header__mobile-qty-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {

  .page-wrapper {
    header {
      &.page-header {
          margin-bottom: 0;

        .content {
          padding: 8px 15px 0;

          .header {
            &-wrapper-right {
              width: 100%;

              .block-search {
                bottom: 0;
              }
            }

            &-wrapper-left-container {
              a.logo {
                margin: 0;
                top: 14px;
                left: 49px;
              }
            }
          }
        }
        .panel {
          &.header {
            .header {
              &-panel-center {
                visibility: hidden;
              }

              &-panel-right {
                display: block;

                .minicart-wrapper {
                  right: -12px;
                  top: 27px;
                  margin-right: 0;
                  z-index: 1;

                  &.active {
                    z-index: 99;
                  }
                }
              }
            }
          }
        }

        .nav-toggle {
          margin-top: 21px;
          width: 20px;
        }

        .toogle-search {
          right: 54px;
          width: 26px;

          &:before {
            .lib-font-size(20);
            line-height: 21px;
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  div.page-wrapper {
    .page-header {
      .panel {
        &.header {
          .header {
            &-panel-right {
              div.minicart-wrapper {
                right: 0;
              }
            }
          }
        }
      }
    }
  }
}

