//
//  Variables
//  _____________________________________________

@header_menu_background: @color-white;
@menu_links_color: @color-dark-grey1;
@active-nav-indent: 40%;
@arrow-icons-color: @color-dark-grey1;
@menu-item-height: 44px;
@menu_links_mob-color: @color-grey;
@menu-sections-active-background: @color-light-grey3;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .sections {
        &.nav-sections {
            .lib-css(background, @header_menu_background);
        }
    }
    .ms-megamenu {
        .ms-topmenu {
            .ms-label {
                .lib-css(color, @menu_links_color);
            }
            .ms-submenu {
                .form-group {
                    font-size: 1.4rem;
                }
            }
            .ms-content {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-wrap(wrap);
                .ms-maincontent {
                    .lib-vendor-prefix-order(2);
                }
                .ms-featured {
                    .lib-vendor-prefix-order(1);
                    width: 30% !important;
                    margin-right: 3rem;
                    text-align: left;
                    img {
                        width: 100%;
                        max-width: 350px;
                        max-height: 350px;
                        -o-object-fit: cover;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

//
// Large desktop to large tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .ms-megamenu {
        max-width: @ms-megamenu_width;
        .ms-topmenu {
            margin-top: 0;
            .ms-submenu {
                top: 100% !important;
                left: -26% !important;
                min-width: 152%;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                padding: 2rem 0;
                .col-category {
                    .form-group {
                        color: @color-dark-grey1;
                        text-align: left;
                        letter-spacing: @default-letter-spacing;
                        margin: 0 0 0.5rem;
                        font-size: 1.4rem;
                        font-weight: @font-weight__regular;
                        &:hover {
                            color: @color-dark-grey1;
                            text-decoration: underline;
                        }

                        &.level1 {
                            color: @color-grey;
                            text-transform: uppercase;
                            letter-spacing: @title-letter-spacing;
                            margin: 1rem 0;
                            font-weight: @font-weight__semibold;
                        }
                    }
                }
            }
            .ms-content {
                .ms-maincontent {
                    padding-left: 2rem;
                }
                .ms-featured {
                    margin-top: 0;
                }
            }
            .ms-label {
                padding: 35px 15px;
                font-weight: @font-weight__semibold;
                .lib-font-size(14);
                letter-spacing: @title-letter-spacing;

            }
        }
    }
}

//
// Large desktop to large tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__mls) {
    .sections {
        &.nav-sections {
            .ms-megamenu {
                .ms-topmenu {
                    margin-top: 0;
                    .ms-label {
                        padding: 35px 6px;
                    }
                }
            }
        }
    }
}

//
// Large tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

    .sections.nav-sections {
        height: 100vh;
        border-top: 1px solid @color-border;
        box-shadow: none;
        display: block;
        left: 0;
        overflow: hidden;
        top: 71px;
        transition: @transition-mode;
        width: calc(~'100% - @{active-nav-indent}');

        &:after {
            background: @color-black;
            bottom: 0;
            content: '';
            left: 100%;
            opacity: 0;
            position: absolute;
            right: -300%;
            top: 0;
            transition: @transition-mode;
            visibility: hidden;
        }

        .ui-menu-item, .mb-submenu > .col-xs-12:not(.mb-submain), .col-xs-12.col-level, .header.links > *, .mobile-account .item {
            border-bottom: 1px solid @color-border;
            height: @menu-item-height + 1;
            padding: 0 !important; //  to override the parent theme
            position: static;
        }

        .mb-content, a:not(.mb-return):not(.form-group) {
            border-bottom: none !important; //  to override the parent theme
        }

        .ms-megamenu {
            .ms-topmenu {
                margin-top: 0;
                padding: 0 @box-spacing;

                .ms-level0 {
                    float: left;
                    width: 100%;
                    height: auto;
                    &.active {
                        > .mb-submenu {
                            .mb-return {
                                display: none !important;
                            }
                        }
                        > .label-arrow-right {
                            &:after {
                                transform: rotate(90deg);
                            }
                        }
                        > .mb-submenu {
                            display: block;
                        }
                    }
                    > .mb-submenu {
                        left: 0px;
                        right: 0px;
                        position: relative;
                        float: left;
                        width: 100%;
                        transform: none;
                        display: none;
                        transition: none;
                        padding-left: 0px;
                        box-sizing: border-box;
                        a {
                            padding-left: 15px !important;
                            box-sizing: border-box;
                        }
                    }
                    .parent.active {
                        > .mb-submenu {
                            left: 0px;
                            right: 0px;
                            position: relative;
                            float: left;
                            width: 100%;
                            transform: none;
                            display: block;
                            transition: none;
                            padding-left: 0px;
                            box-sizing: border-box;
                            .col-xs-12 {
                                &:nth-child(2) {
                                    border-top: 1px solid #ddd;
                                }
                                a {
                                    padding-left: 30px !important;
                                    box-sizing: border-box;
                                }
                                &:first-child {
                                    border-top: 1px solid #ddd;
                                }
                                &:last-child {
                                    border-bottom: none;
                                }
                            }
                        }
                        > .form-group {
                            > .label-arrow-right {
                                &:after {
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }
                    .col-xs-12.col-level {
                        height: auto;
                        min-height: 45px;
                        &:first-child {
                            border-top: 1px solid #ddd;
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }

                .label {
                    &-arrow-left,
                    &-arrow-right {
                        border-bottom: none;
                        position: static;

                        &:after {
                            .lib-font-size(8);
                            .simple-icon();
                            color: @arrow-icons-color;
                            content: @icon-simple__arrow-right;
                            display: inline-block;
                            font-weight: bold;
                            line-height: @menu-item-height;
                            text-shadow: 1px 0 0 @arrow-icons-color;
                            transform: none;
                        }
                    }

                    &-arrow-left {
                        .lib-font-size(14);
                        line-height: @menu-item-height;

                        &:after {
                            float: left;
                            margin-right: @box-spacing / 2;
                            transform: rotate(180deg);
                        }
                    }

                    &-arrow-right {
                        display: block !important; // to override the parent theme
                        float: right;
                    }
                }

                .ms-label, .mb-content.form-group a:not(.mb-return) {
                    .lib-font-size(14);
                    border-bottom: none;
                    color: @color-grey;
                    font-weight: normal;
                    line-height: @menu-item-height;
                    padding: 0;
                    text-align: left;
                    text-decoration: none;
                    text-transform: uppercase;
                    width: 84%;
                }

                .ms-submenu {
                    display: none !important;
                }
            }

            .mb-submenu {
                .mb-return {
                    display: none;
                }
            }

            .active > .mb-submenu {
                transform: translateX(0);
                visibility: visible;
            }
            .mb-submain {
                border: none;
                padding: 0;

                .col-level.parent, .col-xs-12, .mb-content, &.col-xs-12 {
                    padding: 0;
                    position: static !important; // to disable the parent theme importants
                    width: 100%;
                }
            }

            .row {
                margin: 0;
            }
        }

        .nav-sections {
            &-item-title {
                background: @menu-sections-active-background;
                border: solid @color-border;
                border-width: 0 0 1px 1px;
                float: left;
                padding: 0;
                height: 42px;
                line-height: 42px;
                text-align: center;
                width: 50%;
                display: block;

                &:first-child {
                    border-width: 0 1px 1px 0;
                }
                &.active {
                    background: @color-white;
                    border: 0;
                }

                .nav-sections-item-switch {
                    .lib-font-size(14);
                    color: @menu_links_color;
                    font-weight: normal;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            &-item-content {
                .lib-clearfix();
                box-sizing: border-box;
                float: right;
                margin-left: -100%;
                margin-top: 42px;
                width: 100%;
                &.active {
                    display: block;
                }
                padding: 0;
            }
        }

        .header.links,
        .mobile-account {
            .lib-list-reset-styles();
            display: block;
            padding: 0 @box-spacing;

            li {
                .lib-font-size(14);
                line-height: @menu-item-height;
                margin: 0;
                text-transform: uppercase;

                &.greet.welcome {
                    display: none;
                }
            }

            a {
                color: @menu_links_mob-color;
                text-decoration: none;
            }

            .header.links {
                border: 0;
            }
        }

        .ms-level0,
        .ms-megamenu,
        .form-group {
            padding: 0 !important;

            .mb-label {
                border-bottom: none;
                text-transform: uppercase !important;
                display: block;
                .lib-font-size(14px);
                line-height: @menu-item-height;
                text-align: left;
                color: @menu_links_mob-color;

                span {
                    width: 40px;
                }
            }
        }
    }

    html.nav-open {
        .page-wrapper {
            left: 0;
            overflow: hidden;
        }

        .sections.nav-sections {
            box-shadow: none;

            &:after {
                opacity: .33;
                visibility: visible;
            }
        }
    }

}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls){
    .nav-open .nav-toggle:after {
        background: transparent;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
    html.nav-open {
        .nav-sections {
            &.sections {
                width: 100%;
                height: 100vh;
            }
        }
    }

}
