//
//  Variables
//  _____________________________________________

@minicart-title-empty-color: @color-dark-brown;
@minicart-items-link-color:  @color-dark-grey1;
@minicart-items-qty-color:   @color-border2;
@minicart-update-background: @color-light-grey2;
@minicart-price-color:       @color-black;
@minicart-secondary-color:   @color-grey-red;

//
//  Common
//  _____________________________________________


& when (@media-common = true) {
  .minicart-wrapper {

    &.active {
      .block-minicart {
        margin-top: 0;

        &.block {
          top: 38px;
          box-shadow: none;
          border: 1px solid @color-border;

          #minicart-content-wrapper{
            &:before{
              top: -8px;
              right: 8px;
              .triangle(top, 16px, 7px, @color-border);
            }

            &:after{
              content: '';
              position: absolute;
              top: -8px;
              display: block;
              right: 8px;
              .triangle(top, 16px, 8px, @color-white);
            }
          }

          .block-content {
            .items-total,
            .subtotal {
              .label,
              .amount {
                .price {
                  .lib-font-size(14);
                  color: @minicart-price-color;
                  font-weight: @font-weight__regular;
                }
              }
            }

            .items-total {
              > span  {
                font-weight: @font-weight__regular;
                letter-spacing: 0.55px;
                .lib-font-size(14);
              }

            }
            .subtotal {
              padding: 0 11px;
              font-weight: @font-weight__regular;

              .label {
                font-size: 1.4rem;
                font-weight: @font-weight__regular;
              }
            }


            > .actions {
              margin-top: 47px;

              &.minicart-footer {
                padding: 5px 0;
              }

              > .primary {
                .action {
                  &.primary {
                    .lib-button-primary-white();
                    .lib-css(height, 40px);
                    .lib-css(line-height, 40px);
                    .lib-font-size(13);
                    font-weight: @font-weight__semibold;
                  }
                }
              }

              > .secondary {
                padding-top: 5px;

                a {
                  color: @minicart-secondary-color;
                  font-weight: @font-weight__regular;
                  line-height: 40px;
                }
              }
            }
          }

          .minicart-items {
            .item {
              .product {
                &-item-brand {
                  display: none;
                }

                &-item-name {
                  margin-top: 5px;

                  a {
                    .lib-typography(
                      @_font-size: 14px,
                      @_color: @minicart-items-link-color,
                      @_font-weight: @font-weight__regular,
                      @_line-height: 1.2
                    );
                    text-transform: inherit;
                  }
                }

                &-item-pricing {
                  .details-qty {
                    .label {
                      color: @minicart-items-qty-color;
                      .lib-font-size(13);
                    }

                    .item-qty {
                      .lib-css(width, 35px);
                      .lib-css(height, 32px);
                      .lib-css(border-radius, 0);
                      .lib-css(border, 1 px solid @minicart-items-qty-color);
                      margin-right: 7px;
                    }

                    .update-cart-item {
                      .lib-css(background, @minicart-update-background);
                      padding: 8px 9px;
                      margin: 0;
                    }
                  }

                  .actions {
                    bottom: 16px;
                  }
                }
              }

              .price-container {
                .price {
                  .lib-font-size(12);
                  font-weight: @font-weight__regular;
                  color: @minicart-price-color;
                }
              }
            }
          }

          &.empty {
            #minicart-content-wrapper{
              &:before{
                right: 17px;
              }

              &:after{
                right: 17px;
              }
            }

            .subtitle {
              &.empty {
                padding: 15px 0 30px;
                color: @minicart-title-empty-color;
                .lib-font-size(13);
              }
            }
          }
        }
      }
    }

    .product {
      .actions {
        right: -11px;
      }
    }
    .content{
      &:not(.empty){
        .shipping-counter {
          position: absolute;
          top: 45px;
          left: 20px;
          right: 20px;
          margin: 0;
        }
      }
      .shipping-counter {
        line-height: 17px;
        color: @color-dark-brown1;
        padding: 11px 10px 10px;
        display: block;
        width: auto;

        strong {
          font-family: @futura;
        }
      }
    }
  }
}


//
// Large desktop to large tablet
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

  header {
    &.page-header {
      .panel.header {
        .header-panel-right {
          .minicart-wrapper.active {
            max-width: 63px;
            display: inline-block;
          }
        }
      }
    }
  }

  .minicart-wrapper {
    &:before {
      display: none;
      content: none;
    }

    &:after {
      display: none;
    }

    &.active {

      max-width: inherit;
      .block-minicart {
        &.block {
          top: 40px;

          #minicart-content-wrapper{
            &:before{
              top: -8px;
              right: 8px;
              .triangle(top, 16px, 7px, @color-border);
            }

            &:after{
              content: '';
              position: absolute;
              top: -8px;
              display: block;
              right: 8px;
              .triangle(top, 16px, 8px, @color-white);
            }
          }

          .block-content {
            .items-total,
            .subtotal {
              .label,
              .amount {
                .price {
                  .lib-font-size(14);
                  color: @minicart-price-color;
                  font-weight: @font-weight__regular;
                }
              }
            }

            > .actions {
              &.minicart-footer {
                padding: 5px 0;
              }

              > .primary {
                .action {
                  &.primary {
                    .lib-button-primary-white();
                    .lib-css(height, 40px);
                    .lib-css(line-height, 40px);
                    .lib-font-size(13);
                    letter-spacing: 0.55px;
                    font-weight: @font-weight__semibold;
                  }
                }
              }

              > .secondary {
                padding-top: 5px;

                a {
                  color: @minicart-secondary-color;
                  font-weight: @font-weight__regular;
                  line-height: 40px;
                }
              }
            }
          }

          .minicart-items {
            .item {
              .product {
                &-item-brand {
                  display: none;
                }

                &-item-name {
                  margin-top: 5px;

                  a {
                  .lib-typography(
                    @_font-size: 14px,
                    @_color: @minicart-price-color,
                    @_font-weight: @font-weight__regular,
                    @_line-height: 1.2
                  );
                    text-transform: inherit;
                    letter-spacing: 0.25px;
                  }
                }

                &-item-pricing {
                  div.details-qty {
                    .label {
                      color: @minicart-items-qty-color;
                      .lib-font-size(13);
                    }

                    .item-qty {
                      .lib-css(width, 38px);
                      .lib-css(height, 32px);
                      .lib-css(border-radius, 0);
                      .lib-css(border, 1 px solid @minicart-items-qty-color);
                      margin-right: 7px;
                    }

                    .update-cart-item {
                      .lib-css(background, @minicart-update-background);
                      padding: 7.8px 9px;
                      margin: 0;
                    }
                  }

                  div.actions {
                    bottom: 12px;
                  }
                }
              }

              .price-container {
                .price {
                  .lib-font-size(12);
                  font-weight: @font-weight__regular;
                  color: @minicart-price-color;
                }
              }
            }
          }

          &.empty {
            #minicart-content-wrapper{
              &:before{
                right: 17px;
              }

              &:after{
                right: 17px;
              }
            }
            .subtitle {
             &.empty {
              padding: 15px 0 30px;
              color: @minicart-title-empty-color;
              .lib-font-size(14);
               font-weight: @font-weight__semibold;
             }
            }
          }
        }
      }
    }
  }
}



//
// Large tablet
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
  div.header-panel-right {
    .minicart-wrapper {
      &.active {
        .block-minicart {
          margin-top: 8px;
          right: -16px;

          &.block {
            .minicart-items {
              .item {
                .product {
                  div.actions {
                    bottom: 11px;
                  }
                }
              }
            }
          }

          &.empty {
            .subtitle.empty {
              padding: 8px 0 20px;
            }
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
  div.header-panel-right {
    .minicart-wrapper {
      &.active {
        .block-minicart {
          margin-top: 9px;
        }
      }
    }
  }

  .minicart-wrapper {
    &.active {
      .block-minicart.block.empty {
        #minicart-content-wrapper {
          &:before,
          &:after {
            display: none;
          }
        }
      }
    }
  }

  div.block-minicart {
    #minicart-content-wrapper {
      padding-top: 6px;
    }
  }

  .page-wrapper {
    div.panel.header {
      .header-panel-right {
        .minicart-wrapper {
          .action {
            &.showcart {
              &:before {
                width: 19px;
                height: 22px;
                background-size: 100% 100%;
                margin: 0 7px 0 0;
              }

              .counter.qty {
                padding: 2px;
                top: -5px;
                left: 11px;
                min-width: 16px;
                min-height: 16px;
                line-height: 9px;
              }
            }
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s){

  div.minicart-wrapper {
    .content {
      &:not(.empty) {
        .shipping-counter {
          top: 45px;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }

  div.minicart-wrapper {
    .content {
      &.empty {
        .shipping-counter {
          padding-left: 5px;
          padding-right: 5px;
          margin-right: 0;
          margin-left: 0;
        }
      }
    }

    .block-minicart {
      .block-content {
        padding-top: 8px;
      }
    }
  }

  .shipping-counter{
    width: 91%;
  }
  .header-panel-right {
    .minicart-wrapper {
      .minicart-items  {
        .product-item-pricing {
          width: 100%;
        }
      }

      &.active {
        .block-minicart {
          &.block {
            max-width: 320px;
            min-width: 100vw;
            right: -15px;
            border-left: 0;
            border-right: 0;

            .product.actions {
              top: 15px;
              right: 0;
            }
          }
        }
      }
    }
  }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs){
  div.header-panel-right {
    .minicart-wrapper {
      &.active {
        .block-minicart {
          &.block {
            .product.actions {
              right: 0;
            }
          }
        }
      }
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls){
  .minicart-wrapper {
    .content{
      .shipping-counter {
        top: 15px;
        margin: 0 auto;
      }
      &:not(.empty){
        .shipping-counter {
          top: 49px;
        }
      }
    }
  }
}
