<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name order confirmation" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order.getEmailCustomerNote()":"Email Order Note",
"var order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"var shipping_msg":"Shipping message"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <!--Blocks after header-->

    <tr class="intro-order-info">
        <td class="left-order">
            <h3 class="header-title">{{trans 'Thank you for your order from Aura By Tracie Ellis.'}}</h3>
            <p class="header-sub">{{trans 'Once your order is on the way, we will send you a confirmation email.'}}</p>
        </td>
        <td class="right-order">
            <table class="message-info">
                <tr>
                    <td class="list">{{trans 'Questions about your order?'}}</td>
                    <td class="list">{{trans 'Call us on'}}</td>
                    <td class="list">{{trans '1300 304 269'}}</td>
                    <td class="list">{{trans 'Email us'}}</td>
                    <td class="list">{{depend store_email}}
                        {{trans '<a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}
                        {{/depend}}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="email-summary" colspan="2">
            <p>Hi&nbsp;{{var order.getCustomerName()|escape|nl2br}},</p>
            <p>{{trans "Thank you for your order from %store_name." store_name=$store.getFrontendName()}}
                {{trans "Once your order is dispatched we’ll notify you with a tracking number or pickup request."}}
                {{trans 'You can check the status of your order by <a href="%account_url">signing into your account</a> or' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}
                <a href="{{config path="web/secure/base_url"}}contact">{{trans 'contact us'}}</a>
            </p>

            <h3 class="order-number">{{trans 'Your Order <strong class="no-link">#%increment_id</strong>' increment_id=$order.increment_id |raw}}</h3>
            <span>{{trans 'Placed on <span class="no-link">%created_at</span>' created_at=$order.getCreatedAtFormatted(0) |raw}}</span>
        </td>
    </tr>
    <tr>
        <td class="email-information" colspan="2">
            {{depend order.getEmailCustomerNote()}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var order.getEmailCustomerNote()|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            {{layout handle="sales_email_order_items" order=$order area="frontend"}}
            <table class="order-details">
                <tr>
                    <td class="address-details">
                        <strong>{{trans "Billing Information"}}</strong>
                        <p>{{var formattedBillingAddress|raw}}</p>
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="address-details">
                        <strong>{{trans "Shipping Information"}}</strong>
                        <p>{{var formattedShippingAddress|raw}}</p>
                    </td>
                    {{/depend}}
                </tr>
                <tr>
                    <td class="method-info">
                        <strong>{{trans "Payment Method"}}</strong>
                        {{var payment_html|raw}}
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="method-info">
                        <strong>{{trans "Shipping Method"}}</strong>
                        <p>{{var order.getShippingDescription() |raw}}</p>
                        {{if shipping_msg}}
                        <p>{{var shipping_msg}}</p>
                        {{/if}}
                    </td>
                    {{/depend}}
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
