<div class="page-title-wrapper">
    <h1 class="page-title" id="page-title-heading">
        <span class="base">500 Internal Server Error</span>
    </h1>
</div>
<div class="page-500">
    <p>We are experiencing some internal technical issues.</p>
    <p>Try again later or <a href="/contact-us">contact us</a> for some assistance.</p>
</div>