<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>
<?php $activeFilters = $block->getLayer()->getState()->getFilters(); ?>
<?php if ($block->canShowBlock()): ?>
    <div class="filter-overlay"></div>
    <div class="block filter" id="layered-filter-block" data-mage-init='{"collapsible":{"openedState": "active", "collapsible": true, "active": false, "collateral": { "openedState": "filter-active", "element": "body" } }}'>
        <div class="block-title filter-title">
            <strong><?php /* @escapeNotVerified */ echo __('Refine') ?></strong>
            <?php if ($block->getLayer()->getState()->getFilters()): ?>
                <div class="block-actions filter-actions">
                    <a href="<?php /* @escapeNotVerified */ echo $block->getClearUrl() ?>" class="action clear filter-clear"><span><?php /* @escapeNotVerified */ echo __('Clear All') ?></span></a>
                </div>
            <?php endif; ?>
        </div>

        <div class="block-content filter-content">
            <?php echo $block->getChildHtml('state') ?>
            <?php $wrapOptions = false; ?>
            <?php foreach ($block->getFilters() as $filter): ?>
                <?php if (!$wrapOptions): ?>
                <div class="filter-options" id="narrow-by-list" data-role="content" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": false}}'>
                <?php $wrapOptions = true; endif; ?>
                    <?php if ($filter->getItemsCount()): ?>
                    <div data-role="collapsible" class="filter-options-item">
                        <div data-role="title" class="filter-options-title"><?php /* @escapeNotVerified */ echo __($filter->getName()) ?>
                            <span class="active-filter">
                                <?php foreach ($activeFilters as $activeItem) : ?>
                                    <?php if($filter->getName() == $activeItem->getName()) : ?>
                                        <?php /* @escapeNotVerified */ echo $activeItem->getLabel();?>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </span>
                        </div>
                        <div data-role="content" class="filter-options-content">
                            <?php /* @escapeNotVerified */ echo $block->getChildBlock('renderer')->render($filter); ?>
                            <?php if(strtolower($filter->getName()) == 'size'): ?>
                                <a href="javascript:void(0)" class="toggle-size-guide"><?php echo $block->escapeHtml(__('Size Guide')) ?></a>
                                <div id="size-guide-modal-popup">
                                    <?php echo $block->getChildHtml('leftnav_size_guide') ?>
                                </div>
                                <script>
                                    require(
                                        [
                                            'jquery',
                                            'Magento_Ui/js/modal/modal'
                                        ],
                                        function(
                                            $,
                                            modal
                                        ) {
                                            var options = {
                                                responsive: false,
                                                innerScroll: false,
                                                modalClass: 'size-guide'
                                            };
                                            // register poup
                                            var popup = modal(options, $('#size-guide-modal-popup'));

                                            // register the click to be popup
                                            $( ".toggle-size-guide" ).on( "click", function() {
                                                $('#size-guide-modal-popup').modal('openModal');
                                            });
                                        }
                                    );
                                </script>
                            <?php endif;?>
                        </div>
                    </div>
                    <?php endif; ?>
            <?php endforeach; ?>
            <?php if ($wrapOptions): ?>
                </div>
            <?php endif; ?>
        </div>
    </div>

<?php endif; ?>
