<div class="widget-product-tagline" data-zm-widget="tagline" data-zm-info="true" ></div>

<script type="text/javascript">
    require(['jquery'], function ($) {

        $(document).ready(function ($) {
            setTimeout(function () {
                $('.widget-product-tagline .zip-info').text('Learn more');
            }, 2000);
        });
    });
</script>