<div class="widget-product" data-zm-asset="productwidget" data-zm-widget="popup"  data-zm-popup-asset="termsdialog"></div>

<script type="text/javascript">
    require(['jquery'], function ($) {

        $(document).ready(function ($) {
            setTimeout(function () {
                $('.widget-product .zip-info').text('Learn more');
            }, 2000);
        });
    });
</script>