//
//  Variables
//  _____________________________________________
@title__background-color: @color-white;
@title__color: @color-grey;
@collapsible-nav-color: @color-grey;
@collapsible-nav-item-hover: @collapsible-nav-color;
@color-form-border: @color-border;
@form-blocks-max-width: 500px;
@form-fields-max-width: 95%;
@primary-button-min-width: 125px;
@primary-button-height: 38px;
@primary-button-line-height: 37px;
@field-inputs-height: 40px;
@password-strength-meter-color: @color-dark-grey1;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

  //
  //  Account pages
  //  _____________________________________________

  .account {
    a.action {
        color: @color-grey;
    }
    .column.main {
      color: @color-grey;

      .block-dashboard-info,
      .block-dashboard-addresses {
        .block-title {
          letter-spacing: @title-letter-spacing;
        }
      }
      .block-dashboard-orders {
        .block-title {
          margin-bottom: 0;
          padding-right: 0;
        }

      }
    }

    .block-collapsible-nav {
      .title {
        &.block-collapsible-nav-title {
          border-color: @color-border;
          padding: 0 2rem 0.7rem 0;
          margin-top: 8px;
          cursor: pointer;
          > strong {
            color: @title__color;
            margin-top: 1rem;
            &:after {
              font-weight: @font-weight__bold;
              margin-left: 1rem;
              font-size: 1.2rem;
            }

          }
        }
      }

      .items {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
      }

      .item {
        a,
        > strong {
          .lib-css(color, @collapsible-nav-color);
          display: block;
          padding: 1px 0;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
            color: @color-grey;
          }
        }

        &.current {
          a,
          a strong,
          > strong {
            text-decoration: underline;
            font-weight: @font-weight__regular;
            color: @color-grey;
          }
        }
      }

      .item {
        &:nth-child(1) {
          .lib-vendor-prefix-order(1);
        }
        &:nth-child(2) {
          .lib-vendor-prefix-order(2);
        }
        &:nth-child(3) {
          .lib-vendor-prefix-order(3);
        }
        &:nth-child(4) {
          .lib-vendor-prefix-order(4);
        }
        &:nth-child(5) {
         display: none;
        }
        &:nth-child(6) {
          .lib-vendor-prefix-order(5);
        }
      }
    }

    .block-addresses-default {
      .box.box-billing-address {
        border-top: .1rem solid @color-border;
        padding-top: 1rem;
      }
    }

    .form-address-edit,
    .form-edit-account {
      .fieldset {
        > .legend {
          padding: 1.2rem 0 1.2rem;
          margin: 0;
          color: @color-dark-brown1;
          border-bottom: .1rem solid @color-border;
          margin-bottom: 1rem;
          span {
            letter-spacing: @title-letter-spacing;
          }
        }
      }
    }

    .fieldset {
      .field {
        .label {
          .lib-typography(
            @_font-size: 14px,
            @_color: @color-dark-grey1
          );
          letter-spacing: @default-letter-spacing;
        }
      }
      letter-spacing: 0;
      &.info,
      &.password {
        @ca__blocks-2columns();
        max-width: @form-blocks-max-width;
        .field {
          max-width: @form-fields-max-width;
        }
      }

      input,
      select,
      textarea {
        max-width: @form-fields-max-width;
        height: @field-inputs-height;
      }

      .nice-select {
        width: @form-fields-max-width;
        height: @field-inputs-height;
        line-height: @field-inputs-height;
        border-color: @color-border;
        .lib-font-size(14);
        margin-bottom: 24px;
        &:after {
          color: @color-dark-grey1;
          content: @font-awesome-down;
          font-family: @font-awesome !important;
          .lib-css(line-height, 38px);
          .lib-font-size(18);
          right: 10px;
        }
      }

      .password-strength-meter {
        width: @form-fields-max-width;
        color: @password-strength-meter-color;
      }

      > .legend {
        .ca__block-title();
        width: 100%;
      }

      > .field,
      > .fields > .field,
      .field.choice {
        clear: both;
      }

      .region {
        .nice-select {
          display: none;
        }
      }
    }

    .actions-toolbar {
      clear: both;
      > .primary {
        .action {
          min-width: @primary-button-min-width;
          line-height: @primary-button-line-height;
          height: @primary-button-height;
          color: @color-grey;
          border: .1rem solid @color-grey;
          .lib-font-size(13);
          padding: 0;
          &:hover {
            color: @color-white;
          }
        }
      }
    }

    .form-address-edit {
       .fieldset {
         @ca__blocks-2columns();
         max-width: @form-blocks-max-width;
         .field {
           &.additional {
             width: 100%;
           }

           .label {
             .lib-typography(
               @_font-size: 14px,
               @_color: @color-dark-grey1
             );
             letter-spacing: @default-letter-spacing;
           }
         }

         > .legend {
           .ca__block-title();
           width: 100%;
         }
       }
     }

    .form-newsletter-manage {
      .fieldset {
        > .field {
          > input[type="checkbox"] {
            + label {
              color: @color-grey;
            }
          }
        }
      }
    }

    .box {
      &.box-address {
        &-billing,
        &-shipping {
          @ca__blocks-2columns();
          max-width: @form-blocks-max-width;
        }
      }
    }

    .block-addresses-list {
      clear: both;
    }

    .form-newsletter-manage {
      .fieldset {
        margin-bottom: 20px;

        > .field,
        .field.choice {
          > input[type="checkbox"] {
            &+label {
              :before {
                top: 15px;
              }
            }
          }
        }
      }
      .choice {
        margin-top: 15px;
      }
      .actions-toolbar {
        > .primary {
          .action {
            color: @color-grey;
            &:hover {
              background: @color-grey;
              color: @color-white;
            }
          }
        }
      }
    }

    &.newsletter-manage-index {
      .fieldset {
        >.field,
        >.fields>.field,
        .field.choice {
          >input[type="checkbox"] {
            & +label {
              &:before {
                top: 16px;
              }
            }
          }
        }
      }
    }

    //
    //  My Orders page
    //  _____________________________________________

    .orders-history-title {
      .ca__box-title();
      padding: 1rem 0;
      border-bottom: .1rem solid @color-border;
    }

    .order-status,
    .order-date {
      background: @color-white;
    }

    .title-order-wrapper {
      display: block;
      width: 50%;
      float: left;
      padding-bottom: 1rem;
      border-bottom: .1rem solid @color-border;
      .title {
        .ca__block-title();
        border: 0;
        margin-bottom: 0;
        display: inline-block;
        float: left;
      }
    }

    .order-status {
      font-size: 1.1rem;
      letter-spacing: @title-letter-spacing;
      font-weight: @font-weight__semibold;
      color: @color-grey;
      max-width: 10.5rem;
      border: .1rem solid @color-border;
      display: inline-block;
      padding: .5rem 0;
      margin-top: .6rem;
      text-align: center;
    }

    .order-date {
      padding-right: 0;
      padding-bottom: 1.6rem;
      border-bottom: .1rem solid @color-border;
    }

    .order-actions-toolbar {
      &.actions-toolbar {
        margin: 2rem 0 1.5rem;

      }
      .action {
        text-decoration: underline;
      }
      .print {
        float: right;
      }
      .order {
        float: left;
      }
    }
    .order-links {
      margin-bottom: .1rem;
      .item {
        border: .1rem solid @color-border;
        strong {
          letter-spacing: @title-letter-spacing;
          font-weight: @font-weight__bold;
          background: @color-white;
          color: @color-light-grey;
        }
        &.current {
          strong {
            color: @color-grey;
            letter-spacing: @title-letter-spacing;
            font-weight: @font-weight__bold;
            background: @color-white;
          }
        }
      }
    }

    .order-details-items {
      padding: 0;
      margin-bottom: 2rem;
    }

    #my-orders-table {
      th,
      td {
        &.col {
          &.name {
            text-align: left
          }
          &.subtotal {
            text-align: right;
          }
        }
      }
      tfoot {
        tr {
          th,
          td {
            color: @color-dark-grey1;
          }
        }
        .subtotal {
          th,
          td {
            padding-top: 1rem;
            padding-bottom: 0;
          }
        }
        .shipping {
          th,
          td {
            padding-top: .5rem;
            padding-bottom: .5rem;
          }
        }

        .grand_total {
          th,
          td {
            padding-top: 1rem;
            strong {
              color: @color-grey;
              font-size: 1.4rem;
            }
          }
        }
        .grand_total {
          td {
            border-top: .1rem solid @color-border;
          }
          th {
            position: relative;
            &:before {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              width: 22%;
              height: 1px;
              border-top: .1rem solid @color-border;
            }
          }
        }
      }
    }

    .table-order-items {
      padding-top: 0;
      th {
        &.col {
          text-transform: uppercase;
          padding: 1.2rem 0 1.2rem;
        }
      }
    }

    .customer-account-widget-content {
      .lib-clearfix();
      border: none;
      padding: 0 0 10px;

      p {
        margin: 0;
      }
    }

    #vip-status-calculator-content {
      text-align: right;
    }
  }

  .account-custom-block-after {
    display: block;
    margin: 5rem 0 8rem;
    clear: both;
    float: left;
    &:extend(.abs-add-box-sizing all);
    .lib-vendor-prefix-flex-grow(1);
    .lib-vendor-prefix-flex-basis(100%);
    .lib-vendor-prefix-order(3);
    h2 {
      .lib-typography(
        @_font-size: 22px,
        @_color: @color-grey,
        @_font-weight: @font-weight__regular
      );
      letter-spacing: 0.5rem;
      text-align: center;
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 35%;
        height: 2px;
        border-bottom: 1px solid @color-border;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }

    }
    h3 {
      .lib-typography(
        @_font-size: 16px,
        @_color: @color-dark-brown1,
        @_font-weight: @font-weight__regular
      );
      letter-spacing: @letter-spacing-l;
      margin-top: 3.5rem;
      margin-bottom: 1.5rem;
    }
    .promo {
      &-blocks {
        margin: 0 -1.5rem;
      }
      &-block {
        width: 100%/4;
        padding: 0 1.5rem;
        float: left;
        text-align: center;
      }

      &-main-text {
        max-width: 85%;
        margin: 0 auto;
      }
    }
  }

  //
  //  Login page
  //  _____________________________________________

  .customer-account-login {
    div.login-container {
      margin-bottom: 5rem;
      .note,
      .block-title,
      .social-login-authentication-channel.account-social-login .block-content,
      .block-login {
        text-align: left;
      }

      .block-title {
        letter-spacing: @title-letter-spacing;
        color: @title__color;
        font-size: 1.5rem;
        padding-bottom: 1.4rem;
      }

      .note {
        letter-spacing: @default-letter-spacing;
        padding-bottom: 2.2rem;
      }

      .actions-toolbar {
        > .primary {
          .action {
            .lib-button-primary-gray();
            height: 40px;
            line-height: 40px;
            .lib-font-size(13);
            span {
              letter-spacing: @title-letter-spacing;
            }
          }
        }
        > .secondary {
          .action {
            color: @color-dark-grey1;
            letter-spacing: @default-letter-spacing;
          }
        }
      }

      .field {
        .label {
          .lib-typography(
            @_font-size: 14px,
            @_color: @color-dark-grey1
          );
          letter-spacing: @default-letter-spacing;
          margin: 0 0 0.5rem;
        }
      }

      .social-btn {
        .btn-social {
          border-color: @color-grey;
          color: @title__color;
          opacity: 1;
          font-weight: @font-weight__bold;
          font-size: 1.4rem;
          letter-spacing: @title-letter-spacing;
          .fa-facebook {
            &:before {
              content: "\f082";
            }
          }
          &:hover,
          &:active {
            color: @color-white;
            background: @color-grey;
            span {
              &:before {
                color: @color-white;
              }
            }
          }

          span {

            &:before {
              width: 2.4rem;
              height: 2.4rem;
              left: 1.0rem;
              font-size: 2.4rem;
              line-height: 1;
              border: 0;
              color: @color-grey;
              margin-top: -12px;
            }
          }
        }
      }

      .block-login {
        ul {
          margin-left: 2.0rem;
        }
      }

      .block-new-customer {
        .actions-toolbar {
          text-align: left;
          margin: 3.5rem 0 0 2rem;
        }
      }
    }
  }

  //
  //  Sign In page
  //  _____________________________________________

  .customer-account-create {

    div.page-title-wrapper {
      display: block;
    }

    .signup-title {
      letter-spacing: @title-letter-spacing;
      color: @title__color;
      font-size: 1.5rem;
      margin-top: 3rem;
    }
    .page-main {
      .account-social-login {

        .block-title {
          margin-top: 3rem;

          h3 {
            letter-spacing: @title-letter-spacing;
            color: @title__color;
            font-size: 1.4rem;
            margin-bottom: 1.2rem;
          }
        }

        .text-note {
          text-align: left;
        }

        .actions-toolbar {
          &.social-btn-actions-toolbar {
            float: left;
            width: 100%;
            padding: 0;
            margin-left: 0;
          }
        }
        .btn-social {
          text-align: left;
          border: 1px solid @color-grey;
          border-radius: 0;
          color: @title__color;
          opacity: 1;
          font-weight: @font-weight__bold;
          font-size: 1.4rem;
          letter-spacing: @title-letter-spacing;
          width: 100%;
          text-transform: uppercase;
          max-width: 265px;
          padding: 1.0rem 3.0rem 1.0rem 4.0rem;
          line-height: normal;
          height: auto;
          > :first-child {
            position: absolute;
            left: 0.5rem;
            top: 0.8rem;
            bottom: 0;
            width: 3.2rem;
            font-size: 1.6em;
            text-align: center;
          }

          .fa-facebook {
            &:before {
              content: "\f082";
            }
          }
          &:hover,
          &:active {
            color: @color-white;
            background: @color-grey;
            span {
              &:before {
                color: @color-white;
              }
            }
          }

          span {
            &:before {
              width: 2.4rem;
              height: 2.4rem;
              left: 1.0rem;
              font-size: 2.4rem;
              line-height: 2.1rem;
              border: 0;
              color: @color-grey;
            }
          }
        }

      }
    }

    .signup-subtitle {
      margin-bottom: 1.8rem;
    }

    fieldset.fieldset {
      &.info,
      &.password {
        width: 100%;
        max-width: 100%;
      }
      .confirmation {
        margin-top: 10.2rem;
      }
    }

    .create-account-container {
      .control {
        position: relative;

        div.mage-error[generated] {
          margin: 0;
          border-top: 0;
          position: static;
          padding: 7px 12px 8px;
          width: 100%;

          &:before,
          &:after {
            display: none;
          }
        }
      }
    }

    #create-account-container {
      .create-account-container {
        .field-name-firstname,
        .field-name-lastname {
          width: 100%;
          max-width: 100%;
          margin-right: 0;
        }
        .create.account {
          .password {
            position: relative;
            .password-strength-meter {
              position: absolute;
              top: 4rem;
              right: 0;
              height: 4rem;
              border: 1px solid @color-border;
              border-top: 0;
              max-width: 68%;
              color: @color-red !important;
              font-weight: @font-weight__regular;
              font-size: 1.4rem;
              padding-top: 0.8rem;
            }
          }
        }
      }
    }

    .create-account-container {

      .actions-toolbar {
        .primary {
          .action {
            .lib-button-primary-gray();
            max-width: 190px;
            font-size: 1.4rem;
            line-height: 1.4rem;
            height: 4rem;
            padding: 0;

          }
        }
      }
    }

    .account-social-login {
      text-align: left;
    }

    .fieldset {
      > legend.legend {
        width: 25%;
      }
    }
    .control {
      div.mage-error[generated] {
        margin-top: 37px;
        position: absolute;
        right: 0;
        padding: 1.2rem 1.0rem;
        border: 1px solid #ddd;
        background: #fff;
        font-size: 1.4rem;
        top: 1.5rem;
        width: 260px;
        z-index: 2;
        &:before {
          content: '';
          position: absolute;
          top: -7px;
          left: 95px;
          right: 0;
          .triangle(top, 16px, 7px, @color-border);
        }
        &:after {
          content: '';
          position: absolute;
          top: -7px;
          left: 95px;
          right: 0;
          .triangle(top, 16px, 8px, @color-white);
        }
      }
    }
  }
  //
  //  Sign Up page
  //  _____________________________________________

  .customer-account-logoutsuccess {
    .page-title-wrapper {
      .page-title {
        padding: 3rem 0 2.5rem;
      }
    }
  }
  //
  // Forgot Password
  //  _____________________________________________

  .customer-account-forgotpassword {
    .page-title-wrapper {
      text-align: center;
      padding: 2rem;
      border-bottom: 1px solid @color-border;
    }
    .form.password {
      margin-top: 4rem;
    }
    .note {
      letter-spacing: @default-letter-spacing;
      margin-bottom: 1.5rem;
    }
    .label {
      span {
        color: @color-dark-grey1;
        font-size: 1.4rem;
      }
    }
    .label[for="email_address"] {
      margin-top: 1rem;

    }
    .control {
      width: 70%;
      float: right;
    }
    .actions-toolbar {
      width: 70%;
      float: right;
      margin-top: 0;

      .primary {
        .action {
          height: 4rem;
          line-height: 4rem;
          font-size: 1.4rem;
          padding: 0 3rem;
        }
      }
    }
    .account-custom-block-after {
      margin: 11rem 0 8rem;
    }
  }

  .password.forget {
    .primary {
      .action {
        width: 102px;
      }
    }
  }
}

//
// Large desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

  .account {
    .page-title-wrapper {
      margin-bottom: 3.5rem;
      padding-bottom: 1.5rem;
      margin-top: 0;
      h1 {
        letter-spacing: @letter-spacing-l;
      }
    }

    .column.main {

      .block-dashboard-info {
        margin-bottom: 1.5rem;
        .block-title {
          margin-bottom: 1rem;
        }
      }

      .box-title {
        letter-spacing: @default-letter-spacing;

      }

      .block-addresses-default {

        .block-title {
          margin: 0;
          padding: 0.5rem 1rem 1.5rem 0;
          border-bottom: 0;
        }
        .box {
          &-address-billing,
          &-address-shipping {
            .box-title {
              border-top: 1px solid @color-border;
              padding-top: 1.5rem;
            }
          }
        }
      }
      .block-dashboard-addresses {
        .block-title {
          .ca__block-title();
          border: 0;
          padding-bottom: 1rem;
          margin-bottom: 0;
          font-size: 1.3rem;
          padding-right: 0;
        }
        .block-section-content {
          .block {
            border-top: 0.1rem solid @color-border;
            width: 48.8%;
            max-width: 450px;
            padding-left: 0;
            &:nth-child(odd) {
              clear: left;
              float: left;
            }
            &:nth-child(even) {
              float: right;
            }
          }

          .box-title {
            padding-top: 1rem;
          }
        }

        .box {
          border-top: 1px solid @color-border;
          padding: 10px 0 0;
        }
      }
    }
  }

  .form-newsletter-manage-holder {
    padding: 0 19% 0 0;
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {

  .customer-account-login {
    div.block-customer-login {
      .actions-toolbar {
        margin-top: 3.5rem;
        .primary {
          .action {
            min-width: 125px;

          }
        }

      }
    }

    div.login-container {

      .text-note {
        margin-bottom: 1.3rem;
        letter-spacing: @default-letter-spacing;
      }
      .account-social-login {
        padding-left: 5.0rem;
      }

      .social-btn {
        .btn-social {
          min-width: 265px;
          padding: 1.0rem 3.0rem 1.0rem 4.0rem;
        }
      }
    }

    .page-title-wrapper {
      padding-bottom: 1.8rem;
      margin-bottom: 2.7rem;
    }

    .account-custom-block-after {
      margin: 4rem 0 8rem;
    }
  }

  .customer-account-create {
    .page-main {
      #create-account-container {
        .create-account-container {
          width: 100%;
          max-width: 100%;
          padding: 0;
          margin: 0;
        }
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-wrap(wrap);
        .lib-vendor-prefix-flex-direction(row);
        min-height: inherit;
        width: 100%;
        margin-bottom: 4rem;
        .field-name-firstname,
        .field-name-lastname,
        .create.account {
          .label {
            width: 20%;
            float: left;
          }
          .control {
            width: 68%;
            float: right;
          }

          input,
          select,
          textarea {
            max-width: 100%;
          }

        }
      }

      .account-social-login {
        width: 35%;
      }
      .form-create-account.form.create {
        width: 58%;
        padding-right: 10rem;
        border-right: 1px solid @color-border;
        float: left;
      }

      .create-account-container {
        .actions-toolbar {
          margin-top: 1.8rem;
          float: right;
          width: 68%;
        }
      }

      .account-social-login {
        float: right;
      }
    }
    .page-title-wrapper {
      .page-title {
        font-size: 2.8rem;
        letter-spacing: @title-letter-spacing;
        padding: 1.4rem 0;
      }

    }

  }

  .password.forget {
    min-height: 150px;
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s){

  .customer-account-create {
    .fieldset {

      &.account {
        .field {
          .control {
            padding: 0 0 2.4rem;
          }
        }
      }
    }

    .actions-toolbar {
      margin-top: 0;
      float: right;
      width: 65%;
    }

    .account-social-login {
      margin-top: 7rem;
    }
  }

}

//
// Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

  .customer-account-login,
  .account + .customer-address-index {
    .account-custom-block-after {
      margin: 0 0 7rem;
      h2 {
        &:before,
        &:after {
          width: 30%;

        }
      }

      .promo {
        &-block {
          width: 100%/2;
        }
      }
    }
  }

  .customer-account-login {
    .account-custom-block-after {
      margin: 10rem 0 7rem;
    }

    div.login-container {
      margin-bottom: 2rem;
    }
  }

  .account {
    &.customer-address-index {
      .page-main {
        padding-top: 20px;

        .sidebar-main,
        .sidebar-additional,
        .column.main {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    fieldset {
      &.fieldset {
        &.info,
        &.password {
          width: 100%;
          max-width: 100%;
          .field {
            max-width: 100%;
          }
        }

        input,
        select,
        textarea {
          max-width: 100%;
        }

        .password-strength-meter {
          width: 100%;
        }

        .nice-select {
          width: 100%;
        }
      }
    }

    .column.main {

      .form-address-edit {
        .fieldset {

          width: 100%;
          max-width: 100%;

          > .legend {
            .ca__block-title();
            width: 100%;
          }

        }
      }
    }
  }

  .customer-account-create {
    .account-custom-block-after {
      margin: 0;
    }
  }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {

  .customer-address-form {
    .page-main {
      padding-top: 20px;
    }
  }

  .customer-account-login {

    .page-top-section {
      display: block;
    }
  }

  .customer-account-create {
    h3 {
      &.signup-title {
        margin-top: 1.5rem;
      }
    }
    fieldset.fieldset {
      div.confirmation {
        margin-top: 7rem;
      }
    }

    .create-account-container {

      div.control {
        width: 65%;
        float: right;

      }

      .account-social-login {
        border-top: 1px solid @color-border;
        .text-note {
          margin-bottom: 3rem;
        }
        .btn-social {
          margin-bottom: 1.2rem;
        }
      }
    }

    .account-custom-block-after {
      h2 {
        &:before,
        &:after {
          width: 28%;
        }
      }

      .promo-block {
        width: 50%;
      }
    }

    #create-account-container {
      min-height: inherit;
      margin-bottom: 3rem;
      div.create-account-container {
        float: left;
        max-width: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
      }

    }
  }

  .account-custom-block-after {
    div.promo-block {
      width: 50%;
    }
    h2 {
      &:before,
      &:after {
        display: none;
      }
    }
  }

  .page-wrapper {
    .breadcrumbs {
      display: none;
    }

    header {
      &.page-header {
        margin-bottom: 1rem;

      }
    }

    .page-title-wrapper {
      .page-title {
        font-size: 2.6rem;
        letter-spacing: @letter-spacing-l;
      }
    }
  }


}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
  .page-layout-1column {
    &.customer-account-login {
      .login-container {
        margin-bottom: 2rem;
      }
    }
  }

  .customer-account-login {
    .login-container {

      .account-social-login {
        padding-left: 4rem;
      }

      .form-login {
        .actions-toolbar {
          margin-top: 2.5rem;
        }
      }

      .block-new-customer {
        .actions-toolbar {
          margin: 2.5rem 0 0;
        }
      }
    }

    div.page-title-wrapper {
      margin-top: 0;
    }

    div.account-custom-block-after {
      margin-top: 0;
    }
    .columns .column.main {
      margin-bottom: 0;
    }
  }

  .customer-account-create {
    #create-account-container {
      .create-account-container {
        .create.account {
          .password {
            div.password-strength-meter {
              max-width: 65%;
            }
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

  .account {
    .block {
      &.block-collapsible-nav {
        .title {
          > strong {
            color: @color-grey;
            padding: 0;
            text-transform: uppercase;
            &:after {
              content: @font-awesome-down;
              font-family: @font-awesome;
              .lib-font-size(18);
              margin: -1px 0 0 10px;
            }
          }
          &.active {
            > strong {
              color: @collapsible-nav-color;
              &:after {
                content: @font-awesome-up;
                font-family: @font-awesome;
                .lib-font-size(18);
                margin: -1px 0 0 10px;
              }
            }
          }
        }
      }
    }
    .column.main {
      .box {
        &-address-billing,
        &-address-shipping {
          width: 100%;
          max-width: 100%;

        }
      }
    }
  }

  .customer-account-login {

    div.login-container {
      div.block-new-customer {
        .actions-toolbar {
          margin: 2.5rem 0 0 0;
        }
      }
    }
  }

  .customer-account-create {
    #create-account-container {
      .create-account-container {
        .control {
          width: 100%;
          float: left;
          padding: 0 0 2.0rem;
        }
        .account-social-login {
          .block-title {
            h3 {
              margin-top: 0;
            }
          }
        }
        .actions-toolbar {
          width: 100%;
          .primary {
            text-align: center;
            .action {
              max-width: 100%;
            }
          }
          &.social-btn {
            width: 100%;
            border: 1px solid @color-border;
            margin-bottom: 2rem;
          }
          .btn-social {
            max-width: 280px;
            text-align: center;
            border: 0;
            margin: 0 auto;
          }
        }

        .create.account {
          .password {

            div.password-strength-meter {
              padding-top: 1.2rem;
              top: 7rem;
              max-width: 100%;
            }
          }
        }
      }
      .fieldset {
        .confirmation {
          margin-top: 9rem;
        }
      }
      .control {
        div.mage-error[generated] {
          margin-top: 7.4rem;
        }
      }
    }
  }

  .page-main {
    div.account-custom-block-after {
      margin: 2rem 0 5rem;

      .promo {
        &-block {
          width: 100%;
        }
      }
    }

  }

  .customer-account-forgotpassword {
    .form.password {
      margin-top: 4rem;
    }
    .label {
      span {
        color: @color-dark-grey1;
        font-size: 1.4rem;
      }
    }
    .label[for="email_address"] {
      margin-top: 1rem;

    }
    div.control {
      width: 100%;
      float: left;
    }
    div.actions-toolbar {
      width: 100%;
      float: left;

      .primary {
        .action {
        }
      }
    }
    .account-custom-block-after {

    }

  }

  .sales-order-view {
    .column.main {
      width: 100%;
    }
    .order-title {
      display: none;
    }
    ul.order-links {
      .item {
        padding: 1rem 0;
        border: 0;
        strong {
          padding: 0;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

  .account {
    .page-footer {
      border-top: 0;
      padding-top: 0;
    }

    .table-order-items {
      &.recent {
        tbody {
          td {
            &:first-child {
              text-align: right !important;
            }
          }
        }
      }

      tbody {
        td {
          &:before {
            min-width: auto;
          }
        }
      }
    }

    div.orders-history-title {
      margin: 0;
    }

    .table-wrapper.orders-history {
      border: none;
      .table:not(.totals):not(.cart):not(.table-comparison) {
        > tbody {
          > tr {
            .lib-clearfix();
            border-bottom: 1px solid @color-border;
            padding-top: 6px;

            td,
            th {
              text-align: right !important;
              padding-top: 6px;
            }

            td:last-child {
              border: none;
            }
          }
        }
      }
    }
  }
  .account,
  .customer-account-login {
    &.page-layout-1column {
      div.login-container {
        margin-bottom: 0;

      }
      .account-custom-block-after {
        margin-top: 0;
      }
    }

  }
  .sales-order-view {
    &.account {
      #my-orders-table {
        th,
        td {
          &.col {
            text-align: left;
            margin: 0;
            &.subtotal {
              text-align: left;
              border: 0;
            }
          }
        }
        .grand_total {
          th {
            &:before {
              width: 100%;
            }
          }
        }
      }
    }
    div.title-order-wrapper {
      width: 100%;
    }
    .order-links {
      .item {
        &.current {
          strong {
            padding: 0;
          }
        }
      }
    }

  }
  .customer-account-logoutsuccess {
    .page-title-wrapper {
      .page-title {
        text-align: center;
      }
    }
    .columns {
      p {
        text-align: center;
      }
    }
  }

  .table-wrapper.orders-recent {
    .table.table-order-items.recent {
      tbody {
        > tr {
          .lib-clearfix();

          &:not(:last-child) {
            border-bottom: 1px solid @color-border;
          }

          > td {
            &:first-child {
              padding-top: 6px;
            }

            &:last-child {
              border: none;
            }
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
  .customer-account-create {
    .account-social-login {
      margin-top: 0;
    }
  }

  .customer-account-create {
    .page-main {
      .account-social-login {
        .block-title {
          h3 {
            margin-top: 0;
          }
        }
      }
    }
  }

  .account {
    .fieldset {
      &.info,
      &.password {
        &:nth-child(odd) {
          float: none;
        }
      }
    }

    &.sales-order-invoice,
    &.sales-order-view {
      .table-order-items {
        tfoot {
          th {
            &:first-child {
              text-align: left !important;
              padding-right: 5px;
              padding-left: 63%;
              padding-bottom: 10px;
              width: 80%;
            }
          }

          td {
            width: 20%;
          }
        }
      }
    }
  }


}