// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Components
//  _____________________________________________

@import 'module/_orders.less';
@import 'module/_order-details.less';
@import 'module/_mixins.less';

//
//  Variables
//  _____________________________________________

@account-title-border-color: @color-gray-middle2;
@account-table-border-bottom-color: @color-gray-middle1;
@account-table-action-delete: @color-red12;

@_password-default: @color-black;
@_password-weak: @color-red;
@_password-medium: #ff8400;
@_password-strong: #35bb00;
@_password-very-strong: #35bb00;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Common - Page Title
    //  _____________________________________________
    .page-title-wrapper {
        margin-bottom: @indent__m;
        letter-spacing: 0.2px;
        text-align: center;
    }

    #vip-status-calculator-content {
        display: block;
        float: none !important;
        width: 100%;
        > p {
            text-align: right;
        }
    }

    .account {
        .customer-account-widget-content {
            border: 1px solid @_order-color-form-border;
            display: inline-block;
            padding: 15px 20px;
            margin-bottom: 25px;
            width: 100%;
            p {
                margin-bottom: 0;
                strong {
                    text-transform: uppercase;
                    font-size: 16px;
                }
            }

            &.black, &.gold, &.silver {
                > p:first-child {
                    border-radius: 50%;
                    height: 80px;
                    line-height: 80px;
                    text-align: center;
                    width: 80px;
                    display: inline-block;
                    vertical-align: top;

                    strong {
                        .lib-font-size(22px);
                        font-family: @font__didot-regular;
                        text-transform: capitalize;
                    }
                }

                .align-right {
                    margin-left: auto;
                }
            }

            &.black > p:first-child {
                background: @color-black;

                strong {
                    color: @color-white;
                }
            }

            &.gold > p:first-child {
                background: #e7dbb1;
            }

            &.silver > p:first-child {
                background: @color-light-grey1;
            }
        }
    }

    .login-container {
        .block {
            &-new-customer {
                .actions-toolbar {
                    margin-top: 25px;
                }
            }

            .block-title {
                &:extend(.abs-login-block-title all);
                .lib-font-size(18);
            }
        }

        .fieldset {
            .lib-form-hasrequired(bottom);

            &:after {
                margin-top: 35px;
            }
        }
    }

    .block-addresses-list {
        .items.addresses {
            > .item {
                margin-bottom: @indent__base;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .item.actions {
                margin-top: @indent__xs;

                .action {
                    &:extend(.abs-account-actions all);
                }
            }
        }

        address {
            &:extend(.abs-account-block-line-height all);
        }
    }
    .block-reviews-dashboard{
        clear: both;
    }
    .form-address-edit {
        .control{
            select{
                display: inline-block;
                height: 40px;
                line-height: 30px;
            }
            .nice-select{
                display: none;
            }

        }
        .country{
            select{
                display: inline-block !important;
            }
        }
        .actions-toolbar .action.primary {
            &:extend(.abs-button-l all);
        }
        .fieldset{
            .legend{
                .ca__block-title();
                .lib-font-size(13px);
                margin-bottom: 24px;
                width:100%;
                border:0;
            }
        }
    }

    .form-edit-account {
        .fieldset.password {
            display: none;
        }
        .fieldset{
            .legend{
                .ca__block-title();
                .lib-font-size(13px);
                margin-bottom: 24px;
                width:100%;
                border:0;
            }
        }
    }

    .form-create-account {
        .fieldset-fullname {
            .fields {
                .field {
                    float: none;
                }
            }
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-information,
    .box-newsletter {
        .box-content {
            &:extend(.abs-account-block-line-height all);
        }
    }

    .customer-account-create {
        .page-title-wrapper {
            .lib-clearfix();
            border-bottom: 1px solid @color-form-border;
            margin-bottom: 1.5rem;
            text-align: center;

            .page-title {
                font-size: 20px;
            }
        }
    }

    .create-account-container {


        .signup-title,
        .signup-subtitle {
            margin-bottom: 1.5rem;
        }

        .signup-list {
            list-style-type: disc;
            list-style-position: inside;
            > li {
                margin: 0;
            }
        }

        h3 {
            color: @h2__font-color;
            font-size: @h2__font-size;
            font-weight: @h2__font-weight;
            line-height: @h2__line-height;
        }

        .form.create.account {
            min-width: 0;
            width: 100%;
        }

        .legend {
            .lib-visually-hidden();
        }

        .fieldset {
            margin: 0;
        }

        .field {
            margin: @form-field-type-inline__margin;

            &.confirmation {
                margin: @form-field-type-inline__margin;
            }

            &.newsletter {
                .lib-visually-hidden();
            }
        }

        #password-strength-meter-container {
            float: right;
            margin: 0 0 5px;
        }

        .password-strength-meter {
            border: none;
            color: @_password-default !important;
            font-size: 11px;
            font-weight: @font-weight__bold;
            height: auto;
            letter-spacing: .02em;
            line-height: @form-field-label__line-height;
            padding-right: 0;
        }

        .control {
            width: 100%;
        }

        .actions-toolbar {
            .lib-clearfix();
            margin-bottom: 1rem;

            .primary {
                width: 100%;
                .action {
                    margin: 0;
                    width: 100%;
                }
            }
        }

        .account-social-login {
            border-top: 1px solid @color-form-border;
            text-align: center;

            .block-title {
                .lib-clearfix();

                h3 {
                    margin: @indent__l 0 @indent__base;
                }
            }

            .actions-toolbar {
                &.social-btn {
                    margin: 0 .5em .5em;
                    width: auto;
                }
            }

            .btn-social {
                background-color: transparent;
                -webkit-border-radius: 35px;
                -moz-border-radius: 35px;
                border-radius: 35px;
                border: 2px solid @primary__color;
                color: @primary__color;
                font-size: 18px;
                height: 35px;
                line-height: 33px;
                padding: 0;
                text-align: center;
                width: 35px;
                .fa {
                    border: none;
                    font-size: inherit;
                    line-height: normal;
                    position: static;
                    width: auto;
                }
                .text {
                    .lib-visually-hidden();
                }
            }
        }
    }

    //  My account
    .account {
        .page-title-wrapper {
            text-align: center;

            h1 {
                letter-spacing: .03em;
            }
        }

        .breadcrumbs {
            display: none;
        }

        .messages {
            margin-bottom: @indent__base;
        }

        .column.main {
            margin-bottom: @indent__l;

            h2 {
                margin-top: 0;
            }

            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
            }
        }

        .sidebar-additional {
            margin-top: @indent__xl;
        }

        .table-wrapper {
            .lib-css(margin-bottom, @indent__base);
            border-bottom: 1px solid @account-table-border-bottom-color;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .legend {
            &:extend(.abs-account-title all);
        }

        .column.main {
            .block,
            .box {
                margin-bottom: 2rem;
            }

            .block {
                .block-title {
                    .ca__block-title();
                    .lib-font-size(13px);
                    margin-bottom: 24px;
                }

                .box-actions {
                    margin-top: 2rem;
                }
            }

            .box-title {
                .ca__box-title();
            }

            .actions,
            .box-actions {
                a {
                    + a {
                        &:before {
                            content: '/';
                            display: inline-block;
                            margin: 0;
                        }
                    }
                }
            }
        }

        address,
        p {
            margin: 0 0 2rem;
        }

        .dashboard-greetings {
            margin: 0 0 3rem;
        }

        .table-order-items {
            th {
                color: @color-light-grey;
                font-weight: @font-weight__regular;
            }
            tfoot {
                th {
                    color: #000;
                }
            }
            .item-options-container {
                td {
                    border-top: none;
                }
            }
            .options-label {
                .col.label {
                    padding-top: 14px;
                    text-align: left;
                }
            }
        }

        .block-collapsible-nav {
            margin: 0 0 2rem;
            position: static !important;

            .title {
                border: 1px solid @color-form-border;
                color: @primary__color;
                margin: 0;
                .lib-font-size(13);
                line-height: 2;
                letter-spacing: .02em;
                padding: .5rem;
                text-align: center;
                strong {
                    font-weight: @font-weight__bold;
                    margin: 0;
                    .lib-icon-font(
                        @icon-simple__caret-down,
                        @_icon-font: @font__simple-line,
                        @_icon-font-size: 16px,
                        @_icon-font-color: inherit,
                        @_icon-font-color-hover: inherit,
                        @_icon-font-color-active: inherit,
                        @_icon-font-margin: 0 0 0 5px,
                        @_icon-font-position: after,
                        @_icon-font-text-hide: false,
                        @_icon-font-display: inline-block
                    );
                }
                &.active {
                    strong {
                        .lib-icon-font-symbol(
                            @icon-simple__caret-up,
                            @_icon-font-position: after
                        )
                    }
                }
            }

            .content {
                background: none;
                margin: 0;
                padding: 10px 0;
            }

            ul {
                margin: 0;
            }

            .item.current {
                a,
                > strong {
                    border: none;
                    color: @primary__color;
                    font-weight: @font-weight__regular;
                    padding-left: 0;
                }
            }

            .item {
                a {
                    border: none;
                    color: @color-light-grey;
                    padding-left: 0;
                    &:hover,
                    &:active,
                    &:focus {
                        background: none;
                        color: @primary__color;
                    }
                }
            }
        }

        .form-address-edit,
        .form-edit-account {
            .fieldset {

                > .legend {
                    ._block-title-holder();
                    border-bottom: none;
                    display: block;
                    width: 100%;

                    span {
                        ._block-title();
                    }
                }

                .field {
                    display: inline-block;
                    width: 100%;

                    .additional {
                        margin-top: @form-field__vertical-indent;
                    }
                    .label {
                        color: #151314;
                    }
                }
            }
        }
        button[role="add-address"] {
            background: @color-white;
            border: 1px solid @color-black;
            color: @color-black;
        }
    }

    .account,
    [class^='sales-guest-'],
    .sales-guest-view {
        .column.main {
            .order-details-items {
                .table-wrapper {
                    .data.table {
                        &:extend(.abs-table-striped all);
                    }
                }
            }
        }

        .data.table {
            .col.actions {
                .action {
                    &:extend(.abs-account-actions all);
                    &.delete {
                        .lib-css(color, @account-table-action-delete);
                    }
                }
            }
        }
    }

    //  Checkout address (create shipping address)
    .field.street {
        .field.additional {
            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Blocks & Widgets
    //  ---------------------------------------------

    .block {
        &:extend(.abs-margin-for-blocks-and-widgets all);
        .column.main & {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .title {
            strong {
                .lib-heading(h4);
                .column.main & {
                }
            }

            margin-bottom: @indent__s;
        }

        p {
            &:last-child {
                margin: 0;
            }
        }

        .box-actions {
            margin-top: @indent__xs;

            .action {
                &:extend(.abs-account-actions all);
            }
        }
    }

    //
    //  Password Strength Meter
    //  ---------------------------------------------

    .field.password {
        .control {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction();

            .mage-error {
                .lib-vendor-prefix-order(2);
            }

            .input-text {
                .lib-vendor-prefix-order(0);
            }
        }
    }

    .password-strength-meter {
        color: @_password-default;
        height: @form-element-input__height;
        line-height: @form-element-input__height;
        padding: @form-element-input__padding;
        position: relative;
        z-index: 1;
        border: 1px solid @color-form-border;
        border-top: 0;

        .password-strength-meter-0 & {
            &:before {
                color: @_password-default;
            }
        }

        .password-strength-meter-1 & {
            color: @_password-weak;
        }

        .password-strength-meter-2 & {
            color: @_password-medium;
        }

        .password-strength-meter-3 & {
            color: @_password-strong;
        }

        .password-strength-meter-4 & {
            color: @_password-very-strong;
        }
    }

    .control.captcha-image {
        .lib-css(margin-top, @indent__s);

        .captcha-img {
            vertical-align: middle;
        }
    }

    .account {
        .data.table-return-items {
            .qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                }
            }
        }
    }


    .customer-account-login {
        .page-title-wrapper {
            border-bottom: 1px solid @color-form-border;
            margin-bottom: 25px;
            letter-spacing: 0.2px;
            text-align: center;
        }

        .login-container {
            display: inline-block;
            width: 100%;

            .block-title {
                .lib-font-size(16);
                padding-bottom: 25px;
                text-transform: uppercase;
                text-align: left;
                letter-spacing: 0.4px;
            }

            .fieldset {
                &:after {
                    display: none;
                }
            }
        }

        .login-container {
            .fieldset {
                &.after {
                    display: none;
                }
            }
        }
    }

    .login-container {
        .social-btn {
            .btn-social {
                color: @color-black;
                .lib-font-size(13);
                font-weight: @font-weight__bold;
                padding: 10px 30px 10px 50px;
                border: 1px solid @color-black;
                border-radius: 0;
                background: @color-white;
                overflow: visible;
                letter-spacing: 0.2px;
                text-transform: uppercase;
                width: 100%;

                > :first-child {
                    border-right: none;
                }

                &:hover,
                &:active {
                    opacity: 0.6;
                }
            }

            span {

                &:before {
                    border: 1px solid #000;
                    border-radius: 50%;
                    left: 20px;
                    top: 50%;
                    width: 20px;
                    height: 20px;
                    display: block;
                    .lib-font-size(12);
                    .lib-line-height(20);
                    position: absolute;
                    margin-top: -10px;
                }
            }
        }
    }

    //
    //  Forgot Password Page
    //  _____________________________________________
    .password {
        &.forget {
            min-height: 100%;

            .field {
                .label {
                    margin-bottom: @indent__s;
                }

                #email_address {
                    max-width: 478px;
                }
            }
            .primary .action {
                background: @color-white;
                border-color: @color-black;
                color: @color-black;
                .lib-font-size(13);
                width: 194px;

                &:hover {
                    background: #666666;
                    border-color: #666666;
                    color: @color-white;
                }
            }
        }
    }


    //
    //  Dashboard - Address Info - Address Book
    //  _____________________________________________

    .account-dashboard-greeting {
        margin-bottom: 44px;
    }
    .dashboard-greetings {
        padding-bottom: 1px;

        &__title {
            display: block;
            margin: 0 0 30px;
            font-weight: @font-weight__regular;
            .lib-font-size(@font-size__base);
            line-height: 1.25;
        }
    }

    .block-section {
        margin: 0 0 52px;
    }

    .block-section-content {

        .block {
            margin: 0 0 40px;
        }
    }

    .form-address-edit {
        .validator.validator-phone.validation-no .feedback
        {
            display: none !important;
        }
        .actions-toolbar .action.primary {
            &:extend(.abs-button-l all);
        }
    }

    .form-edit-account {
        .fieldset.password {
            display: none;
        }
        .field-date{
            margin-bottom: 23px;
        }
    }

    .form-edit-account,
    .form-address-edit {

        .form-description {
            margin: 0 0 27px;
        }

        .customer-dob {

            .ui-datepicker-trigger {
                position: absolute;
                width: 0;
                height: 0;
                opacity: 0;
                visibility: hidden;
                overflow: hidden;
            }
        }
    }

    .field-dob {
        position: relative;
        .field-birthday {
            .lib-font-size(14);
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .fieldset {
        .control {
            .choice {
                width: auto;
                display: inline-block;
                .lib-css(padding-right, @indent__base * 6);
            }
        }
    }

    .field {
        &.email {
            .lib-css(margin-top, @indent__base * 5);
        }
        .feedback{
            display: none !important;
        }
    }
    .form-login{
        .field {
            &.email {
                .lib-css(margin-top, 0);
            }

        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .page-title-wrapper {
        border-bottom: 1px solid @color-form-border;
    }

    #create-account-container {
        background-repeat: no-repeat;
        background-position: top left;
        -webkit-background-size: cover;
        background-size: cover;
        .lib-clearfix();
        margin-bottom: 96px;
        min-height: 900px;

        .create-account-container {
            float: right;
            margin-right: 90px;
        }
    }

    .customer-account-create {
        .page-title-wrapper {
            display: none;
        }
    }

    .create-account-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 44px 0;
        padding: 30px 30px 30px;
        max-width: 510px;
        background-color: rgba(255,255,255,0.95);

        .field-name-firstname,
        .field-name-lastname {
            display: inline-block;
            vertical-align: top;
            width: 48%;
        }

        .field-name-firstname {
            margin-right: 4%;
        }

        .actions-toolbar {
            margin-top: 0;
        }

        .account-social-login {
            border-top: none;
            .block-title {
                h3 {
                    margin-top: 5px;
                }
            }
        }
    }

    //
    //  Dashboard - Address Info - Address Book
    //  _____________________________________________

    .form-edit-account,
    .form-address-edit {
        .lib-clearfix();

        .fieldset {
            float: left;
            width: 50%;

            &:first-of-type {
                padding-right: 15px;
            }

            &:last-of-type {
                padding-left: 15px;
            }
        }

        .actions-toolbar {
            > .primary,
            > .secondary {
                width: 100%;
            }
        }
    }

    .block-addresses-default {

        .block-content {
            .lib-clearfix();
        }

        .box {
            float: left;
            width: 50%;

            &:first-child {
                padding-right: 15px;
            }

            &:last-child {
                padding-left: 15px;
            }
        }
    }

    .block-section-content {
        .lib-clearfix();

        .block {
            float: left;
            width: 50%;
            margin-bottom: 0;

            &:first-child {
                padding-right: 15px;
            }

            &:last-child {
                padding-left: 15px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {

    //
    //  Common - Page Title
    //  _____________________________________________
    .page-title-wrapper {
        margin-bottom: 25px;
        padding-bottom: 5px;

        h1{
            margin: 0;
            line-height: 30px;
            padding: 25px 0;
        }
    }

    //
    //  Dashboard - VIP member
    //  _____________________________________________

    .account {
        .customer-account-widget-content {
            &.black, &.gold, &.silver {
                .lib-vendor-box-align(center);
                .lib-vendor-prefix-display();

                > p:first-child {
                    .lib-vendor-prefix-flex-shrink(0);
                    float: left;
                }

                .align-left {
                    margin-left: 20px;
                }
            }
            &:after{
                .lib-clearfix();
            }
            > div:first-child {
                float: left;
                margin-top: 0;
                margin-right: 20px;
            }
            > div.left {
                float: left;
            }
            > div.right {
                float: right;
            }
        }
    }

    //
    //  Login page
    //  _____________________________________________


    .customer-account{
        position: absolute;
        background: #fff;
        padding: 16px 20px;
        z-index: 100;
        width: 180px;
        right: -6px;
        top: 29px;
        opacity: 0;
        visibility: hidden;
        &-create{
            .breadcrumbs{
                margin-bottom: 25px;
            }
        }
        &-login{
            .page-title-wrapper{
                margin-bottom: 45px;
                padding-bottom: 5px;
                h1{
                    margin: 0;
                    line-height: 30px;
                    padding: 25px 0;
                }
            }

            .block-customer-login{
                .actions-toolbar{
                    margin-top: 25px;
                    .secondary{
                        .action{
                            margin-top: 0;
                            line-height: 38px;
                        }
                    }
                }
            }
            .login-container {
                margin-bottom: 10%;
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-wrap(wrap);
                .lib-vendor-prefix-flex-direction(row);
                .block {
                    display: inline-block;
                    padding: 15px 30px;
                    border-left: 1px solid @color-form-border;
                    border-bottom: none;
                    height: 330px;
                    text-align: center;
                    vertical-align: top;
                    width: 100%/3;
                    &:first-child {
                        border: none;
                        padding-left: 0;
                        padding-right: 30px;
                        text-align: left;
                    }
                }

                .block-title {
                    text-align: center;
                    padding-bottom: 20px;
                }
                .text-note{
                    margin-bottom: 20px;
                }
                .note {
                    text-align: center;
                    padding-bottom: 15px;
                    margin: 0;
                }
            }

            .block-login {
                ul > li {
                    list-style: inside;
                    margin-bottom: 5px;
                }
            }

            .actions-toolbar {
                > .primary {
                    float: none;
                    text-align: center;
                    .action {
                        width: auto;
                        min-width: 160px;
                        height: 40px;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 0;
                        padding: 0 15px;
                        .lib-font-size(13);
                        .lib-line-height(40);
                        span{
                            line-height: 36px;
                            letter-spacing: 0.20px;
                        }
                    }
                }

                > .secondary {
                    float: none;
                    padding-left: 30px;
                    vertical-align: top;
                }
            }

            .block-login {
                ul > li {
                    list-style: inside;
                    margin-bottom: 5px;
                }
            }
        }

        &:before{
            content: '';
            position: absolute;
            top: -7px;
            right: 4px;
            .triangle(top, 16px, 8px, @color-white);
        }

        .account-dropdown{
            text-align: left;

            .nav.item {
                margin: 0 0 7px;

                strong {
                    font-weight: @font-weight__regular;
                }

                &:last-child {
                    > a {
                        text-decoration: underline;
                    }
                }
            }
        }

        .dashboard-greetings__title{
            text-align: left;
            border-bottom: 1px solid @color-form-border;
            margin-bottom: 10px;
            padding-bottom: 5px;
        }
        .vip-status{
            border-bottom: 1px solid @color-form-border;
            padding-bottom: 0;
            margin-bottom: 10px;
            p{
                color: @color-black;
                margin-bottom: 10px;
            }
            strong{
                &:first-child{
                    .lib-font-size(22px);
                    font-family: @font__didot-regular;
                }
                &:last-of-type{
                    text-transform: uppercase;
                }
            }

            &.black, &.gold, &.silver {
                strong {
                    &:first-child {
                        &:before {
                            content: '';
                            display: inline-block;
                            width: 18px;
                            height: 18px;
                            border-radius: 50%;
                            vertical-align: middle;
                            margin-top: -5px;
                            margin-right: 5px;
                        }
                    }
                }
            }

            &.silver{
                strong{
                    &:first-child{
                        &:before{
                            background: @color-light-grey1;
                        }
                    }
                }
            }
            &.gold{
                strong{
                    &:first-child{
                        &:before{
                            background: #e7dbb1;
                        }
                    }
                }
            }
            &.black{
                strong{
                    &:first-child{
                        &:before{
                            background: @color-black;
                        }
                    }
                }
            }
        }
        a, strong{
            .lib-font-size(12);
            line-height: 20px;
            letter-spacing:0.25px;
            color: @color-black;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .account {
        .block-collapsible-nav {
            .title {
                border-width: 0 0 1px;
                padding: 0 0 1em;
                text-align: left;
                strong {
                    font-weight: @font-weight__bold;
                    .lib-font-size(14);
                    line-height: 1.4286;
                    letter-spacing: .02em;
                    text-transform: uppercase;
                    &:after {
                        content: '';
                    }
                }
            }
        }
    }
    .create-account-container {
        background-color: rgba(255,255,255,0.95);
    }

    .login-container {
        &:extend(.abs-add-clearfix-desktop all);

        .block {
            &:extend(.abs-blocks-2columns all);
            &.login {
                .actions-toolbar {
                    > .primary {
                        margin-bottom: 0;
                        margin-right: @indent__l;
                    }

                    > .secondary {
                        float: left;
                    }
                }
            }
        }

        .fieldset {
            > .field {
                > .control {
                    width: 100%;
                }
            }
        }
        .account-social-login {
            .actions-toolbar{
                &.social-btn {
                    margin: 10px 0;
                    max-width: 250px;
                    width: 100%;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

    }

    .form-create-account {
        .fieldset-fullname {
            .fields {
                .field {
                    float: left;
                    margin: 0 @indent__s @indent__s 0;
                }
            }

            .field-name-prefix,
            .field-name-suffix {
                width: 50px;
            }
        }
    }
    .form.password.reset{
        margin-bottom: 35px;
    }
    .form.password.reset,
    .form.send.confirmation,
    .form.password.forget,
    .form.create.account {
        min-width: 600px;
        width: 50%;
    }

    //  My account
    .account.page-layout-2columns-left {
        .sidebar-main,
        .sidebar-additional {
            max-width: 240px;
            width: 22.3%;
        }

        .column.main {
            width: 74.7%;
        }
    }

    .account {
        .page-title-wrapper {
            &:extend(.abs-add-clearfix-desktop all);

            border-bottom: 1px solid @color-form-border;
            margin-bottom: 30px;
            padding-bottom: 7px;
        }

        .column.main {
            .block:not(.widget) {
                .block-content {
                    &:extend(.abs-add-clearfix-desktop all);

                    .box {
                        &:extend(.abs-blocks-2columns all);
                    }
                }
            }

            .dashboard-greetings {
                margin-top: .5rem
            }

            .dashboard-greetings{
                margin-bottom: 0;
            }

            .block-dashboard-info {
                margin-bottom: 3rem;
            }
        }

        .data.table {
            margin-bottom: 0;

            .col {
                &.actions {
                    white-space: nowrap;
                }
            }
        }

        .toolbar {
            &:extend(.abs-pager-toolbar all);
        }

        .columns {
            display: block;
        }

        .breadcrumbs {
            display: block;
        }

        .table-order-items {
            td {
                padding-bottom: 20px;
                padding-top: 20px;
            }

            thead,
            tbody {
                th,
                td {
                    &:first-child {
                        text-align: left;
                    }
                    &:last-child {
                        text-align: right;
                    }
                }
            }

            th,
            td {
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }

            .col {
                text-align: center;

                &.id {
                    text-align: left;
                }
                &.actions {
                    text-align: right;
                }
            }

            tfoot {
                th,
                td {
                    padding: 5px 0;
                }

                .subtotal,
                .grand_total {
                    th,
                    td {
                        padding-top: 30px;
                    }
                }
            }
        }
    }

    .block-addresses-list {
        .items.addresses {
            .lib-clearfix();
            > .item {
                .lib-layout-column(12, 1, 6);
                .lib-column-gutter(12);
                margin-bottom: @indent__base;
                &:nth-of-type(2n + 2) {
                    margin-right: 0;
                }
            }
        }

        address {
            &:extend(.abs-account-block-font-size all);
        }
    }

    .page-main {
        .block {
            &:extend(.abs-margin-for-blocks-and-widgets-desktop all);
        }
    }

    .form-address-edit {
        .fieldset {
            &:extend(.abs-blocks-2columns all);
        }
    }

    .form-edit-account {
        .fieldset {
            &:extend(.abs-blocks-2columns all);

            .fieldset {
                margin-bottom: @indent__base;
                width: 100%;
            }
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-information {
        .box-content {
            &:extend(.abs-account-block-font-size all);
        }
    }

    .control.captcha-image {
        .captcha-img {
            margin: 0 @indent__s @indent__s 0;
        }
    }

    .block-dashboard-info {
        .lib-clearfix();

        > div {
            &:extend(.ca__blocks-2columns all);
        }
    }

    .block-dashboard-addresses {
        .box {
            &:extend(.ca__blocks-2columns all);
        }
    }

    //
    //  Forgot Password Page
    //  _____________________________________________
    .password {
        &.forget {
            min-height: 540px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .block-addresses-list {
        .items.addresses {
            &:extend(.abs-add-clearfix-desktop all);

            > .item {
                &:extend(.abs-blocks-2columns all);
                margin-bottom: @indent__base;
            }
        }

        address {
            &:extend(.abs-account-block-font-size all);
        }
    }

    .form-address-edit {
        .fieldset {
            &:extend(.abs-blocks-2columns all);
        }
    }

    .form-edit-account {
        .fieldset {
            &:extend(.abs-blocks-2columns all);

            .fieldset {
                margin-bottom: @indent__base;
                width: 100%;
            }
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-information {
        .box-content {
            &:extend(.abs-account-block-font-size all);
        }
    }

    .control.captcha-image {
        .captcha-img {
            margin: 0 @indent__s @indent__s 0;
        }
    }
}
//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .customer-account{
        &-login {
            .main{
                margin-bottom: 35px;
            }
            .page-title-wrapper{
                margin-top: 10px;
                padding-bottom: 10px;
            }
            .login-container{
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction(column);
                .block-customer-login,
                .block-new-customer{
                    margin-top: 35px;
                }
                .block-title{
                    margin-bottom: 15px;
                    padding-bottom: 0px;
                }
                .account-social-login {
                    order: 1;
                    border-bottom: 1px solid @color-border;
                    padding-bottom: 30px;
                }
                .block-customer-login {
                    order: 2;
                    border-bottom: 1px solid @color-border;
                    padding-bottom: 30px;
                }
                .block-new-customer {
                    order: 3;
                }
            }

            .account-social-login {
                .text-note{
                    margin-bottom: 20px;
                }
                .actions-toolbar{
                    &.social-btn {
                        max-width: 100%;
                        width: 100%;
                        display: inline-block;
                        text-align: center;
                        margin: 10px 0;
                    }
                }
            }
            .form-login,
            .block-new-customer {
                .actions-toolbar,
                .primary,
                .button,
                .action,
                .secondary {
                    float: none;
                    width: 100% !important;
                }
                .secondary {
                    line-height: 38px;
                }
            }
            .fieldset {
                .email,
                .password {
                    .label {
                        width: 100%;
                        float: none;
                    }
                    .control {
                        width: 100%;
                        float: none;
                    }
                }
            }
        }
    }

    .account {
        .column.main,
        .sidebar-additional {
            margin: 0;
            width: 100%;
        }

        .data.table {
            &:extend(.abs-table-striped-mobile all);
        }

        .table-order-items {
            border-bottom: none;

            tbody {
                td {
                    padding: .5em 0;

                    &.col {
                        float: right;
                        width: 50%;
                        text-align: right !important;
                        &.sku {
                            margin-top: 50px;
                        }

                        &.qty,
                        &.price,
                        &.subtotal {
                            padding: 0;
                            width: 100%;
                        }
                    }

                    &:first-child {
                        padding-top: 1em;
                        padding-bottom: 0;
                        float: left;
                        text-align: left !important;
                    }

                    &:last-child {
                        padding-bottom: 1em !important;
                    }

                    &:before {
                        color: @color-light-grey !important;
                        font-weight: @font-weight__regular !important;
                        min-width: 100px;
                    }

                    &.name {
                        &:before {
                            display: none !important;
                        }
                    }
                }
            }

            tfoot {
                th {
                    text-align: right;
                }
            }
        }
    }

    //
    //  Forgot Password Page
    //  _____________________________________________
    .password {
        &.forget {
            min-height: 100%;

            .field {
                .label {
                    margin-bottom: @indent__s;
                }

                #email_address {
                    max-width: 100%;
                }
            }
            .primary .action {
                width: 100%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .account{
        .column.main{
            width: 100%;
        }
    }

    .customer-account {
        &-login {
            .page-top-section {
                display: none;
            }
            .page-title-wrapper {
                h1 {
                    margin: 0;
                    .lib-font-size(18);
                    line-height: 29px;
                    letter-spacing: 0.30px;
                }
            }


            .block {
                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    border-bottom: none;
                }
            }


            .block-new-customer {
                .action {
                    text-transform: uppercase;
                }
            }

            .block-login {
                ul li {
                    list-style: inside;
                }
            }

        }
        &-create {
            .page-header {
                margin-bottom: 50px;
            }
        }

        .login-container {
            .fieldset {
                &:after {
                    text-align: center;
                }
            }
        }

        .account {
            .page.messages {
                margin-bottom: @indent__xl;
            }

            .column.main {
                .block:not(.widget) {
                    .block-title {
                        &:extend(.abs-add-clearfix-mobile-m all);

                        > .action {
                            float: right;
                            .lib-css(margin-top, @indent__xs);
                        }
                    }

                    .block-content {
                        .box {
                            .lib-css(margin-bottom, @indent__base);
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

            .block-collapsible-nav{
                .title strong{
                    line-height: 29px;
                    &:after{
                        margin: 0 0 0 10px;
                    }
                }
            }
        }

        .control.captcha-image {
            .captcha-img {
                display: block;
                .lib-css(margin-bottom, @indent__s);
            }
        }

        .customer-account-index {
            .page-title-wrapper {
                position: relative;
            }
        }
    }
    .create-account-container {
        background-color: @color-white;
    }

    //
    //  Dashboard - VIP member
    //  _____________________________________________

    .account {
        .customer-account-widget-content {
            text-align: center;

            > p:first-child {
                margin: 0 0 9px;
            }

            > div {
                margin-bottom: 7px;
                text-align: center;
                width: 100%;
            }
        }

        #vip-status-calculator-content > p {
            text-align: center;
        }
    }
}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .customer-account{
        &-login {
            .main{
                margin-bottom: 65px;
            }

            .page-title-wrapper{
                margin-top: 40px;
                padding-bottom: 35px;
            }
            .login-container{
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction(row);
                .lib-vendor-prefix-flex-wrap(wrap);
                .block-customer-login,
                .block-new-customer{
                    margin-top: 45px;
                }
                .block-title{
                    text-align: center;
                }
                .block-customer-login{
                    order: 1;
                    flex: 0 0 50%;
                    width: 50%;
                    margin: 0;
                    border-right: 1px solid @color-border;
                    padding-right: 8%;
                    .primary{
                        width: 51%;
                        button{
                            width: 100%;
                        }
                    }
                }
                .account-social-login{
                    order: 2;
                    flex: 0 0 50%;
                    width: 50%;
                    text-align: center;
                }
                .block-new-customer{
                    order: 2;
                    flex: 0 0 100%;
                    width: 100%;
                    flex-grow: 1;
                    border-top: 1px solid @color-border;
                    padding-top: 30px;
                    text-align: center;
                    .primary{
                        float: none;
                    }
                }
            }


            .account-social-login {
                .text-note{
                    margin-bottom: 20px;
                }
                .actions-toolbar{
                    &.social-btn {
                        max-width: 250px;
                        width: 100%;
                        display: inline-block;
                        text-align: center;
                        margin: 10px 0 10px 0;
                    }
                }
            }

            .fieldset {
                .field{
                    margin: 0 0 5px;
                    &.note{
                        margin-bottom: 25px;
                    }
                }
                .email,
                .password {
                    display: inline-block;
                    width: 100%;
                    vertical-align: middle;
                }
            }
        }
    }
}
