<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * @description:
 *
 */
?>
<?php
    $_items = $block->getReviewsCollection()->getItems();
    $format = $block->getDateFormat() ?: \IntlDateFormatter::LONG;
    $rating = $block->getProduct()->getRatingSummary()->getRatingSummary();
    $ratingSummary = $block->getProduct()->getRatingSummary()->getReviewsCount();
    $itemsCount = count($_items);

    $overallRating = 0;
    foreach ($_items as $_review):
        foreach ($_review->getRatingVotes() as $_vote):
            $overallRating += $_vote->getValue();
        endforeach;
    endforeach;

    $overallRating = round($overallRating / $itemsCount, 1, PHP_ROUND_HALF_UP);
?>
<?php if ($itemsCount):?>
<div class="block review-list" id="customer-reviews">
    <div class="block-heading">
        <div class="rating-summary">
            <div class="rating-result" title="<?php /* @escapeNotVerified */ echo $rating; ?>%">
                <span style="width:<?php /* @escapeNotVerified */ echo $rating; ?>%"><span><span itemprop="ratingValue"><?php /* @escapeNotVerified */ echo $rating; ?></span>% of <span itemprop="bestRating">100</span></span></span>
            </div>
        </div>
        <div class="rating-label">
            <strong><?php /* @escapeNotVerified */ echo __('%1/5 overall rating', $overallRating); ?></strong> <?php /* @escapeNotVerified */ echo __('from %1', $itemsCount); ?>
            <?php /* @escapeNotVerified */ echo($itemsCount == 1) ? __('review') : __('reviews') ?>
        </div>
    </div>
    <div class="block-content">
        <div class="toolbar review-toolbar">
            <?php echo $block->getChildHtml('toolbar') ?>
        </div>
        <ol class="items review-items">
        <?php
        $index = 0 ;
        $maxItemDisplay = 3;
        $isLimited = false;
        ?>
        <?php foreach ($_items as $_review):?>
            <?php
                $index++;
                if ($index > $maxItemDisplay) {
                    $isLimited = true;
                }
            ?>
            <li class="item review-item<?php echo $isLimited ? ' limited' : '' ?>"<?php echo $isLimited ? ' style="display: none;"' : ''; ?> itemscope itemprop="review" itemtype="http://schema.org/Review">
                <div class="review-title" itemprop="name"><?php echo $block->escapeHtml($_review->getTitle()) ?></div>
                <?php if (count($_review->getRatingVotes())): ?>
                    <div class="review-ratings">
                    <?php foreach ($_review->getRatingVotes() as $_vote): ?>
                    <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        <span class="label rating-label"><span><?php echo $block->escapeHtml($_vote->getRatingCode()) ?></span></span>
                        <div class="rating-result" title="<?php /* @escapeNotVerified */ echo $_vote->getPercent() ?>%">
	                        <meta itemprop="worstRating" content = "1"/>
	                        <meta itemprop="bestRating" content = "100"/>
                            <span style="width:<?php /* @escapeNotVerified */ echo $_vote->getPercent() ?>%">
                                <span itemprop="ratingValue"><?php /* @escapeNotVerified */ echo $_vote->getPercent() ?>%</span>
                            </span>
                        </div>
                    </div>
                    <?php endforeach; ?>
                    </div>
                <?php endif; ?>
                <div class="review-content" itemprop="description">
                    <?php echo nl2br($block->escapeHtml($_review->getDetail())) ?>
                </div>
                <div class="review-details">
                    <span class="review-author">
                        <span class="review-details-value" itemprop="author"><?php echo $block->escapeHtml($_review->getNickname()) ?></span>
                    </span> |
                    <span class="review-date">
                        <time class="review-details-value" itemprop="datePublished" datetime="<?php /* @escapeNotVerified */ echo $block->formatDate($_review->getCreatedAt(), $format) ?>"><?php /* @escapeNotVerified */ echo $block->formatDate($_review->getCreatedAt(), $format) ?></time>
                    </span>
                </div>
            </li>
        <?php endforeach; ?>
        </ol>
        <?php if($isLimited): ?>
            <div class="review-load-more">
                <a href="javascript:void(0)" class="review-load-more-link">
                    <?php /* @escapeNotVerified */ echo __('Load more'); ?>
                </a>
            </div>

            <script type="text/javascript">
                require(['jquery'], function ($) {
                    $(document).ready(function ($) {
                        var reviewItems = $('.review-items > li').size(),
                            limitedItems = 3,
                            btnLoadMore = $('.review-load-more');
                        btnLoadMore.hide();
                        $('.review-list').addClass('has-review-load-more');
                        if (reviewItems > 3) {
                            btnLoadMore.show();
                            btnLoadMore.on('click', function () {
                                limitedItems = (limitedItems + 3 <= reviewItems) ? limitedItems + 3 : reviewItems;
                                $('.review-items > li:lt(' + limitedItems + ')').fadeIn();
                                if (limitedItems >= reviewItems) {
                                    btnLoadMore.hide();
                                    $('.review-list').removeClass('has-review-load-more');
                                }
                            });
                        }
                    });
                });
            </script>
        <?php endif; ?>
        <div class="toolbar review-toolbar">
            <?php echo $block->getChildHtml('toolbar') ?>
        </div>
    </div>
</div>
<?php endif;?>
