<div class="contact-container">
    <div class="block content">
        <div class="label">
            <p>{{trans 'We aim to make online shopping with LinenHouse easy and simple.'}}</p>
            <p>{{trans 'If you have any questions or feedback for our team, feel free to email us via the form below.'}}</p>
        </div>
        {{block class="VladimirPopov\WebForms\Block\Form" name="webforms.contact.form" template="VladimirPopov_WebForms::webforms/form/default.phtml" webform_id="4"}}
    </div>
    <div class="block contact-right">
        {{block class="Magento\Cms\Block\Block" name="contact.right" block_id="contact_right"}}
    </div>
</div>