// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Theme variables
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .opc-block-summary {
        .payment-option.giftcardaccount {
            display: none;
        }
    }

    .shipping-counter {
        display: none;
    }

    .block-minicart {
        #minicart-content-wrapper {
            &:before {
                border-bottom-color: #bbb;
            }
        }
    }

    .opc-payment {
        .payment-message {
          display: inline-block;
        }
    }

    .page-main .cart-summary {
        .block.giftcardaccount {
            display: none;
        }
    }
    .opc-wrapper {
        .fieldset.address >.field[name*='delivery_date'] {
            .control {
                position: relative;

                button {
                    position: absolute;
                    right: 0;
                    top: 12px;

                    &:before {
                        .lib-font-size(36);
                    }
                }
            }
        }
    }
}