<?php
/* @var \Balance\AheadworksBlog\Block\Post $block */
?>
<?php
/** @var \Aheadworks\Blog\Model\Post $_post */
$_post = $block->getPost();
if (is_null($_post)) {
    return;
}

$_postThumbnail = $block->getThumbnailUrl($_post);
$_postProjectTags = implode(', ', $_post->getData('project_tags'));
?>
<li class="recent-post-item">
    <?php if (strlen($_postThumbnail)): ?>
        <div class="post-thumbnail">
            <a href="<?= $block->getPostUrl($_post) ?>">
                <img src="<?= $_postThumbnail ?>"
                     class="thumbnail"
                     alt="thumbnail"
                     title="<?php /* @escapeNotVerified */ echo $_post->getTitle() ?>"/>
            </a>
        </div>
    <?php endif ?>
    <div class="post-title">
        <a href="<?= $block->getPostUrl($_post) ?>"><?php /* @escapeNotVerified */ echo $_post->getTitle() ?></a>
    </div>
    <?php if (strlen($_postProjectTags)): ?>
        <div class="post-project-tag">
            <?php /* @escapeNotVerified */ echo $_postProjectTags ?>
        </div>
    <?php endif ?>
    <?php $categoryLinks = $block->getCategoryLinks() ?>
    <?php if ($linksCount = count($categoryLinks)): ?>
        <p class="blog-post-author">
            <?php /* @noEscape */ echo $categoryLinks[0] ?>
        </p>
        <span>
            <?php  echo $_post->getData('publish_date')  ?>
        </span>
    <?php endif; ?>
    <div class="post-short-content">
        <?php /* @escapeNotVerified */ echo $_post->getShortContent() ?>
    </div>
</li>