<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php /** @var \Magento\GiftCard\Pricing\Render\FinalPriceBox $block */ ?>
<?php $helperItems = $this->helper('Linenhouse\Catalog\Helper\Gift\Quote')?>
<?php $productId = $block->getSaleableItem()->getId(); ?>

<?php if ($block->getCanShowPrice() !== false && !$block->getRenderForm()):?>
    <div class="price-box">
        <?php if ($block->isMinEqualToMax()): ?>
            <span class="price" id="product-price-<?php /* @escapeNotVerified */ echo $productId ?><?php /* @escapeNotVerified */ echo $block->getIdSuffix() ?>">
            <?php /* @escapeNotVerified */ echo $block->convertAndFormatCurrency($block->getMinValue(), false) ?>
        </span>
        <?php elseif ($block->getMinValue() !== 0): ?>
            <span class="price-label"><?php /* @escapeNotVerified */ echo __('From') ?></span>
            <span class="price" id="min-product-price-<?php /* @escapeNotVerified */ echo $productId ?><?php /* @escapeNotVerified */ echo $block->getIdSuffix() ?>">
            <?php /* @escapeNotVerified */ echo $block->convertAndFormatCurrency($block->getMinValue(), false) ?>
        </span>
        <?php endif; ?>
    </div>
<?php endif; ?>

<?php if ($block->getRenderForm()): ?>
    <?php if ($block->isRegularPrice()): ?>
        <div class="price-box price-final price-final_price">
            <span class="price-container price-final price-final_price">
                <span class="price-wrapper" id="product-price-<?php /* @escapeNotVerified */ echo $productId ?><?php /* @escapeNotVerified */ echo $block->getIdSuffix() ?>">
                    <span class="price"><?php /* @escapeNotVerified */ echo $block->convertAndFormatCurrency($block->getRegularPrice(), false) ?></span>
                </span>
            </span>
        </div>
    <?php else: ?>
        <fieldset class="fieldset giftcard-amount">
            <?php if ($block->isAmountAvailable()): ?>
                <div class="field required amount">
                    <label for="giftcard-amount" id="amount-label-select" class="label">
                        <span><?php /* @escapeNotVerified */ echo __('Amount'); ?></span>
                    </label>
                    <?php $configValue = $helperItems->getItemPrice($block->getRequest()->getParams('id'));  $configValuePrice  = $helperItems->getItemCustomPrice($block->getRequest()->getParams('id')); ?>
                    <div class="control">
                        <select name="giftcard_amount" id="giftcard-amount" data-mage-init='{"toggleGiftCard":{"amountLabelSelector" : null}}' class="required-entry giftcard-amount-entry">
                            <option value=""><?php /* @escapeNotVerified */ echo __('Choose an Amount...') ?></option>
                            <?php foreach ($block->getAmounts() as $value): ?>
                                <option value="<?php /* @escapeNotVerified */ echo $value; ?>" <?php if($configValue == $value && $configValue != 'custom'){ echo 'selected';} ?> >
                                    <?php /* @escapeNotVerified */ echo $block->convertAndFormatCurrency($value, false); ?>
                                </option>
                            <?php endforeach; ?>

                            <?php if ($block->isOpenAmountAvailable()): ?>
                                <option value="custom" <?php echo(($configValue == 'custom') ? 'selected' : '')?>><?php /* @escapeNotVerified */ echo __('Other Amount...') ?></option>
                            <?php endif; ?>
                        </select>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($block->isOpenAmountAvailable()): ?>
                <div id="giftcard-amount-box" class="field required open-amount">
                    <label for="giftcard-amount-input" id="amount-label-input" class="label">
                        <span><?php /* @escapeNotVerified */ echo __('Amount in %1', $block->getCurrentCurrency()); ?></span>
                    </label>
                    <div class="control">
                        <?php $configValue = $helperItems->getItemPrice($block->getRequest()->getParams('id'));  $configValuePrice  = $helperItems->getItemCustomPrice($block->getRequest()->getParams('id')); ?>
                        <input type="text" id="giftcard-amount-input" name="custom_giftcard_amount" class="input-text"
                               data-validate="{number: true,required: true
                                <?php if ($block->getOpenAmountMin()) {
                                   echo ',min: ';
                                   /* @escapeNotVerified */ echo $block->convertCurrency($block->getOpenAmountMin());
                               }
                               if ($block->getOpenAmountMax()) {
                                   echo ',max: ';
                                   /* @escapeNotVerified */ echo $block->convertCurrency($block->getOpenAmountMax());
                               }
                               ?>
                                }" value="<?php if($configValue == 'custom'){ echo $configValuePrice;} ?>" />

                        <?php if ($block->getOpenAmountMin() || $block->getOpenAmountMax()): ?>
                            <?php $min = $block->convertAndFormatCurrency($block->getOpenAmountMin(), false); ?>
                            <?php $max = $block->convertAndFormatCurrency($block->getOpenAmountMax(), false); ?>
                            <p class="note">
                                <?php if ($block->getOpenAmountMax() && $block->getOpenAmountMin()): ?>
                                    <span><?php /* @escapeNotVerified */ echo __('Minimum: %1', $min); ?></span>
                                    <span><?php /* @escapeNotVerified */ echo __('Maximum: %1', $max); ?></span>
                                <?php elseif ($block->getOpenAmountMin()): ?>
                                    <span><?php /* @escapeNotVerified */ echo __('Minimum: %1', $min); ?></span>
                                <?php elseif ($block->getOpenAmountMax()): ?>
                                    <span><?php /* @escapeNotVerified */ echo __('Maximum: %1', $max); ?></span>
                                <?php endif; ?>
                            </p>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endif; ?>
        </fieldset>
    <?php endif; ?>
<?php endif; ?>
