<a data-bind="attr: {href: getActionUrl()}">
    <span class="wishlist-counter" data-bind="text: getWishListCounter()"></span>
    <span class="wishlit-counter-icon" data-bind="i18n: 'item(s) in Wishlist'"></span>
</a>