<div class="social-links">
    <h3>Follow Us</h3>
    <ul>
        <li><a class="icon-facebook" href="https://www.facebook.com/" target="_blank"><img title="facebook" src="{{media url="wysiwyg/email_icon_facebook.png"}}" alt="facebook" width="38" height="38" /></a></li>
        <li><a class="icon-instagram" href="https://www.instagram.com/" target="_blank"><img title="instagram" src="{{media url="wysiwyg/email_icon_instagram.png"}}" alt="instagram" width="38" height="38" /></a></li>
        <li><a class="icon-twitter" href="https://www.twitter.com/" target="_blank"><img title="twitter" src="{{media url="wysiwyg/email_icon_twitter.png"}}" alt="twitter" width="38" height="38" /></a></li>
        <li><a class="icon-youtube" href="https://www.youtube.com/" target="_blank"><img title="youtube" src="{{media url="wysiwyg/email_icon_youtube.png"}}" alt="youtube" width="38" height="38" /></a></li>
        <li><a class="icon-pinterest" href="https://www.pinterest.com/" target="_blank"><img title="pinterest" src="{{media url="wysiwyg/email_icon_pinterest.png"}}" alt="pinterest" width="38" height="38" /></a></li>
    </ul>
</div>
<div class="footer-info">
    <ul>
        <li><span>©2017 Linen House. All Rights Reserved.</span></li>
        <li><span> ABN 00 000 000 000</span></li>
    </ul>
    <div class="footer-links">
        <p>For online store enquiries please contact <a href="mailto:sales@linenhouse.com">sales@linenhouse.com</a> or call us on 1300 350 886.</p>
        <p>We welcome any feedback that you may have. If you have an enquiry on our products or services, you can take a quick look at <a href="/faq">Frequently Asked Questions </a>and see if it might be answered there.</p>
        <p>If you need to contact any of our stores, contact details can be found at our <a>stores & stockists.</a></p>
    </div>
</div>