/**
 * Magento 2 extensions for Afterpay Payment
 *
 * @author Afterpay <steven.gunarso@touchcorp.com>
 * @copyright 2016 Afterpay https://www.afterpay.com.au/
 */

/** afterpay.css */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .cart-summary {
        .checkout-methods-items {
            button.btn-afterpay-checkout {
                background: #000;
                padding: 10px 15px 10px 10px;
                img {
                    width: 110px;
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 3px;
                }
            }
        }
    }
}