<div class="banner">
    <a class="desktop"><img src="{{view url="images/vip_members.png"}}" alt="VIP Members" /></a>
    <a class="tablet"><img src="{{view url="images/vip_members_tablet.png"}}" alt="VIP Members" /></a>
    <a class="mobile"><img src="{{view url="images/vip_members_mobile.png"}}" alt="VIP Members" /></a>
</div>
<div class="content">
    <div>
        <h2>JOIN OUR VIP MEMBERS CLUB</h2>
        <p>Exclusive <strong>VIP</strong> club member nights are held several times through the year, where you can get even better prices, and exlusive offers.</p>
        <h3>VIP MEMBER Discounts</h3>
        <p>With three reward levels, the higher you step up, the better discount for you to enjoy. It is now easier to track your membership, with three levels of <strong>VIP</strong> Member status to enjoy. You will also receive special treats along the way including a birthday reward. It’s our way of recognising you and saying thank you! All you need to do is shop in-store or online to spend your way to <strong>VIP</strong> Member benefits.</p>
        <div class="benefits">
            <ul>
                <li><a><span>Gold</span></a><span>Enjoy<strong> 15% Off<span>when you spend more than $1000 in a 12 month period</span></strong></span></li>
                <li><a><span>Silver</span></a><span>Enjoy<strong> 10% Off<span>when you spend more than $500 in a 12 month period</span></strong></span></li>
                <li><a><span>Black</span></a><span>Enjoy<strong> 5% Off<span>when you spend more than $500 in a 12 month period</span></strong></span></li>
            </ul>
        </div>
        <p>Each <strong>VIP</strong> Member reward level status is valid for a period of 12 months. To maintain your status you will need to continue enjoying our new collections and spending the status amount within the 12 month period or you will move down to a lower status.</p>
        <div>
            <h3>Even more VIP Member benefits!</h3>
            <ul>
                <li><span>Early sales alerts</span></li>
                <li><span><strong>VIP</strong> only discounts</span></li>
                <li><span>Invitations to <strong>VIP</strong> nights</span></li>
                <li><span>SMS offers</span></li>
                <li><span>Entry to exclusive <trong>VIP</trong> comps!</span></li>
            </ul>
            <button class="action primary"><span>become a vip member today!</span></button>
        </div>
        <div class="tablet mobile">
            <h3>How It Works</h3>
            <p>If you’re new to Linen House, simply creaye an account online. When you make your first purchase online, your purchase will go towards your VIP Member benefits reward level. </p>
            <p>If you’re an existing member, there is no need to join – you’re already a VIP Member and you will receive your eligible rewards via email. Make sure your email address is up-to-date so you don’t miss out!</p>
        </div>
    </div>
</div>
<div class="benefits desktop">
    <div>
        <h2>Even more VIP Member benefits!</h2>
        <ul>
            <li><span>Early sales alerts</span></li>
            <li><span><strong>VIP</strong> only discounts</span></li>
            <li><span>Invitations to <strong>VIP</strong> nights</span></li>
            <li><span>SMS offers</span></li>
            <li><span>Entry to exclusive <strong>VIP</strong> comps!</span></li>
        </ul>
        <div>
            <ul>
                <li><a><span>Black</span></a><span><strong>Enjoy 5% Off<span>when you spend more than <strong>$500</strong> in a 12 month period</span></strong></span></li>
                <li><a><span>Silver</span></a><span><strong>Enjoy 10% Off<span>when you spend more than <strong>$500</strong> in a 12 month period</span></strong></span></li>
                <li><a><span>Gold</span></a><span><strong>Enjoy 15% Off<span>when you spend more than <strong>$1000</strong> in a 12 month period</span></strong></span></li>
            </ul>
            <a href="customer/account/create" class="action primary"><span>become a vip member today</span></a>
        </div>
    </div>
</div>
<div class="works desktop">
    <div>
        <h2>How It Works</h2>
        <p>If you’re new to Linen House, simply creaye an account online. When you make your first purchase online, your purchase will go towards your <strong>VIP</strong> Member benefits reward level. </p>
        <p>If you’re an existing member, there is no need to join – you’re already a <strong>VIP</strong> Member and you will receive your eligible rewards via email. Make sure your email address is up-to-date so you don’t miss out!</p>
    </div>
</div>