// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .form.wishlist.items {
        .actions-toolbar {
            &:extend(.abs-reset-left-margin all);
        }
    }

    .form-wishlist {
        &-title {
            .lib-font-size(14);
            background: @title__background-color;
            padding: 10px 20px;
            margin: 0 0 10px;
        }
    }

    .wishlist-added-items {
        margin: 0 0 10px;
    }

    .product-social-links,
    .block-bundle-summary,
    .product-item,
    .table-comparison {
        .action.towishlist {
            &:extend(.abs-actions-addto all);
            .lib-icon-font-symbol(
            @_icon-font-content: @icon-simple__heart,
            @_icon-font-position: before
            );
        }
    }

    .account .table-wrapper .data.table.wishlist {
        .lib-table-bordered(
        @_table_type: horizontal
        );

        thead > tr > th {
            border-bottom: 0;
        }

        tbody > tr:last-child > td {
            border-bottom: 1px solid @table__border-color;
        }

        .product.name {
            display: inline-block;
            margin-bottom: @indent__s;
        }

        .box-tocart {
            margin: @indent__s 0;

            .qty {
                vertical-align: middle;
                &:extend(.abs-input-qty all);
            }
        }

        .col {
            &.item {
                width: 50%;
            }

            &.photo {
                max-width: 150px;
            }

            &.selector {
                max-width: 15px;
            }
        }

        textarea {
            margin: @indent__s 0;
        }

        .input-text.qty {
            margin-bottom: @indent__s;
        }

        .action.primary {
            vertical-align: top;
        }

        .price {
            font-weight: @font-weight__bold;
        }
    }

    .link.wishlist {
        .counter {
            .lib-css(color, @text__color__muted);
            white-space: nowrap;

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }

    .block-wishlist {
        .block-title {
            &:extend(.abs-block-widget-title all);
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .product-item-name {
            margin-right: @indent__m;
        }
    }

    .products-grid.wishlist {
        margin: 0 -5px;

        .product {
            &-items {
                display: block;
                .lib-vendor-prefix-display(flex);
                font-size: 0;
            }

            &-item {
                padding: 5px;
                width: 50%;
                .lib-font-size(13);
                display: inline-block; // for IOS devices
                vertical-align: top;
                margin: 0;

                &-info {
                    position: relative;
                    border: 1px solid @color-border;
                    padding: 0 9px 18px;
                    height: 100%;
                }

                &-photo {
                    display: block;
                    float: none;
                    margin: -1px -10px 0;
                }

                &-name {
                    margin: 0;
                    display: inline-block;
                    min-height: 40px;
                }

                .comment-box {
                    .label {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                &-comment {
                    display: block;
                    height: 42px;
                    margin: @indent__s 0;
                }

                &-actions {
                    display: block;

                    .btn-remove {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        text-decoration: none;
                        z-index: 1;

                        span {
                            display: none;
                        }

                        &:before {
                            .simple-icon();
                            color: @color-light-grey2;
                            content: @icon-simple__close;
                            font-size: 16px;
                        }
                    }

                    .edit {
                        position: absolute;
                        bottom: 74px;
                        right: 10px;
                        text-decoration: none;
                    }
                }

                .box-tocart {
                    .fieldset {
                        .lib-clearfix();

                        > .qty {
                            display: table;
                            margin: 0 0 9px;

                            > .label {
                                display: table-cell;
                                padding: 0 5px 0 0;
                            }

                            > control {
                                display: table-cell;
                            }
                        }
                    }

                    input.qty {
                        &:extend(.abs-input-qty all);
                        width: 34px;
                        height: 34px;
                        text-align: center;
                        padding-right: 5px;
                        padding-left: 5px;
                        border-radius: 50%;
                    }

                    .tocart {
                        &:extend(.abs-revert-secondary-size all);
                        width: 100%;
                        padding-top: 12px;
                        padding-bottom: 13px;
                    }
                }

                &-tooltip {
                    display: none;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .wishlist-index-index {
        .column.main{
            flex: 0 0 100%;
            width: 100%;
        }
        .product {
            &-item {
                width: 100%;

                &-info {
                    width: auto;
                }
            }
        }
    }

    .form-wishlist-items {
        > .actions-toolbar {
            display: none;
        }
    }

    .page-multiple-wishlist {
        .products-grid.wishlist {
            .product-item {
                &-photo {
                    margin: -1px -10px 0;
                }

                &-name {
                    margin: 0;
                }

                .price-box {
                    margin: 10px 0 14px;

                    p {
                        margin: 0;
                    }
                }

                .comment-box {
                    display: none;
                }
            }
        }
    }

    .cart.table-wrapper {
        .action-towishlist {
            .lib-icon-font(
            @icon-wishlist-full,
            @_icon-font-size: 18px,
            @_icon-font-line-height: 20px,
            @_icon-font-text-hide: true,
            @_icon-font-color: @minicart-icons-color,
            @_icon-font-color-hover: @primary__color,
            @_icon-font-color-active: @minicart-icons-color
            );
        }
    }
}

//
//  Tablet
//  _____________________________________________
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .wishlist-index-index {
        .page-title-wrapper {
            border: none;
            margin-bottom: 0;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .wishlist-index-index {
        .products-grid {
            .product-item-actions {
                margin: 0;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .wishlist-index-index {
        .box-tocart {
            .fieldset {
                > .qty {
                    position: absolute;
                    bottom: 173px;
                    left: 19px;
                }
            }
        }

        .actions-toolbar {
            margin-top: 3px;
            border-top: 1px solid @color-border;
            padding: 20px 0 22px;

            button {
                border: 1px solid @color-black;
                background: @color-white;
                color: @color-black;
                margin: 0;

                &:hover {
                    background: @color-black;
                    color: @color-white;
                }

                &.share {
                    margin: 0 40px;
                }

                &.tocart {
                    float: right;
                }
            }
        }
    }

    .form-wishlist-title {
        margin: 0 0 27px;
    }

    .wishlist-added-items {
        margin: 0 0 5px;
    }

    .products-grid.wishlist {
        .product-item {
            &-comment {
                height: 60px;
            }

            &-info {
                width: auto;
                padding: 0 19px 20px;
            }

            &-photo {
                margin: -1px -20px 0;
            }

            &-name {
                float: left;
                width: 80%;
            }

            .price-box {
                float: right;
                width: 20%;
                margin: 0;
                text-align: right;
            }

            &-inner {
                padding: 90px 0 0;

                .comment-box {
                    padding: 0 0 10px;

                    .label {
                        color: @color-light-grey;
                    }
                }
            }

            &-actions {
                .btn-remove {
                    top: 12px;
                    right: 12px;

                    &:before {
                        font-size: 18px;
                    }
                }

                .edit {
                    bottom: 193px;
                    right: 19px;
                }
            }

            .box-tocart {
                input.qty {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .wishlist-index-index {
        .product-item-inner {
            display: block;
            position: static;
            border: none;
            box-shadow: none;
            margin: 0;
            padding: 100px 0 0;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .wishlist-index-index {
        .products-grid {
            .product-items {
                margin: 0 -10px;
                width: auto;
            }

            .product-item {
                padding: 15px;
                width:  calc(~'100% / 3');
            }
        }
    }
}