// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Category view
    .catalog-category-view {
        .sub-categorys {
            .sub-category {
                .lib-font-size(13);
                letter-spacing: 1px;
                margin: 0 15px;

                a {
                    color: @color-grey;
                    letter-spacing: 1.4px;
                }
            }
        }        
    }    
    .catalog-product-view {
        .product-reviews-summary .reviews-actions a,
        .afterpay-modal-popup-trigger,
        .product-info-main #size-chat-button,
        .scroll-to {
            color: @color-grey;
        }
    }
    .special-price {
        float: right;
        margin: 0;
        padding-left: 4px;
        .price {
            color: #ff3b3b;
        }
    }
    .price-box {
        display: inline-block !important;
        width: auto;
    }
    .amshopby-index-index,
    .catalog-category-view {
        .category-description {
            margin-top: -8px;
            margin-bottom: 27px;
            color: @color-grey;

            a {
                color: @color-grey;
            }

            .link-wrapper {
                margin-top: -12px;
            }
        }
    }

    .toolbar-amount {
        color: @color-light-grey6;
    }

    .page-with-filter,
    .catalogsearch-result-index {
        .toolbar-amount {
            margin-top: -34px;
        }
    }

    .sorter {
        .sorter-label {
            display: block;
            color: @color-grey;
            text-transform: uppercase;
        }

        .nice-select {
            color: @color-grey;
            border-color: @color-grey;

            &:focus,
            &:hover {
                border-color: @color-grey;
            }
        }
    }

    .products-grid {
        .product-item-details {
            padding: 10px 0 0;
            span {
                &.brand {
                    display: none;
                }
            }
        }

        strong.product-item-name {
            margin: 0;
            a {
                .lib-font-size(14);
                text-transform: none;
                color: @color-grey;
            }
        }
    }

    .product-crosssell-wrapper {
        .products-crosssell {
            .product-item-name {
                -webkit-hyphens: none;
                -moz-hyphens: none;
                -ms-hyphens: none;
                hyphens: none;
            }
        }
    }

    .product-item {
        .price-box {
            margin-top: 1px;
            .price {
                font-weight: @font-weight__regular;

            }

            .price-label {
                font-weight: @font-weight__regular;
                text-transform: none;
                color: @color-grey;
            }
        }
    }
    .page-wrapper {
        .product-item {
            .old-price {
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }
    .pages {
        .item {
            .lib-font-size(14);
            color: @color-grey;
            text-transform: uppercase;
            height: auto;
            line-height: 18px;
            width: 21px;
            margin: 0;

            &.current,
            &:hover {
                position: relative;
                text-decoration: none;

                &:after {
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin: 0 0 0 -7px;
                    width: 14px;
                    height: 1px;
                    content: '';
                    background: @color-grey;;
                }
            }

            a {
                display: inline;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .action {
            position: static;

            &.next,
            &.previous {
                &:after {
                    border: none;
                    font-family: @font-awesome;
                    transform: none;
                    top: 6px;
                    width: auto;
                }
            }

            &.next {
                padding-right: 16px;
                text-align: right;
                display: block;

                &:after {
                    content: '\f105';
                    background: none;
                }
            }

            &.previous {
                padding-left: 16px;

                &:after {
                    content: '\f104';
                    background: none;
                }
            }

            &:hover {
                border-bottom: 1px solid @color-grey;
            }
        }
    }

    .pages-items {
        position: relative;

        .pages-item-next,
        .pages-item-next:hover {
            width: auto;
            position: absolute;
            right: 0;
        }

        .pages-item-previous,
        .pages-item-previous:hover {
            width: auto;
            position: absolute;
            left: 0;
        }

        .pages-item-next,
        .pages-item-previous {
            &:hover {
                &:after {
                    display: none;
                }
            }
        }
    }

    .category-block-holder {
        text-align: center;
        color: @color-grey;

        .category-block-title {
            .lib-font-size(22);
            text-transform: uppercase;
            color: @color-grey;
            font-weight: @font-weight__regular;
            margin: 0 0 22px;
            letter-spacing: 4px;
        }


        .container {
            &-block {
                margin: 0 0 35px;

                h3 {
                    .lib-font-size(16);
                    text-transform: uppercase;
                    color: @color-grey;
                    font-weight: @font-weight__regular;
                    margin: 0 0 16px;
                    letter-spacing: 1.6px;
                }
            }
            .promo-main-text{
                color: @color-gray40;
            }
        }
    }

    .page-products {
        .sorter {
            width: auto;
            display: flex;
            align-items: center;

            .nice-select {
                width: 150px;
            }

            .sorter-label {
                margin: 0 8px 0 0;
            }
        }
    }
    .category-landing-container {
        h2 {
            .lib-font-size(13);
            text-transform: uppercase;
            color: @color-grey;
            margin: 0 0 10px;
            font-weight: @font-weight__regular;
        }
    }

    .product-options-bottom,
    .product-info-price {
        .price-box {
            color: #666666;

            .price-container {
                .price {
                    .lib-font-size(30);
                    font-weight: @font-weight__regular;
                }
            }

            .old-price {
                .price-container {
                    .price {
                        .lib-font-size(16);
                        .lib-line-height(30);
                    }
                }
            }
        }
    }

    .product {
        &.data {
            &.items {
                .item {
                    &.title {
                        &.active {
                            a {
                                &:visited,
                                &:hover,
                                .counter {
                                    color: @color-dark-grey1;
                                }

                                &:after {
                                    display: none;
                                }
                            }

                            .switch {
                                font-weight: @font-weight__bold;
                                border-bottom: 1px solid @color-border;
                            }
                        }

                        > .switch {
                            .lib-font-size(14);
                            text-transform: uppercase;
                            font-weight: @font-weight__regular;
                            color: @color-dark-grey1;
                            padding-left: 0;
                            padding-right: 0;
                        }

                        a {
                            .counter {
                                color: @color-dark-grey1;
                            }

                            &:after {
                                font-family: @font-awesome;
                                content: @font-awesome-down;
                                right: 10px;
                            }
                        }
                    }

                    &:first-child {
                        &.title {
                            a {
                                border-top: 0;
                            }
                        }
                    }

                    &.content {
                        padding: 13px 0;
                    }
                }

                > .item {
                    &.title {
                        &:not(.disabled) > .switch:active,
                        &.active > .switch,
                        &.active > .switch:focus,
                        &.active > .switch:hover {
                            background: @color-white;
                            color: @color-dark-grey1;
                        }
                    }
                }
            }
        }

        &-social-links {
            display: none;
        }

        &.info.detailed {
            .product-sku {
                margin: 25px 0 -25px;
                .lib-font-size(10);
                color: @color-light-brown;
                font-weight: @font-weight__semibold;
            }
            color: @color-grey;
        }
    }

    .block.related {
        h1 {
            .lib-font-size(13);
            font-weight: @font-weight__bold;
            margin: 0 0 18px;
            letter-spacing: 1.4px;
        }
        .related-available {
            .product-item-name {
                text-transform: none;

                a:hover {
                    text-decoration: none;
                }
            }
        }

        .block-title {
            text-align: left;
        }
    }

    .product-crosssell-wrapper {
        .products-crosssell {
            .price-box {
                .price-label {
                    text-transform: capitalize;
                }
            }

            .actions-primary {
                button {
                    height: auto;
                    width: auto;
                }
            }
        }
    }

    .product-info-main {
        .product-info-price {
            &, & * {
                margin-bottom: 0 !important;
            }

            .price-box .price-container .price-wrapper {
                display: inline-block;
            }

            .price-to {
                &:before {
                    font-weight: @font-weight__regular;
                    margin: 0 @box-spacing-large / 4;
                    text-transform: lowercase;
                }
            }
        }
        .afterpay-installments-amount {
            color: #666666;
        }
        .bundle-wrapper & {
            .stock.available {
                display: none;
            }
        }
    }

    .product-info-main,
    .bundle-options-container .product-info-stock-sku {
        .stock {
            vertical-align: middle;
            height: auto;
            &.available,
            &.unavailable {
                display: block;
                border: none;
                padding: 0;
                color: @color-grey;
                font-weight: @font-weight__regular;
                text-transform: none;
                margin: 20px 2px 0 0;

                span {
                    text-transform: uppercase;
                    font-weight: @font-weight__bold;
                    letter-spacing: 1.5px;
                    vertical-align: middle;
                }
            }

            &.available {
                &:before {
                    font-family: @font-awesome !important;
                    content: @font-awesome-tick;
                    display: inline-block;
                    margin: -3px 4px 0 0;
                    color: @color-grey;
                }
            }

            &.unavailable {
                &:before {
                    font-family: @font-awesome !important;
                    content: @font-awesome-close;
                    margin: 0 4px 0 0;
                    color: @color-grey;
                    position: relative;
                    top: -1px;
                }

                span {
                    line-height: 15px;
                }
            }
        }
    }

    .category-block-holder-container {
        padding-top: 52px;
    }

    body.swatch-option-tooltip {
        color: @color-grey;
    }
    .catalog-product-view {
        .product-add-form {
            .box-tocart {
                .fieldset {
                    .lib-clearfix();
                    display: block;
                }

                .field.qty {
                    position: static;
                    float: left;
                    width: 87px;
                    padding: 0 12px 0 0;
                    margin: 0;
                    text-align: left;

                    .label {
                        display: block;
                        text-transform: uppercase;
                    }

                    ~ .actions {
                        float: right;
                        width: ~'calc( 100% - 87px )';
                        padding: 25px 0 0;
                    }
                }

                .control {
                    margin: 0;
                    width: auto;

                    input[type="number"] {
                        color: @color-grey;
                        width: 100%;
                        height: 50px;
                        border-radius: 0;
                    }
                }

                .actions {
                    float: left;
                    width: 100%;
                    padding: 0;
                }

                &.out-of-stock {
                    .towishlist {
                        display: none;
                    }
                }
            }
        }

        .block.crosssell {
            .block-title {
                h1 {
                    color: @color-grey;
                    font-weight: @font-weight__bold;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    margin: 0 0 20px;
                }
            }
        }


        .afterpay_instalments_logo {
            filter: grayscale(100%);
            margin-top: -2px;
        }

        .widget-product-tagline.zip_tagline {
            display: none;
        }

        .review-form {
            .actions-toolbar {
                margin-top: 12px;
            }

            .review-control-vote input[type="radio"] ~ label:before {
                border: none !important;  //  Hotfix for the strange broking element inside rating stars
            }
        }

        .review-list {
            .block-heading {
                border-top-width: 0;
                padding-top: 0;
            }
        }

        .page-footer {
            border: none;
        }

        .product-options-wrapper {
            .swatch-attribute {
                line-height: 1;
                margin-top: @box-spacing-large / 2;

                .swatch-attribute {
                    &-label, &-selected-option {
                        text-transform: uppercase;
                    }

                    &-options {
                        margin: @box-spacing-large / 2 0 0;
                    }
                }

                &.size .swatch-option.text {
                    border-radius: 0;
                    margin: 0 @box-spacing-large / 2 @box-spacing-large / 2 0;
                    color: @color-grey;
                    &.selected {
                        border: none;
                    }
                }
            }

            .product-info-stock-sku {
                margin: 0 0 @box-spacing-large / 2;
            }
        }

        .bundle-options-wrapper {
            .bundle-options-top {
                .bundle-options-name {
                    margin-top: 0;
                }
            }

            .option {
                & > label.label span {
                    .lib-font-size(14);
                    color: @color-dark-grey1;
                    font-weight: bold;
                }
            }
        }

        .price-box.price-configured_price {
            border-bottom: 1px solid @color-border;
        }

        #confirmBox {
            &.configurable {
                padding: @box-spacing-large / 2 @box-spacing * 2;

                .stock.available {
                    display: none;
                }
            }


            #messageBox {
                padding: @box-spacing-large 0 !important;

                .product-info-main {
                    .stock.unavailable small {
                        display: none;
                    }
                }

                div.price-box {
                    margin-top: 0;
                }
            }

            .confirmButtons {
                align-items: center;
                display: flex;
                padding: @box-spacing-large 0 !important;
                white-space: nowrap;

                .am-message-top {
                    margin: 0;
                    order: 0;
                }

                .am-btn-right {
                    margin-left: auto;
                    order: 1;
                }

                .checkout {
                    color: @color-white;
                    order: 2;
                    padding: 0 @box-spacing-large;
                    width: auto;
                }
            }

            .actions-primary {
                .tocart {
                    height: auto;
                    text-align: left;

                    &::before {
                        margin: 0;
                    }
                }
            }

            .product-item-details {
                .item-options {
                    dd {
                        margin-bottom: @box-spacing / 3;
                    }

                    dt {
                        margin: 0;
                        width: 100%;
                    }
                }
            }

            .product-info-main {
                padding-top: 0;
            }

            .product-add-form {
                input {
                    border-radius: 0;

                    &[type="checkbox"] + label {
                        &:before {
                            top: 2px;
                        }
                    }

                    &[type="radio"] + label {
                        &:before {  //  workarounds for the strange misposition in Firefox
                            margin-top: -4px;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        &:after {
                            margin-top: -4px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }

                .product-options-wrapper {
                    .field.qty {
                        margin-top: @box-spacing-large / 2;

                        input {
                            border-radius: 0;
                        }
                    }
                }

                .product-options-bottom, .bundle-summary-wrapper {
                    .box-tocart {
                       .field.qty {
                           width: 94px;
                       }

                       .tocart {
                           max-width: none;
                       }
                   }
                }

                .table-wrapper.grouped {
                    th {
                        text-transform: uppercase;

                        &.item {
                            color: @color-light-grey;
                        }
                    }
                }
            }

            .product-added {
                .product-image-photo {
                    display: block !important;
                    margin: 0;
                }
            }
        }

        .product-info-main {
            .product-info-stock-sku {
                display: block;
            }
        }
    }

    #confirmBox {
        .close + .confirmButtons {
            .checkout,
            .am-btn-right {
                display: none;
            }
        }

        a.checkout {
            background: @color-grey;
            border-color: @color-grey;
        }

        span.am-message-top {
            &:before {
                color: @color-grey;
                border-color: @color-grey;
            }
        }
    }

    .block {
        .load-more {
            display: none;
        }
    }

    .instagram-gallery {
        display: none;
    }

    .catalog-category-view,
    .catalogsearch-result-index {
        dl.block {
            display: none;
        }
        span.filter-opener {
            width: 115px;
            height: 30px;
            line-height: 30px;
            .lib-font-size(12);
            padding: 0 9px;

            &:after {
                font-size: 20px;
                top: 0;
                right: 11px;
            }

            &.active {
                &:after {
                    top: 4px;
                    right: 13px;
                }
            }

            &.filtered {
                &:after {
                    display: block;
                }

                > span {
                    &:after {
                        margin-top: -7px;
                        margin-right: -22px;
                        margin-left: 3px;
                    }
                }
            }
        }

        .toolbar {
            .pages {
                margin-bottom: 0;
            }
        }

        .products.wrapper {
            ~ .toolbar-products {
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }

    // Sorter
    .sorter-action {
        display: block;
        position: relative;

        &:after {
            position: absolute;
            top: 50%;
            left: -30px;
            .lib-prefix-transform-translate(0, -50%);
            content: @font-awesome-down;
            font-family: @font-awesome;
            color: @color-grey-red;
            width: 30px;
        }

        &.sort-asc {
            &:after {
                content: @font-awesome-up;
            }
        }

        span {
            display: none;
        }
    }

    .page-products {
        div.sorter {
            .sorter-options {
                height: 30px;
                line-height: 28px;
                padding-left: 10px;
                margin-bottom: 0;
                border-color: @color-gray40;
                color: @color-gray40;
                &:after {
                    font-size: 10px;
                    color: @color-grey;
                    right: 7px;
                }
            }
            .sorter-action {
                text-decoration: none;
            }
        }

    }

    .page-with-filter,
    .catalogsearch-result-index {
        .nice-select {
            &.sorter-options {
                span.current {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    .description-point {
        float: left;

        ul,
        ol {
            li {
                margin-bottom: 0;
                position: relative;
                padding: 0 0 0 10px;

                &:before {
                    position: absolute;
                    top: 11px;
                    left: 0;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: @color-dark-grey1;
                    content: '';
                }
            }
        }
    }

    .product-options-wrapper {
        .swatch-attribute {
            &.size {
                .swatch-option {
                    &.text {
                        &.selected {
                            background: @color-grey !important;
                            color: @color-white;
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s){
    .category-cms {
        .balance-box-default {
            margin-bottom: 10px;
        }
    }

    .catalog-product-view {
        .page-title {
            .lib-font-size(22);
            letter-spacing: 1.9px;
            margin-bottom: 12px;
        }

        .product-form-wrapper {
            margin-bottom: @box-spacing-large / 2;
        }

        .product-info-main {
            .product-info-stock-sku {
                text-align: left;
                overflow: hidden;

                .stock {
                    margin-top: 0;
                }
            }
            #size-chat-button{
                margin-top: 0;
                margin-bottom: 10px;
            }
        }

        .product-options-wrapper {
            .swatch-attribute {
                text-align: left;

                &.size {
                    #size-chat-button {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .product-price-wrapper {
            text-align: left;
        }

        .product-reviews-summary {
            text-align: left;
            margin-bottom: 6px;
        }

        .category-block-holder {
            display: none;
        }

        .product-crosssell-wrapper {
            margin-top: @box-spacing-large;
            width: 100%;

            .block {
                .content:not(.expanded) .item:nth-child(n + 3) {
                    display: none;
                }

                .load-more {
                    border: 1px solid @color-grey;
                    color: @color-grey-red;
                    display: block;
                    margin-top: @box-spacing;
                    padding: @box-spacing / 3;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }

        #confirmOverlay #confirmBox {
            &.configurable {
                padding: 10px 25px;

                #messageBox {
                    td {
                        width: 100%;

                        &:before {
                            font-weight: normal;
                        }
                    }

                    .table-wrapper.grouped {
                        margin-top: @box-spacing;

                        strong, th {
                            font-weight: normal;
                        }

                        .col.qty {
                            padding-bottom: @box-spacing-large;

                            .control.qty {
                                display: inline !important;
                            }
                        }

                        .price-box {
                            display: inline;
                        }
                    }

                    .popup-title {
                        margin-top: 0;
                        text-align: left;
                    }

                    .product-info-main {
                        text-align: left !important;

                        .product-add-form {
                            margin-top: 0;

                            .box-tocart .field.qty {
                                text-align: left !important;
                            }
                        }

                        .stock {
                            height: auto;
                            line-height: 1.5;
                        }

                        .swatch-attribute {
                            text-align: left !important;
                        }
                    }

                    .bundle-options-wrapper {
                        .fieldset-bundle-options {
                            padding-bottom: @box-spacing-large;
                        }
                    }

                    .block-bundle-summary {
                        .price-box {
                            padding-bottom: @box-spacing-large / 2;
                        }
                    }
                }
            }
        }
    }

    .block.related {
        border: none;
        margin-bottom: 0;
        padding: 0;

        .slick-dots {
            display: none !important;
        }
    }

    .gallery-placeholder {
        margin: 0;
    }

    .product.media {
        margin: 0 0 12px;

        .fotorama__nav-wrap {
            display: none !important;
        }

        .fotorama__arr {
            background: none;
            display: block !important;
            opacity: 1;

            .fotorama__arr__arr {
                background: none;
                width: 80px;
                height: 80px;
                background: rgba(255,255,255,0.5);
                border-radius: 50%;
                transform: translate3d(0, -50%, 0);
                .lib-icon-font(
                    @_icon-font: @font__simple-line,
                    @_icon-font-content: @icon-simple__arrow-right,
                    @_icon-font-color: @color-white,
                    @_icon-font-size: 20px,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );
            }

            &--prev {
                .fotorama__arr__arr {
                    left: -40px;

                    &:after {
                        transform: rotate(180deg);
                        margin: 25px 0 0 35px;
                        color: @color-black;
                    }
                }
            }

            &--next {
                right: 0 !important;

                .fotorama__arr__arr {
                    left: auto;
                    right: -40px;

                    &:after {
                        margin: 25px 0 0 -30px;
                        color: @color-black;
                    }
                }
            }
        }
    }

    .product-info-main {
        border: none;
        margin: 0;
        padding: 0 0 10px;
        margin-bottom: 20px;

        .actions {
            margin-bottom: 0;
        }
    }

    .page-layout-1column,
    .catalogsearch-result-index {
        &:not(.cms-index-index) {
            .products-grid.products-crosssell {
                .product-items {
                    .product-item {
                        margin: 10px 0;
                    }
                }

                .product-item-name {
                    min-height: 0;
                }
            }
        }

        .sub-categorys {
            display: none;
        }
    }

    #amasty-shopby-product-list {
        border-top: 1px solid @color-border;
        margin-top: 5px;
        padding-top: 4px;
    }

    .page-products {
        div.sorter {
            .sorter-options {
                height: 30px;
                line-height: 30px;
                padding-left: 10px;
            }
        }
    }

    .catalog-category-view,
    .catalogsearch-result-index {
        .products-grid {
            .product-item-name {
                min-height: auto;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
    div.category-block-holder {
        .category-block-title {
            margin: 0 0 37px;
        }

        .container-block {
            padding: 0 25px;
            margin: 0 0 30px;

            h3 {
                margin: 0 0 9px;
            }
        }

        &-container {
            padding-top: 14px;
        }
    }
    .product-info-main {
        .product-info-price {
            .price-box{
                margin-left: -2px;
            }
        }
        a.afterpay-modal-popup-trigger{
            margin-left: -3px;
        }
        #size-chat-button{
            margin-top: 10px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls){
    .catalog-category-view,
    .catalogsearch-result-index {
        .toolbar-sorter {
            float: right;
        }

        p.toolbar-amount {
            margin-top: -20px;
        }

        .filter-opener {
            right: auto;
            float: left;
            text-align: left;

            &:before,
            &:after {
                display: block;
                top: 7px;
            }
        }

        .swatch-option-tooltip {
            display: none !important;
        }
    }

    .amshopby-index-index,
    .catalog-category-view,
    .catalogsearch-result-index {
        .column.main {
            float: none;
        }

        .filter-opener {
            &.filtered {
                line-height: 30px;
            }
        }
    }

    .page-products {
        .sorter {
            .sorter-options {
                text-align: left !important;
            }
        }
    }

    .product-info-main {
        .product.attribute.overview {
            display: none;
            color: #666666;
        }
    }

    .product.info.detailed {
        margin-bottom: 0;
    }

    .block.related {
        h1 {
            margin-bottom: 25px;
        }

        .products {
            margin-top: 18px;
        }
    }

    .catalog-product-view {
        .page-wrapper {
            display: -webkit-flex !important;
            display: -ms-flexbox !important;
            display: flex !important;
        }


        .bundle-options-wrapper {
            .product-options-wrapper {
                padding: 0;

                .fieldset-bundle-options .field.choice:last-child {
                    margin-bottom: @box-spacing;
                }
            }
        }

        .bundle-wrapper {
            .bundle-summary-wrapper {
                padding: 0;
            }
        }
    }

    .products-grid {
        .product-item-name {
            min-height: auto;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l){
    .page-with-filter,
    .catalogsearch-result-index {
        .nice-select {
            &.sorter-options {
                .current {
                    font-weight: @font-weight__regular;
                    display: block;
                }
            }
        }
    }
    .catalog-product-view {
        .section-instagram-block {
            padding: 0 15px;
        }
    }

}

//
//  Tablet
//  _____________________________________________
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .page-layout-1column {
        div.product {
            &.media {
                width: 48%;
                margin-right: 3%;
            }

            &-info-main {
                width: 49%;
                margin: 0;
                padding: 14px 0 0;
            }
        }

        .product-add-form {
            div.block-bundle-summary {
                div.box-tocart {
                    .field.qty {
                        width: 102px;
                        padding: 0 27px 0 0;

                        ~ .actions {
                            width: ~'calc( 100% - 102px )';
                        }
                    }
                }
            }
        }
    }

    .block.related {
        .block-title.title {
            text-align: center;
        }
    }

    .category-block-holder-container {
        padding-top: 50px;
    }

    .catalog-product-view {
        .page-main {
            padding-top: 30px;
        }

        .page-header {
            margin-bottom: 20px;
        }

        .column.main {
            margin-top: 0;
        }

        .slick-slide {
            margin: 0 @box-spacing-large / 4;
        }

        .product-info-main {
            .page-title-wrapper {
                .page-title {
                    .lib-font-size(28);
                    line-height: 1.1;
                    margin-bottom: 3px;
                }
            }

            .afterpay-installments-amount {
                margin: -2px 0 8px;
                color: #666666;
            }

            #size-chat-button {
                display: block;
                margin-top: 10px;
            }

            .product-info-price {
                .price-box {
                    margin-left: -2px;
                }
            }
        }
    }

    .product.media {
        .fotorama__arr {
            display: none !important;
        }

        .catalog-product-view & {
            margin-bottom: 0;
        }
    }

    .product-info-main {
        border: none;
    }

    .instagram-gallery {
        .slick-arrow {
            top: 50%;
            background: none;
            width: 80px;
            height: 80px;
            background: rgba(255,255,255,0.5);
            border-radius: 50%;
            transform: translate3d(0, -50%, 0);
            z-index: 1;
            .lib-icon-font(
                @_icon-font: @font__simple-line,
                @_icon-font-content: @icon-simple__arrow-right,
                @_icon-font-color: @color-black,
                @_icon-font-size: 20px,
                @_icon-font-position: before,
                @_icon-font-display: block
            );

            &.slick-next {
                right: -50px;
                line-height: 1;

                &:before {
                    margin: 4px 0 0 -48px;
                    color: @color-black;
                }
            }

            &.slick-prev {
                left: -50px;

                &:before {
                    transform: rotate(180deg);
                    margin: 4px 0 0 48px;
                    color: @color-black;
                    line-height: 1;
                }
            }
        }
    }

    .page-with-filter,
    .catalogsearch-result-index {
        .toolbar {
            .toolbar-amount {
                display: block;
                margin-top: -13px;
            }
        }
    }

    div.category-block-holder {
        .container-block {
            margin: 0 0 15px;
        }
    }

    .catalog-category-view {
        .page-footer {
            margin-top: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s){
    .page-layout-1column {
        div.product {
            &.media {
                width: 57.4%;
                margin-right: 4%;
            }

            &-info-main {
                width: 38.4%;
            }
        }
    }

    .product {
        &-info-main {
            .page-title {
                margin: 0;
                letter-spacing: 1.9px;
            }

            .product-info-price {
                .price-to {
                    &:before {
                        .lib-font-size(36);
                    }
                }
            }
        }

        &-reviews-summary {
            margin-bottom: 16px;
        }

        &-options-bottom,
        &-info-price{
            div.price-box {
                .price-container {
                    .price {
                        .lib-font-size(36);
                    }
                }
            }

            div.price-box {
                .old-price {
                    .price-container {
                        .price {
                            .lib-line-height(36);
                        }
                    }
                }
            }
        }
    }

    .category-block-holder {
        .category-block-title {
            position: relative;

            &:after {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                height: 1px;
                background: @color-border;
                content: '';
                z-index: -1;
            }

            &-text {
                background: @color-white;
                padding: 0 86px;
            }
        }

        .container {
            font-size: 0;

            &-block {
                display: inline-block;
                vertical-align: top;
                .lib-font-size(14);
                padding: 0 20px;
                width: 50%;
            }
        }
    }

    .amshopby-index-index,
    .catalog-category-view {
        .sub-categorys {
            padding-bottom: 30px;
        }
    }

    .block-related-holder {
        padding-bottom: 20px;
        background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%);
        background: -webkit-linear-gradient(top, #ffffff 0%,#fafafa 100%);
        background: linear-gradient(to bottom, #ffffff 0%,#fafafa 100%);
    }

    .instagram-gallery {
        &.slick-initialized {
            display: block;
            overflow: hidden;

            .slick-slide {
                padding: 0 2px;
                position: relative;

                &:hover {
                    .instagram-gallery-block {
                        display: block;
                    }
                }
            }
        }

        &-block {
            position: absolute;
            top: 0px;
            left: 2px;
            right: 2px;
            bottom: 0;
            background: rgba(232,233,235,.94);
            padding: 45% 0 0;
            text-align: center;
            display: none;

            > span {
                display: block;
                color: @color-dark-grey2;
                .lib-font-size(13);
                text-transform: uppercase;
            }

            .icon {
                margin-bottom: 2%;

                &:before {
                    font-family: @font-awesome;
                    content: @font-awesome-insagram;
                    font-size: 24px;
                    line-height: 22px;
                }
            }

            .title {
                font-weight: @font-weight__bold;
            }
        }
    }

    .review-toolbar {
        margin: 0;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){
    .product.media {
        .fotorama__stage {
            margin-left: 3.5%;
            max-height: 920px;
        }
        .fotorama__stage__frame .fotorama__img{
            max-width: 690px;
        }
    }

    .block-related-holder {
        padding-bottom: 25px;
    }

    .category-block-holder-container {
        padding-top: 26px;
    }

    #confirmBox #messageBox {
        .block-bundle-summary {
            .bundle-summary-wrapper {
                padding-right: 0;
            }

            .price-box {
                padding-bottom: @box-spacing;
            }
        }

        .product-info-main {
            .product-add-form {
                .tocart {
                    max-width: none;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls){
    .category-block-holder-container {
        padding-top: 61px;
        padding-bottom: 30px;
    }
    .catalog-product-view {
        .category-block-holder-container {
            margin-top: 27px;
        }
    }
    .catalog-category-view {
        .toolbar-products {
            padding-bottom: 40px;
        }

        .page-main {
            padding-bottom: 0;
        }

        .product-item {
            .old-price {
                margin: 0;
            }
        }
    }

    .catalog-category-view,
    .catalogsearch-result-index {
        span.filter-opener {
            width: 115px;
        }
    }

    .page-products {
        .sorter {
            .nice-select {
                width: 180px;
            }
        }

        .toolbar-products {
            padding-bottom: 18px;

            &:nth-of-type(1) {
                top: 18px;
            }
        }
    }

    .products-grid {
        .product-item-details {
            padding-top: 17px;
        }

        .product-item-name {
            text-transform: none;
            min-height: auto;
        }
    }

    .category-block-holder {
        .container {
            .lib-vendor-prefix-display(flex);

            &-block {
                padding: 0 30px;
            }
        }

        .category-block-title {
            margin-bottom: 70px;
        }
    }

    .catalog-product-view {
        .breadcrumbs {
            text-align: left;
            margin-bottom: 13px;
        }

        .product-add-form {
            padding-top: @box-spacing-large / 2;

            .box-tocart {
                width: 100%;

                .fieldset {
                    display: block;
                }

                .field.qty {
                    float: left;
                    width: 94px;
                    padding-right: 19px;
                    text-align: left;

                    ~ .actions {
                        padding: 20px 0 0;
                        float: right;
                        width: ~'calc( 100% - 94px )';
                    }
                }

                .control {
                    margin: 0;
                    width: auto;
                }

                .actions {
                    padding: 0;
                }
            }
        }
    }

    .product-info-main {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);

        .page-title-wrapper {
            order: 0;
        }

        .product-price-wrapper {
            order: 1;
        }

        .product.attribute.overview {
            order: 2;
            color: #666666;
        }

        .product-info-stock-sku {
            order: 3;
        }

        .product-form-wrapper {
            order: 4;
        }

        div.product-add-form {
            .box-tocart{
                .actions {
                    button {
                        max-width: 330px;
                    }
                }

                &.out-of-stock{
                    margin: 0;

                    .actions {
                        width: 58%;
                    }
                }
            }
        }
    }

    .page-layout-1column {
        .product {
            .media {
                width: 59%;
                margin-right: 4.35%;
            }

            &-info-main {
                width: 38%;
                margin: 0;
                padding: 25px 0 0;

                .product.attribute.overview {
                    display: block;
                    padding-top: 17px;
                }
            }
        }

        div.product-crosssell-wrapper {
            width: 38.4%;
        }
    }

    div.product {
        &.data {
            &.items {
                > div.item {
                    &.title:not(.disabled) {
                        width: auto;
                        letter-spacing: 1px;
                        padding: 0 @box-spacing * 2;

                        &:first-child {
                            padding-left: 0;
                        }

                        > .switch,
                        .switch:focus,
                        .switch:active {
                            padding-left: 0;
                            .lib-font-size(14);
                            border: none;
                            font-weight: @font-weight__regular;
                            color: @color-grey;
                            text-align: left;
                            background: @color-white;

                            .counter {
                                color: @color-dark-grey1;
                            }
                        }

                        &.active {
                            > .switch,
                            .switch:focus,
                            .switch:hover,
                            .switch:active {
                                color: @color-grey;
                                background: @color-white;
                                text-align: left;
                                border: 0;
                                font-weight: @font-weight__bold;
                            }
                        }
                    }

                    &.content {
                        padding: 30px 0;
                        border-bottom: 0;
                    }
                }
            }
        }

        &.info.detailed {
            padding: 38px 0 0;
            margin: 0;

            .product-sku {
                margin-bottom: 0;
            }
        }
    }

    .block.related {
        .product-item-details {
            padding-top: 26px;
        }
    }

    .block-related-holder {
        padding-bottom: 70px;
    }

    .fotorama__nav-wrap--vertical {
        .fotorama__nav__shaft {
            margin-top: -20px;
        }
    }

    .instagram-gallery {
        &.slick-initialized {
            margin: 50px 0 0;
        }

        &-block {
            > span {
                margin: 0 0 4%;
            }

            .icon {
                margin-bottom: 10%;
            }
        }
    }

    .product-crosssell-wrapper {
        .products-crosssell {
            .product-item {
                align-items: center;
                display: flex;
                margin-bottom: @box-spacing * 2 !important;

                .product-item-info {
                    display: flex;
                    padding-right: @box-spacing;
                }

                .product-item-photo {
                    align-items: center;
                    display: flex;
                    flex-shrink: 0;
                    width: 85px;

                    .product-image-container {
                        float: none;
                        margin: 0;
                        max-width: none;
                    }
                }

                .product-item-details {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    line-height: 1.25;
                    padding: 0 @box-spacing-large;
                }

                .product-item-name {
                    min-height: unset;
                }

                .price-box {
                    margin: @box-spacing-large / 2 0;

                    .price-box {
                        margin: 0;
                    }
                }
            }
        }
    }

}
