<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko foreach: getRegion('before_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="product-item-details">

    <div class="product-item-inner">
        <div class="product-item-name-block">
            <strong class="product-item-name" data-bind="text: $parent.name"></strong>
            <!-- ko if: (JSON.parse($parent.options).length > 0)-->
            <div class="product options" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
                <div data-role="content" class="content">
                    <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
                    <div class="item-options">
                        <!--ko foreach: JSON.parse($parent.options)-->
                        <div>
                            <label class="label" data-bind="text: label"></label>
                            <!-- ko if: ($data.full_view)-->
                            <span class="values" data-bind="html: full_view"></span>
                            <!-- /ko -->
                            <!-- ko ifnot: ($data.full_view)-->
                            <span class="values" data-bind="html: value"></span>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <div class="details-qty">
                <span class="label"><!-- ko i18n: 'Qty : ' --><!-- /ko --></span>
                <span class="value" data-bind="text: $parent.qty"></span>
            </div>
            <!-- ko foreach: getRegion('after_details') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>
