<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name order has shipped" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var payment_html|raw":"Payment Details",
"var comment":"Shipment Comment",
"var shipment.increment_id":"Shipment Id",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block class='Magento\\\\Framework\\\\View\\\\Element\\\\Template' area='frontend' template='Magento_Sales::email\/shipment\/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var order.getShippingDescription()":"Shipping Description"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr>
        <td class="email-intro">
            <table class="email-intro-table">
                <tr>
                    <td class="email-intro-message">
                        <h2>{{trans "Thank you for your order from %store_name." store_name=$store.getFrontendName()}}</h2>
                        {{trans "Once your order is on the way, we will send you a confirmation email."}}
                    </td>
                    <td class="email-intro-info">
                        {{trans 'Questions about your order?'}} <br>
                        {{trans 'Call us on'}} <br>
                        <strong>{{depend store_phone}} {{trans '%store_phone' store_phone=$store_phone |raw}}{{/depend}}</strong> <br>
                        <br>
                        {{trans 'Email us'}}<br />
                        {{depend store_email}}
                        {{trans '<a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}
                        {{/depend}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <p>{{trans "Your shipping confirmation is below. Thank you again for your business."}}</p>

            <h1>{{trans "Your Shipment <strong>#%shipment_id</strong> for Order <strong>#%order_id</strong>" shipment_id=$shipment.increment_id order_id=$order.increment_id |raw}}</h1>
        </td>
    </tr>
    <tr>
        <td class="email-information">
            {{depend comment}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var comment|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            {{block class='Magento\\Framework\\View\\Element\\Template' area='frontend' template='Magento_Sales::email/shipment/track.phtml' shipment=$shipment order=$order}}
            {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}
            <table class="order-details">
                <tr>
                    <td class="address-details">
                        <strong>{{trans "Billing Information"}}</strong>
                        <p>{{var formattedBillingAddress|raw}}</p>
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="address-details">
                        <strong>{{trans "Shipping Information"}}</strong>
                        <p>{{var formattedShippingAddress|raw}}</p>
                    </td>
                    {{/depend}}
                </tr>
                <tr>
                    <td class="method-info">
                        <strong>{{trans "Payment Method"}}</strong>
                        {{var payment_html|raw}}
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="method-info">
                        <strong>{{trans "Shipping Method"}}</strong>
                        <p>{{var order.getShippingDescription() |raw}}</p>
                    </td>
                    {{/depend}}
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
