<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
$_item = $block->getItem();
$_order = $_item->getOrder();
$_store = $_order->getStore();
$_qty = $_item->getQtyOrdered() * 1;
$_subtotal = $block->getItemPrice($_item);
$_price = $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(preg_replace("/[^0-9\.]/", "",$_item->getPrice()),true,false);
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_product = $objectManager->get('Magento\Catalog\Model\Product')->load($_item->getProductId());
$_imageHelper = $this->helper('Magento\Catalog\Helper\Image');
$image_url = $_imageHelper->init($_product, 'product_page_image_small')->setImageFile($_product->getFile())->resize(80, 110)->getUrl();
?>
<tr>
    <td class="item-info<?php if ($block->getItemOptions()): ?> has-extra<?php endif; ?>">
        <a class="product-image">
            <img src="<?php echo $image_url; ?>" alt="<?= $block->escapeHtml($_item->getName()) ?>" width="80" height="110"/>
        </a>
        <div class="product-info">
            <p class="product-name"><?= $block->escapeHtml($_item->getName()) ?></p>
            <?php if ($block->getItemOptions()): ?>
                <dl class="item-options">
                    <?php foreach ($block->getItemOptions() as $option): ?>
                        <dt><?= /* @escapeNotVerified */  $option['label'] ?></dt>
                        <dd>
                            <?= /* @escapeNotVerified */  nl2br($option['value']) ?>
                        </dd>
                    <?php endforeach; ?>
                </dl>
            <?php endif; ?>
            <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
            <?php if ($addInfoBlock) :?>
                <?= $addInfoBlock->setItem($_item)->toHtml() ?>
            <?php endif; ?>
        </div>
    </td>
    <td class="item-price">
        <?= /* @escapeNotVerified */  $_price; ?>
    </td>
    <td class="item-qty"><?= /* @escapeNotVerified */  $_qty; ?></td>
    <td class="item-subtotal">
        <?= /* @escapeNotVerified */  $_subtotal; ?>
    </td>
</tr>
