<div id="vip-status-calculator-content" style="float: right;display: none;">
    <?php /* @escapeNotVerified */ echo __('Your VIP status is currently valid until'); ?>
    <span class="vip-status-expiration" style="font-weight: bold;"></span>
    <p>
        <a href="<?php echo $block->getUrl('reward-points') ?>">
            <?php /* @escapeNotVerified */ echo __('View Rewards detail') ?>
        </a>
    </p>
</div>

<script type="text/x-magento-init">
{
    "#vip-status-calculator-content": {
        "vipStatusCalculatorAjax" : {
            "defaultErrorMessage": "<?php echo __('Something went wrong with the loading content.') ?>",
            "url": "<?php echo $block->getUrl('balance_vipstatuscalculator/index/ajaxCalculator') ?>"
        }
    }
}
</script>
