// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .bundle-actions {
        padding-top: 20px;
        margin: 0 0 @indent__l;
        .action.primary.customize {
            &:extend(.abs-button-l all);
            &:extend(.abs-button-responsive all);
        }
    }
    .bundle-options-container{
        .product-info-stock-sku{
            .stock {
                margin-top: 10px;
                text-transform: capitalize;
                display: inline-block;
                font-weight: @font-weight__semibold;
                color: @color-green;
                border: 1px solid @color-border;
                height: 30px;
                padding: 0 20px;
                line-height: 28px;
                color: @color-orange;
                &.available,
                &.unavailable,
                &.backorder{
                    text-transform: uppercase;
                    .lib-font-size(13);
                    border: 0;
                    padding: 0;
                    color: @color-black;
                    span{
                        vertical-align: middle;
                    }
                    small{
                        .lib-font-size(13);
                        color: @color-light-grey;
                        font-weight: 300;
                        text-transform: none;
                        letter-spacing: 0.40px;
                    }
                }
                &.available{
                    display: none;
                }
                &.backorder{
                    &:before{
                        .simple-icon();
                        color: @color-black;
                        content: '!';
                        border: 1px solid @color-black;
                        margin-right: 3px;
                        vertical-align: middle;
                        font-size: 14px;
                        line-height: 14px;
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        display: inline-block;
                        text-align: center;
                        margin-top: -3px;
                    }
                }
                &.unavailable {
                    &:before{
                        .simple-icon();
                        color: @color-black;
                        content: @icon-simple__close;
                        margin-right: 7px;
                        vertical-align: middle;
                    }
                }
            }
        }

    }
    .bundle-options-wrapper {
        clear: both;
        margin-bottom: @indent__xl;
        padding-top: 25px;

        .legend.title {
            .lib-heading(h1);
            border: 0;
            padding: 0;
        }

        .input-text.qty {
            &:extend(.abs-input-qty all);
        }

        .product-options-wrapper {
            border-bottom: 1px solid @color-border;
            margin-bottom: 18px;
            padding: 0 0 10px;

            .fieldset {
                margin: 0;
            }

            .fieldset-bundle-options {
                .field {
                    &.choice {
                        padding-right: 0;
                        width: 100%;
                        .price-notice {
                            &:extend(.abs-adjustment-incl-excl-tax all);
                            color: @color-black;
                            font-weight: bold;
                        }
                        input[type="radio"] + label{
                            &:before{
                                top: 10px;
                            }
                            &:after{
                                margin-top: -10px;
                            }
                        }
                    }
                    &.option {
                        margin: 0 0 8px;

                        &.required{
                            .bundle-options-name{
                                span{
                                   &:after{
                                       content: '*';
                                       color: #e02b27;
                                       font-size: 1.2rem;
                                       margin: 0 0 0 4.75px;
                                       display: inline-block;
                                   }
                                }
                            }
                        }
                    }
                }

            }

            .field.choice {
                .label {
                    display: block;
                    width: 100%;
                    > span {
                        display: block;
                    }
                }

                .price-notice {
                    &:extend(.abs-adjustment-incl-excl-tax all);
                }
                
                .price-excluding-tax {
                    display: inline-block;
                }
            }
        }

        .bundle-options-heading {
            .lib-clearfix();
            border-bottom: 1px solid @color-border;
            padding: 0 0 5px;
            margin: 0 0 10px;

            > div {
                float: left;
                color: @color-light-grey;
            }
        }

        .bundle-options-name {
            width: 63%;
        }

        .bundle-options-price {
            width: 22%;
        }

        .bundle-options-qty {
            width: 15%;
            text-align: center;
        }

        .bundle-options-top {
            .lib-clearfix();

            .bundle-options-name {
                float: left;
                text-transform: uppercase;
                .lib-font-size(12);
                font-weight: @font-weight__semibold;
                margin: 12px 0 0;
            }

            .qty-holder {
                float: right;
                width: 15%;
                text-align: center;
            }
        }
        .option{
           > label.label{
                span{
                    float: left;
                    text-transform: uppercase;
                    .lib-font-size(12);
                    font-weight: @font-weight__semibold;
                    margin: 0 0 5px;
                    color: @color-black;
                }
            }
        }
        .action.back {
            &:extend(.abs-action-button-as-link all);
            margin-bottom: @indent__l;
        }

        .block-bundle-summary {
            > .title {
                margin-bottom: 15px;

                > strong {
                    .lib-heading(h2);
                }
            }

            > .title,
            .bundle-summary .subtitle {
                border-bottom: 1px @color-gray-middle1 solid;
                margin-bottom: @indent__m;
                padding-bottom: 16px;
            }

            .price-box {
                margin-bottom: @indent__base;

                .price-label {
                    display: block;
                    margin-bottom: @indent__xs;
                }
            }

            .bundle-summary {
                margin-top: @indent__l;

                &.empty {
                    display: none;
                }

                > .subtitle {
                    .lib-heading(h2);
                    display: block;
                }
            }

            .bundle.items {
                &:extend(.abs-reset-list all);

                > li {
                    margin-bottom: @indent__base;
                }
            }

            .box-tocart {
                &:extend(.abs-box-tocart all);

                .action.primary {
                    &:extend(.abs-button-l all);
                    &:extend(.abs-button-responsive all);
                }
            }

            .product-addto-links {
                > .action {
                    &:extend(.abs-actions-addto all);
                    margin-right: 5%;

                    &.tocompare {
                        .lib-icon-font-symbol(
                            @_icon-font-content: @icon-compare-full,
                            @_icon-font-position: before
                        );
                    }
                }
            }

            .product-image-container,
            .product.name,
            .stock {
                &:extend(.abs-visually-hidden all);
            }

            .price-box {
                padding: 0 0 1px;
                margin: 0 0 10px;

                .price-wrapper,
                .price-wrapper > .price {
                    .lib-css(color, @color-black);
                    .lib-font-size(22);
                    font-weight: @font-weight__bold;
                }
            }
        }

        p.required {
            .lib-css(color, @form-field-label-asterisk__color);
        }

        .nested {
            .field.qty {
                .lib-form-field-type(@_type: block);

                &:last-child {
                    margin-bottom: 0;
                }

                margin-top: @form-field__vertical-indent;
            }

            .field.choice > input[type="radio"] + label {
                &:before {
                    top: 10px;
                }
                &:after {
                    margin-top: -10px;
                }
            }

            .label {
                .lib-font-size(12);
                font-weight: @font-weight__regular;
                text-transform: uppercase;

                .product-name {
                    display: inline-block;
                    width: 57%;
                    color: @color-black;
                }

                .price-notice {
                    .price-container {
                        margin: 0 0 0 -3px;
                        .price {
                            .lib-font-size(12);
                        }
                    }
                }
            }
        }

        .price {
            font-weight: @font-weight__semibold;
        }
    }

    .block-bundle-summary {
        > .title {
            margin-bottom: 15px;

            > strong {
                .lib-heading(h2);
            }
        }

        > .title,
        .bundle-summary .subtitle {
            border-bottom: 1px @color-gray-middle1 solid;
            margin-bottom: @indent__m;
            padding-bottom: 16px;
        }

        .price-box {
            margin-bottom: @indent__base;

            .price-label {
                display: block;
                margin-bottom: @indent__xs;
            }
        }

        .bundle-summary {
            margin-top: @indent__l;

            &.empty {
                display: none;
            }

            > .subtitle {
                .lib-heading(h2);
                display: block;
            }
        }

        .bundle.items {
            &:extend(.abs-reset-list all);

            > li {
                margin-bottom: @indent__base;
            }
        }

        .box-tocart {
            &:extend(.abs-box-tocart all);

            .action.primary {
                &:extend(.abs-button-l all);
                &:extend(.abs-button-responsive all);
            }
        }

        .product-addto-links {
            > .action {
                &:extend(.abs-actions-addto all);
                margin-right: 5%;

                &.tocompare {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-compare-full,
                        @_icon-font-position: before
                    );
                }
            }
        }

        .product-image-container,
        .product.name,
        .stock {
            &:extend(.abs-visually-hidden all);
        }

        .price-box {
            padding: 0 0 1px;
            margin: 0 0 20px;

            .price-wrapper,
            .price-wrapper > .price {
                .lib-css(color, @color-black);
                .lib-font-size(22);
                font-weight: @font-weight__bold;
            }
        }
    }

    .bundle-wrapper {
        .product-info-main {
            margin: 0;
            padding: 0;
            border: 0;
        }

        input[type="number"] {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            padding-left: 3px;
            padding-right: 3px;
            text-align: center;
            .lib-font-size(14);
        }

        .bundle-summary-wrapper {
            .lib-clearfix();

            .box-tocart {
                position: relative;

                .control {
                    display: inline-block;
                    margin-left: 10px;
                    width: 40px;
                }

                .field.qty {
                    position: absolute;
                    top: 100%;
                    width: 50%;
                    margin-top: 20px;
                    padding-right: 10px;
                    text-align: right;
                }

                .action.primary {
                    width: 100%;
                }
            }

            .product-social-links {
                float: left;
                padding: 20px 0 0 10px;
                width: 50%;
                text-align: left;
            }
        }
    }
    .block-bundle-summary{
        .price-as-configured{
            .price-configured_price{
                &:before{
                    content: 'Total:';
                    display: inline-block;
                    .lib-font-size(22);
                    line-height: 25px;
                    letter-spacing: 0.2px;
                    font-weight: @font-weight__bold;
                    text-transform: uppercase;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .bundle-wrapper {
        .product.media{
            float: left;
        }
        .product-info-main{
            float: right;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {

    .bundle-actions {
        display: none !important;
        .action.primary.customize {
            width: auto;
        }
    }

    .product-info-main {
        .bundle-options-container {
            .product-add-form {
                padding:6px 0 0;
                width: 100%;
            }
        }
    }

    .bundle-options-container {
        .legend.title {
            font-size: @h1__font-size-desktop;
        }

        .block-bundle-summary {
            &:extend(.abs-add-box-sizing-desktop all);
            position: relative;

            .price-container {
                .weee {
                    .lib-css(color, @price-color);

                    .price {
                        .lib-font-size(12);
                        font-weight: @font-weight__bold;
                    }
                }
            }

            .price-including-tax + .price-excluding-tax {
                .price {
                    .lib-font-size(14);
                    line-height: 16px;
                }
            }

            .product-addto-links {
                text-align: left;
            }
        }

        .product-add-form {
            .product-options-wrapper {
                .field:not(.date) {
                    > .control {
                        width: 100%;
                    }
                }
            }
        }
    }
    .bundle-wrapper {

        .bundle-summary-wrapper {
            width: 100%;
            margin: 0;
            .box-tocart {
                float: left;
                width: ~"-webkit-calc(86% - 57px)";
                position: static;
                .fieldset{
                    position: relative;
                }
                .field.qty {
                    width: 20%;
                    float: right;
                    padding: 0;
                    margin: 0;
                    min-width: 86px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                .actions {
                    width: 100%;
                    float: left;
                    padding-right: 95px;
                }

                .control {
                    display: inline-block;
                    margin-left: 10px;
                    width: 40px;
                }
            }

            .product-social-links {
                padding: 0;
                float: left;
                width: 40px;
                margin-left: 15px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .bundle-wrapper{
        .bundle-summary-wrapper{
            position: relative;
            padding-top: 65px;
            .box-tocart{
                position: static;
                .field.qty{
                    top: -15px;
                    margin: 0;
                    left: 50%;
                    margin-left: -19px;
                    padding: 0;
                    width: 40px;
                    label{
                       text-align: center;
                        display: block;
                    }
                    .control{
                        margin: 0;
                    }
                }
            }
            .product-social-links{
                width: 40px;
                margin: 20px auto 15px;
                float: none;
                padding: 0;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .bundle-actions{
        display: none;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .bundle-wrapper {
        width: 100%;
        float: none;
    }
    .bundle-options-wrapper{
        .bundle-options-qty{
            text-align: right;
            padding-right: 12px;
        }
        .bundle-options-top{
            .qty-holder{
                text-align: right;
                padding-right: 2px;
            }
        }
    }

}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .bundle-wrapper{
        .bundle-summary-wrapper{
            position: relative;
            padding-top: 59px;
            .box-tocart{
                position: static;
                .field.qty{
                    top: 0;
                    margin: 0;
                    left: 6px;
                    width: auto;
                }
            }
            .product-social-links{
                position: absolute;
                top: 1px;
                left: 97px;
                padding: 0;
                width: auto;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .page-layout-1column {
        .bundle-wrapper {
           width: 100%;
            .product-info-main, .bundle-options-container {
                width: 40.4%;
                float: right;
                clear: none;
            }
        }
    }
}
