/**
* BSS Commerce Co.
*
* NOTICE OF LICENSE
*
* This source file is subject to the EULA
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://bsscommerce.com/Bss-Commerce-License.txt
*
* =================================================================
*                 MAGENTO EDITION USAGE NOTICE
* =================================================================
* This package designed for Magento COMMUNITY edition
* BSS Commerce does not guarantee correct work of this extension
* on any other Magento edition except Magento COMMUNITY edition.
* BSS Commerce does not provide extension support in case of
* incorrect edition usage.
* =================================================================
*
* @category   BSS
* @package    Bss_ConfigurableMatrixView
* @author     Extension Team
* @copyright  Copyright (c) 2015-2016 BSS Commerce Co. ( http://bsscommerce.com )
* @license    http://bsscommerce.com/Bss-Commerce-License.txt
*/
@border-color__bss: #999;

& when (@media-common = true) {

    .configurable-matrix-page {
        .afterpay-installments {
            display: none;
        }

        .product-options-wrapper {
            .sku {
                text-transform: uppercase;
            }
        }
    }

    .top-control {
        .lib-clearfix();
        border-top: 1px solid @border-color__bss;
        padding: 17px 0;

        #size-chat-button {
            .product-info-main & {
                float: left;
                margin: 7px 0;
            }
        }

        .control {
            display: none;
        }
    }

    .product-options-wrapper {
        .total-price {
            font-weight: 700;
            .lib-font-size(22);
            text-transform: uppercase;
        }

        .reset {
            box-shadow: none;
            text-decoration: underline;
        }

        span#reset-matrix-view {
            background: none;
        }

        .product-info-main & {
            .product-add-form .box-tocart .actions {
                width: 100%;

                button {
                    width: 58%;
                    float: left;
                }
            }
        }
    }

    .block-bss-matrixview {
        table {
            border-collapse: unset;
        }

        .price-box {
            width: 100%;
        }

        .product-options-wrapper & {
            max-height: none;
            width: 100% !important;
        }

        th, td {
            text-align: center;
            border: none;
            vertical-align: middle;
        }

        th {
            border-width: 0 1px 0 0;
            border-color: @border-color__bss;
            padding: 0;
            z-index: 5;

            &.th-00 {
                z-index: 8;
                border-right: none;
            }

            .swatch-attribute {
                border: none;
                position: relative;
                z-index: 999999999;
                top: 0;
                padding: 10px 0 15px;
                background: @color-white;
                height: 90px;
                box-sizing: border-box;
            }

            .label-attribute1,
            .label-attribute0 {
                font-weight: 400;
                color: @color-light-grey;
                text-transform: capitalize;
            }

            .label-attribute1 {
                left: auto;
                right: 10px;
            }

            .label-attribute0 {
                right: auto;
                left: 10px;
            }

            .col-00 {
                display: inline-block;
                position: relative;
                height: 90px;
                border: none;
                background: @color-white;
                width: 100%;
                box-sizing: border-box;
            }

        }

        td {
            padding: 20px 10px;

            &.first-attr {
                padding: 0;
                border-right: none;
                z-index: 10;

                .product-options-wrapper & {
                    .swatch-attribute-options {
                        margin-left: 0;
                        margin-right: 0;

                        .swatch-option {
                            margin: 0;
                        }
                    }
                }

                .bss-swatch {
                    padding: 10px 20px 30px;
                    border: none;
                    z-index: 5;
                    position: relative;
                    height: 128px;
                    display: flex;
                    align-items: center;
                    background: @color-white;
                }
            }

            .stock-st {
                margin-bottom: 0;
            }

            .price-box .price {
                font-weight: 400;
            }

            .ui-corner-all {
                margin-bottom: 10px;
            }
        }

        .product-info-main .product-options-wrapper & {
            .swatch-attribute {
                text-align: center;
            }
        }

        .product-options-wrapper & {
            .swatch-attribute .swatch-option.color {
                width: 40px;
                height: 40px;
                margin: 0;
            }
        }

        .swatch-option {
            box-shadow: none !important;
        }

        .child-product-matrix {
            input.qty.ui-spinner-input {
                width: 45px;
                border-radius: 0;
                margin: 0 28px;
                padding: 0 5px;
                height: 30px;
                border-width: 1px 0;
                border-color: @border-color__bss;
            }

            a.ui-spinner-button {
                text-decoration: none;
                text-align: center;

                .custom-button-bss {
                    background: none;
                    width: 28px;
                    border: 1px solid @border-color__bss;
                    line-height: 28px;
                }

                &.ui-spinner-up {
                    bottom: 0;
                    right: 0;

                    .custom-button-bss {
                        border-radius: 0 20px 20px 0;
                    }
                }

                &.ui-spinner-down {
                    bottom: 0;
                    left: 0;

                    .custom-button-bss {
                        border-radius: 20px 0 0 20px;
                    }
                }
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .configurable-matrix-page {
        &.page-layout-1column {
            .product-crosssell-wrapper,
            .product-info-main {
                width: 60%;
            }

            .product.media {
                width: 36%;
            }
        }

        .product-info-main .product-add-form .box-tocart .actions {
            width: 100%;

            button {
                width: 330px;
                box-sizing: border-box;
                float: left;
                max-width: ~"calc(100% - 75px)";
            }

            .product-social-links {
                width: 45px;
                padding-left: 30px;
            }
        }

        &.catalog-product-view.page-product-configurable .product-add-form .product-options-wrapper {
            flex: unset;
        }

        .product-options-wrapper {
            position: relative;
            margin-top: -30px;

            .sku {
                position: absolute;
                right: 0;
                top: -30px;
            }
        }
    }
}