
//
//  Variables
//  _____________________________________________

@icon-top-search-color: @color-light-grey;
@width-search-container: 1410px;


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .toogle-search {
    display: none;
    position: absolute;
    right: 40px;
    top: -20px;
    width: 25px;
    height: 25px;
    &:before {
      .simple-icon();
      content: @icon-simple__search;
      color: @icon-top-search-color;
      font-weight: @font-weight__bold;
      .lib-font-size(19);
    }
  }

  .page-header {

    #algolia-searchbox {
      .clear-query-autocomplete {
        &.clear-cross {
          &:before {
            .simple-icon();
            content: '\e9f2';
            color: @icon-top-search-color;
            font-weight: @font-weight__bold;
            .lib-font-size(19);
            top: 10px;
          }
        }
      }

      #algolia-autocomplete-container {
        .autocomplete-wrapper {
          .col9 {
            .algoliasearch-autocomplete-hit {
              .info {
                letter-spacing: 0.25px;
                text-transform: inherit;
              }
            }


          }

          .other-sections {
            .aa-suggestion {
              .info-without-thumb {
                font-weight: @font-weight__regular;
                color: @color-black;
              }
            }
          }

          #autocomplete-products-footer {
            .lib-font-size(13);

          }
        }
      }
    }
  }
}

//
// Large desktop to large tablet
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .page-header {
    #algolia-searchbox {
      .algolia-search-input {
        &.input-text {
          &#search {
            height: 37px;
          }
        }
    }

      .magnifying-glass {
        right: 12px;
        top: 8px;
        &:after {
          .lib-font-size(16);
        }
      }

      .clear-query-autocomplete {
        &.clear-cross {
          top: 7px;
          right: 12px;
          &:before {
            .lib-font-size(15);
          }
        }
      }

    }

    #algolia-autocomplete-container {
      .container();
      max-width: @width-search-container;

      .aa-dropdown-menu {
        top: 0 !important;
        left: 57%!important;
        width: 100%;
        border: 1px solid @color-border;
        .lib-prefix-transform-translate(-57%,0);

        &:before {
          right: 90px;
          left: auto;
          .triangle(top, 16px, 7px, @color-border);
        }
        &:after {
          content: '';
          position: absolute;
          display: block;
          right: 90px;
          left: auto;
          top: -8px;
          .triangle(top, 16px, 8px, @color-white);
        }

        .other-sections {
          .aa-suggestion {
            .info-without-thumb {
              font-weight: @font-weight__regular;
              color: @color-dark-grey1;
            }
          }
        }
        .info-without-thumb {
          .category-tag {
            color: @color-dark-grey;
          }
        }
        .aa-no-results-products {
          .title {
            .lib-font-size(15);
            font-weight: @font-weight__bold;
          }
          .see-all a {
            color: @color-grey;
            font-weight: @font-weight__semibold;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .autocomplete-wrapper {
        padding: 0;
        .col3 {
          background: @color-light-grey3;
          max-width: 15%;
          padding: 15px;
          margin: 0;
        }


        .col9 {
          min-width: 84.7%;
          position: relative;
          .algoliasearch-autocomplete-hit {

            .aa-dataset-products {
              .aa-suggestions {
                .aa-suggestion {
                  margin-right: 15px;
                }
              }
            }
            .info {
              letter-spacing: 0.25px;
              text-transform: inherit;
              font-size: 1.4rem;
              .algoliasearch-autocomplete-category {
                font-size: 1.2rem;
              }
            }
          }
        }

        #autocomplete-products-footer {
          position: relative;
          width: 100%;
          font-size: 1.3rem;
        }
      }

      .aa-dataset-products {
        .info {
          .algoliasearch-autocomplete-price {
            font-size: 1.2rem;
            font-weight: @font-weight__regular;
            .after_special {
              font-weight: @font-weight__regular;
            }

            .before_special {
              font-weight: @font-weight__regular;
            }
          }
        }
      }
    }
  }
}


//
// Large tablet
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
  .toogle-search {
    top: -46px;
    &:before {
      .lib-font-size(15);
    }
  }
  .page-header {

    .toogle-search {
      top: -48px;
      &:before {
        .lib-font-size(15);
      }
    }
    #algolia-autocomplete-container {
      .aa-dropdown-menu{
        min-width: 100%;
        right: 0!important;
        left: 0!important;
        top: 1px !important;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        &:before {
         visibility: hidden;
        }
      }
    }

    #algolia-searchbox {

      .algolia-search-input {
        &.input-text {
          &#search {
            height: 40px;
          }
        }

      }

      .magnifying-glass {
        right: 17px;
        top: 9px;
        &:after {
          color: @icon-top-search-color;
          font-weight: @font-weight__bold;
          .lib-font-size(16);
        }
      }

      .clear-query-autocomplete {
        &.clear-cross {
          &:before {
            .simple-icon();
            top: 10px;
          }
        }
      }
    }
  }

  div.autocomplete-wrapper {
    padding: 10px 15px;
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
  .page-header {
    .toogle-search {
      top: -46px;
    }
    .block-search {
      .algolia-search-input {
        &.input-text {
            &#search {
              border-width: 1px!important;
            }
        }
      }
      .clear-query-autocomplete {
        &.clear-cross {
          top: 10px;
        }
      }
    }

    #algolia-autocomplete-container {

      .aa-dropdown-menu{
        border-top: 0;
      }

      .aa-dataset-products {
        .info {
          .algoliasearch-autocomplete-price {
            font-size: 1.2rem;
            font-weight: @font-weight__regular;
            .after_special {
              font-weight: @font-weight__regular;
            }

            .before_special {
              font-weight: @font-weight__regular;
            }
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  #algolia-searchbox {
    .clear-query-autocomplete {
      &.clear-cross {
        &:before {
          top: 10px;
        }
      }
    }
  }

  div.aa-dataset-products {
    .aa-suggestions {
      .aa-suggestion {
        width: 100%;
        .info {
          text-transform: capitalize;
        }
      }
    }
  }
  #algolia-autocomplete-container {
    .aa-dropdown-menu {
      .other-sections {

        .category {
          font-weight: @font-weight__semibold;
          color: @color-dark-grey1;
        }

        .aa-suggestions {
          .aa-suggestion {
            .algoliasearch-autocomplete-hit {
              color: @color-grey;
            }
          }
        }

        .algoliasearch-autocomplete-hit {
          color: @color-grey;
        }
      }
    }
  }


  .autocomplete-wrapper {
    #autocomplete-products-footer {
      color: @color-dark-grey1;
      span {
        color: @color-dark-grey1;
        font-weight: @font-weight__regular;
        a {
          color: @color-dark-grey1;
          font-weight: @font-weight__regular;
          text-decoration: none;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
  div.autocomplete-wrapper {
    padding: 0;

    .col9 {
      width: 78%;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .col3 {
      width: 22%;
      margin-right: 0;
      padding: 10px 20px 10px 15px;
    }
  }
}


