<?php
/**
 * Copyright © 2017 Balance Internet Pty., Ltd. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php if ($block->getAllCategories()): ?>
    <span class="mobile sub-categorys-trigger"><?php echo $block->escapeHtml(__('Menu')); ?></span>
    <div id="aw-ajax-block-tabs-wrapper" class="sub-categorys">
        <ul>
            <?php foreach ($block->getAllCategories() as $category): ?>
                <li class="sub-category">
                    <a
                        <?php if ($block->isMoreButton()) : ?>
                            data-value="<?php echo $category->getId(); ?>"
                            data-role="category-filter"
                        <?php endif; ?>
                        <?php if ($block->getCurrentCategoryId()): ?>
                            class="active"
                        <?php endif; ?>
                        href="<?php echo $block->getCategoryUrl($category->getId()); ?>">
                        <?php echo $category->getName(); ?>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
<?php endif; ?>
