<div data-block="header-wishlist" class="header-wishlist-wrapper">
    <div id="header-wishlist" class="header-wishlist-container" data-bind="scope: 'header-wishlist'">
        <!-- ko template: getTemplate() --><!-- /ko -->
    </div>
</div>
<script type="text/x-magento-init">
    {
        "[data-block='header-wishlist']": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "header-wishlist": {
                        "component": "Linenhouse_Wishlist/js/view/header/wishlist",
                        "config": {
                            "template": "Linenhouse_Wishlist/wishlist/header/content",
                            "wishlistCustomerIsLoggedInUrl": "<?php echo $block->getUrl('linenhouse-wishlist/customer/IsLoggedIn') ?>",
                            "customerAccountLoginUrl": "<?php echo $block->getUrl('customer/account/login/') ?>",
                            "customerWishlistUrl": "<?php echo $block->getUrl('wishlist/index/index') ?>"
                        }
                    }
                }
            }
        }
    }
</script>