<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /* @var $block \Magento\Catalog\Block\Product\View\AbstractView */?>
<?php $_product = $block->getProduct() ?>

<?php $_associatedProducts = $block->getAssociatedProducts(); ?>
<?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>
<?php if ($block->displayProductStockStatus()): ?>
    <?php if ($_product->isBackOrder()): ?>
        <div class="stock backorder" title="<?php /* @escapeNotVerified */ echo __('Availability') ?>">
            <span><?php /* @escapeNotVerified */ echo __('Back Order') ?> <small><?php echo __('Product will be placed on back order after purchase') ?> </small></span>
        </div>
    <?php elseif ($_product->isAvailable()): ?>
        <div class="stock available" title="<?php /* @escapeNotVerified */ echo __('Availability') ?>">
            <span><?php /* @escapeNotVerified */ echo __('In stock') ?> <small><?php echo $this->helper('Balance\Pdpmessage\Helper\Data')->showPdpMessage();?> </small></span>
        </div>
    <?php else: ?>
        <div class="stock unavailable" title="<?php /* @escapeNotVerified */ echo __('Availability') ?>">
            <span><?php /* @escapeNotVerified */ echo __('Out of stock') ?> <small><?php echo __('Notify me once this item is back in stock') ?> </small></span>
        </div>
    <?php endif; ?>
<?php endif; ?>
