// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 9;

@checkout-step-title__border: @border-width__base solid @color-gray80;
@checkout-step-title__font-size: 26px;
@checkout-step-title__font-weight: @font-weight__light;
@checkout-step-title__padding: @indent__s;

@checkout-step-title-mobile__font-size: 18px;


@checkout-step-content-mobile__background: @color-gray-light01;
@checkout-step-content-mobile__margin-s: 15px;
@checkout-step-content-mobile__margin: @indent__base -(@checkout-step-content-mobile__margin-s) @checkout-step-content-mobile__margin-s;


//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-index-index,
    .checkout-onepage-success {
        .page-title-wrapper {
            &:extend(.abs-visually-hidden all);
        }
    }

    .checkout-container {
        &:extend(.abs-add-clearfix all);
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);

        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-checkout-title all);
        }

        .step-content {
            margin: 0 0 @indent__xl;
        }
    }

    .checkout-index-index {
        .nav-sections,
        .nav-toggle {
            display: none;
        }

        .logo {
            display: block;
            left: 50%;
            .lib-layout-column(12, 1, 3);
            img {
                max-height: inherit;
            }
        }

        .header.content {
            padding: 39px 15px;
        }

        select {
            height: 40px;
        }
    }

    .cart-link {
        float: left;
        line-height: 20px;

        .back {
            width: 140px;
            height: 40px;
            border: 1px solid @color-white;
            text-transform: uppercase;
            text-align: center;
        }
    }

    .checkout-onepage-success {
        .checkout-confirmation-image,
        .checkout-success {
            box-sizing: border-box;
            display: inline-block;
            width: 49%;
            position: relative;
            vertical-align: middle;
        }
        .checkout-confirmation-image{
            p{
                margin: 0;
            }
            img{
                width: 100%;
            }
        }
        .actions-toolbar > .primary {
            float: none;
            margin-top: @indent__xl;
            text-transform: uppercase;
            width: auto;

            .action {
                .lib-font-size(13);
            }
        }
    }

    .checkout-success {
        max-width: 450px;
        text-align: center;

        .order-number {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .checkout-confirmation {
        border-bottom: 1px solid @color-form-border;

        h2 {
            font-family: @font__didot-regular;
            .lib-font-size(28);
            .lib-line-height(44);
            font-weight: @font-weight__light;
            letter-spacing: 0.3px;
            text-transform: none;

            strong {
                font-weight: @font-weight__bold;
            }
        }
    }

    .checkout-message-confirm {
        border-bottom: 1px solid @color-form-border;

        h2 {
            .lib-font-size(22);
            margin-top: 0;
            text-align: center;
            margin-bottom: 30px;
        }

        > p {
            max-width: 260px;
            margin: 0 auto;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .checkout-index-index {
        .checkout-container {
            aside.opc-sidebar {
                padding-top: 36px;
            }
        }
    }

    .opc-wrapper {
        .step-title {
            .lib-css(font-size, 14px);
            border-bottom: 0;
            line-height: 18px;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .checkout-onepage-success {
        .checkout-confirmation-image,
        .checkout-success {
            width: 100%;
            display: block;
        }

        .actions-toolbar > .primary {
            width: 100%;

            .action {
                width: 100%;
            }
        }
    }

    .checkout-confirmation-image {
        img {
            width: 100%;
        }
    }

    .checkout-success {
        max-width: 100%;
        margin-bottom: @indent__xl;
    }

    .checkout-message-confirm {
        padding: 15px;

        > h2 {
            display: none;
        }
    }

    .checkout-confirm-wrapper {
        > h2 {
            display: block;
        }
    }
    .checkout-index-index {
        .checkout-container{
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-wrap(wrap);
            .lib-vendor-prefix-flex-direction(column);
            position: relative;
            #checkout-progress{
                order: 1;
                max-height: 95px;
            }
            .opc-sidebar{
                order: 2;
                padding-top: 54px;
            }
            #checkout-content{
                order: 3;
            }
        }
        .page-header{
            margin-bottom: 0;
        }
        .header.content{
            padding: 35px 15px;
        }
        .cart-link,  .page-top-section{
            display: none;
        }

        .logo {
            top: 29px;
            width: 280px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {

    .checkout-index-index {

        .logo {
            display: block;
            left: 50%;
            top:50%;
            margin:0;
            position: absolute;
            max-width: 330px;
            width: 100%;
            margin-top: -13px;
            margin-left: -165px;
            img {
                max-height: inherit;
            }
        }

    }

    #checkout-content {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @checkout-wrapper__columns);
        padding-right: 9%;
    }

    .opc-wrapper,
    .authentication-wrapper {
        width: 100%;
    }

    //
    //  Order confirmation page
    //  _____________________________________________

    .checkout-onepage-success {
        .checkout-confirmation-image {
            margin: 0;
        }
    }

    .checkout-confirmation {
        padding: 4% 12%;
    }

    .checkout-message-confirm {
        padding: 11% 14%;
    }

    .checkout-confirm-wrapper {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -73%);
        -moz-transform: translate(-50%, -73%);
        -ms-transform: translate(-50%, -73%);
        -o-transform: translate(-50%, -73%);
        transform: translate(-50%, -73%);
        width: 100%;

        > h2 {
            display: none;
            .lib-font-size(22);
            margin-top: 0;
            text-align: center;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__mls) {
    .checkout-onepage-success {
        .checkout-confirmation-image {
            margin: 30px 70px 50px 0;
        }
    }
}
