// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Checkout Estimated Total
    //  ---------------------------------------------

    .opc-estimated-wrapper {
        &:extend(.abs-add-clearfix all);
        &:extend(.abs-no-display-desktop all);
        .lib-css(border-bottom, @border-width__base solid @color-gray80);
        margin: 0 0 15px;
        padding: 18px 15px;

        .estimated-block {
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            .lib-css(font-weight, @font-weight__bold);
            float: left;

            .estimated-label {
                display: block;
                margin: 0 0 @indent__xs;
            }
        }

        .minicart-wrapper {
            .action {
                &.showcart {
                    &:before {
                        .lib-css(color, @primary__color);
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .opc-estimated-wrapper {
        padding: 0;
        position: absolute;
        top:100px;
        left: 0;
        border-bottom: 0;
        width: 100%;
        .minicart-wrapper{
            display: none;
        }
        .estimated-block{
            width: 100%;
            display: block;
            margin-top: 0;
            margin-bottom: 0;
            background: @title__background-color;
            padding: 10px 18px;
            .estimated-label{
                display: inline-block;
                float: left;
                margin: 0;
            }
            .estimated-price{
                float: right;
            }
            span{
                .lib-font-size(14px);
                font-weight: @font-weight__bold;
                border-bottom: 0;
                text-transform: uppercase;
                vertical-align: middle;
                margin: 0;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-estimated-wrapper{
        top: 80px !important;
    }
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .opc-estimated-wrapper {
        display: none;
    }
}
