// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-field-validation__border-color: @form-element-validation__border-error;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .field {
        .control {
            &._with-tooltip {
                &:extend(.abs-field-tooltip all);
                position: relative;
            }
        }

        &.choice {
            .field-tooltip {
                display: inline-block;
                margin-left: @indent__s;
                position: relative;
                top: -3px;
            }
            
            .field-tooltip-action {
                .lib-css(line-height, @checkout-tooltip-icon__font-size);
            }
        }

        &._error {
            .control {
                input,
                select,
                textarea {
                    .lib-css(border-color, @checkout-field-validation__border-color);
                }
            }
        }
    }

    .opc-wrapper {
        .fieldset {
            > .field {
                > .label {
                    color: #000;
                    font-weight: @font-weight__regular;
                    letter-spacing: 0.4px;
                }

                input[type="radio"]{
                    .select-styling();
                }
                #customer-email-error {
                    margin-bottom: @indent__s;

                    &:not(hidden) ~ .note {
                        border-top: 1px solid @color-form-border;
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .field {
        .control {
            &._with-tooltip {
                input[type="text"],
                input[type="password"],
                input[type="url"],
                input[type="tel"],
                input[type="search"],
                input[type="number"],
                input[type="datetime"],
                input[type="email"]{
                    width: 90%;
                }
            }
        }
        .field-tooltip{
            right: auto;
            margin-left: 92%;
        }
    }
}
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .checkout-shipping-address{
        .form-login{
            .field{
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-wrap(nowrap);
                .lib-vendor-prefix-flex-direction(row);
                label{
                    width: 33%;
                    display: inline-block;
                }
                .control{
                    display: inline-block;
                    width: 68%;
                    flex-grow: 1;
                }
            }

            .actions-toolbar {
                .primary,
                .secondary {
                    display: block;
                    float: none;
                    width: 100%;

                    button.action {
                        float: none;
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }
    }

    .checkout-shipping-method {
        .actions-toolbar {
            .primary,
            .secondary {
                display: block;
                float: none;
                width: 100%;

                button.action {
                    float: none;
                    width: 100%;
                    margin: 0;
                    max-width: none;
                }
            }
        }
    }

    .opc-wrapper {
        .fieldset {
            > .field {
                > .label {
                    &:empty {
                        display: none;
                    }
                }
            }
        }

        .form-login {
            .actions-toolbar {
                display: block;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .checkout-shipping-address{
        .form-login{
            .field{
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-wrap(wrap);
                .lib-vendor-prefix-flex-direction(column);
                label{
                    width: 100%;
                    display: block;
                }
                .control{
                    display: block;
                    width: 100%;
                    flex-grow: 1;
                }
            }
        }
    }

}


//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .opc-wrapper {
        .fieldset {
            > .field {
                .lib-clearfix();
                display: block;
                margin-bottom: 10px;
                &.required,
                &._required {
                    position: relative;
                }

                > .label {
                    &:first-child {
                        float: left;
                        width: 30%;
                        line-height: 40px;

                        &:after {
                            color: #000;
                            margin-left: @indent__xs;
                            position: absolute;
                            top: 0;
                        }
                    }
                }
                > .control {
                    float: left;
                    width: 70%;
                }

                #customer-email,
                input[name="telephone"]{
                    width: 90%;
                }

                input[name="postcode"]{
                    width: 50%;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .opc-wrapper {
        .fieldset {
            > .field {
                display: inline-block;
                width: 75%;

                &[name="shippingAddress.custom_attributes.amorderattr_authority_to_leave"] {
                    .control {
                        .label {
                            line-height: 40px;
                        }
                    }
                }
            }
        }
    }
}
