// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-summary__background-color: @color-white-smoke;
@checkout-summary__padding: 22px @indent__l;

@checkout-summary-title__margin: @indent__s;
@checkout-summary-mark-value__color: @color-gray60;

@checkout-summary-items__max-height: 370px;
@checkout-summary-items__padding: 15px;
@checkout-summary-items__border-color: #ebebeb;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Order Summary
    //  ---------------------------------------------

    .opc-block-summary {
        &:extend(.abs-add-box-sizing all);
        border: 1px solid @checkout-summary-items__border-color;
        margin: 0 0 @indent__base;

        > .title {
            &:extend(.abs-checkout-title all);
            border-bottom: 0;
            background: #f0f0f0;
            display: block;
            .lib-font-size(14);
            font-weight: @font-weight__bold;
            padding: 10px 20px;
            text-transform: uppercase;
        }

        .content.minicart-items {
            .lib-css(padding, 20px);

            label {
                color: #999999;
                text-transform: capitalize;
                position: relative;
                margin-right: 10px;
                line-height: 20px;

                &:after {
                    position: absolute;
                    right: -5px;
                    top: -1px;
                    content: ':';
                }
            }

            .values {
                color: #999999;
                margin: 0;
                .lib-font-size(13);
                text-transform: uppercase;
            }

            .product-item-details {
                .price-including-tax,
                .price-excluding-tax {
                    margin: 0;
                }
            }

            .details-qty {
                display: inline-block;
                margin-top: 0;
                width: 100%;
            }
        }

        .minicart-items {
            .product-item-details {
                padding-left: 95px;
            }
        }

        .product-image-wrapper {
            height: 100%;
        }

        //  Totals table
        .table-totals {
            &:extend(.abs-sidebar-totals all);
            position: relative;
            margin-bottom: 30px;
            tbody{
                border-top: 1px solid #ebebeb;
            }
            > tbody > tr > td,
            > tbody > tr > th
            {
                border-top: 0;
                padding: 5px 20px;
            }
            .sub{
                > td,
                > th{
                    padding: 15px 20px 5px;
                }
            }
            .grand.totals{
                > td,
                > th{
                    padding:20px 20px 15px;
                }
            }
            th{
                font-weight: normal;
            }
            .amount{
                text-align: right;
            }
            .totals-tax {
                bottom: -25px;
                left: 2px;
                position: absolute;
                width: 100%;
                th.mark {
                    float: left;
                }
                td.amount{
                    float: right;
                }
            }
        }

        .mark {
            .value {
                .lib-css(color, @checkout-summary-mark-value__color);
                display: block;
            }
        }

        .grand.incl {
            & + .grand.excl {
                .mark,
                .amount {
                    border-top: 0;
                    .lib-font-size(14);
                    padding-top: 0;

                    strong {
                        font-weight: @font-weight__regular;
                    }
                }
            }
        }

        .grand.totals {
            .mark,
            .amount {
                .lib-font-size(14);
                text-transform: uppercase;
            }
        }

        .not-calculated {
            font-style: italic;
        }

        //
        //  Items list
        //  ---------------------------------------------

        //  Block title
        .items-in-cart {

            > .title {
                border-top: @border-width__base solid @checkout-summary-items__border-color;
                .lib-css(padding, 10px 20px);
                cursor: pointer;
                .lib-icon-font(
                    @icon-simple__plus,
                    @_icon-font-size: 18px,
                    @_icon-font: @font__simple-line,
                    @_icon-font-line-height: 18px,
                    @_icon-font-text-hide: true,
                    @_icon-font-margin: 3px 0 0,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );
                margin-bottom: 0;
                position: relative;

                &:after {
                    position: absolute;
                    right: 20px;
                    top: 0;
                    width: 20px;
                    line-height: 35px;
                }

                strong {
                    .lib-font-size(13);
                    font-weight: @heading__font-weight__base;
                    margin: 0;
                }
            }

            &.active {
                > .title {
                    border-bottom: @border-width__base solid @checkout-summary-items__border-color;
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-simple__minus,
                        @_icon-font-position: after
                    );
                }
            }

            .product {
                position: relative;
            }
        }

        //  Cart items
        .minicart-items-wrapper {
            .lib-css(padding, 0);
            border: 0;
        }

        .column.main & {
            .product-item {
                margin: 0;
                padding-left: 0;
                border-bottom: 1px solid @checkout-summary-items__border-color;

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        .product-item {
            .product-item-inner {
                display: table;
                margin: 0 0 @indent__s;
                width: 100%;
            }

            .product-item-name-block {
                display: table-cell;
                padding-right: 70px;
                text-align: left;
                position: relative;

                .product-item-name {
                    text-transform: uppercase;
                }
            }

            .subtotal {
                position: absolute;
                right: 0;
                bottom: 0;
                text-align: right;
            }

            .price {
                .lib-font-size(13);
                font-weight: @font-weight__bold;
            }

            .price-including-tax {
                & + .price-excluding-tax {
                    margin: 0;

                    .price {
                        .lib-font-size(10);
                    }
                }
            }
        }

        .actions-toolbar {
            position: relative;
            z-index: 1;

            .secondary {
                border-top: @border-width__base solid @checkout-summary-items__border-color;
                display: block;
                float: none;
                margin: -1px 0 0;
                padding: 15px 0 0;
                text-align: left;

                .action {
                    margin: 0;
                }
            }
        }

        .payment-option{
            &.discount-code, &.giftcardaccount{
                .payment-option-title{
                    padding: 10px 20px;
                    border-bottom: 1px solid #ebebeb;
                    cursor: pointer;
                    position: relative;
                   &:after{
                       .simple-icon();
                       content: @icon-simple__plus;
                       .lib-font-size(18);
                       color: @color-black;
                       display: block;
                       position: absolute;
                       right: 20px;
                       top:0;
                       line-height: 40px;
                   }
                }
                .payment-option-content{
                    padding: 0 20px 20px;
                }
                &._active{
                    .payment-option-title {
                        border-bottom: 0;
                        &:after{
                            content: @icon-simple__minus;
                        }
                    }
                    .payment-option-content{
                        border-bottom: 1px solid #ebebeb;

                        .label {
                            display: none;
                        }
                    }
                }
                .actions-toolbar{
                    .primary{
                        width: 100%;
                        button{
                            width: inherit;
                        }
                    }
                }


            }
            &.giftcardaccount{
                position: relative;
                padding-bottom: 20px;
                .actions-toolbar{
                    .secondary{
                        border: 0;
                        display: block;
                        text-align: center;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        button{
                            border: 0;
                            background: transparent;
                            padding: 15px 0 0 ;
                            color: @color-black;
                            font-weight: normal;
                            text-decoration: underline;
                            width: 100%;
                            text-align: center;
                            .lib-font-size(12);
                        }
                    }
                }
                &:before, &:after{
                    width: 2px;
                    position: absolute;
                    bottom: 0;
                    background: @color-white;
                    display: block;
                    content: '';
                    height: 20px;
                }
                &:before{
                    left: -1px;
                }
                &:after{
                    right: -1px;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .opc-block-summary > .title{
        display: none;
    }
    .opc-summary-wrapper {
        .modal-header {
            display: none;
        }
    }
}

//
//  Tablet
//  _____________________________________________
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .opc-block-summary {
        .payment-option {
            &.discount-code,
            &.giftcardaccount {
                &._active {
                    .action-toggle {
                        display: block;
                        min-height: 19px;

                        span {
                            display: none;
                        }
                    }

                    .payment-option-content {
                        .field {
                            .lib-clearfix();
                        }

                        .label {
                            display: block;
                            float: left;
                            width: 30%;
                            padding: 11px 10px 0 0;
                        }

                        .control {
                            float: left;
                            width: 70%;
                        }

                        .actions-toolbar {
                            padding: 10px 0 0 30%;
                        }
                    }
                }

                .actions-toolbar{
                    .primary{
                        text-align: left;

                        button{
                            max-width: 192px;
                            padding-left: 5px;
                            padding-right: 5px;
                            text-align: center;
                        }
                    }

                    .secondary {
                        text-align: left;

                        button {
                            width: auto;
                            padding: 0;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .opc-summary-wrapper {
        .modal-header {
            .action-close {
                display: none;
            }
        }
    }
}
