// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-payment-method-title__border: @checkout-shipping-method__border;
@checkout-payment-method-title__padding: @checkout-shipping-method__padding;
@checkout-payment-method-title-mobile__padding: 15px;

@checkout-payment-method-content__padding__xl: 22px;

@checkout-billing-address-details__line-height: 27px;
@checkout-billing-address-details__padding: 0 0 0 23px;
@checkout-billing-address-form__max-width: @checkout-shipping-address__max-width;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-payment-method {
        .step-title {
            display: none;
        }

        .payment-method {
            &:first-child {
                .payment-method-title {
                    border-top: 0;
                }
            }

            &._active {
                .payment-method-content {
                    display: block;
                }
                .payment-method-title {
                    .lib-css(border-top, @checkout-payment-method-title__border);
                    .lib-css(margin-top, 15px);
                }
            }

            & + .payment-method {
                .payment-method-title {
                    .lib-css(border-top, @checkout-payment-method-title__border);
                }
            }
        }

        .payment-method-content {
            > .actions-toolbar {
                > .primary {
                    .action {
                        &.primary {
                            &.primary {
                                &:extend(.abs-button-l all);
                                background: #43c4ac;
                                border-color: #43c4ac;

                                &:hover {
                                    background: #999999;
                                    border: 1px solid #999999;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }
        .payment-method-title {
            .lib-css(padding, @checkout-payment-method-title__padding 0);
            margin: 0;

            .payment-icon {
                display: inline-block;
                margin-right: @indent__xs;
                vertical-align: middle;
                width: auto !important;
                max-height: 15px;
                opacity: 0.4;
            }

            .action-help {
                display: inline-block;
                margin-left: @indent__xs;
            }
            &.field.choice {
                .lib-clearfix();
                margin: 0;
                .label {
                    .lib-font-size(14);
                    font-weight: @font-weight__bold;
                    text-transform: uppercase;
                    width: 100%;
                    color: @color-black;
                    display: inline-block;
                    line-height: 28px;
                    padding-left: 28px;
                    img{
                        float: right;
                        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                        filter: grayscale(100%);
                        position: relative;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                    &[for="braintree"]{
                        background-image: url('../images/payment/credit-logos.png');
                        background-repeat: no-repeat;
                        background-position: 100% 8px;
                    }
                    &[for="braintree_paypal"]{
                        background-image: url('../images/payment/paypal-grey.svg');
                        background-repeat: no-repeat;
                        background-position: 100% 6px;
                        background-size: 75px 17px;
                        img{
                            display: none;
                        }
                    }
                }
            }
        }

        .payment-method-content {
            display: none;
            .lib-css(padding, 0 0 19px 30px);
        }

        .payment-group {
            & + .payment-group {
                .step-title {
                    margin: @indent__base 0 0;
                }
            }
        }

        .field-select-billing,
        .billing-address-form {
            .lib-css(max-width, 100%);
        }

        .billing-address-same-as-shipping-block {
            margin: 0 0 @indent__s;
        }

        .checkout-billing-address {
            margin: 0 0 @indent__base;

            .primary {
                .action-update {
                    margin-right: 0;
                    margin-top: 6px;
                }
            }
            .action-cancel {
                &:extend(.abs-action-button-as-link all);
            }
            .billing-address-details {
                .lib-css(line-height, @checkout-billing-address-details__line-height);
                .lib-css(padding, @checkout-billing-address-details__padding);
            }

            .field.field-select-billing{
                display:none;
            }
        }

        .payment-method-note {
            & + .checkout-billing-address {
                margin-top: @indent__base;
            }
        }

        .field-select-billing {
            > .label {
                &:extend(.abs-visually-hidden all);
            }
        }

        .payment-method-iframe {
            background-color: transparent;
            display: none;
            width: 100%;
        }

        .no-payments-block {
            margin: @indent__base 0;
        }

        .payments {
            .legend {
                &:extend(.abs-visually-hidden all);
            }
        }

        .legend {
            display: none;
        }

        .payment-message {
            border: 1px solid @color-form-border;
            display: none;
            padding: 10px 20px 10px 35px;
            margin-left: 30px;
            position: relative;
            text-align: center;

            &:before {
                border: 1px solid @color-form-border;
                border-radius: 50%;
                color: @color-form-border;
                content: '!';
                left: 10px;
                top: 10px;
                position: absolute;
                width: 16px;
                height: 16px;
                .lib-font-size(12);
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .checkout-payment-method {
        .payment-methods {
            .lib-css(margin, 0 -(@checkout-payment-method-title-mobile__padding));
        }

        .payment-method-title {
            .lib-css(padding, @checkout-payment-method-title-mobile__padding)
        }

        .payment-method-content {
            .lib-css(padding, 20px);
        }

        .checkout-billing-address {
            .action-cancel {
                margin-top: 6px;
                margin-right: 10px;
            }
            .action-update{
                margin-bottom: 0;
            }
        }
    }

}
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .opc-payment {
        .fieldset {
            > .field{
                .lib-clearfix();
            }
            > .field > .label{
                width: 32%;
                float: left;
                line-height: 36px;
            }
            > .field > .control{
                float: left;
                width: 67%;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .checkout-payment-method{
        .payment-method-title{
            &.field.choice{
                .label{
                    box-sizing: content-box;
                    padding-bottom: 20px;
                    display: block;
                    width: auto;

                    img{
                        margin: 5px 0 0;
                    }
                    &:before{
                        margin-top: -19px;
                    }
                    &:after{
                        margin-top: -15px;
                    }
                }
            }
        }
        .actions-toolbar{
            .primary button{
                min-width: 132px;
            }
        }
    }
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .checkout-payment-method {
        .actions-toolbar {
            .primary {
                margin: 0;
            }
        }

        .fieldset {
            > .field-select-billing {
                > .control {
                    float: none;
                    width: 100%;
                }
            }
        }

        .payment-method-content {
            .fieldset {
                > .field {
                    margin: 0 0 @indent__base;

                    &.type {
                        .control {
                            margin-left: 25.8%;
                        }

                        &.no-detection {
                            .control {
                                margin-left: 0;
                            }
                        }
                    }
                }
                &:not(:last-child) {
                    margin: 0 0 @indent__base;
                }
                > .field > .label{
                    width: 27.5%;
                }
            }
        }
    }

    .checkout-billing-address {
        .action-update {
            float: right;
        }

        .actions-toolbar {
            .action-cancel {
                margin: 6px @indent__base 0 0;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {

}