// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-progress-bar__font-size: 22px;
@checkout-progress-bar__font-weight: @font-weight__semibold;
@checkout-progress-bar__margin: 24px;

@checkout-progress-bar-item__background-color: @color-white;
@checkout-progress-bar-item__border-radius: 6px;
@checkout-progress-bar-item__color: @color-black;
@checkout-progress-bar-item__margin: @indent__s;
@checkout-progress-bar-item__width: 185px;
@checkout-progress-bar-item__active__background-color: @color-black;
@checkout-progress-bar-item__complete__color: @link__color;

@checkout-progress-bar-item-element__height: @checkout-progress-bar-item-element__width;
@checkout-progress-bar-item-element__width: 30px;

@checkout-progress-bar-item-element-inner__background-color: @page__background-color;
@checkout-progress-bar-item-element-inner__color: @checkout-progress-bar-item__color;
@checkout-progress-bar-item-element-inner__height: @checkout-progress-bar-item-element-inner__width;
@checkout-progress-bar-item-element-inner__width: @checkout-progress-bar-item-element__width - (@checkout-progress-bar-item-element-outer-radius__width * 2);
@checkout-progress-bar-item-element-inner__active__content: @icon-checkmark;
@checkout-progress-bar-item-element-inner__active__font-size: 28px;
@checkout-progress-bar-item-element-inner__active__line-height: 1;

@checkout-progress-bar-item-element-outer-radius__width: 6px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Checkout Progress Bar
    //  ---------------------------------------------

    .opc-progress-bar {
        &:extend(.abs-reset-list all);
        .lib-css(margin, @checkout-progress-bar__margin 0);
        border-bottom: 1px solid @color-form-border;
        counter-reset: i;
        font-size: 0;
        padding-bottom: 20px;
        text-align: center;
    }

    .opc-progress-bar-item {
        .lib-css(margin, 0 0 @checkout-progress-bar-item__margin);
        display: inline-block;
        position: relative;
        text-align: center;
        vertical-align: top;
        width: 50%;

        > span {
            display: inline-block;
            text-transform: uppercase;
            width: 100%;
            word-wrap: break-word;
            padding-left: @indent__l;

            .lib-typography(
                @_color: #ccc,
                @_font-family: false,
                @_font-size: @checkout-progress-bar__font-size,
                @_font-style: false,
                @_font-weight: @checkout-progress-bar__font-weight,
                @_line-height: false
            );

            &:before { // Item element
                border: 1px solid @color-form-border;
                .lib-font-size(12);
                .lib-css(height, @checkout-progress-bar-item-element__height);
                .lib-css(margin-left, -(@checkout-progress-bar-item-element__width/2));
                .lib-css(line-height, @checkout-progress-bar-item-element__width - 2);
                .lib-css(width, @checkout-progress-bar-item-element__width);
                .lib-css(color, @color-form-border);
                border-radius: 50%;
                left: 0;
                position: absolute;
                top: 0;
                content: counter(i);
                counter-increment: i;
            }
        }

        &._active {

            > span {
                .lib-css(color, @checkout-progress-bar-item__color);

                &:before {
                    border: 1px solid #000;
                    color: #fff;
                    .lib-css(background, @checkout-progress-bar-item__color);
                }
            }
        }

        &._complete {
            cursor: pointer;

            > span {
                &:before {
                    .lib-css(background, @color-form-border);
                    .lib-css(color, @checkout-progress-bar-item__background-color);
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .opc-progress-bar{
        margin: 32px 0;
        border-bottom: 0;
        padding: 0;
        width: 100%;
    }
    .opc-progress-bar-item {
        margin-bottom: 0;
        &:not(._active){
            display: none;
        }
        > span{
            .lib-font-size(20);
            line-height: 39px;
            letter-spacing: 0.3px;
            padding: 0;
            &:before{
                display: none;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-progress-bar{
        margin: 20px 0 !important;
    }
    .opc-progress-bar-item {
        width: 100%;
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .opc-progress-bar-item {
        width: auto;
        .lib-css(margin-right, 24px);
        .lib-css(margin-left, 36px);
        .lib-css(padding-left, 10px);
        letter-spacing: 0.5px;
    }
}