// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-shipping-address__max-width: 600px;
@checkout-shipping-address__margin-top: 28px;

@checkout-shipping-item-icon__background-color: @checkout-shipping-item__active__border-color;
@checkout-shipping-item-icon__color: @color-white;
@checkout-shipping-item-icon__content: @icon-checkmark;

@checkout-shipping-item__border: 1px solid transparent;
@checkout-shipping-item__line-height: 24px;
@checkout-shipping-item__margin: 0 0 @indent__base;
@checkout-shipping-item__padding: @indent__base  @indent__base @indent__base 45px ;
@checkout-shipping-item__transition: .3s border-color;
@checkout-shipping-item__width: 48.5%;
@checkout-shipping-item-tablet__width: 48.5%;
@checkout-shipping-item-mobile__width: 100%;
@checkout-shipping-item__active__border-color: @color-cart-action;

@checkout-shipping-item-icon__selected__height: 27px;
@checkout-shipping-item-icon__selected__width: 29px;

@checkout-shipping-item-mobile__padding: 0 0 15px;
@checkout-shipping-item-mobile__margin: @checkout-shipping-item-mobile__padding;
@checkout-shipping-item-mobile__active__padding: 15px  15px 15px 45px;

@checkout-shipping-item-before__border-color: @color-form-border;
@checkout-shipping-item-before__height: calc(~'100% - 20px');

@checkout-shipping-method__border: @checkout-step-title__border;
@checkout-shipping-method__padding: @indent__base;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-wrapper{
        &.shipping{
            .opc-sidebar{
              .payment-option{
                  display: none;
              }
            }
        }
    }
    .opc-wrapper {

        //
        //  Shipping Address
        //  ---------------------------------------------

        .form-login,
        .form-shipping-address {
            .lib-css(margin-top, @checkout-shipping-address__margin-top);
            margin-bottom: @indent__base;

            .fieldset {
                .note {
                    .lib-font-size(11);
                    font-weight: @font-weight__bold;
                    border: 1px solid @color-form-border;
                    border-top: none;
                    width: 90%;
                    .lib-line-height(16);
                    letter-spacing: 0.2px;
                    margin-top: 0;
                    padding: 10px 15px;
                    &:before {
                        display: none;
                    }
                }
            }
        }


        .form-login {
            border-bottom: 1px solid #ebebeb;
            .lib-css(padding-bottom, @checkout-shipping-address__margin-top);

            .actions-toolbar {
                display: inline-block;
                width: auto;
            }

            .actions-toolbar > .primary {
                .action:last-child {
                    border-color: #43c4ac;
                    background: #43c4ac;
                    margin-right: @indent__xl;
                    float: left;
                    &:hover {
                        background: #999999;
                        border: 1px solid #999999;
                        color: #ffffff;
                    }
                }
            }
        }

        .shipping-address-items {
            font-size: 0;
        }

        .shipping-address-item {
            &:extend(.abs-add-box-sizing all);
            .lib-css(border, @checkout-shipping-item__border);
            .lib-css(line-height, @checkout-shipping-item__line-height);
            .lib-css(margin, @checkout-shipping-item__margin);
            .lib-css(padding, @checkout-shipping-item__padding);
            .lib-css(transition, @checkout-shipping-item__transition);
            .lib-css(width, @checkout-shipping-item-tablet__width);
            margin-right:3%;
            display: inline-block;
            font-size: @font-size__base;
            position: relative;
            vertical-align: top;
            word-wrap: break-word;
            &:nth-of-type(2n + 2){
                margin-right: 0;
            }
            &.selected-item {
                .lib-css(border-color, @checkout-shipping-item__active__border-color);

                &:after {
                    .simple-icon();
                    content: @icon-simple__tick;
                    width: 18px;
                    height: 18px;
                    font-size: 10px;
                    position: absolute;
                    left: 18px;
                    top: 22px;
                    line-height: 18px;
                    text-align: center;
                    color: @checkout-shipping-item__active__border-color;
                    border: 1px solid @checkout-shipping-item__active__border-color;
                    border-radius: 50%;
                }

                .action-select-shipping-item {
                    &:extend(.abs-no-display-s all);
                    visibility: hidden;
                    display: none;
                }
            }
            &.not-selected-item{
                .lib-css(border-color, @color-border);
                padding: 19px 45px;
                .action-select-shipping-item{
                    background: transparent;
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    left: 18px;
                    top: 22px;
                    width: 18px;
                    height: 18px;
                    font-size: 10px;
                    line-height: 18px;
                    text-align: center;
                    color: @color-border;
                    border: 1px solid @color-border;
                    border-radius: 50%;
                    span{
                        font-size: 0;
                    }

                }
                .edit-address-link{
                    background: none;
                    color: #000;
                    border: 0;
                    text-decoration: underline;
                    padding: 0;
                    position: absolute;
                    top: 23px;
                    margin: 0;
                    right: 12px;
                }
            }
        }

        .field {
            &.addresses {
                &:extend(.abs-add-clearfix all);
            }
        }

        .action-show-popup {
            margin: 0 0 @indent__base;
            span{
                .lib-font-size(13);
                letter-spacing: 0.2px;
            }
        }

        .action-select-shipping-item {
            float: right;
            margin: @indent__base 0 0;
        }

        .edit-address-link {
            &:extend(.abs-action-button-as-link all);
            display: block;
            float: left;
            margin: 26px 5px 0 0;
        }
    }

    //
    //  Shipping Methods
    //  ---------------------------------------------

    .step-title {
        .lib-font-size(14);
        font-weight: @font-weight__bold;
        background: #f0f0f0;
        border-bottom: 0;
        margin-top: 15px;
        margin-bottom: 50px;
        padding: 10px 18px;
        text-transform: uppercase;

        .logged .checkout-shipping-address & {
            display: none;
        }
    }

    .checkout-shipping-method {

        .no-quotes-block {
            margin: @indent__base 0;
        }
    }

    .methods-shipping {
        .actions-toolbar {
            .action {
                &.primary {
                    &:extend(.abs-button-l all);
                    background: #43c4ac;
                    border-color: #43c4ac;
                    margin: @indent__base 0 0;
                    text-align: center;
                    max-width: 330px;
                    width: 100%;
                    &:hover {
                        background: #999999;
                        border: 1px solid #999999;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .table-checkout-shipping-method {
        thead {
            th {
                display: none;
            }
        }

        tbody {
            td {
                .lib-css(border-top, @checkout-shipping-method__border);
                .lib-css(padding-bottom, 16px);
                .lib-css(padding-top, 16px);
                vertical-align: middle;
                &:first-child {
                    padding-left: 20px;
                    padding-right: 0;
                    width: 20px;
                }
            }

            tr {
                &:first-child {
                    td {
                        border-top: none;

                        &.name {
                            text-align: left;
                        }
                    }
                }
            }
            .row-error {
                td {
                    border-top: none;
                    padding-bottom: @indent__s;
                    padding-top: 0;
                }
            }
        }

        .price {
            .lib-font-size(13);
            font-weight: @font-weight__bold;
            letter-spacing: 0.2px;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-wrapper {
        .form-login {
            .lib-css(border-bottom, 1px solid @checkout-shipping-item-before__border-color);
            .lib-css(margin, @checkout-shipping-item-mobile__padding);
            .lib-css(padding, @checkout-shipping-item-mobile__padding);
            .actions-toolbar{
                width: 100%;
                .primary,
                .primary button,
                .secondary{
                    width: 100%;
                }
                .primary button{
                    width: 100% !important;
                    margin-right: 0;
                }
            }
        }

        .shipping-address-item {
            .lib-css(border-bottom, 1px solid @checkout-shipping-item-before__border-color);
            .lib-css(margin, @checkout-shipping-item-mobile__margin);
            .lib-css(padding, @checkout-shipping-item-mobile__padding);
            width: 100%;

            &.selected-item {
                .lib-css(padding, @checkout-shipping-item-mobile__active__padding);
                border-bottom-width: 2px;

                .edit-address-link {
                    .lib-css(right, @checkout-shipping-item-icon__selected__width + @indent__s);
                }
            }
        }

        .form-login,
        .form-shipping-address {
            .lib-css(margin-top, @checkout-shipping-address__margin-top);
        }

        .action-select-shipping-item {
            float: none;
            margin-top: @indent__s;
            width: 100%;
        }

        .action-show-popup {
            width: 100%;
        }

        .edit-address-link {
            .lib-icon-font(
                @icon-settings,
                @_icon-font-size: 28px,
                @_icon-font-line-height: 28px,
                @_icon-font-text-hide: true,
                @_icon-font-color: @color-gray19,
                @_icon-font-color-hover: @color-gray19,
                @_icon-font-color-active: @color-gray19
            );
            margin: 0;
            position: absolute;
            right: 0;
            top: 1px;
        }
    }
    .step-title{
        margin-bottom: 15px;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .checkout-shipping-address{
        .form-login{
            .actions-toolbar{
                .primary, .secondary {
                    display: inline-block;
                }
                .secondary{
                    float: right;
                    a{
                        line-height: 38px;
                    }
                }
                .primary{
                    button{
                        margin-right: 20px;
                        width: 160px;
                    }
                }
            }
        }
    }
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .checkout-shipping-method {
        .actions-toolbar {
            > .primary {
                float: right;
            }

            .action {
                &.primary {
                    margin: 0;
                    min-width: 330px;
                }
            }
        }
    }

    .opc-wrapper {
        .form-login,
        .form-shipping-address {
            max-width: 100%;
        }

        .form-login {
            .actions-toolbar > .primary {
                .action:last-child {
                    width: 160px;
                }
            }
        }

        .page-wrapper.shipping .logged & {
            padding-top: 15px;
        }

        .shipping-address-item {
            margin-bottom: 30px;
        }
    }
    .table-checkout-shipping-method {
        width: auto;
        min-width: 100%;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .opc-wrapper {
        .shipping-address-item {
            .lib-css(width, @checkout-shipping-item__width);

            &:before {
                .lib-css(background, @checkout-shipping-item-before__border-color);
                .lib-css(height, @checkout-shipping-item-before__height);
                content: '';
                left: 0;
                position: absolute;
                top: 0;
                width: 1px;
            }

            &:nth-child(3n + 1) {
                &:before {
                    display: none;
                }
            }

            &.selected-item {
                &:before {
                    display: none;
                }

                + .shipping-address-item {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}
