// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-sidebar-shipping-information__padding: @indent__l;
@checkout-sidebar-shipping-information__line-height: @checkout-billing-address-details__line-height;

@checkout-sidebar-shipping-information-edit-icon__color: @minicart-icons-color;
@checkout-sidebar-shipping-information-edit-icon__content: @icon-settings;
@checkout-sidebar-shipping-information-edit-icon__font-size: 28px;
@checkout-sidebar-shipping-information-edit-icon__line-height: 28px;
@checkout-sidebar-shipping-information-edit-icon__top: 2px;
@checkout-sidebar-shipping-information-edit-icon__hover__color: @primary__color;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shipping Information
    //  ---------------------------------------------

    .opc-block-shipping-information {

        .shipping-information-title {
            border-top: 1px solid @color-form-border;
            border-bottom: 1px solid @color-form-border;
            background: #f0f0f0;
            display: block;
            font-size: 1.4rem;
            font-weight: @font-weight__bold;
            padding: 10px 20px;
            text-transform: uppercase;
        }

        .shipping-information-content {
            .lib-css(line-height, @checkout-sidebar-shipping-information__line-height);
            .lib-css(padding, 10px 20px);
            .actions-toolbar {
                margin-left: 0;
            }

            .action-edit {
                background: none;
                border: none;
                color: @color-black;
                .lib-font-size(12);
                font-weight: @font-weight__light;
                float: right;
                padding: 10px 0 0;
                margin: 0;
                position: relative;
                text-transform: capitalize;

                &:hover {
                    text-decoration: underline;
                }
            }

            > span {
                display: inline-block;
                max-width: 82%;
            }
        }

        .ship-to,
        .ship-via {
            margin: 0 0 @indent__base;
            border: 1px solid @color-form-border;
            border-top: none;
        }
    }
}
