// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-sidebar__margin: @indent__base;
@checkout-sidebar__margin__xl: 46px;
@checkout-sidebar__columns: 3;


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
}
//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .opc-sidebar {
        .lib-css(margin, 15px 0 @checkout-sidebar__margin);
        width: 25%;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        padding-left: @indent__base;
        float: right;
    }
}
