// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________



//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product-reviews-summary {
        .reviews-actions {
            a {
                color: @color-dark-grey1;
                font-weight: @font-weight__regular;
            }
        }
    }

    .product-info-main,
    .customer-review {
        .rating-summary {
            vertical-align: top;
            margin-right: 2px;
        }
    }

    .product-reviews-summary {
        .reviews-actions {
            vertical-align: top;
            margin-top: 4px;
        }
    }

    .rating-summary {
        .rating-result {
            width: 66px;

            &:before,
            > span:before {
                font-size: 12px;
                line-height: 12px;
                height: 12px;
                letter-spacing: 2px;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s){
    div.product-reviews-summary {
        margin-bottom: 17px;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-reviews-summary {
        margin-bottom: 18px;

        .reviews-actions {
            margin-top: 1px;
        }
    }
}

