<?php
/**
 * Copyright © 2017 Balance Internet Pty., Ltd. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var \Balance\FreeShippingCounter\Block\ShippingCounter $block **/
?>

<div data-block="shipping-counter" class="shipping-counter" data-bind="scope: 'shippingCounter'">
    <div data-bind="html: getFreeShippingHtml()">
    </div>
</div>
<script type="text/x-magento-init">
{
    "[data-block='shipping-counter']": {
        "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
    },
    "*": {
        "Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
    }
}
</script>
