<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var \Linenhouse\Sales\Block\Shipping\Tracking $block*/ ?>
<?php $_shipment = $block->getShipment() ?>
<?php $_order = $block->getOrder() ?>
<?php if ($_shipment && $_order && $_shipment->getAllTracks()): ?>
<br />
<table class="shipment-track">
    <thead>
        <tr>
            <th><?= /* @escapeNotVerified */  __('Shipped By') ?></th>
            <th><?= /* @escapeNotVerified */  __('Tracking Number') ?></th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($_shipment->getAllTracks() as $_item): ?>
        <tr>
            <td>
                <a href="<?= $block->escapeHtml($block->getShippingCarrierUrl($_item)) ?>" target="_blank" title="<?= __('Track your order') ?>">
                    <?= $block->escapeHtml($_item->getTitle() ? $_item->getTitle() : $_item->getCarrierCode()) ?>
                </a>
            </td>
            <td>
                <a href="<?= $block->escapeHtml($block->getShippingTrackingUrl($_item)) ?>" target="_blank" title="<?= __('Track your order') ?>">
                    <?= $block->escapeHtml($_item->getNumber()) ?>
                </a>
            </td>
        </tr>
    <?php endforeach ?>
    </tbody>
</table>
<?php endif; ?>
