._block-title-holder(
    @_border__width: 1px,
    @_title__color: #151314,
    @_margin__bottom: 25px,
    @_padding: 13px 20px
) {
    .lib-clearfix();
    color: @_title__color;
    background: @title__background-color;
    margin-bottom: @_margin__bottom;
    padding: @_padding;
}

._block-title() {
    background: @title__background-color;
    .lib-font-size(14);
    line-height: 14px;
    display: block;
    margin: 0;
    font-weight: @font-weight__bold;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

._box_action() {
    text-decoration: none;
    font-weight: @font-weight__bold;
    .lib-font-size(13px);
    line-height: 1.333;
    font-family: @font-family__base;
    text-transform: uppercase;

    &:hover {
        text-decoration: underline;
    }
}
