// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@_order-color-form-border : #cccccc;
@_order-details__color-text : #151314;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .order-date,
    .order-status {
        background: #f0f0f0;
        float: left;
        padding: 10px 20px;
        width: 50%;
    }

    .order-date {
        text-align: right;
    }

    .order-status {
        .lib-font-size(13);
        font-weight: @font-weight__bold;
        letter-spacing: 0.2px;
        text-transform: uppercase;
    }

    .account {
        &.sales-order-invoice,
        &.sales-order-view {
            .actions-toolbar {
                display: inline-block;
                margin-top: 18px;
                margin-bottom: 17px;
                text-align: right;
                width: 100%;

                .action {
                    &.order {
                        margin-right: 10px;
                    }
                }

                .actions a {
                    + a {
                        &:before {
                            display: none !important;
                        }
                    }
                }
            }

            .table-order-items {

                th,
                td {

                    &:first-child {
                        text-align: left;
                    }

                    &:last-child {
                        text-align: right;
                    }
                }

                tfoot {
                    background: #fff;
                    th {
                        padding: 0;
                        letter-spacing: 0.2px;

                        &:first-child {
                            color: @_order-details__color-text;
                            text-align: right !important;
                        }
                    }
                    td {
                        padding: 0;
                        letter-spacing: 0.2px;
                    }

                    .grand_total {
                        th, td {
                            text-transform: uppercase;
                            .lib-font-size(16);
                            padding-top: 20px;
                        }
                    }

                    .subtotal {
                        th, td {
                            padding-top: 30px;
                        }
                    }
                }

                td {
                    color: @_order-details__color-text;
                    padding-bottom: 14px;

                    &.sku {
                        text-transform: uppercase;
                    }
                }
            }
            .price-including-tax, .price-excluding-tax {
                .lib-font-size(13);
            }
            .items-qty {
                margin-bottom: 0;
                li:only-child {
                    .title {
                        display: none;
                    }
                }
            }
        }

        .order-links {
            margin-bottom: 0;

            .item {
                .lib-line-height(20);
                text-align: center;
                text-transform: uppercase;
                width: 150px;

                &.current {
                    strong {
                        background: @color-black;
                        border: none;
                        color: @color-white;
                    }
                }

                strong {
                    color: #999999;
                    background: @color-white;
                    border-bottom: 1px solid @_order-color-form-border;
                    padding: 10px;
                }

                a {
                    padding: 9px;
                    text-decoration: none;
                }
            }
        }

        .order-details-items {
            border: none;
            border-top: 1px solid @_order-color-form-border;
            padding: 25px 0;
            .price-excluding-tax, .price-including-tax{
                vertical-align: top;
                margin: 4px 0;
                display: inline-block;
            }
            .table-wrapper {
                border-bottom: none;
                margin-bottom: 0;
            }

            .table-order-items > thead > tr > th {
                border-bottom: none;
                letter-spacing: 0.4px;
                line-height: 24px;
            }
            .table-order-items tbody td {
                padding-top: 15px;
                vertical-align: middle;
            }
            .items-qty .item{
                margin-bottom: 0;
            }
            .product-item-name {
                .lib-font-size(13);
                text-transform: uppercase;
                font-weight: @font-weight__light;
                margin-bottom: 0;
            }

            .item-options {
                margin-top: 10px;
            }

            .price-box,
            .price-including-tax,
            .price-excluding-tax {
                .price {
                    color: @_order-details__color-text;
                    font-weight: @font-weight__light;
                }
            }

            .order-title {
                .action.print {
                    float: right;
                }
            }
        }
    }

    .order-links,
    .block-order-details-comments {
        .lib-clearfix();
    }

    .order-details-items {
        .item-options {
            .lib-clearfix();

            dt {
                clear: left;
                font-weight: inherit;
                float: left;
                margin: 0 @indent__xs @indent__xs 0;
                text-transform: capitalize;
            }

            dd {
                display: inline-block;
                float: left;
                margin: 0 0 @indent__xs;
                text-transform: capitalize;
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

    .order-date,
    .order-status {
        background: none;
        padding: 10px 20px;
        width: 100%;
    }

    .order-status {
        background: #f0f0f0;
    }

    .order-date {
        text-align: left;
        padding-left: 0;
    }

    .order-actions-toolbar {
        .action.print {
            display: inline;
        }
    }

    .account {
        &.sales-order-invoice,
        &.sales-order-view {
            .order-links {
                .item {
                    a,
                    strong {
                        padding: 10px 20px;
                    }
                }
            }

            .actions-toolbar {
                margin-top: 0;
                text-align: left;
            }

            .table-order-items {
                td {
                    padding: 0;
                    text-align: right;
                    &:first-child {
                        width: 50%;
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    &.name {
                        margin-bottom: 1.5rem;
                        &:before {
                            display: none;
                        }
                    }

                    .items-qty {
                        .item {
                            margin: 0 0 5px;
                        }
                    }

                    .price-excluding-tax {
                        margin: 0 0 5px;
                    }
                }
            }
        }
    }

    .account {
        .order-details-items {
            padding: 0;
            margin-bottom: 20px;

            .table-wrapper {
                border-top: none;
            }
            .order-title {
                display: none;
            }
        }

        .order-links {
            .item {
                position: relative;
                &:after {
                    content: @icon-simple__plus;
                    right: 20px;
                    top: 12px;
                    color: #999;
                    position: absolute;
                    .lib-font-size(18);
                    .lib-line-height(18);
                    font-family: @font__simple-line;
                }

                &.current {
                    &:after {
                        color: #fff;
                        content: @icon-simple__minus;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .account {
        &.sales-order-invoice,
        &.sales-order-view {
            .table-order-items {
                tfoot {
                    th {
                        padding-right: 6%;
                    }
                }
            }
        }
    }
}