// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@_my-orders-item__color : #151314;
@_my-orders-item-title__color : @color-light-grey;
@_my-orders-item-title__background-color : @title__background-color;
@_my-orders-item-title__letter-spacing : 0.4px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .orders-history {
        table {
            th {
                letter-spacing: @_my-orders-item-title__letter-spacing;
            }

            td {
                color: @_my-orders-item__color;
            }
        }
    }

    .orders-history-title {
        display: inline-block;
        margin-bottom: @indent__m;
        vertical-align: middle;
        width: 100%;

        > span {
            text-transform: uppercase;
            float: left;
            letter-spacing: 0.2px;
            .lib-font-size(14);
            margin-right: 5px;
        }

        .totals-item {
            display: inline;
            .lib-font-size(14);
            float: left;
            text-transform: uppercase;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .orders-history-title {
        background: @_my-orders-item-title__background-color;
        padding: @indent__s @indent__m;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .orders-history-title {

        .totals-item {
            background: @_my-orders-item-title__background-color;
            padding: @indent__s @indent__m;
            margin-bottom: @indent__s;
            text-align: left;
            width: 100%;
        }
    }
}