// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Variables
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    
    .product-reviews-summary {
        display: none;
    }

    .product-info-main {
        .product.attribute.overview {
            margin-bottom: 20px;
        }

        .product-add-form {
            .box-tocart.out-of-stock .towishlist {
                display: none;
            }
        }
    }

    .page-product-configurable {
        .product-info-stock-sku,
        .product-reviews-summary {
            display: none;
        }
        .product-info-main {
            .sku,
            .product-price-wrapper {
                display: none;
            }
        }
        .block-bss-matrixview {
            th {
                &:first-child {
                    position: static !important;
                }
            }
        }
        .item-info {
            .child-product-matrix {
                &:first-child {
                    position: static !important;
                }
                .mess-err-bss-m {
                    background: @color-white;
                    border: 1px solid @color-black !important;
                    color: @color-black;
                    top: -50px !important;
                    left: 5px !important;
                    font-weight: @font-weight__regular;
                    &:after {
                        border-top-color: @color-black;
                        bottom: -15px;
                    }
                }
            }
        }
        .product-info-main {
            .top-control {
                margin-top: 10px;
            }
            .sku, 
            .product-price-wrapper {
                display: none;
            }
        }
    }

    #tab-label-reviews,
    #reviews,
    .product-addto-links {
        display: none;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .product-options-wrapper {
        .block-bss-matrixview {
            position: relative;
            z-index: 2;
        }
    }

}

