<?php
$ObjectManager= \Magento\Framework\App\ObjectManager::getInstance();
$context = $ObjectManager->get('Magento\Framework\App\Http\Context');
$isLoggedIn = $context->getValue(\Magento\Customer\Model\Context::CONTEXT_AUTH);
?>
<div data-block="header-wishlist" class="header-wishlist-wrapper linen-au">
    <div id="header-wishlist" class="header-wishlist-container" data-bind="scope: 'header-wishlist'">
        <!-- ko template: getTemplate() --><!-- /ko -->
    </div>
</div>
<script type="text/x-magento-init">
    {
        "[data-block='header-wishlist']": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "header-wishlist": {
                        "component": "Linenhouse_Wishlist/js/view/header/wishlist",
                        "config": {
                            "template": "Linenhouse_Wishlist/wishlist/header/content",
                            "wishlistCustomerIsLoggedInUrl": "<?php echo $block->getUrl('linenhouse-wishlist/customer/IsLoggedIn') ?>",
                            "customerAccountLoginUrl": "<?php echo $block->getUrl('customer/account/login/') ?>",
                            "customerWishlistUrl": "<?php echo $block->getUrl('wishlist/index/index') ?>"
                        }
                    }
                }
            }
        }
    }
</script>
<div class="account-link">
    <a href="<?php echo $block->getUrl('customer/account'); ?>"><?php /* @escapeNotVerified */ echo __('Account') ?></a>

    <?php if ($isLoggedIn): ?>
        <div class="account-logout">
            <a class="my-acc" href="<?php echo $block->getUrl('customer/account'); ?>"><?php /* @escapeNotVerified */ echo __('My account') ?></a>
            <a href="<?php echo $block->getUrl('customer/account/logout'); ?>"><?php /* @escapeNotVerified */ echo __('Log out') ?></a>
        </div>
    <?php endif;?>
</div>