<section class="section-rewards-banner">{{widget type="Balance\Box\Block\Widget\Box" box_id="59"}}</section>
<section class="section-rewards-content">{{widget type="Balance\Box\Block\Widget\Box" box_id="60"}}</section>