& when (@media-common = true) {
  .ms-megamenu{
    .ms-topmenu{
      background:transparent;
      .ms-level0{
        &.sale{
          a.ms-label{
            color: @color-red;
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .nav-sections{
    nav{
      &.ms-megamenu{
        position: relative;
        background: @color-white;
        height: 80vh;
        overflow-y: scroll;
      }
      .ms-topmenu{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }
  .ms-megamenu{
    .mb-submenu{

    }
  }
}
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
  .nav-sections{
    nav{
      .ms-topmenu, .mb-submenu, .col-sub{

      }
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
  html.nav-open{
    overflow: hidden;
  }
  .nav-sections{
    nav{
      &.ms-megamenu{
        padding: 0 !important;
        .mb-maincontent, .mb-featured{
          width: 100%;
          padding: 0;
        }
        .mb-featured{
          display: none;
        }
        .ms-submenu{
          display: none !important;
        }
        .mb-submenu, .col-sub{
          position: relative;
          left: auto;
          top: auto;
          z-index: auto;
          background: #fff;
          float: left;
          width: 100%;
        }
        .row{
          margin: 0;
        }
        .form-group{
          margin-bottom: 0;
          z-index: 1;
          position: relative;
        }
        .moved-out{
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
        }
      }
    }


    .ms-level0, .ms-megamenu, .parent .form-group {
      .ms-label, .mb-label, a{
        text-transform: uppercase !important;
        display: block;
        width: 100%;
        .lib-font-size(14px);
        line-height: 44px;
        border-bottom: 1px solid @color-form-border;
        letter-spacing:0.25px;
        &:hover, &:active, &:focus{
          color: @color-black;
        }
        span{
          width: 40px;
        }
      }
    }
    .mb-submain{
      &.col-xs-12, .col-xs-12{
        position: relative !important;
        border: none;
        padding: 0;
        .ms-category-level {
          /* height: 100vh;*/
          .form-group {
            font-weight: 500;
            padding: 0 0 0 10px;
          }
        }
      }

      .mb-submenu {
        padding: 0 0 0 20px;
      }
    }
  }
  .ms-topmenu{
    .ms-label{
      display: block;
      &.mb-return {
        border-right: none;
        border-left: none;
      }
    }
  }
  .mb-content .item,
  .mb-content .col-productlist,
  .mb-content .col-category,
  .mb-featured .f-product,
  .mb-featured .f-category{
    padding: 0 !important;
  }
  .ms-topmenu{
    padding-top: 5px;
    .ms-level0{
      padding: 0 14px 0 10px;
      .label{
        &-arrow-right{
          position: absolute;
          right: 17px;
          width: 15%;
          text-align: right;
          border-bottom: 1px solid #ccc;
          padding-right: 6px;
        }
        &-arrow-left,
        &-arrow-right{
          &:after{
            transition: transform 0.1s linear;
            .simple-icon();
            content: @icon-simple__arrow-right;
            display: inline-block;
            line-height: 44px;
            vertical-align: middle;
            color: @color-black;

          }
        }
      }
      &.active{
        > .mb-submenu{
          .mb-return{
           display: none;
          }
        }
        .label-arrow-right{
          right: 17px;
          top: 0px;
        }
        .flag + .label-arrow-right {
          &:after{
            transform: rotate(90deg);
            transition: transform 0.1s linear;
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
  nav{
    .ms-topmenu{
      text-align: center;
      margin-top: 13px;
      .ms-level0{
        float: none;
        display: inline-block;
        margin: 0;
        vertical-align: bottom;
        width: auto;
        &:active, &:focus, &:hover, &.active{
          a.ms-label{
            background: transparent;
            position: relative;
            &:after{
              content: '';
              position: absolute;
              bottom: 0px;
              left: 50%;
              margin-left: -8px;
              .triangle(top, 16px, 8px, @color-white);
            }
          }
        }
      }
      .ms-label{
        float:left;
        padding: 13px 10px;
        color: @color-white;
        .lib-font-size(13);
        text-transform: uppercase;
        letter-spacing: 0.9px;
        outline: none !important;
        text-decoration: none !important;
        cursor: pointer;
        line-height: 1.5;
        position: relative;
        font-weight: @font-weight__light;
        background: none;
      }
      .ms-submenu{
        top: 45px !important;
        width: 100% !important;

        .product-image-container{
          display: block;
          height: 100%;
          .product-image-wrapper{
            height: auto;
            overflow: visible;
          }
        }
      }
    }
  }
  .ms-level0{
    .label-arrow-right, .label-arrow-left{
      display: none;
    }
  }
}
