<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="dashboard-greetings">
    <p><?php echo __('Hello');?> <?php echo $block->getCustomer()->getFirstname();?>!</p>
    <p>From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information.<br/>
        Select a link below to view or edit information.</p>
</div>
