// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_listings.less';
@import 'module/_toolbar.less';

//
//  Variables
//  _____________________________________________

@product-info-price: @color-black;
@product-h1-margin-bottom-desktop: @indent__s + @indent__xs;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Category view
    .amshopby-index-index,
    .catalog-category-view {
        .page-title-wrapper {
            text-align: center;
            margin-bottom: 0;
            border-bottom: 0;
            .page-title {
                margin-top: 25px;
                text-transform: uppercase;
                margin-bottom: 10px;
                padding: 0;
            }
        }

        .category-description {
            text-align: center;
            max-width: 800px;
            padding: 0 15px;
            margin: 0 auto 25px;
            > p {
                margin: 0 26%;
            }

            .link-more {
                text-decoration: underline;
                cursor: pointer;
                text-align: center;
                text-transform: capitalize;
            }
        }

        .sub-categorys {
            text-align: center;
            padding-bottom: 35px;
            border-bottom: 1px solid @color-form-border;

            .sub-category {
                display: inline-block;
                margin: 0 10px 0 0;
                a {
                    text-transform: uppercase;
                    font-weight: @font-weight__bold;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .toolbar-products {
            display: inline-block;
            padding-top: 5px;
            padding-bottom: 15px;
            margin-bottom: 0;
            width: 100%;
        }
        .toolbar-amount{
            margin-top: -20px;
        }
        .products.wrapper ~ .toolbar-products {
            padding-bottom: 30px;
        }
    }

    .amshopby-more-button {
        background: none;
        border: none;
        box-shadow: none !important;
        color: @primary__color;
        padding: 0;
        text-decoration: underline;
        text-transform: capitalize;
        .lib-font-size(13);

        &:hover,
        &:active {
            background: none;
            border: none;
            text-decoration: none;
        }
    }

    .old-price,
    .old.price {
        .lib-css(color, @text__color__muted);
    }

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ':';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                &:before {
                    content: ' +' attr(data-label) ':';
                }
            }
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;    }

    .product.name a {
        &:extend(.abs-product-link all);
    }

    .special-price {
        .price-label {
            &:extend(.abs-visually-hidden all);
        }
    }

    .category {
        &-image {
            .image {
                display: block;
                height: auto;
                max-width: 100%;
            }
        }
        &-cms{
            margin-top: 30px;
            .widget.grid{
                margin-top: 35px;
            }
            .balance-box-default, .balance-box-group-default{
                margin-bottom: 20px;
            }
        }
        &-cms,
        &-image,
        &-description {
            margin-bottom: @indent__base;
        }
    }

    //
    //  Product images general container
    //  -----------------------------------------

    .product-image {
        &-container {
            display: inline-block;
            max-width: 100%;
        }

        &-wrapper {
            display: block;
            height: 0;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }

        &-photo {
            bottom: 0;
            display: block;
            height: auto;
            left: 0;
            margin: auto;
            max-width: 100%;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    //
    //  Product view
    //  -----------------------------------------
    .catalog-product-view {
        .product-options-wrapper{
            .swatch-attribute{
                text-align: left;
            }
        }
        &.page-product-bundle{
            .product-options-bottom{
                .product-social-links{
                    display: none;
                }
            }
        }
    }
    .product.info.detailed{
        div[aria-labelledby="tab-label-product.info.description"]{
            .additional-attributes-wrapper{
                .additional-attributes > thead > tr > th,
                .additional-attributes > tbody > tr > th,
                .additional-attributes > tfoot > tr > th{
                    padding: 0px 50px 0 0;
                    text-transform: uppercase;
                    &:before{
                        text-transform: uppercase;
                        padding: 0px 15px 0 0;
                        min-width: 70px;
                    }
                }
                .additional-attributes > thead > tr > td,
                .additional-attributes > tbody > tr > td,
                .additional-attributes > tfoot > tr > td{
                    padding: 0px 4.75px 20.5px 4.75px;
                    &:before{
                        text-transform: uppercase;
                        padding: 0px 15px 0 0;
                        min-width: 70px;
                    }
                    p{
                        margin-bottom: 0;
                        display: inline-block;
                    }
                }
            }
            .additional-attributes tbody td:last-child{
                margin-bottom: 15px;
            }
        }
    }
    .product.media {
        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }

        .placeholder .photo.container {
            max-width: 100%;
        }

        .notice {
            margin: @indent__s 0;
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
        }

        .product.thumbs {
            margin: @indent__s 0 @indent__m;
        }

        .items.thumbs {
            .lib-list-inline();
            > li {
                margin: 1rem 0 0;
            }

            img {
                display: block;
            }

            .active {
                display: block;
                line-height: 1;
            }
        }
    }

    .product.info.detailed {
        clear: both;
        margin-bottom: 30px;

        .additional-attributes {
            width: auto;
            .lib-table-bordered(
                @_table_type: clear
            );
            .lib-table-resize(
                @_th-padding-left: 0,
                @_th-padding-right: @indent__l,
                @_th-padding-bottom: @indent__s,
                @_td-padding-bottom: @indent__s
            );
        }
    }

    .product-brand {
        margin: 0 0 5px;
        a {
            color: @color-light-grey;
            text-decoration: none;
            &:hover {
                color: @color-light-grey;
                text-decoration: underline;
            }
        }
    }

    .product-info-main {
        .attribute.size-guide{
            display: none;
        }
        .product-info-price {
            .lib-css(color, @product-info-price);
            display: block;
            margin-bottom: 5px;
            width: 100%;
            .minimal-price{
                .price-label{
                    display: none;
                }
            }
            .price-box {
                display: inline-block;
                width: auto;
                .price-container {
                    > span {
                        display: block;
                    }
                }
            }

            .old-price {
                display: inline-block;
                vertical-align: top;
                margin: 0 0 0 5px;

                .price {
                    color: @color-light-grey;
                    position: relative;
                }
                .price::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    width: 100%;
                    border-bottom: 1px solid @color-light-grey;
                }
            }

            .price-from,
            .price-to {
                display: inline-block;
                vertical-align: top;
                margin: 0;
            }
            .price-to{
                .price-container{
                    display: inline-block;
                }
                &:before{
                   .lib-font-size(22);
                    font-weight: @font-weight__bold;
                    line-height: 22px;
                    content: 'to';
                    display: inline-block;
                    margin: 0 8px 0 5px;
                    text-transform: uppercase;
                }
            }
            .special-price {
                display: inline-block;
                vertical-align: top;
            }

            .price {
                white-space: nowrap;
            }
        }

        .stock {
            text-transform: capitalize;
            display: inline-block;
            font-weight: @font-weight__semibold;
            color: @color-green;
            border: 1px solid @color-border;
            height: 30px;
            padding: 0 20px;
            line-height: 28px;
            color: @color-orange;
            &.available,
            &.unavailable,
            &.backorder{
                text-transform: uppercase;
                .lib-font-size(13);
                border: 0;
                padding: 0;
                color: @color-black;
                span{
                    vertical-align: middle;
                }
                small{
                    .lib-font-size(13);
                    color: @color-light-grey;
                    font-weight: 300;
                    text-transform: none;
                    letter-spacing: 0.40px;
                }
            }
            &.available{
                &:before{
                    .simple-icon();
                    color: @color-black;
                    content: @icon-simple__roundtick;
                    margin-right: 3px;
                    vertical-align: middle;
                    font-size: 14px;
                    line-height: 19px;
                }
            }
            &.backorder{
              &:before{
                .simple-icon();
                  color: @color-black;
                  content: '!';
                  border: 1px solid @color-black;
                  margin-right: 3px;
                  vertical-align: middle;
                  font-size: 14px;
                  line-height: 14px;
                  border-radius: 50%;
                  width: 18px;
                  height: 18px;
                  display: inline-block;
                  text-align: center;
                  margin-top: -3px;
              }
            }
            &.unavailable {
                &:before{
                    .simple-icon();
                    color: @color-black;
                    content: @icon-simple__close;
                    margin-right: 7px;
                    vertical-align: middle;
                }
            }
        }

        .product.attribute.sku {
            word-break: break-all;
            word-wrap: break-word;
        }
        #size-chat-button{
            display: block;
            color: #000;
           .lib-font-size(13);
            text-decoration: underline;
            margin-top: 20px;
            text-transform: capitalize;
            cursor: pointer;
        }
        .product {
            &-add-form {
                clear: both;
                padding-top: @indent__s + @indent__xs;
            }

            &.attribute {
                &.sku {
                    .type {
                        font-weight: normal;
                        margin-right: @indent__xs;

                        &:after {
                            content: '#:';
                        }
                    }

                    .value {
                        display: inline-block;
                    }
                }

                &.overview {
                    margin: 0 0 5px;

                    p:last-child {
                        margin: 0;
                    }
                }
            }

            &.alert {
                margin: 0;
                border: 0;
                padding: 0;
                flex: 0 0 100%;
                width: 100%;
                text-align: center;
                max-width: 330px;
                a{
                    .lib-button(
                        @_button-font-size: 14px,
                        @_button-font-weight: 400,
                        @_button-line-height: 20px,
                        @_button-padding: 10px 15px,
                        @_button-width: 100%,
                        @_button-color: @color-white,
                        @_button-background: @color-black,
                        @_button-border: 1px solid @color-black,

                        @_button-color-hover: @button__hover__color,
                        @_button-background-hover: @button__hover__background,
                        @_button-border-hover: @button__hover__border,
                        @_button-color-active: @button__active__color,
                        @_button-background-active: @button__active__background,
                        @_button-border-active: @button__active__border
                    );
                    text-decoration: none;
                    text-transform: uppercase;
                    .lib-button-responsive();
                }
            }
        }

        .product-options-bottom {
            .box-tocart {
                margin-top: 5px;
            }
        }

        .product-view-visual {
            background: @color-light-grey1;
            padding: 8px 13px;
            margin-top: 15px;

            p {
                &:last-child {
                    margin: 0;
                }
            }
        }

        .product-add-form {
            .fieldset {
                > .field {
                    > .label {
                        color: @color-light-grey;
                    }
                }
            }

            input[type="number"] {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding-left: 3px;
                padding-right: 3px;
                text-align: center;
                .lib-font-size(14);
            }
        }

        .afterpay-installments-amount {
            margin: 0 0 5px;
        }

        .giftcard.form {
            .fieldset {
                > .legend {
                    display: block;
                    width: 100%;
                    border: none;
                }

                > .field {
                    > .label {
                        width: 100%;
                        margin-right: 0;
                    }

                    > .control {
                        width:  100%;
                    }

                    &.email {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .product-form-wrapper {
        margin-bottom: 20px;
        .lib-clearfix();
    }

    .product-options-wrapper {
        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__semibold);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                margin: 0 0 8px;
                padding: 0;
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                        @_font-size: @form-field-label-asterisk__font-size,
                        @_color: @form-field-label-asterisk__color,
                        @_font-family: @form-field-label-asterisk__font-family,
                        @_font-weight: @form-field-label-asterisk__font-weight,
                        @_line-height: @form-field-label-asterisk__line-height,
                        @_font-style: @form-field-label-asterisk__font-style
                        );
                    }
                }
            }
        }

        .field {
            .note {
                display: block;
                .lib-css(margin-top, @indent__xs);
            }
        }

        .swatch-opt {
            margin: 0;

            .div.mage-error[generated] {
                margin-top: -14px;
            }
        }

        .swatch-attribute {
            text-align: center;

            &-label {
                font-weight: @font-weight__regular;
                color: @color-light-grey;
                letter-spacing: 0.4px;
            }

            &-options {
                margin: 5px 0;
                font-size: 0;
                width: 100%;
            }

            &.color {
                .swatch-attribute-label{
                    &:after{
                        display: inline-block;
                        content: ' :';
                    }
                }
                .swatch-attribute-options {
                    margin-left: -4px;
                    margin-right: -4px;
                }
                .swatch-attribute-selected-option{
                    display: inline-block;
                    padding-left: 10px;
                    text-transform: capitalize;
                }
            }

            &.size {
                #size-chat-button{
                    margin-left: 10px;
                    margin-top: 0;
                    line-height: 40px;
                }
                .swatch-attribute-label {
                    display: none;
                }

                .swatch-option {
                    &.text {
                        width: 40px;
                        height: 40px;
                        border: 1px solid @color-border;
                        border-radius: 50%;
                        margin: 0 5px 10px;
                        background: @color-white;
                        color: @color-black;
                        line-height: 34px;
                        &.selected {
                            background: @color-black !important;
                            color: @color-white;
                        }

                        &.disabled {
                            background: @color-light-grey1;
                            color: @color-light-grey;
                            border: 1px solid @color-light-grey1;
                        }
                    }
                }

                .swatch-attribute-options {
                    margin-left: -5px;
                    margin-right: -5px;
                }
            }

            &-selected-option {
                display: none;
            }

            .swatch-option {               
                border-radius: 50%;
                min-width: 0;
                min-height: 0;
                float: none;
                display: inline-block;
                vertical-align: top;
                .lib-font-size(13);

                &.color,
                &.text {
                    &:not(.disabled){
                        &:hover,
                        &.selected {
                            outline: none;
                        }
                    }
                }

                &.color {
                    width: 22px;
                    height: 22px;
                    margin: 0 4px 8px;

                    &.selected {
                        border: 1px solid @color-black;
                    }

                    &.disabled {
                        background: @color-light-grey1;
                    }
                }
            }
        }
    }

    .product-options-bottom .price-box,
    .product-info-price .price-box {
        .lib-css(color, @product-info-price);
        display: block;

        .price-container {
            > span {
                display: block;
                margin-bottom: @indent__xs;

                &:last-child {
                    margin-bottom: 0;
                }
            }
            span.rewards__product-points{
                display: none;
            }
            .price {
                .lib-font-size(22);
                font-weight: @font-weight__bold;
                line-height: 22px;
                letter-spacing: 0.3px;
            }
        }

        .old-price {
            .price-container {
                .price {
                    font-weight: @font-weight__regular;
                }
            }
        }
    }

    .box-tocart {
        &:extend(.abs-box-tocart all);

        .input-text.qty {
            &:extend(.abs-input-qty all);
        }

        .action.tocart {
            &:extend(.abs-button-l all);
            &:extend(.abs-button-responsive all);

            &:not(:last-child) {
                margin-bottom: 15px;
            }
            &.disabled{
                background: @color-light-grey1;
                color: @color-light-grey;
                box-shadow: none;
                pointer-events: none;
            }
            vertical-align: top;
        }
    }

    .product-addto-links {
        display: inline-block;

        .action {
            margin-right: 5%;
        }
    }

    .product-social-links {
        text-align: left;
        padding: 20px 0 0 0;
        margin: 0;
        .action.towishlist {
            width: 40px;
            height: 40px;
            border: 1px solid @color-border;
            border-radius: 50%;
            line-height: 40px;
            text-align: center;

            .lib-icon-font(
                @_icon-font: @font__simple-line,
                @_icon-font-size: 17px,
                @_icon-font-line-height: 40px,
                @_icon-font-content: @icon-simple__heart,
                @_icon-font-color: @color-black,
                @_icon-font-position: before
            );
            &:before{
                width: 20px;
            }
            span {
                display: none;
            }

            &:hover {
                &:before {
                    color: @color-red;
                }
            }
        }
    }

    .prices-tier {
        &:extend(.abs-reset-list all);
        margin-bottom: @indent__s + @indent__xs;

        .item {
            margin-bottom: @indent__s;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .price-excluding-tax,
        .price-including-tax {
            display: inline-block;
        }
    }

    .minimal-price-link,
    .price-excluding-tax,
    .price-including-tax {
        display: block;
        white-space: nowrap;
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    .product-crosssell-wrapper {
        .block-title {
            display: block;
            color: @color-light-grey;
            margin: 0 0 15px;
        }

        strong {
            font-weight: @font-weight__regular;
        }

        .products-grid {
            .product-item-details {
                text-align: left;
                overflow: hidden;
            }

            .product-item {
                width: 100%;
            }
        }

        .product-image-container {
            float: left;
            margin: 0 20px 0 0;
            max-width: 32%;
            border: 1px solid @color-light-grey1;

            .product-item-details {
                overflow: hidden;
            }
        }

        .product-item-name {
            font-weight: @font-weight__regular;
            text-transform: uppercase;
            margin: 0;

            a {
                text-decoration: none;
            }
        }

        .product-item {
            .old-price {
                color: @color-light-grey;
                margin: 0;
                text-decoration: line-through;
            }
        }

        .actions-primary {
            button {
                display: inline;
                background: none;
                border: none;
                padding: 0;
                color: @color-black;
                font-weight: @font-weight__regular;
                text-transform: none;
                vertical-align: middle;
                line-height: 22px;
                .lib-icon-font(
                    @_icon-font: @font__simple-line,
                    @_icon-font-size: 18px,
                    @_icon-font-content: @icon-simple__plus,
                    @_icon-font-color: @color-black,
                    @_icon-font-position: before,
                    @_icon-font-margin: 0 5px 0 0
                );
                &:before{
                    width: 21px;
                }
                &:hover {
                    background: none;
                    border: none;
                    color: @color-black;
                }
            }
        }

        .product-item-actions {
            .actions-primary {
                + .actions-secondary {
                    display: none;
                }
            }
        }
    }

    .product.media {
        .fotorama__thumb-border {
            display: none;
        }
    }

    .page-product-configurable {
        .item-info {
            .child-product-matrix {
                position: relative;
                .mess-err-bss-m {
                    top: -42px;
                    left: -62px;
                }
            }
        }
        .product-options-bottom {
            width: 100%;
        }
    }



    //
    //  Sidebar product view
    //  -----------------------------------------

    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;

                &-info {
                    position: relative;
                    width: auto;

                    .product-item-photo {
                        left: 0;
                        position: absolute;
                        top: 0;
                    }
                }

                &-name {
                    margin-top: 0;
                }

                &-details {
                    margin: 0 0 0 85px;
                }

                &-actions {
                    display: block;
                    margin-top: @indent__s;
                }
            }

            .price-box {
                display: block;
                margin: 7px 0;
            }

            .text {
                margin-right: 8px;
            }

            .counter {
                .lib-css(color, @primary__color__lighter);
                font-size: 12px;
                white-space: nowrap;
            }

            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }

                .weee:before {
                    display: inline-block;
                }
            }

            .action {
                &.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        .action.tocart {
            border-radius: 0;
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //  Product images only
        //  -------------------------------------

        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;

            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //  Product names only
        //  -------------------------------------

        .product-items-names {
            .product-item {
                margin-bottom: @indent__s;
            }

            .product-item-name {
                margin: 0;
            }
        }
    }
    .product-add-form {
        .box-tocart.out-of-stock{
            .towishlist{
                padding: 0;
                width: 40px;
                height: 40px;
                border: 1px solid @color-border;
                border-radius: 50%;
                line-height: 40px;
                text-align: center;
                .lib-icon-font(
                    @_icon-font: @font__simple-line,
                    @_icon-font-size: 17px,
                    @_icon-font-line-height: 40px,
                    @_icon-font-content: @icon-simple__heart,
                    @_icon-font-color: @color-black,
                    @_icon-font-position: before
                );
                &:before{
                    width: 20px;
                }
                span {
                    display: none;
                }
                &:hover {
                    &:before {
                        color: @color-red;
                    }
                }
            }
            .product.alert.stock {
                min-width: 320px;
                height: 40px;
                a {
                    .lib-button-primary();
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    text-decoration: none;
                    width: 100%;
                    height: 40px;
                    text-align: center;
                    .lib-font-size(14);
                    padding: 0 15px;
                    line-height: 36px;
                    &:hover{
                        background: @color-light-grey;
                        border: 1px solid @color-light-grey;
                        color: @color-white;
                    }
                }
            }
        }
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {

    //
    // Category View Styles
    //
    .sub-categorys-trigger{
        border: 1px solid @color-border;
        cursor: pointer;
        font-weight: @font-weight__bold;
        .lib-font-size(13);
        letter-spacing: 0.2px;
        line-height: 30px;
        padding: 6px;
        text-align: center;
        text-decoration: none;
        width: 100%;
        .lib-icon-font(
            @_icon-font: @font__simple-line,
            @_icon-font-size: 16px,
            @_icon-font-content: @icon-simple__caret-down,
            @_icon-font-color: @color-black,
            @_icon-font-position: after
        );
        &:after{
            margin-left: 10px;
        }
        &.active{
            &:after{
                transform: rotate(180deg);
                transition: transform 0.1s linear;
            }
        }
    }

    #amasty-shopby-product-list {
        .products {
            margin: 5px 0;
        }
    }

    .amshopby-index-index,
    .catalog-category-view,
    .amshopby-index-index,
    .catalogsearch-result-index {
        .column.main{
            width: 100%;
        }
        .category-view{
            margin-bottom: 30px;
        }
        .toolbar-products {
            display: inline-block;
            margin-bottom: 0;
            padding-bottom: 0;
            width: 100%;
        }
        .sub-categorys{
            margin-bottom: 0;
            border-width: 0 1px 1px 1px;
            border-style: solid;
            border-color: @color-border;
            display: none;
            padding-bottom: 0;
            &.active{
                display: block;
            }
            .sub-category{
                display: block;
                margin: 0;
                border-bottom: 1px solid #e0e0e0;
                a{
                    line-height: 40px;
                    display: list-item;
                    list-style: none;
                }
                &:last-of-type{
                    border-bottom: 0;
                }
            }
        }
        .breadcrumbs {
            display: none;
        }
        .toolbar-products {
            padding-top: 10px;
            margin-bottom: 5px;
        }
        .page-title-wrapper{
            .page-title{
                margin-top: 35px;
                .lib-font-size(18);
                line-height: 20px;
                letter-spacing:0.2px;
            }
        }
        .category-description{
            margin-bottom: 20px;
            max-width: 520px;
        }
        // shopby filter
        .filter.block {
            display: block !important;
            position: fixed;
            top: 0;
            bottom: 0;
            overflow: auto;
            background: #fff;
            max-width: 280px;
            width: 100%;
            border-right: 1px solid #e8e9ec;
            left: 100%;
            z-index: 1001;
            transform: translateX(0);
            transition: transform .4s ease-in-out;
            margin: 0;
        }
        .toolbar-sorter{
            float: right;
            width: 48%;
            max-width: 170px;
        }
        &.filter-opened {
            .block.filter {
                transform: translateX(-100%);
            }
        }

        .filter-opener {
            right: 0;
            height: 40px;
            line-height: 40px;
            text-align: center;
            max-width: 170px;
            width: 48%;
            z-index: 2;
            float: left;
            &:before,
            &:after {
                display: none;
            }

            &.filtered {
                line-height: 36px;
                > span {
                    &:after {
                        margin-top: 0;
                        margin-right: 1px;
                        margin-left: 7px;
                        position: relative;
                        top: auto;
                        right: auto;
                    }
                }
            }
        }
    }
    div[aria-labelledby="tab-label-product.info.description"]{
        width: 100%;
        .description, .additional-attributes-wrapper{
            width: 100%;
        }
        .description{
            margin-bottom: 25px;
        }

    }
    //__________________________

    //
    // Product View Styles
    //
    .catalog-product-view {
        .breadcrumbs{
            display: none;
        }

        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(row);
            .lib-vendor-prefix-flex-wrap(wrap);
            position: relative;
        }

        .product.media {
            .lib-vendor-prefix-order(-1);
            text-align: center;
            .fotorama__stage__frame {
                .fotorama__img {
                    width: 100%;
                }
            }
        }
        .product-options-bottom{
            position: relative;
        }
        &:not(.page-product-bundle){
            .product-form-wrapper{
                >  .product-social-links{
                    display: none;
                }
            }
        }

        .block.crosssell{
            width: 100%;
            margin: 0;
            padding: 0;
            .product-item-info{
                width: 100%;
            }
            .block-title h1{
                font-weight: normal;
                .lib-font-size(13);
                color: @color-light-grey;
                text-transform: none;
            }
        }

        .product-crosssell-wrapper {
            .product-image-container {
                max-width: 26%;
            }

            .product-item-actions {
                display: block;
            }
        }
    }

    .product-social-links {
        padding: 16px 0 0;
    }

    .product-info-main{
        .product-add-form{
            .fieldset > .field > .label{
                margin: 0px 7px 5px 0;
                display: inline-block;
            }
            .control{
                display: inline-block;
            }
            form{
                position: relative;
            }
        }
        .box-tocart{
            .fieldset{
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction(row);
                .lib-vendor-prefix-flex-wrap(wrap);
            }
        }
        .product.alert{
            max-width: 100%;
        }
        .actions{
            flex: 0 0 100%;
            width: 100%;
        }
    }

    .product.media {
        .product-brand {
            margin: 0;
        }

        .page-title {
            h1 {
                margin-bottom: 7px;
            }
        }
        .fotorama__stage__frame{
            .fotorama__img{
                width: 100%;
                height: auto;
            }
        }
    }


    .fotorama__nav__frame--dot {
        display: inline-block !important;
        vertical-align: top;
    }
    .fotorama__nav__shaft {
        width: 100%;
        background: transparent;
        text-align: center;
    }

    .fotorama.fotorama-item {
        .fotorama__nav__shaft {
            width: auto;
            text-align: center;
        }

        .fotorama__dot {
            background: @color-white;
            border-color: @color-border;
            left: 0;
            top: 0;
            width: 10px;
            height: 10px;
        }

        .fotorama__active {
            .fotorama__dot {
                background: @color-black;
                border-color: @color-black;
            }
        }
    }

    .product.info.detailed {
        margin:  20px 0 23px;
        width: 100%;
    }

    .block.related {
        .products {
            margin-top: 20px;
        }
    }
}

//
//  Mobile @screen__s
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
    .product-info-main {
        > .product.attribute.overview{
            display: none;
        }
        .product-add-form {
            .fieldset {
                > .field {
                    > .label {
                        margin: 0 0 5px;
                    }
                }
            }

            .action.tocart {
                width: 100%;
            }
        }
        .fotorama__nav--thumbs{
            height: 80px !important;
        }
    }

    .category {
        &-cms {
            .balance-box-default,
            .balance-box-group-default {
                margin-bottom: 10px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .catalog-product-view{
        .product-info-main {
            .product-brand,
            .page-title-wrapper{
                display: none;
            }
        }

        .page-title-wrapper{
            margin-bottom: 15px;
        }

        .column.main {
            width: 100%;
            margin-top: 15px;
        }

        .page-title{
            .lib-font-size(20);
            line-height: 30px;
            letter-spacing: 0.25px;
            margin-bottom: 10px;
        }

        .product.media {
            margin: 0 0 13px;
            width: 100%;
        }

        .product-reviews-summary{
            margin-bottom: 30px;
            text-align: center;
        }

        .product-price-wrapper{
            text-align: center;
        }



        .fotorama__nav--thumbs{
            .fotorama__nav__frame{
                padding: 2px 6px;
                height: auto !important;
            }
        }

        .fotorama__nav-wrap{
            bottom: 12px;
        }

        .fotorama__nav--dots .fotorama__nav__frame{
            height: 14px;
            width: 14px;
        }
        .bundle-actions{
            display: none;
        }
    }
    .product-add-form {
        .box-tocart.out-of-stock{
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            flex: 0 0 100%;
            width: 100%;
            margin-top: 25px;
            .towishlist{
                margin: 15px auto 0;
                padding: 0;
                order: 2;
            }
            .product.alert.stock {
                width: 100%;
                order: 1;
                float: none;
            }
        }
    }
    .product-social-links {
        .action.tocompare {
            display: none;
        }
    }

    .gallery-placeholder{
        margin: 0 -15px;
    }

    .fotorama__arr{
        display: none !important;
    }

    .fotorama__stage,
    .fotorama__stage__shaft{
        max-width: 100% !important;
        width: 100% !important;
        left: 0 !important;
        background: transparent;
    }

    .fotorama.fotorama-item{
        .fotorama__nav__shaft{
            background: transparent;
        }
    }

    .fotorama__nav-wrap--vertical{
        bottom: 0;
        width: 100%;
        top: auto !important;
        .fotorama__nav--thumbs{
            height: 20px !important;
        }
        .fotorama__nav-wrap{
            bottom: 10px;
            width: 100%;
        }
        .fotorama__nav-wrap,
        .fotorama__nav__frame--thumb{
            display: none !important;
        }
    }

    .fotorama__nav-wrap{
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .product-info-price {
        margin: 0 -@indent__s 0;
        width: ~'calc(100% + 2*@{indent__s})' !important;

        > *:first-child {
            padding-left: @indent__s;
        }

        > *:last-child {
            padding-right: @indent__s;
        }
    }

    .product.info.detailed {
        .additional-attributes-wrapper {
            &:extend(.abs-no-border-top all);
        }
    }

    .page-with-filter,
    .catalogsearch-result-index {
        .toolbar-amount{
            display: none;
        }
    }

    .product-info-main {
        padding: 0;
        border-bottom: 0;
        margin: 0 0 30px;
        width: 100%;
        .product-add-form{
            padding-top: 0;
            margin-top: 30px;
        }
        .product-social-links {
            width: 55px;
            padding: 0 0 10px 15px;
        }

        > .product.attribute.overview{
            display: none;
        }

        .product-view-visual {
            margin-bottom: 25px;
        }

        .product-options-bottom {
            .box-tocart {
                position: relative;
            }
        }

        .qty {
            width: 100%;
            text-align: center;

            .label,
            .control {
                display: block !important;
            }
        }

        .product-social-links {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 0;
            left: 0;
        }

        .actions {
            padding-bottom: 40px;
            margin-bottom: 20px;
        }

        .stock {
            &.available,
            &.unavailable,
            &.backorder{
                small {
                    display: block;
                }
            }
        }
    }

    .product-info-stock-sku {
        text-align: center;
    }

    .product-options-bottom,
    .product-info-price{
        .price-box{
            .price-container{
                .price{
                    .lib-font-size(20);
                }
            }
        }
    }

    .product-info-main{
        .product-info-price .price-to:before{
            .lib-font-size(20);
        }
    }

    .block.related{
        padding: 0 0 40px;
        border-bottom: 1px solid @color-form-border;
        margin-bottom: 20px;
    }

    //
    //  Product view
    //  -----------------------------------------
    .catalog-product-view {
        .product-options-wrapper{
           .swatch-attribute.size{
               #size-chat-button{
                   display: block;
                   margin: 0 0 20px;
               }
           }

            .swatch-attribute{
                text-align: center;
            }
        }

        .block.related,
        .blog-recent-posts {
            .slick-dots{
                bottom: -25px;
                li{
                    height: 10px;
                    width: 10px;
                    margin: 0 2px;
                }
            }
        }

        .block.crosssell{
           .block-title{
               &, h1{
                   margin: 0;
                   line-height: 15px;
               }
           }
        }

        .additional-attributes-wrapper{
            padding-top: 25px;
        }
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){
    .bundle-actions{
        display: block !important;
        .action{
            width: 100%;
            background: transparent;
            border: 1px solid @color-black;
            color: @color-black;
        }
    }

    .product.media {
        .product-brand,
        .page-title-wrapper{
            display: none;
        }
        .fotorama__stage{
            margin-left: 1.4%;
            max-height: 860px;
        }
        .fotorama__stage__frame .fotorama__img{
            max-width: 645px;
        }
    }

    .catalog-product-view {
        .product-crosssell-wrapper {
            .products-grid {
                .product-item {
                    width: 50%;
                }
            }
        }
    }

    .page-product-giftcard {
        .product-add-form {
            .fieldset {
                .field:not(.text) {
                    padding-left: 10px;

                    &:nth-child(odd) {
                        padding-left: 0;
                        padding-right: 10px;
                    }
                }
            }

            .price-box {
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .page-layout-1column {
        .product-info-main {
            width: 40.4%;
            margin: -4px 0 0;
            .product.attribute.overview{
                padding-right: 60px;
            }
        }
        .product.media {
            width: 53.5%;
            margin-right: 4%;
        }
    }
    .sub-categorys-trigger{
        display: none;
    }
    .catalog-product-view{
        .breadcrumbs {
            margin: 25px auto 10px;
        }
        &.page-product-configurable{
            .product-add-form {
                .product-options-wrapper, .product-options-bottom{
                    flex: 0 0 100%;
                    width: 100%;
                }
            }
        }
        .fotorama__arr{
            display: none !important;
        }
    }
    .product.info.detailed{
        div[aria-labelledby="tab-label-product.info.description"]{
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(row);
            .lib-vendor-prefix-flex-wrap(wrap);
            width: 100%;
            .description{
                flex: 0 0 55%;
                width: 55%;
                padding-right: 5%;
                float: left;
            }
            .additional-attributes-wrapper{
                flex: 0 0 45%;
                width: 45%;
                float: left;
                padding-left: 4.5%;
            }
        }
    }

    .product-social-links {
        text-align: left;
        min-width: 55px;
        float: left;
        padding: 0 0 0 15px;
        order: 3;
        width: 23%;
    }

    .product-add-form {
        .box-tocart.out-of-stock{
            flex: 0 0 100%;
            width: 100%;
            margin-top: 25px;
            float: left;
            .towishlist{
                float: left;
                margin: 0 0 0 5%;
                padding: 0;
                order: 2;
            }
            .product.alert.stock {
                width: 58%;
                order: 1;
                float: left;
            }
        }
    }

    .amshopby-index-index,
    .catalog-category-view{
        .page-main{
            padding-bottom: 70px;
        }
    }

    .product.media {
        .fotorama__stage__frame {
            .fotorama__img {
                width: 100%;
                top: 0;
                transform: translate3d(-50%, 0, 0);
            }
        }

        .product-brand,
        .page-title-wrapper {
            display: none;
        }

        .fotorama {
            .fotorama__nav--thumbs {
                .fotorama__nav__frame:not(:nth-child(2)) {
                    padding-top: 20px !important;
                }
            }
        }

    }
    .product-info-main {
        min-height: 200px;

        .product-view-visual {
            width: 100%;
            max-width: 330px;
        }
        .page-title-wrapper {
            border-bottom: 0;
            margin-bottom: 0;
            padding: 0;
            .page-title{
                margin: 0;
                padding: 0;
            }
            h1 {
                .lib-css(margin-bottom, 0);
                text-transform: uppercase;
                text-align: left;
            }
        }
        .table-wrapper{
            .lib-vendor-prefix-flex-grow(1);
            order: 2;
        }
        .product-add-form {
            padding-top: 20px;
            width: 100%;
            form,
            .box-tocart .fieldset{
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction(row);
                position: relative;
            }
            form{
                .lib-vendor-prefix-flex-wrap(wrap);
            }
            #qty-error{
                position: absolute;
                left: 0;
                bottom: -22px;
            }
            .box-tocart {
                flex: 0 0 100%;
                width: 100%;
                float: left;
                .product.alert.stock{
                    a{
                       &:extend(.action.primary);
                    }
                }
                .actions,
                .product.alert.stock{
                    width: 58%;
                    order: 1;
                    button,
                    > a{
                        width: 100%;
                    }
                }

                .field.qty {
                    text-align: right;
                    order:2;
                    width: 19%;
                    min-width: 90px;
                }

                .control {
                    display: inline-block;
                    width: 40px;
                    margin-left: 10px;
                }
                &.out-of-stock{
                    .actions {
                        width: 100%;
                    }
                }
            }

            .fieldset {
                > .field {
                    margin:0;

                    > .label {
                        margin: 0;
                    }
                }
            }
        }

        .product-price-wrapper {
            .product.attribute.overview {
                display: none;
            }
        }

        .product-options-wrapper {
            .swatch-attribute {
                text-align: left;
            }
        }
    }

    .page-product-giftcard {
        .product-add-form {
            .product-options-bottom {
                width: 100%;

                .fieldset {
                    .field {
                        padding-right: 0;
                    }
                }
            }

            .fieldset.giftcard {
                .field {
                    padding-bottom: 15px;
                }
            }
        }
    }

    .product-options-bottom,
    .product-info-price {
        .price-box {
            .price-including-tax + .price-excluding-tax {
                .price {
                    .lib-font-size(14);
                    line-height: 16px;
                }
            }
        }
    }

    .product-form-wrapper {
        .lib-vendor-prefix-display(flex);
        align-items: flex-end;
    }

    .product-info-stock-sku {
        height: auto;
    }

    .product.info.detailed {
        margin-bottom: 58px;
    }

    .product-crosssell-wrapper {
        float: right;

        .block.crosssell{
            padding:0;
            margin-top: 30px;
            width: 100%;
            padding-bottom: 45px;
            .block-title{
                margin-bottom: 0;
            }
            h1{
                .lib-font-size(13);
                line-height: 36px;
                letter-spacing:0.6px;
                color: @color-light-grey;
                font-weight: normal;
                text-transform: none;
                margin-bottom: 5px;
            }
            .product{
                &-items{
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-prefix-flex-direction(row);
                    .lib-vendor-prefix-flex-wrap(wrap);
                    width: 100%;
                    .item{
                        .lib-layout-column(12, 1, 6);
                        .lib-column-gutter(12);
                        margin-bottom: 15px;
                        &:nth-of-type(2n + 2){
                            margin-right: 0;
                        }
                        .product-item-actions{
                            display: block;
                        }
                    }
                }
                &-item-info{
                    width: 100%;
                }
                &-item-details{
                    span.brand{
                        .lib-font-size(11);
                        font-weight: normal;
                        margin-top: 0;
                    }
                    .product-item-name{
                        line-height: 18px;
                    }
                }
            }
        }
    }

    //
    //  Category page layout
    //  -----------------------------------------

    .product-info-main {
        float: right;
    }

    .product.media {
        float: left;
        margin-bottom: 55px;
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }

        .product.media {
            width: 50%;
        }
    }

    .product-add-form {
        .product-options-wrapper .field:not(.date) {
            > .control {
                width: 100%;
            }
        }
    }

    .sidebar {
        .product-items {
            .product-item {
                &-info {
                    .product-item-photo {
                        float: left;
                        left: auto;
                        margin: 0 @indent__s @indent__s 0;
                        position: relative;
                        top: auto;
                    }
                }

                &-details {
                    margin: 0;
                }

                &-actions {
                    clear: left;
                }
            }
        }
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item {
                &-info {
                    .product-item-photo {
                        float: none;
                        left: 0;
                        margin: 0;
                        position: absolute;
                        top: 0;
                    }
                }

                &-details {
                    margin-left: 85px;
                }
            }
        }
    }
}




.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .catalog-product-view {
        .product-info-main {
            width: 48.4%;
            margin: 35px 0 0;
            border-bottom: 0;
            float: right;
            .product.attribute.overview{
                padding-right: 60px;
            }
            .page-title-wrapper{
                text-align: left;
                margin-bottom: 0;
                border-bottom: 0;
                .page-title{
                    .lib-font-size(20);
                    margin-bottom: 5px;
                }
            }
        }
        .product.media {
            width: 47.5%;
            margin-right: 4%;
            float: left;
        }
        .product-price-wrapper{
           .attribute.overview{
               display: none;
           }
        }
        .bundle-actions .action{
            width: 100%;
            background: transparent;
            border: 1px solid #000;
            color: #000;
        }
        .bundle-actions{
            display: block;
        }
    }
    .product-options-bottom{
        margin-top: 15px;
    }
    .bundle-options-container{
        clear: both;
    }
    .product-add-form {
        width: 100%;
        float: none;
        .box-tocart.out-of-stock{
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            flex: 0 0 100%;
            width: 100%;
            margin-top: 15px;
            .towishlist{
                margin: 0 0 15px 0;
                padding: 0;
                order: 1;
            }
            .product.alert.stock {
                width: 100%;
                order: 2;
                float: none;
            }
        }
    }

    .product-info-main {
        padding: 0 0 35px;
        border-bottom: 0;
        margin: 0 0 17px;
        .product-add-form {
            width: 100%;
            .box-tocart {
                .field.qty {
                    width: 75px;
                }
            }
        }

        .product-social-links {
            width: 55px;
            padding: 0 0 0 13px;
        }
        .out-of-stock{
            .product-social-links {
                padding: 0;
                margin: 0 0 15px 0;
            }
        }
        .product-view-visual {
            padding: 8px 13px;
            margin-bottom: 16px;
            text-align: center;
        }
        .stock.unavailable{
            small{
                display: block;
            }
        }
        .product-add-form {
            .fieldset {
                > .field {
                    > .label {
                        margin: 0 7px 5px 0;
                    }
                }
            }

            .action.tocart {
                width: 100%;
            }
        }
    }
    .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
    .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{
        opacity: 1;
    }
    .product.media {
        .fotorama {
            .fotorama__nav--thumbs {
                .fotorama__nav__frame {
                    height: 73px;
                    width: 55px !important;

                    &:not(:nth-child(2)) {
                        padding-left: 15px !important;
                    }
                }
            }
        }

        .fotorama__arr {
            background: none;
            display: block !important;
            .fotorama__arr__arr {
                background: none;
                width: 80px;
                height: 80px;
                background: rgba(0,0,0,0.5);
                border-radius: 50%;
                transform: translate3d(0, -50%, 0);
                .lib-icon-font(
                    @_icon-font: @font__simple-line,
                    @_icon-font-content: @icon-simple__arrow-right,
                    @_icon-font-color: @color-white,
                    @_icon-font-size: 20px,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );
            }

            &--prev {
                transform: translate3d(0, 0, 0);
                .fotorama__arr__arr {
                    left: -40px;

                    &:after {
                        transform: rotate(180deg);
                        margin: 25px 0 0 35px;
                    }
                }
            }

            &--next {
                transform: translate3d(0, 0, 0);
                .fotorama__arr__arr {
                    left: auto;
                    right: -40px;

                    &:after {
                        margin: 25px 0 0 -30px;
                    }
                }
            }
        }

        .fotorama__nav-wrap--horizontal {
            padding-top: 25px;

            img {
                width: 55px;
                left: 0;
            }
        }
    }

    .product-crosssell-wrapper {
        overflow: hidden;
        width: 100%;
    }
}

//  -----------------------------------------
//  Compare Products Page Starts
//  -----------------------------------------

& when (@media-common = true) {
    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }

    .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;

        .table-comparison > tbody > tr {
            > th,
            > td {
                border-top: 0;
            }
        }
    }

    .table-comparison {
        table-layout: fixed;

        .cell.label.remove,
        .cell.label.product {
            span {
                &:extend(.abs-visually-hidden all);
            }
        }

        .cell.label,
        td:last-child {
            border-right: @table__border-width @table__border-style @table__border-color;
        }

        .cell {
            padding: 15px;
            width: 180px;

            .attribute.value {
                overflow: hidden;
                width: 100%;
            }

            &.product.info,
            &.product.label {
                border-bottom: @table__border-width @table__border-style @table__border-color;
            }

            &.label {
                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            &.attribute {
                .lib-font-size(13);

                img {
                    height: auto;
                    max-width: 100%;
                }
            }

            &.remove {
                padding-bottom: 0;
                padding-top: 0;
                text-align: right;

                .action.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    margin-right: .6rem;
                }
            }
        }

        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }

        .product-image-photo {
            margin-left: 0;
        }

        .product-item-actions,
        .price-box,
        .product.rating,
        .product-item-name {
            display: block;
            margin: 15px 0;
        }

        .product-addto-links {
            margin-top: 15px;

            .action.split,
            .action.toggle {
                .lib-button-s();
            }

            .action.toggle {
                padding: 0;
            }
        }

        .action {
            &.tocart {
                white-space: nowrap;
            }
        }
    }

    .comparison.headings {
        .lib-css(background, @color-white);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }

    .block-compare {
        .block-title {
            &:extend(.abs-block-widget-title all);
        }

        .product-item .product-item-name {
            margin-left: 22px;
        }

        .action.delete {
            &:extend(.abs-remove-button-for-blocks all);
            left: 0;
            position: absolute;
            top: 0;
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .actions-toolbar {
            margin: 17px 0 0;
        }

        .action.primary {
            &:extend(.abs-revert-to-action-secondary all);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .table-wrapper.comparison {
        .table-comparison > tbody > tr {
            > th,
            > td {
                display: table-cell;
                &:extend(.abs-col-no-prefix all);
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .compare.wrapper,
    [class*='block-compare'] {
        display: none;
    }
    .fotorama__nav-wrap {
        .fotorama_vertical_ratio {
            .fotorama__img{
                left: 0px;
                padding: 0 10px;
            }
        }
        .fotorama__thumb{
            background: @color-white;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .compare.wrapper {
        float: right;
        .lib-list-reset-styles();

        .action.compare {
            line-height: @form-element-input__height;
            .lib-link(
                @_link-color: @primary__color,
                @_link-text-decoration: none,
                @_link-color-visited: @primary__color,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @primary__color,
                @_link-text-decoration-hover: underline,
                @_link-color-active: @primary__color,
                @_link-text-decoration-active: underline
            );
        }

        .counter.qty {
            .lib-css(color, @primary__color__lighter);

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }
}

// -----------------------------------------
//  Compare Products Page Ends
//  -----------------------------------------


//  -----------------------------------------
//  Related Products Page Starts
//  -----------------------------------------
& when (@media-common = true) {
    .block.related {
        .block-title {
            text-align: center;
            text-transform: uppercase;
            margin: 0;
        }

        .product-item-info {
            width: 100%;
        }

        .action.select {
            &:extend(.abs-action-button-as-link all);
            vertical-align: top;
        }

        .product-item-details {
            position: relative;
            z-index: 1;
            padding: 10px 0 0;
        }

        .product-item {
            .price-box {
                margin: 0;
            }
        }

        .related-available {
            text-align: center;
            .product-item-name {
                font-weight: @font-weight__regular;
                text-transform: uppercase;
                margin: 0;

                 a{
                     text-decoration: none;

                     &:hover {
                         text-decoration: underline;
                     }
                 }
            }
        }

        .field.choice {
            left: 0;
            position: absolute;
            top: 2px;

            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .page-product-grouped {
        .product-info-main {
            #size-chat-button,
            .product-add-form {
                margin-top: 10px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .page-layout-1column {
        .product-crosssell-wrapper {
            .block.widget {
                .products-grid {
                    .product-item {
                        width: 50%;
                        margin: 0 0 20px;
                    }

                    .product-item-info {
                        padding-right: 20px;
                    }
                }
            }
        }
    }
    .product.media{
        .product-brand,
        .page-title-wrapper{
            display: none;
        }
    }
    .column.main {
        > .block.related {
            margin: 0 0 45px;
            width: 100%;
            .products-grid {
                width: 100%;
                .product-item {
                    white-space: normal;
                    display: block !important;
                    margin: 0 10px;
                }


            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .page-layout-1column {
        .product-crosssell-wrapper {
            width: 40.4%;

            .block.widget {
                .products-grid {
                    .product-item {
                        width: 50%;
                        margin: 0 0 20px;
                    }
                }
            }
        }

        .block.related {
            width: 100%;
            .products-grid {
                .product-item {
                    .lib-layout-column(12, 1, 3);
                    .lib-column-gutter(12);
                    &:nth-of-type(4n + 4) {
                        margin-right: 0;
                    }
                    &.slick-slide {
                        margin: 0 15px;
                        &:nth-of-type(4n + 4) {
                            margin: 0 15px;
                        }
                    }
                }
            }
        }
    }
}

//  -----------------------------------------
//  Related Products Page Ends
//  -----------------------------------------
