// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body {
    &:not(.cms-index-index){
      .widget.grid{
        .block-title{
          .lib-font-size(22);
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 0.4px;
          margin-bottom: 20px;
        }
        .products-grid{
          .product-items{
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(row);
            .lib-vendor-prefix-flex-wrap(wrap);
          }
        }
      }
    }
  }
    .block-product-link,
    .block-category-link {
        &.widget {
            display: block;
            margin-bottom: @indent__base;
        }
    }

    .block-product-link-inline {
        &.widget {
            margin: 0;
        }
    }

    .block.widget {
        .product-item-info {
            width: auto;
        }

        .pager {
            padding: 0;

            .toolbar-amount {
                float: none;
                .lib-font-size(12);
            }

            .pages-item-previous {
                padding-left: 0;
            }

            .pages-item-next {
                position: relative;
            }

            .items {
                white-space: nowrap;
            }
        }
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  body {
    &:not(.cms-index-index){
      .widget.grid{
        .block-title{
          .lib-font-size(18);
          line-height: 24px;
          margin-bottom: 20px;
        }
        .products-grid{
          li.product-item{
            .lib-layout-column(12, 1, 6);
            .lib-column-gutter(12);
            &:nth-of-type(2n + 2){
              margin-right: 0;
            }
            &.slick-slide{
              margin: 0 5px;
              &:nth-of-type(2n + 2){
                margin: 0 5px;
              }
            }
          }
        }
      }
    }
  }
}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls){
  .page-layout-1column {
    &:not(.cms-index-index){
      .widget.grid{
        .products-grid{
          li.product-item{
            .lib-layout-column(12, 1, 4);
            .lib-column-gutter(12);
            &:nth-of-type(3n + 3){
              margin-right: 0;
            }
            &.slick-slide{
              margin: 0 8px;
              &:nth-of-type(2n + 2){
                margin: 0 8px;
              }
            }
          }
        }
      }
    }
  }
}


//
//  Desktop
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
  .page-layout-1column{
    &:not(.cms-index-index){
      .block.widget .products-grid {
        .product-items {
          .product-item {
            .lib-layout-column(12, 1, 3);
            .lib-column-gutter(12);
            &:nth-of-type(4n + 4) {
              margin-right: 0;
            }
            &.slick-slide {
              margin: 0 15px;
              &:nth-of-type(4n + 4) {
                margin: 0 15px;
              }
            }
          }
        }
      }
      .widget.grid{
        .block-title{
          .lib-font-size(22);
          line-height: 34px;
          margin-bottom: 30px;
        }
        .products-grid{
          .product-items{
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(row);
            .lib-vendor-prefix-flex-wrap(wrap);
            width: 100%;
            .slick-list{
              flex-grow: 1;
            }
          }
          li.product-item{
            .product-item {
              .lib-layout-column(12, 1, 3);
              .lib-column-gutter(12);
              &:nth-of-type(4n + 4){
                margin-right: 0;
              }
              &.slick-slide{
                margin: 0 15px;
                &:nth-of-type(4n + 4){
                  margin: 0 15px;
                }
              }
            }
          }
        }
      }
    }
  }


  .page-layout-3columns .block.widget .products-grid .product-item {
    .product-item {
      .lib-layout-column(12, 1, 4);
      .lib-column-gutter(12);
      &:nth-of-type(3n + 3){
        margin-right: 0;
      }
      &.slick-slide{
        margin: 0 15px;
        &:nth-of-type(4n + 4){
          margin: 0 15px;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .sidebar .block.widget .pager {
        .item:not(.pages-item-next):not(.pages-item-previous) {
            &:extend(.abs-no-display-desktop all);
        }

        .pages-item-next {
            padding: 0;

            .action {
                margin: 0;
            }
        }
    }
}
