<?php
/**
 * Copyright © 2017 Balance Internet Pty., Ltd. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var \Balance\AheadworksBlog\Block\PostList $block
 */
?>
<?php $_posts = $block->getPosts($block->getNumberOfPostsToDisplay()) ?>
<?php if (count($_posts)): ?>
    <div id="blog_recent_posts" class="blog-recent-posts">
        <div class="recent-posts-title">
            <strong><?php /* @escapeNotVerified */ echo __($block->getBlockTitle()) ?></strong>
        </div>
        <div class="resent-posts-wrapper">
            <ul class="recent-posts">
                <?php /** @var \Aheadworks\Blog\Model\Post $_post */ ?>
                <?php foreach ($_posts as $_post): ?>
                    <?= $block->getItemHtml($_post) ?>
                <?php endforeach ?>
            </ul>
        </div>
        <?php if ($block->isViewAllButtonDisplayed()): ?>
            <div class="recent-posts-view-all">
                <?= $block->getViewAllButtonHtml() ?>
            </div>
        <?php endif ?>
    </div>
<?php endif ?>