& when (@media-common = true) {
    .blog-post-info {
        margin: 0 0 17px;

        &-item {
            color: @color-dark-grey1;

            a {
                color: @color-dark-grey1;
            }
        }

        &-socials {
            > span {
                margin: 0 8px;
            }

            .stButton {
                > span {
                    margin: 0 7px 0 8px;

                    &:after {
                        color: @color-grey;
                        border: none;
                        font-family: @font-awesome;
                        font-size: 24px;
                        line-height: 20px;
                    }

                    &.googleplus:after {
                        content: @font-awesome-google-plus;
                    }

                    &.twitter:after {
                        content: @font-awesome-twitter;
                    }

                    &.facebook:after {
                        content: @font-awesome-facebook;
                    }

                    &.pinterest:after {
                        content: @font-awesome-pinterest;
                    }

                    &.linkedin:after {
                        content: @font-awesome-linkedin;
                    }

                    &.instagram:after {
                        content: @font-awesome-insagram;
                    }
                }
            }
        }
    }

    div#aw-ajax-block-tabs-wrapper {
        padding: 0;
        margin: 0 0 30px;
        border: none;
    }

    .blog-post-header {
        .sub-categorys {
            a {
                color: @color-grey;
            }
        }
    }

    .aw-blog-post-view {
        .block.related {
            h2 {
                .lib-font-size(13);
                font-weight: @font-weight__regular;
                color: @color-grey;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {

}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .blog-post-info {
        &-socials {
            margin: 0 0 30px;
        }
    }

    .aw-blog-post-view {
        .products-grid {
            .product-item {
                &.slick-slide {
                    margin: 0 15px;
                }
            }
        }

        .column.main {
            .block.related {
                margin-bottom: 50px;
            }
        }
    }
}

