// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@mobile-cart-padding: 15px;
@cart-price-color: @color-gray40;
@cart-item-cell-padding-top: 20px;

@checkout-button__background-color: #43c4ac;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    .checkout-cart-index {

        .page-title-wrapper {
            border-bottom: 1px solid @color-form-border;
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
            margin-bottom: @indent__xl;
            margin-top: 0;
            text-align: center;

            .page-title {
                margin-bottom: 0;
                letter-spacing: 0.4px;
            }
        }
        .rewards-notification-block{
            margin: 0;
        }
    }

    #gift-options-cart {
        clear: both;
        display: none;
    }

    //  Cart container
    .cart-container {
        &:extend(.abs-add-clearfix all);
        margin-bottom: 70px;
        .form-cart {
            &:extend(.abs-shopping-cart-items all);

            .action.update {
                min-width: 120px;
            }
        }
    }

    //  Summary block
    .cart-summary {
        &:extend(.abs-add-box-sizing all);
        margin-bottom: @indent__m;
        padding: 1px 0 @indent__m;

        > .title {
            background-color: #f0f0f0;
            display: block;
            .lib-font-size(14);
            line-height: 1.4285;
            letter-spacing: .02em;
            font-weight: @font-weight__bold;
            margin: 0;
            padding: 1rem 2rem 0.8rem;
            text-transform: uppercase;
        }

        .cart-summary-actions {
            border: 1px solid #ebebeb;
            margin-bottom: 2rem;

            .block {
                > .title {
                    border-bottom: 1px solid #ebebeb;
                    cursor: pointer;
                    display: block;
                    margin: 0;
                    padding: 1rem 2rem;
                    position: relative;
                    &:before {
                        .simple-icon();
                        .lib-font-size(18);
                        float: right;
                        content: @icon-simple__plus;
                        color: inherit;
                    }
                }

                &.active {
                    > .title {
                        &:before {
                            content: @icon-simple__minus;
                        }
                    }
                    > .content {
                        display: block;
                    }
                }

                > .content {
                    border-bottom: 1px solid #ebebeb;
                    display: none;
                    padding: 1rem 2rem;
                    position: relative;
                }

                &.shipping {
                    > .title,
                    > .content {
                        border-bottom: none;
                    }

                    &.active {
                        > .title {
                            border-bottom: 1px solid #ebebeb;
                        }
                    }
                }
            }
        }

        .block {
            .price {
                font-weight: @font-weight__bold;
            }

            .field {
                margin: 0 0 16px;

                &.note {
                    display: none;
                }
            }

            .actions-toolbar {
                > .primary {
                    margin-bottom: @indent__xs;
                    text-align: left;
                    width: 100%;
                    .action.primary {
                        &:extend(.abs-revert-to-action-secondary all);
                        width: 100%;
                    }
                }

                > .secondary {
                    text-align: left;
                }
            }

            .fieldset {
                .field.choice {
                    > input[type="checkbox"] {
                        + label {
                            &:before {
                                top: -2px;
                            }
                        }
                    }

                    > input[type="radio"] {
                        + label {
                            &:before {
                                top: 10px;
                            }
                            &:after {
                                margin-top: -10px;
                            }
                        }
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }

            &:extend(.abs-cart-block all);
            .title {
                strong {
                    font-weight: inherit;
                }
            }

            .item-options {
                margin: 0 0 16px;

                .field {
                    .radio {
                        float: left;
                    }

                    .radio {
                        + .label {
                            display: block;
                            margin: 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .page-main & {
            .block {
                margin-bottom: 0;
            }
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            margin: @indent__base 0 0;
            padding: 0;
            text-align: center;

            .action.primary.checkout {
                &:extend(.abs-button-l all);
                background-color: @checkout-button__background-color;
                border-color: @checkout-button__background-color;
                width: 100%;
            }

            .multicheckout {
                display: none;
            }

            .item {
                margin-bottom: @indent__m;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .message {
            padding-left: @indent__base;

            > *:first-child:before {
                display: none;
            }
        }

        &:extend(.abs-adjustment-incl-excl-tax all);

        .giftcard{
            .secondary{
                width: 100%;
                button{
                    border: 0;
                    background: transparent;
                    padding: 15px 0 0;
                    color: @color-black;
                    font-weight: normal;
                    text-decoration: underline;
                    width: 100%;
                    text-align: center;
                    .lib-font-size(12px);
                }
            }
            &.info {
                p {
                    margin-bottom: @p__margin-bottom;
                }
            }
        }
    }

    //  Totals block
    .cart-totals {
        border: 1px solid #ebebeb;
        &:extend(.abs-sidebar-totals all);

        .table-wrapper {
            margin: 0;
        }
        tbody,
        tfoot {
            .mark {
                font-weight: inherit;
                text-align: left;
                .value {
                    display: none;
                }
            }
            .amount {
                text-align: right;
                .price {
                    font-weight: @font-weight__bold;
                }
            }
        }
        tbody {
            tr {
                > th,
                > td {
                    border: none !important;
                    padding: 4px 20px;
                }
                &:first-child {
                    > th,
                    > td {
                        padding-top: 20px;
                    }
                }
            }
        }
        .grand {
            > th,
            > td {
                padding-bottom: 15px;
                padding-top: 15px;
            }
            .mark {
                font-size: 1.4rem;
                font-weight: @font-weight__bold;
                text-align: left;
                text-transform: uppercase;
            }
            .amount {
                text-align: right;
                .price {
                    font-size: 1.6rem;
                    font-weight: @font-weight__bold;
                }
            }
        }
    }

    .cart_payment {
        text-align: center;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        p.text {
            filter: alpha(opacity=20);
            opacity: .2;
            font-size: 1.1rem;
            margin-bottom: 2rem;
        }
    }
    .cart-payment-list {
        margin-bottom: 1rem;
        li {
            display: inline-block;
            margin: 0 1rem 1rem;
            line-height: 20px;
        }
        img {
            filter: alpha(opacity=20);
            opacity: .2;
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .cart {
                thead {
                    tr th.col {
                        border-bottom: @border-width__base solid @border-color__base;
                        font-weight: inherit;
                        padding-bottom: 5px;
                        padding-top: 0;
                    }
                }

                tbody {
                    td {
                        border: 0;
                    }
                }

                > .item {
                    border-bottom: @border-width__base solid @border-color__base;
                    position: relative;
                }

                .action-delete {
                    &:extend(.abs-action-button-as-link all);
                    right: 0;
                    .lib-icon-font(
                        @icon-trash__custom,
                        @_icon-font: @font__simple-line,
                        @_icon-font-size: 18px,
                        @_icon-font-line-height: 20px,
                        @_icon-font-text-hide: true,
                        @_icon-font-position: before,
                        @_icon-font-color: @minicart-icons-color,
                        @_icon-font-color-hover: @primary__color,
                        @_icon-font-color-active: @minicart-icons-color
                    );
                    &:before {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }
            }
            .action {
                text-decoration: none;

                &.action-edit {
                    font-size: 1.2rem;
                    letter-spacing: .025em;
                    .lib-link(
                        @_link-text-decoration: none,
                        @_link-text-decoration-visited: none,
                        @_link-text-decoration-hover: underline,
                        @_link-text-decoration-active: underline
                    );
                }
            }

            .col {
                padding-top: 15px;

                &.actions {
                    text-align: right;
                }
                &.thumbnail{
                    max-width: 85px;
                    width: 10%
                }
                &.price,
                &.subtotal,
                &.msrp,
                &.ations {
                    padding: 15px 11px @indent__xs;
                    text-align: center;
                    &:extend(.abs-incl-excl-tax all);
                }

                &.qty {
                    padding: @indent__base 11px @indent__xs;
                    text-align: center;

                    .label {
                        .lib-visually-hidden();
                    }

                    .input-text {
                        border: none;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                        height: auto;
                        text-align: center;
                        width: 60px;
                    }
                }

                > .price {
                    .lib-css(color, @primary__color__lighter);
                    .lib-font-size(18);
                    font-weight: @font-weight__bold;
                }

                .price-box, .price-excluding-tax {
                    margin: 0;
                }

                &.price {
                    .old-price {
                        .price {
                            display: block;
                            color: @color-light-grey;
                            text-decoration: line-through;
                        }
                    }
                }
            }

            .item-actions {
                td {
                    padding-bottom: 0;
                    padding-left: @mobile-cart-padding;
                    padding-right: @mobile-cart-padding;
                    white-space: normal;
                }
            }

            .item {
                .col.item {
                    display: block;
                    padding: 15px @table-cell__padding-horizontal @indent__s;
                    position: relative;
                }
            }

            .actions-toolbar {
                &:extend(.abs-add-clearfix all);
                min-height: 20px;
                padding-bottom: 15px;
                position: relative;
            }

            .action {
                margin-right: @indent__m;

                &.action-towishlist {
                    display: none;
                }

                &:last-child {
                    margin-right: 0;
                }

                &.help.map {
                    &:extend(.abs-action-button-as-link all);
                    font-weight: @font-weight__regular;
                }
            }

            .product {
                &-item-photo {
                    display: block;
                    left: 0;
                    max-width: 65px;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }

                &-item-name {
                    .lib-font-size(13);
                    font-weight: inherit;
                    display: block;
                    margin: -3px 0 @indent__xs;
                    text-transform: uppercase;
                    a {
                        text-decoration: none;
                    }
                }
            }

            .gift-registry-name-label {
                &:after {
                    content: ':';
                }
            }

            //  Product options
            .item-options {
                color: @color-light-grey;
                margin-bottom: 0;
                text-transform: capitalize;
                &:extend(.abs-add-clearfix all);
                dt {
                    clear: left;
                    float: left;
                    font-weight: inherit;
                    margin: 0 @indent__xs @indent__xs 0;

                    &:after {
                        content: ': ';
                    }
                }

                dd {
                    display: inline-block;
                    float: left;
                    margin: 0 0 @indent__xs;
                }
            }

            .product-item-name + .item-options {
                margin-top: @indent__xs;
            }

            .cart-tax-total {
                &:extend(.abs-tax-total all);
                &-expanded {
                    &:extend(.abs-tax-total-expanded all);
                }
            }

            .product-image-wrapper {
                &:extend(.abs-reset-image-wrapper all);
            }

            .action.configure {
                display: inline-block;
                margin: @indent__s 0 0;
            }

            .item .message {
                margin-top: @indent__base;
            }

            .qty-in-price {
                &:after {
                    content: ' x ';
                }
            }

            .col.price {
                .minimal-price-link,
                .price-excluding-tax,
                .price-including-tax {
                    display: inline;
                }
            }
        }
    }

    // Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            left: inherit;
            margin: @indent__m 0 15px;
            padding: 0;
            position: relative;
            text-align: center;
            top: inherit;
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    //  Discount
    .cart-discount {
        clear: left;
        &:extend(.abs-discount-block all);
    }

    //  Empty cart
    .cart-empty {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
        text-align: center;
         > p {
             max-width: 50%;
             margin:10px auto 25px;
         }

        .action.primary {
            text-transform: uppercase;
        }

        .block-products-list {
            margin-top: @indent__xl * 2;
            margin-bottom: @indent__xl;
        }
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: center;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .cart {
        .table.items {
            .col.item,
            .item-actions td {
                &:extend(.abs-col-no-prefix all);
            }

            .col.qty {
                text-align: center;
            }

            tbody > tr > td:last-child {
                &:extend(.abs-no-border-bottom-top all);
            }
        }
    }
    .cart-totals {
        .totals {
            &:extend(.abs-sidebar-totals-mobile all);
        }
    }

    .cart-summary {
        .cart_payment {
            .text {
                max-width: 100%;
            }
        }

        .cart-payment-list {
            display: block;
        }
    }

    //  Cart container
    body {
        .cart-container {
            .form-cart {
                .actions.main {
                    text-align: center;
                }
                .action.update {
                    width: 100%;
                }
            }
        }
    }

    .cart {
        &.table-wrapper {
            border-top: @border-width__base solid @border-color__base;
            thead {
                display: none;
                .col {
                    &.thumbnail,
                    &.item,
                    &.qty,
                    &.price,
                    &.subtotal,
                    &.msrp {
                        display: none;
                    }
                }
            }

            .cart.item {
                display: block;
                min-height: 110px;
                padding-left: 75px;
                position: relative;

                & + .item {
                    border-top: none;
                }
            }

            .col {
                &.thumbnail {
                    display: block;
                    padding: 0;
                    position: absolute;
                    top: 15px;
                    left: 0;
                    width: 65px;

                    .product-image-container {
                        display: block;
                    }
                }

                &.qty {
                    display: none;
                }

                &.subtotal {
                    float: right;
                }

                &.price,
                &.subtotal,
                &.msrp {
                    display: block;
                    padding-bottom: 3px;
                    padding-top: 3px;
                    text-align: left;
                }

                &.price {
                    display: inline-block;
                }

                &.msrp {
                    white-space: normal;
                }

                &.actions {
                    display: none;
                }
            }

            .item .col.item {
                padding-bottom: 0;
            }

            .item-info,
            .item-actions {
                display: block;
                td {
                    padding-left: @table-cell__padding-horizontal;
                }
            }

            .item-actions-inner {
                padding: 0;
            }

            .actions-toolbar {
                margin: 0 0 @indent__s;
                padding: 0 0 @indent__s;
            }

            .product-item-details {
                .lib-clearfix();
                .action-delete {
                    float: right;
                    margin: 0 0 0 10px;
                }
            }

            tbody > tr > td:last-child {
                border: 0;
            }
        }

        &-empty {
            .action{
                width: 100%;
            }
            .block-products-list{
                margin-top: 25px;
            }
        }
    }

    .cart-totals {

        .table-wrapper {
            border-top: 0;
        }

        .totals {
            tbody > tr:not(:last-child) > td:last-child {
                border: 0;
            }
        }
    }

    .page-main{
        .cart-summary {
            .block {
                &.discount,
                &.giftcard {
                    .label{
                        display: none;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {

    .checkout-cart-index {

        .page-title-wrapper {
            margin-bottom: 0;
            margin-top: @indent__m;
            border-bottom: 0;
            .page-title {
                margin-bottom: @indent__l;
                .lib-font-size(18);
            }
        }
        .page-main{
            padding-top: 0;

        }
    }

    .cart{
        &.table-wrapper {
            .col.thumbnail {
                .product {
                    &-item-photo {
                        display: block;
                        max-width: 100%;
                        position: static;
                        vertical-align: top;
                        width: 80px;

                        .product-image-container {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    //  Cart container
    .cart-container {
        margin-bottom: 30px;
        .form-cart {
            .actions.main {
                text-align: left;
            }
            .action.update {
                width: auto;
            }
        }
    }

    .cart-payment-list {
        display: inline-block;
    }

    .cart_payment {
        margin-top: 25px;
        .text {
            display: block;
            text-align: center;
            max-width: 50%;
            margin: 0 auto 2rem;
        }
    }

    //  Empty cart
    .cart-empty {
        > p {
            max-width: 90%;
        }
    }

    .block.crosssell {
        margin-top: 25px;
        .block-title {
            margin-bottom: 20px;
        }
    }
    .cart-summary{
        margin-bottom: 0;
        padding: 1px 0 15px;
    }

}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Cross sell
    .checkout-cart-index {
        .block {
            &.crosssell {
                margin-top: 70px;
                max-width: 950px;
                overflow: hidden;
                .block-title {
                    margin-bottom: 35px;
                    text-align: center;
                    h1 {
                        letter-spacing: .03em;
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .page-main{
        .cart-summary{
            .block{
                &.discount,
                &.giftcard
                {
                    &.active{
                        .title{
                            min-height: 41px;
                        }
                        strong{
                            display: none;
                        }
                    }

                    .field {
                        .lib-clearfix();
                    }

                    .label {
                        display: block;
                        float: left;
                        width: 30%;
                        padding: 11px 10px 0 0;
                    }

                    .control{
                        float: left;
                        width: 70%;
                    }
                    .actions-toolbar {
                        padding: 0 0 0 30%;
                    }
                    .actions-toolbar{
                        .primary{
                            text-align: left;

                            button{
                                max-width: 192px;
                                padding-left: 5px;
                                padding-right: 5px;
                                text-align: center;
                            }
                        }

                        .secondary {
                            text-align: left;

                            button {
                                width: auto;
                                padding: 0;
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .checkout-cart-index {

        .page-title-wrapper {
            &:extend(.abs-revert-side-paddings all);
            margin-bottom: 40px;
        }
    }

    .cart-container {
        .form-cart {
            .actions.main {
                text-align: right;
            }
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            tbody td {
                padding-top: @cart-item-cell-padding-top;
            }

            .item {
                .col.item {
                    padding: @cart-item-cell-padding-top 8px @indent__s 0;
                }

                .qty-in-price {
                    display: none;
                }
            }

            .item-actions td {
                padding: 0;
            }

            .product {
                &-item-photo {
                    display: block;
                    max-width: 100%;
                    position: static;
                    vertical-align: top;
                    width: 80px;

                    .product-image-container {
                        display: block;
                    }
                }
            }
        }
    }

    // Products pager
    .cart-products-toolbar {
        margin: 2px 0 0;

        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: @indent__s;
                            padding-top: @indent__s;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }

    //  Empty cart
    .cart-empty {
        &:extend(.abs-revert-side-paddings all);
    }
    .checkout-cart-index {
        .block {
            &.crosssell {
                .products-grid {
                    .product-items {
                        li.item.product-item {
                            .lib-layout-column(12, 1, 3);
                            .lib-column-gutter(12);
                            &:nth-of-type(4n + 4){
                                margin-right: 0;
                            }
                            &.slick-slide{
                                margin: 0 5px;
                                &:nth-of-type(4n + 4){
                                    margin: 0 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .page-main{
        .cart-summary {
            .block {
                &.discount,
                &.giftcard {
                    .field{
                        label.label{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}


//
//  Desktop ls
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    //  Cart container
    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            .lib-layout-column(2, 1, @layout-column-checkout__width-main);
            &:extend(.abs-add-box-sizing-desktop all);
            padding-right: 4%;
            position: relative;
        }

        .widget {
            float: left;
        }
    }

    //  Cross sell
    .block {
        &.crosssell {
            .lib-layout-column(2, 1, @layout-column-checkout__width-main);
            &:extend(.abs-add-box-sizing-desktop all);
            padding: 0 4% 0 0;
        }
    }

    //  Summary block
    .cart-summary {
        .lib-layout-column(2, 2, @layout-column-checkout__width-left);
        padding: 1px 0 @indent__m 0;
        position: relative;

        > .title {
            display: block;
        }

        .fieldset {
            .actions-toolbar {
                margin-left: 0;

                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            > .title {
                padding-left: 0;

                &:after {
                    right: 3px;
                }
            }

            .content {
                &:extend(.abs-revert-side-paddings all);
            }

            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);
                    margin: 0 0 @indent__s;
                }
            }
        }

        .checkout-methods-items {
            padding: 0;
        }
    }
}