// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: 20px;

@minicart-qty__height: 25px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
        box-shadow: 0px -1px 4px -1px @color-light-grey;
        #minicart-content-wrapper{
            position: relative;
            &:before{
                content: '';
                position: absolute;
                top: -8px;
                display: block;
                right: 19px;
                .triangle(top, 16px, 8px, @color-white);
            }
        }
        .items-total {
            float: left;
            margin: 0 11px;
            .lib-font-size(12);
            line-height: 23px;
            letter-spacing: 0.25px;
            text-transform: uppercase;
            color: @color-black;
            > span {
                font-weight: @font-weight__bold;
            }
        }
        .subtotal {
            text-align: right;
            font-size: 1.5rem;
            margin: 0;
            padding: 0 11px;
            .label, .amount{
                color: @color-black;
                display: inline;
                .lib-font-size(12);
                font-weight: @font-weight__bold;
                line-height: 20px;
                letter-spacing: 0.25px;
                text-transform: uppercase;
            }
        }
        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        .lib-font-size(12);
                        line-height: 20px;
                        letter-spacing: 0.25px;
                        color: @color-black;
                    }
                }
            }
        }

        .subtitle {
            display: none;

            &.empty {
                display: block;
                font-size: 14px;
                padding: @indent__l 0 @indent__base;
                text-align: center;
            }
        }

        .text {
            display: none;
        }

        .block-content {
            > .actions {
                .lib-clearfix();
                width: 100%;
                padding: 11px;

                > .secondary {
                    border-top: 1px solid @color-border;
                    padding-top: 10px;
                    text-align: center;
                    a{
                        text-transform: uppercase;
                        text-decoration: none;
                        line-height: 26px;
                        display: block;
                        width: 100%;
                        font-weight: @font-weight__bold;
                        .lib-font-size(13);
                        &:hover{
                            color: @color-light-grey;
                        }
                    }
                }

                > .primary {
                    margin: 0;
                    align-self: flex-end;
                    order: 2;
                    display: inline;
                    max-width: 170px;
                    width: 100%;
                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                            background: @color-cart-action;
                            border: 1px solid @color-cart-action;
                            display: inline-block;
                            width: 100%;
                            margin: 0;
                            .lib-font-size(14);
                            line-height: 20px;
                            letter-spacing: 0.25px;
                            font-weight: @font-weight__bold;
                            padding: 4px 15px;
                            &:hover{
                                background: @color-light-grey;
                                border: 1px solid @color-light-grey;
                                color: @color-white;
                            }
                        }
                    }
                }

                .paypal-logo {
                    display: none;
                    margin-top: 15px;
                    text-align: center;
                }
            }
        }

        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }

    .minicart-wrapper {

        .lib-dropdown(
        @_toggle-selector: ~'.action.showcart',
        @_options-selector: ~'.block-minicart',
        @_dropdown-list-item-padding: false,
        @_dropdown-list-item-hover: false,
            @_dropdown-list-border: 0,
            @_dropdown-list-shadow: none
        );
        &.active{
            max-width: 50px;
        }
        text-align: right;
        float: right;
        .block-minicart {
            .lib-css(padding, 0);
            right: 0;
            width: 320px;

            .block-title {
                display: none;
            }

            &:before, &:after{
               display: none;
            }
        }
        .product {
            .actions {
                width: 96px;
                float: right;
                text-align: right;
                padding-right: 0;
                position: absolute;
                right: -4px;
                bottom: 10px;
                > .primary,
                > .secondary {
                    display: inline;

                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
        }

        .action {
            &.close {
                height: 40px;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                .lib-button-reset();
                .lib-button-icon(
                    @icon-remove,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-size: 16px,
                    @_icon-font-line-height: 16px,
                    @_icon-font-text-hide: true
                );
            }

            &.showcart {
                white-space: nowrap;
                position: relative;
                line-height: 13px;
                height: 40px;
                &:before{
                    .simple-icon();
                    content: @icon-simple__bag;
                    .lib-font-size(23);
                    line-height: 40px;
                }
                &:after{
                    content: '';
                    display: none !important;
                }
                .text {
                    display: none;
                }

                .counter.qty {
                    .lib-css(color, @color-white);
                    margin: 0 0 0 2px;
                    background: @color-white;
                    border-radius: 50%;
                    /* Center the text contents */
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.20em;
                    min-height: 21px;
                    min-width: 21px;
                    top: -7px;
                    position: relative;
                    &:after {
                        content: '';
                        display: block;
                        /* Ensure the element is a square */
                        height: 0;
                        width: 100%;
                        padding-bottom: 100%;
                    }
                    span.counter-number{
                        .lib-font-size(13);
                        color: @color-black;
                        overflow: visible;
                        height: 0;
                        min-width: 100%;
                        text-align: center;
                        /* Vertically center text since we set its height to 0 */
                        margin-top: -1em;
                    }
                    &.empty {
                        display: none;
                    }

                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                }

                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }
                &.active{
                    &:after{
                        content: '';
                        width: 24px;
                        height: 2px;
                        display: block !important;
                        position: absolute;
                        left: 6px;
                        bottom: -8px;
                    }
                }
            }
        }

        .minicart-widgets {
            margin-top: 0;
        }
    }

    .minicart-items-wrapper {
        .lib-css(margin, 0);
        border-left: 0;
        border-right: 0;
        padding: 5px 11px;
        height: auto!important;
        &.scroll {
          overflow-x: auto;
          max-height: 320px;
            &::-webkit-scrollbar {
                width: 4px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 3px;
                background-color: #b6b6b8;
            }

        }
    }

    .minicart-items {
        .lib-list-reset-styles();
        .product-item {
            padding: 15px 0 10px;
            border-bottom: 1px solid @color-border;
            .product-item-details{
                .lib-clearfix();
            }
            &:first-child {
                padding-top: 0;
            }
            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
            }
            > .product {
                &:extend(.abs-add-clearfix all);
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
        .price-container{
            float: right;
            .price{
                font-weight: normal;
                .lib-font-size(13);
            }
        }
        .original-price{
            float: right;
            clear: right;
            .price{
                color: #999;
                text-decoration: line-through;
                font-weight: normal;
            }
        }
        .product-item-pricing {
            clear: right;
            margin-top: 5px;
            width: 95%;
            float: left;
            position: relative;
            .item_qty {
                float: left;
                font-size: 1.4rem;
                margin-right: 6px;
                color: #000;
            }
            .label {
                display: inline-block;
                width: 2.6rem;
            }

            .minicart-price{
                .qty{
                    .lib-font-size(14);
                    color: @color-black;
                    &:after{
                        content: 'X';
                        .lib-font-size(12);
                        color: inherit;
                        display: inline-block;
                        margin: 0 2px 0 3px;
                    }
                }

            }
            .minicart-old-price{
                .price{
                    font-weight: normal;
                    text-decoration: line-through;
                }
            }
            .item-price-total{
                float: right;
                .price{
                    .lib-font-size(16);
                    font-weight: normal;
                }
            }
        }

        .price-minicart {
            margin-bottom: @indent__xs;
        }
        .product-item-brand{
            .lib-font-size(11);
            line-height: 18px;
            letter-spacing: 0.20px;
            color:@color-light-grey;
            text-transform: capitalize;
        }
        .product-item-name {
            font-weight: @font-weight__regular;
            margin: 0;
            padding: 0;
            a {
                .lib-css(color, @color-black);
                text-decoration: none;
                .lib-font-size(13);
                line-height: 18px;
                text-transform: uppercase;
                letter-spacing: -0.25px;
            }
        }
        .product.options, .product.attribute{
            margin-bottom: 5px;
            span, li{
                .lib-font-size(14);
                letter-spacing: -0.25px;
            }
        }
        .product.options{
            float: left;
            dt, dd, dd span{
                display: inline-block;
               .lib-font-size(13);
                line-height: 20px;
                letter-spacing:0.4px;
                color: @color-light-grey;
                font-weight: normal;
                margin: 0;

                &:first-letter {
                    text-transform: capitalize;
                }
            }
            dt {
                margin-top: 10px;
                display: block;
            }
            .qty,
            .multiply{
                color: @color-black;
            }
        }
        .product.attribute{
            li{
                display: inline-block;
                &:after{
                    content: '|';
                    display: inline-block;
                    .lib-font-size(14);
                    font-weight: 100;
                    margin-left: 5px;
                }
                &:last-child{
                    &:after{
                        display: none;
                    }
                }
            }
        }
        .product-item-details {
            padding-left: 95px;
            text-align: left;
            position: relative;
            .price {
                font-weight: @font-weight__bold;
            }

            .price-including-tax,
            .price-excluding-tax {
                margin: 0 0 @indent__xs;
            }

            .weee[data-label] {
                .lib-font-size(11);
                .label {
                    &:extend(.abs-no-display all);
                }
            }

            .details-qty {
                margin-top: 6.5px;
                .update-cart-item{
                    background: #ededed;
                    color: #000;
                    border: 0;
                    font-size: 12px;
                    text-transform: none;
                    font-weight: normal;
                    padding: 6px 9px;
                    margin: 6px 0;
                }
            }
        }

        .product {
            > .product-item-photo,
            > .product-image-container {
                float: left;
            }

            .toggle {
                &:extend(.abs-toggling-title all);
                &:after {
                    .lib-css(color, @color-gray56);
                    margin: 0 0 0 @indent__xs;
                    position: static;
                }
                border: 0;
                padding: 0 @indent__xl @indent__xs 0;
            }

            .active {
                > .toggle {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }

            &.pricing {
                margin-top: 3px;
            }

            &.options {
                .toggle {
                    &.tooltip {
                        .lib-icon-font(
                        @icon-down,
                        @_icon-font-size: 12px,
                        @_icon-font-line-height: 12px,
                        @_icon-font-text-hide: true,
                        @_icon-font-margin: -3px 0 0 7px,
                        @_icon-font-position: after
                        );
                    }
                    > span {
                        &:extend(.abs-visually-hidden-reset all);
                    }
                }

                .details {
                    display: none;
                }
            }
        }

        .product-item-photo {
            margin-right: 15px;
        }

        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }

        .item-qty {
            margin-right: @indent__s;
            text-align: center;
            width: 40px;
            border-radius: 50%;
            margin-left: 3px;
            padding: 0 3px;
        }

        .update-cart-item {
            .lib-font-size(11);
            vertical-align: top;
        }

        .subtitle {
            display: none;
        }

        .action {
            &.edit,  &.delete  {
                .lib-font-size(12);
                text-decoration: none;
                letter-spacing: 0.4px;

                &:hover{
                    span {
                        text-decoration: underline;
                    }
                }
            }
            &.delete {
                &:before{
                    content: ' | ';
                    display: inline-block;
                    margin: 0 3px;
                    text-decoration: none;
                }
            }
        }
    }

    //
    //  Shipping Counter
    //  ---------------------------------------------

    .shipping-counter {
        border: 1px solid @color-form-border;
        color: #43c4ac;
        display: inline-block;
        padding: 12px 0 11px;
        margin: 20px 11px 8px;
        position: relative;
        text-align: center;
        text-transform: none;
        vertical-align: middle;
        max-width: 350px;
        width: 100%;

        strong {
            font-family: @font__swiss;
            font-weight: 400;
        }

        > div {
            display: inline-block;
            position: relative;
            padding-left: 27px;

            &:before {
                content: @icon-simple__truck;
                font-family: @font__simple-line;
                .lib-font-size(13);
                margin-top: -1px;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        .cart-summary & {
            padding: 10px 0 8px;
            margin: 0 0 20px;

            > div {
                &:before {
                    top: auto;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .minicart-wrapper .block-minicart {
        margin-top: 22px;
        right: -15px;
        width: 99vw;
        max-width: 375px;
    }
    .minicart-wrapper{
        margin-top: 0;
        margin-right: 2px;
    }
    .shipping-counter{
        margin: 10px;
        width: 95%;
        box-sizing: border-box;
    }
    .minicart-wrapper {
        .action.showcart {
            .counter.qty {
                position: absolute;
                bottom: 13px;
                left: 9px;
                min-width: 16px;
                min-height: 16px;
                top: auto;
                span.counter-number{
                    .lib-font-size(12);
                    margin-top: -0.8em;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .minicart-wrapper {
        .block-minicart {
            .block-content{
                padding-top: 15px;
            }
            .subtotal {
                border-bottom: none;
            }
            .block-content {
                >.actions {
                    -webkit-box-pack: start;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                    .primary {
                        .action {
                            &.primary {
                                line-height: 31px;
                            }
                        }
                    }
                }
            }
            .product.actions {
                background-color: transparent;
            }
        }
    }

    .shipping-counter {
        max-width: 100%;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .minicart-wrapper {
        margin-left: 13px;
        float: none;
        vertical-align: top;
        display: inline-block;
        
        .block-minicart {
            right: -15px;
            width: 375px;
            margin-top: 16px;

            .product-item-name {
                max-width: 250px;
            }
            .subtotal {
                border-bottom: 0;
            }
            .block-content {
                padding: 15px 0 0;
                >.actions {
                    .secondary {
                        a {
                            line-height: 34px;
                        }
                    }
                    .primary {
                        .action {
                            &.primary {
                                line-height: 31px;
                            }
                        }
                    }
                }
            }
            .product {
                &.actions {
                    background-color: transparent;
                }
            }

            .product-item {
                .product {
                    cursor: default;
                }
            }
        }
        .action.showcart{
            &.active{
                &:after{
                    width: 24px;
                    height: 2px;
                    left: 7px;
                    bottom: -5px;
                }
            }
        }
    }

    .minilist .action.delete,
    .minicart-wrapper .action.edit {
        .lib-icon-font-size(
            @_icon-font-size: 16px
        );
    }
}
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__l){
    .minicart-wrapper {
        .block-minicart {
            width: 375px;
            right: -13px;
            margin-top: 22px;
            border-top: none;
        }
    }
}