<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Create account form template
 *
 * @var $block \Magento\Customer\Block\Form\Register
 */
?>
<?php echo $block->getChildHtml('form_fields_before') ?>
<?php /* Extensions placeholder */ ?>
<?php echo $block->getChildHtml('customer.form.register.extra') ?>
<?php /* Register form - new design */ ?>
<div class="create-account-wrapper">
    <div class="create-account-top">
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('b2b_register_form_logo')->toHtml(); ?>
    </div>
    <div class="create-account-title">
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('b2b_register_description')->toHtml(); ?>
    </div>
    <div class="create-account-form">
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('b2b_register_form')->toHtml(); ?>
    </div>
</div>