//
//  General
//  _____________________________________________

& when (@media-common = true) {

    .creditcard-form {
        .action {
            background: @color-grey;
            color: @color-white;
            margin-top: @box-spacing;
        }

        .field-tooltip {
            float: left;
            top: 0;
        }

        .fieldset {
            margin: 0;
        }

        .form-field {
            margin-top: @box-spacing;

            &.cvv, &.date {
                .hosted-control {
                    float: left;
                    width: 120px;

                    &.year {
                        margin-left: @box-spacing-large;
                    }
                }
            }

            &.required {
                .field-label {
                    &:after {
                        color: @color-red;
                        content: "*";
                        margin-left: 3px;
                    }
                }
            }
        }

        .hosted-error {
            margin-top: 0;
        }

        .field-label {
            display: block;
        }
    }

}

//
//  Tablet
//  _____________________________________________

.media-width (@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {

    .form.creditcard-form {
        .action {
            max-width: 180px;
        }

        .field-control {
            margin-left: 30%;
        }

        .form-field {
            margin-top: @box-spacing-large;
        }

        .field-label {
            float: left;
            line-height: @form-field-height;
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width (@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {

    .form.creditcard-form {
        width: 75%;
    }

}
