//
//  General
//  _____________________________________________

& when (@media-common = true) {

    .checkout-index-index .page-wrapper {
        .page-header {
            .content {
                padding: @box-spacing-large;
            }

            .logo {
                float: none;
                margin: 0 auto;
                position: static;
                width: 110px;
            }

            .nav-toggle {
                display: none;
            }
        }

        .page-top-section {
            display: none;
        }

        .opc-progress-bar {
            border-bottom: 1px solid @color-border;
            padding-bottom: @box-spacing-large;

            .opc-progress-bar-item {
                span {
                    .lib-font-size(22);
                    color: @color-grey;
                    font-weight: normal;
                    line-height: 1;
                }
            }
        }
    }

}

//
//  Tablet
//  _____________________________________________

.media-width (@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

    .page-layout-checkout.checkout-index-index .page-wrapper {
        .opc-progress-bar {
            margin: 0 !important;  //  to overrivede parent theme's important
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width (@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .page-layout-checkout.checkout-index-index .page-wrapper {
        .page-header {
            .content {
                align-items: center;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                padding-bottom: 45px;
                padding-top: 45px;

                &:before, &:after {
                    display: none;
                }

                .cart-link {
                    position: static;
                }

                .logo {
                    margin: 0;
                    width: auto;
                }
            }
        }

        .page-top-section {
            display: block;
        }

        .opc-progress-bar {
            position: relative;
            margin: 66px 0 29px;
            padding-bottom: 40px;

            .opc-progress-bar-item {
                margin: 0 10px;
                position: static;
                font-weight: @font-weight__bold;
                width: 22px;

                &:before {
                    display: block;
                    color: @color-grey;
                    border: 2px solid @color-border;
                    font-size: 1.2rem;
                    height: 22px;
                    line-height: 18px;
                    width: 22px;
                    border-radius: 50%;
                    content: counter(i);
                    counter-increment: i;
                }
                > span {
                    display: none;
                }

                &._active {
                    > span {
                        display: block;
                        position: absolute;
                        top: -55px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: auto;
                        color: @color-grey;
                        padding: 0;
                        .lib-font-size(28);
                        font-weight: @font-weight__regular;

                        &:before {
                            display: none;
                        }
                    }

                    &:before {
                        border-color: @color-grey;
                        background: @color-grey;
                        color: @color-white;
                    }
                }
            }
        }
    }

}
