//
//  General
//  _____________________________________________

& when (@media-common = true) {

    .checkout-index-index .checkout-container {
        .payment-group {
            .actions-toolbar {
                padding: 0 0 0 11px;
            }

            .field.choice.choice {
                .lib-clearfix();

                .label {
                    font-weight: @font-weight__bold;
                }
            }

            .label {
                float: left;
                width: 100%;

                .payment-icon {
                    float: right;
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                }
            }
        }

        .checkout-payment-method {
            .payment-methods {
                margin: 0;
            }

            .payment-method {
                border-bottom: 1px solid @color-border;

                .payment-method-title {
                    border: 0;
                    padding: 26px 0 23px;
                    .lib-font-size(14);
                }

                .fieldset {
                    .field.payment-option-title {
                        padding: 14px 7px 13px 0;
                        .lib-font-size(12);

                        .action-toggle {
                            text-transform: uppercase;
                            display: block;

                            &:after {
                                float: right;
                            }
                        }
                    }

                    .payment-option {
                        &._collapsible {
                            .payment-option-content {
                                padding-left: 0;
                            }
                        }
                    }
                }

                .payment-method-content {
                    padding: 0 0 30px;

                    > .actions-toolbar {
                        > .primary {
                            .action.primary.primary {
                                border-color: @color-grey;
                                background: @color-grey;
                                color: @color-white;

                                &:hover {
                                    background: @color-white;
                                    border-color: @color-grey;
                                    color: @color-grey;
                                }
                            }
                        }
                    }
                }
            }

            .checkout-billing-address {
                .billing-address-details {
                    padding: 0 0 0 31px;
                }
            }
        }

        .form.payments {
            .fieldset {
                .field.choice {
                    margin: 0;
                }
            }

            .actions-toolbar {
                .action {
                    height: auto;
                    line-height: 17px;
                    padding-top: 10px;
                    padding-bottom: 9px;
                    background: @color-white;
                    color: @color-grey-red;
                    border-color: @color-grey-red;
                }
            }
        }

        .opc-payment-additional.giftcardaccount {
            border-bottom: 1px solid @color-border;
        }

        .payment-method {
            .input-text {
                width: 100%;
            }

            .form {
                .field {
                    .year {
                        padding-left: @box-spacing * 2;
                    }
                }

                [for="braintree_enable_vault"] + .field-tooltip {
                    .field-tooltip-action {
                        &:before {
                            top: -19px;
                        }
                    }
                }

                .field-tooltip {
                    display: inline-block;
                    margin: 0 0 0 @box-spacing-large / 2;
                    position: relative;

                    .field-tooltip-action {
                        &:before {
                            .lib-font-size(13);
                            .lib-line-height(17);
                            background: none;
                            color: @color-grey;
                        }
                    }

                    .field-tooltip-content {
                        color: inherit;
                        left: 0;
                        margin-top: 28px;
                        top: auto;
                        transform: translateX(-50%);
                        white-space: normal;

                        &:after {
                            display: none;
                        }

                        &:before {
                            content: "";
                            display: block;
                            left: 50%;
                            top: -12px;
                            border-bottom-color: @color-light-grey2;
                            border-right-color: transparent;
                        }
                    }
                }
            }
        }

        .payment-method-title {
            padding: @box-spacing-large 0;

            .label {
                padding: 0 0 0 @box-spacing * 2;
            }

            &.field.choice .label {
                box-sizing: border-box;
                background-size: auto 18px;
                background-position: right 5px center;
                width: 100%;
                &[for="afterpaypayovertime"] {
                    background-image: url(../images/payment/afterpay.svg);
                    background-repeat: no-repeat;
                    box-sizing: border-box;
                    background-size: auto 180px;
                    background-position: right 5px center;
                    img {
                        display: none !important;
                    }
                }
                &[for="zipmoneypayment"] {
                    background-image: url(../images/payment/zip-money.svg);
                    background-repeat: no-repeat;
                    box-sizing: border-box;
                    background-size: auto 120px;
                    background-position: right 5px center;
                    img {
                        display: none !important;
                    }
                }
                &[for="braintree_paypal"] {
                    background-size: auto 150px !important;
                }
                &[for="braintree"] {
                    background-image: url(../images/payment/mastercard.svg);
                    background-repeat: no-repeat;
                    box-sizing: border-box;
                    background-size: auto 70px;
                    background-position: right 5px center;
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 60px;
                        height: 25px;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 52px;
                        background-image: url(../images/payment/visa.svg);
                        background-repeat: no-repeat;
                        box-sizing: border-box;
                        background-size: auto 120px;
                        display: inline-block;
                        background-position: top -49px left -18px;
                        margin: 0px;
                        left: auto;
                        background-color: transparent;
                        margin: 0px;
                        padding: 0px;
                        border-radius: 0px;
                    }
                }
                img {
                    height: 22px;
                    line-height: 1;
                    margin: 0;
                    position: absolute;
                    right: 0;
                    width: auto;
                }
            }
        }

        .payment-option-title {
            text-transform: uppercase;

            &[aria-selected="true"] {
                &:after {
                    content: @font-awesome-up;
                }
            }
        }

        div.payment-method-billing-address input[type="checkbox"] + label {
            display: inline-block;
            margin-bottom: @box-spacing;
            padding: 0 0 0 @box-spacing * 2;

            &:before {
                top: 0;
            }
        }

        .payment-method-billing-address {
            input[type="checkbox"][name="billing-address-same-as-shipping"] + label {
                &:before {
                    top: 9px;
                }
            }
            .action-help span{
                padding-left: 30px;
            }
        }

        .payment-method-content {
            p {
                margin: 0;
            }
            .actions-toolbar {

                .primary:not(button){
                    margin-top: 15px;
                }
            }
        }

        .checkout-billing-address {
            margin: 0;
        }
    }

    .checkout-agreements-block {
        display: none;
    }

}

//
//  Mobile
//  _____________________________________________

.media-width (@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

    .page-layout-checkout.checkout-index-index .checkout-container {
        #zipmoney-learn-more {
            display: block !important;  //  to override default important

            span {
                padding: 0;
            }
        }
    }

}



//
//  Mobile & Tablet
//  _____________________________________________

.media-width (@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

    .checkout-index-index .checkout-container {
        .opc-payment {
            padding: @box-spacing-large 0;
        }

        .payment-methods {
            border-top: 1px solid @color-border;
        }
    }

}

//
//  Tablet
//  _____________________________________________

.media-width (@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .payment-method-braintree-block {
        padding-left: 0;
    }
}

.media-width (@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

    .checkout-index-index .checkout-container {
        .checkout-payment-method {
            .discount-code,
            .giftcardaccount {
                display: none;
            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width (@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .page-layout-checkout.checkout-index-index .checkout-container {
        .checkout-payment-method {
            .discount-code,
            .giftcardaccount {
                .action-toggle {
                    display: block;

                    &:after {
                        .lib-line-height(24px);
                        float: right;
                    }
                }

                .actions-toolbar {
                    margin: 0 0 0 55%;
                    padding-left: @box-spacing-large;

                    .action {
                        .lib-font-size(13);
                        font-weight: normal;
                        min-width: 0;
                    }

                    > .primary,
                    > .secondary {
                        float: left;
                        margin-right: @box-spacing-large;
                    }
                }

                .control {
                    margin-left: 30%;
                }

                .label {
                    float: left;
                    line-height: @form-field-height;
                }

                .payment-option-content {
                    padding: 0;
                }

                .payment-option-inner {
                    float: left;
                    width: 55%;
                }

                .payment-option-title {
                    padding-left: 0;

                    &:after {
                        display: none;
                    }
                }
            }
        }

        .payment-group {
            &:first-child {
                .payment-method {
                    &:first-child {
                        .payment-method-title {
                            padding-top: 0;
                            margin-top: -3px;
                        }
                    }
                }
            }
        }
        .payment-method {
            &.field.choice .label {
                background-size: auto @box-spacing-large;

                img {
                    height: @box-spacing-large;
                    width: auto;
                }
            }
        }
    }

}
