//
//  General
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Order Summary
    //  ---------------------------------------------

    .checkout-container {
        .opc-block-summary {
            .table-totals {
                margin-bottom: 0;
                .totals-tax {
                    bottom: 0;
                    left: 0;
                    position: relative;
                    th.mark {
                        float: none;
                    }
                    td.amount{
                        float: none;
                    }
                }
            }
        }
    }
    .checkout-index-index .page-wrapper .checkout-container {
        .opc-block-summary {
            background: none;
            border: none;
            padding: 0;
            margin: 0;

            > .title {
                font-weight: @font-weight__bold;
                color: @color-dark-brown1;
                display: block;
                text-transform: uppercase;
                background: @color-light-grey4;
                padding: @box-spacing-large / 2 @box-spacing-large;
            }

            .payment-option {
                &.giftcardaccount {
                    padding: 0;
                    border: 0;
                    position: static;
                }

                &.discount-code,
                &.giftcardaccount {
                    div.payment-option-title {
                        border: 0;

                        &:after {
                            font-family: @font-awesome !important;
                            content: @font-awesome-down;
                        }
                    }
                }
            }
        }

        .opc-summary-wrapper {
            border: 1px solid @color-border;
            padding: 0;
            width: 100%;

            .action-apply, .action-add {
                .lib-font-size(13);
                background: none;
                color: @color-grey-red;
                font-weight: normal;
                line-height: 1;
            }
        }

        .items-in-cart {
            .label, .values {
                display: inline-block;
            }

            .label {
                color: inherit;
                text-transform: capitalize;
                color: @color-light-grey;
            }

            .title {
                border: none;
                margin: 0;
                padding: @box-spacing-large / 2 @box-spacing-large;

                &:after {
                    line-height: 1;
                    margin: 0;
                    right: @box-spacing;
                    top: 50%;
                    transform: translateY(-50%);
                }

                strong {
                    color: @color-grey-red;
                }
            }
        }

        .product-item {
            .product-item-name-block {
                .product-item-name {
                    text-transform: none;
                    line-height: 17px;
                }
            }
        }

        .content.minicart-items {
            padding: 0;

            .label, .values {
                line-height: 1;
            }

            .values {
                text-transform: capitalize;
            }
        }

        .minicart-items  {
            .product-item-details {
                .product.options {
                    width: 100%;
                }

                .values {
                    .price {
                        font-weight: @font-weight__regular;
                        display: block;
                    }
                }

              .item-options div {
                  line-height: 1;
                padding: 5px 0 0;
              }
            }
        }

        .minicart-items-wrapper {
            padding: 20px;
            margin: 0;
            max-height: none;

            .details-qty {
                color: @color-light-grey;

                .label {
                    text-transform: capitalize;
                }

                .value {
                    text-transform: capitalize;
                }

            }
        }

        .table-totals {
            border: 0;

            > tbody {
                border-top: none;

                > tr {
                    &:not(.grand) {
                        > th,
                        > td {
                            border: none;
                            padding: 0 @box-spacing-large;
                        }
                    }

                    &:first-child {
                        th,
                        td {
                            padding-top: 14px;
                        }
                    }

                    &:nth-last-child(2) {
                        th,
                        td {
                            padding-bottom: 15px;
                        }
                    }

                    &.grand {
                        th {
                            text-transform: uppercase;
                        }

                        th,
                        td {
                            padding-top: 16px;
                            padding-bottom: 13px;
                            color: @color-dark-brown1;
                            border-top: 1px solid @color-border;
                        }
                    }
                }
            }

            th {
                font-weight: @font-weight__regular;
                padding: 0 10px 0 20px;
            }

            td {
                text-align: right;
                padding: 0 20px 0 10px;
            }

            + .items-in-cart {
                > .title {
                    padding-right: 0;
                    padding-left: 0;
                    margin: 0 20px -1px;
                    border-top: 1px solid @color-border;
                }
            }

            .shipping .value {
                display: none;
            }
        }

        .items-in-cart {
            .label {
                color: inherit;
                text-transform: capitalize;
                color: @color-light-grey;
            }

            .title {
                border-bottom: 0;
                border-top: none;
                margin: 0 @box-spacing-large;
                padding: @box-spacing-large / 2 @box-spacing-large;

                &:after {
                    content: @font-awesome-down;
                    font-family: @font-awesome;
                    line-height: 1;
                    margin: 0;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                strong {
                    color: @color-grey-red;
                }
            }

            &.active {
                .title {
                    &:after {
                        content: @font-awesome-up;
                    }
                }
            }

            .minicart-items-wrapper {
                border-top: 1px solid @color-border;
            }

            .subtotal {
                top: 0;

                .price {
                    font-weight: normal;
                }
            }
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width (@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

    .page-layout-checkout.checkout-index-index .page-wrapper .checkout-container {
        .opc-summary-wrapper {
            margin-top: @box-spacing;
            padding-top: 0;
        }
    }

}

//
//  Tablet
//  _____________________________________________

.media-width (@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {

    .page-layout-checkout.checkout-index-index .page-wrapper .checkout-container {
        .payment-option{
            .opc-block-summary {
                .action-toggle {
                    span {
                        display: block;
                    }
                }

                .label {
                    line-height: @form-field-height;
                    padding: 0;
                }
            }
        }

        .opc-summary-wrapper {
            margin-top: @box-spacing-large;
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width (@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .page-layout-checkout.checkout-index-index .page-wrapper .checkout-container {
        .opc-summary-wrapper {
            margin-top: 0;
            width: 24.5%;
        }

        .opc-block-summary {
            .discount-code,
            .giftcardaccount {
                display: none;
            }
        }
    }

}
