// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .cart-empty {
        margin: 0 0 30px;

        > p {
            strong {
                font-weight: @font-weight__regular;
            }
        }

        .action.primary {
            max-width: 184px;
            font-weight: @font-weight__regular;
            color: @color-grey-red;
            border-color: @color-grey-red;
            .lib-font-size(13);
            line-height: 36px;
            height: 38px;
            margin: 8px 0 0;

            &:hover,
            &:active {
                color: @color-white;
            }
        }
    }

    .checkout-cart-index {
        letter-spacing: 0.8px;

        .price-box,
        .price-excluding-tax {
            .price {
                font-weight: @font-weight__regular;
            }
        }

        .price-box,
        .price-including-tax {
            .price {
                font-weight: @font-weight__regular;
                font-size: 1.3rem;
            }
        }
    }

    .cart-summary {
        padding: 0;
        margin: 0;


        div.shipping-counter {
            font-size: 1.3rem;
            letter-spacing: @default-letter-spacing;
            color: @color-grey-red;
        }

        .cart_payment {
            margin-top: 0px !important;
            p.text {
                opacity: 0.7 !important;
            }
            .cart-payment-list {
                margin-bottom: 0px;
                .text {
                    margin-top: -10px;
                }
                li {
                    display: inline-block;
                    margin: 0 0px;
                    line-height: 20px;
                    height: 40px;
                    overflow: hidden;
                    vertical-align: top;
                }
                &:first-child {
                    li {
                        &:first-child {
                            img {
                                width: 80px;
                                margin-top: -35px;
                                opacity: 1;
                            }
                        }
                        &:nth-child(2) {
                            img {
                                width: 50px;
                                margin-top: -12px;
                                opacity: 1;
                            }
                        }
                        &:nth-child(3) {
                            img {
                                width: 86px;
                                margin-top: -38px;
                                opacity: 1;
                            }
                        }
                    }
                }
                &:nth-child(2) {
                    li {
                        &:first-child {
                            img {
                                width: 70px;
                                opacity: 1;
                                margin-top: 2px;
                            }
                        }
                        &:last-child {
                            img {
                                width: 90px;
                                margin-top: -50px;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        
        > .title {
            color: @color-grey-red;
            background: #fafafa;
            padding-top: 17px;
            padding-bottom: 16px;
            border: 1px solid @color-border;
            border-bottom: 0;
        }

        .block {
            .title {
                strong {
                    text-transform: uppercase;
                    .lib-font-size(12);
                    color: @color-grey-red;
                }
            }
        }

        .cart-summary-actions {
            border-top: 0;
            border-color: @color-border;
            display: none;
            .block {
                > .title {
                    border-color: @color-border;

                    &:before {
                        font-family: @font-awesome !important;
                        content: @font-awesome-down;
                        line-height: 1.4;
                    }
                }

                &.active {
                    > .title {
                        &:before {
                            content: @font-awesome-up;
                        }
                    }
                }
            }
        }

        .checkout-methods-items {
            margin: 0;
            border: 1px solid @color-border;
            border-top: 0;
            padding: 0 20px;

            .action.primary.checkout {
                background: @color-grey;
                color: @color-white;
                .lib-font-size(13);
                border-color: @color-grey;
                &:hover,
                &:active,
                &:focus {
                    background: @color-white;
                    border-color: @color-grey;
                    color: @color-grey;

                }
            }

            .item {
                margin-bottom: 20px;
            }
        }
    }

    .cart-totals {
        border-color: @color-border;
        border-bottom: 0;

        tbody,
        tfoot {
            .amount {
                .price {
                    font-weight: @font-weight__regular;
                }
            }
        }

        .grand {
            .mark {
                border-top: 1px solid @color-border !important;
                color: @color-grey;
            }

            .amount {
                border-top: 1px solid @color-border !important;
                color: @color-grey;
            }
        }
    }

    .cart {
        &.table-wrapper {
            margin-bottom: 0;

            .qty-in-price {
                &:after {
                    display: none;
                }

                &:before {
                    content: 'Qty:';
                }
            }

            strong.product-item-name {
                text-transform: none;
                .lib-font-size(14);
            }

            .col.price {
                .original-price {
                    display: block;
                    color: @color-light-grey;
                    text-decoration: line-through;
                }
            }
        }
    }

    .cart-discount {
        padding: 11px 0 13px;
        border-bottom: 1px solid @color-border;

        .block {
            .title {
                margin: 0;
                cursor: pointer;
                strong {
                    .lib-font-size(12);
                    color: @color-grey-red;
                    text-transform: uppercase;
                    font-weight: @font-weight__semibold;

                    &:after {
                        .lib-font-size(18);
                        float: right;
                        font-family: @font-awesome;
                        content: @font-awesome-down;
                        line-height: 1.4;
                    }
                }
            }

            &.active {
                .title {
                    strong {
                        &:after {
                            content: @font-awesome-up;
                        }
                    }
                }
            }
        }
        .content {
            .label {
                visibility: hidden;
            }
        }
        .actions-toolbar {
            .action {
                height: 4rem;
                line-height: 4rem;
                font-size: 1.3rem;
            }
        }
    }

    .cart-container {
        .form-cart {
            &-container {
                > div {
                    position: relative;
                    padding-bottom: 57px;
                }
            }

            .actions.main {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }

            .action.update {
                color: @color-grey-red;
                background: @color-white;
                border-color: @color-grey-red;
                padding: 0 15px;
                .lib-font-size(13);
                line-height: 4rem;
                height: 4rem;
                &:hover,
                &:active,
                &:focus {
                    color: @color-white;
                    background: @color-grey-red;
                }
            }
        }
    }

    .category-block-holder-container {
        .account-custom-block-after{
            float: none;
        }
    }
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

   div.category-block-holder-container {
        .account-custom-block-after {
            .promo-container {
                padding-bottom: 0;
            }
        }
    }
    div.account-custom-block-after {
        .promo-container {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

}



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls){

    .checkout-cart-index {

        .category-block-holder-container {
            .title {
                margin: 1.5rem 0 1rem;
            }

            h3 {
                margin-top: 2rem;
            }
        }

        .page-footer {
            border-top: none;
        }
    }

    .cart {
        &.table-wrapper {
            .action {
                &.action-delete {
                    position: relative;
                    span {
                        position: relative;
                        overflow: visible;

                        &:before {
                            content: '|';
                            font-family: @futura;
                            transform: none;
                            position: absolute;
                            top: -2px;
                            left: -1.4rem;
                            color: @color-border;
                            margin-left: 0;
                        }
                    }

                    &:before {
                        display: none;
                    }
                    &:last-child {
                        display: none;
                    }

                }

                &.action-edit {
                    margin-right: 2rem;
                    &:last-child {
                        display: none;
                    }

                }
            }

        }
    }

    .block.shipping {
        .fieldset.rate {
            margin-top: 2rem;
            .methods {
                margin-bottom: 1rem
            }
        }
    }

    .cart-totals {
        tr {
            &.sub,
            &.totals {
                th,
                td {
                    padding-bottom: 0;
                }
            }

            &.totals-tax,
            &.grand {
                th,
                td {
                    padding-bottom: 1.5rem;
                }
            }
        }

    }

    .cart-container {
        .form-cart {
            margin-bottom: 0;
        }
    }

    .block-related-holder {
        p {
            margin-bottom: 0;
        }
    }

    .cart.items {
        tr {
            th {
                &.col {
                    padding-top: 1.2rem;
                }
            }
        }
    }

    .cart-summary {
        .block {
            .item-options {
                margin-bottom: .5rem;
            }
        }
    }

    .cart {
        &.table-wrapper{
            .cart {
                thead {
                    tr {
                        th {
                            &.col {
                                padding-top: 1.2rem;

                            }
                        }
                    }
                }
            }
            .col.price {
                .qty-in-price {
                    display: none;
                }
            }
            .col.qty {
                padding-top: .9rem;
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
    .checkout-cart-index {
        .page-title-wrapper {
            margin: 0 0 14px;

            .page-title {
                .lib-font-size(22);
                margin-bottom: 12px;
            }
        }

        #amasty-shopby-product-list {
            margin: 0;
            padding: 0;
            border: 0;
        }

        &.page-layout-1column:not(.cms-index-index) {
            .widget.grid {
                .block-title {
                    text-align: left;
                    color: @color-grey;
                }
            }
        }
    }

    .cart {
        &.table-wrapper {
            border: none;

            .cart {
                .item {
                    padding-left: 84px;
                }
            }

            .col {
                &.thumbnail {
                    top: 20px;
                    width: 80px;
                }
            }

            .item {
                .col.item {
                    padding-top: 25px;
                }
            }
        }
    }

    .cart-container {
        margin: 0 0 10px;
    }

    .category-block-holder-container {
        .account-custom-block-after{
            .promo-block {
                width: 100%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .cart-summary {
        div.shipping-counter {
            max-width: 100%;
            width: 100%;
            padding-left: 0;
            text-align: center;
        }
    }
    .cart {
        &.table-wrapper {

            .item-info {
                .product-item-details {
                    .action {
                        &.action-delete {
                            margin: 0;
                            float: none;
                            &:first-child {
                                display: none;
                            }
                            &:last-child {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
            .cart.item {
                min-height: 140px;
            }
            .col.price {
                .qty-in-price {
                    display: none;
                }
            }
        }
    }


    .cart-totals {
        tr {

           &.sub,
           &.totals {
               th,
               td {
                   padding-bottom: 0;
               }
           }

           &.totals-tax,
           &.grand {
               th,
               td {
                   padding-bottom: 1.5rem;
               }
           }
        }

    }

    .cart-container {
        .form-cart {
            margin-bottom: 0;
        }
    }

    .block-related-holder {
        p {
            margin-bottom: 0;
        }
    }

    .checkout-cart-index {

        .category-block-holder-container {
            .title {
                margin: 1.5rem 0 1rem;
            }

            h3 {
                margin-top: 2rem;
            }
        }

        .page-footer {
           border-top: none;
        }
    }
}

//
//  Tablet
//  _____________________________________________
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {

    .checkout-cart-index {
        .page-title-wrapper {
            margin-bottom: 29px;

            .page-title {
                margin-bottom: 23px;
            }
        }

    }

    .cart-container {
        margin-bottom: 7px;
        .form-cart {
            .action.update {
                width: 100%;
            }
        }
        .cart-summary {
            div.shipping-counter {
                text-align: center;
                padding-left: 0;
                max-width: 100%;
            }
        }
    }
    .cart.table-wrapper .cart > .item {
        border-bottom: 0;
    }
    .form-cart-container {
        .item-info {
            .product-item-details {
                .action.action-edit {
                    float: left;
                    margin-top: 0;
                    font-size: 1.4rem;
                }
                .action-delete {
                    &:last-child {
                        display: block;
                        float: left;
                        font-size: 14px;
                    }
                }
            }
        }
        .cart-discount {
            border-top: 1px solid @color-border;
            margin-top: 20px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s){
    .cart-summary {
        .cart-summary-actions {
            margin-bottom: 0;
        }
    }

    .cart-totals {
        border-top: 0;

        tbody {
            tr {
                &:first-child {
                    > th,
                    > td {
                        padding-top: 13px;
                        padding-bottom: 0;
                    }
                }

                > th,
                > td {
                    padding-bottom: 0;
                    padding-top: 0;
                }

                &.shipping {
                    > th,
                    > td {
                        padding-bottom: 0;
                    }
                }

                &.totals-tax {
                    > th,
                    > td {
                        padding-bottom: 1.5rem;
                    }
                }
            }
        }

        .grand {
            .mark,
            .amount {
                padding-top: 12px;
                padding-bottom: 10px;
            }
        }
    }

    .cart {
        &.table-wrapper {
            .cart {
                thead {
                    tr {
                        th {
                            &.col {
                                text-transform: uppercase;
                                .lib-font-size(13);
                                color: @color-light-grey;
                                padding-bottom: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls){
    .checkout-cart-index {
        .page-title-wrapper {
            margin-top: 0;
            margin-bottom: 13px;
            padding-bottom: 11px;
        }

        .block-related-holder {
            padding-bottom: 2.5rem;
        }

        .category-block-holder-container {
            padding-top: 1.5rem;
        }

        .page-footer {
            border-top: .1rem solid @color-border;
        }

        &.no-items {
            margin-bottom: 30px;
        }

        .page-main {
            > .page-title-wrapper {
                .page-title {
                    letter-spacing: 2.7px;
                }
            }
        }

        &.page-layout-1column {
            .widget.grid {
                .block-title {
                    .lib-font-size(13);
                    color: @color-grey;
                    margin-bottom: 24px;
                }
            }
        }

        &:not(.no-items) {
            .block-products-list {
                .lib-layout-column(2, 1,100%);
                padding-right: 0;
            }
        }
    }

    .cart-empty {
        margin: 28px 0 63px;
        > p {
            max-width: 56%;
        }
    }

    .cart-container {
        margin-bottom: 0;

        .form-cart {
            float: none;
            width: 100%;
            padding: 0;
            position: static;
            margin: 0;

            &-container {
                .lib-layout-column(2, 1, @layout-column-checkout__width-main);
                &:extend(.abs-add-box-sizing-desktop all);
                padding-right: 8.5%;

                > div {
                    padding-bottom: 67px;
                }
            }

            .action.update {
                min-width: 138px;
            }
        }
    }

    .cart-summary {
        padding-bottom: 0;
        margin: 33px 0 0;

        .checkout-methods-items {
            margin-bottom: 0;

            .item {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    .cart.table-wrapper {
        .col {
            padding-top: 19px;
            padding-bottom: 19px;
            padding-left: 0;

            &.actions {
                display: none;
            }

            &.qty {
                padding-top: 10px;
            }
        }

        .cart {
            .action-delete {
                .lib-font-size(12);
                position: relative;
                margin-left: 1.4rem;

                span {
                    height: auto;
                    margin: 0;
                    position: static;
                    width: auto;
                    &:before {
                        content: '|';
                        font-family: @futura;
                        transform: none;
                        position: absolute;
                        top: -2px;
                        left: -1.4rem;
                        color: @color-border;
                        margin-left: 0;
                    }
                }

                &:before {
                   display: none;

                }

                &:hover {
                    text-decoration: underline;
                    span {
                        &:before {
                            color: @color-border;
                            text-decoration: none;

                        }
                    }

                }

                + .action-edit {
                    display: none;
                }
            }

            .action {
                &.action-edit {
                    margin-right: 3px;
                }
            }

            .product-item-details {
                .action-delete:first-child {
                    display: none;
                }
            }
        }
    }

    .cart-discount {
        .block {
            .title {
                strong {
                    &:after {
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    .category-block-holder-container {
        .account-custom-block-after{
            .promo-container {
                float: left;
                padding-bottom: 8rem;
            }
        }
    }

}
