// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

@form-field-height: 40px;

& when (@media-common = true) {

    .checkout-index-index {
        .modal-popup {
          .ie10 &,
          .ie11 & {
              .modal-inner-wrap {
                height: 650px;
              }
          }
            .modal-footer  {
                .action {

                    &.action-save-address {
                        padding: 10px 15px;
                        height: auto;
                        line-height: normal;
                        display: inline-block;
                        float: left;
                        width: auto;
                        margin: 0;

                    }

                    &.action-hide-popup {
                        background: @color-grey;
                        border: 1px solid @color-grey;
                        width: auto;
                        margin: 0;
                        float: right;

                        span {
                            color: @color-white;
                        }

                        &:hover {
                            background: @color-white;
                            span {
                                color: @color-grey;
                            }

                        }
                    }
                }

            }
        }
        .payment-method-braintree-block {
            .image-block {
                display: inline-block;
                width: 221px;
                max-width: 100%;
                background-image: url("../images/payment/braintree.png");
                height: 31px;
                background-size: 100% auto;
                background-repeat: no-repeat;
            }
            >div {
                padding: 50px 0 0px;
                background-position: 0px 11px;
            }
        }
        a.logo {
            margin-left: 0;
            width: auto;
        }
        .block-authentication {
            .block-title {
                display: none;
            }
        }

        .block-authentication,
        .form-login {
            .actions-toolbar {
                margin: 0;

                > .primary {
                    margin: 0 20px 0 0;

                    .action {
                        background: @color-grey;
                        color: @color-white;
                        min-width: 122px;
                        padding-top: 10px;
                        padding-bottom: 9px;
                        border: 1px solid @color-grey;
                        margin: 0 20px 0 0;
                        line-height: 17px;

                        &:hover {
                            background: @color-white;
                            color: @color-grey;
                        }
                    }
                }

                .secondary {
                    float: left;
                    padding-top: 0;
                }
            }
        }

        .authentication-dropdown {
            .modal-inner-wrap {
                padding: 0;
            }
        }

        .authentication-wrapper {
            padding: 0 0 30px;
            border-bottom: 1px solid @color-border;
        }

        select {
            color: @color-dark-grey1;
            height: @form-field-height;
            line-height: 17px;
            padding-top: 10px;
            padding-bottom: 9px;
        }

        .fieldset {
            > .field,
            > .fields > .field,
            .field.choice {
                > input[type="radio"] {
                    &:checked,
                    &:disabled {
                        + label {
                            &:after {
                                top: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    .cart-link {
        float: right;

        a.action.primary {
            height: auto;
            border-color: @color-grey-red;
            color: @color-grey-red;
            width: 90px;
            line-height: normal;
            padding: 10px 0;

            &:hover {
                color: @color-white;
            }

            span {
                &:before {
                    font-family: @font-awesome;
                    content: @font-awesome-left;
                    margin: 0 10px 0 0;
                }
            }
        }
    }

    div.opc-wrapper {
        .shipping-address-item {
            border: 2px solid @color-border;
            padding: 25px 10px 10px 60px;
            width: 100%;

            &.selected-item {
                border-color: @color-border;
                padding: 25px 10px 10px 60px;

                .action-select-shipping-item {
                    display: block;
                    visibility: visible;
                }

                &:before {
                    position: absolute;
                    content: '';
                    top: 30px;
                    left: 30px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid @color-border;
                    background: @color-white;
                    display: block;
                    visibility: visible;
                }

                &:after {
                    position: absolute;
                    content: '';
                    top: 40px;
                    left: 40px;
                    width: 8px;
                    height: 8px;
                    margin: -4px 0 0 -4px;
                    background: @color-dark-grey1;
                    border-radius: 50%;

                }
            }
        }

        .action-select-shipping-item {
            position: absolute;
            top: 30px;
            left: 30px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid @color-border;
            content: '';
            text-indent: -9999px;
            overflow: hidden;
            background: @color-white;
            margin: 0;
            padding: 0;
        }

        .edit-address-link {
            display: none;
        }

        .action-show-popup {
            padding-top: 10px;
            padding-bottom: 10px;
            color: @color-grey-red;
            border-color: @color-grey-red;
            font-weight: @font-weight__semibold;
            background: @color-white;
            margin-top: 20px;

            span {
                &:before {
                    display: none;
                }
            }
        }

        .form-discount,
        .form-giftcard-account {
            max-width: 100%;
            padding: 12px 0 0;
        }

        .form-login {
            .actions-toolbar > .primary {
                .action:last-child {
                    border-color: @color-grey;
                    background: @color-grey;
                    &:hover {
                        background: @color-white;
                        border-color: @color-grey;
                        color: @color-grey;
                    }
                }
            }
        }
    }

    .opc-sidebar {
        padding-bottom: @box-spacing;
    }

    .checkout-shipping-address {
        .step-title {
            display: none;
        }
    }

    .checkout-shipping-method {
        .step-title {
            background: none;
            font-weight: @font-weight__bold;
            border-bottom: 1px solid @color-border;
            margin: 0;
            padding: 10px 0 12px;
            letter-spacing: 1px;
            color: @color-dark-brown1;
        }

        .actions-toolbar {
            margin-top: 30px;

            button.action.primary {
                background: @color-grey;
                color: @color-white;
                border-color: @color-grey;
                min-width: 122px;
                height: @form-field-height;
                line-height: 36px;
            }
        }
    }

    #checkout-shipping-method-load {
        border-bottom: 1px solid @color-border;
    }

    .table-checkout-shipping-method {
        tbody {
            tr {
                &:first-child {
                    td {
                        padding-top: 17px;
                    }
                }

                &:last-child {
                    td {
                        padding-bottom: 17px;
                    }
                }

                td {
                    padding: 8px 5px;
                    border: none;

                    &.col-method {
                        width: 10px;
                    }
                    &.col-type{
                        min-width: 40px;
                    }
                    &.col-carrier{
                        min-width: 90px;
                    }
                }
            }
        }

        input[type="radio"]:checked {
            ~ label {
                &:after {
                    top: 15px;
                }
            }
        }
    }

    .opc-block-shipping-information {
        padding: 0;
        border: 1px solid @color-border;
        border-top: 0;

        .ship-to,
        .ship-via {
            margin: 0;
            border: none;
            border-top: 1px solid @color-border;
        }

        .shipping-information-title {
            .lib-clearfix();
            border: none;
            text-transform: uppercase;
            color: @color-grey-red;
            font-weight: @font-weight__bold;
            margin: 0 0 14px;
            background: none;

            .action-edit {
                background: none;
                border: none;
                padding: 0;
                margin: 4px 0 0;
                text-transform: none;
                color: @color-black;
                position: static;
                float: right;
                font-weight: @font-weight__regular;

                > span {
                    position: static;

                    &:first-letter {
                        text-transform: uppercase;
                    }
                }

                &:before {
                    display: none;
                }
            }
        }

        .shipping-information-content {
            line-height: 24px;
        }
    }

    .field-tooltip {
        top: 5px;

        .field-tooltip-action {
            &:before {
                color: @color-grey;
                border: 2px solid @color-border;
                font-size: 12px;
                height: 22px;
                line-height: 18px;
                width: 22px;
                border-radius: 50%;
                content: '?';
                font-family: Arial;
                font-weight: @font-weight__bold;
            }
        }

        .field-tooltip-content {
            border: 2px solid @color-light-grey2;
            background: @color-light-grey4;
            width: 282px;
            padding: 7px 10px;

            &:before,
            &:after {
                right: 100%;
                top: 50%;
                left: auto;
            }

            &:after {
                border-color: rgba(250, 250, 250, 0);
                border-right-color: @color-light-grey4;
                border-width: 9px;
                margin-top: -9px;
            }

            &:before {
                border-color: rgba(231, 231, 231, 0);
                border-right-color: @color-light-grey2;
                border-width: 12px;
                margin-top: -12px;
            }
        }
    }

    .checkout-index-index {
        li, ol, ul {
            margin: 0;
        }

        .page-wrapper {
            .page-main {
                padding: @box-spacing-large @box-spacing;
            }

            .checkout-container {
                margin: 0;

                //  Common

                .checkout-shipping-address, li.checkout-shipping-method, .form-shipping-address {
                    margin-top: @box-spacing-large;
                }

                .field {
                    margin: @box-spacing 0 0;
                    &.cvv {
                        ._with-tooltip {
                            .field-tooltip {
                                &.toggle {
                                    right: 0;
                                    top: -9px;
                                }

                            }
                        }

                    }

                    &.no-label {
                        margin-top: 0;
                            &.year {
                                margin-top: 0;
                        }
                    }

                    &:before {
                        display: none;  //  Clears the clearfixes
                    }

                    .label {
                        color: @color-dark-grey1;
                        margin: 0;

                        &:empty {
                            display: block;
                        }
                    }

                    &:not(.payment-method-title) {
                        .label {
                            &:after {
                                display: none;
                            }
                        }
                    }

                    &._required, &.required {
                        .label:after {
                            margin-left: 0;
                            display: inline-block;
                            color: @color-red;
                        }
                    }

                    .control {
                        display: block;
                        margin-top: 0;

                        &._with-tooltip {
                            .input-text, .note {
                                width: ~'calc(100% - 50px)';
                            }

                            .note {
                                .lib-font-size(12);
                                color: @color-red;
                                font-weight: normal;
                            }

                            .field-tooltip {
                                right: 10px;
                                top: 4px;
                            }

                            .field-tooltip-content {
                              color: @color-dark-brown1;
                              letter-spacing: @default-letter-spacing;

                            }
                        }
                    }
                }

                .control {
                    .field {
                        margin-top: @box-spacing-large / 2;

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }

                .payment-option {
                    .field {
                        margin-top: 0;
                    }

                    .actions-toolbar {
                        margin-top: @box-spacing;
                    }
                }

                fieldset.field {
                    margin-bottom: 0;
                }

                .step-title {
                    padding: @box-spacing 0;
                }

                .action-show-popup {
                    margin: 0;
                }


                #checkout-content {
                    padding: 0;
                    width: 100%;
                }

                .opc-estimated-wrapper {
                    display: none;
                }

                .opc-wrapper {
                    margin: 0;
                }

                .step-content {
                    margin: 0;
                }

                .opc-block-shipping-information {
                    border: none;
                }

                .shipping-information-title {
                    color: @color-dark-brown1;
                    margin: 0;
                }

                .form-login {
                    border: none;
                    .actions-toolbar {
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-box-align(center);
                        .lib-vendor-prefix-flex-wrap(wrap);
                    }

                    .checkout-shipping-address, li.checkout-shipping-method, .form-shipping-address {
                        margin-top: @box-spacing-large;

                    }

                .field {
                    margin: @box-spacing 0 0;

                    &.no-label {
                        margin-top: 0;
                    }

                    &:before {
                        display: none;  //  Clears the clearfixes
                    }

                    .label {
                        color: @color-dark-grey1;
                        margin: 0;


                        &:empty {
                            display: block;
                        }

                        &:after {
                            color: @color-red;
                        }
                    }

                    .label[for="customer-password"] {
                        position: relative;
                        &:after {
                            content: '*';
                            color: @color-red;
                            font-size: 1.2rem;
                            margin: 0 0 0 1px;
                        }
                    }

                    &._required, &.required {
                        .label:after {
                            margin-left: 0;
                        }
                    }

                    .control {
                        display: block;
                        margin-top: @box-spacing / 3;

                        &._with-tooltip {
                            .input-text, .note {
                                width: ~'calc(100% - 50px)';
                            }

                            .note {
                                .lib-font-size(12);
                                color: @color-red;
                                font-weight: normal;
                                margin-top: 10px;
                                border: 1px solid @color-red;
                            }

                            .field-tooltip {
                                right: 10px;
                                top: 4px;
                            }

                            .field-tooltip-content {
                                color: @color-dark-brown1;
                                letter-spacing: @default-letter-spacing;
                                top: -6px;
                            }
                        }
                    }
                }

                .control {
                    .field {
                        margin-top: @box-spacing-large / 2;

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }

                .payment-option {
                    .field {
                        margin-top: 0;
                    }

                    .actions-toolbar {
                        margin-top: @box-spacing;
                    }
                }

                fieldset.field {
                    margin-bottom: 0;
                }

                .step-title {
                    padding: @box-spacing 0;
                }

                .action-show-popup {
                    margin: 0;
                }

                    margin:  0;
                    padding-bottom: 0;

                    .primary {
                        margin: 0;
                    }

                    .remind {
                        color: @color-dark-grey1;
                        margin: 0;
                    }
                }

                .form-shipping-address {
                    border-top: 1px solid @color-border;

                }

                .shipping-address-item {
                    border-width: 1px;
                    margin: 0;

                }

                .shipping-address-item {
                    border-width: 1px;
                    margin: 0 0 @box-spacing-large;
                    padding: 28px 20px 20px 50px;

                    &:before {
                        left: 22px;
                        top: 30px;
                    }

                    &:after {
                        left: 32px;
                    }

                    .action {
                        left: 22px;
                        top: 30px;
                    }
                }

                .table-checkout-shipping-method {
                    .row {
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-box-align(center);
                        margin: 0;
                    }

                    .col-method {
                        .lib-vendor-prefix-order(1);
                        padding-left: 0;
                        width: auto;
                        &:nth-child(1) {
                            width: 35px;
                        }
                    }

                    .col-carrier {
                        .lib-vendor-prefix-order(2);
                    }

                    .col-price {
                        .lib-vendor-prefix-order(3);
                        width: 40%;
                        text-align: right;
                    }

                }

                .checkout-payment-method  .payment-group .actions-toolbar {
                    margin: 0;
                    padding: 0;

                    .action {
                        height: @box-spacing-large * 2;
                        max-width: none;
                        min-width: 120px;
                        &:hover {
                            background: @color-white;
                            color: @color-grey;
                        }
                    }
                }

                .methods-shipping .actions-toolbar {
                    margin-top: @box-spacing-large;
                }

            }

            .page-footer {
                border-top: 1px solid @color-border;
                margin-top: @box-spacing-large;
                padding-top: 5px;

                .copyright {
                    border: none;
                }
            }
        }

        .modal-custom {
            .action-close {
                margin: 10px 4px;

                &:before {
                    font-size: 25px;
                    line-height: 25px;
                    color: @color-grey-red;
                }
            }
        }

        .modal-popup{
            .form-shipping-address {
                .field-tooltip {
                    right: 8px;

                    .action-help {
                        &:before {
                            border: 1px solid @color-border;
                            line-height: 21px;
                        }
                    }

                    &._active {
                        .field-tooltip-content {
                            border: 1px solid @color-border;
                            background: @color-white;
                            left: -251px;
                            top: 42px;
                            color: @color-dark-grey1;

                            &:before {
                                border-width: 9px;
                                right: 10px;
                                top: -6px;
                                border-right-color:transparent;
                                border-bottom-color: @color-light-grey2;

                            }

                            &:after {
                                border-width: 7px;
                                margin-top: 0;
                                top: -14px;
                                right: 12px;
                                border-right-color:transparent;
                                border-bottom-color: @color-white;
                            }
                        }
                    }
                }
                .choice {
                    .ie10 &,
                    .ie11 & {
                        margin-bottom: 25px;
                    }

                    input[type="checkbox"] {
                        + label {
                            &:before {
                                top: 2px;
                            }
                        }

                        &:checked {
                            + label {
                                &:before {

                                }
                            }
                        }
                    }
                }
            }
        }

        .field[name="shippingAddress.company"] {
            .label {
                position: relative;

                &:after {
                    content: '*';
                    color: @color-red;
                    font-size: 1.2rem;
                    margin: 0 0 0 1px;
                }
            }

            .label[for="shipping-save-in-address-book"] {
                &:before {
                    top: 2px;
                }
            }

             input[type="checkbox"] {
                 &:checked {
                     + label[for="shipping-save-in-address-book"] {
                         &:before {
                             top: 2px;
                         }
                     }
                 }
             }
        }
    }

    .cart-link {
        position: absolute;
        top: 15px;
        right: 17px;
    }

}

//
//  Mobile
//  _____________________________________________

.media-width (@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

    .page-layout-checkout.checkout-index-index {
        .page-wrapper {
            .checkout-container {
                .field {
                    .label {
                        &:before {
                            margin-top: -@box-spacing-large / 2;
                        }

                        &:after {
                            margin-top: -@box-spacing-large / 4;
                        }
                    }
                }
            }
        }

        .modal-popup {
            .form-shipping-address {

                .field-tooltip {
                    &.toggle {
                        right: 0;
                        &._active {
                            .field-tooltip-content {
                                left: auto;
                                top: 40px;
                                &:before {
                                    display: block;
                                    border-bottom-color: @color-border;
                                }
                            }
                        }
                    }

                }
            }

            .modal-footer {
                padding-top: 5px;
                button {
                    &.action {
                        &.action-hide-popup,
                        &.action-save-address{
                            width: 100%;
                        }

                        &.action-hide-popup {
                          margin-top: 10px;
                        }
                    }
                }

            }
         }
    }

}

//
//  Tablet
//  _____________________________________________

.media-width (@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {

    .page-layout-checkout.checkout-index-index {
        .page-wrapper {
            .page-main {
                padding: @box-spacing * 2;
            }

            .checkout-container {
                div.checkout-shipping-address, li.checkout-shipping-method, .form-shipping-address {
                    margin-top: @box-spacing * 2;
                    padding-top: @box-spacing-large / 2;
                }

                .field {
                    margin-top: @box-spacing-large;

                    .control {
                        margin-top: 0;
                    }

                    .secondary {
                        margin-left: @box-spacing-large;
                        width: auto;
                    }
                }

                .opc-progress-bar-item {
                    span {
                        .lib-font-size(28);
                    }
                }

                .form-login {
                    .primary {
                        width: 25%;
                    }
                }

                .shipping-address-items {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                .shipping-address-item {
                    width: calc(~'50% - @{box-spacing-large} / 2');
                }
            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width (@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-layout-checkout.checkout-index-index {
        .page-wrapper {
            .checkout-container {
                align-items: flex-start;
                display: flex;
                flex-wrap: wrap;

                #checkout-progress {
                    width: 100%;
                }

                #checkout-content {
                    padding-right: 140px;
                    width: 75%;
                }

                .label:empty + .control {
                    margin-left: 30%;
                }

                .action.remind {

                }

                .shipping-address-items {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                .shipping-address-item {
                    width: calc(~'50% - @{box-spacing-large} / 2');

                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}
