.creditcard-form {
    .action {
        background: @color-grey;
        color: @color-white;
        margin-top: @box-spacing;
    }

    .field-control {
        line-height: 1;
    }

    .field-tooltip {
        margin: 0;
    }

    .fieldset {
        margin: 0;
    }

    .form-field {
        margin-top: @box-spacing;

        &.cvv, &.date {
            .hosted-control {
                float: left;
                width: 120px;

                &.year {
                    margin-left: @box-spacing * 2;
                }
            }
        }

        &.required {
            .field-label {
                &:after {
                    color: @color-red;
                    content: "*";
                    margin-left: 3px;
                }
            }
        }
    }

    .hosted-error {
        margin-top: @box-spacing / 3;
    }

    .field-label {
        display: block;
    }

    .payment-method-braintree-block {
        margin-top: 0;

        .field-badge {
            font-style: italic;
            padding: 0 0 45px;
        }
    }
}

//
//  Tablet
//  _____________________________________________

.media-width (@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {

    .creditcard-form {
        .action {
            max-width: 180px;
        }

        .field-control {
            margin-left: 30%;
        }

        .form-field {
            margin-top: @box-spacing-large;
        }

        .field-label {
            float: left;
            line-height: @form-field-height;
        }

        .payment-method-braintree-block {
            padding-left: 30%;
        }
    }

}

//
//  Dsktop
//  _____________________________________________

.media-width (@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {

    .creditcard-form {
        width: 75%;

        .payment-method-braintree-block {
            width: 75%;
        }
    }

}
