//
//  General
//  _____________________________________________

& when (@media-common = true) {

    .block-minicart {
        #minicart-content-wrapper {
            padding: @box-spacing-large;

            .block-content {
                padding: 0;

                .actions {
                    padding-right: 0;
                    padding-left: 0;

                    &.minicart-footer {
                        margin: @box-spacing-large -@box-spacing-large -@box-spacing-large -@box-spacing-large;
                        width: auto;
                        border: none;

                        .secondary {
                            padding: @box-spacing-large / 2 0;
                        }
                    }
                }
            }

            .empty {
                .shipping-counter {
                    position: static;
                }
            }

            .items-total {
                margin: 0;
            }

            .minicart-items {
                .product-item-details{
                    .details-qty{
                        .label{
                            line-height: 31px;
                            vertical-align: middle;
                        }
                        .item-qty{
                            vertical-align: middle;
                        }
                        .update-cart-item{
                            vertical-align: middle;
                        }
                    }
                    div.actions{
                        bottom: 0;
                    }
                }
                .options {
                    width: 60%;

                    .label, .values {
                        float: left;
                    }

                    .label {
                        clear: both;
                        margin: 0 5px 0 0;
                    }
                }
            }

            .minicart-items-wrapper {
                padding: 0;
            }

            .shipping-counter {
                letter-spacing: 0.25px;
            }

            .subtitle {
                padding-bottom: @box-spacing-large / 2;
            }

            .subtotal {
                padding: 0;
                line-height: 1;
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    div.header-panel-right {
        .minicart-wrapper {
            &.active {
                .block-minicart {
                    &.block {
                        .product {
                            &.actions {
                                top: 11px;
                            }
                        }
                    }
                }
            }
        }
    }
}
