// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-success {
        &-greeting {
            display: block;
            font-weight: @font-weight__regular;
            color: @color-dark-brown1;
            letter-spacing: 1px;
            .lib-font-size(28);
            line-height: 44px;
            margin: 0 0 37px;
        }

        .checkout-confirm {
            margin: 0 -15px;
            border: 1px solid @color-border;
            border-width: 1px 0;
            padding: 49px 15px 30px;

            h2 {
                color: @color-dark-brown1;
                .lib-font-size(22);
                margin: 0 0 32px;
                letter-spacing: 4px;
            }
        }

        &-block {
            text-align: center;
            margin: 0 0 48px;

            a {
                text-decoration: none;

                &:not(.button) {
                    :hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        &-image {
            img {
                display: block;
            }
        }

        &-container {
            margin: 0 0 25px;
        }
    }

    .checkout-onepage-success {
        .actions-toolbar {
            margin: 0;
        }

        .actions-toolbar > .primary {
            margin: 0;
        }

        .actions-toolbar > .primary .action,
        .button {
            display: block;
            background: @color-grey;
            border: 1px solid @color-grey;
            color: @color-white;
            line-height: 16px;
            .lib-font-size(13);
            font-weight: @font-weight__semibold;
            padding: 10px;
            width: 187px;
            text-decoration: none;
            margin: 25px auto 0;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            height: auto;
            float: none;

            &:hover {
                color: @color-grey;
                background: @color-white;
            }
        }

        .page-title-wrapper {
            > a {
                display: none;
            }
        }
    }

    .checkout-confirm-wrapper {
        margin: 0 0 20px;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls){
    .checkout-message-confirm {
        border: none;
        padding: 0;
    }

    .checkout-success {
        margin: 0 0 22px;
    }

    .checkout-onepage-success {
        .page-wrapper {
            .page-title-wrapper {
                padding: 0 0 10px;
                border-bottom: 1px solid @color-border;

                .page-title {
                    .lib-font-size(22);
                    margin: 0;
                }
            }
        }
    }

}

//
//  Tablet
//  _____________________________________________
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .checkout-success-image {
        display: none;
    }

    .checkout-onepage-success {
        .page-wrapper {
            .page-title-wrapper {
                padding: 4px 0 23px;

                .page-title {
                    .lib-font-size(28);
                }
            }
        }
    }

    .checkout-success {
        &-greeting {
            padding: 0 30%;
        }

        .checkout-confirm {
            padding-bottom: 47px;
        }
    }

    .checkout-message-confirm {
        > p {
            max-width: none;
        }
    }

    .checkout-onepage-success {
        .actions-toolbar > .primary .action {
            margin-top: 33px;
        }
    }

    .checkout-success-block {
        margin-bottom: 71px;
    }
}

//
//  Deskrop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s){

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls){
    .checkout-onepage-success {
        .page-wrapper {
            .page-title-wrapper {
                display: none;
            }
        }

        .checkout-success {
            display: block;
            width: auto;
            max-width: none;
        }

        .category-block-holder-container {
            padding-top: 41px;
        }
    }

    .checkout-confirm-wrapper {
        position: static;
        transform: none;
    }

    .checkout-success {
        &-container {
            .lib-clearfix();
            padding: 27px 0 0;
            margin: 0 0 2px;
        }

        &-image {
            float: left;
            width: 50%;
            padding: 0 4% 0 0;
        }

        &-content {
            float: right;
            width: 50%;
            padding: 8.65% 14% 0 6.4%;
        }

        &-greeting {
            padding: 0 15%;
        }
    }

    .checkout-message-confirm {
        padding: 0 14%;
        border: 0;
    }
}
