<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<div class="locator-wrapper">
    <a class="action location" href="<?php echo $this->getUrl() . 'outlets-stockists' ?>">
        <span class="text"><?php /* @escapeNotVerified */ echo __('Outlets & Stockists') ?></span>
    </a>
</div>
