[class*="easy-edit-type-"] {
    display: none;
}
.easy-edit-pos {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 10;
}
@font-face {
    font-family: 'calibri';
    src: url('../fonts/Calibri.ttf');
    font-weight: normal;
    font-style: normal;
}
.easy-edit-relative {
    position: relative !important;
}
.easy-edit {
    font-family: calibri;
}
.easy-edit span {
    font-size: 15px;
}
.link-button:visited, .link-button:active {
    text-decoration: none;
}
.clear-both {
    clear: both;
}
.easy-edit-type-1 {
    width: 100%;
}
.wrap-easy-edit {
    position: relative;
    border: none;
}
.display-block {
    display: block;
}
.easy-edit-border {
    border:1px dotted red;
}