// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .page-product-grouped {
        .product-info-main {
            .product-add-form {
                input[type="number"] {
                    .lib-font-size(12);
                }
            }

            .table-wrapper.grouped {
                text-align: left;
            }
        }
        .box-tocart{
            order: 2;
        }
        .product-info-stock-sku .available{
            display: none;
        }
    }

    .table-wrapper.grouped {
        width: auto;
        border-bottom: 1px solid @color-border;
        order: 1;
    }

    .table.grouped {
        .row-tier-price {
            > td {
                border-top: 0;
            }
        }

        > thead {
            > tr {
                > th {
                    font-weight: @font-weight__regular;
                    color: @color-light-grey;
                    border-bottom: 1px solid @color-border;
                }
            }

            + tbody {
                > tr {
                    > td {
                        padding-top: 10px;
                    }
                }
            }
        }

        tbody {
            + tbody {
                border: none;
            }
            > tr {
                > td {
                    .lib-font-size(12);
                    border: none;
                    vertical-align: middle;
                    padding: 5px;

                    &.item {
                        padding-left: 0;
                    }

                    &.qty {
                        padding-right: 10px;
                    }

                    .price-container  {
                        .price {
                            .lib-font-size(12);
                        }
                    }
                }
            }

            &:last-child {
                > tr {
                    > td {
                        padding-bottom: 10px;
                    }
                }
            }
        }

        .col.item {
            width: 69%;
            padding-left: 0;
            &.not-selected{
                color: @color-black;
            }
        }

        .col.price {
            width: 20%;
        }

        .col.qty {
            width: 11%;
            padding-right: 10px;

            .control.qty {
                .qty {
                    &:extend(.abs-input-qty all);
                }
            }
        }

        .product-item-name {
            display: inline;
            text-transform: uppercase;

            &.unavailable {
                color: @color-light-grey2;
            }
        }

        .price-box {
            p {
                margin: 0;
            }

            .price {
                font-weight: @font-weight__bold;
            }

            .old-price {
                .price {
                    font-weight: normal;
                    color: @color-light-grey;
                    text-decoration: line-through;
                }
            }
        }

        .stock.unavailable {
            font-weight: normal;
            margin: 0;
            text-transform: none;
            white-space: nowrap;
        }
    }

    .page-product-grouped {
        .product-info-main {
            .alert {
                clear: left;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .page-product-grouped {
        .table-wrapper {
            &.grouped {
                border-top: none;
            }
            table.table.data.grouped {
                display: table;

                > thead {
                    > tr {
                        > th {
                            .lib-css(border-bottom, @table__border-width @table__border-style @table__border-color);
                            display: table-cell;
                        }
                    }

                    + tbody {
                        > tr {
                            > td {
                                padding-top: 10px;
                            }
                        }
                    }
                }

                > tbody {
                    display: table-row-group;

                    > tr {
                        display: table-row;

                        > td {
                            display: table-cell;
                            padding: 5px;

                            &.item {
                                padding-left: 0;
                            }

                            &.qty {
                                padding-right: 10px;
                            }

                            &:before {
                                display: none;
                            }
                        }
                    }

                    &:last-child {
                        > tr {
                            > td {
                                padding-bottom: 10px;
                            }
                        }
                    }

                }

                &:not(.totals):not(.cart):not(.table-comparison) {
                     > tbody {
                         > tr {
                             > td {
                                 &:last-child {
                                     border-bottom: 0;
                                 }
                             }
                         }
                     }
                 }
            }
        }

        .minimal-price {
            margin: 0;
        }

        .product-info-price {
            border: 0;
            margin-bottom: 0;

            .price-box {
                padding-bottom: 0;

                .price-final_price {
                    display: inline;
                }
            }
        }

        .product-form-wrapper{
            margin-bottom: 0;
        }

        .product-info-main{
            padding: 0 !important;
            margin: 0;
            .actions{
                padding-bottom: 0px;
            }

        }
        .product.info.detailed{
            margin-top: 5px;
        }
        .product-add-form {
            .product-social-links{
                position: relative;
                top: auto;
                padding: 0;
                left: auto;
                margin: 0 0 15px;
            }
        }

        .product-social-links{
            order: 2;
        }
        .product-info-stock-sku{
            display: none;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .page-product-grouped {
        .product-info-main{
            padding: 0 0 15px;
        }
        .product-add-form {
            .product-social-links{
                position: relative;
                top: auto;
                padding: 0;
                left: auto;
                margin: 0 0 15px;
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .page-product-grouped {
        .product-info-main {
            .product-add-form {
                width: 100%;

                .actions {
                    width: 100%;
                    max-width: 340px;
                }
            }
        }

        .product-form-wrapper {
            display: block;
            position: relative;

            .box-tocart {
                width: 60%;
            }

        }

        .product-info-price {
            float: none;
        }

        .minimal-price {
            margin-top: -8px;
        }
    }
}

