<h3>JOIN US! CREATE AN ACCOUNT</h3>
<p>Fall into bed with Linen House. You won’t regret it.  Once you’ve joined
    us, an email with a discount code will arrive in your inbox</p>
<p><strong>Become one of us and indugle in:</strong></p>
<ul>
    <li><span>A welcome email with a $15 Code for your first order</span></li>
    <li><span>First Look at Sales, Events and promotions • Speedy check-outs</span></li>
    <li><span>Order Tracking & Order History</span></li>
</ul>