<h3 class="signup-title">JOIN US! CREATE AN ACCOUNT</h3>
<p class="signup-subtitle">Fall into bed with Linen House. You won’t regret it. Once you’ve joined us, an email with a discount code will arrive in your inbox.</p>
<strong>Become one of us and indugle in:</strong>
<ul class="signup-list">
    <li><span>A welcome email with a $15 Code for your first order</span></li>
    <li><span>First Look at Sales, Events and promotions</span></li>
    <li><span>Speedy check-outs</span></li>
    <li><span>Order Tracking & Order History</span></li>
</ul>