<section class="instagram-container">
<h1 class="title">Shop Instagram</h1>
<p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra urna eget quam imperdiet eleifend. Ut vehicula eu eros a maximus. In scelerisque at libero a aliquet. Quisque faucibus ipsum interdum velit volutpat efficitur. Cras vel convallis purus, et lobortis dolor.</p>
<script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" type="text/javascript" xml="space" data-feed-id="test_27" data-theme="showcase_v2_5" data-page-size="24"></script>
<div class="actions-toolbar">
    <a href="#" class="read-more">Load More</a>
</div>
</section>