.catalog-product-view {
    .rewards__product-points {
        display: inline-block;
        font-size: 12px;
        color: #F96B25;

        .price {
            font-size: 12px !important;
            line-height: 1em !important;
        }
    }
}

.product-items {
    .product-item-info {
        .rewards__product-points {
            font-size: 12px;
            color: #000;
            margin-top: -10px;

            .price {
                font-size: 12px;
                color: #F96B25;
            }
        }
    }
}

.block-products-list {
    .rewards__product-points {
        margin-top: -2rem;
        margin-bottom: 2rem;
    }
}

// compatibility with amasty
.product-info-main {
    .product-info-price {
        position: relative;

        .rewards__product-points {
            //position: absolute;
            //right: 0;
            //top: 0;

            .price {
                font-size: 12px;
                color: #F96B25;
            }
        }

        .product-info-stock-sku {
            .stock {
                margin-top: 15px;
            }
        }
    }
}

#amasty-shopby-product-list, .widget-product-grid {
    .product-item-details {
        .rewards__product-points {
            display: none;
            width: 100%;
            margin-top: 0px;
            font-size: 12px;
            color: #F96B25;

            .price {
                font-size: 12px;
                color: #F96B25;
            }
        }
    }
}
