& when (@media-common = true) {
    #confirmOverlay{
        .product-added{
            display: none;
        }

        #confirmBox {

            .confirmButtons{
                display: block;

                .am-message-top{
                    margin: 9px ;
                }
            }

            #messageBox + .confirmButtons{
                display: none;
            }
        }
    }

    .block-minicart{
        #top-cart-btn-checkout{
            display: none;
        }

        .block-content {
            > .actions.minicart-footer {
                text-align: center;
                margin: 10px;
                border-top: 1px solid @color-light-grey;
                width: ~"calc(100% - 20px)";

                > .primary {
                    .action.primary.viewcart{
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

}

#messageBox .product-info-main {
    margin: 0;
    width: auto;
    float: none;

    .product-add-form {
        width: 100%;
        padding-top: 0;

        .box-tocart {
            .fieldset {
                flex-direction : unset;
                display: block;
                width: 100%;
            }

            .field.qty {
                text-align: left;
                width: 100%;
                position: relative;
                bottom: auto;
                left: auto;
                .label {
                    margin-bottom: 5px;
                    margin-left: 12px;
                }

                .control {
                    margin-left: 0;
                }

                .label,
                .control {
                    display: block;
                }
            }
        }

        .actions {
            width: 100%;
            padding-top: 0;
            padding-bottom: 20px;
            margin-top: 20px;
            border-top:0;
        }
    }
}

#messageBox {
    .product-added{
        margin-bottom: 15px;
    }
    .product-info-main {
        .product-add-form {
            .box-tocart {
                width: 100%;
                order: 2;
            }
        }
    }

    .bundle-options-wrapper {
        margin-bottom: 0;
    }

    .product-social-links {
        display: none;
    }

    .product-options-wrapper {
        .swatch-attribute {
            .swatch-option.image {
                display: none;
            }
        }

        .swatch-attribute-selected-option {
            color: #999;
            display: inline-block;
            padding-left: 10px;
            text-transform: capitalize;
        }

        .swatch-attribute-label {
            display: inline-block;
            margin-top: 15px;
            text-transform: capitalize;
            position: relative;

            &:after {
                content: ':';
                position: absolute;
                right: -5px;
                top: 0;
            }
        }
    }

    .product-info-main {
        border-bottom: 0;
        .product-options-bottom {
            padding-top:0;
            margin: 0;
            .box-tocart {
                margin-top: 15px;
            }
        }

        .product-name {
            text-transform: uppercase;
        }
    }

    .popup-title {
        .lib-font-size(16);
        text-align: left;
        text-transform: uppercase;
        font-weight: @font-weight__bold;
        letter-spacing: 0.2px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid @color-form-border;
    }

    .item-options {
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        dt{
            text-transform: capitalize;
        }
        dt, dd {
            display: inherit;
            color: #999;
            font-weight: 400;
        }

        dd {
            text-transform: uppercase;
        }
    }
}

#messageBox p.required {
    color: @color-red;
}

#messageBox .block.related {
    display: inline-block;
    padding-top: 0;
    margin-bottom: 0;
    border: none;
    width: 100%;
    .product-image-container{
        display: block;
    }
    li{
        padding: 15px 0 0;
        &:nth-of-type(-1n + 1){
            padding: 0px;
        }
        .product-item-info{
            padding-right: 15px;
        }
        .product-item-photo {
            border: 1px solid @color-form-border;
            display: inline-block;
            width: 33%;
        }
        .brand{
            .lib-font-size(10);
            margin-top: 0;
        }
        .product-item-name{
            margin-top: 0;
            line-height: 18px;
        }
        .product-item-details {
            width: 65%;
            text-align: left;
            vertical-align: top;
            padding-top: 0;
            padding-left: 10px;
            display: inline-block;
            .price-box {
                display: inline-block;
                display: inline-block;
                margin: 0px 0 10px;
            }

            .price {
                font-weight: @font-weight__bold;
                letter-spacing: 0.2px;
                white-space: nowrap;
            }
        }
    }
}

#messageBox #block-related-heading {
    color: #999;
    .lib-font-size(13);
    margin: 0 0 15px;
    text-transform: none;
    display: inline-block;
    width: 100%;
}

#messageBox {
    .block.related {
        .related-available,
        .block-title {
            text-align: left;
        }
    }
}

#messageBox .related .products-grid .product-item {
    display: inline-block !important;
    min-width: 102px;
    margin: 0;
    padding: 0 0 20px;
    width: 50%;
}

#confirmBox {
    .field.related {
        display: none;
    }

    .actions-primary {
        .tocart {
            background: none;
            border: none;
            text-transform: none;
            font-weight: 400;
            color: @primary__color;
            padding: 0 0 0 30px;
            position: relative;
            letter-spacing: 0.04px;
            line-height: 24px;
            &:before {
                position: absolute;
                left: 0;
                top: 0;
                content: @icon-simple__plus;
                font-family: @font__simple-line;
                .lib-font-size(18);
                width: 18px;
                height: 18px;
                margin-top: -2px;
            }
        }
    }
}

#messageBox .products {
    margin: 0;
    display: block;
    width: 95%;
}

#messageBox .products-grid .product-item-actions {
    margin: 0;
    display: block;
}

#messageBox .product-item-actions .actions-secondary {
    display: none;
}

#confirmOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.6);
    z-index: 99999;
}

#am_loading_container img.product-image-photo {
    display: inline !important;
    position: relative !important;
}

#confirmOverlay img {
    display: inline !important;
}

.top-cart #am_minicart_container .block-content {
    background: none;
    position: relative;
    right: 0;
    top: 0;
    width: auto;
}

#am-block-related {
    overflow: hidden;
}

#confirmBox {
    width: 100%;
    max-width: 695px;
    min-width: 300px;
    padding: 25px 30px 15px;
    position: fixed;
    text-align: center;
    left: 50% !important;
    margin-left: 0 !important;
    max-height:100%;
    height: auto;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid @color-form-border;
    z-index: 100;
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;

    &.configurable{
        .confirmButtons{
            display: none;
        }
        #messageBox{
            padding: 0;

            .popup-title{
                margin-bottom: 15px;
                padding-bottom: 13px;
            }
            .product-info-main{
                .product-add-form{
                    .box-tocart .field.qty .label{
                        margin-left: 0;
                    }
                    .actions{
                        padding-bottom: 0;
                        button{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .product-options-wrapper,
        .product-options-bottom{
            width: 100%;
        }
    }
    .close {
        cursor: pointer;
        position: absolute;
        right: 28px;
        top: 5px;
        font-size: 0;


        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            .lib-font-size(18);
            content: @icon-simple__close;
            font-family: @font__simple-line;
        }

        ~ .confirmButtons {
            padding-top: 15px;
            padding-bottom: 18px;
            border-bottom: 1px solid @color-form-border;
        }
    }

    .am-btn-left {
        display: none;
    }

    .am-message-top {
        .lib-font-size(13);
        color: #000;
        display: inline-block;
        position: relative;
        text-align: left;
        margin-top: 10px;
        padding-left: 30px;


        &:before {
            color: #000;
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            content: @icon-simple__tick;
            font-family: @font__simple-line;
            border-radius: 50%;
            border: 1px solid #000;
            text-align: center;
            font-size: 10px;
            line-height: 17px;
        }
    }
    .related{
      .block-title{
          text-transform: none;
          letter-spacing: 0.6px;
          margin-bottom: 15px;
      }
    }
}

#hideDiv {
    width: 100%;
    height: 100%;
    z-index: 10;
}

#confirmBox h1,
#confirmBox p {
    padding: 18px 5px;
    margin: 0;
    color: #000;
}

#confirmBox h1 {
    letter-spacing: 0.2px;
    color: #000;
}

#confirmBox p {
    background: none;
    font-size: 16px;
    line-height: 1.4;
    padding-top: 5px;
}

#amcart-count {

    color: #000;
    background: none;
    font-size: 16px;
    line-height: 1.4;
    padding-top: 5px;
}

#am-input {
    width: 25px;
    height: 30px;
    text-align: center;
}

#am-input:focus {
    border-color: #000;
    outline: 0 none;
}

.focus {
    border-color: #000;
    outline: 0 none;
}

.confirmButtons {
    display: inline-block;
    width: 100%;
    padding: 5px 0 15px;
    text-align: left;
    clear: both;
}

.confirmButtons a.checkout {
    display: block;
    margin: 0;
    box-sizing: content-box;
    padding: 0 10px;
    background: @color-cart-action;
    border: 0;
    letter-spacing: 0.2px;
    -webkit-transform: background, 0.2s, ease-in;
    -moz-transform: background, 0.2s, ease-in;
    -ms-transform: background, 0.2s, ease-in;
    -o-transform: background, 0.2s, ease-in;
    transform: background, 0.2s, ease-in;
    &:hover, &:focus, &:active{
        border: 0;
    }
}
.confirmButtons button {
    background: none;
    border: none;
    box-shadow: none;
    float: right;
    text-decoration: underline;
    color: #000;
    font-family: @font-family__base;
    font-weight: 400;
    .lib-font-size(13);
    text-transform: capitalize;
    letter-spacing: 0.2px;

    &.am-btn-right {
        position: relative;
        padding-right: 30px;
        text-decoration: none;
        > span{
            text-decoration: underline;
        }
        &:after {
            right: 0;
            top: 0;
            content: 'or';
            line-height: 38px;
            font-weight: normal;
            font-family: @font-family__base;
            margin-right: 10px;
            position: absolute;
            text-transform: none;
            text-decoration: none;
        }
    }

    &:hover ,
    &:active {
        text-decoration: none;
    }
}

.confirmButtons a {
    background: @color-cart-action;
    border: none;
    color: @color-white;
    cursor: pointer;
    float: right;
    .lib-font-size(14);
    .lib-line-height(40);
    height: 40px;
    overflow: hidden;
    padding: 0 20px 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    right: 30px;

    &:hover,
    &:active {
        opacity: 0.8;
    }
}

#confirmBox button:last-child {
    margin-right: 0;
}

.amcart-options form {
    text-align: left;
    color: #666;
}

.amcart-options form dd {
    border-bottom: 1px solid white;
    margin: 0 0 5px 10px;
    padding: 5px 0 10px 0;
}

.amcart-options form dd input {
    padding: 6px 0 4px 0;
    border: 1px solid @color-form-border;
    background: #FFF;
}

.amcart-options form dd select {
    border: 1px solid @color-form-border;
    background: #FFF;
}

.amcart-options form dd textarea {
    overflow: auto;
    resize: none;
    width: 300px;
    height: 50px;
    background: #FFF;
    border: 1px solid @color-form-border;
    border-radius: 8px 0 0 0;
    padding: 8px 0 8px 10px;
}
#confirmBox {
    #messageBox {
        padding: 20px 0 0;
        text-align: left;

        ~ .confirmButtons {
            border-top: 1px solid @color-form-border;
            border-bottom: none;
            padding-top: 20px;
            padding-bottom: 0;
        }
        .bundle-options-wrapper{
            .bundle-options-top{
                .bundle-options-name{
                    text-align: left;
                }
            }
            .product-options-wrapper{
                .field.choice .label > span{
                    text-align: left;
                }
            }
        }
        .block-bundle-summary{
            width: 100%;
        }

        .table-wrapper.grouped{
            order: 1;
            border-bottom: 0;
            margin-bottom: 0;
            td{
                text-align: left;
                padding: 10px 3px 5px 3px;
            }
        }
        .product-add-form{
            .product-options-wrapper{
                .field:not(.date){
                    > .control{
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
        .product-options-wrapper{
            .swatch-attribute.size{
                .swatch-option.text{
                    line-height: 40px;
                    text-align: center;
                    padding: 0;
                }
            }
            .swatch-attribute.color{
                .swatch-attribute-options{
                    margin-top: 3px;
                }
            }
        }
        .product-item-link {
            text-decoration: none;
            .lib-font-size(13);
        }

        .product-added {
            .lib-clearfix();

            .product-item-details {
                display: block;
                padding-left: 95px;
                .qty, .price-box{
                    vertical-align: top;
                    display: inline-block;
                    margin: 0;
                }
                .price-box{

                }
            }
            .product-image-container{
                display: block;
            }
            .product-item-photo {
                float: left;
                max-width: 80px;
            }

            .product-image-container {
                width: 90px !important;
            }

            .product-item-name {
                .lib-font-size(13);
                font-weight: 400;
                letter-spacing: 0.2px;
                line-height: 20px;
                text-transform: uppercase;
            }
            .price-box{
                .old-price{
                    display: block;
                    color: @color-light-grey;
                    text-decoration: line-through;
                }
            }
        }

        .product-items{
            .product-item-info {
                .rewards__product-points {
                    display: none;
                }
            }
        }
    }
}

#messageBox dt label {
    color: #000;
    font-weight: @font-weight__bold;
}

#messageBox div.price-box {
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 10px;
}

#messageBox .block-bundle-summary {
    div.price-box {
        margin-left: 0;
        margin-bottom: 10px;
        padding-bottom: 0;
    }
}

#messageBox div.price-box p {
    margin: 0;
    padding: 0;
}

#messageBox .required em {
    color: @color-red;
    margin-right: 3px;
}

#amimg_container {
    position: absolute;
    top: 340px;
    left: 50%;
    z-index: 9999;
}

#amprogress {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.6);
    z-index: 100000;
}

#messageBox td {
    text-align: center;
    width: 133px;
    padding: 0 3px 5px 3px;
}

#am-block-related table {
    table-layout: fixed;
    width: 398px;
    word-wrap: break-word;
}

div.product-details {
    position: relative;
    bottom: 3px;
}

#am_minicart_container {
    border-radius: 2px 2px 2px 2px;
    color: #000;
    padding: 8px;
    position: absolute;
    text-align: left;
    right: 0;
    width: 234px;
    z-index: 3000;
    overflow: hidden;
}

#am_minicart_container li {
    width: 220px;
    padding: 5px;
    background: none;
}

#am_minicart_container button.button span {
    background-color: rgb(117, 178, 211);
    border: none;
    border-radius: 2px 2px 2px 2px;
}

#am_minicart_container button.button {
    margin: 5px;
}

#am_minicart_container button.button:hover span {
    background-color: rgb(120, 189, 218);
}

#am_minicart_container li:hover {
    background-color: white;
}

#am_minicart_container a.btn-remove, a.btn-edit {
    float: right;
    margin: 1px 0 2px 5px;
}

#am_loading_container img.fotorama__img {
    opacity: 1;
}

.page-product-configurable {
    .confirmButtons {
        //display: none;
    }
}

.page-product-bundle {
    .confirmButtons {
        //display: none;
    }

    #confirmBox {
        #messageBox {
            padding: 15px;
            overflow-y: hidden !important;
            max-height: 100% !important;
        }

        .product-info-main {
            position: relative;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    #confirmBox {
        #messageBox {
            max-height: 100% !important;
        }
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    #confirmBox {
        #messageBox {
            max-height: 450px !important;
        }
        &.configurable{
            max-width: 455px;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    #confirmBox {
        padding: 15px 15px 0;
        max-width: 95%;
        right: auto !important;
        overflow-y: visible;
        margin-left: 0 !important;
        max-height:100%;
        height: auto;
        .close ~ .confirmButtons {
            a.checkout,
            button.am-btn-right {
                display: none;
            }
        }

        #messageBox ~ .confirmButtons {
            padding-bottom: 90px;
            position: relative;
            text-align: center;

            a.checkout {
                position: absolute;
                bottom: 25px;
                float: none;
            }

            a.checkout,
            button.am-btn-right {
                display: block;
                width: 100%;
                box-sizing: border-box;
            }

            button.am-btn-right {
                &:after {
                    bottom: 0;
                    top: unset;
                    right: 50%;
                    margin-bottom: -25px;
                }
            }
        }

        .product-item {
            .product-item-photo {
                max-width: 90px;
            }
        }
    }

    #messageBox {
        .related {
            .products-grid {
                .product-item {
                    width: 100%;

                }
            }
        }
    }

    .confirmButtons{
        text-align: center;
        a{
            display: block;
            float: none;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    #messageBox{
        padding: 20px 0 95px !important;
        .block.related li{
            padding: 0 0 20px;
            &:nth-of-type(-1n + 1){
                padding: 0 0 20px;
            }
        }
    }
    body #confirmBox {
        overflow-y: visible;
        padding: 15px 15px 0;
        max-width: 95%;
        right: auto !important;
        margin-left: 0 !important;
        max-height: 95vh;
        .product-added{
            margin-bottom: 15px;
        }
        .confirmButtons{
            &:last-of-type{
                position: absolute !important;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                background: #fff;
                z-index: 2;
                padding: 20px !important;
                .am-btn-right{
                    order: 1;
                    padding: 0 0 30px !important;
                    &:after{
                        margin-bottom: -2px !important;
                        margin-right: 0;
                    }
                }
                a.checkout{
                    order: 2;
                    position: static !important;
                }
            }
        }
        &.configurable{
            left: 50% !important;
            margin-left: 0 !important;
            max-height:100%;
            height: auto;
            top: 50% !important;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            .popup-title{
                .lib-font-size(13);
                margin-top: 30px;
                text-align: center
            }
            .product-info-main,
            .swatch-attribute,
            .box-tocart .field.qty{
                text-align: center !important;
            }

            .confirmButtons{
                display: none;
            }
            #messageBox{
                padding: 20px 0 0 !important;
            }
        }
    }

}