<section class="section-rewards-banner">{{block class="Magento\Cms\Block\Block" name="reward.points.banner" block_id="reward_points_banner"}}</section>
<section class="section-rewards-content">{{widget type="Balance\Box\Block\Widget\Box" box_id="67"}}</section>