// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .popup-subscribe {
        &.modal-popup._inner-scroll {
            .modal-inner-wrap {
                background: @color-white;
                color: @color-border;
                box-shadow: none;
                width: 560px;
            }
        }

        .block.newsletter {
            max-width: none;

            > p {
                font-weight: @font-weight__bold;
                color: @color-dark-grey1;
                line-height: 24px;
                .lib-font-size(18);
                letter-spacing: 2px;
                width: 199px;

                a {
                    color: @color-dark-grey1;
                }
            }

            .content {
                padding: 22px 36px 0;

                p {
                    .lib-font-size(14);
                    color: @color-dark-grey1;
                    text-transform: none;
                    width: 100%;
                    font-weight: @font-weight__regular;
                    margin: 0 0 7px;
                }
            }

            .form.subscribe {
                padding: 0;
                margin: 0 0 20px;
            }

            .field {
                padding: 0;
                width: 77%;
            }

            .actions {
                padding: 0;
            }

            .action.subscribe {
                max-width: none;
                padding: 0;
                background: @color-grey;
                font-weight: @font-weight__regular;
                height: 41px;
                line-height: 37px;
                border: 2px solid @color-border;
                border-left: 0;
            }

            input {
                border-width: 2px;
                height: auto;
                padding-bottom: 10px;
            }
        }

        .modal-content {
            padding: 20px 18px 45px;
        }

        .action-close {
            top: 10px;
            right: 10px;

            &:before {
                border-color: @color-border;
                color: @color-grey;
            }

            &:hover {
                &:before {
                    color: @color-grey;
                }
            }
        }

        h3 {
            color: @color-grey;
            .lib-font-size(28);
            border-bottom: 1px solid @color-border;
            padding: 14px 0 23px;
            letter-spacing: 3px;
        }
    }
}
