// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-product-grouped {
        .product-info-stock-sku {
            display: none;
        }

        .table-wrapper {
            table {
                &.table.data.grouped {
                    > thead {
                        > tr {
                            > th {
                                &.price {
                                    text-transform: uppercase;
                                    .lib-font-size(13);
                                }

                                &.qty {
                                    text-transform: uppercase;
                                    .lib-font-size(13);
                                }
                            }
                        }
                    }
                }
            }
        }

        .product-info-main {
            .product-add-form {
                input[type="number"] {
                    .lib-font-size(14);
                    border-radius: 0;
                }
            }
        }

        .product-add-form {
            .box-tocart {
                .actions {
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }

    .table.grouped {
        .col.price {
            width: 40%;
        }

        th.col.item {
            color: @color-dark-brown;
        }

        .product-item-name {
            color: @color-dark-grey1;
            letter-spacing: 1px;
        }


        tbody {
            > tr {
                > td {
                    .lib-font-size(14);

                    .price-container {
                        .price  {
                            font-weight: @font-weight__regular;
                            color: @color-black;
                            .lib-font-size(14);
                        }
                    }

                    .old-price {
                        .price-container {
                            .price  {
                                color: @color-light-grey;
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .page-product-grouped {
        .product-info-main {
            padding-bottom: 0;
        }

        .product.info.detailed {
            margin-top: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .page-product-grouped {
        .product-form-wrapper{
            position: relative;
        }
        .product-info-main {
            position: relative;

            div.product-add-form {
                .box-tocart {
                    &.out-of-stock {
                        margin-top: 70px;
                    }
                }
            }

            .product-info-stock-sku {
                &.unavailable {
                    position: absolute;
                    bottom: 60px;
                    left: 0;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .page-product-grouped {
        .product-info-main {
            .page-title-wrapper {
                order: 0;
            }

            .product-price-wrapper {
                order: 1;
            }

            .product.attribute.overview {
                order: 2;
            }

            .product-form-wrapper {
                order: 3;
            }

            div.product-add-form {
                .box-tocart {
                    &.out-of-stock {
                        margin-top: 50px;
                    }
                }
            }

            .product-info-stock-sku {
                &.unavailable {
                    bottom: 70px;
                }
            }
        }

        &.catalog-product-view {
            .product-add-form {
                .box-tocart {
                    .actions {
                        float: left;
                    }
                }
            }
        }
    }
}

