<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->

<!-- End Content -->
</td>
</tr>
<tr>
    <td class="footer">
        <table>
            <tr class="footer-holder">
                <td align="center" class="footer-holder-block">
                    <table>
                        <tr class="socials">
                            <td class="list">
                                <p><a href="#"><img src='{{view url="images/email/email_icon_facebook.png" _area="frontend"}}' alt="Facebook"></a></p>
                                <p><a href="#"><img src='{{view url="images/email/email_icon_instagram.png" _area="frontend"}}' alt="Instagram"></a></p>
                                <p><a href="#"><img src='{{view url="images/email/email_icon_pinterest.png" _area="frontend"}}' alt="Pinterest"></a></p>
                                <p><a href="#"><img src='{{view url="images/email/email_icon_twitter.png" _area="frontend"}}' alt="Twitter"></a></p>
                                <p><a href="#"><img src='{{view url="images/email/email_icon_youtube.png" _area="frontend"}}' alt="Youtube"></a></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table class="footer-frame-table">
            <tr class="footer-frame">
                <td class="left">{{trans "©2017 Linen House. All Rights Reserved."}}</td>
                <td class="right" align="right">ABN 00 000 000 000</td>
            </tr>
        </table>
        <table>
            <tr class="footer-container">
                <td align="center">
                    <p>{{trans 'For online store enquiries please contact <a href="mailto:%store_email">%store_email</a> or call us on 1300 350 886' store_email=$store_email |raw}}</p>
                    <p>{{trans "We welcome any feedback that you may have. if you have an enquiry on our products or services, you can take a quick look at"}} <a href='{{config path="web/unsecure/base_url"}}'>{{trans "Frequently Asked Questions"}}</a> {{trans "and see if it might be answered there."}}</p>
                    <p>{{trans "If you need to contact any of our stores,contact details can be found at our"}} <a href='{{config path="web/unsecure/base_url"}}contact'>{{trans "stores and stockists"}}</a></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</td>
</tr>
</table>
<!-- End wrapper table -->
</body>
</html>
