<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

$dataPostParam = '';

if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
}
?>

<?php if ($block->isLoggedIn()): ?>
    <li class="authorization-link account"
        data-label="<?php echo $block->escapeHtml(__('or')); ?>"
        data-bind="scope: 'customer-greetings'">
        <span><?php echo __('My Account');?></span>
        <div class="customer-account" >
            <!-- ko if: customer().firstname -->
                <strong class="dashboard-greetings__title"
                        data-bind="text: $t('Hello ') + customer().firstname + '!'">
                </strong>
            <!-- /ko -->
            <?php echo $block->getChildHtml('account_dropdown'); ?>
        </div>
    </li>
    <script type="text/x-magento-init">
    {
        ".customer-account": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "customer-greetings": {
                        "component": "Magento_Customer/js/view/customer"
                    }
                }
            }
        }
    }
    </script>
<?php else: ?>
    <li class="authorization-link" data-label="<?php echo $block->escapeHtml(__('or')); ?>">
        <a <?php /* @escapeNotVerified */ echo $block->getLinkAttributes(); ?><?php /* @escapeNotVerified */ echo $dataPostParam; ?>>
            <?php echo $block->escapeHtml($block->getLabel()); ?>
        </a>
    </li>
    <li class="nav item join-link">
      <a href="<?php  /* @escapeNotVerified */ echo $block->getUrl('customer/account/create') ?>"><span><?php /* @escapeNotVerified */ echo __('Join') ?></span></a>
    </li>
<?php endif;?>
