<?php
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/

// @codingStandardsIgnoreFile

/** @var \Aheadworks\Blog\Block\Post\RelatedProduct $block */
if ($relatedProductIds = $block->getRelatedProductIds()):
    $class = 'related';
    $image = 'related_products_list';
    $title = __('Complete the look');

    $showCart =  $block->isDisplayAddToCart();
    $dataMageInit = $block->getDataMageInit();
    $visibility = $dataMageInit == '{}' ? 'visible' : 'hidden';
?>
    <div data-mage-init='<?php /* @noEscape */ echo $dataMageInit ?>' class="block <?php /* @noEscape */ echo $class; ?>"
         style="visibility: <?php /* @noEscape */ echo $visibility; ?>">
        <div class="block-title title">
            <h2 id="block-<?php /* @noEscape */ echo $class?>-heading" role="heading" aria-level="2">
                <?php /* @noEscape */ echo $title; ?>
            </h2>
        </div>
        <div class="block-content content js-product-list" aria-labelledby="block-<?php /* @noEscape */ echo $class?>-heading">
            <div class="products wrapper grid products-grid products-<?php /* @noEscape */ echo $class; ?>">
                <ol data-aw-blog-block="items" class="products list items product-items">
                    <?php $iterator = 1; ?>
                    <?php foreach ($relatedProductIds as $productId): ?>
                        <?php
                            $product = $block->getProductById($productId);
                            $available = '';
                        ?>
                        <?php if (!$product->isComposite() && $product->isSaleable()): ?>
                            <?php if (!$product->getRequiredOptions()): ?>
                                <?php $available = 'related-available'; ?>
                            <?php endif; ?>
                        <?php endif; ?>
                            <?php if ($iterator++ == 1): ?>
                            <li class="item product product-item">
                        <?php else: ?>
                            </li><li class="item product product-item">
                        <?php endif; ?>
                        <div class="product-item-info <?php /* @noEscape */ echo $available; ?>">
                            <a href="<?php echo /* @noEscape */ $block->escapeXssInUrl($block->getProductUrl($product)) ?>"
                               class="product photo product-item-photo">
                                <?php /* @noEscape */ echo $block->getImage($product, $image)->toHtml(); ?>
                            </a>
                            <div class="product details product-item-details">
                                <strong class="product name product-item-name">
                                    <a class="product-item-link"
                                       title="<?php echo $block->escapeHtml($product->getName()) ?>"
                                       href="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getProductUrl($product)) ?>">
                                        <?php echo $block->escapeHtml($product->getName()) ?>
                                    </a>
                                </strong>
                                <?php /* @noEscape */ echo $block->getProductPrice($product); ?>
                                <?php if ($showCart): ?>
                                    <div class="actions-primary">
                                        <?php if ($product->isSaleable()): ?>
                                            <?php if ($product->getTypeInstance()->hasRequiredOptions($product)): ?>
                                                <button class="action tocart primary"
                                                        data-mage-init='{"redirectUrl": {"url": "<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getAddToCartUrl($product)) ?>"}}'
                                                        type="button"
                                                        title="<?php echo $block->escapeHtml(__('Add to Cart')) ?>">
                                                    <span><?php echo $block->escapeHtml(__('Add to Cart')) ?></span>
                                                </button>
                                            <?php else: ?>
                                                <?php
                                                $postData = $block->getPostDataHelper()->getPostData(
                                                    $block->getAddToCartUrl($product),
                                                    ['product' => $product->getEntityId()]
                                                );
                                                ?>
                                                <button class="action tocart primary"
                                                        data-post='<?php /* @noEscape */ echo $postData; ?>'
                                                        type="button" title="<?php echo $block->escapeHtml(__('Add to Cart')) ?>">
                                                    <span><?php echo $block->escapeHtml(__('Add to Cart')) ?></span>
                                                </button>
                                            <?php endif; ?>
                                        <?php else: ?>
                                            <?php if ($product->getIsSalable()): ?>
                                                <div class="stock available">
                                                    <span><?php echo $block->escapeHtml(__('In stock')) ?></span>
                                                </div>
                                            <?php else: ?>
                                                <div class="stock unavailable">
                                                    <span><?php echo $block->escapeHtml(__('Out of stock')) ?></span>
                                                </div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php if ($iterator == count($relatedProductIds)+1): ?>
                            </li>
                        <?php endif; ?>
                    <?php endforeach ?>
                </ol>
            </div>
        </div>
    </div>
<?php endif;?>
