<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Newsletter subscription confirmation"}} @-->
<!--@vars {
"var customer.name":"Customer Name",
"var subscriber.getConfirmationLink()":"Subscriber Confirmation URL"
} @-->

{{template config_path="design/email/header_template"}}
<p style="margin-top: 35px;"></p>
<p class="greeting">{{trans "Thank you for subscribing to our newsletter."}}</p>
<p>{{trans "To begin receiving the newsletter, you must first confirm your subscription by clicking on the following link:"}}</p>
<p><a href="{{var subscriber.getConfirmationLink()}}">{{var subscriber.getConfirmationLink()}}</a></p>

{{template config_path="design/email/footer_template"}}
