<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus metus ipsum, convallis a posuere quis, tincidunt ut nunc. Ut id bibendum augue.</p>
<ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Phasellus metus ipsum, convallis a posuere quis,</li>
    <li>Tincidunt ut nunc id bibendum augue.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Tincidunt ut nunc id bibendum augue.</li>
</ul>