<div id="submenu-31" class="ms-submenu col-xs-12 sub_left">
    <div class="ms-content">
        <div class="ms-maincontent" style="float: left; width: 70%;">
            <div class="row ms-category-dynamic">
                <div class="col-category col-xs-12">
                    <div class="row">
                        <div class="col-level col-xs-3">
                            <div class="col-xs-12 form-group active parent last"><i class="information" style="display: none;" title="dynamic-43"></i> <a title="Table" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/dinning/table.html?SID=ndglktotu941ngtvvn3t0eblr3"><small class="glyphicon glyphicon-th-large">&nbsp;</small>Table</a></div>
                        </div>
                        <div class="col-xs-9 dynamic-content"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ms-featured" style="float: right; width: 30%;">
            <div class="row">
                <div class="f-category col-sm-6 col-xs-6 col-tn-6"><a class="product-image text-center form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/dinning/table.html?SID=ndglktotu941ngtvvn3t0eblr3"> <img title="Table" src="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/media/catalog/category/Table_1.jpg" alt="Table" width="110" /> </a> <a class="product-name form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/dinning/table.html?SID=ndglktotu941ngtvvn3t0eblr3"><strong>Table</strong></a>
                    <p></p>
                </div>
                <div class="f-category col-sm-6 col-xs-6 col-tn-6"><a class="product-image text-center form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/dinning/chairs.html?SID=ndglktotu941ngtvvn3t0eblr3"> <img title="Chairs" src="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/media/catalog/category/Untitled-2_2.jpg" alt="Chairs" width="110" /> </a> <a class="product-name form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/dinning/chairs.html?SID=ndglktotu941ngtvvn3t0eblr3"><strong>Chairs</strong></a>
                    <p></p>
                </div>
                <div class="hidden-lg hidden-md hidden-sm hidden-xs col-tn-12"></div>
                <div class="hidden-lg hidden-md hidden-sm col-xs-12 hidden-tn"></div>
                <div class="col-sm-12 form-group hidden-xs hidden-tn"></div>
            </div>
        </div>
    </div>
</div>
<div id="m_submenu-31" class="mb-submenu blind"><a class="ms-label mb-return col-xs-12 text-center"><span class="glyphicon glyphicon-chevron-left">&nbsp;</span>Dinning</a>
    <div class="mb-submain col-xs-12">
        <div class="mb-content form-group">
            <div class="mb-maincontent  col-sm-9 col-xs-12">
                <div class="row ms-category-level">
                    <div class="col-category col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 col-level "><a class="form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/dinning/table.html?SID=ndglktotu941ngtvvn3t0eblr3">Table</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden-lg hidden-md hidden-sm col-xs-12 form-group"></div>
            <div class="mb-featured col-sm-3 col-xs-12">
                <div class="row">
                    <div class="f-category col-sm-6 col-xs-6 col-tn-6"><a class="product-image text-center form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/dinning/table.html?SID=ndglktotu941ngtvvn3t0eblr3"> <img title="Table" src="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/media/catalog/category/Table_1.jpg" alt="Table" width="110" /> </a> <a class="product-name form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/dinning/table.html?SID=ndglktotu941ngtvvn3t0eblr3"><strong>Table</strong></a>
                        <p></p>
                    </div>
                    <div class="f-category col-sm-6 col-xs-6 col-tn-6"><a class="product-image text-center form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/dinning/chairs.html?SID=ndglktotu941ngtvvn3t0eblr3"> <img title="Chairs" src="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/media/catalog/category/Untitled-2_2.jpg" alt="Chairs" width="110" /> </a> <a class="product-name form-group" href="https://staging.linenhouse.com.au.c.ccp2hf26piulo.ent.magento.cloud/dinning/chairs.html?SID=ndglktotu941ngtvvn3t0eblr3"><strong>Chairs</strong></a>
                        <p></p>
                    </div>
                    <div class="hidden-lg hidden-md hidden-sm hidden-xs col-tn-12"></div>
                    <div class="hidden-lg hidden-md hidden-sm col-xs-12 hidden-tn"></div>
                    <div class="col-sm-12 form-group hidden-xs hidden-tn"></div>
                </div>
            </div>
        </div>
    </div>
</div>