// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@autocomplete__background-color: @color-white;
@autocomplete__border: 1px solid @form-element-input__border-color;
@autocomplete-item__border: 1px solid @color-gray90;
@autocomplete-item__hover__color: @color-gray91;
@autocomplete-item-amount__color: @color-gray60;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .catalogsearch-result-index {
        .page-title-wrapper {
            text-align: center;
        }
    }
    .block-search {
        margin-bottom: 0;

        .block {
            &-title {
                display: none;
            }
        }

        .block-content {
            margin-bottom: 0;
        }

        .label {
            .lib-visually-hidden();
        }

        .minisearch {
            display: block;
            position: relative;
        }

        .action.search {
            display: none;
        }

        .control {
            border-top: 1px solid @border-color__base;
            clear: both;
            margin: 0 -@layout__width-xs-indent -1px;
            padding: 0 @layout__width-xs-indent;
        }

        .control {
            border-top: 0;
            margin: 0;
            padding: 0;
        }

        input {
            .lib-input-placeholder(@form-element-input-placeholder__color);
            margin: 0;
            padding-right: 35px;
            position: static;
        }

        #search {
            .lib-css(box-shadow, none);
            height: 30px;
            outline: 0;
        }

        .action.search {
            display: inline-block;
            .lib-button-icon(
                @_icon-font: @font__simple-line,
                @_icon-font-content: @icon-simple__search,
                @_icon-font-size: 17px,
                @_icon-font-line-height: 1,
                @_icon-font-color: @color-dark-grey,
                @_icon-font-color-hover: @color-dark-grey,
                @_icon-font-text-hide: true
            );
            .lib-button-reset();
            position: absolute;
            top: 5px;
            right: 5px;
            width: 20px;
            height: 20px;
            z-index: 1;

            &:before {
                display: block;
            }

            &:focus {
                &:before {
                    .lib-css(color, @color-gray20);
                }
            }
        }

        .nested {
            display: none;
        }
    }

    .search-autocomplete {
        display: none;
        margin-top: -15px;
        overflow: hidden;
        position: absolute;
        z-index: 3;
        &:extend(.abs-add-box-sizing all);

        ul {
            .lib-list-reset-styles();

            &:not(:empty) {
                .lib-css(background, @autocomplete__background-color);
                .lib-css(border, @autocomplete__border);
                border-top: 0;
            }

            li {
                .lib-css(border-top, @autocomplete-item__border);
                cursor: pointer;
                margin: 0;
                padding: @indent__xs @indent__xl @indent__xs @indent__s;
                position: relative;
                text-align: left;
                white-space: normal;

                &:first-child {
                    border-top: none;
                }

                &:hover,
                &.selected {
                    .lib-css(background, @autocomplete-item__hover__color);
                }

                .amount {
                    .lib-css(color, @autocomplete-item-amount__color);
                    position: absolute;
                    right: 7px;
                    top: @indent__xs;
                }
            }
        }
    }

    .form.search.advanced {
        &:extend(.abs-forms-general-desktop all);

        .fields.range {
            .field {
                &:first-child {
                    position: relative;

                    .control {
                        padding-right: 25px;

                        &:after {
                            content: ' \2013 ';
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            text-align: center;
                            top: 6px;
                            width: 25px;
                        }
                    }
                }

                &:last-child {
                    position: relative;

                    div.mage-error[generated] {
                        left: 0;
                        position: absolute;
                        top: 32px;
                    }
                }

                &.with-addon {
                    .control {
                        padding-right: 45px;
                    }
                }

                &.date {
                    &:extend(.abs-field-date all);
                }
            }
        }

        .group.price {
            .addon {
                .addafter {
                    background: none;
                    border: 0;
                    padding-top: 6px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    .search-terms {
        &:extend(.abs-reset-list all);
        line-height: 2em;

        > li {
            display: inline-block;
            margin-right: @indent__s;
        }
    }

    .search.found {
        margin-bottom: @indent__s;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .block-search {
        position: absolute;
        bottom: -35px;
        left: 0;
        width: 100%;
        .block-content{
            width: inherit;
        }

        #search {
            border-width: 0 0 1px;
            height: 35px;
            .placeholder({
                text-align: center;
            });
        }

        .action.search {
            top: 7px;
            right: 15px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .catalogsearch-result-index {
        .page-title-wrapper {
            padding: 0px 0 13px;
            border-bottom: 1px solid @color-border;
            margin: 0;
        }

        .toolbar-products {
            text-align: center;
        }

        .toolbar-amount {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .block-search {
      padding-left: 0;
      position: relative;
      .lib-layout-column(12, 1, 4);
      .lib-column-gutter(15);
      z-index: 4;

      .block-content{
          width: 210px;
      }
      .label {
          &:extend(.abs-visually-hidden-desktop all);
      }
      &.linen-au{
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: top;
        float: none;
        margin: 0;
        position: static;

          .block-title {
            display: block;
            width: 40px;
            height: 40px;
            position: relative;
            font-size: 0;
            cursor: pointer;

            &:before{
              .simple-icon();
              .lib-font-size(22);
              content: '\ea39';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              line-height: 40px;
              text-align: center;
              color: @color-white;
            }
          }
          .block-content{
              display: none;
          }
          &.active{
              .block-content{
                  display: block;
                  position: absolute;
                  top: 53px;
                  left: 50%;
                  width: 86%;
                  max-width: 1014px;
                  padding-left: 38px;
                  -webkit-transform: translate(-50%, 0);
                  -moz-transform: translate(-50%, 0);
                  -ms-transform: translate(-50%, 0);
                  -o-transform: translate(-50%, 0);
                  transform: translate(-50%, 0);

                  .close-search{
                      position: absolute;
                      top: 0;
                      left: 5px;
                      width: 30px;
                      height: 40px;

                      a{
                          display: block;
                          height: 40px;
                          font-size: 0;
                          cursor: pointer;

                          &:before{
                              font: 24px @font__simple-line;
                              line-height: 40px;
                              color: @color-white;
                              content: "\ea52";
                              position: absolute;
                              top: 0;
                              left: 0;
                              -webkit-transform: rotate(45deg);
                              -moz-transform: rotate(45deg);
                              -ms-transform: rotate(45deg);
                              -o-transform: rotate(45deg);
                              transform: rotate(45deg);
                          }
                      }
                  }
              }
          }
        }
      }

    .search-autocomplete {
        margin-top: 0;
    }
    body.show-search{
        position: relative;
        overflow: hidden;

        &:before{
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.4);
            z-index: 1000;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
        }
        .header.content{
            z-index: 1001;
        }
        .section-items,
        .logo-wrapper{
            visibility: hidden;
        }
    }
}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__ls) and (@extremum2 = 'max') and (@break2 = @screen__xl) {
    .block-search{
        &.linen-au{
            &.active{
                .block-content{
                    left: 0;
                    -webkit-transform: translate(0);
                    -moz-transform: translate(0);
                    -ms-transform: translate(0);
                    -o-transform: translate(0);
                    transform: translate(0);
                }
            }
        }
    }
}