<ul class="cart-payment-list">
    <li><img title="visa" src="{{view url="images/payment/visa.svg"}}" alt="visa" width="39" height="13" /></li>
    <li><img title="mastercard" src="{{view url="images/payment/mastercard.svg"}}" alt="mastercard" width="71" height="13" /></li>
    <li><img title="americanexpress" src="{{view url="images/payment/americanexpress.svg"}}" alt="americanexpress" width="47" height="13" /></li>
</ul>
<ul class="cart-payment-list">
    <li><img title="paypal" src="{{view url="images/payment/paypal.svg"}}" alt="paypal" width="57" height="15" /></li>
    <li><img title="afterpay" src="{{view url="images/payment/afterpay.svg"}}" alt="afterpay" width="58" height="13" /></li>
    <li><img title="zippay" src="{{view url="images/payment/zippay.svg"}}" alt="zippay" width="52" height="13" /></li>
</ul>
<p class="text">Linen House takes credit card data very serioulsy. For that reason, we use Braintree to securely handle credit card information.</p>
<p><img title="braintree" src="{{view url="images/payment/braintree.png"}}" alt="braintree" width="221" height="35" /></p>