// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .filter-opener {
        text-transform: uppercase;
        color: @color-grey;
        font-weight: @font-weight__regular;
        border-color: @color-grey;

        &:after {
            color: @color-grey;
            font-family: @futura;
            content: '+';
        }

        .hide {
            display: none;
        }

        &.active {
            .show {
                display: none;
            }

            .hide {
                display: inline;
            }

            &:after {
                right: 6px;
                font-size: 17px;
                line-height: 17px;
                content: '-';
            }
        }

        &.filtered {
            > span {
                &:after {
                    font-family: @font-awesome;
                    content: @font-awesome-tick;
                    margin-top: -5px;
                    margin-right: -17px;
                    font-size: 11px;
                }
            }
        }
    }

    div.swatch-attribute-options {
        margin-top: 0;
    }

    .filter-options {
        ol {
            margin-bottom: 10px;
        }

        .filter-options-title {
            &:after{
                display: none;
            }
            &-text {
                color: @color-dark-grey1;
                font-weight: @font-weight__regular;
                text-transform: uppercase;
                display: block;

                &:after {
                    font-family: @font-awesome;
                    content: @font-awesome-down;
                    float: right;
                    margin: 0 10px 0 0;
                }


            }

            &.ui-state-active {
                .filter-options-title-text {
                    &:after {
                        content: @font-awesome-up;
                    }
                }

                &.attribute-color {
                    .active-filter {
                        display: block;
                        margin: 13px 0 -13px;
                    }
                }
            }
        }

        .filter-options-content {
            margin: 0 0 10px;
            display: none;

            .item {
                margin: 0;
            }

            a {
                .lib-font-size(14);
                color: @color-dark-brown;

                &.am_shopby_link_selected {
                    text-decoration: underline;
                }
            }
        }

        .swatch-option {
            max-width: none;
            
            &.color {
                &:hover:not(.disabled),
                &:active,
                &.selected {
                    border: none;
                    margin-left: 0;
                }
            }

            &.text {
                min-height: 25px;
            }
        }

        .swatch-attribute {
            &.color {
                .swatch-option {
                    width: 20px;
                    height: 20px;
                    min-width: 20px;

                    &.selected {
                        border-color: @color-light-grey;
                    }
                }
            }

            &.size{
                .swatch-option {
                    background: none;
                    color: @color-dark-brown;
                    border: none;
                    width: 100%;
                    height: auto;
                    line-height: 25px;
                    margin: 0;
                    text-align: left;
                    padding: 0 0 0 33px;
                    overflow: visible;

                    &:before {
                        position: absolute;
                        top: 2px;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        border: 2px solid @color-border;
                        text-align: center;
                        content: '';
                        border-radius: 50%;
                        padding: 0 0 0 1px;
                    }

                    &:hover:not(.disabled) {
                        background: none;
                        color: @color-dark-brown;
                        border: none;
                    }

                    &.text {
                        &.selected {
                            background: none !important;
                            color: @color-dark-brown;

                            &:before {
                                font-family: @font-awesome;
                                content: @font-awesome-tick;
                                font-size: 11px;
                                line-height: 17px;
                                color: @color-dark-brown;
                            }
                        }
                    }

                    &-link-layered {
                        display: block;
                    }
                }
            }
        }
    }

    .block.filter {
        .filter-title {
            background: none;
            padding: 0;

            strong {
                color: @color-grey;
                font-weight: @font-weight__regular;
                text-transform: uppercase;
            }

            .filter-actions {
                right: 0;

                .filter-clear {
                    .lib-font-size(14);
                    color: @color-dark-grey1;
                    text-decoration: underline;
                }
            }
        }

        .filter-current {
            border-bottom: 1px solid @color-border;
            margin: 0 0 25px;
            padding: 0 0 15px;

            .filter-label {
                color: @color-dark-grey1;
                font-weight: @font-weight__regular;
                text-transform: uppercase;
                display: block;
                margin: 0 0 7px;
            }

            .filter-value {
                .lib-font-size(14);
                color: @color-dark-grey1;
                display: block;
            }

            ol {
                margin: 0;
            }
        }

        .block-content {
            dt {
                border-radius: 0;
            }
        }
    }

    li.am_shopby_state_container {
        display: block;
    }

    .block-subtitle {
        display: none;
    }

    .active-filter {
        display: none;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls){
    .block.filter {
        div.filter-title {
            padding: 0 20px;

            .filter-actions {
                right: 20px;
            }
        }
    }

    span.active-filter {
        display: block;

        &-label {
            display: none;
        }
    }

    .filter-options {
        .filter-options-title {
            &:after {
                position: absolute;
                top: 16px;
            }
        }
    }
}
