/**
* BSS Commerce Co.
*
* NOTICE OF LICENSE
*
* This source file is subject to the EULA
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://bsscommerce.com/Bss-Commerce-License.txt
*
* =================================================================
*                 MAGENTO EDITION USAGE NOTICE
* =================================================================
* This package designed for Magento COMMUNITY edition
* BSS Commerce does not guarantee correct work of this extension
* on any other Magento edition except Magento COMMUNITY edition.
* BSS Commerce does not provide extension support in case of
* incorrect edition usage.
* =================================================================
*
* @category   BSS
* @package    Bss_ConfigurableMatrixView
* @author     Extension Team
* @copyright  Copyright (c) 2015-2016 BSS Commerce Co. ( http://bsscommerce.com )
* @license    http://bsscommerce.com/Bss-Commerce-License.txt
*/
.block-bss-matrixview {
    max-height: 650px;
    width: 100%;
    overflow: auto;
    margin-bottom: 25px;
}
#bss-matrixview{
    visibility: hidden;
    border-collapse: inherit;
}
table#bss-matrixview thead th {
    background: #f0f0f0;
    background-clip: padding-box;
}
table#bss-matrixview tbody tr:nth-child(even){
    background: #f0f0f0
}
table#bss-matrixview tbody tr:nth-child(odd) {
    background: #fff
}

table#bss-matrixview td:first-child, table#bss-matrixview th:first-child{
    border: none;
}

table#bss-matrixview th,table#bss-matrixview tbody tr td:first-child {
    z-index: 9;
    background-color: inherit;
}
table#bss-matrixview .swatch-option.color {
    min-width: 82px;
    min-height: 33px;
    border-radius: 5px;
    outline: none;
    border: none;
}
table#bss-matrixview .swatch-attribute.size .swatch-option, table#bss-matrixview .swatch-attribute.manufacturer .swatch-option {
    color: #575757;
}
table#bss-matrixview .swatch-option.image:not(.disabled):hover,table#bss-matrixview .swatch-option.color:not(.disabled):hover {
    opacity: 0.85;
}
.block-bss-matrixview .border-row-left {
    position: absolute;
    top: 0px;
    width: 0.5px;
    background: #ccc;
    left: 0;
    z-index: 19;
}
.block-bss-matrixview .border-row-right {
    position: absolute;
    top: 0px;
    width: 1px;
    background: #ccc;
    z-index: 19;
}

.child-product-matrix input.qty {
    width: 65px;
    border: solid 1px #bbb;
    text-align: center;
}
.child-product-matrix input.qty.ui-spinner-input {
    width: 95px;
    padding-left: 25px;
    padding-right: 25px;
}
.ui-spinner-up span.custom-button-bss:before {
    content: "+";
}
.ui-spinner-down span.custom-button-bss:before {
    content: "-";
}
.ui-spinner-up span.custom-button-bss, .ui-spinner-down span.custom-button-bss {
    display: block;
    width: 24px;
    background-color: #e8e8e8;
    height: 30px;
    line-height: 30px;
    color: #575757;
    font-size: 16px;
}

.child-product-matrix a.ui-spinner-button.ui-spinner-up {
    position: absolute;
    right: 1px;
    bottom: 1px;
    cursor: pointer;
}
.child-product-matrix a.ui-spinner-button.ui-spinner-down {
    position: absolute;
    left: 1px;
    bottom: 1px;
    cursor: pointer;
}
table#bss-matrixview td, table#bss-matrixview th {
    border-left: 1px solid #ccc;
    text-align: center;
}
table#bss-matrixview span.old-price .price-label {
     display: none;
}
table#bss-matrixview span.old-price .price {
    text-decoration: line-through;
}
canvas#bsscanvas {
    position: absolute;
    top: 0;
    left: 0;
}
span.label-attribute1 {
    position: absolute;
    left: 50%;
    top: 10px;
}
span.label-attribute0 {
    position: absolute;
    bottom: 5px;
    left: 15px;
}
.bss-swatch .swatch-option {
    display: inline-block;
    float: none;
    margin: 0;
}
.bss-swatch .lable-super-attribute {
    cursor: pointer;
}
.bss-swatch .lable-super-attribute.selected {
    text-decoration: underline;
}
.bss-attribute-label span{
    font-weight: bold;
}
.child-product-matrix div.tier-price {
    position: absolute;
    background: #ccc;
    padding: 10px;
    min-width: 250px;
    border-radius: 5px;
    z-index: 19;
    width: 175px;
}
.child-product-matrix div.tier-price:after {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ccc;
    content: '';
    position: absolute;
    bottom: -15px;
    left: 45%;
}
.bss-error{
    border: 1px solid #ff0606 !important;
}
p.mess-err-bss-m {
    display: none;
    position: absolute;
    z-index: 19;
    background: #ff0606;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    color: #ece7e7;
    font-weight: 600;
}
p.mess-err-bss-m:after {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 15px solid #f91111;
    content: '';
    position: absolute;
    bottom: -14px;
    left: 40%;
}
.child-product-matrix a:hover{
    text-decoration: none;;
}
.total-price {
    float: left;
    margin-bottom: 26px;
}
.total-price p{
    height: 30px;
    margin: 0;
    line-height: 30px;
}
.reset {
    float: right;
    padding: 5px;
    border-radius: 15.5px;
    box-shadow: 2px 0.1px 16px 0 rgba(0, 0, 0, 0.15);
}
span#reset-matrix-view {
    display: block;
    background-image: url('../images/reset_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 28px;
    cursor: pointer;
}
.child-product-matrix span.ui-spinner.ui-widget.ui-widget-content.ui-corner-all {
    display: inline-block;
    position: relative;
}

.total-rest-matrix-view:after {
    display: block;
    content: '';
    clear: both;
}
.bss-price-range .product-info-price .price-box .price-container .price{
    font-size: 24px;
    line-height: 24px;
}
.bss-price-range span {
    font-size: 20px !important;
    font-weight: bold;
    color: #000;
}
.ajaxloadmatrixrelative{
    position: relative;
}
.overlayajaxloadmatrix{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #ffffff;
    opacity: 0.7;
    filter: alpha(opacity=80);
    z-index: 777;
    width: 100%;
}
.ajaxloadmatrix {
    background-image: url('../images/ajax-loader.gif');
    z-index: 999;
    content: ' ';
    display: block;
    width: 40px;
    height: 40px;
    background-size: cover;
    margin: auto;
    vertical-align: text-bottom;
    position: relative;
}
.noswatch-nomatrix .field {
    margin-bottom: 15px;
}