<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */

$isFiltered = (!empty($block->getLayer()->getState()->getFilters())) ?: false;
?>
<?php if ($block->canShowBlock()): ?>
<span class="action filter-opener <?php if ($isFiltered): ?>filtered<?php endif; ?>">
    <span><?php /* @escapeNotVerified */ echo __('Refine') ?></span>
</span>
<?php endif; ?>
