<table class="footer-top">
    <tbody>
    <tr>
        <td class="social-links" align="center">
            <table class="socials">
                <thead>
                    <tr>
                        <td><h3>Follow Us</h3></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="https://www.facebook.com/" target="_blank"><img title="facebook" src="{{view url="images/email/email_icon_facebook.png"}}" alt="facebook" width="38" height="38" /></a></td>
                        <td><a href="https://www.instagram.com/" target="_blank"><img title="instagram" src="{{view url="images/email/email_icon_instagram.png"}}" alt="instagram" width="38" height="38" /></a></td>
                        <td><a href="https://www.twitter.com/" target="_blank"><img title="twitter" src="{{view url="images/email/email_icon_twitter.png"}}" alt="twitter" width="38" height="38" /></a></td>
                        <td><a href="https://www.youtube.com/" target="_blank"><img title="youtube" src="{{view url="images/email/email_icon_youtube.png"}}" alt="youtube" width="38" height="38" /></a></td>
                        <td><a href="https://www.pinterest.com/" target="_blank"><img title="pinterest" src="{{view url="images/email/email_icon_pinterest.png"}}" alt="pinterest" width="38" height="38" /></a></td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<table class="footer-middle">
    <tbody>
    <tr class="footer-frame">
        <td>©2017 Linen House. All Rights Reserved.</td>
        <td align="right">ABN 00 000 000 000</td>
    </tr>
    </tbody>
</table>
<table class="footer-bottom">
    <tbody>
    <tr>
        <td align="center">
            <p>For online store enquiries please contact <a href="mailto:sales@linenhouse.com">sales@linenhouse.com</a> or call us on 1300 350 886.</p>
            <p>We welcome any feedback that you may have. If you have an enquiry on our products or services, you can take a quick look at <a href="/faq">Frequently Asked Questions </a>and see if it might be answered there.</p>
            <p>If you need to contact any of our stores, contact details can be found at our <a href="/outlets-stockists">stores & stockists.</a></p>
        </td>
    </tr>
    </tbody>
</table>