
@import url("@{baseUrl}css/email-fonts.css");

table {
  color: inherit;
}

//
//  Email header
//  _____________________________________________

.header {
  background: #fff;
  padding: @email-content__padding__xl 0 @email-content__padding__l;
  text-align: center;
  img,
  a {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }
}

//
//  Email content
//  _____________________________________________

.email-information {
  td {
    padding-bottom: 5px;
  }
}

table.invoice{
    font-weight: 700;
    td{
        padding-left: 0;
    }
}

table.order-details {
  color: @email-text;
  tr {
    .address-details {
        padding-bottom: @email-content__padding__base;
    }

    .method-info {
        padding-bottom: @email-content__padding__xl;
    }
  }
}

table.email-items {
  margin: @email-content__padding__base 0 @email-content__padding__m;

  .item-info {
      width: 46%;
  }

  .item-qty {
      padding-left: 10%;
      width: 20%;
  }

  .item-price, .item-subtotal {
      text-align: right;
      width: 10%;
      font-size: 12px;

  }

  thead, tbody {
      border-bottom: 1px solid @email-border;
  }

   thead {
    tr {
      th {
        color: @email__header-color;
        .lib-font-size(12);
        font-weight: normal;
        padding: @email-content__padding__l / 2 0;
        text-transform: uppercase;

        &.item-info {
          padding-left: 0;
        }
      }
      td {
        color: @email-text;
      }
      &.product-info {
        color: @email-text;
        text-transform: capitalize;
      }
    }

  }

  tbody {
    tr {
      td {
        padding: @email-content__padding__m 0;
        border: none;
        &.item-info {
          .lib-font-size(12px);
          .lib-line-height(1.5);
          padding-left: 0;

          .product-name, .sku {
            .lib-font-size(12px);
            line-height: 1.5;
            margin: 0 0 @email-content__padding__s * 2 @product-image-width + @email-content__padding__m;
          }
        }
        .product-name, &.item-price, &.item-qty, &.item-subtotal {
            color: @email-header;
        }
      }
    }
  }

  .email-items-space {
    display: none;
  }

  .order-totals {
    border: 1px solid @email-border;
    border-left: 0;
    border-right: 0;
    color: @email-text;
    tr {
      th, td{
        text-align: left;
      }
       th {
        padding: 6px 100px 6px 0;
        text-transform: capitalize!important;
      }
       td {
        padding: 5px 0 5px @email-content__padding__xl;
        text-transform: capitalize!important;
      }
    }

    .subtotal {
      th,
      td {
          font-size: 16px;
          padding-top: 15px;
      }
    }
    tr.subtotal {
      th,
      td {
        font-size: 12px;
      }
    }
    .grand_total {
      th,
      td {
        padding-bottom: 30px;
        padding-top: 10px;
        font-size: 18px;
      }
    }
  }

  .product-image {
      float: left;
      width: @product-image-width;

      img {
          display: block;
          max-width: 100%;
          width: 100%;
      }
  }

  .bundle-option-label, .bundle-option-value {
      td, .item-info {
          padding-left: @product-image-width + @email-content__padding__m;
      }
  }

  .bundle-option-value {
      .item-info {
          padding-bottom: @email-content__padding__m;
      }
  }
}

//
//  Email footer
//  _____________________________________________

.footer {
  text-align: center;
  font-size: 15px;
  border-top:  1px solid #ccc;
  padding: 0;
  p {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .social-links {
    background: @email-text;
    text-align: center;
    h3 {
      color: @color-white;
      font-size: 24px;
      font-weight: 300;
    }
    li {
      display: inline-block;
      vertical-align: top;
    }
    a {
      text-decoration: none !important;
      &:hover {
        text-decoration: none !important;
      }
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin: 0;
    }
  }
  .footer-links {
    padding: @email-content__padding__m 0;
    margin: @email-content__padding__m;
    font-size: 12px;
    text-align: center;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none !important;
      }
    }
  }
  a {
    text-decoration: none !important;
    &:hover {
      text-decoration: underline !important;
    }
  }
  .copy {
    font-size: 12px;
  }
  .footer-info {
    padding: @email-content__padding__m @email-content__padding__l;
    ul {
      border: 1px solid #ccc;
      li {
        display: inline-block;
        padding: 15px 0;
        vertical-align: middle;
        text-align: left;
        width: 49%;

        &:last-child {
          text-align: right;
        }
      }
    }
  }
}

.main-content {
    color: @email-text;
    padding: 0;
    text-align: left;
}

.email-intro {
  padding: @email-content__padding__l 0 @email-content__padding__m;
  .email-intro-table {
    .email-intro-message {
      text-align: left;
      width: 58%;
      padding: 0 @email-content__padding__m @email-content__padding__m 0;
      border: 1px solid #ccc;
      border-width: 0 1px 1px 0;
      h2 {
        .lib-font-size(@h3__font-size);
        font-weight: @heading__font-weight__base;
        margin: 0 0 @email-content__padding__m;
        letter-spacing: .05em;
        line-height: 1.5;
        text-transform: none;
      }
    }
    .email-intro-info {
      text-align: right;
      width: 42%;
      padding: 0 0 @email-content__padding__m @email-content__padding__m;
      border: @border-width__base solid #ccc;
      border-width: 0 0 1px;
      a {
        color: #000;
        text-decoration: underline;
      }
    }
  }
}

.email-summary {
  padding: 0 @email-content__padding__l @email-content__padding__m;
  p, span, a, h3, h2, h1 {
    text-align: left;
  }
  p {
    margin: 40px 0;
  }
  a {
    color: #000;
    text-decoration: underline;
  }
  h3 {
    text-transform: capitalize;
  }
}

.address-details,
.method-info {
  strong {
    padding-bottom: 20px;
    font-size: 14px;
    display: table-cell;
    text-transform: capitalize;
  }
}

.logo {
  display: block;
  text-align: center;
}

.email-information {
  padding: 0 @email-content__padding__m @email-content__padding__l;
}

.form-email-content {
  padding: @email-content__padding__m @email-content__padding__l;
}

.header-title {
  font-weight: 400;
  line-height: 30px;
  font-size: 25px;
  color: @email-header;
  text-transform: inherit;
}

.header-sub {
    margin-top: @email-content__padding__l;
}

.intro-order-info {
  border-width: 1px 1px 1px 0;
  border-color: #ccc;
  border-style: @email-border;
  border-left: 0;
  border-right: 0;
  line-height: 22px;
  color: @email-text;

  .left-order, .right-order {
      border: 1px solid @email-border;
      vertical-align: middle;
      width: 52%;
  }

  .left-order {
      border-left: none;
      border-right: none;
      padding: 20px 20px 15px 0;
    h3,
    h2{
      font-weight: 400;
      line-height: 30px;
      font-size: 25px;
      margin-top: 23.5px;
      margin-bottom: 27px;
      color: @email-header;
      text-transform: inherit;
    }
  }

  .right-order {
      border-right: none;
      text-align: right;
      padding: 20px 0 15px 20px;
    td {
      display: block;
      width: 100%;
      border: 0;
      color: @email-text;
      padding: 0;
      &.list {
        a {
          text-decoration: underline;
          color: @email-text;
        }
        &:nth-child(1) {
          margin-bottom: 18px;
        }
        &:nth-child(2) {
          margin-bottom: 0;
        }
        &:nth-child(3) {
          margin-bottom: 18px;
          font-weight: 600;
        }
        &:nth-child(4) {
          margin-bottom: 0;
        }
      }
    }
  }
}

.email-summary {
  padding: 0;
  color:@email-text;
  line-height: 22px;
  p {
    a {
      text-decoration: underline;
      color: @email-text;
    }
    &:nth-child(1) {
      margin: 15px 0 0;
    }
    &:nth-child(2) {
      margin: 24px 0 0;
    }
  }
  h3 {
    color: @email-header;
  }
}

.order-number {
    margin-top: 35px;
}

.order-details {
  color: @email-text;
  line-height: 1.5;
}

.email-information {
  padding: 0;
  strong {
    color: @email-header;
    text-transform: capitalize;
  }
  th {
    text-transform: uppercase;
    padding: 20px 0 5px;
  }
}

.item-options {
  width: 60%;
  margin: 0 0 10px 90px;
  dt,dd {
    text-transform: capitalize;
    padding: 0;
  }

}

.footer {
  border: 0;
  color: @email-text;
  table {
    width: 100%;
  }
  .footer-frame {
    color: @email-text;
    font-size: 12px;
    border-bottom: 1px solid @email-border;
    .left {
      float: left;
      padding: 20px 0;
    }
    .right {
      padding: 20px 0;
    }

  }
  .footer-container {
    td {
      padding-top: @email-content__padding__l;
      color: @email-text;
      p {
        font-size: 12px;
        line-height: 22px;
        a {
          text-decoration: underline;
          color: @email-text;
        }
        &:nth-child(2) {
          margin-bottom: 0;
        }
      }
    }
  }
  .footer-holder {
    table {
      width: 100%;
      text-align: center;
    }
    .title {
      font-size: 18px;
      color: @email-text;
      font-weight: 400;
    }

  }
  .socials {
    background: #fafafa;
    td {
      padding: 20px 0 25px;
    }
    p {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4){
        margin: 0 12px;
        display: inline-block;
      }
    }
  }
}

.email-items {
  th {
    text-transform: uppercase;
    padding: 20px 0 7px !important;
  }
}

.items-configurable {
  width: 60%;
  margin: 0 0 10px 80px;
  padding-left: 20px;

  dt,dd {

    text-transform: capitalize;
    padding-left: 0;
  }


}
dd.value {
  padding-left: 0;
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
  .email-intro-message,
  .email-intro-info {
    display: block !important;
    width: 100% !important;
    text-align: center !important;
    padding: 0 !important;
  }

  .email-intro-message {
    border-right-width: 0 !important;
  }

  .logo {
    img {
      max-width: 100% !important;
    }
  }

  .email-intro,
  .email-information,
  .form-email-content {
    padding: 0 !important;
  }
}
