// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Email variable overrides
//  _____________________________________________

//  This file should be used to set theme-specific variables for emails.
//  By default, emails will inherit variables from the Magento UI Library and the _theme.less and _variables.less files
//  in a custom theme. Use this file if you want to set specific variables for emails.
//  For example, you can make the email font, typography, colors, etc unique from the frontend theme.

//  Example usage:
//  @link__color: @color-dark-green1;
//  @link__text-decoration: underline;
//
//  @email__background-color: @color-heathered-grey; // Change background to darker grey color
@baseUrl: "{{base_url_path}}/";

//  Structure
@email-body__width: 635px;;
@email-body__padding: 10px;

//  Content
@email-content__padding__base: 10px;
@email-content__padding__s: 5px;
@email-content__padding__m: 20px;
@email-content__padding__l: 30px;
@email-content__padding__xl: 40px;
@product-image-width: 80px;

//  Colors
@email__header-color: #999999;
@email__background-color: #fff;
@email-content__background-color: #fff;
@email-border: #ccc;
@email-header: #534847;
@email-text: #666;

@font-family__base: Arial, 'Helvetica Neue', Helvetica, sans-serif;

@heading__font-weight__base: 600;

@font-size__base: 12px;
@h2__font-size: 24px;
@h3__font-size: 18px;
