// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
@import 'module/_collapsible_navigation.less';
@import 'module/_megamenu.less';
@import 'module/_nice-select.less';
@import 'module/_slick.less';
//
//  Theme variables
//  _____________________________________________

//  Messages
@message-global-note__color: @text__color;
@message-global-note__background: @color-yellow-light2;
@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;
@message-global-note__border-color: @color-yellow-light3;

@message-global-caution__color: @color-white;
@message-global-caution__background: @color-red9;
@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;
@message-global-caution__border-color: none;

@header__background-color: @color-black;
@header-panel__background-color: @color-dark-grey;
@header-panel__text-color: @color-white;
@header-icons-color: @color-gray56;
@header-icons-color-hover: @color-gray20;
@customer-welcome__z-index: @dropdown-list__z-index + 1;

@addto-color: @color-gray60;
@addto-hover-color: @primary__color;
@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@price-color: @color-gray34;
@price-size: 22px;
@price-size-desktop: 36px;

@button__shadow: false; // Used for secondary button and catalog toolbar controls
@button__shadow-active: false; // Used for secondary button and catalog toolbar controls

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: @color-gray-light01;
@footer-links-separator-border-color: @color-gray-light4;
@footer-links-color: @color-gray34;
@footer-links-color-hover: @color-gray20;
@footer-links-color-current: @primary__color__light;

//  Layered navigation
@filter-title-background-color: @color-gray94;
@filter-link: @color-gray-darken4;
@filter-link-hover: darken(@filter-link, 30%);
@filter-quantity: @color-gray52;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  body {
    .lib-css(background-color, @page__background-color);
  }
  .special-price {
    float: right;
    padding-left: 4px;
    .price {
      color: #f0452e;
    }
  }
  .price-box {
    display: inline-block !important;
    width: auto;
  }
  //  ToDo UI: move it directly to .page-wrapper (now it doesn't appear in mediaquery cuz of size of css)
  .page-wrapper {
    .product-item {
      .old-price {
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
    .lib-vendor-prefix-display(flex);
    .lib-vendor-prefix-flex-direction(column);
    margin: 0;
    min-height: 100%; // Stretch content area for sticky footer
    position: relative;

    > .breadcrumbs,
    > .top-container,
    > .widget,
      .page-bottom,
      .related{
      box-sizing: border-box;
      width: 100%;
      max-width: @layout__max-width;
    }

    .ie9 & {
      .lib-css(background-color, @page__background-color);
      min-height: 0;
    }
    .ie10 &,
    .ie11 & {
      height: 100%;
    }
  }
  //
  //  Header
  //  ---------------------------------------------

  .page-header {
    .lib-css(background-color, @header__background-color);
    border-bottom: 1px solid @border-color__base;
    margin-bottom: @indent__base;

    .panel.wrapper {
      .lib-css(background-color, @header-panel__background-color);
      .lib-css(color, @header-panel__text-color);
    }
  }

  .header.panel {
    &.linen-au{
      display: none;
    }
    > .header.links {
      .lib-list-inline();
      float: right;
      font-size: 0;
      margin-left: auto;
      margin-right: @indent__base;

      > li {
        font-size: @font-size__base;
        margin: 0 0 0 15px;

        > a {
          .lib-link(
            @_link-color: @header-panel__text-color,
            @_link-text-decoration: none,
            @_link-color-visited: @header-panel__text-color,
            @_link-text-decoration-visited: none,
            @_link-color-hover: @header-panel__text-color,
            @_link-text-decoration-hover: underline,
            @_link-color-active: @header-panel__text-color,
            @_link-text-decoration-active: underline
          );
        }
      }
    }
  }

  .header {
    &.content{
      .lib-clearfix();
    }

    &.content:extend(.abs-add-clearfix all) {
      padding-top: @indent__s;
      position: relative;
    }

    &-panel-center{
      .balance-box{
        max-width: 320px;
        margin: 0 auto;
        text-align: center;
      }
      .flickity-page-dots{
        display: none;
      }
      .balance-box-group-content{
        text-transform: uppercase;
        .lib-font-size(12);
        letter-spacing: 0.9px;
        a{
          text-decoration: underline;
        }
      }
    }
    &-wrapper-right{
      text-align: right;
      .header-wishlist-wrapper {
        display: inline-block;
      }
      &.linen-au{
        margin-top: -35px;
        text-align: right;
        float: right;

        .header-wishlist-wrapper{
          display: none;
        }
        .account-link{
          display: inline-block;
          vertical-align: top;
          position: relative;
          z-index: 100;

          > a{
            display: block;
            width: 40px;
            height: 40px;
            position: relative;
            font-size: 0;

            &:before{
              .simple-icon();
              .lib-font-size(22);
              content: '\ee22';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              line-height: 40px;
              text-align: center;
              color: @color-white;
            }
          }
          .account-logout{
            position: absolute;
            top: 100%;
            left: -30px;
            width: 100px;
            padding: 5px 0;
            background: @color-white;
            visibility: hidden;
            margin-top: 10px;
            opacity: 0;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
            text-align: center;

            &:before{
              width: 0;
              height: 0;
              position: absolute;
              bottom: 100%;
              border-style: solid;
              border-color: transparent transparent @color-white;
              border-width: 0 8px 6px;
              content: "";
              left: 50%;
              margin-left: -8px;
            }
            a{
              display: block;
              line-height: 26px;
              text-decoration: none;
              color: @color-gray60;

              &:hover{
                color: @color-black;
              }
            }
          }
          &:hover{
            .account-logout{
              visibility: visible;
              opacity: 1;
              margin-top: 0;
            }
          }
        }
      }
      .account-link {
        .account-logout {
          a.my-acc{
            display: none;
          }
        }
      }
    }
  }

  .logo-wrapper{
    display: block;
    width: 100%;
    text-align: center;
    .logo {
	    display: inline-block;
	    vertical-align: top;
	}
  }
  .logo {
    position: relative;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
    }

    .page-print & {
      display: inline-block;
      float: none;
    }
  }

  .wishlit-counter-icon{
    &:before{

      content: @icon-simple__heart;
      .simple-icon();
      .lib-font-size(23);
    }
  }

  .page-main {
    > .page-title-wrapper {
      .page-title + .action {
        margin-top: @indent__l;
      }
    }
  }

  .action.skip {
    &:not(:focus) {
      &:extend(.abs-visually-hidden all);
    }

    &:focus {
      .lib-css(background, @color-gray94);
      .lib-css(padding, @indent__s);
      box-sizing: border-box;
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 15;
    }
  }
  //
  //  Global notice
  //  ---------------------------------------------

  .message.global {
    p {
      margin: 0;
    }

    &.noscript,
    &.cookie {
      .lib-message(@_message-type: global-note);
      margin: 0;
    }

    &.cookie {
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      z-index: 3;

      .actions {
        margin-top: @indent__s;
      }
    }

    &.demo {
      .lib-message(@_message-type: global-caution);
      margin-bottom: 0;
      text-align: center;
    }
  }

  //
  //  Footer
  //  ---------------------------------------------

  .page-footer {
    margin-top: @indent__m;
  }

  .footer {
    &.copyright {
      &-container{
        .container();
      }
      .lib-css(color, @color-black);
      a{
        .lib-css(color, @color-black);
        .lib-font-size(12);
        text-decoration: none;
      }
      small.copyright {
        .lib-css(color, @color-black);
        display: inline-block;
        padding: 0 @indent__s 0 0;
        text-align: center;
        line-height: 28px;
      }
      ul{
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        line-height: 26px;
      }
      .copyright-links{
        ul{
          li{
            position: relative;
            padding: 0 12px 0 7px;
            &:first-child{
              padding-left: 0;
            }
            &:after{
              width: 1px;
              height: 12px;
              background: @color-black;
              position: absolute;
              right: 0;
              top:50%;
              margin-top:  -5px;
              content: '';
              display: block;
            }
            &:last-child{
              &:after{
                display: none;
              }
            }
          }
        }
      }

      .item.payments-list{
        li{
          vertical-align: middle;
          &:last-of-type{
            margin-right:0;
          }
        }
        a{
          img{
            -webkit-filter: grayscale(1);
            -webkit-filter: grayscale(100%);
            filter: gray;
            filter: grayscale(100%);
          }
        }
      }
      .footer-logo{
        text-align: right;
        padding-top: 17px;
      }
      .copyright-links, .payments-list{
        ul{
          li{
            display: inline-block;
            .lib-font-size(13);
            color: @color-black;
            margin-bottom: 0;
          }
        }
      }
    }

    &-top-inner{
      display: flex;
      flex-direction: row;
      .item{
        position: relative;
        color: @color-white;
        text-align: center;
        font-weight: 200;
        letter-spacing: 0.2px;
        &:after{
          position: absolute;
          height: 86%;
          width: 1px;
          background: @color-white;
          right: -24px;
          top: 17px;
          display: block;
          content: '';
        }
        h3{
          .lib-font-size(22);
          margin-bottom: 35px;
          color: @color-white;
        }
        p{
          .lib-font-size(13);
          text-transform: uppercase;
        }
        &.first{
          > p{
            .lib-font-size(16);
            padding: 0 21%;
          }
          a{
            .lib-font-size(16);

            &.lh-reward-btn{
              display: block;
              color: @color-black;
              background: @color-white;
              text-decoration: none;
              line-height: 1.5;
              padding: 8px 0;
              max-width: 275px;
              margin: 0 auto 20px;
              font-size: 20px;

              &:hover{
                background: #eee;
              }
              strong{
                font-weight: bold;
              }
            }
          }
        }
        &.last{
          margin-right: 0;
          &:after{
            display: none;
          }
          ul{
            margin-bottom: 15px;
          }
          li{
            margin-bottom: 5px;
          }
          a.icon{
            .lib-font-size(20);
            text-transform: uppercase;
            font-weight: 200;
            line-height: 24px;
            &:before{
              .simple-icon();
              display: inline-block;
              margin-right: 10px;
              vertical-align: middle;
              height: 24px;
            }
            &.phone{
              &:before{
                content: @icon-simple__phone;
              }
            }
            &.email{
              &:before{
                content: @icon-simple__email;
              }
            }
          }
          > p{
            text-transform: none;
            padding: 0 26%;
          }
        }
      }
      .block.newsletter{
        .label{
          display: none;
        }
      }
    }

    &-bottom-inner{
      .item{
        padding-left: 10px;
        &.last{
          margin-right: 0;
        }
        ul{
          li{
            margin-bottom: 0;
            a{
              line-height: 28px;
            }
          }
        }
      }

      .item{
        .title{
          .lib-font-size(13);
          color: @color-white;
          font-weight: @font-weight__bold;
          text-transform: uppercase;
          letter-spacing: 0.2px;
        }
      }
    }
  }

  .social-links{
    li{
      display: inline-block;
    }
    a{
      width: 38px;
      height:38px;
      background-image: url('../images/social/icons.svg');
      background-repeat: no-repeat;
      display: block;
      margin: 0 5px;
      span{
        display: none;
      }
      &.icon {
        &-facebook{
          background-position:0 0;
        }
        &-instagram{
          background-position:0 -38px;
        }
        &-twitter{
          background-position:0 -114px;
        }
        &-youtube{
          background-position:0 -152px;
        }
        &-pinterest{
          background-position:0 -76px;
        }
      }
    }

  }

  .page-header,
  .page-footer {
    .switcher {
      .options {
        .lib-dropdown(
          @_dropdown-actions-padding: 0,
          @_dropdown-list-item-padding: 0,
          @_dropdown-toggle-icon-content: @icon-down,
          @_dropdown-toggle-active-icon-content: @icon-up,
          @_icon-font-text-hide: true,
          @_icon-font-size: 10px,
          @_icon-font-line-height: 22px,
          @_dropdown-list-min-width: 160px
        );

        ul.dropdown {
          a {
            .lib-link(
              @_link-color: @color-gray20,
              @_link-text-decoration: none,
              @_link-color-visited: @color-gray20,
              @_link-text-decoration-visited: none,
              @_link-color-hover: @color-gray20,
              @_link-text-decoration-hover: none,
              @_link-color-active: @color-gray20,
              @_link-text-decoration-active: none
            );
            display: block;
            padding: 8px;
          }
        }
      }

      strong {
        font-weight: @font-weight__regular;
      }

      .label {
        &:extend(.abs-visually-hidden all);
      }
    }

    .widget.block {
      .lib-css(margin, @indent__base 0);
    }
  }

  //
  //  Widgets
  //  ---------------------------------------------

  .sidebar {
    .widget.block:not(:last-child),
    .widget:not(:last-child) {
      margin-bottom: @indent__xl;
    }
  }

  .widget {
    clear: both;

    .block-title:extend(.abs-block-widget-title all) {
    }
  }


  .no-display:extend(.abs-no-display all) {
  }

  //
  //  Calendar
  //  ---------------------------------------------

  .ui-datepicker td {
    padding: 0;
  }

  .ui-tooltip {
    .lib-css(background, @tooltip__background);
    border: @tooltip__border-width solid @tooltip__border-color;
    padding: 10px;
  }

  //
  //  Toolbar - Paging
  //  ---------------------------------------------

  .totals-item {
    display: none;
  }
  .toolbar {
    &.top {
      margin-bottom: 0;

      .pager {
        display: inline;
      }

      .pages {
        display: none;
      }
      .toolbar-amount {
        float: right;
        line-height: 20px;
        position: relative;
      }

      .toolbar-number > a{
        display: inline;
        text-transform: capitalize;
        text-decoration: none;
        margin-left: 5px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &.bottom {
      .toolbar-amount {
        display: none;
      }
    }

    .toolbar-amount {
      margin: 0;
      padding: 0;
    }
  }
}

//
//  Navigation
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l){
  .header-wrapper-right{
    .account-link {
      > a{
        pointer-events: none;
      }
      .account-logout {
        a.my-acc{
          display: block;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
  .page-header{
    margin-bottom: 33px;
  }

  .header{
    &.links{
      .welcome{
        display: none;
      }
    }
    &.content{
      padding-top: 22px;
      padding-bottom: 22px;
    }
    &-panel-center{
      height: 30px;
      line-height: 30px;
      overflow: hidden;
    }
    
    &-wrapper-right{
      float: right;
      
      &.linen-au{
	      margin-top: -11px;

	      .account-link{
	        display: none;
	      }

      }
    }
    &-panel-right, &-panel-left{
      display: none;
    }
    &-wishlist-wrapper{
      margin-right: 35px;
    }
  }

  .logo{
    position: absolute;
    left: 50%;
    top: 26px;
  }

  .customer-name,
  .customer-welcome + .authorization-link {
    display: none;
  }

  .nav-sections .switcher-trigger strong:after {
    .lib-font-size(16);
    right: -25px;
    top: -2px;
  }

  .navigation .parent .level-top:after {
    .lib-font-size(16);
    right: 10px;
    top: 7px;
  }

  .additional-navigation{
    display: none;
  }

  .page-footer .footer.content {
    .switcher-store {
      .lib-css(background, @footer__background-color);
      .lib-font-size(16);
      margin: 0 -@layout__width-xs-indent;

      .switcher-options {
        display: block;

        ul.dropdown {
          background: none;
          border: 0;
          box-shadow: none;
          margin: 0;
          position: relative;

          &:before,
          &:after {
            display: none;
          }
        }

        .switcher-trigger,
        .switcher-option {
          border-top: 1px solid @footer-links-separator-border-color;
          display: block;
          padding: @indent__s @layout-indent__width;
        }

        .switcher-trigger strong {
          padding: @indent__s 0;
        }

        .switcher-option a {
          padding: 0;
        }
      }
    }
  }

  .footer{
    &-top-inner,
    &-bottom-inner{
      .container();
      padding-left: 15px;
      padding-right: 15px;
    }

    &.top,
    &.bottom{
      h3, .title{
        color: @color-white;
        font-weight: @font-weight__regular;
        text-transform: uppercase;
      }
      a{
        color: @color-white;
        text-decoration: none;
      }
    }

    &.top{
      background: @color-black;
    }
    &.bottom{
      background: @color-dark-grey;
    }

    &-top-inner{
      padding: 32px 15px 15px 15px;
      .lib-vendor-prefix-display(flex);
      .lib-vendor-prefix-flex-direction(row);
      .lib-vendor-prefix-flex-wrap(wrap);
      .item{
        h3{
          .lib-font-size(18);
          margin-bottom: 25px;
        }
        &:after{
          display: none;
          width: 0;
        }
        &.first{
          width: 100%;
          .lib-clearfix();
          flex: 0 1 100%;
          margin: 0;
          border-bottom: 1px solid @color-white;
        }
        &.last{
          margin: 0;
          li{
            display: inline-block;
            margin-right: 10px;
            &:last-child{
              margin-right: 0;
            }
          }
          a.icon{
            .lib-font-size(18);
          }
          &:after{
            display: none;
          }
        }
      }

      .item.first{
        padding-bottom: 30px;
        .block.newsletter{
          margin: 20px 0;
          padding-right: 22px;
          padding-top: 0;
          .actions{
            vertical-align: middle;
          }
          .action{
            &.subscribe{
              padding: 8px 10px;
              font-weight: normal;
            }
          }
          .field.newsletter{
            width: 100%;
            padding: 0;
            margin: 0;
          }
        }
        h3, p{
          display: block;
          text-align: center;
        }
        h3{
          margin-bottom: 5px;
        }
        p{
          padding: 0;
        }
      }
      .social-links{
        margin-bottom: 10px;
      }
    }
    &-bottom-inner{
      padding-top: 35px;
      padding-bottom: 10px;
      .lib-vendor-prefix-display(flex);
      .lib-vendor-prefix-flex-direction(row);
      .lib-vendor-prefix-flex-wrap(wrap);
      .item{
        padding-left: 0;
        ul{
          li{
            margin-bottom: 0;
            a{
              line-height: 28px;
            }
          }
        }
      }

      .item{
        .title{
          .lib-font-size(13);
          color: @color-white;
          font-weight: @font-weight__bold;
          text-transform: uppercase;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  body {
    .footer-top-inner {
      display: block;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .logo {
    margin-bottom: 13px;
    max-width: 175px;
    margin-left: -90px;
  }

  .nav-toggle{
    left: 10px;
    top: 30px;
  }

  .header{
    &-wrapper-right{
      .header-wishlist-wrapper{
        display: none;
      }
    }
  }

  .footer{

    &-top-inner{
      padding: 15px 15px 0;
      .item{
        width: 100%;
        padding: 15px 0;
        &.first{
          padding-bottom: 20px;
          .block.newsletter{
            padding-right: 11px;
            .control{
              padding-left: 15px;
            }
          }
          .block.newsletter,  h3, p{
            width: 100%;
            float: none;
          }
        }
        &.last{
          border-left: 0;
          border-top: 1px solid @color-white;
        }
      }
    }

    &-bottom-inner{
    padding: 20px 0 10px;
      .item{
       width: 100%;
        margin-bottom: 10px;
        ul{
          opacity: 0;
          height: 0;
          visibility: hidden;
          margin: 0;
        }
        &.open{
          ul{
            opacity: 1;
            visibility: visible;
            height: 100%;
          }
          .title{
            &:after{
              .simple-icon();
              content: "\ea3e";
              color: @color-white;
            }
          }
        }
        .title{
          &:after{
            .simple-icon();
            content: "\ea52";
            color: @color-white;
            float: right;
            .lib-font-size(18);
          }
          &.open{
            &:after{
              .simple-icon();
              content: "\ea3e";
              color: @color-white;
            }
          }
        }
      }
    }
  }

  .copyright-container{
    .lib-vendor-prefix-display(flex);
    .lib-vendor-prefix-flex-direction(column);
    .lib-vendor-prefix-flex-wrap(wrap);
    .item{
      flex: 1 0 100%;
      width: 100%;
      &.footer-logo, &.payments-list{
        padding: 25px 0;
        border-bottom: 1px solid @color-form-border;
      }
      &.footer-logo{
        text-align: center;
        order: 1;
      }
      &.payments-list{
        order: 2;
        text-align: center;
        > ul {
          .lib-vendor-prefix-display(flex);
          .lib-vendor-prefix-flex-direction(row);
          .lib-vendor-prefix-flex-wrap(wrap);
          max-width: 300px;
          margin: 0 auto;
          li{
            width: 33.333%;
            margin: 0 0 10px;
            img{
              min-width: 45px;
            }
          }
        }
      }
      &.copyright-links{
        order: 3;
        text-align: center;
        padding: 10px 0;
        small.copyright{
          padding: 0;
        }
        small, li, a{
          .lib-font-size(10);
        }
      }
    }
  }

  //
  //  Toolbar - Paging
  //  ---------------------------------------------

  .toolbar {
    &.top {

      .toolbar-amount {
        float: none;
        display: block;
        width: 100%;
      }
    }
  }
}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
  .logo{
    max-width: 200px;
    margin-left: -100px;
  }

  .footer{
    &-top-inner{
      .item{
        flex: 1 0 50%;
        width: 50%;
        padding-top: 10px;
        margin: 0;
        &.first{
          .block.newsletter{
            .lib-layout-column(12, 1, 6);
            float: right;
          }
        }
        &.last{
          border-left: 1px solid @color-white;
        }
      }
    }
    &-bottom-inner{
      .item{
        .lib-layout-column(12, 1, 4);
        .lib-column-gutter(12);
        &:nth-of-type(3n + 3){
          margin-right: 0;
        }

      }
    }
    &.copyright{
      .copyright-container{
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        padding: 15px 15px 10px;
      }
      position: relative;
      .copyright-links, .payments-list{
        padding: 0;
      }
      .copyright-links{
        order: 2;
        .copyright{
          padding: 0 9.5px 0 0;
        }
      }
      .payments-list{
        order: 1;
        margin-bottom: 5px;
      }
      .footer-logo{
        position: absolute;
        right: 50px;
        padding: 0;
        top: 12px;
      }
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
  html,
  body {
    height: 100%; // Stretch screen area for sticky footer
  }

  body {
    .ie9 & {
      .lib-css(background-color, @copyright__background-color);
    }
  }

  .navigation ul {
    padding: 0 8px;
  }

  .page-header {
    border: 0;
    margin-bottom: 0;

    .panel.wrapper {
      .lib-css(background-color, @header-panel__background-color);
    }

    .header.panel:extend(.abs-add-clearfix-desktop all) {
      padding-bottom: 5px;
      padding-top: 8px;
    }

    .switcher {
      float: right;
      margin-left: 15px;
      margin-right: -6px;
      .lib-vendor-prefix-order(1);
    }
  }

  .logo {
    .lib-layout-column(12, 1, 4);
    .lib-column-gutter(15);
    max-height: 30px;    

    img {
      max-height: inherit;
    }
    .logo-wrapper &{
    	float: none;
	    width: auto;
	    margin: 0;
    }
  }
  body{
    &:not(.cms-index-index){
      .additional-navigation{
        border-bottom: 1px solid @color-form-border;
      }
    }
  }
  .header {
    &-panel-left{
      .lib-layout-column(12, 1, 3);
      .lib-column-gutter(12);
      letter-spacing: 0.9px;
      a{
        color: @color-white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &-panel-center{
      .lib-layout-column(12, 1, 6);
      .lib-column-gutter(12);
      height: 21px;
      overflow: hidden;
      .balance-box{
        max-width: 480px;
        margin: 0 auto;
        text-align: center;
      }
      .balance-box-group-content{
        text-transform: uppercase;
        .lib-font-size(12);
        letter-spacing: 0.9px;
        a{
          text-decoration: underline;
        }
      }
    }
    &-panel-right {
      .lib-layout-column(12, 1, 3);
      position: relative;
      float: right;
      margin-right: 0;
      text-align: right;
      > li {
        cursor: pointer;
        display: inline-block;
        > a {
          color: @color-white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        &:not(.authorization-link) {
          &:before {
            display: inline-block;
            content: ' / ';
            color: @color-white;
            margin-right: 4px;
          }
        }
        &.authorization-link {
          > a {
            display: inline-block;
            letter-spacing: 0.9px;
          }
          &.active {
            .customer-account {
              opacity: 1;
              visibility: visible;
            }
          }
          > span {
            position: relative;
            &:after {
              position: relative;
              right: 0;
              top: 0;
              font-family: @font-icons;
              content: @icon-simple__caret-down;
              font-size: inherit;
              padding-left: 10px;
            }
          }
        }
      }
    }
    &.panel {
      .lib-clearfix();
      ul, div{
        li{
          list-style: none;
        }
      }
      > a{
        color: @color-white;
        .lib-font-size(12);
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
      > .header.links {
        .lib-list-inline();
        float: right;
        margin-left: auto;
        > li {
          margin: 0 0 0 15px;
          > a {
            display: inline-block;
            line-height: 1.4;
          }

          &.welcome {
            display: none;
          }
        }

        > .authorization-link {
          a{
            text-align: right;
          }
        }

        > .customer-welcome + .authorization-link {
          display: none;
        }
      }
    }

    &.content:extend(.abs-add-clearfix-desktop all) {
      padding: 60px 15px 0;
    }
    &-wishlist-wrapper{
      margin-right: 21px;
    }
  }

  .page-main {
    > .page-title-wrapper {
      .page-title {
        display: inline-block;
      }

      .page-title + .action {
        float: right;
        margin-top: @indent__base;
      }
    }
  }

  .customer-welcome {
    .lib-dropdown(
      @_toggle-selector: ~'.action.switch',
      @_options-selector: ~'ul',
      @_dropdown-actions-padding: 0,
      @_dropdown-list-item-padding: 0,
      @_dropdown-toggle-icon-content: @icon-down,
      @_dropdown-toggle-active-icon-content: @icon-up,
      @_icon-font-text-hide: true,
      @_icon-font-size: 10px,
      @_icon-font-line-height: 22px,
      @_dropdown-list-pointer-position: right,
      @_dropdown-list-position-right: 0,
      @_dropdown-list-z-index: @customer-welcome__z-index
    );

    li:extend(.switcher li all) {
      a {
        .lib-link(
          @_link-color: @color-gray20,
          @_link-text-decoration: none,
          @_link-color-visited: @color-gray20,
          @_link-text-decoration-visited: none,
          @_link-color-hover: @color-gray20,
          @_link-text-decoration-hover: none,
          @_link-color-active: @color-gray20,
          @_link-text-decoration-active: none
        );
        display: block;
        line-height: 1.4;
        padding: 8px;
      }
    }

    .customer-name {
      cursor: pointer;
    }

    .customer-menu {
      display: none;
    }

    .action.switch {
      .lib-button-reset();
      .lib-css(color, @color-white);
    }

    .header.links {
      min-width: 175px;
    }

    &.active {
      .action.switch {
        .lib-icon-font-symbol(
          @_icon-font-content: @icon-up,
          @_icon-font-position: after
        );
      }

      .customer-menu {
        display: block;
      }
    }

    .greet {
      display: none;
    }
  }

  .additional-navigation{
    .nav-additional{
      display: table;
      text-align: center;
      width: 100%;
      max-width: 980px;
      margin: 0 auto;
      padding: 0 20px;
      > div, > .block{
        display: table-cell;
         a{
          position: relative;
          color: @color-light-grey;
          padding: 10px 13px 10px 10px;
          display: block;
          vertical-align: middle;
          .lib-font-size(12);
           text-decoration: none;
           &:hover {
             text-decoration: underline;
           }
          &:before{
            .simple-icon();
            .lib-font-size(16);
            color: @color-light-grey;
            display: inline-block;
            margin-right: 8px;
            vertical-align: middle;
            height: 20px;
          }
          &:after{
            content: '';
            background:@color-light-grey;
            height: 12px;
            width: 1px;
            position: absolute;
            right:0;
            top: 50%;
            margin-top: -6px;
          }

        }
        &:first-child{
           a{
            padding: 10px 13px 10px 20px;
          }
        }
        &:last-child{
           a{
            &:after{
              display: none;
            }
          }
        }
      }
    }
    .item{
      &.shipping{
        &:before{
          content: @icon-simple__truck;
        }
      }
      &.returns{
        &:before{
          content: @icon-simple__refresh;
        }
      }
      &.design{
        &:before{
          content: @icon-simple__cup;
        }
      }
      &.family{
        &:before{
          content: @icon-simple__people;
        }
      }
    }
  }

  .page-wrapper {
    transition: margin .3s ease-out 0s;
    &-right{
      .lib-layout-column(12, 1, 4);
       margin-right: 0;
    }
  }

  .page-footer {
    .lib-css(background, @footer__background-color);
    margin-top: auto;

    .switcher {
      .options {
        ul.dropdown {
          bottom: -@indent__s;
          left: 100%;
          margin: 0 0 0 @indent__base;
          top: auto;

          &:before,
          &:after {
            bottom: @indent__base - 7px;
            left: auto;
            right: 100%;
            top: auto;
          }

          &:before {
            .lib-css(border-color, transparent @dropdown-list__background transparent transparent);
          }

          &:after {
            .lib-css(border-color, transparent @dropdown-list-pointer__border transparent transparent);
            margin: 0 0 -1px -1px;
          }
        }
      }
    }
  }


  .footer{

    &-top-inner{
      padding: 34px 15px 40px 15px;
      display: flex;
      flex-direction: row;
      .item{
        .lib-layout-column(12, 1, 4);
        .lib-column-gutter(12);
        padding: 0 32px 0 48px;
        position: relative;
        color: @color-white;
        text-align: center;
        font-weight: 200;
        letter-spacing: 0.2px;
        &:after{
          position: absolute;
          height: 86%;
          width: 1px;
          background: @color-white;
          right: -24px;
          top: 17px;
          display: block;
          content: '';
        }
        h3{
          .lib-font-size(22);
          margin-bottom: 35px;
          color: @color-white;
        }
        p{
          .lib-font-size(13);
          text-transform: uppercase;
        }
        &.first{
          > p{
            .lib-font-size(16);
            padding: 0 21%;
            a {
              text-decoration: underline;
              &:hover {
                text-decoration: none;
              }
            }
          }
          a{
            .lib-font-size(16);
          }
        }
        &.last{
          margin-right: 0;
          &:after{
            display: none;
          }
          ul{
            margin-bottom: 15px;
          }
          li{
            margin-bottom: 5px;
          }
          a.icon{
            .lib-font-size(20);
            text-transform: uppercase;
            font-weight: 200;
            line-height: 24px;
            &:before{
              .simple-icon();
              display: inline-block;
              margin-right: 10px;
              vertical-align: middle;
              height: 24px;
            }
            &.phone{
              &:before{
                content: @icon-simple__phone;
              }
            }
            &.email{
              &:before{
                content: @icon-simple__email;
              }
            }
          }
          > p{
            text-transform: none;
            padding: 0 26%;
          }
        }
      }
      .block.newsletter{
        .label{
          display: none;
        }
      }
    }

    &-bottom-inner{
      padding-top: 35px;
      padding-bottom: 10px;
      .item{
        .lib-layout-column(12, 1, 2);
        .lib-column-gutter(12);
        padding-left: 10px;
        &.last{
          margin-right: 0;
        }
        ul{
          li{
            margin-bottom: 0;
            a{
              line-height: 28px;
            }
          }
        }
      }

      .item{
        .title{
          .lib-font-size(13);
          color: @color-white;
          font-weight: @font-weight__bold;
          text-transform: uppercase;
          letter-spacing: 0.2px;
        }
      }
    }

    .footer-top-inner, .footer-bottom-inner{
      .container();
    }
    &.top{
      h3, .title{
        margin-bottom: 35px;
        font-weight: @font-weight__regular;
      }
    }
    &.bottom{
      h3, .title{
        margin-bottom: 10px;
        font-weight: @font-weight__bold;
      }
    }
    &.top, &.bottom{
      h3, .title{
        color: @color-white;
        text-transform: uppercase;
      }
      a{
        color: @color-white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &.top{
      background: @color-black;
    }
    &.bottom{
      background: @color-dark-grey;
    }
    &.copyright{
      .copyright-container{
        .lib-clearfix();
        .container();
      }
      .item{
        .lib-layout-column(12, 1, 4);
        .lib-column-gutter(12);
        min-width: 410px;
        padding: 35px 0px;
        &.payments-list{
          text-align: center;
          margin-right: 0;
        }
        &.footer-logo{
          padding: 20px 0;
        }
        &:last-child{
          .lib-layout-column(12, 1, 1.5);
          float: right;
          min-width: auto;
          margin-right: 0;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .breadcrumbs{
    margin: 15px auto;
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
  .footer{
    &.copyright{
      .item{
        &.payments-list{
          li{
            margin-right: 12px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}