<?php
/**
* Copyright © 2017 Balance Internet Pty., Ltd. All rights reserved.
* See COPYING.txt for license details.
*/
?>
<?php if ($block->checkPagination() && $block->getCollection()->getSize()): ?>
    <div class="order-products-toolbar toolbar bottom">
        <?php if ($block->getLastPageNum() > 1): ?>
            <div class="pages">
                <strong class="label pages-label" id="paging-label">
                    <?php echo __('Page') ?>
                </strong>
                <ul class="items pages-items" aria-labelledby="paging-label">
                    <?php if (!$block->isFirstPage()): ?>
                        <li class="item pages-item-previous">
                            <?php $text = $block->getAnchorTextForPrevious() ? $block->getAnchorTextForPrevious() : ''; ?>
                            <a class="<?php echo $text ? 'link ' : 'action ' ?> previous"
                               href="<?php echo $block->escapeXssInUrl($block->getPreviousPageUrl()) ?>"
                               title="<?php echo $text ? $text : __('Previous') ?>">
                                    <span class="label"><?php echo __('Page') ?></span>
                                    <span><?php echo $text ? $text : __('Previous') ?></span>
                            </a>
                        </li>
                    <?php endif; ?>

                    <?php if ($block->canShowFirst()): ?>
                        <li class="item">
                            <a class="page first"
                               href="<?php echo $block->escapeXssInUrl($block->getFirstPageUrl()) ?>">
                                <span class="label"><?php echo __('Page') ?></span>
                                <span>1</span>
                            </a>
                        </li>
                    <?php endif; ?>

                    <?php foreach ($block->getFramePages() as $_page): ?>
                        <?php if ($block->isPageCurrent($_page)): ?>
                            <li class="item current">
                                <strong class="page">
                                    <span class="label"><?php echo __('You\'re currently reading page') ?></span>
                                    <span><?php echo $_page ?></span>
                                </strong>
                            </li>
                        <?php else: ?>
                            <li class="item">
                                <a href="<?php echo $block->escapeXssInUrl($block->getPageUrl($_page)) ?>" class="page">
                                    <span class="label"><?php echo __('Page') ?></span>
                                    <span><?php echo $_page ?></span>
                                </a>
                            </li>
                        <?php endif; ?>
                    <?php endforeach; ?>

                    <?php if ($block->canShowLast()): ?>
                        <li class="item">
                            <a class="page last" href="<?php echo $block->escapeXssInUrl($block->getLastPageUrl()) ?>">
                                <span class="label"><?php echo __('Page') ?></span>
                                <span><?php echo $block->getLastPageNum() ?></span>
                            </a>
                        </li>
                    <?php endif; ?>

                    <?php if (!$block->isLastPage()): ?>
                        <li class="item pages-item-next">
                            <?php $text = $block->getAnchorTextForNext() ? $block->getAnchorTextForNext() : ''; ?>
                            <a class="<?php echo $text ? 'link ' : 'action ' ?> next"
                               href="<?php echo $block->escapeXssInUrl($block->getNextPageUrl()) ?>"
                               title="<?php echo $text ? $text : __('Next') ?>">
                                <span class="label"><?php echo __('Page') ?></span>
                                <span><?php echo $text ? $text : __('Next') ?></span>
                            </a>
                        </li>
                    <?php endif; ?>
                </ul>
            </div>
        <?php endif; ?>
    </div>
<?php endif;