<?php
/* @var \Balance\AheadworksBlog\Block\Post $block */
?>
<?php
/** @var \Aheadworks\Blog\Model\Post $_post */
$_post = $block->getPost();
if (is_null($_post)) {
    return;
}

$_postThumbnail = $block->getThumbnailUrl($_post);
$_postProjectTags = implode(', ', $_post->getData('project_tags'));
?>
<li class="recent-post-item">
    <?php if (strlen($_postThumbnail)): ?>
        <div class="post-thumbnail">
            <a href="<?php echo $block->getPostUrl($_post) ?>">
                <img src="<?php echo $_postThumbnail ?>"
                     class="thumbnail"
                     alt="thumbnail"
                     title="<?php /* @escapeNotVerified */ echo $_post->getTitle() ?>"/>
            </a>
        </div>
    <?php else: ?>
        <div class="post-thumbnail">
            <img src="<?php echo $block->getViewFileUrl('images/placeholder.jpg'); ?>"
                 class="thumbnail"
                 alt="thumbnail"
                 title="<?php /* @escapeNotVerified */ echo $_post->getTitle() ?>"/>
        </div>
    <?php endif ?>
    <div class="post-info">
        <div class="post-title">
            <a href="<?php echo $block->getPostUrl($_post) ?>"><?php /* @escapeNotVerified */ echo $_post->getTitle() ?></a>
        </div>
        <?php $shortContent = $_post->getShortContent() ?>
        <?php if ($shortContent): ?>
            <ul>
                <li><span><?php /* @escapeNotVerified */ echo $shortContent ?></span></li>
            </ul>
        <?php endif; ?>
    </div>
    <div class="recent-post-item-btn-holder">
        <a href="<?php echo $block->getPostUrl($_post) ?>" class="action primary"><?php /* @escapeNotVerified */ echo __('Read') ?></a>
    </div>
</li>
