<?php
/**
 * Copyright © 2017 Balance Internet Pty., Ltd. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Balance\AheadworksBlog\Block\PostList\Widget
 */
?>
<div id="aw-ajax-block-wrapper">
    <div class="aw-ajax-top">
        <div class="aw-ajax-top-content">
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('aw_blog_text_block')->toHtml(); ?>
        </div>
        <?php echo $block->getChildHtml('blog.post.categories'); ?>
    </div>
    <div id="aw-ajax-container">
        <div class="aw-blog-post-wrapper">
            <div class="aw-blog-posts" data-role="post-list">
                <?php echo $block->getChildHtml('post.widget.list'); ?>
            </div>
            <?php if ($block->getChildBlock('post.widget.list')->isMoreButton()) : ?>
                <a class="show-more-button" data-button="more">Load more</a>
            <?php else : ?>
                <?php echo $block->getChildHtml('post.widget.pagination'); ?>
            <?php endif; ?>
        </div>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "#aw-ajax-container": {
            "Balance_AheadworksBlog/js/post/list": <?php echo $block->getJsonConfig(); ?>
        }
    }
</script>

