// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Newsletter subscription
    .block.newsletter {
        margin-bottom: 35px;

        .form.subscribe {
            display: table;
            width: 100%;
        }

        .fieldset {
            display: table-cell;
            margin: 0;
            padding: 0;
            vertical-align: top;
        }

        .field {
            margin: 0;
            display: table-cell;
            width: 68%;
            padding-left: 25px;
            .control {
                display: block;
                text-align: left;
            }
        }

        input {
            padding-left: 15px;
            height: 35px;
        }

        .title {
            display: none;
        }

        .label {
            &:extend(.abs-visually-hidden all);
        }

        .actions {
            display: table-cell;
            vertical-align: top;
            width: auto;
            padding-left: 10px;
        }

        .action.subscribe {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            margin-left: -1px;
            .lib-button-outline();
            .lib-font-size(12);
            padding: 10px 0 7px;
            font-weight: @font-weight__light;

            &:hover,
            &:active {
                border: 1px solid @color-light-grey;
            }
        }

        .message {
            margin-top: @indent__s;
        }
    }

    //
    //  Newsletter subscription - Customer area
    //  _____________________________________________

    .form-newsletter-manage {
        .legend {
            background: #f0f0f0;
            border-bottom: none;
            .lib-font-size(14);
            font-weight: @font-weight__bold;
            letter-spacing: 0.2px;
            padding: 10px 20px;
            text-transform: uppercase;
            width: 100%;
        }

        .actions-toolbar {
            > .primary {
                .action {
                    background: @color-white;
                    color: #000;
                    padding: 10px 20px;

                    &:hover {
                        background: #999999;
                        color: @color-white;
                    }
                }
            }
        }

        p {
            letter-spacing: 0.2px;
        }
    }

    //
    //  Popup Subscribe
    //  _____________________________________________

    .popup-subscribe {
        .modal-footer {
            display: none;
        }
        .modal-header{
            padding: 0;
            z-index: 1000;
        }
        .modal-content{
            padding: 33px;
        }
        &.modal-popup._inner-scroll {
            .modal-inner-wrap {
                background: @color-black;
                max-height: 100%;
                text-align: center;
                position: absolute;
                top: 50%;
                -webkit-transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                transform: translate(0, -50%);
                width: 450px;
            }
        }
        h3 {
            color: @color-white;
            .lib-font-size(22);
            font-weight: @font-weight__regular;
            line-height: 32px;
            margin: 0;
        }
        .block.newsletter {
            max-width: 360px;
            margin: 0 auto;
            p {
                color: @color-white;
                .lib-font-size(16);
                font-weight: @font-weight__light;
                margin: 0 auto;
                text-align: center;
                text-transform: uppercase;
                width: 50%;
                a {
                    color: @color-white;
                    font-weight: @font-weight__bold;
                    text-decoration: underline;
                }
            }
            .field {
                padding-left: 0;
                vertical-align: top;

                .label {
                    .lib-visually-hidden();
                }
            }

            .form.subscribe {
                padding: 25px 20px 30px;
            }
            .actions {
                vertical-align: top;
            }
        }

        .action-close {
            padding: 10px;
            &:before {
                color: #fff;
                border:1px solid #fff;
                border-radius: 50%;
                .lib-font-size(16);
                .lib-line-height(16);
                width: 20px;
                height: 20px;
                display: block;
                line-height: 18px;
            }
            &:hover {
                &:before {
                    color: #fff;
                    opacity: 0.8;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.newsletter {
        width: 100%;
        max-width: 360px;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    //
    //  Popup Subscribe
    //  _____________________________________________

    ._has-modal {
        .popup-subscribe {
            left: 0;
            &.modal-popup._inner-scroll {
                .modal-inner-wrap {
                    background: @color-black;
                    min-height: 0;
                    margin: 0 auto;
                    -webkit-transform: translate(0, -50%);
                    -moz-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    -o-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .form-newsletter-manage {
        .actions-toolbar {
            > .primary {
                .action {
                    width: 100%;
                }
            }
        }
    }

    //
    //  Popup Subscribe
    //  _____________________________________________

    ._has-modal {
        .popup-subscribe {
            &.modal-popup._inner-scroll {
                left: 0;
                .modal-inner-wrap {
                    width: auto;
                }
            }
            .block.newsletter {
                .form.subscribe{
                    display: block;
                }
                .field{
                    width: 100%;
                    display: block;
                }
                p {
                    width: 70%;
                }
                .actions{
                    padding: 0;
                    margin-top: 10px;
                    width: 100%;
                    display: block;
                    .subscribe {
                        padding: 8px 4px;
                        width: 100%;
                        display: block;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
