<ul class="footer payments-list">
    <li><a> <img src="{{view url="images/payments/visa.svg"}}" alt="Visa" width="39" /> </a></li>
    <li><a> <img src="{{view url="images/payments/mastercard.svg"}}" alt="MasterCard" width="72" /> </a></li>
    <li><a> <img src="{{view url="images/payments/paypal.svg"}}" alt="PayPal" width="58" /> </a></li>    
    <li><a> <img src="{{view url="images/payments/afterpay.svg"}}" alt="PayPal" width="60" /> </a></li>    
</ul>