<?php
$_parentBlock = $this->getParentBlock();
$_post = $_parentBlock->getPost();

if ($_post): ?>
    <li class="blog-post-info-item">
        <span class="date">
            <?php /* @noEscape */ echo $_parentBlock->formatDate($_post->getPublishDate(), \IntlDateFormatter::LONG) ?>
        </span>
    </li>
<?php endif; ?>
