//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .contact-index-index {
        .page-title-wrapper {
            border-bottom: 1px solid @color-form-border;
            margin-top: @indent__m;
            margin-bottom: @indent__l;
            text-align: center;

            .page-title {
                margin-bottom: @indent__l;
            }
        }
    }
    .cms-contact-us{
        .sidebar-additional {
            li {
                margin-top: @indent__l;
                &:last-child {
                    margin-top: 0;
                }

                a {
                    display: block;
                    padding-left: 30px;

                    &:before {
                        position: absolute;
                        left: 0;
                        top: -2px;
                        .lib-font-size(18);
                        width: 18px;
                        height: 18px;
                        font-family: @font__simple-line;
                    }
                }

                &:first-child {
                    a {
                        &:before {
                            content: @icon-simple__pointer;
                        }
                    }
                }

                &:nth-child(2) {
                    a {
                        &:before {
                            content: @icon-simple__email;
                        }
                    }
                }

                &:nth-child(3) {
                    a {
                        &:before {
                            content: @icon-simple__tel;
                        }
                    }
                }

                &:last-child {
                    a {
                        &:before {
                            content: @icon-simple__fax;
                        }
                    }
                }
            }

            a {
                text-decoration: none;
                position: relative;
            }

            span {
                display: block;
            }
        }
    }

    .contact-container {
        display: inline-block;
        margin-bottom: @indent__xl * 2;
        width: 100%;
        .content {
            float: left;
            width: 100%;
            p {
                margin-bottom: 5px;
            }
        }

        textarea {
            resize: none;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .contact-index-index {
        .page-title-wrapper {
            display: none;
        }
    }
    .cms-contact-us{
        .page-title-wrapper{
            margin-bottom: 10px;
        }
        .columns{
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            .lib-vendor-prefix-flex-wrap(wrap);
            width: 100%;
            .sidebar-main,
            .main,
            .sidebar-additional{
                width: 100%;
            }
            .sidebar-main{
                order:1;
            }
            .main{
                order: 2;
            }
            .sidebar-additional{
                order: 3;
            }
        }
    }
    .contact-container {
        margin: 20px 0;
        padding-left: 0;
        .block {
            width: 100%;
            float: none;
            padding: 0;
        }

        .content {
            border-right: none;
            padding-right: 0;

        }
        .field {
            .control,
            .label {
                color: #000;
                width: 100%;
            }
        }

        .actions-toolbar,
        .action {
            width: 100%;
        }

        .webforms {
            margin-top: @indent__m;
        }
    }

    .sidebar-additional {
        padding: 20px 0 0;
        border-top: 1px solid @color-form-border;
        img {
            width: 100%;
        }
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .cms-page-view.cms-contact-us{
        .columns{
            .column.main{
                width: 59.5%;
            }
        }
        .sidebar-additional{
            width: 23%;
            padding-left: @indent__xl;
            float: right;
        }
    }
    .contact-container {
        margin-bottom: @indent__l;
        padding-left: 10%;
        .contact-left {
            width: 40%;
             span {
                 display: none;
             }
        }

        .content {
            border-right: none;
            padding-right: 0;
        }

        .webforms {
            margin-top: @indent__l;

            .actions-toolbar {
                float: right;
                width: 70%;

                .action {
                    width: 180px;
                }
            }
        }

        .field {
            display: inline-block;
            width: 100%;
            > * {
                display: inline-block;
                vertical-align: middle;
            }

            .label {
                color: #000;
                width: 30%;
                margin-bottom: 0;
            }

            .control {
                width: 69%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .contact-container {
        margin-bottom: 8%;

        .contact-left {
            float: left;
            width: 20%;
            padding-right: @indent__xl;
        }

        .content {
            border-right: 1px solid @color-form-border;
            padding: 0 @indent__xl;
        }
    }
}
