<?php
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/

/* @var $block \Aheadworks\Blog\Block\Post */

// @codingStandardsIgnoreFile
?>
<?php
    $post = $block->getPost();
?>
<?php if ($post): ?>
    <article class="blog-posts-post blog-post">
        <header class="blog-post-header">
            <h1 class="blog-post-title">
                <?php if ($block->isListItemMode()): ?>
                    <a href="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getPostUrl($post)) ?>" class="blog-post-title-link">
                        <?php echo $block->escapeHtml($post->getTitle()) ?>
                    </a>
                <?php else: ?>
                    <?php echo $block->escapeHtml($post->getTitle()) ?>
                <?php endif; ?>
            </h1>
            <?php echo $block->getChildHtml('aw_blog_post.post_attribute'); ?>
            <ul class="blog-post-info">
                <?php $categoryLinks = $block->getCategoryLinks() ?>
                <?php if ($linksCount = count($categoryLinks)): ?>
                    <li class="blog-post-info-item">
                        <?php if ($linksCount == 1): ?>
                            <?php /* @noEscape */ echo $categoryLinks[0] ?>
                        <?php elseif ($linksCount == 2): ?>
                            <?php /* @noEscape */ echo __('%1 and %2', $categoryLinks[0], $categoryLinks[1]) ?>
                        <?php elseif ($linksCount > 2): ?>
                            <?php /* @noEscape */ echo __(
                                '%1, %2 and %3',
                                implode(', ', array_slice($categoryLinks, 0, $linksCount - 2)), $categoryLinks[$linksCount - 2], $categoryLinks[$linksCount - 1]
                            ) ?>
                        <?php endif; ?>
                    </li>
                <?php endif; ?>
                <?php echo $block->getChildHtml('aw_blog_post.post_date'); ?>
                <?php if ($block->commentsEnabled()): ?>
                    <li class="blog-post-info-item">
                        <a href="#" data-url="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getPostUrl($post)) ?>#disqus_thread"
                           data-mage-init='{"blogCommentsLink": {}}' class="blog-post-info-comments">
                            <span class="blog-post-info-comments-icon"></span>
                            <span class="disqus-comment-count" data-disqus-identifier="<?php echo $block->escapeHtml($post->getId()) ?>"></span>
                        </a>
                    </li>
                <?php endif; ?>
            </ul>
            <?php if ($socialIconsHtml = $block->getSocialIconsHtml()): ?>
                <div class="blog-post-info-socials">
                    <?php /* @noEscape */ echo $socialIconsHtml ?>
                </div>
            <?php endif; ?>
            <?php echo $block->getChildHtml('blog.post.categories'); ?>
        </header>
        <div class="blog-post-content">
            <?php /* @noEscape */ echo $block->getContent($post) ?>
        </div>
        <?php if ($block->showReadMoreButton($post)): ?>
            <p class="blog-post-read-more-wrapper">
                <a href="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getPostUrl($post)) ?>"
                   class="blog-post-read-more action primary">
                    <?php echo $block->escapeHtml(__('Read more')) ?>
                </a>
            </p>
        <?php endif; ?>
        <?php if ($block->isViewMode()): ?>
            <div class="blog-post-tags">
                <div class="blog-tags blog-tags-plain">
                    <?php foreach ($post->getTagNames() as $tagName): ?>
                        <a href="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getSearchByTagUrl($tagName)) ?>"
                           class="blog-tags-tag">
                            <?php echo $block->escapeHtml($tagName) ?>
                        </a>
                    <?php endforeach; ?>
                </div>
            </div>
        <?php endif; ?>
        <?php /* @noEscape */ echo $block->getRelatedProductHtml($block->isViewMode(), $block->getPositionAfterPost()) ?>
        <?php if ($block->isViewMode() && $block->commentsEnabled()): ?>
            <?php /* @noEscape */ echo $block->getDisqusEmbedHtml() ?>
        <?php endif; ?>
        <?php /* @noEscape */ echo $block->getRelatedProductHtml($block->isViewMode(), $block->getPositionAfterComments()) ?>
    </article>
<?php endif; ?>
