//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .cms-index-index{
    .page-title-wrapper{
      display: none;
    }
  }
  .section{
    &-best_sellers,
    &-new_season,
    &-product_list {
      .balance{
        &-box-container{
          text-align: center;
          padding-bottom: 25px;
        }
        &-box-heading{
          letter-spacing: 0.6px;
          text-transform: uppercase;
        }
        &-box-content{
          font-size: 13px;
          letter-spacing: 0.2px;
        }
        &-box-button{
          .lib-button-primary-color();
          display: inline-block;
          margin: 10px auto 0;
          .lib-font-size(13);
        }
      }
    }
    &-seo{
      img{
        margin-bottom: 20px;
      }
      text-align: center;
      padding: 0 10%;
    }
  }

  .blog {
    h1 {
      text-align: center;
      margin: 0 0 25px;
    }
  }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
  .sections{
    &.banner{
      margin-bottom: 0px;
    }
  }
  .section{
    &-best_sellers,
    &-new_season,
    &-product_list {
      margin-bottom: 40px;
      .balance-box-heading{
        .lib-font-size(18);
      }
      .balance-box-button{
        margin: 5px auto 0;
        padding: 6px 0;
      }
      > .block.widget,
      > #amasty-shopby-product-list{
        flex: 0 0 100%;
        margin: 0;
        order: 2;
        .block-title{
          display: none;
        }
        .products-grid{
          .lib-vendor-prefix-display(flex);
          .lib-vendor-prefix-flex-wrap(wrap);
          .lib-vendor-prefix-flex-direction(row);
          flex: 0 1 auto;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          .product-item{
            .lib-layout-column(12, 1, 4) !important;
            .lib-column-gutter(12);
            margin-left: 0 !important;
            &:last-of-type{
              margin-right: 0;
            }
          }
        }
      }
      .balance-box{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &-new_season,
    &-best_sellers,
    &-product_list,
    &-instagram{
      .balance-box{
        flex: 1 0 100%;
        width: 100%;
        margin-bottom: 20px;
        order: 1;
      }
    }

    &-brands{
      .balance-box-group-no-slide.column4{
        .balance-box-group{
          .lib-layout-column(12, 1, 4);
          .lib-column-gutter(12);
          &:last-child, &:last-of-type{
            margin-right: 0;
          }
          &:first-child{
            width: 100%;
            margin-right: 0;
          }
        }
      }
    }
    &-instagram{
      margin-bottom: 60px;
      .block.widget{
        flex: 0 0 100%;
        width: 100%;
        order:2;
        margin-bottom: 0;
        .block-title{
          display: none;
        }
      }
      .fs-entry-container{
        .lib-layout-column(12, 1, 4);
        .lib-column-gutter(12);
        margin-bottom: 1.96078431%;
        padding-top: 0;
        &:last-of-type, &:nth-of-type(3n + 3){
          margin-right: 0;
        }
        .fs-timeline-entry{
          padding-bottom: 100%;
          position: relative;
          left: auto;
          top: auto;
          right: auto;
          bottom: auto;
          margin-top: 7.8%;
          .fs-text-container{
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
          }
        }
      }
      .balance-box{
        color: @color-white;
        .lib-vendor-prefix-display(flex);
        align-items: center;
        justify-content: center;
        .balance-box-container{
          text-align: center;
        }
        .balance-box-content{
          padding:0 45px;
          p, span{
            display: none;
          }
        }
        h2, h3, h4, p, span{
          color:@color-white;
        }
        h2{
          .lib-font-size(18);
          letter-spacing:0.25px;
          line-height: 34px;
          margin-bottom: 0;
          padding: 0 50px;
          &:before{
            font-family: @custom-icons__font-name;
            speak: none;
            font-style: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            display: block;
            content: @icon-icomoon__instagram;
            .lib-font-size(38);
            font-weight: bold;
            color: @color-white;
            margin-bottom: 5px;
          }
        }
        h4, h3{
          margin-top: 0;
          .lib-font-size(14);
          letter-spacing: 0.2px;
          font-weight: @font-weight__regular;
        }
      }
    }
    &-seo{
      padding: 0 7%;
      img{
        max-width: 210px;
      }
    }
  }
  .balance-box-group-designers{
    .balance-box-layout-middle{
      .balance-box-group-heading{
        .lib-font-size(18);
        padding: 8px 20px;
        margin: 0;
      }
      .balance-box-group-content{
        display: none;
      }
    }
  }
}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls){
  .section{
    &-categories,
    &-best_sellers,
    &-product_list,
    &-new_season,
    &-instagram,
    &-brands .balance-box{
      .lib-vendor-prefix-flex-wrap(wrap);
    }
  }
  .fs-mobile{
    .fs-timeline{
      .lib-vendor-prefix-display(flex);
      .lib-vendor-prefix-flex-wrap(wrap);
      .lib-vendor-prefix-flex-direction(row);
      flex: 0 2 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      .fs-entry-container{
        .lib-layout-column(12, 1, 4) !important;
        .lib-column-gutter(12);
        padding-top: 0;
        margin-left: 0 !important;
        margin-bottom: 1.96078431%;
        .fs-timeline-entry{
          padding-bottom: 100%;
          position: relative;
          left: auto;
          top: auto;
          right: auto;
          bottom: auto;
          margin-top: 7.8%;
          .fs-text-container{
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
          }
        }
        &:last-of-type, &:nth-child(3n + 3){
          margin-right: 0;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .section{
    &-categories{
      .lib-vendor-prefix-flex-direction(column);
      -webkit-box-orient: vertical;
      margin: 0 -15px;
      .balance-box-group{
        width: 100%;
        margin-bottom: 10px;
        max-height: 130px;
        overflow: hidden;
        .balance-box-image{
          position: relative;
          min-height: 130px;
          overflow: hidden;
          img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            right: 0;
            bottom: 0;
            margin-top: -18%;
          }
        }
      }
    }
    &-new_season,
    &-product_list {
      width: 50%;
      float: left;
      margin-left: 0;
    }
    &-best_sellers{
      width: 50%;
      float: right;
      margin-right: 0;
      padding-left: 12px;
    }
    &-new_season,
    &-best_sellers,
    &-product_list {
      .balance-box-container {
        padding: 25px 0 45px;
      }
      .balance-box-heading{
        line-height: 22px;
        padding: 0 50px;
        margin-bottom: 25px;
      }
      .balance-box{
        .balance-box-content{
          p{
            display: none;
          }
        }
      }
      > .block.widget,
      > #amasty-shopby-product-list{
        display: none;
      }
    }
    &-brands, &-instagram{
      display: none;
    }
  }
  section.blog{
    clear: both;
    border-bottom: 1px solid @color-border;
    margin-bottom: 45px;
    .lib-clearfix();
    .blog-recent-posts{
      .slick-dots {
        bottom: -30px;
        li{
          width: 10px;
          height: 10px;
          button{
            width: 10px;
            height: 10px;
            background: transparent;
            border: 1px solid @color-black;
            border-radius:50%;
            &:before{
              font-size: 0;
              width: 10px;
              height: 10px;
            }
          }
          &.slick-active{
            button{
              background: @color-black;
            }
          }
        }
      }
    }
  }
  .fs-mobile{
    .fs-timeline{
      .lib-vendor-prefix-display(flex);
      .lib-vendor-prefix-flex-wrap(wrap);
      .lib-vendor-prefix-flex-direction(row);
      flex: 0 2 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      .fs-entry-container{
        .lib-layout-column(12, 1, 6) !important;
        .lib-column-gutter(12);
        padding-top: 0;
        margin-left: 0 !important;
        margin-bottom: 1.96078431%;
        .fs-timeline-entry{
          padding-bottom: 100%;
          position: relative;
          left: auto;
          top: auto;
          right: auto;
          bottom: auto;
          margin-top: 3.4%;
          .fs-text-container{
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
          }
        }
        &:last-of-type, &:nth-child(2n + 2){
          margin-right: 0;
        }
      }
    }
  }
}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
  .section {
    &-best_sellers,
    &-new_season,
    &-product_list {
      .balance-box-heading {
        margin-bottom: 0;
      }
    }
    &-categories{
      margin-bottom: 50px;
      .balance-box-group{
        .lib-layout-column(12, 1, 4);
        .lib-column-gutter(12);
        &:last-child, &:last-of-type{
          margin-right: 0;
        }
      }
    }
  }
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {

  .sections{
    &.banner{
      margin-bottom: 35px;
    }
  }
  .page-layout-1column{
    section[class^='section'], section[class*=' section']{
      margin-bottom: 65px;
    }
  }
  .section{
      &-categories,
      &-best_sellers,
      &-new_season,
      &-instagram,
      &-product_list,
      &-brands .balance-box{
        .lib-vendor-prefix-flex-wrap(nowrap);
      }
    &-best_sellers,
    &-new_season,
    &-product_list {
      > .block.widget,
      > #amasty-shopby-product-list{
        flex: 0 0 auto;
        .lib-layout-column(12, 1, 9);
        .lib-column-gutter(12);
        .block-title{
          display: none;
        }
        .products-grid{
          width: 100%;
          .product-item{
            .lib-column(3, 9, false);
            &:nth-of-type(3n + 3){
              .lib-column(3, 9, true);
            }
          }
        }
      }
      > div{
        &:last-child{
          margin-right: 0;
        }
      }
      .balance{
        &-box{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &-box-container{
          text-align: center;
          padding: 0 15%;
        }
        &-box-heading{
          font-size: 30px;
          line-height: 32px;
          letter-spacing: 0.6px;
          padding: 0 28px;
          text-transform: uppercase;
        }
        &-box-content{
          font-size: 13px;
          letter-spacing: 0.2px;
        }
        &-box-button{
          .lib-button-primary-color();
          display: inline-block;
          margin: 10px auto;
          .lib-font-size(13);
        }
      }
    }
    &-new_season{
      .balance-box{
        flex: 0 0 auto;
        .lib-layout-column(12, 1, 3);
        .lib-column-gutter(12);
      }
    }
    &-instagram{
      .block.widget{
        flex: 0 0 auto;
        margin-bottom: 0;
        .block-title{
          display: none;
        }
        .lib-layout-column(12, 1, 9);
      }
      .balance-box{
        color: @color-white;
        .lib-vendor-prefix-display(flex);
        align-items: center;
        justify-content: center;
        .balance-box-container{
          text-align: center;
        }
        .balance-box-content{
          padding:0 45px;
        }
        h2, h3, h4, p, span{
          color:@color-white;
        }
        h2{
          .lib-font-size(30);
          letter-spacing:1px;
          line-height: 34px;
          margin-bottom: 0;
          padding: 0 50px;
          &:before{
            font-family: @custom-icons__font-name;
            speak: none;
            font-style: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            display: block;
            content: @icon-icomoon__instagram;
            font-weight: bold;
            color: @color-white;
            .lib-font-size(58);
            margin-bottom: 30px;
          }
        }
        h4{
          margin-top: 8px;
          .lib-font-size(16);
          letter-spacing: 0.2px;
          font-weight: @font-weight__regular;
        }
      }
    }
    &-best_sellers,
    &-instagram,
    &-product_list {
      > .block.widget{
        .lib-column-gutter(12);
      }
      > .balance-box{
        .lib-layout-column(12, 1, 3);
      }
      > div{
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  .fs-desktop{
    .fs-timeline{
      .lib-vendor-prefix-display(flex);
      .lib-vendor-prefix-flex-wrap(wrap);
      .lib-vendor-prefix-flex-direction(row);
      flex: 0 1 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      .fs-entry-container{
        .lib-inline-column(3, 9, false);
        &:nth-of-type(3n + 3){
          .lib-inline-column(3, 9, true);
        }
        margin-left: 0 !important;
        height: 100%;
        padding-top: 0;
        .fs-timeline-entry{
          padding-bottom: 100%;
          position: relative;
          left: auto;
          top: auto;
          right: auto;
          bottom: auto;
          margin-top: 7.8%;
          .fs-text-container{
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
          }
        }
        &:nth-child(-n+3){
          .fs-timeline-entry{
            margin-top: 0;
          }
        }
      }
    }
  }
  .fs-has-links {display:none;}
  .fs-wrapper div.fs-text-container * {color:#fff}
  .fs-wrapper div.fs-text-container {background-color:rgba(0, 0, 0, 0.59); margin: 0px}
  div.fs-entry-date{display:none}
  div.fs-entry-title{display:none}

  .balance-box-group-designers{
    .balance-box-layout-middle{
      .balance-box-group-heading{
        .lib-font-size(30);
        line-height: 32px;
        letter-spacing: 0.6px;
        padding: 0 50px;
        margin: 0 0 20px;
      }
      .balance-box-group-content{
        padding:0 30px;
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
  .section{
    &-categories,
    &-best_sellers,
    &-new_season,
    &-product_list,
    &-instagram,
    &-brands .balance-box{
      .lib-clearfix();
      .lib-vendor-prefix-display(flex);
      .lib-vendor-prefix-flex-direction(row);
      flex: 0 1 auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
    }
    &-best_sellers,
    &-new_season,
    &-product_list {
      .balance{
        &-box-container{
          padding: 0px 20% 30px;
        }
        &-box-heading{
          line-height: 32px;
          padding: 0 28px;
        }
      }
    }
  }
  &-categories{
    margin-bottom: 40px;
    .balance-box-group{
      .lib-layout-column(12, 1, 4);
      .lib-column-gutter(12);
      &:last-child, &:last-of-type{
        margin-right: 0;
      }
    }
  }
}

//
//  Tablet
//  _____________________________________________

