//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .cms-instagram {
        .page-title-wrapper {
            display: none;
        }
    }
    .instagram-container {
        margin-bottom: 2rem;
        .title,
        .subtitle {
            text-align: center;
        }
        .title {
            letter-spacing: .03em;
        }
        .subtitle {
            margin: 1rem auto 2rem;
            max-width: 940px;
        }
        .block.widget{
            flex: 0 0 auto;
            margin-bottom: 0;
            .block-title{
                display: none;
            }
        }

        .fs-mobile .fs-next-button,
        .fs-desktop .fs-next-button {
            .lib-button(
                @_button-font-size: 13px,
                @_button-font-weight: 400,
                @_button-line-height: 20px,
                @_button-padding: 9px 15px,
                @_button-margin: 30px 0 0,
                @_button-width: 100%,
                @_button-color: @color-black,
                @_button-background: transparent,
                @_button-border: 1px solid @color-black,

                @_button-color-hover: @button__hover__color,
                @_button-background-hover: @button__hover__background,
                @_button-border-hover: @button__hover__border,
                @_button-color-active: @button__active__color,
                @_button-background-active: @button__active__background,
                @_button-border-active: @button__active__border
            );
            .lib-button-responsive();
            letter-spacing: .02em;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;

            svg {
                display: none;
            }

            &:after {
                content: 'load more';
                .lib-font-size(14);
                text-transform: uppercase;
            }
        }
    }

    .fs-detail-container {

        #fs-detail-branding {
            .lib-visually-hidden();
        }

        .fs-post-info {
            a {
                color: @color-light-grey;
            }
        }

        a.fs-share {
            border: 1px solid;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            color: @primary__color;
            height: 20px;
            margin-right: .5em;
            min-width: 20px;
            line-height: 18px;
        }

        a.fs-twitter-share {
            margin-left: 0;
        }

        .fs-detail-nav-button {
            .fs-arrow {
                stroke: @primary__color;
            }

            &.fs-button-inactive {
                .fs-arrow {
                    stroke: @primary__color;
                }
            }
        }

        .fs-detail-nav-bar-close {
            .fs-detail-nav-button {
                color: @primary__color;
            }
        }

        .fs-post-info {
            .lib-font-size(13);
            letter-spacing: .04em;
        }

        .fs-detail-nav-bar-arrows {
            .fs-detail-nav-button {
                &:first-child {
                    margin-left: -.25em;
                }
            }
        }

        .fs-detail-nav-button {
            svg {
                -webkit-transform: scale(.7);
                -moz-transform: scale(.7);
                -ms-transform: scale(.7);
                -o-transform: scale(.7);
                transform: scale(.7);
            }
        }

        .fs-detail-nav-bar-close {
            .fs-detail-nav-button {
                border: 1px solid;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }
        }
    }

    .fs-mobile {
        #fs-detail-close {
            border: 1px solid;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            margin-right: 20px;
            margin-top: 18px;
            padding: 0;
            svg {
                -webkit-transform: scale(0.5);
                -moz-transform: scale(0.5);
                -ms-transform: scale(0.5);
                -o-transform: scale(0.5);
                transform: scale(0.5);
            }
        }
    }

    .fs-timeline-detail {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .fs-detail-container {
        .fs-detail-content {

            .fs-detail-left,
            .fs-detail-right {
                display: block;
            }

            .fs-detail-left {
                padding: 0;
            }

            .fs-detail-title,
            .fs-post-info,
            .fs-detail-shares {
                text-align: center;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .instagram-container {
        .title {
            border-bottom: 1px solid @color-form-border;
            margin-bottom: 1.5rem;
            margin-top: 2.5rem;
            padding-bottom: 1.5rem;
        }
    }

    .fs-detail-content {

        .fs-detail-left,
        .fs-detail-right {
            display: table-cell;
        }

        .fs-detail-left {
            padding: 20px 0 20px 20px;
        }

        .fs-detail-title,
        .fs-post-info,
        .fs-detail-shares {
            text-align: left;
        }
    }

    .fs-detail-container {
        .fs-detail-nav-bar-close {
            .fs-detail-nav-button {
                padding: 0;

                svg {
                    -webkit-transform: scale(0.5);
                    -moz-transform: scale(0.5);
                    -ms-transform: scale(0.5);
                    -o-transform: scale(0.5);
                    transform: scale(0.5);
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .instagram-container {
        margin-bottom: 11rem;
        .title {
            margin-bottom: 1rem;
            margin-top: 5rem;
        }
        .subtitle {
            margin-bottom: 3rem;
        }
        .fs-desktop{
            .fs-timeline{
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-wrap(wrap);
                .lib-vendor-prefix-flex-direction(row);
                flex: 0 1 auto;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                .fs-entry-container{
                    .lib-layout-column(12, 1, 3) !important;
                    .lib-column-gutter(12);
                    margin-top: 30px;
                    margin-left: 0 !important;

                    &:last-of-type, &:nth-child(4n + 4){
                        margin-right: 0;
                    }

                    .fs-timeline-entry {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .fs-detail-container {
        padding: 30px;

        .fs-detail-title,
        .fs-post-info,
        .fs-detail-shares {
            text-align: left;
        }

        #fs-next-post {
            padding-left: 15px;
        }

        .fs-detail-title {
            border-bottom: 1px solid @color-form-border;
            padding: 0 0 30px;
        }

        .fs-post-info {
            padding: 30px 0;
        }

        .fs-detail-shares {
            padding: 0 0 30px;
        }

        .fs-detail-nav-bar-arrows {
            .fs-detail-nav-button {
                &:first-child {
                    margin-left: -.25em;
                }
            }
        }

        .fs-detail-nav-button {
            padding-left: 0;
        }

        .fs-detail-nav-bar-close {
            .fs-detail-nav-button {
                padding: 0;

                svg {
                    -webkit-transform: scale(.35);
                    -moz-transform: scale(.35);
                    -ms-transform: scale(.35);
                    -o-transform: scale(.35);
                    transform: scale(.35);
                }
            }
        }
    }

    .fs-desktop {
        .fs-detail-right {
            padding-left: 30px;
        }
    }
}
