//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .cms-noroute-index,
    .cms-service-unavailable {
        .page-title-wrapper {
            padding: 24px 0 14px;
            border-bottom: 1px solid @color-border;
            text-align: center;
        }
    }

    .page-404 {
        text-align: center;
        padding: 41px 0 36px;

        &-title {
            display: block;
            .lib-font-size(32);
            margin: 0 0 2px;
        }

        p {
            margin: 0 0 21px;
        }
    }

    .page-500 {
        text-align: center;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .page-500 {
        height: 450px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .page-500 {
        p {
            margin-top: 1rem;
        }
    }
}