//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .cms-page-view{
        .page-title-wrapper {
            text-align: center;
            margin: 0;
            padding: 13px 0 0;
            border: 0;
            .page-title {
                margin: 0;
                padding: 0;
            }
        }
        .title-description{
            text-align: center;
            padding: 10px 0;
            max-width: 880px;
            margin: 0 auto;
        }

        &.cms-hierarchy {
            .page-title {
                .base.mobile {
                    display: none;
                }
            }
        }

    }
    .cms-menu {
        font-weight: @font-weight__bold;
        .parent {
            > a {
                text-transform: uppercase;
                cursor: default;
                text-decoration: none;
                letter-spacing: 0.9px;
            }

            > ul {
                border-top: 1px solid @color-border;
                margin: 14px 0 0;
                padding: 15px 0 0;

                li {
                    margin: 0;
                }
                a,
                strong {
                    font-weight: normal;
                    color: @primary__color;
                    text-decoration: none;
                    line-height: 22px;
                }
                a{
                    color: @color-light-grey;
                }
            }
        }

        &-holder {
            .opener {
                display: none;
            }
        }
    }

    .page-about-us {
        padding: 0 0 60px;

        h2 {
            margin: 0 0 20px;
        }

        p {
            margin: 0 0 21px;
        }
    }

    .outlet {
        &-holder {
            .button {
                display: block;
                border: 1px solid @color-black;
                text-transform: uppercase;
                padding: 9px 10px 10px;
                text-align: center;
                text-decoration: none;
            }
        }
        &-grid {
            margin: 0 0 52px;

            li {
                margin: 0 0 20px;
            }

            .balance-box {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-direction(column-reverse);
                width: 100%;

                &-content {
                    padding: 22px 0 0;

                    h2 {
                        margin: 0 0 21px;
                        letter-spacing:0.4px;
                    }
                }
            }
        }

        &-icon {
            display: block;
            padding: 0 0 0 28px;
            position: relative;

            &:before {
                .simple-icon();
                .lib-font-size(16);
                position: absolute;
                color: @color-black;
                top: 1px;
                left: 0;
            }

            &.outlet-address {
                &:before {
                    content: @icon-simple__pointer;
                }
            }

            &.outlet-phone {
                &:before {
                    content: @icon-simple__tel;
                }
            }

            &.outlet-time {
                &:before {
                    content: @icon-simple__watch;
                }
            }
        }

        &-time-block {
            padding: 21px 0 25px;

            dl {
                .lib-clearfix();
                padding: 0 0 0 28px;
                margin: 0;
            }

            dt {
                font-weight: @font-weight__regular;
                float: left;
                min-width: 140px;
                margin: 0 10px 0 0;
            }

            dd {
                margin: 0;
            }
        }

        &-title {
            margin: 0;
            padding: 0 0 15px;
            border-bottom: 1px solid @color-border;
        }
    }

    .stockists-list {
        margin: 0 -5px;
        padding: 22px 0 0;
        text-align: center;
        font-size: 0;

        li {
            display: inline-block;
            vertical-align: middle;
            width: ~'calc( (100%) / 2 - 10px )';
            margin: 5px;
            height: 70px;

            a {
                &:before {
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                    width: 0;
                    content: '';
                }
            }

            img {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cms-page-view{
        .page-title-wrapper {
            margin-bottom: 10px;
        }
        .title-description{
            display: none;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .cms-page-view.page-layout-2columns-left {
        .columns {
            display: table;
            width: 100%;

            .column.main {
                display: table-footer-group;
                float: none;
                width: 100%;
            }
        }

        .sidebar-main {
            display: block;
            float: none;
            width: 100%;
        }
    }
    .cms-page-view{
        .title-image{
            margin: 10px 0;
            img{
                width: 100%;
            }
        }
        .about-us-banner {
            &.desktop {
                display: none;
            }
        }

        &.cms-hierarchy {
            .page-title {
                .base {
                    display: none;

                    &.mobile {
                        display: inline;
                    }
                }
            }
        }
    }

    .cms-about-us {
        padding-top: 15px;
    }

    .page-about-us {
        padding-top: 15px;
    }

    .cms-menu {
        display: none;
        border: 1px solid @color-border;
        border-top: 0;
        padding: 11px 15px 3px;

        &-holder {
            margin: 0 0 20px;

            .opener {
                display: block;
                text-decoration: none;
                line-height: 37px;
                height: 40px;
                border: 1px solid @color-border;
                text-align: center;

                strong {
                    position: relative;
                    padding: 0 25px 0 0;

                    &:after {
                        .simple-icon();
                        color: @color-black;
                        content: @icon-simple__caret-down;
                        font-size: 16px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        margin-top: -7px;
                    }
                }
            }
            &.open {
                .cms-menu {
                    display: block;
                }

                .opener {
                    strong {
                        &:after {
                            content: @icon-simple__caret-up;
                        }
                    }
                }
            }
        }

        .parent {
            > ul {
                border: none;
                margin: 0;
                padding: 3px 0 0 0px;
            }
        }
    }
}

//
//  Tablet
//  _____________________________________________
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .cms-page-view{
        .breadcrumbs {
            display: none;
        }

        .page-title-wrapper {
            padding: 40px 0 15px;
            margin: 0 0 1px;

            .page-title {
                .lib-font-size(18);
            }
        }
        .title-description{
            padding: 0 11% 35px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .outlet {
        &-grid {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-wrap(wrap);
            .lib-vendor-prefix-flex-direction(row);
            margin: 0 -8px 17px;

            > li {
                .lib-font-size(13);
                padding: 0 8px 40px;
                width: 50%;
            }
        }

        &-holder {
            .button {
                display: inline-block;
                width: auto;
                min-width: 160px;
            }
        }
    }

    .stockists-list {
        padding: 19px 0 0;

        li {
            width: ~'calc( (100%) / 4 - 10px )';
            height: 46px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .cms-page-view{
        .page-title-wrapper {
            padding: 24px 0 30px;
            margin-bottom: 35px;
            border-bottom: 1px solid @color-border;
        }
        .title-image{
            margin-top: 30px;
            margin-bottom: 35px;
            img{
                width: 100%;
            }
        }
        .columns {
            display: block;
            padding: 5px 0 0;
        }
        &.page-layout-2columns-left{
            .columns {
                .column.main {
                    width: 74.5%;
                }
            }
        }
        &.cms-reward-points {
            .column.main {
                width: 100%;
            }
        }

        &.cms-about-us {
            .column.main {
                padding-right: 8.5%;
            }
        }

        .sidebar-main {
            width: 17%;
        }

        .about-us-banner {
            &.mobile {
                display: none;
            }
        }
    }

    .outlet {
        &-grid {
            margin: 0 -15px;

            > li {
                padding: 0 15px 40px;
            }
        }

        &-time-block {
            padding-bottom: 45px;
        }
    }

    .stockists-list {
        padding: 31px 0 0;
         li {
             height: 78px;
         }
    }
}