//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .cms-page-view {
        &.cms-reward-points {
            .page-title-wrapper {
                border-bottom: none;
                margin-bottom: 0;
            }
            .column.main {
                ul > li {
                    list-style: disc inside none;
                    margin-bottom: 0;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cms-reward-points {
        .desktop,
        .tablet {
            display: none;
        }
        .mobile {
            display: block;
        }
        .column.main {
            .section-rewards-banner {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .content {
                width: 100%;

                h2 {
                    .lib-font-size(20);
                    letter-spacing: 0.3px;
                }
                h3 {
                    .lib-font-size(16);
                    margin: @indent__m 0;
                    letter-spacing: 0.2px;
                }
                .benefits {
                    margin: 0;
                    li {
                        display: inline-block;
                        padding: 10px 0;
                        margin-bottom: 0;
                        position: relative;
                        text-align: center;
                        vertical-align: middle;
                        width: 100%;
                        &:after {
                            content: '';
                            bottom: 0;
                            left: 50%;
                            position: absolute;
                            width: 50%;
                            height: 1px;
                            background: @color-form-border;
                            margin-left: -25%;
                        }
                        a {
                            display: block;
                            font-family: @font__didot-bold;
                            text-decoration: none;
                            span {
                                .lib-font-size(28);
                            }
                        }
                        span {
                            .lib-font-size(16);
                        }
                        strong {
                            .lib-font-size(16);
                            span {
                                display: block;
                                font-weight: 400;
                                .lib-font-size(13);
                                font-family: @font__swiss;
                            }
                        }
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            border-right: none;
                            padding-right: 0;

                            &:after {
                                display: none;
                            }
                        }
                    }

                    ~ div {
                        ul > li {
                            text-indent: 20px;
                        }
                    }
                }
                .action {
                    width: 100%;
                }
            }
        }
        &.cms-page-view {
            .page-title-wrapper {
                display: none;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cms-reward-points {
        .desktop,
        .mobile {
            display: none;
        }
        .tablet {
            display: block;
        }
        .column.main {
            .section-rewards-banner {
                float: left;
                width: 50%;

                img {
                    width: 100%;
                }
            }

            ul {
                padding-left: 20px;
                > li {
                    margin: 0;
                    > span {
                        margin-left: -2px;
                    }
                }
            }

            .content {
                float: right;
                width: 42%;
                h2 {
                    .lib-font-size(18);
                    letter-spacing: 0.3px;
                }
                h3 {
                    .lib-font-size(16);
                    margin: @indent__m 0;
                    letter-spacing: 0.2px;
                }
                .benefits {
                    margin: @indent__s 0;
                    li {
                        border-right: 1px solid @color-form-border;
                        display: inline-block;
                        padding: 10px 8px 0;
                        margin-bottom: 0;
                        text-align: center;
                        vertical-align: top;
                        width: 32%;
                        a {
                            display: block;
                            .lib-font-size(28);
                            font-family: @font__didot-bold;
                            text-decoration: none;
                        }

                        strong {
                            .lib-font-size(16);
                            span {
                                display: block;
                                font-weight: 400;
                                .lib-font-size(13);
                                font-family: @font__swiss;
                                float: left;
                                margin-bottom: 10px;
                            }
                        }
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            border-right: none;
                            padding-right: 0;
                        }
                    }
                }
                .action {
                    width: 100%;
                }
            }
        }

        &.cms-page-view {
            .page-title-wrapper {
                display: none;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .cms-reward-points {
        .desktop {
            display: block;
            &.works {
                border-bottom: none !important;
            }
        }
        .tablet,
        .mobile {
            display: none;
        }

        &.cms-page-view {
            .page-title-wrapper {
                display: block;
            }
        }
        .column.main {
            .section-rewards-banner,
            .content {
                float: none;
                width: 100%;
            }
            ul {
                padding-left: 0;
                > li {
                    > span {
                        margin-left: 0;
                    }
                }
            }
            .content {
                border-bottom: 1px solid @color-form-border;
                text-align: center;
                h2 {
                    .lib-font-size(22);
                }
                h2, h3 {
                    display: none;
                }
                > div {
                    width: 60%;
                    > div {
                        display: none;
                    }
                }
            }
            .content,
            .benefits,
            .works {
                border-bottom: 1px solid @color-form-border;
                text-align: center;

                > div {
                    display: block;
                    padding-bottom: @indent__xl;
                    margin: @indent__xl auto 0;

                    h2, h3 {
                        margin-bottom: 10px;
                    }
                }
            }

            .benefits {
                > div {
                    width: 60%;
                    > ul {
                        max-width: 100%;
                        display: inline-block;
                        li {
                            float: left;
                            display: list-item;
                            margin-left: 3px;
                            margin-right: 3px;
                            > span {
                                margin-left: -3px;
                            }
                        }
                    }

                    > div {
                        margin-top: @indent__xl;
                        ul li {
                            display: inline-block;
                            vertical-align: middle;
                            width: 30%;
                            margin-right: @indent__m;
                            &:nth-child(2) {
                                a {
                                    color: #000;
                                    background: #ebebeb;
                                }
                            }
                            &:last-child {
                                margin-right: 0;
                                a {
                                    color: #000;
                                    background: #e7dbb1;
                                }
                            }
                            a {
                                border-radius: 50%;
                                background: #000;
                                color: #fff;
                                display: inherit;
                                margin-bottom: @indent__m;
                                height: 210px;
                                text-align: center;
                                text-decoration: none;
                                width: 210px;
                                span {
                                    .lib-font-size(34);
                                    font-family: @font__didot-bold;
                                    display: inline;
                                    line-height: 210px;
                                    vertical-align: middle;
                                }
                            }
                        }
                        strong {
                            .lib-font-size(16);
                            max-width: 95%;
                            text-align: center;
                            text-transform: uppercase;
                            span {
                                display: block;
                                .lib-font-size(13);
                                font-family: @font__swiss;
                                font-weight: @font-weight__light;
                                padding: 0 25px;
                                text-transform: none;
                            }

                            strong {
                                .lib-font-size(13);
                            }
                        }
                    }
                    .action {
                        margin: @indent__xl 0;
                        text-transform: uppercase;
                    }
                }
                ul li {
                    display: inline-block;
                    margin-bottom: 0;
                }
            }

            .works {
                > div {
                    width: 45%;
                }
            }
        }
    }
}