// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________



//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .data.switch .counter {
        .lib-css(color, @text__color__muted);

        &:before {
            content: '(';
        }

        &:after {
            content: ')';
        }
    }

    .rating-summary {
        .lib-rating-summary();

        .rating-result {
            width: 75px;

            &:before {
                left: 1px;
            }

            > span {
                &:before {
                    left: 1px;
                }
            }
        }
    }

    .product-reviews-summary,
    .table-reviews {
        .rating-summary {
            .lib-rating-summary-label-hide();
        }
    }

    .review-field-ratings {

        .nested {
            display: table;
        }

        .review-field-rating {
            display: table-row;

            .label,
            .control {
                display: table-cell;
            }

            .label {
                top: 2px;
            }
        }

        .review-control-vote {
            overflow: hidden;
            width: 73px;
            height: 13px;
        }
    }

    .review-control-vote {
        .lib-rating-vote();

        input[type="radio"] ~ label {
            cursor: pointer;
            display: block;
            height: auto;
            padding: 0;
            position: absolute;

            &:before {
                background: none;
                border: none;
                ._lib-rating-icon-defalt(
                    @rating-icon__font,
                    @rating-icon__font-size,
                    @rating-icon__letter-spacing,
                    @rating-icon__active__color
                );
                opacity: 0;
                margin: 0;
                white-space: nowrap;
            }

            &:after {
                display: none;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }

                ~ label {
                    &:before {
                        opacity: 0;
                    }
                }
            }
        }
    }

    //
    //  Review product page
    //  -----------------------------------------

    .review {
        &-toolbar {
            padding: 0;
            text-align: center;

            &:first-child {
                display: none;
            }

            .pages {
                border-bottom: 1px solid @color-gray79;
                display: block;
                padding: @indent__base 0;
                text-align: center;
            }

            .limiter {
                display: none;
            }
        }

        &-add {
            border-top: 1px solid @color-border;
            padding: 20px 0 0;

            .block-title {
                display: none;
            }
        }

        &-form {
            .action.submit.primary {
                .lib-button-revert-secondary-color();
                .lib-button-revert-secondary-size();
                margin: 0;
                width: 100%;
                display: block;
                float: none;
            }

            .actions-toolbar {
                margin-top: 2px;

                .actions-primary {
                    padding: 0;
                    float: none;
                    display: block;
                }
            }
        }

        .fieldset &-legend.legend {
            border-bottom: 0;
            letter-spacing: .04em;
            line-height: 1.3;
            padding: 0;
            margin-bottom: 4px;

            span {
                margin: 0;
            }

            strong {
                display: block;
                font-weight: @font-weight__bold;
                .lib-font-size(16);
            }
        }

        .fieldset &-field-ratings {
            margin-bottom: 24px;
            margin-top: 8px;

            > .label {
                font-weight: @font-weight__bold;
                margin-bottom: @indent__s;
                padding: 0;
            }
        }

        &-control-vote label:before,
        &-control-vote:before {
            font-size: 13px;
            height: 13px;
            letter-spacing: 3px;
            line-height: 13px;
        }

        &-field-rating {
            .label {
                font-weight: @font-weight__bold;
            }

            .control {
                margin-bottom: 17px;
                margin-top: 8px;
            }
        }

        &-list {
            margin-bottom: @indent__l;

            .block-heading {
                border: 1px solid @color-border;
                border-width: 1px 0;
                padding: 25px 0;

                .rating-summary {
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 40px 0 0;
                }

                .rating-label {
                    display: inline-block;
                    vertical-align: top;

                    > strong {
                        text-transform: uppercase;
                    }
                }
            }
        }

        &-item {
            .lib-clearer();
            border-top: 1px solid @color-gray79;
            margin: 0;
            padding: @indent__base 0;

            &:first-child {
                border-width: 0;
            }
        }

        &-ratings {
            display: table;
            margin-bottom: 11px;
            max-width: 100%;
            &:extend(.abs-rating-summary all);

            .rating-label {
                display: none;
            }
        }

        &-details {
            color: @color-light-grey;
        }

        &-author {
            margin: 0 6px 0 0;
        }

        &-date {
            margin: 0 0 0 6px;
        }

        &-title {
            .lib-heading(h2);
            margin: 0 0 8px;
        }

        &-content {
            margin-bottom: @indent__base;
        }

        &-fieldset {
            margin: 0;

            > .field:not(.review-field-ratings) {
                margin: 0 0 13px;

                > .label {
                    margin-bottom: 14px;
                }
            }

            .review-field-text {
                textarea {
                    height: 150px;
                }
            }
        }
    }
    .page-main {
        .column {
            .review-add {
                margin-bottom: 0;
            }
        }
    }

    .has-review-load-more {
        .items {
            margin-bottom: 0;
        }

        .review-load-more {
            margin-bottom: 2rem;
        }
    }

    .review-load-more-link {
        .lib-link(
            @_link-text-decoration: none,
            @_link-text-decoration-visited: none,
            @_link-text-decoration-hover: underline,
            @_link-text-decoration-active: underline
        );
        text-transform: uppercase;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .review {
        @reviews-indent-desktop: 30px;

        &-toolbar {
            margin: 0 0 @reviews-indent-desktop;

            .pages {
                padding: @reviews-indent-desktop 0;
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .data.table.reviews {
        .rating-summary {
            margin-top: -4px;
        }
    }

    .customer.review.view {
        .review.title,
        .ratings.summary.items,
        .product.details {
            margin-bottom: @indent__base;
        }
    }

    .product-reviews-summary {
        margin-bottom: @indent__xs;

        .products.wrapper.list & {
            margin: 0 auto;
        }

        .rating-summary {
            display: inline-block;
            vertical-align: middle;
        }

        .reviews-actions {
            display: inline-block;
            .lib-font-size(13);
            font-weight: @font-weight__regular;
            vertical-align: middle;
            a {
                text-decoration: none;
                color: @color-gray-light2;

                &:hover {
                    text-decoration: underline;
                }
            }

            a:not(:last-child) {
                margin-right: 11px;
            }
        }
    }

    .product-info-main,
    .customer-review {
        .rating-summary {
            margin-right: 4px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .review {
        &-form {
            max-width: 500px;
        }
        &-item {
            padding: 27px 0 35px;
        }
    }
    #product-review-container {
        float: left;
        width:66.3%;
    }

    .review-add {
        float: right;
        width: 30%;
        border: 1px solid @color-border;
        padding: 26px 20px 19px;
    }

    .product-reviews-summary {
        margin-bottom: 23px;

        .products.wrapper.list & {
            margin: 0;
        }

        .reviews-actions {
            font-size: @font-size__base;
            margin-top: 2px;
        }
    }
}

//
//  Desktop l
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .review-add {
        width: 23.57%;
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Account
    //  -----------------------------------------

    .block-reviews-dashboard {
        .items {
            .item {
                .lib-css(margin-bottom, @indent__base);
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .product-name {
            display: inline-block;
            &:not(:last-child) {
                .lib-css(margin-bottom, @indent__xs);
            }
        }

        .rating-summary {
            .label {
                .lib-css(font-weight, @font-weight__semibold);
                .lib-css(margin-right, @indent__s);
            }
        }
    }

    .table-reviews,
    .block-reviews-dashboard {
        .product-name {
            .lib-css(font-weight, @font-weight__regular);
        }
    }

    .table-reviews {
        .rating-summary {
            display: inline-block;
            vertical-align: baseline;
        }
    }
}

//
//  Mobile
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__ls) {
    .account {
        .table-reviews {
            .col.actions {
                &:extend(.abs-col-no-prefix all);
            }
        }
    }
    .catalog-product-view{
        .has-review-load-more{
            .review-load-more{
                margin-bottom: 0;
                text-align: center;
            }
        }
        .review-form{
            border: 1px solid @color-form-border;
            padding: 15px;
        }
    }
    .review{
        &-list{
            > .block-heading {
                border-top: 0;
                .rating-label{
                    float: right;
                }
            }
        }
        &-item{
            padding: 20px 0 20px;
            .review-title{
                text-transform: uppercase;
            }
        }
    }
    #reviews{
        padding: 0 0 25px;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .block-reviews-dashboard {
        .product-name {
            &:extend(.abs-account-block-font-size all);
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .customer-review {
        .product-details {
            &:extend(.abs-add-clearfix all);
            &:extend(.abs-margin-for-blocks-and-widgets all);
            .rating-average-label {
                &:extend(.abs-visually-hidden all);
            }
        }

        .product-media {
            float: left;
            margin-right: 3%;
            max-width: 285px;
            width: 30%;
        }

        .product-info {
        }

        .review-details {
            margin: 0;

            .title {
                &:extend(.abs-account-title all);
            }

            .customer-review-rating {
                .lib-css(margin-bottom, @indent__base);
                .item {
                    .lib-css(margin-bottom, @indent__s);

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &:extend(.abs-rating-summary all);
            }

            .review-title {
                .lib-heading(h3);
                .lib-css(font-weight, @font-weight__semibold);
                .lib-css(margin-bottom, @indent__base);
            }

            .review-content {
                margin: 0;
                .lib-css(margin-bottom, @indent__base);
            }

            .review-date {
                .lib-css(color, @primary__color__light);
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .customer-review {
        .product-name {
            .lib-css(margin-bottom, @indent__xs);
        }

        .product-reviews-summary {
            .rating-summary {
                display: block;
                .lib-css(margin-bottom, @indent__xs);
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .customer-review {
        .product-details {
            &:extend(.abs-margin-for-blocks-and-widgets-desktop all);
        }
    }
}

//
//  Tablet
//  _____________________________________________
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
    .review-form {
        .action.submit.primary {
            max-width: 300px;
        }
    }
}