<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Cart
 */
?>
<?php
/** @var \Amasty\Cart\Block\Config  $this */

    $hlr = $this->getHelper();
    //Visual Options
    $backgroundColor        = $hlr->getBackgroundColor();
    $headerBackgroundColor  = $hlr->getHeaderBackgroundColor();
    $textColor              = $hlr->getTextColor();
    $buttonTextColor        = $hlr->getButtonTextColor();
    $leftButtonColor        = $hlr->getLeftButtonColor();
    $rightButtonColor       = $hlr->getRightButtonColor();


    $backgroundColorFrom = $hlr->colourBrightness($backgroundColor, 0.9);
    $backgroundColorTo   = $hlr->colourBrightness($backgroundColor, -0.7);

    $headerBackgroundColorFrom = $hlr->colourBrightness($headerBackgroundColor, 0.9);
    $headerBackgroundColorTo   = $hlr->colourBrightness($headerBackgroundColor, -0.7);

    /*left button*/
    $buttonLeftColorFrom   = $hlr->colourBrightness($leftButtonColor, -0.8);
    $buttonLeftColorTo     = $hlr->colourBrightness($leftButtonColor, 1);
    $buttonLeftBorderColor = $hlr->colourBrightness($leftButtonColor, -0.8);

    $buttonLeftColorActiveFrom = $hlr->colourBrightness($leftButtonColor, 1);
    $buttonLeftColorActiveTo   = $hlr->colourBrightness($leftButtonColor, -0.8);

    $buttonLeftColorHoverFrom = $hlr->colourBrightness($buttonLeftColorFrom, 0.9);
    $buttonLeftColorHoverTo   = $hlr->colourBrightness($buttonLeftColorTo, 0.9);

    /*right button*/
    $buttonRightColorFrom  = $hlr->colourBrightness($rightButtonColor, -0.8);
    $buttonRightColorTo    = $hlr->colourBrightness($rightButtonColor, 1);
    $buttonRightBorderColor = $hlr->colourBrightness($rightButtonColor, -0.8);

    $buttonRightColorActiveFrom = $hlr->colourBrightness($rightButtonColor, 1);
    $buttonRightColorActiveTo   = $hlr->colourBrightness($rightButtonColor, -0.8);

    $buttonRightColorHoverFrom = $hlr->colourBrightness($buttonRightColorFrom, 0.9);
    $buttonRightColorHoverTo   = $hlr->colourBrightness($buttonRightColorTo, 0.9);
?>

<style>
    #confirmButtons button span{
        color: <?php print $buttonTextColor?>;
    }

    #confirmButtons {
        color: <?php print $textColor?>;
    }

    div#confirmBox{
        background-color: <?php print $backgroundColor?>;
    }

    div#confirmBox h1{
        background-color: <?php print $headerBackgroundColor?>;
    }
</style>
<script>
    require([
        'jquery',
        'Magento_Catalog/product/view/validation',
        'Amasty_Cart/js/amcart'
    ], function ($) {
        window.amasty_cart_options = <?php echo $hlr->jsParam($this); ?>;
        $('#product_addtocart_form, form[data-role="tocart-form"], .action.tocart').each(function( key, form ) {
            form = $(form);
            if(!form.attr('amcart-observed')) {
                form.amCart(window.amasty_cart_options);
                form.attr('amcart-observed', true);
            }
        });
    });
</script>


