<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Cart
 * @var $block \Linenhouse\Cart\Block\Configurable\Product
 */

/** @var $_product \Magento\Catalog\Model\Product */
$_product = $this->getProduct();
$_childProduct = $this->getChildProduct();

/** @var $_helper \Magento\Checkout\Helper\Data */
$_helper = $this->helper('Magento\Checkout\Helper\Data');

?>
<div class="product-added">
    <a href="<?php echo $_product->getProductUrl(); ?>"
       title="<?php echo $_product->getName(); ?>"
       tabindex="-1"
       class="product-item-photo">
        <?php echo $block->getImage($_product, 'cart_page_product_thumbnail')->toHtml(); ?>
    </a>
    <div class="product details product-item-details">
        <strong class="product name product-item-name">
            <a class="product-item-link" title="<?php echo $block->escapeHtml($_product->getName()) ?>"
               href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_product) ?>">
                <?php echo $block->escapeHtml($_product->getName()) ?>
            </a>
        </strong>
        <?php $_optionsRenderer = $block->getOptionsRenderer(); ?>
        <?php if ($_optionsRenderer): ?>
            <?php echo $_optionsRenderer->toHtml(); ?>
        <?php endif; ?>
        <span class="qty">
            <?php if ($_childProduct instanceof \Magento\Catalog\Model\Product && $_childProduct->getQty()): ?>
                <?php /* @escapeNotVerified */ echo $_childProduct->getQty(); ?> x
            <?php else: ?>
                <?php /* @escapeNotVerified */ echo $_product->getQty(); ?> x
            <?php endif; ?>
        </span>
        <?php if ($priceRenderer = $block->getPriceRenderer()): ?>
            <?php echo $priceRenderer->toHtml(); ?>
        <?php else: ?>
            <?php echo $_product->getFormatedPrice(); ?>
        <?php endif; ?>
    </div>
</div>
<style>
    #confirmButtons {
        display: block !important;
    }
</style>
