<?php
/**
 * Copyright © 2017 Balance Internet Pty., Ltd. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var $block \Balance\Box\Block\Widget\Category\Landing
 * @var $box   \Balance\Box\Model\Box
 */

$boxes = $block->getBoxes();
if (!$boxes->getData()) {
    return;
}

?>
<div id="js__categorylanding-boxes-<?php echo $block->getUniqueId(); ?>"
     class="categorylanding-boxes categorylanding-boxes-<?php echo $block->getData('layout'); ?>">

    <?php foreach ($boxes as $box) : ?>
        <div class="categorylanding-box <?php echo $box->getLayoutClass(); ?>">

            <div class="categorylanding-box-container">
                <?php if ($box->getHeading()) : ?>
                    <h2 class="categorylanding-box-heading">
                        <?php echo $block->escapeHtml($box->getHeading()); ?>
                    </h2>
                <?php endif; ?>

                <?php if ($box->getContent()) : ?>
                    <div class="categorylanding-box-content std">
                        <?php echo $box->getContent(); ?>
                    </div>
                <?php endif; ?>

                <?php if ($block->isUsingButtonUrl($box)) : ?>
                    <a href="<?php echo $box->getLink(); ?>" class="button categorylanding-box-button">
                        <span><span>
                            <?php echo $block->escapeHtml($box->getButtonText()); ?>
                        </span></span>
                    </a>
                <?php endif; ?>
            </div>

            <?php if ($box->getMobileImageUrl() || $box->getDesktopImageUrl() || $box->getTabletImageUrl()) : ?>
                <?php if ($block->isUsingImageUrl($box)) : ?>
                    <a href="<?php echo $block->escapeXssInUrl($box->getLink()); ?>">
                <?php endif; ?>
                <img alt="<?php echo $block->escapeHtml($box->getAltText()); ?>"
                     data-mobile-image="<?php echo $block->escapeXssInUrl($box->getMobileImageUrl()); ?>"
                     data-desktop-image="<?php echo $block->escapeXssInUrl($box->getDesktopImageUrl()); ?>"
                     data-tablet-image="<?php echo $block->escapeXssInUrl($box->getTabletImageUrl()); ?>"
                     class="categorylanding-box-image"
                     id="js__balance-box-img-<?php echo $block->escapeQuote($box->getIdentifier()); ?>"/>
                <?php if ($block->isUsingImageUrl($box)) : ?>
                    </a>
                <?php endif; ?>
            <?php endif; ?>
        </div>
    <?php endforeach; ?>
</div>

<script>
    require([
        'jquery',
        'balance/box',
        'domReady!'
    ], function ($) {
        $('#js__categorylanding-boxes-<?php echo $block->getUniqueId(); ?>').find('.categorylanding-box-image').each(function () {
            $.balance.box({}, $(this));
        });
    });
</script>
