<?php
/**
 * Copyright © 2015-2016 BSS Commerce Co.
 * See http://bsscommerce.com/Bss-Commerce-License.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
	<div class="box-tocart">
		<div class="fieldset">
			<div class="actions">
				<button type="submit"
				title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
				class="action primary tocart"
				id="product-addtocart-button">
				<span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
			</button>
			<?php echo $block->getChildHtml('', true) ?>
		</div>
	</div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Bss_ConfigurableMatrixView/js/catalog-add-to-cart": {
                "addToCartButtonTextWhileAdding": "<?php /* @escapeNotVerified */ echo __('Adding...') ?>",
                "addToCartButtonTextAdded": "<?php /* @escapeNotVerified */ echo __('Added') ?>",
                "addToCartButtonTextDefault": "<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>",
                "errorQtyLessThanZero": "<?php /* @escapeNotVerified */ echo __('Please enter quantity !') ?>"
            }
        }
    }
</script>