<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $_item \Magento\Sales\Model\Order\Item */
 ?>
<?php
$_item = $block->getItem();
$_qty = $_item->getQty() * 1;
$_subtotal = $_qty*$_item->getPrice();

// ** fixig LHA0000-272
/** @var $orderItem \Magento\Sales\Model\Order\Item */
$orderItem = $block->getOrder()->getItemById($_item->getOrderItemId());
$priceVal = $_item->getPrice();
if ($orderItem) { // Getting the correct prices including tax from order item.
    $_subtotal = $orderItem->getRowTotalInclTax();
    $priceVal = $orderItem->getPriceInclTax();
}
// ** fixing LHA0000-272
$_pricingHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
$_price = $_pricingHelper->currency(preg_replace("/[^0-9\.]/", "", $priceVal), true, false);
$_subtotal = $_pricingHelper->currency(preg_replace("/[^0-9\.]/", "", $_subtotal), true, false);
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_product = $objectManager->get('Magento\Catalog\Model\Product')->load($_item->getProductId());
$_imageHelper = $this->helper('Magento\Catalog\Helper\Image');
$image_url = $_imageHelper->init($_product, 'product_page_image_small')->setImageFile($_product->getFile())->resize(80, 110)->getUrl();
?>
<tr>
    <td class="item-info<?php if ($block->getItemOptions()): ?> has-extra<?php endif; ?>">
        <a class="product-image">
            <img src="<?php echo $image_url; ?>" alt="<?= $block->escapeHtml($_item->getName()) ?>" width="80" height="110"/>
        </a>
        <div class="product-info">
            <p class="product-name"><?= $block->escapeHtml($_item->getName()) ?></p>
            <?php if ($block->getItemOptions()): ?>
                <dl class="item-options">
                    <?php foreach ($block->getItemOptions() as $option): ?>
                        <dt><?= /* @escapeNotVerified */  $option['label'] ?></dt>
                        <dd>
                            <?= /* @escapeNotVerified */  nl2br($option['value']) ?>
                        </dd>
                    <?php endforeach; ?>
                </dl>
            <?php endif; ?>
            <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
            <?php if ($addInfoBlock) :?>
                <?= $addInfoBlock->setItem($_item)->toHtml() ?>
            <?php endif; ?>
        </div>
    </td>
    <td class="item-price">
        <?= /* @escapeNotVerified */  $_price; ?>
    </td>
    <td class="item-qty"><?= /* @escapeNotVerified */  $_qty; ?></td>
    <td class="item-subtotal">
        <?= /* @escapeNotVerified */  $_subtotal; ?>
    </td>
</tr>



