<?php
/**
 * Magento 2 extensions for Afterpay Payment
 *
 * @author Afterpay <steven.gunarso@touchcorp.com>
 * @copyright 2016 Afterpay https://www.afterpay.com.au/
 */
?>
<?php if ($block->canShow()) : ?>
	<div class="afterpay-installments afterpay-installments-amount">
        <?php echo __('Or 4 equal payments of') ?>&ensp;<span data-role="afterpayAmount"><?php echo $block->getInstallmentsAmount(); ?></span>&ensp;<?php echo __('with') ?>&nbsp;<span class="afterpay_instalments_logo"></span>&ensp;<a href="javascript:void(0)" class="afterpay-modal-popup-trigger"><?php echo __('Learn&nbsp;more') ?></a>
    </div>
<?php endif; ?>
