<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**  @var $block \Magento\Checkout\Block\Cart */
?>
<?php echo $block->getChildHtml('breadcrumbs_cart_empty'); ?>
<div class="cart-empty">
    <?php echo $block->getChildHtml('checkout_cart_empty_widget'); ?>
    <?php echo $block->getChildHtml('empty.cart'); ?>
    <a class="action submit primary" href="<?php echo $block->escapeUrl($block->getContinueShoppingUrl())?>">
        <span><?php /* @escapeNotVerified */ echo __('Continue Shopping') ?></span>
    </a>
    <?php echo $block->getChildHtml('empty.cart.products'); ?>
    <?php echo $block->getChildHtml('shopping.cart.table.after'); ?>
</div>
<script>
    require([
        'jquery',
        'domReady!'
    ], function ($) {
        $('.page-title .base').text('Your shopping bag is empty');
    });
</script>