<?php
/**
 * Copyright © 2017 Balance Internet Pty., Ltd. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php if ($block->getAllCategories()): ?>
    <div id="aw-ajax-block-tabs-wrapper">
        <ul>
            <?php foreach ($block->getAllCategories() as $category): ?>
                <li>
                    <a
                        <?php if ($block->isMoreButton()) : ?>
                            data-value="<?php echo $category->getId(); ?>"
                            data-role="category-filter"
                        <?php endif; ?>
                        <?php if ($block->getCurrentCategoryId()): ?>
                            class="active"
                        <?php endif; ?>
                        href="<?php echo $block->getCategoryUrl($category->getId()); ?>">
                        <?php echo $category->getName(); ?>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
<?php endif; ?>