<?php
/**
 * Copyright © 2017 Balance Internet Pty., Ltd. All rights reserved.
 * See COPYING.txt for license details.
 * @var \Balance\AheadworksBlog\Block\PostList\Widget\Filtered\Category $block
 */
?>
<?php if ($this->getCurrentCategoryId()): ?>
    <span class="category-selected"><?php echo $this->getCurrentCategory()->getName(); ?>
        <a <?php if ($block->isMoreButton()) : ?> data-role="category-filter" <?php endif; ?>
           href="<?php echo $this->config->getRouteToBlog(); ?>">
            cancel
        </a>
    </span>
<?php else: ?>
    <?php if ($block->getCategoryCollection()->getSize()): ?>
        <ul class="aw-blog-category-list">
            <?php foreach ($block->getCategoryCollection() as $category): ?>
                <li>
                    <a data-role="category-filter" data-value="<?php echo $category->getId(); ?>" href="#">
                        <?php echo $category->getName(); ?>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
<?php endif; ?>

