<?php
/**
 * Copyright © 2017 Balance Internet Pty., Ltd. All rights reserved.
 * See COPYING.txt for license details.
 * @var $block \Balance\AheadworksBlog\Block\PostList\Widget\Filtered\Tag
 */
?>
<?php
$tagCloudItems = $block->getItems();
$title = $block->getTitle() ? : 'Tags';
?>
<?php $tag = $block->getSelectedTag() ?>
<?php if($tag->getId()):?>
    <span class="active-tag"><?php echo $tag->getName(); ?><a data-role="tag" data-value="">cancel</a></span>
<?php else:?>
<?php if ($block->isEnabled() && count($tagCloudItems)): ?>
    <div class="block widget block-blog-tag-cloud">
        <div class="block-title">
            <strong><?php echo __($block->escapeHtml($title)) ?></strong>
        </div>
        <div class="block-content">
            <div class="blog-tags blog-tags-<?php if ($block->isCloudMode()): ?>cloud<?php else: ?>plain<?php endif; ?>">
                <?php $last_element = array_pop($tagCloudItems);?>
                <?php foreach ($tagCloudItems as $tagCloudItem): ?>
                    <a href="#"
                       <?php if ($block->isCloudMode()): ?>style="font-size: <?php /* @noEscape */ echo $block->getWeight($tagCloudItem) ?>%;"<?php endif; ?>
                       class="blog-tags-tag" data-role="tag" data-value="<?php echo $tagCloudItem->getTag()->getId(); ?>">
                        <?php echo $block->escapeHtml($tagCloudItem->getTag()->getName()) ?>,
                    </a>
                <?php endforeach; ?>
                <a href="#"
                   <?php if ($block->isCloudMode()): ?>style="font-size: <?php /* @noEscape */ echo $block->getWeight($last_element) ?>%;"<?php endif; ?>
                   class="blog-tags-tag" data-role="tag" data-value="<?php echo $tagCloudItem->getTag()->getId(); ?>">
                    <?php echo $block->escapeHtml($last_element->getTag()->getName()) ?>
                </a>
            </div>
        </div>
    </div>
<?php endif; ?>
<?php endif;?>