// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Theme variables
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product-form-wrapper{
        margin: 0;
    }
    .product-social-links{
        display: none !important;
    }
    .bundle-options-wrapper{
        margin-bottom: 25px;
    }
    .block-bundle-summary{
        .price-box{
            margin-bottom: 7px;
        }
    }
    .product-info-main {
        .product-add-form {
            padding: 0;
            .box-tocart {
                .actions .find {
                    width: 100%;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }
    .box-tocart{
        .action.primary.find{
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.2px;
        }
    }
    .product-info-stock-sku{
        margin-top: 10px;
    }
}

//
//  Tablet +
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {

    .product-info-main{
        .product-info-price {
            margin-top: 25px;
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m1) {
    .product.data.items .item.title .switch {  // temporary removing the tab highlight since it is single; sorry for "!important"'s - otherwise it needs to write very very long selector to override all the state's rules (active, hover, focus...)
        color: @color-black !important;
        background: none !important;
        border-color: @color-border !important;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
    .product-info-main{
        .product-add-form{
            .box-tocart{
                .actions{
                    width: 100%;
                    max-width: 330px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-grid{
        .product-item-name{
            min-height: auto;
        }
    }

    .bundle-wrapper{
        .bundle-summary-wrapper{
            padding-top: 0;
        }
    }

}
