<?php   /*call you block file to get category collection */
    $currentCategory = $this->helper(\Magento\Catalog\Helper\Data::class)->getCategory();
?>
<?php if(count($currentCategory->getChildrenCategories()) != 0) : ?>
    <span class="mobile sub-categorys-trigger">Menu</span>
    <div class="sub-categorys">
        <?php foreach ($currentCategory->getChildrenCategories() as $childCategory): ?>
            <li class="sub-category">
                <a href="<?php echo $childCategory->getUrl() ?>"><?php echo $childCategory->getName() ?></a>
            </li>
        <?php endforeach; ?>
    </div>
<?php endif; ?>