<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php
$_helper    = $this->helper('Magento\Catalog\Helper\Output');
$_category  = $block->getCurrentCategory();
$categoryPromoUrl = $_category->getCategoryPromoUrl();
$_imgHtml   = '';
if ($_imgUrl = $_category->getImageUrl()) {
    $_imgHtml = '<div class="category-image">';

    if ($categoryPromoUrl) { // ** LHA0000-142
        $_imgHtml .= '<a href="'.$categoryPromoUrl.'" target="_blank">';
    }

    $_imgHtml .= '<img src="' . $_imgUrl . '" alt="' . $block->escapeHtml($_category->getName()) . '" title="' . $block->escapeHtml($_category->getName()) . '" class="image" />';

    if ($categoryPromoUrl) { // ** LHA0000-142
        $_imgHtml .= '</a>';
    }

    $_imgHtml .= '</div>';
    $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    /* @escapeNotVerified */ echo $_imgHtml;
}
?>
