<?php if ($block->getAdminUrl()) : ?>
    <div class="easy-edit easy-edit-type-<?php echo $block->getContentType(); ?>" >
        <a class="link-button"  href="<?php echo $block->getAdminUrl(); ?>" target="_blank"
             style="
                 border-color: <?php echo $this->helper('Balance\EasyEdit\Helper\Data')->getConfig(\Balance\EasyEdit\Helper\Data::XML_PATH_BORDER_COLOR); ?>;
                 color: <?php echo $this->helper('Balance\EasyEdit\Helper\Data')->getConfig(\Balance\EasyEdit\Helper\Data::XML_PATH_TEXT_COLOR); ?>;
                 background-color: <?php echo $this->helper('Balance\EasyEdit\Helper\Data')->getConfig(\Balance\EasyEdit\Helper\Data::XML_PATH_BACKGROUND_COLOR); ?>;">
            <span class="i-name"><?php echo __('Edit'); ?></span>
        </a>
        <div class="clear-both"></div>
    </div>
<?php endif; ?>
