<?php if ($url = $this->getAdminUrl()): ?>
    <div class="easy-edit <?php echo $block->getEasyEditClass(); ?> easy-edit-type-<?php echo \Balance\EasyEdit\Helper\Data::BALANCE_BOX_TYPE; ?>">
        <a class="link-button" href="<?php echo $url; ?>" target="_blank"
           style="
               border-color: <?php echo $this->helper('Balance\EasyEdit\Helper\Data')->getConfig(\Balance\EasyEdit\Helper\Data::XML_PATH_BORDER_COLOR); ?>;
               color: <?php echo $this->helper('Balance\EasyEdit\Helper\Data')->getConfig(\Balance\EasyEdit\Helper\Data::XML_PATH_TEXT_COLOR); ?>;
               background-color: <?php echo $this->helper('Balance\EasyEdit\Helper\Data')->getConfig(\Balance\EasyEdit\Helper\Data::XML_PATH_BACKGROUND_COLOR); ?>;">
            <span class="i-name"><?php echo $this->getText(); ?></span>
        </a>
        <div class="clear-both"></div>
    </div>
<?php endif; ?>