<?php if ($this->getEditUrl() != ''): ?>
    <a class="link-button" href="<?php echo $this->getEditUrl(); ?>" target="_blank"
       style="
           padding: 0px;
           border-color: <?php echo $this->helper('Balance\EasyEdit\Helper\Data')->getConfig(\Balance\EasyEdit\Helper\Data::XML_PATH_BORDER_COLOR); ?>;
           color: <?php echo $this->helper('Balance\EasyEdit\Helper\Data')->getConfig(\Balance\EasyEdit\Helper\Data::XML_PATH_TEXT_COLOR); ?>;
           background-color: <?php echo $this->helper('Balance\EasyEdit\Helper\Data')->getConfig(\Balance\EasyEdit\Helper\Data::XML_PATH_BACKGROUND_COLOR); ?>;">
        <span class="i-name" style=font-family: calibri;"><?php echo $this->getText(); ?></span>
    </a>
    <div class="clear-both"></div>
<?php endif; ?>
