<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>
<?php $activeFilters = $block->getLayer()->getState()->getFilters(); ?>
<?php if ($block->canShowBlock()): ?>
    <div class="filter-overlay"></div>
    <div class="block filter">
        <?php echo $block->getChildHtml('state') ?>
        <div class="block-title filter-title">
            <strong><?php /* @escapeNotVerified */ echo __('Shop By') ?></strong>
            <?php if ($block->getLayer()->getState()->getFilters()): ?>
                <div class="block-actions filter-actions">
                    <a href="<?php /* @escapeNotVerified */ echo $block->getClearUrl() ?>" class="action clear filter-clear"><span><?php /* @escapeNotVerified */ echo __('Clear Selections') ?></span></a>
                </div>
            <?php endif; ?>
        </div>

        <div class="block-content filter-content">
            <?php $wrapOptions = false; ?>
            <?php foreach ($block->getFilters() as $filter): ?>
        <?php if (!$wrapOptions): ?>
            <div class="filter-options" id="narrow-by-list" data-role="content" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": false}}'>
                <?php $wrapOptions = true; endif; ?>
                <?php if ($filter->getItemsCount()): ?>
                <div data-role="collapsible" class="filter-options-item">
                    <div data-role="title"  class="filter-options-title attribute-<?php /* @escapeNotVerified */ echo $block->escapeHtml(__($filter->getRequestVar()));?>">
                        <span class="filter-options-title-text"><?php echo $block->escapeHtml(__($filter->getName())) ?></span>
                        <span class="active-filter">
                            <?php if ($activeFilters): ?>
                                <span class="active-filter-label"><?php echo $block->escapeHtml(__($filter->getName())) ?>:</span>
                            <?php endif; ?>
                            <?php foreach ($activeFilters as $activeItem) : ?>
                                <?php if($filter->getName() == $activeItem->getName()) : ?>
                                    <?php /* @escapeNotVerified */ echo $activeItem->getLabel();?>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </span>
                    </div>
                    <div data-role="content" class="filter-options-content">
                        <?php /* @escapeNotVerified */ echo $block->getChildBlock('renderer')->render($filter); ?>
                    </div>
                </div>
                <?php endif; ?>
                <?php endforeach; ?>
                <?php if ($wrapOptions): ?>
            </div>
        <?php endif; ?>
        </div>
    </div>

<?php endif; ?>
