<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
/** @var \Magento\ConfigurableProduct\Pricing\Render\FinalPriceBox$block */

/** @var \Magento\Framework\Pricing\Price\PriceInterface $priceModel */
$priceModel = $block->getPriceType('regular_price');

/** @var \Magento\Framework\Pricing\Price\PriceInterface $finalPriceModel */
$finalPriceModel = $block->getPriceType('final_price');
$idSuffix = $block->getIdSuffix() ? $block->getIdSuffix() : '';
$schema = ($block->getZone() == 'item_view') ? true : false;

$stockStatus = $block->getSaleableItem()->getStatus();
$saleAble = $block->getSaleableItem()->isSaleable();
?>
<?php
if($block->getSaleableItem()->getTypeId() == 'configurable' && (!$block->getSaleableItem()->getStatus() || !$block->getSaleableItem()->isSaleable())) {
    $helper = $this->helper('Linenhouse\ConfigurableProduct\Helper\Data');
    $priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
    $minmax = $helper->getMaxMinPrice($block->getSaleableItem());
?>
    <?php $_amount = $block->renderAmount($finalPriceModel->getAmount(), [
        'display_label'     => __('Special Price'),
        'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
        'price_type'        => 'finalPrice',
        'include_container' => true,
        'schema' => $schema
    ]);
    ?>
    <span class="price-label"><?php /* @escapeNotVerified */ echo __('Starting at')?></span>
    <span class="special-price"><?php /* @escapeNotVerified */ //echo $_amount ?>
        <span class="price-container price-final_price rewards_earn tax weee" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
            <span id="product-price-<?php echo $block->getSaleableItem()->getId()?>" class="price-wrapper " itemprop="price">
                <span class="price"><?php echo $priceHelper->currency($minmax['priceFrom'], true, false);?></span>
            </span>
    </span>
    </span>
    <span class="old-price no-display">
        <?php /* @escapeNotVerified */ /*echo $block->renderAmount($priceModel->getAmount(), [
            'display_label'     => __('Regular Price'),
            'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
            'price_type'        => 'oldPrice',
            'include_container' => true,
            'skip_adjustments'  => true
        ]);*/ ?>
        <span class="price-container price-final_price rewards_earn tax weee">
            <span id="old-price-<?php echo $block->getSaleableItem()->getId()?>" class="price-wrapper ">
                <span class="price"><?php echo $priceHelper->currency($minmax['priceTo'], true, false);?></span></span>
        </span>
    </span>
<?php
} else {
?>
    <?php if (/*!$block->isProductList() &&*/ $block->hasSpecialPrice()): ?>
        <?php $_amount = $block->renderAmount($finalPriceModel->getAmount(), [
            'display_label'     => __('Special Price'),
            'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
            'price_type'        => 'finalPrice',
            'include_container' => true,
            'schema' => $schema
        ]); ?>
        <span class="price-label"><?php /* @escapeNotVerified */ echo __('Starting at')?></span>
        <span class="special-price"><?php /* @escapeNotVerified */ echo $_amount ?></span>
        <span class="old-price no-display">
        <?php /* @escapeNotVerified */ echo $block->renderAmount($priceModel->getAmount(), [
            'display_label'     => __('Regular Price'),
            'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
            'price_type'        => 'oldPrice',
            'include_container' => true,
            'skip_adjustments'  => true
        ]); ?>
    </span>
    <?php else: ?>
        <?php $_amount = $block->renderAmount($finalPriceModel->getAmount(), [
            'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
            'price_type'        => 'finalPrice',
            'include_container' => true,
            'schema' => $schema
        ]); ?>
        <p class="minimal-price">
            <span class="price-label"><?php /* @escapeNotVerified */ echo __('Starting at')?></span><?php echo $_amount ?>
        </p>
    <?php endif; ?>
<?php
}
?>


<?php if ($block->showMinimalPrice()): ?>
    <?php if ($block->getUseLinkForAsLowAs()):?>
        <a href="<?php /* @escapeNotVerified */ echo $block->getSaleableItem()->getProductUrl(); ?>" class="minimal-price-link">
            <?php /* @escapeNotVerified */ echo $block->renderAmountMinimal(); ?>
        </a>
    <?php else:?>
        <span class="minimal-price-link">
            <?php /* @escapeNotVerified */ echo $block->renderAmountMinimal(); ?>
        </span>
    <?php endif?>
<?php endif; ?>
