/*
*
* @category    ZipMoney
* @package     ZipMoney_ZipMoneyPayment
* @author      Sagar Bhandari
* @copyright   ZipMoney (http://zipmoney.com.au)
*/

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .zip-checkout-description {
        padding-bottom: 20px;

        span.zip-checkout-description-text{
            font-weight: bold;
        }

        #zipmoney-learn-more {
            display: inline !important;

        }
    }

    .zip-error-message {
        border: 1px solid #3d6611;
        background-color: #eff5ea;
        color: #3d6611;
        padding: 10px 0px 10px 33px;
        margin-top: 20px;
    }

    .zip-application-under-review-message {
        border: 1px solid #3d6611;
        background-color: #eff5ea;
        color: #3d6611;
        padding: 10px 0px 10px 33px;
        margin-top: 20px;
    }

    .action-help p{
        color: #202a44;
        font-size: 15px;
        font-weight: 500;
        padding-left: 42px;
        margin-bottom: 2.5rem;
    }

    .action-help span {
        cursor: pointer;
        font-size: 12px;
        font-weight: 500;
        padding-left: 42px;
        text-transform: uppercase;
        text-decoration: underline;
    }

    .zip-error-message {
        border: 1px solid #3d6611;
        background-color: #eff5ea;
        color: #3d6611;
        padding: 10px 0px 10px 33px;
        margin-top: 20px;
    }

    .zip-application-under-review-message {
        border: 1px solid #3d6611;
        background-color: #eff5ea;
        color: #3d6611;
        padding: 10px 0px 10px 33px;
        margin-top: 20px;
    }

    .zip_tagline{
        font-size: 13px;
        line-height: 1.2;
    }

    .zip_tagline_text strong{
        font-weight: 300;
        font-family: inherit;
    }

    .zip_tagline .zip-info{
        font-weight: inherit;
        color: inherit;
        font-size: 13px !important;
        letter-spacing: .2px;
    }

    .zip_tagline img{
        margin: 0 5px;
    }
}
