<h3>Information</h3>
<div>
    <span>Contact Us</span>
    <ul>
        <li><a href="/">Outlets & Stockists</a></li>
        <li><a class="active" href="/">Contact Us</a></li>
        <li><a href="/">About Us</a></li>
        <li><a href="/">FAQ’s & Glossary</a></li>
        <li><a href="/">Bedlinen Size Guide</a></li>
        <li><a href="/">Delivery & Returns</a></li>
        <li><a href="/">Warranty</a></li>
        <li><a href="/">International Partners</a></li>
    </ul>
</div>