& when (@media-common = true) {
  .balance-box-group-no-slide{
    max-width: @layout__max-width - 30;
    &:not(.column1){
      .lib-vendor-prefix-display(flex);
      .lib-vendor-prefix-flex-wrap(nowrap);
      flex: 0 1 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
    }
    &.column1{
      display: block;
      .lib-clearfix();
      .balance-box-group{
        width: 100%;
      }
    }

    &.balance-box-group-homepage_categories {
      .balance-box-group {
        > a {
          width: 100%;
        }
      }
    }
  }
  .balance-box-group-default{
    &:not(.flickity-enabled){
      .balance-box-group-slide{
        &:nth-of-type(1n+1){
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
  .balance-box-group-no-slide{
    .balance-box-group{
      &.balance-box-layout-middle{
        .lib-vendor-prefix-display(flex);
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }
  .balance-box-group-designers{
    .balance-box-layout-middle{
      .balance-box-group-heading{
        .lib-font-size(30);
        line-height: 32px;
        letter-spacing: 0.6px;
        padding: 0 50px;
        margin: 0 0 20px;
      }
      .balance-box-group-content{
        padding:0 30px;
      }
    }
  }
  .balance-box-image{
    img{
      width: 100%;
      height: auto;
    }
  }
  .box-txt-white{
    h2, p, a, span, li{
      color: @color-white;
    }
  }
  .balance-box{
    &.flickity-enabled{
      .balance-box-group-slide{
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
    .flickity-page-dots{
      bottom: 24px;
      .dot{
        background: @color-white;
        opacity: 1;
        width: 9px;
        height: 9px;
        margin: 0 5px;
        &.is-selected{
          background: @color-black;
        }
      }
    }
  }

  // Main Slider banners
  .sections.banner{
    .balance-box-group-slide{
      .balance-box-group-container{
        background-color: transparent;
        position: absolute;
        text-align: center;
        max-width: 440px;
        .balance-box-group-heading{
          text-transform: uppercase;
          letter-spacing:1px;
          border-bottom: 1px solid @color-white;
          font-weight: normal;
          display: inline-block;
          margin: 0;
          font-weight: @font-weight__regular;
        }
        .std{
          > h3, > h2 {
            font-family: @font__didot-regular;
            letter-spacing:0.6px;
          }
          p{
            letter-spacing: 0.2px;
          }
        }

        &.box-txt-white{
          .balance-box-group-button{
            .lib-button-primary-color(
              @button-color: @color-black,
              @button-background: @color-white,
              @button-border: none,

              @button-color-hover: @color-black,
              @button-background-hover: darken(@color-white, 10%),
              @button-border-hover: none,

              @button-color-active: @color-black,
              @button-background-active:  darken(@color-white, 10%),
              @button-border-active: none,
              @button-padding: 8px 0,
              @buton_max__width: 120px
            );
            display: block;
            span{
              color: @color-black;
              text-transform: uppercase;
              .lib-font-size(13px);
              letter-spacing: 0.4px;
              line-height: 20px;
            }
          }
        }
      }
    }

    > p{
      margin: 0;
    }
  }

  // Homepage ad categories section
  .section-categories{
    .balance-box-group{
      position: relative;
      .box-txt-black{
        h3, h2, .title{
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        p{
          letter-spacing:0.6px;
          text-transform: uppercase;
        }
      }
      &.balance-box-layout-middle{
        .balance-box-group-container{
          position: absolute;
          text-align: center;
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .balance-box-group-no-slide{
    &:not(.column1){
      .lib-vendor-prefix-flex-direction(row);
    }
    &.column4, &.column3, &.column2{
      display: block;
      .lib-clearfix();
      img{
        width: 100%;
        height: auto;
      }
      .balance-box-group{
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  // Main Slider banners
  .sections.banner{
    .balance-box-group-slide{
      .balance-box-group-container{
        .balance-box-group-heading {
          .lib-font-size(13);
          line-height: 24px;
          padding: 0 15px 10px;
        }
        .std{
          > h3, > h2 {
            .lib-font-size(36);
            line-height: 45px;
            letter-spacing: 1.2px;
            margin: 20px 0 10px;
          }
          p{
            .lib-font-size(18);
            line-height: 20px;
          }
        }
        .balance-box-group-button{
          margin: 25px auto 0;
        }
      }
      &.balance-box-layout-middle,
      &.balance-box-layout-left,
      &.balance-box-layout-right{
        .balance-box-group-container{
          top: 45px;
          width: 100%;
          padding: 0 15px;
          transform: translate(-50%, 0);
          left: 50%;
        }
        &.box-txt-white{
          margin: 20px auto 0;
        }
      }
    }
  }

  // Homepage ad categories section
  .section-categories{
    .balance-box-group{
      position: relative;
      .box-txt-black{
        h3, h2, .title{
          .lib-font-size(16);
          line-height: 24px;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 7px;
          margin-top: 10px;
          display: inline-block;
        }
        p{
          .lib-font-size(16);
          display: inline-block;
          line-height: 26px;
          letter-spacing:0.6px;
          text-transform: uppercase;
        }
      }
      &.balance-box-layout-middle{
        .balance-box-group-container{
          position: absolute;
          text-align: center;
          max-width: 100%;
          width: 100%;
          padding: 0 15px;
          left: 0;
          top: 10px;
          z-index: 10;
        }
      }
      .balance-box-image{
        width: 100%;
      }
    }
  }
}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ls) {
  .balance-box-group-no-slide{
    &:not(.column1){
      .lib-vendor-prefix-flex-direction(row);
    }
    &.column4{
      .balance-box-group{
        .lib-layout-column(12, 1, 6);
        .lib-column-gutter(12);
        &:last-child, &:last-of-type, &:nth-of-type(2n + 2){
          margin-right: 0;
        }
      }
    }
  }

  // Main Slider banners
  .sections.banner{
    .balance-box-group-slide{
      .balance-box-group-container{
        .balance-box-group-heading{
          .lib-font-size(13);
          line-height: 24px;
          padding: 0 15px 5px;
        }
        .std{
          > h3, > h2 {
            .lib-font-size(36);
            line-height: 45px;
            margin: 15px 0 10px;
          }
          p{
            .lib-font-size(18);
            line-height: 24px;
          }
        }
        .balance-box-group-button{
          margin: 15px auto 0;
        }
      }
      &.balance-box-layout-middle{
        .balance-box-group-container{
          transform: translate(-50%, 0);
          left: 50%;
          top: 20px;
        }
        &.box-txt-white{
          margin: 20px auto 0;
        }
      }
      &.balance-box-layout-left{
        .balance-box-group-container{
          text-align: left;
          transform: translate(-16%, -50%);
          left: 15%;
          top: 50%;
          .balance-box-group-button{
            margin: 20px 0 0;
            float: left;
          }
        }
      }
      &.balance-box-layout-right{
        .balance-box-group-container{
          text-align: right;
          transform: translate(-16%, -50%);
          right: 15%;
          top: 50%;
          .balance-box-group-button{
            margin: 20px 0 0;
            float: right;
          }
        }
      }
    }
  }

  // Homepage ad categories section
  .section-categories{
    .balance-box-group{
      position: relative;
      .box-txt-black{
        h3, h2, .title{
          .lib-font-size(16);
          line-height: 24px;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 7px;
          margin-top: 10px;
          display: inline-block;
        }
        p{
          .lib-font-size(16);
          display: inline-block;
          line-height: 26px;
          letter-spacing:0.6px;
          text-transform: uppercase;
        }
      }
      &.balance-box-layout-middle{
        .balance-box-group-container{
          position: absolute;
          text-align: center;
          max-width: 100%;
          width: 100%;
          padding: 0 15px;
          left: 0;
          top: 10px;
        }
      }
    }
  }


}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
  .balance-box-group-no-slide{
    &:not(.column1){
      .lib-vendor-prefix-flex-direction(row);
    }
    &.column3{
      .balance-box-group{
        .lib-layout-column(12, 1, 4);
        .lib-column-gutter(12);
        &:last-child, &:last-of-type, &:nth-of-type(3n + 3){
          margin-right: 0;
        }
      }
    }
    &.column2{
      .balance-box-group{
        .lib-layout-column(12, 1, 6);
        .lib-column-gutter(12);
        &:last-child, &:last-of-type, &:nth-of-type(2n + 2){
          margin-right: 0;
        }
      }
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ls) {
  .balance-box-group-no-slide{
    &:not(.column1){
      .lib-vendor-prefix-flex-direction(row);
    }
    &.column4{
      .balance-box-group{
        .lib-layout-column(12, 1, 3);
        .lib-column-gutter(12);
        &:last-child, &:last-of-type{
          margin-right: 0;
        }
      }
    }
  }
  // Main Slider banners
  .sections.banner{
    .balance-box-group-slide{
      .balance-box-group-container{
        .balance-box-group-heading{
          .lib-font-size(13);
          line-height: 24px;
          padding: 0 15px 0px;
          font-weight: normal;
          display: inline-block;
          margin: 0;
        }
        .std{
          > h3, > h2 {
            font-family: @font__didot-regular;
            .lib-font-size(45);
            line-height: 46px;
            letter-spacing:1px;
            margin: 30px 0 10px;
            font-weight: @font-weight__regular;
          }
          p{
            .lib-font-size(18);
            line-height: 24px;
            letter-spacing: 0.2px;
          }
        }
        .balance-box-group-button{
          margin: 20px auto 0;
        }
      }
      &.balance-box-layout-middle{
        .balance-box-group-container{
          transform: translate(-50%, 0);
          left: 50%;
          top: 40px;
        }
        &.box-txt-white{
            margin: 30px auto 0;
        }
      }
      &.balance-box-layout-left{
        .balance-box-group-container{
          text-align: left;
          transform: translate(-16%, -50%);
          left: 15%;
          top: 50%;
          .balance-box-group-button{
            margin: 20px 0 0;
            float: left;
          }
        }
      }
      &.balance-box-layout-right{
        .balance-box-group-container{
          text-align: right;
          transform: translate(-16%, -50%);
          right: 15%;
          top: 50%;
          .balance-box-group-button{
            margin: 20px 0 0;
            float: right;
          }
        }
      }
    }
  }

  // Homepage ad categories section
  .section-categories{
    .balance-box-group{
      position: relative;
      .box-txt-black{
        h3, h2, .title{
          .lib-font-size(30);
          line-height: 24px;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 7px;
        }
        p{
          .lib-font-size(16);
          line-height: 26px;
          letter-spacing:0.6px;
          text-transform: uppercase;
        }
      }
      &.balance-box-layout-middle{
        .balance-box-group-container{
          position: absolute;
          text-align: center;
          max-width: 100%;
          width: 100%;
          padding: 0 10%;
          left: 0;
          top: 35px;
        }
      }
    }
  }

}