<?php
/**
 * Copyright © 2017-2018 BSS Commerce Co.
 * See http://bsscommerce.com/Bss-Commerce-License.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product Configurable view template
 *
 * @var $block \Bss\ConfigurableMatrixView\Block\Product\View\Configurable
 */
?>
<?php
$_product = $block->getProduct();
$info_html_child = $block->getConfigurableMatrixViewData();
$attribute_matrix = $block->getAttributeMatrix();
$attributes_matrix = $block->getAttributeMatrixArray();
$number_attribute_matrix = count($attribute_matrix);
$attribute_id_swatch = array_keys($block->getSwatchAttributesAsArrayMTV($_product));
$price_display_type = $block->getPriceDisplayType();
$taxRate =  ($block->getRateTax() > 0)? $block->getRateTax() : 0;
?>
<div class="sku"><strong><?php echo __('Sku:');?></strong> <?php echo $_product->getSku();?></div>
<div class="swatch-opt" data-role="swatch-options"></div>
<div class="top-control">
    <?php if ($_product->getSizeGuide()): ?>
        <span id="size-chat-button" class="toogle-action">sizing guide</span>
        <script type="text/javascript">
            require([
                'jquery',
                'Magento_Ui/js/modal/modal'
            ], function ($, modal) {

                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    autoPosition: true,
                    title: 'Sizing Guide',
                    modalLeftMargin: 0,
                    clickableOverlay: false,
                    buttons: []
                };

                if($('.size-guide').length) {
                    var popup = modal(options, $('.size-guide'));
                    $(document).on('click', '#size-chat-button', function(){
                        $('.size-guide').modal('openModal');
                    });
                }
            });
        </script>
    <?php endif; ?>

    <div class="control">
        <div class="btn-previous">&nbsp;</div>
        <div class="btn-next">&nbsp;</div>
    </div>
</div>

<?php if (!$block->isProductHasSwatchAttributeMatrix()): ?>
    <div class="noswatch-nomatrix">
        <?php $_attributes = $block->decorateArray($block->getAllowAttributes()); ?>
        <?php if (count($_attributes)):?>
            <?php foreach ($_attributes as $_attribute_no_matrix): ?>
                <?php
                if (isset($attribute_matrix[$_attribute_no_matrix->getAttributeId()])) continue;
                ?>
                <label class="label" for="attribute<?= /* @escapeNotVerified */ $_attribute_no_matrix->getAttributeId() ?>">
                    <span><?= $block->escapeHtml($_attribute_no_matrix->getProductAttribute()->getStoreLabel()) ?></span>
                </label>
                <div class="field configurable required">
                    <div class="control">
                        <select name="super_attribute[<?= /* @escapeNotVerified */ $_attribute_no_matrix->getAttributeId() ?>]"
                                data-selector="super_attribute[<?= /* @escapeNotVerified */ $_attribute_no_matrix->getAttributeId() ?>]"
                                data-validate="{required:true}"
                                id="attribute<?= /* @escapeNotVerified */ $_attribute_no_matrix->getAttributeId() ?>"
                                class="super-attribute-select">
                            <option value=""><?= /* @escapeNotVerified */ __('Choose an Option...') ?></option>
                        </select>
                    </div>
                </div>
            <?php endforeach; ?>
        <?php endif;?>
    </div>
<?php endif ?>

<div class="block-bss-matrixview">
    <?php if ($number_attribute_matrix == 1): ?>
        <div class="bss-attribute-label">
            <span><?php echo __($attributes_matrix[0]['store_label']) ?></span>
        </div>
        <table id="bss-matrixview-<?php /* @escapeNotVerified */ echo $_product->getId() ?>">
            <thead>
            <tr class="item-info">
                <?php

                $sort_option = [];
                $sort_option_success = [];
                if ($block->getSortOption()) {
                    foreach ($attributes_matrix[0]['values'] as $k11 => $v11) {
                        $sort_option[$v11['store_label']] = $v11;
                    }
                    ksort($sort_option);

                    foreach ($sort_option as $k12 => $v12) {
                        $sort_option_success[] = $v12;
                    }
                }else{
                    $sort_option_success = $attributes_matrix[0]['values'];
                }
                ?>
                <?php $th = 1; foreach ($sort_option_success as $attribute_id => $attribute): ?>
                    <th class="first-attr <?php echo 'bss-swatch'?>" attribute-code="<?php echo $attributes_matrix[0]['attribute_code'];?>" attribute-value="<?php echo $attribute['value_index']; ?>" attribute-id="<?php echo $attributes_matrix[0]['attribute_id']; ?>">
                        <?php if (!in_array($attributes_matrix[0]['attribute_id'], $attribute_id_swatch)): ?>
                            <span class="lable-super-attribute"><?php echo $attribute['store_label'] ?></span>
                        <?php endif ?>
                        <input type="hidden" name="bss_super_attribute[<?php echo $th ?>][<?php echo $attributes_matrix[0]['attribute_id'] ?>]" value="<?php echo $attribute['value_index'] ?>" class="swatch-attribute" readonly="readonly" disabled="disabled">
                    </th>
                    <?php $th++; endforeach ?>
            </tr>
            </thead>
            <tbody>
            <tr class="item-info">
                <?php $i = 1;foreach ($sort_option_success as $attribute_id => $attribute): ?>
                    <td class="child-product-matrix">
                        <input type="number" class="qty" name="qty_<?php /* @escapeNotVerified */ echo $_product->getId() ?>_<?php /* @escapeNotVerified */ echo $i ?>" value="0" placeholder="">
                        <p class="mess-err-bss-m">
                            <span class="mess-err-bss"></span>
                        </p>
                        <input type="hidden" class="super_attribute_matrix" name="super_attribute_<?php echo $_product->getId() ?>[<?php echo $i ?>][<?php echo $attributes_matrix[0]['attribute_id'] ?>]" data-attribute-id="<?php echo $attributes_matrix[0]['attribute_id'] ?>" value="<?php echo $attribute['value_index']?>">
                    </td>
                    <?php $i++;endforeach ?>
            </tr>

            </tbody>
        </table>
    <?php endif ?>
    <?php if ($number_attribute_matrix > 1): ?>
        <?php
        $sort_option = [];
        $sort_option_success = [];
        $sort_option1 = [];
        $sort_option_success1 = [];
        if ($block->getSortOption()) {
            foreach ($attributes_matrix[0]['values'] as $k01 => $v01) {
                $sort_option[$v01['store_label']] = $v01;
            }
            ksort($sort_option);

            foreach ($sort_option as $k11 => $v11) {
                $sort_option_success[] = $v11;
            }
            foreach ($attributes_matrix[1]['values'] as $k02 => $v02) {
                $sort_option1[$v02['store_label']] = $v02;
            }
            ksort($sort_option1);

            foreach ($sort_option1 as $k12 => $v12) {
                $sort_option_success1[] = $v12;
            }
        }else{
            $sort_option_success = $attributes_matrix[0]['values'];
            $sort_option_success1 = $attributes_matrix[1]['values'];
        }
        ?>
        <canvas id="bsscanvas"></canvas>
        <table id="bss-matrixview-<?php /* @escapeNotVerified */ echo $_product->getId() ?>">
            <thead>
            <tr class="item-info">
                <th class="th-00">
                    <div class="label-attribute-f col-00">
                        <span class="label-attribute1">
                            <?php echo __($attributes_matrix[1]['store_label']) ?>
                        </span>
                        <span class="label-attribute0">
                            <?php echo __($attributes_matrix[0]['store_label']) ?>
                        </span>
                        <p style="visibility: hidden;padding: 0px 10px"><?php echo $attributes_matrix[0]['label'].$attributes_matrix[1]['label'] ?></p>
                    </div>
                </th>
                <?php $th = 1; foreach ($sort_option_success1 as $attribute_id => $attribute): ?>
                    <th class="first-attr <?php echo 'bss-swatch'?>" attribute-code="<?php echo $attributes_matrix[1]['attribute_code'];?>" attribute-value="<?php echo $attribute['value_index']; ?>" attribute-id="<?php echo $attributes_matrix[1]['attribute_id']; ?>">
                        <?php if (!in_array($attributes_matrix[1]['attribute_id'], $attribute_id_swatch)): ?>
                            <span class="lable-super-attribute"><?php echo $attribute['store_label'] ?></span>
                        <?php endif ?>
                        <input type="hidden" name="bss_super_attribute[<?php echo $th ?>][<?php echo $attributes_matrix[1]['attribute_id'] ?>]" value="<?php echo $attribute['value_index'] ?>" class="swatch-attribute" readonly="readonly" disabled="disabled">
                    </th>
                    <?php $th++; endforeach ?>
            </tr>
            </thead>
            <tbody>
            <?php $j = 1 ;foreach ($sort_option_success as $attribute_id => $attribute): ?>
                <tr class="item-info">
                    <td class="col qty first-attr">
                        <div class="<?php echo 'bss-swatch'?>" attribute-code="<?php echo $attributes_matrix[0]['attribute_code'];?>" attribute-value="<?php echo $attribute['value_index']; ?>" attribute-id="<?php echo $attributes_matrix[0]['attribute_id']; ?>">
                            <?php if (!in_array($attributes_matrix[0]['attribute_id'], $attribute_id_swatch)): ?>
                                <span class="lable-super-attribute"><?php echo $attribute['store_label'] ?></span>
                            <?php endif ?>
                            <input type="hidden" name="bss_super_attribute[<?php echo $j ?>][<?php echo $attributes_matrix[0]['attribute_id'] ?>]" value="<?php echo $attribute['value_index'] ?>" class="swatch-attribute" readonly="readonly" disabled="disabled">
                        </div>
                    </td>
                    <?php foreach ($sort_option_success1 as $attribute_id1 => $attribute1): ?>
                        <td class="child-product-matrix">
                            <input type="number" class="qty" name="qty_<?php echo $_product->getId() ?>_<?php echo $j ?>" value="0" maxlength="12" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" data-validate="{'validate-number':true, 'validate-zero-or-greater':true}" placeholder="">
                            <p class="mess-err-bss-m">
                                <span class="mess-err-bss"></span>
                            </p>
                            <input type="hidden" class="super_attribute_matrix" data-attribute-id="<?php echo $attributes_matrix[0]['attribute_id'] ?>" name="super_attribute_<?php echo $_product->getId() ?>[<?php echo $j ?>][<?php echo $attributes_matrix[0]['attribute_id'] ?>]" value="<?php echo $attribute['value_index']?>">
                            <input type="hidden" class="super_attribute_matrix" data-attribute-id="<?php echo $attributes_matrix[1]['attribute_id'] ?>" name="super_attribute_<?php echo $_product->getId() ?>[<?php echo $j ?>][<?php echo $attributes_matrix[1]['attribute_id'] ?>]" value="<?php echo $attribute1['value_index']?>">
                        </td>
                        <?php $j++; endforeach ?>
                </tr>
            <?php endforeach ?>
            </tbody>
        </table>
    <?php endif ?>
</div>
<input type="hidden" name="same_tier_price[<?php echo $_product->getId() ?>]" value="<?php echo $block->getSameTierPrice() ?>">
<div class="total-rest-matrix-view">
    <div class="total-price">
        <?php if ($block->canShowTotal()): ?>
            <p><?php echo __('Total price: ') ?><span class="total-price-matrix-<?php /* @escapeNotVerified */ echo $_product->getId() ?>"></span></p>
        <?php endif ?>
    </div>
    <div class="reset">
		<span id="reset-matrix-view" title="<?php /* @escapeNotVerified */ echo __('Reset All') ?>">
			<span><?php echo __('Reset All') ?></span>
		</span>
    </div>
</div>
<!-- Template stock -->
<script type="text/x-magento-template" id="instock-mt">
    <p id="<%- data.id %>" class="stock-st">
        <span class="stock-status-mt"><?php echo __('In Stock')?></span>
    </p>
</script>
<script type="text/x-magento-template" id="outofstock-mt">
    <p id="<%- data.id %>" class="stock-st">
        <span class="stock-status-mt"><?php echo __('Out of stock')?></span>
    </p>
</script>
<!-- Price range -->
<?php if ($block->canShowPriceRange() && !empty($block->getPriceRange())): ?>
    <div id="bss-price-range" style="display: none">
        <?php
        $product_from_price = $block->getLoadProduct($block->getPriceRange()[0]);
        $product_to_price = $block->getLoadProduct($block->getPriceRange()[1]);
        ?>
        <div class="bss-price-range">
            <div class="bss-price-range">
                <div class="price-from">
                    <span><?php echo __('From:') ?></span> <?php echo $block->getPriceHtml($product_from_price, 'final_price') ?>
                </div>
                <div class="price-to">
                    <span><?php echo __('To:') ?></span> <?php echo $block->getPriceHtml($product_to_price, 'final_price') ?>
                </div>
            </div>
        </div>
    </div>
<?php endif ?>
<style type="text/css" media="screen">
    /*hide box-qty*/
    .box-tocart .qty{
        display: none;
    }
</style>
<div class="product-swatch-default" style="display: none;">
    <?php if (!$block->isProductHasSwatchAttributeMatrix()): ?>
        <?php if (count($attributes_matrix)):?>
            <?php foreach ($attributes_matrix as $_attribute_matrix): ?>
                <div class="field configurable required">
                    <div class="control">
                        <select name="super_attribute[<?= /* @escapeNotVerified */ $_attribute_matrix['attribute_id'] ?>]"
                                data-selector="super_attribute[<?= /* @escapeNotVerified */ $_attribute_matrix['attribute_id'] ?>]"
                                data-validate="{required:true}"
                                id="attribute<?= /* @escapeNotVerified */ $_attribute_matrix['attribute_id'] ?>"
                                class="super-attribute-select">
                            <option value=""><?= /* @escapeNotVerified */ __('Choose an Option...') ?></option>
                        </select>
                    </div>
                </div>
            <?php endforeach; ?>
        <?php endif;?>
    <?php endif;?>
</div>
<?php if ($block->isProductHasSwatchAttributeMatrix()): ?>
    <?php if ($block->getJsonConfigNoMatrix()): ?>
        <script type="text/x-magento-init">
    {
        "[data-role=swatch-options]": {
            "Magento_Swatches/js/swatch-renderer": {
                "jsonConfig": <?php /* @escapeNotVerified */ echo $swatchOptions = $block->getJsonConfigNoMatrix(); ?>,
                "jsonSwatchConfig": <?php /* @escapeNotVerified */
            echo $swatchOptions = $block->getJsonSwatchNoMatrix(); ?>,
                "mediaCallback": "<?php /* @escapeNotVerified */ echo $block->getMediaCallback() ?>",
                "gallerySwitchStrategy": "<?php /* @escapeNotVerified */ echo $block->getVar('gallery_switch_strategy',
                'Magento_ConfigurableProduct') ?: 'replace'; ?>"
            }
        }
    }
</script>
    <?php endif ?>
    <script type="text/x-magento-init">
    {
        ".product-swatch-default": {
            "Magento_Swatches/js/swatch-renderer": {
                "jsonConfig": <?php /* @escapeNotVerified */ echo $swatchOptions = $block->getJsonConfigMHide(); ?>,
                "jsonSwatchConfig": <?php /* @escapeNotVerified */
        echo $swatchOptions = $block->getJsonSwatchConfig(); ?>,
                "mediaCallback": "<?php /* @escapeNotVerified */ echo $block->getMediaCallback() ?>",
                "gallerySwitchStrategy": "<?php /* @escapeNotVerified */ echo $block->getVar('gallery_switch_strategy',
            'Magento_ConfigurableProduct') ?: 'replace'; ?>"
            }
        }
    }
</script>
<?php else: ?>
    <script type="text/x-magento-init">
    {
        ".noswatch-nomatrix": {
            "configurable": {
                "spConfig": <?= /* @escapeNotVerified */ $block->getJsonConfig() ?>,
                "gallerySwitchStrategy": "<?php /* @escapeNotVerified */ echo $block->getVar('gallery_switch_strategy',
            'Magento_ConfigurableProduct') ?: 'replace'; ?>"
            }
        }
    }
</script>
<?php endif ?>


<!-- Render swatch table -->
<script type="text/x-magento-init">
    {
        ".bss-swatch": {
            "Bss_ConfigurableMatrixView/js/swatch": {
                "jsonConfig": <?php /* @escapeNotVerified */ echo $swatchOptions = $block->getJsonConfigM(); ?>,
                "jsonSwatchConfig": <?php /* @escapeNotVerified */
    echo $swatchOptions = $block->getJsonSwatchConfig(); ?>
            }
        }
    }
</script>
<script type="text/x-magento-init">
	 {
        "*": {
            "Bss_ConfigurableMatrixView/js/configurable-matrixview": {
                "info_html_child": <?php /* @escapeNotVerified */ echo $info_html_child ?>,
                "childproduct": <?php /* @escapeNotVerified */ echo  $block->getJsonConfigM() ?>,
                "priceFormat": <?php /* @escapeNotVerified */ echo json_encode($block->getPriceFormat(),JSON_FORCE_OBJECT) ?>,
                "show_button_qty": "<?php /* @escapeNotVerified */ echo $block->canShowButtonQty() ?>",
                "cks_tier_price": "<?php /* @escapeNotVerified */ echo $block->getSameTierPrice() ?>",
				"tier_price_calculate": "<?php /* @escapeNotVerified */ echo  $block->calculateTierPrice() ?>",
				"price_display_type": "<?php /* @escapeNotVerified */ echo  $price_display_type ?>",
				"taxRate": "<?php /* @escapeNotVerified */ echo  $taxRate / 100 ?>",
				"excl_text": "<?php /* @escapeNotVerified */ echo __("Excl. Tax") ?>",
				"tableSelector": "#bss-matrixview-<?php /* @escapeNotVerified */ echo $_product->getId() ?>",
				"totalPriceContainer": ".total-price-matrix-<?php /* @escapeNotVerified */ echo $_product->getId() ?>"
            }
        }
    }
</script>
<script>
    function initSwatchOptionsConfig () {
        var newOptions = <?php echo $swatchOptions = $block->getJsonSwatchConfig(); ?>;

        if (typeof window.matrixViewJsonSwatchConfig === 'undefined') {
            window.matrixViewJsonSwatchConfig = newOptions;
        } else {
            for (var attributeId in newOptions) {
                if (!window.matrixViewJsonSwatchConfig[attributeId]) {
                    window.matrixViewJsonSwatchConfig[attributeId] = newOptions[attributeId];
                } else {
                    for (var optionId in newOptions[attributeId]) {
                        if (!window.matrixViewJsonSwatchConfig[attributeId][optionId]) {
                            window.matrixViewJsonSwatchConfig[attributeId][optionId] = newOptions[attributeId][optionId];
                        }
                    }
                }
            }
        }
    }

    initSwatchOptionsConfig();
</script>
<script>
    require([
        'jquery'
    ], function ($) {
        $('.btn-previous').click(function(){
            $('.block-bss-matrixview').scrollLeft($('.block-bss-matrixview').scrollLeft() - 60);
        });

        $('.btn-next').click(function(){
            $('.block-bss-matrixview').scrollLeft($('.block-bss-matrixview').scrollLeft() + 60);
        });
    });
</script>