<?php
/**
 * Copyright © 2017 Balance Internet Pty., Ltd. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column $block
 */
$_product = $block->getItem()->getProduct();
$_brand = $_product->getResource()->getAttribute('manufacturer')->getFrontend()->getValue($_product);
$brandCode = $_product->getData('manufacturer');
?>
<?php if ($_brand != 'No'): ?>
    <div class="product-brand">
        <a href="<?php echo $this->getUrl() . 'all-products?manufacturer=' . $brandCode; ?>"><?php echo $_brand; ?></a>
    </div>
<?php endif; ?>