// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Variables
//  _____________________________________________


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-wrapper .ms-megamenu {
        .ms-topmenu {
            background: transparent;
            .ms-level0 {
                &.clearance,
                &.specials {
                    a.ms-label {
                        color: @color-red;
                    }
                }
            }
        }
    }
}

