<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<div class="checkout-success">
    <div class="checkout-confirm-wrapper">
        <h2><?php /* @escapeNotVerified */ echo __('Order Confirmation') ?></h2>
        <?php echo $block->getChildHtml('checkout.confirmation'); ?>
        <div class="checkout-message-confirm">
            <h2><?php /* @escapeNotVerified */ echo __('Order Confirmation') ?></h2>
            <?php if ($block->getOrderId()):?>
                <?php if ($block->getCanViewOrder()) :?>
                    <p><?php echo __('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))) ?></p>
                <?php  else :?>
                    <p><?php echo __('Your order # is: <strong>%1</strong>.', $block->escapeHtml($block->getOrderId())) ?></p>
                <?php endif;?>
                    <p><?php /* @escapeNotVerified */ echo __('We\'ll email you an order confirmation with details and tracking information.') ?></p>
            <?php endif;?>

            <?php echo $block->getAdditionalInfoHtml() ?>
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <a class="action primary continue" href="<?php /* @escapeNotVerified */ echo $block->getUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Continue Shopping') ?></span></a>
            </div>
        </div>
    </div>
</div>
<script>
    require([
        'jquery',
        'matchMedia',
        'domReady!'
    ], function ($, mediaCheck) {

        mediaCheck({
            media: '(max-width: 980px)',
            // Switch to Mobile Version
            entry: function () {
                $('.checkout-success').insertBefore('.checkout-confirmation-image');
            },

            exit: function () {
                $('.checkout-success').insertAfter('.checkout-confirmation-image');
            }
        });
    });
</script>